.majors-toggle-btn {
    display: none;
    position: relative;
    left: 39%;
    font-size: 13px;
    font-weight: 600;
    margin: 20px auto;
    color: #635d56;
    cursor: pointer;
}
.department-major-buttons .content {
  float: left !important;
  margin-bottom: -0.9em;
  margin-right: -0.1em;
}

.side-bar-departments a:hover {
  color: #77d99f;
  transition: ease-in-out 0.2s;
}

@media (max-width: 851px){
  .department-major-buttons .content{
    padding-left: 14px !important;
    padding-right: 14px !important;
  }
  .department-major-buttons .button{
    background-color: #252a2d;
    color: #fff;
    border-radius: 7px;
    word-wrap: break-word;
    text-align: center;
    font-weight: 600;
    font-size: 12px;
  }
  .majors-toggle-mobile {
      display: none;
      overflow: hidden;
      width: 100%;
  }
  .majors-toggle-btn {
      display: inline-block;
  }
  .department-major-buttons .button:hover, .department-major-buttons .button:active, .department-major-buttons .button:focus{
    background-color: #2ac56c;
  }
}
