/*This is the stylesheet for our 404 page */

body#error_404{
	/*border: thin solid red;*/
}

#error_404 #topAlertContainer{
	margin-bottom: 0;
}

#error_404 .row.main-404-container{
	max-width: 100%;
	width: 100%;
	background-color: #eee;
}

.main-404-container .left-side-column-container{
	/*border: thin solid blue;*/
	color: #797979;
	padding: 20px 70px 0;
}

.main-404-container .right-side-column-container{
	padding: 25px;
}

.main-404-container .error_num{
	font-size: 90px;
	font-weight: 600;
	padding: 0 6px;
}

.main-404-container .something-went-wrong-msg{
	font-size: 25px;
	font-weight: 600;
	line-height: 40px;
	padding: 0 6px 30px;
}

.main-404-container div.get-back-on-track-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 3px;
	font-weight: 600;
	padding: 8px 15px;
	width: 220px;
	cursor: pointer;
}
.main-404-container div.get-back-on-track-btn:hover{
	background-color: #ddd;
	color: #FF5C26;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.main-404-container div.get-back-on-track-btn > span{
	color: #FF5C26;
	font-weight: 600;
}

.main-404-container .other-pages-interested-in-list-row a{
	color: #797979;
	font-weight: 600;
}
.main-404-container .other-pages-interested-in-list-row a:hover{
	text-decoration: underline;
}

.main-404-container .row.other-pages-interested-in-list-row > .column.small-12:first-child{
	padding: 35px 6px 10px;
}

.main-404-container .left-side-column-container > .row:last-child > .column.small-12{
	padding: 30px 6px 10px;
}

.main-404-container .right-side-column-container .photo-container{
	padding: 5px 6px;
}


/*small only styles */
@media only screen and (max-width: 40em){
	.main-404-container .left-side-column-container{
		padding: 20px 15px 0;
	}

	.main-404-container div.get-back-on-track-btn{
		margin: 0 auto;
	}

	.main-404-container .other-pages-interested-in-list-row .column:nth-child(2){
		padding-bottom: 15px;
	}
}
