.chatMainWindow , .messageMainWindow{
	display: none;
}

.chatMainWindow.active , .messageMainWindow.active{
	display: block;
}

.messageScrollArea, .msgScrollBox{
	font-size: 0.9em;
}



/*
.messageMainWindow .rightMessageColumn textarea, .chatMainWindow .rightChatColumn textarea  {
	height: 50px;
}
*/

.msgScrollBox, .messageScrollArea {
	height: 458px;
	overflow-y: auto;
	overflow-x: hidden;
}

/***********************************************************************
 *==================== MESSAGING CONTACT LIST CSS =====================*/
.messageMainWindow .row .column.usersArea{
	background-color: #fff;
	overflow-y: auto;
	height: 100%;
}

.row.messageContacts{
	cursor: pointer;
}

.row.messageContacts.activeCampaign{
	background-color: #E9F7D2;
}

.row.messageContacts.activeText{
	background-color: #FFCAC9;
}
.row.messageContacts.selected{
	color: #fff;
	background-color: #0085b2;
}

.row.messageContacts.has_unread .messageName, .row.messageContacts.has_unread .messageSample{
	font-weight: bold;
	/*background-color: #eee;*/
}

.messageMainWindow .row .column.usersArea .messageContacts{
	padding: 0.8em;
	border-bottom: 1px solid #b9babb;
}

.messageMainWindow .messageContacts .messageName{
	/*text-decoration: underline;*/
	font-weight: 600;
	white-space: nowrap;
	overflow-x: hidden;
}

.messageMainWindow .messageContacts .messageSample{
	font-size: 0.85em;
	white-space: nowrap;
	overflow-x: hidden;
}

.messageMainWindow .messageContacts .messageDate{
	font-size: 0.65em;
	color: #b9babb;
	text-align: right;
}

.messageMainWindow .messageContacts .messageRead span{
	font-size: 0.55em;
	color: #0085B2;
	float: right;
	text-align: right;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/read-icon.png) top no-repeat;
	padding-left: 20px;
	background-position: 3px 2px;
}

.messageMainWindow .messageContacts .messageReadActive span{
	font-size: 0.55em;
	color: #fff;
	float: right;
	text-align: right;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/read-icon-white.png) top no-repeat;
	padding-left: 20px;
	background-position: 3px 2px;
}


/***********************************************************************/

/***********************************************************************
 *========================== CHAT MSG CSS ============================ */
.msgItem .msgDate, .msgItem .msgName, .msgItem .message,
.messageitems .msgDate, .messageitems .msgName, .messageitems .message{
	overflow-x: hidden;
}

.msgItem .message,
.messageitems .message{
	word-wrap: break-word;
}

.msgItem .msgName, .msgItem .msgDate,
.messageitems .msgName, .messageitems .msgDate{
	text-overflow: ellipsis;
}

.msgItem .msgName,
.messageitems .msgName{
	cursor: help;
	font-weight: bold;
}

.msgItem.orgMsg .message, .msgItem.orgMsg .msgName,
.messageitems.orgMsg .message, .messageitems.orgMsg .msgName{
	color: #1db151;
	font-weight: bold;
}

.msgItem.hideUser .msgName, .msgItem.hideTime .msgDate,
.messageitems.hideUser .msgName, .messageitems.hideTime .msgDate{
	visibility: hidden;
}

.msgScrollBox .row.messageitems .msgDate, .messageScrollArea .row.msgItem .msgDate{
	color: #b9babb;
	font-weight: bold;
	font-size: 0.7em;
}

/***************************************************
 *================ date separator =================*/
.dateSeparator{
	position: relative;
}

.dateSeparator .small-12.column{
	color: #b9babb;
}

.dateSeparator .separatorStrike{
	color: #b9babb;
	width: 40%;
	position: absolute;
	border-bottom: 1px solid #b9babb;
	top: 0.8em;
}

.dateSeparator .separatorStrike.strikeLeft{
	left: 0;
}

.dateSeparator .separatorStrike.strikeRight{
	right: 0;
}
/****************************************************/
/***********************************************************************/

/***********************************************************************
 *======================== CHAT THREAD LIST ===========================*/
.switchbuttons-wrapper{
	position: absolute;
	bottom: 0;
	padding: 1em;
	right: 0;
	left: 0;
	background-color: #fff;
}

.switchbuttons{
	cursor: pointer;
}

.leftMessageColumn .switchbuttons.privateChatButton, .leftChatColumn .switchbuttons.mainChatButton{
	font-weight: bold;
}

.leftMessageColumn .switchbuttons.mainChatButton{
	margin-right: 1em;
}

.leftChatColumn .chatUserLists{
	width: 100%;
	max-height: 540px;
	overflow-x: hidden;
	overflow-y: auto;
}

.chatUser{
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background-color: #EBEBEB;
    border-bottom: 1px solid #fff;
}

.chatUser.selected {
    background-color: #000;
    color: #fff;
}

.chatUser .unread_count,
.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count,
.switchbuttons-wrapper .switchbuttons.privateChatButton .unread_count{
	color: #fff;
	background-color: #ff5c26;
	font-size: 0.82em;
	padding: 0.1em 0.6em;
	border-radius: 1em;
	font-weight: bold;
}

.chatUser .unread_count:empty,
.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count:empty,
.switchbuttons-wrapper .switchbuttons.privateChatButton .unread_count:empty{
	display: none;
}

/* individual chat thread unread count */
.chatUser .unread_count{
	position: absolute;
	right: 0.5em;
}
 /* switchbuttons chat unread count */
.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count{
}

/***********************************************************************/

/***********************************************************************
 *=========================== INPUT AREA ============================= */
.chatTxtbox .column .chattext, .messageTxtbox .column .msgtext{
	height: 15px;
	margin: 0;
	border-radius: 5px;
	resize: none;
	overflow-y: auto;
	transition: background-color 300ms;
	box-shadow: none;
}

.chattext:focus, .msgtext:focus{
	box-shadow: none;
}

.msgtext.is-text{
	padding: 8px 75px 8px 35px;
}

.text-count, .text-label{
	color: #aaa;
	display: none;
	position: absolute;
	top: 0;
	bottom: 0;
	font-weight: 600;
	font-size: 14px;
}

.text-count{
	right: 25px;
	padding: 8px 0 0;
}

.text-label{
	left: 10px;
	padding: 7px 0 0;
}

.text-label > div{
	display: inline-block;
	vertical-align: middle;
}

.text-label .text-icon{
	width: 24px;
	height: 24px;
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/text_icon_sheet.png);
	background-position: 5px 0px;
	background-repeat: no-repeat;
}

.button.sendbutton{
	font-size: 15px;
	padding: 1em;
	border-radius: 5px;
	width: 100%;
	margin: 0;
	background-color: #ff5c26;
}

.button.sendbutton.disabled{
	background-color: #b9babb;
}

.column.small-12.messageTxtbox, .column.small-12.chatTxtbox{
	margin: 1em 0;
}
/***********************************************************************/

/***********************************************************************
 *======================= CHAT/MESSAGE BOXES ==========================*/
.chatMainWindow .leftChatColumn, .messageMainWindow .leftMessageColumn{
	height: 540px;
	background-color: #fff;
	border-right: 1px solid #b9babb;
}

.chatMainWindow .rightChatColumn, .messageMainWindow .rightMessageColumn{
	background-color: #fff;
	height: 540px;
}
/***********************************************************************/

/***********************************************************************
 *=========================== IDLE OVERLAY =============================*/
.messageMainWindow .idle_overlay_wrapper,
.chatMainWindow .idle_overlay_wrapper{
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY( -50% );
}

.idle_overlay{
	background-color: rgba( 245, 245, 245, 0.85 );
	height: 10em;
	border-radius: 8px;
	display: none;
}

.idle_title{
	font-size: 3em;
	font-weight: bold;
	color: #797979;
	margin: 0.1em;
}

.idle_description{
	color: #a6a7a8;
}

.idle_title{
	text-shadow: #b9babb 0 0 5px;
}
/***********************************************************************/


/** ADMIN MESSAGES/CHAT MODIFICATIONS - start **/
body#admin-chat .messingingWrapper, body#admin-messages .messingingWrapper, body#agency-messages .messingingWrapper{
	max-width: 100%;
	width: 100%;
}

body#admin-chat #topAlertContainer, body#admin-messages #topAlertContainer, body#agency-messages #topAlertContainer{
	margin-bottom: 0;
}

#admin-chat .chatMainWindow > div:last-child, #admin-messages .messingingWrapper .chatMainWindow > div:last-child{
	padding: 0;
}

.messingingWrapper .chatLeftHeader.admin-chat-header{
	padding: 0;
}

/*medium and up */
@media only screen and (min-width: 40.063em){

	body#admin-chat .messingingWrapper, body#admin-messages .messingingWrapper, body#agency-messages .messingingWrapper{
		position: absolute;
		top: 95px;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 0;
	}

 	.messingingWrapper > .column.small-12, .messingingWrapper .row.messageMainWindow, .messingingWrapper .row.chatMainWindow,
 	.messingingWrapper .row.chatMainWindow > .column.small-12, .messingingWrapper .row.chatMainWindow > .column.small-12 > .row.collapse,
 	.messingingWrapper .row.chatMainWindow > .column.small-12 .leftChatColumn, .messingingWrapper .row.chatMainWindow > .column.small-12 .rightChatColumn, 
 	.messingingWrapper .messageMainWindow > div.leftMessageColumn, .messingingWrapper .messageMainWindow > div.rightMessageColumn,
 	.messingingWrapper .messageMainWindow > div.leftMessageColumn, .messingingWrapper .messageMainWindow > #rep_youre_messaging {
		height: 100%;
	}

	.messingingWrapper .row.chatMainWindow > .column.small-12 .leftChatColumn,
	.messingingWrapper .row.chatMainWindow > .column.small-12 .rightChatColumn{
		z-index: 1;
	}

	.messingingWrapper .row.chatMainWindow > .column.small-12 .leftChatColumn > div.row:first-child{
		padding: 1em;
	}

	.messingingWrapper .messageMainWindow > div.rightMessageColumn > div.row:last-child,
	.messingingWrapper .row.chatMainWindow > .column.small-12 .rightChatColumn > div.row:last-child{
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.messingingWrapper .messageMainWindow > div.rightMessageColumn > div.row:first-child,
	.messingingWrapper .row.chatMainWindow > .column.small-12 .rightChatColumn > div.row:first-child{
		position: absolute;
		top: 0;
		bottom: 84px;
		left: 6px;
		right: 6px;
	}

	.messingingWrapper .messageMainWindow > div.rightMessageColumn > div.row:first-child .msgScrollBox,
	.messingingWrapper .row.chatMainWindow > .column.small-12 .rightChatColumn > div.row:first-child .messageScrollArea{
		height: 92%;
	}

	.messingingWrapper .messageMainWindow > div.rightMessageColumn .messageTxtbox > .row{
		padding: 0 6px;
	}

	.messingingWrapper .messageMainWindow > div.leftMessageColumn > .row{
		position: absolute;
		top: 0;
		bottom: 81px;
		right: 0;
		left: 0;
		z-index: 1;
		margin: 0;
	}
}

/*large and up only */
@media only screen and (min-width: 64.063em){
	body#admin-chat .messingingWrapper, body#admin-messages .messingingWrapper, body#agency-messages .messingingWrapper{
		top: 93px;
		z-index: 0;
	}
}
/** ADMIN MESSAGES/CHAT MODIFICATIONS - end **/


/***** daily chat bar styles - start *****/

/*remove .with-daily-chat-bar from these rows*/
body#admin-chat .messingingWrapper.with-daily-chat-bar, body#admin-messages .messingingWrapper.with-daily-chat-bar,
body#agency-messages .messingingWrapper.with-daily-chat-bar{
	top: 129px;
}
/***** daily chat bar styles - end *****/


/***** chat onHover - profile preview - start *****/
.leftChatColumn .profile-preview-panel{
	border: thin solid blue;
	display: none;
	position: absolute;
	width: 300px;
}

.show-preview-onhover:hover{
	text-decoration: underline;
}

#admin-chat .tooltip{
	background-color: #fff;
	color: #202020;
	box-shadow: 1px 1px 4px 1px #797979;
	border-radius: 2px;
	max-width: 400px;
}

.tooltip .tip-financial-amt, .tooltip .tip-objective-row, .tooltip .tip-personalinfo-row, .tooltip .tip-uploads-row{
	padding: 0 0 10px;
	/*border: thin solid red;*/
}

.tooltip .tip-table-row tr td{
	line-height: 0.75rem;
}

.tooltip .tip-table-row tr > td:first-child{
	background-color: #ddd;
}

.tooltip .tip-table-row tr > td:last-child{
	background-color: #eee;
}

.chatUser.column .prof-tooltip{
	border-bottom: none;
	margin-left: 5px;
}
/***** chat onHover - profile preview - end *****/

.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat;
}

/*send campaign modal styling */
#send-campaign-msg-modal{
	padding: 2px 10px 40px;
}

#save-template-modal{
	padding: 10px 20px 20px;
	max-width: 30em;
}

#save-template-modal label{
	font-size: 18px;
}

#send-campaign-msg-modal .send-away-btn, #save-template-modal .save-template-btn, #edit-message-template-modal .update-template-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 2px;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	font-weight: 600;
	cursor: pointer;
}

#save-template-modal .save-template-btn, #edit-message-template-modal .update-template-btn{
	margin: 0 0 0 auto;
}

#send-campaign-msg-modal .msg, #save-template-modal .msg{
	font-size: 24px;
	padding: 30px 0;
	color: #0085B2;
}
.message_template_dropdown{
	padding-left: 0.7em;
	margin-bottom: 0.3em;
	height: 2.5em;
}
#insert_message_template{
	margin-top: 0.7em;
	padding-left: 0.2em;
}
.sort-col{
	cursor: pointer;
}

#student_youre_messaging{
	height: 100%;
	border-left: 1px solid #b9babb;
}

#export-processing-modal{
	max-width: 500px;
	color: #797979;
}

#export-processing-modal h3{
	color: #797979;
}

#export-processing-modal .ok-btn{
	width: 150px;
    text-align: center;
    border-radius: 2px;
    padding: 8px 0;
    margin: auto;
    background: #ff5c26;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
#export-processing-modal .ok-btn:active{
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#textmessage-reminder-modal .textmsg-reminder {
	color: #797979;
    font-size: 20px;
}

#textmessage-reminder-modal a.button.reminder-btn {
    margin: 20px;
    padding: 16px 60px;
    border-radius: 6px;
    font-weight: 600;
}

/*small only*/
@media only screen and (max-width: 40em){
	#export-processing-modal{
		width: 100%;
		max-width: 100%;
	}
}

@media only screen and (min-width: 40.063em){
	#student_youre_messaging.hardhide{
		display: none !important;
	}	
}


.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zr {background-position: -48px -176px}
.flag.flag-zw {background-position: -176px -165px}
/* =========================== 26-01-2018 ================= */
.close-reveal-modal.btn.btn-default {
	font-size: 14px;
	background: gray;
	padding: 15px;
	position: absolute;
	top: 179px;
	right: 230px;
	border-radius: 2px;
	color: #fff;
}

@media only screen and (max-width: 320px){
    #chat_online_status {
        width: 80% !important;
    }
    .column.small-12.chatLeftHeader.admin-chat-header {
        font-size: 12px !important;
        margin-left: 3px !important;
    }
    .column.small-3.leftChatColumn {
        width: 42% !important;
    }
    .button.sendbutton.chatbutton.disabled {
        margin-left: -76px !important;
        padding-left: -8px !important;
        padding-right: 46px !important;
        padding-top: 20px !important;
        padding-bottom: 13px !important;
        position: absolute;
        top: 142px;
        width: 100%;
    }
    .chatTxtbox .column .chattext, .messageTxtbox .column .msgtext {
        height: 138px !important;
    }
    .button.sendbutton {
        font-size: 13px !important;
    }
    .hide-mobile{display: none;}
    .column.small-12.chatTxtbox.withOptions {
        margin-top: -450px !important;
    }
    .chattext {
        width: 100% !important;
    }
}

@media only screen and (max-width: 360px){
    #chat_online_status {
        width: 80% !important;
    }
    .column.small-12.chatLeftHeader.admin-chat-header {
        font-size: 12px !important;
        margin-left: 3px !important;
    }
    .column.small-3.leftChatColumn {
        width: 42% !important;
    }
    .button.sendbutton.chatbutton.disabled {
        margin-left: -76px !important;
        padding-left: -8px !important;
        padding-right: 46px !important;
        padding-top: 20px !important;
        padding-bottom: 13px !important;
        position: absolute;
        top: 142px;
        width: 100%;
    }
    .button.sendbutton {
        font-size: 13px !important;
    }
    .hide-mobile{display: none;}
    .chatTxtbox .column .chattext, .messageTxtbox .column .msgtext {
        height: 138px !important;
    }
    .chattext {
        width: 100% !important;
    }
	.column.small-12.chatTxtbox.withOptions {
		margin-top: -453px !important;
	}
}

@media only screen and (max-width: 480px){
	#chat_online_status {
		width: 80% !important;
	}
	.column.small-12.chatLeftHeader.admin-chat-header {
		font-size: 12px !important;
		margin-left: 3px !important;
	}
	.column.small-3.leftChatColumn {
		width: 42% !important;
	}
	.button.sendbutton.chatbutton.disabled {
		margin-left: -76px !important;
		padding-left: -8px !important;
		padding-right: 46px !important;
		padding-top: 20px !important;
		padding-bottom: 13px !important;
		position: absolute;
		top: 142px;
		width: 100%;
	}
	.button.sendbutton {
		font-size: 13px !important;
	}
	.hide-mobile{display: none;}
	.chatTxtbox .column .chattext, .messageTxtbox .column .msgtext {
		height: 138px !important;
	}
	.chattext {
		width: 100% !important;
	}
	.column.small-12.chatTxtbox.withOptions {
		margin-top: -453px !important;
	}
}

.save-template-btn.text-center, .update-template-btn.text-center{
	float:right;
}