.admin_table thead{
	background: #000000;
}

.admin_table thead tr td{
	color: #ffffff;
}

.admin_table{
	border: none;
}

.admin_hover_container:hover > .admin_hover_controls{
	visibility: visible;
}

.admin_hover_controls{
	visibility: hidden;
}
