/*adminAdvFiltering.css */


/*main container styling*/
#admin-adv-filtering > #topAlertContainer{
	margin-bottom: 0;
}

#admin-adv-filtering .main-admin-adv-filter-container > .row:first-child > .column:last-child{
	font-size: 23px;
	color: #797979;
}




/*right side filter section container styling */
.adv-filtering-section-container{
	background-color: #ECECFB;
}



/*left side filter menu styling*/
.main-admin-adv-filter-container .adv-filtering-menu.side-nav{
	padding: 0;
}

.adv-filtering-menu.side-nav li{
	border-radius: 3px;
	background-color: #ECECFB;
	position: relative;
}
.adv-filtering-menu.side-nav li.active{
	background-color: #797979;
}
.adv-filtering-menu.side-nav li.active > a:first-child:not(.button),
.adv-filtering-menu.side-nav li a:not(.button):hover{
	color: #fff;
	font-weight: 600;
}

.adv-filtering-menu.side-nav li a:not(.button){
	color: #797979;
	font-weight: 600;
	padding: 0.4375rem 1.875rem;
}

.adv-filtering-menu .lock{
	width: 12px;
	height: 16px;
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/locked.png');
	position: absolute;
	top: 8px;
	left: 9px;
	border-bottom: initial;
}

.adv-filtering-menu li.dekcol{
	cursor: not-allowed;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
 	user-select: none;           
}

.adv-filtering-menu li .change-icon{
	color: #26b24b;
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 20px;
	font-weight: 600;
}


/*filter crumbs styling*/
.filter-crumbs-container{
	color: #797979;
}

.row.results-per-page-container{
	padding-top: 10px;
}

.row.results-per-page-container .upgradeToPremier {
	font-size: 15px; 
	color: #797979; 
	padding-left: 30px
}

ul.filter-crumb-list{
	margin: 0;
}

.filter-crumb-list li{
	margin: 0 0 5px 0 !important;
}

.filter-crumb-list .section, .filter-crumb-list .tag{
	font-size: 12px;
	font-weight: 600;
}

.filter-crumb-list .tag{
	background-color: #3F8CCB;
	border-radius: 1px;
	color: #fff;
	margin: 0 5px 2px 0;
	padding: 0 5px 1px;
}

.tag .include, .tag .exclude, .filter-crumb-list .section{
	padding: 0 5px 0 0;
}

.filter-crumb-list .section{
	text-transform: capitalize;
}

.tag .include{
	color: green;
}

.tag .exclude{
	color: red;
}

.tag .remove{
	padding: 0 0 0 5px;
	cursor: pointer;
}
/*filter crumb styling end*/


#admin-adv-filtering .main-admin-adv-filter-container > .row.hide-for-large-up .filter-page-indicator{
	color: #fff;
	background-color: #b9babb;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
}

.main-admin-adv-filter-container .select-filter-btn-sm{
	cursor: pointer;
	background-color: #797979;
	color: #fff;
	padding: 10px;
	font-weight: 600;
}

.main-admin-adv-filter-container .select-filter-btn-sm .filter-menu-arrow.rotate-arrow{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
	transition: .5s;
	-moz-transition: .5s; /* Firefox 4 */
	-webkit-transition: .5s; /* Safari and Chrome */
	-o-transition: .5s; /* Opera */
}



/*save/reset filters styling */
.main-admin-adv-filter-container .reset-save-filters-col .save-filters-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 1px;
	cursor: pointer;
	padding: 5px 35px;
	font-size: 14px;
	font-weight: 600;
	margin-left: 20px;
}
.main-admin-adv-filter-container .reset-save-filters-col .save-filters-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.main-admin-adv-filter-container .reset-save-filters-col .reset-filters-btn{
	color: #797979;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
}
.main-admin-adv-filter-container .reset-save-filters-col .reset-filters-btn:hover{
	text-decoration: none;
}

.main-admin-adv-filter-container .reset-save-filters-col.hidden,
.main-admin-adv-filter-container .recomm-meter-container.hidden,
.filter-page-section .no-city-if-all-state-error.hidden {
	display: none;	
}

.filter-page-section .no-city-if-all-state-error{
	color: #FF5C26;
}

.adv-filtering-section-container .advFilter-tag{
	padding: 3px 5px;
	margin: 0 4px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0px #797979;
}

.adv-filtering-section-container .remove-tag{
	cursor: pointer;
	color: #797979;
	font-weight: 600;
	font-size: 16px;
	padding: 0 3px;
}

.adv-filtering-section-container .include-exclude-txt{
	text-decoration: underline;
}

.adv-filtering-section-container label, .adv-filtering-section-container div {
	color: #797979;
}

.adv-filtering-section-container .make_bold{
	font-weight: 600;
}

.filter-page-section .select-option-error{
	color: #FF5C26;
	display: none;
}

.filter-page-section .selection-row.hideOnLoad, .hideOnLoad{
	display: none;
}



/*filter intro section */
.adv-filtering-section-container .filter-intro-container{
	background-color: #fff;
	padding: 4px 0 0;
}

.adv-filtering-section-container .filter-intro-step{
	border-radius: 3px;
	background-color: #ECECFB;
}

.adv-filtering-section-container .filter-intro-step > div:first-child{
	font-size: 45px;
	font-weight: 600;
	padding: 20px;
}

.adv-filtering-section-container .filter-intro-step > div:nth-child(2){
	padding: 20px;
}

.adv-filtering-section-container .filter-intro-step > div:last-child{
	padding: 20px 30px;
}

.main-admin-adv-filter-container .recomm-meter-msg{
	color: #797979;
	font-size: 14px;
}

.main-admin-adv-filter-container .recomm-meter-container{
	padding: 0 0 15px;
}

.main-admin-adv-filter-container .recomm-meter-container .progress{
	background: #ECECFB;
	margin-bottom: 0;
}

.main-admin-adv-filter-container .recomm-meter-container .progress .meter{
	background: #797979;
}

.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip{
	font-size: 12px;
	padding: 2px 1px;
	color: #797979;
}

.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip > span:last-child{
	float: right;
}

.main-admin-adv-filter-container .backToDash-btn > a{
	color: #797979;
}



/*filter location section */
.filter-by-location-container, .filter-by-major-container, .filter-by-scores-container, .filter-by-uploads-container,
.filter-by-demographic-container, .filter-by-educationLevel-container, .filter-by-desiredDegree-container,
.filter-by-skillsInterests-container, .filter-by-militaryAffilation-container, .filter-by-profileCompletion-container,
.filter-by-startDateTerm-container, .filter-by-financial-container, .filter-by-typeofschool-container{
	padding: 40px;
}

.filter-by-location-container .contains-tags-row, .filter-by-demographic-container .contains-tags-row {
	padding: 0 0 20px ;
}

.filter-by-location-container .location-filter-desc-col > div:last-child{
	padding: 40px 0;
}

.filter-by-location-container .contains-tags-row .hide-for-large-up > p, 
.filter-by-major-container .contains-tags-row .hide-for-large-up > p,
.filter-by-demographic-container .contains-tags-row .hide-for-large-up > p {
	font-size: 13px;
	color: #797979;
}



/*filter scores section */
.filter-by-scores-container .scores-desc, .filter-by-demographic-container .scores-desc {
	padding-top: 6px;
}

.filter-by-scores-container .filter-instructions, .filter-by-uploads-container .filter-instructions {
	padding: 0 0 20px;
}

.filter-page-section .minMaxError{
	display: none;
}

.filter-page-section .minMaxError > .column{
	color: #FF5C26;
	font-size: 14px;
}



/*filter demographic section */
.filter-by-demographic-container > .column.large-6:last-child > div:last-child{
	padding: 85px 0 0;
}

.filter-by-demographic-container .demo-age-desc{
	font-size: 13px;
	color: #797979;
	padding: 0 6px 20px;
}


/*filter education level section */
.filter-by-educationLevel-container div.hide-for-large-up, 
.filter-by-desiredDegree-container > .column:first-child > .row:first-child > .column,
.filter-by-skillsInterests-container > .column:first-child{
	padding: 0 6px 20px;
}

label[for="select_all_degrees"]{
	font-weight: 600;
}



/*filter skillsInterests section */
.filter-by-skillsInterests-container .add-more-fields{
	cursor: pointer;
}
.filter-by-skillsInterests-container .add-more-fields:hover{
	text-decoration: underline;
}

.filter-by-skillsInterests-container .new-achievement-field, .filter-by-skillsInterests-container .achievements-col > div.orig-field{
	position: relative;
}

.filter-by-skillsInterests-container .remove-achievement-btn{
	position: absolute;	
	top: 0;
	right: 0;
	padding: 7px 10px 3px;
	font-weight: 600;
	cursor: pointer;
}

.filter-by-skillsInterests-container .achievements-col > div:first-child{
	padding: 0 0 5px;
}



/*filter dialog modal style*/
#admin-adv-filtering > #filter-dialog-modal{
	width: 30em;
	padding: 10px;
}

#filter-dialog-modal .close-reveal-modal{
	font-size: 30px;
}

#filter-dialog-modal .save, #filter-dialog-modal .discard, #filter-dialog-modal .cancel{
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	border-radius: 2px;
	padding: 5px;
}


#filter-dialog-modal .save:hover, #filter-dialog-modal .discard:hover, #filter-dialog-modal .cancel:hover{
	background-color: #eee;
}

#filter-dialog-modal .save{
	background-color: #FF5C26;
	color: #fff;
}
#filter-dialog-modal .save:hover{
	color: #FF5C26;
}

#filter-dialog-modal .discard{
	background-color: #797979;
	color: #fff;
}
#filter-dialog-modal .discard:hover{
	color: #797979;
}

#filter-dialog-modal .cancel{
	background-color: #fff;
	color: #797979;
}

#filter-dialog-modal .dialog-msg{
	padding: 0 0 20px;
	font-size: 20px;
}


#interested_in_aid, label[for="interested_in_aid"]{
	display: inline-block;
	vertical-align: top;
}

label[for="interested_in_aid"]{
	width: 300px;
}

#interested_in_aid{
	width: 14px;
	margin: 4px 0 0;
}

.targeting-ajax-loader{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: 50;
	display: none;
}

.targeting-ajax-loader > svg{
	position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}


.dept-list-row{
}

.dept-head, .opts-row{
	width: 50%;
	margin: auto 0 auto auto;
}

.dept-degree-opts{
	display: inline-block;
	vertical-align: middle;
	width: 20%;
	text-align: center;
}

.dept-item{
	display: none;
}

.dept-degree-opts input[type="checkbox"], .dept-item input[type="checkbox"]{
	margin: 8px 0;
}

.dept-degree-opts input[type="checkbox"]+label{
	margin: 0 5px;
}

.opts-label, .dept-item .subject{
	display: inline-block;
	vertical-align: middle;
}

.opts-label:first-child, .dept-item .subject:first-child{
	width: 50%;
}

.major-list{
	margin: 5px 0 0;
}

.opts-label:not(:first-child), .dept-item .subject:not(:first-child){
	width: 10%;
	text-align: center;
}

.dept-item{
	margin: 0 0 5px;
}

.dept-action{
	position: relative;
	padding: 8px 50px 8px 40px;
	background-color: #fff;
	max-width: 365px;
}

.dept-item .major-list .subject:first-child .dept-action{
	margin: 0 0 0 15px;
}

.dept-action .remove-dept, .dept-action .show-major{
	width: 40px;
	position: absolute;
	top: 0; bottom: 0;
	cursor: pointer;
}

.dept-action .remove-dept{
	left: 0;
}

.dept-action .show-major{
	right: 0;
}

.dept-action .show-major.open{
	background-color: #797979;
}

.dept-action .remove-dept > div{
	position: absolute;
    height: 24px;
    width: 38px;
    text-align: center;
    margin: auto auto auto 0;
    top: 0;
    left: 0;
    bottom: 0;
    font-weight: 600;
	-webkit-transition: -webkit-transform .8s cubic-bezier(0.4, 0, 1, 1);
	transition: transform .8s cubic-bezier(0.4, 0, 1, 1);
}
.dept-action .remove-dept:hover > div{
	-webkit-transform: rotate(270deg);
	transform: rotate(270deg);
}

.dept-action .dept-name{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.show-major .arrow{
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #797979;
	transform: rotate(90deg);
	margin: auto;
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}
.dept-action .show-major.open .arrow{
	border-left: 10px solid #fff;
}

.major-pane{
	width: 100%;
	display: none;
	background-color: #dcdbf8;
	padding: 15px 0;
}

.major-pane-selector{
	max-width: 48%;
	border: none;
    height: 40px;
    color: #797979;
    padding: 8px 40px;
    font-size: 16px;
}

.major-pane .ml15{
	margin: 0 0 0 15px;
}

a.targeting-done-btn{
	display: none;
	color: #fff;
}
a.targeting-done-btn:hover{
	color: #fff;
}

a.targeting-done-btn > div{
    background: #ff5c26;
    display: inline-block;
    border-radius: 3px;
    padding: 10px 30px;
}



/*large only */
@media only screen and (min-width: 64.063em){
	#admin-adv-filtering .main-admin-adv-filter-container > .row{
		max-width: 100em;
	}

	#admin-adv-filtering .main-admin-adv-filter-container > .row > .column:first-child{
		padding: 20px 20px 20px 60px;
	}

	#admin-adv-filtering .main-admin-adv-filter-container > .row > .column:nth-child(2),
	#admin-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 16px 80px 20px 20px;
	}

	#admin-adv-filtering .main-admin-adv-filter-container > .row:first-child > .column:first-child > div{
		/*padding-top: 7px;*/
	}

	.adv-filtering-section-container select{
		width: 60%;
	}
}



/*medium only */
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.adv-filtering-section-container select{
		width: 45%;
	}

	.adv-filtering-section-container select.major-pane-selector{
		max-width: 365px;
	}
}




/* small and medium only */ 
@media only screen and (max-width: 64em){
	.main-admin-adv-filter-container .filtering-menu-sm-container{
		display: none;
	}

	#admin-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 20px 6px;
	}

	.main-admin-adv-filter-container .recomm-meter-container{
		padding: 15px 0;
	}

	.dept-head, .opts-row{
		width: 100%;
		margin: 0;
	}

	.opts-label:first-child{
		display: none;
	}

	.opts-label:first-child, .dept-item .subject:first-child, 
	.dept-item .major-list .subject:first-child{
		width: 100%;
	}	

	.opts-label:not(:first-child), .dept-item .subject:not(:first-child){
		width: 20%;
		text-align: center;
	}

	
}



/*small only */
@media only screen and (max-width: 40em){
	#admin-adv-filtering .main-admin-adv-filter-container{
		margin-bottom: 80px;
	}

	.adv-filtering-section-container select{
		width: 100%;
	}

	.filter-by-location-container, .filter-by-major-container, .filter-by-scores-container, .filter-by-uploads-container,
	.filter-by-demographic-container, .filter-by-educationLevel-container, .filter-by-desiredDegree-container, 
	.filter-by-skillsInterests-container, .filter-by-startDateTerm-container, .filter-by-financial-container, .filter-by-typeofschool-container {
		padding: 20px;
	}

	.filter-by-skillsInterests-container .achievements-col{
		padding: 0 6px 20px;
	}

	.adv-filtering-section-container .filter-intro-container > .column.medium-4{
		padding: 0 6px 10px;
	}

	#admin-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 20px 6px 0;
	}

	#admin-adv-filtering > #filter-dialog-modal{
		width: 100%;
	}

	.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip{
		font-size: 10px;
	}

	.main-admin-adv-filter-container .recomm-meter-msg{
		font-size: 12px;
	}

	.major-pane-selector{
		max-width: 100%;
	}
	.major-pane-selector.ml15{
		margin: 0;
	}
}