b{
    font-weight: 500;
    line-height: inherit;
}

.hidden{
    display: none;
}

.invisible-div{
    visibility: hidden;
    width: 300px;
    height: 50px;
}

.manage-students-ajax-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 101;
}

.manage-students-ajax-loader svg, .matched-loading svg{
    position: absolute;
    top: 50%;
}

.admin-signup-body{
    background-image:url(/images/agency/agency-signup-background.jpg);
    background-size:cover;
}

.admin-signup-topnav-container{
    display: flex;
    justify-content: space-between;
    background-color: #1C1C1C;
    color: gray;
    padding: 30px 0px 10px 10em;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.admin-signup-topnav-container .admin-signup-logo span{
    margin-left: 1em;
    font-family: arial;
    vertical-align: top;
    font-size: 15pt;
}

.admin-signup-topnav-container .admin-signup-logo a{
    position: absolute;
    left: 3em;
}

.admin-signup-steps-icon{
    display: flex;
    margin-left: 10em;
    transform: scale(0.8);
    margin-top: -1em;
}

.admin-signup-steps-icon .admin-step-icon{
    padding-right: 3.5em;
}

.admin-signup-steps-icon .admin-step-icon .step-text.active{
    color: #fff;
}

.admin-signup-steps-icon .admin-step-icon .step-checkmark.active{
    position: absolute;
    top: 0;
    margin-left: 2em;
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 -90px;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-1 .sprite{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 90px;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-2 .sprite{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 90px 90px;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-3 .sprite{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 45px 90px;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-1 .sprite.active{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 0;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-2 .sprite.active{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 90px 0;
    height: 45px;
    width: 45px;
}

.admin-step-icon.step-3 .sprite.active{
    background: url(/images/agency/agency-signup-sprite-45x45.png) 45px 0;
    height: 45px;
    width: 45px;
}

/*.admin-step-signup{
    animation: _fadeInRight 0.3s;

    @keyframes _fadeInRight {
        0% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }   
}*/

/* admin Sign Up Step 0 */
.admin-step-signup.step-0{
    width: 60%;
    margin: auto;
    margin-top: 3em;
    color: #fff;
    text-align: center;
}

.admin-step-signup.step-0 h3{
    color: #fff;
}

.admin-step-signup.step-0 iframe{
    border-radius: 3px;
    border: 1px solid black;
}

.admin-step-signup.step-0 .continue-to-plexuss-signup{
    border-radius: 3px;
    background-color: #2BC56D;
    width: 45%;
    margin: auto;
    margin-top: 1em;
    cursor: pointer;
    padding: 0.5em;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.admin-step-signup.step-0 .continue-to-plexuss-signup:hover{
    cursor: pointer;
    opacity: 0.8;
}

/* admin Sign Up Step 1*/
.admin-step-signup.step-1{
    width: 50%;
    margin: auto;
    margin-top: 3em;
    color: #fff;
}

.admin-step-signup.step-1 h3{
    color: #fff;    
}

.admin-step-signup.step-1 .login-button{
    display: inline-block;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.admin-step-signup.step-1 .login-button:hover{
    opacity: 0.8;
}

.admin-step-signup form input,
.admin-step-signup form select{
    border-radius: 3px;
    background-color: #fcfcfc;
}

.admin-step-signup form input:focus{
    background-color: #ffeac8;
}

.admin-agreement-checkbox, .admin-services-checkbox,
.checkbox-options-container .checkbox{
    margin-left: 3em;
    margin-top: 1em;
}

.admin-step-signup.step-1 input[type='checkbox'],
.admin-step-signup.step-2 input[type='checkbox'],
.checkbox-options-container .checkbox input[type='checkbox']{
    display: none;
}

.admin-step-signup.step-1 input[type='checkbox'] + label{
    color: #fff;
}

.admin-step-signup.step-1 input[type='checkbox'] + label,
.admin-step-signup.step-2 input[type='checkbox'] + label,
.checkbox-options-container .checkbox input[type='checkbox'] + label{
    cursor: pointer;
    margin-left: -1em !important;
}

.admin-step-signup.step-1 input[type='checkbox'] + label:before,
.admin-step-signup.step-2 input[type='checkbox'] + label:before,
.admin-step-signup.step-3 .checkbox input[type='checkbox'] + label:before{
    position: absolute;
    left: -1.8em;
    top: 5px;
    content: "\00a0";
    outline: 1.5px solid #ccc;
    display: inline-block;
    background: #fff;
    font: 23px/1em bold;
    height: 20px;
    width: 20px;
}

.admin-step-signup.step-1 input[type='checkbox']:checked + label:before,
.admin-step-signup.step-2 input[type='checkbox']:checked + label:before,
.admin-step-signup.step-3 .checkbox input[type='checkbox']:checked + label:before{
    background: #fff;
    color: #26b24b;
    content: "\2713";
    text-align: center;
    font-weight: bold;
}

.admin-signup-button.step-1{
    width: 100%;
    margin-top: 2em;
    background-color: #2BC56D;
    border-radius: 3px;
    font-size: 16pt;
}

.admin-signup-button.step-1:hover{
    opacity: 0.95;
}

form .formDateWrapper{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 10px;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
    border-radius: 3px
}

.formDateWrapper input{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none !important;
    height: 20px !important;
    line-height: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    line-height: inherit;
}

form .formDateWrapper.invalid{
    background-color: #FFEAC8;
    background-image: url("/images/formError.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #FF7F00;
    box-shadow: none;
    color: #000000;
}

/* End admin Sign Up Step 1 */

/* admin Sign Up Step 2 */
.admin-step-signup.step-2{
    background-color: #fff;
    border-radius: 3px;
    padding: 1.3em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}

.admin-step-signup.step-2 > .admin-signup-terms{
    overflow-y: scroll;
    height: 350px;
}

.admin-signup-button.step-2,
.admin-signup-button.step-3{
    margin-top: 2em;
    border-radius: 3px;
    background-color: #2BC56D;
    width: 32%;
}

.admin-signup-button.step-2:hover,
.admin-signup-button.step-3:hover{
    opacity: 0.95;
}

/* End admin Sign Up Step 2*/

/* admin Sign Up Step 3 */

.submit-container.step-3{
    display: flex;
    margin-top: 2.5em;
}

.admin-signup-button.step-3{
    margin: 0 auto;
    width: 50%;
    font-size: 16pt;
}

.admin-step-signup.step-3 .skype-label{
    display: flex;
    flex-direction: row;
}

.admin-step-signup.step-3 .skype-label .skype-label-text{
    margin-left: 0.1em;
}

.admin-step-signup.step-3{
    margin-top: 1.5em;
}

.admin-step-signup.step-3 div input[type='text'],
.admin-step-signup.step-3 div select{
    width: 90%;
}

.admin-step-signup.step-3 .skype-input-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.admin-step-signup.step-3 #skype-id{
    width: 90%;
}

.admin-step-signup.step-3 .profile-picture-upload-error{
    padding: 0.25em;
    margin-top: -1px;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: normal;
    font-style: italic;
    background: #c60f13;
    color: #fff;
}

.admin-step-signup.step-3 .admin-skype-tooltip-icon{
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-left: 0.25em;
    background-color: lightgray;
}

.admin-step-signup.step-3 > h3{
    text-align: center;
    color: #fff;
}

.admin-step-signup.step-3 > div{
    background-color: #fff;
    border-radius: 3px;
    padding: 1.3em;
    width: 70%;
    margin: auto;
    /*margin-top: 1em;*/
}

.admin-step-signup.step-3 .user-added-service{
    display: flex;
}

.admin-step-signup.step-3 .new-service-remove-btn{
    font-size: 12px;
    text-decoration: underline;
    margin-left: auto;
    cursor: pointer;
}

.admin-step-signup.step-3 .new-service-remove-btn:hover{
    opacity: 0.7;
}


.admin-step-signup.step-3 #admin-profile-photo{
    display: none;
}

.admin-step-signup.step-3 .required-info-notice {
    font-size: 10pt;
    color: #999999;
    font-weight: 500;
}

/* Dynamic right side step 3 styling */
.admin-step-signup.step-3 .right-side-header {
    text-align: center;
    color: #626262;
    margin-bottom: 1em;
}

.dynamic-profile-preview-container .dynamic-profile-preview-side {
    text-align: center;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    height: 310px;
    box-shadow: rgba(0, 0, 0, 0.5) 1px 1px 2px 1px;
}

.dynamic-profile-preview-container .dynamic-profile-preview-side.front {
    background-color: #000;
}

.dynamic-profile-preview-container .dynamic-profile-preview-side.back {
    background-color: #fff;
}

.dynamic-profile-preview-container {
    display: flex;
    justify-content: space-between;
}

.dynamic-profile-preview-container .preview-side-container {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.dynamic-profile-preview-container .preview-side-container .dynamic-profile-side-label {
    text-align: center;
    margin-top: 0.5em;
    font-weight: 500;
}

.dynamic-profile-preview-container .preview-blurb-text {
    word-wrap: break-word;
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
    font-size: 10pt;
}

.dynamic-profile-preview-container .user-image-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(255, 255, 255);
    margin: 2em auto;
    margin-top: 1.5em;
    background-color: #DDDDDD;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/users/images/default.png);
}

.dynamic-profile-preview-container .college-image-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 2px solid rgb(238, 238, 238);
    margin: 1.5em auto;
    margin-bottom: 0.5em;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/default-missing-college-logo.png);
}

.dynamic-profile-preview-container .dynamic-profile-preview-side.back .user-details-container {
    font-weight: 500;
    color: #26b24b;
}

.dynamic-profile-preview-container .user-details-container .user-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

label[for=admin-profile-photo] div {
    background-color: #2aa6ca;
    border-radius: 3px;
    color: #fff;
    padding: 1em;
    width: 60%;
    margin: 0 auto;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

label[for=admin-profile-photo] div:hover {
    opacity: 0.8;
}

.dynamic-profile-preview-side.front .change-user-image-upload-text {
    color: #fff;
    width: 95%;
    margin: 2em auto;
    font-size: 10pt;
}
/* End Dynamic right side step 3 styling */

.admin-step-signup.step-3 .show-toggle-checkboxes-container {
    background-color: #eeeeee;
    border-radius: 3px;
    width: 80%;
    margin: 0 auto;
    margin-top: 0.5em;
}

.admin-step-signup.step-3 .show-toggle-checkboxes-container > div {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding: 0.5em;
}

.admin-step-signup.step-3 .show-toggle-checkboxes-container .view-preview-button {
    color: #45afce;
    text-decoration: underline;
    cursor: pointer;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.admin-step-signup.step-3 .show-toggle-checkboxes-container .view-preview-button:hover {
    opacity: 0.8;
}

.admin-step-signup.step-3 .show-profile-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 2em;
    width: 50%;
    text-align: center;
}

#about-company-blurb{
    width: 90%;
}

.admin-step-signup.step-3 .blub-characters-container{
    margin-top: -1em;
    font-size: 8pt;
    color: rgb(121, 121, 121);
    text-align: right;
    width: 90%;
}

.admin-step-signup.step-3 .blub-characters-container .blurb-characters-left{
    color: rgb(36, 178, 107);
}

.admin-step-signup.step-3 .blub-characters-container .blurb-characters-left.zero{
    color: firebrick;
}

/* hours of operation */
    
.admin-step-signup.step-3 .business-hours-container .days-container{
    display: flex;
}

.admin-step-signup.step-3 .business-hours-container .days-container .day{
    margin-right: 1em;
    border: 2px solid #fff;
    padding: 3px;
    cursor: pointer;
}

.admin-step-signup.step-3 .business-hours-container .days-container .day.closed{
    background-color: #C93A23;
    color: white;
    border-radius: 30%;
}

.admin-step-signup.step-3 .business-hours-container .days-container .day.open{
    background-color: #2BC46D;
    color: white;
    border-radius: 30%;
}

.admin-step-signup.step-3 .business-hours-container .days-container .day.active{
    border: 2px solid black;
    border-radius: 30%;
}

.admin-step-signup.step-3 .business-hours-container .hours-container .hours-select{
    width: 20%;
    border-radius: 5px;
}

.admin-step-signup.step-3 .business-hours-container .hours-container{
    display: flex;
    align-items: baseline;
}

.admin-step-signup.step-3 .business-hours-container .hours-container > span{
    font-size: 14px;
}

.admin-step-signup.step-3 .business-hours-container .hours-container > *{
    margin-right: 1em;
}

/**/
.add-admin-service-btn{
    cursor: pointer;
    margin-bottom: 0.5em;
}

.add-admin-service-btn:hover{
    opacity: 0.8;
}

.view-admin-profile-sample-btn{
    color: #5FD391;
    cursor: pointer;
}

.view-admin-profile-sample-btn:hover u{
    opacity: 0.8;
}

.view-admin-profile-sample-btn:hover .profile-sample-img{
    opacity: 1;
    left: auto;
}

.view-admin-profile-sample-btn .profile-sample-img{
    position: absolute;
    border: 1px solid #404040;
    box-shadow: 1px 1px 1px #404040;
    opacity: 0;     
    z-index: 100;
    top: 20%;
    left: -9999em;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.admin-step-signup.step-3 .phone-field{
    display: flex;
    flex-wrap: wrap;
}   

.admin-step-signup.step-3 .phone-field *[name='country_code']{
    width: 15%;
    margin-right: 0.25em;
}

.admin-step-signup.step-3 .phone-field *[name='phone_number']{
    width: 74%
}

.admin-step-signup.step-3 .phone-error-msg{
    flex-basis: 90%
}

.admin-step-signup.step-3 .view-sample-image-button{
    color: #49cd81;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
    max-width: 22em;
    margin: 0 auto;
    margin-top: 2em;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.admin-step-signup.step-3 .view-sample-image-button:hover{
    opacity: 0.8;
}

/* End admin Sign Up Step 3*/

/* Start Steps completed modal */
.continue-to-plexuss-btn{
    margin-top: 3em;
    border-radius: 3px;
    background-color: #2BC56D;
    width: 40%;
}

.admin-steps-complete{
    padding: 2em 2em;
    width: 35%;
    margin: auto;
    margin-top: 3%;
    background-color: #fff;
    border-radius: 1px;
    text-align: center;
}
/* End Steps completed modal */

/**/

.ui-state-active h4,
.ui-state-active h4:visited {
    color: #26004d ;
}

.ui-menu-item {
    height: 80px;
}

.ui-menu-item.ui-state-focus{
    border: 0 !important;
    background-color: #f5f5f5 !important;
}

.ui-widget-content .ui-state-active {
    background-color: white !important;
    border: none !important;
}

.list_item_container {
    height: 80px;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    max-height: 30em;
    overflow-y: auto;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content .add-new-college-button {
    text-align: center;
    cursor: pointer;
    padding: 1em;

    text-decoration: underline;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content .add-new-college-button:hover{
    opacity: 0.8;
}

.ui-autocomplete-loading { background: url('/images/loading.gif') no-repeat right center }

.ui-widget-content .ui-state-active .list_item_container {
    background-color: #f5f5f5;
}

.autocomplete-image {
    padding: 10px;
}

.autocomplete-image img {
    margin-top: -2em;
    width: 40px;
    height: 40px;
}

.autocomplete-label {
    overflow: hidden;
    color: rgb(124,77,255);
    text-align: left;
}

.autocomplete-label h5 {
    font-size: 10pt;
    font-weight: bold;
    color: #7f7f7f;
}

.autocomplete-label p {
    font-size: 8pt;
    font-weight: 500;
    color: #b3b3b3;
}

#rep_college_search.ui-autocomplete-loading {
    background: url(/images/ajax-spin-loader.gif) no-repeat center right 1em;
}

#rep_selected_college {
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#rep_selected_college .change-college-button {
    text-decoration: underline;
    color: #6dc1db;
    margin-left: 2em;
    font-size: 10pt;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#rep_selected_college .change-college-button:hover {
    opacity: 0.8;
    cursor: pointer;
}


#rep_selected_college .college-container {
    height: 80px;
    margin-left: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#rep_selected_college .college-container .college-image {
    padding: 10px;
}

#rep_selected_college .college-container .college-image img {
    margin-top: -2em;
    width: 40px;
    height: 40px;
}

#rep_selected_college .college-container .college-label {
    overflow: hidden;
    color: rgb(124,77,255);
    text-align: left;
}

#rep_selected_college .college-container .college-label h5 {
    font-size: 10pt;
    max-width: 17em;
    font-weight: bold;
    color: #7f7f7f;
}

#rep_selected_college .college-container .college-label p {
    font-size: 8pt;
    font-weight: 500;
    color: #b3b3b3;
}

#preview-modal .preview-image-container {
    background-size: cover;
    background-repeat: no-repeat;
}

#preview-modal .close-reveal-modal {
    font-size: 43px;
    margin: 0;
    position: absolute;
    right: 0.25em;
    top: 0;
}

#preview-modal .toggle-image-preview-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0 auto;
    margin-bottom: 1em;
    width: 50%;
}

#preview-modal .toggle-image-preview-container .image-preview-text {
    font-size: 14pt;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#preview-modal .toggle-image-preview-container .image-preview-text:hover {
    opacity: 0.8;
}

#preview-modal .toggle-image-preview-container .image-preview-text.active {
    font-weight: bold;
    color: #41cb7b;
}

input:focus {
    background-color: #f5f5f5;
}

#add-new-college-container {
    width: 90%;
    padding: 1em;
    border: 1px solid #e4e4e4;
    margin-bottom: 1em;
}

#add-new-college-container input, #add-new-college-container select {
    width: 100%;
}

#add-new-college-container .submit-new-college-button {
    margin: 0 auto;
    padding: 0.5em;
    font-size: 14pt;
    border-radius: 3px;
    background-color: #2BC56D;
    color: #fff;
    text-align: center;

    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#add-new-college-container .submit-new-college-button:hover {
    opacity: 0.8;
}

#add-new-college-container .add-college-header {
    font-size: 16pt;
    font-weight: 500;
}

#add-new-college-container .add-college-back-button {
    text-decoration: underline;
    cursor: pointer;

    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#add-new-college-container .add-college-back-button:hover {
    opacity: 0.8;
}

#add-new-college-container .top-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

