#admin_dashboard{
	background-color: #fff;
	padding: 0 12px;
}

#admin { 
	overflow-x: hidden;
}

/***********************************************************************
 * headings
 */

#AdminDashboard, #heading_wrapper{
	/*margin-top: 1em;*/
	/*margin-bottom: 1em;*/
	height: inherit;
}

#admin_dashboard #dash_title{
	font-size: 2em;
}

#admin_dashboard #dash_settings{
	line-height: 3.2em;
}

#admin_dashboard #dash_title, #admin_dashboard #dash_school_name{
	color: #797979;
}
/***********************************************************************/

/***********************************************************************
 *======================== INDICATOR STYLING ==========================*/

#admin_dashboard .dash_indicator{
	margin-bottom: 1em;
}

#admin_dashboard .indicator_feed{
	min-height: 10em;
	border-radius: 2px 2px 0 0;
}

.indicator_feed .column{
	margin-top: 0.70em;
	padding-top: 12px;
}

.indicator_feed .column span{
	color: #fff;
	font-size: 1.1em;
	line-height: 1.7em;
}

.indicator_feed .column span.indicator_number {
	margin-right: 6px;
}

#admin_dashboard .indicator_link{
	cursor: pointer;
	text-align: center;
	padding: 1em;
	border-radius: 0 0 2px 2px;
	color: #fff;
}

#admin_dashboard .indicator_link span{
	font-size: 1.2em;
}

#admin_dashboard .indicator_link a{
	text-decoration: none;
	color: #fff;
}

/* Inquries */
#dash_inquiries .indicator_feed{
	background-color: #C93A23;
}

#dash_inquiries .indicator_link{
	background-color: #7D0301;
}

/* Chat */
#dash_chat .indicator_feed{
	background-color: #26B26B;
}
#dash_chat .indicator_link{
	background-color: #007C2D;
}

/* Messages */
#dash_messages .indicator_feed{
	background-color: #1E9E75;
}

#dash_messages .indicator_link{
	background-color: #0E794E;
}

/* Campaign */
#dash_campaign .indicator_feed {
    background-color: #35D9A4;
}

#dash_campaign .indicator_link {
	background-color: #0BA070;
}

/* Text Messages */
#dash_text_messages .indicator_feed {
    background-color: #00A2FF;
}

#dash_text_messages .indicator_link {
	background-color: #0092E7;
}

/*dashboard header*/
#admin_dashboard .dashboard-section-headers{
	color: #797979;
	padding: 10px 4px;
	font-size: 20px;
}

/*upgrade acct and expiration*/
#admin_dashboard .upgrade-acct-link-row{
	padding: 10px 6px 30px;
}

#admin_dashboard .expiration-timelimit{
	color: #fff;
	padding: 35px 0 0;
}

#dash_pending .indicator_feed {
	background-color: rgb(254, 155, 0);
}

#dash_pending .indicator_link {
	background-color: #FC5C00;
}

/*approved and recommended*/
#dash_recommended .indicator_feed{
	background-color: #DD5400; 
}
#dash_recommended .indicator_link{
	background-color: #C01C00;
}

#dash_approved .indicator_feed{
	background-color: #FFCE00;
}
#dash_approved .indicator_link{
	background-color: #FF8D00;
}

#dash_newFeatures .indicator_feed{
	background-color: #eee;
}
#dash_newFeatures .indicator_link{
	background-color: #eee;
}

#dash_cms .indicator_feed, #dash_uploadLogo .indicator_feed{
	background-color: #787878;
	padding: 100px 0 0;
	color: #fff;
}
#dash_cms .indicator_link, #dash_uploadLogo .indicator_link{
	background-color: #5D5D5D;
}

#dash_export_stu .indicator_feed {
    background-color: #158696;
}

#dash_export_stu .indicator_link {
	background-color: rgb(7, 86, 98);
}

#dash_targeting .indicator_feed {
    background-color: #18B368;
}

#dash_targeting .indicator_link {
	background-color: #007D28;
}

#dash_adv_search .indicator_feed {
	background-color: #0F9F74;
}

#dash_adv_search .indicator_link {
	background-color: #007A4D;
}

#dash_studentSearch .indicator_feed{
	background-color: #00B9B9;
}
#dash_studentSearch .indicator_link{
	background-color: #009797;
}

#dash_analytics .indicator_feed{
	background-color: #73DCFF;
}
#dash_analytics .indicator_link{
	background-color: #4BC9FF;
}

/*main dash*/
#admin .row.admin-main-dash-container{
	max-width: 100%;
	width: 100%;
}

.admin-main-dash-container .supportemail{
	color: #797979;
	padding: 10px 12px;
	margin-bottom: 30px;
}

.admin-main-dash-container .managestudent-indicator-img-col{
	padding-top: 15px;
}

/*large and up*/
@media only screen and (min-width: 2560px){
	#admin_dashboard .expiration-timelimit{
		padding: 0;
	}
} 
/***********************************************************************/


/*admin action bar */
.admin-main-dash-container > .column.admin-action-bar-container:first-child{
	padding: 0 20px;
}

.admin-action-bar-container .conf-text{
	padding-top: 17px;
    font-size: 0.8em;
}

.admin-action-bar-container .date{
	color: #0085B2;
	font-weight: bolder;
}

.admin-action-bar-container .name{
	color: #0085B2;
}

.admin-action-bar-container .booth{
	color: #ff5c26;
	font-weight: bolder;
}

.admin-action-bar-container .rsvp{
	background-color: #ff5c26;
    border-radius: 2px;
    padding-bottom: 2px;
    margin-top: 14px;
}

.admin-action-bar-container .rsvp a{
	color: #fff;
}


.admin-action-bar-container .action-bar-btn{
	background-color: #eee;
	border-radius: 1px;
	padding: 7px 10px 8px;
	color: #797979;
	font-size: 11px;
	font-weight: 600;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 0px !important;
}
.admin-action-bar-container .action-bar-btn:hover, .admin-action-bar-container .action-bar-btn:focus{
	color: #797979;	
	background-color: #eee;
}

.admin-action-bar-container .action-bar-btn .action-bar-content, #dash_newFeatures .set-filter-btn{
	float: left;
}

.admin-action-bar-container .action-bar-btn .action-bar-content:first-child, #dash_newFeatures .set-filter-btn:first-child{
	margin-right: 5px;
}

.admin-action-bar-container .action-bar-btn .action-bar-content:last-child{
	margin-top: 2px;
}

#thankyou-for-upgrading-modal{
	max-width: 50em;
	padding: 15px 20px 30px;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:first-child, #thankyou-for-upgrading-modal .thankyou-msg-col > div:nth-child(2){
	font-size: 28px;
	color: #0085B2;
}

#upgrade-acct-modal .upgrade-msg-row > .column{
	font-size: 28px;
	color: #797979;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
	font-size: 18px;
	color: #797979;
	padding: 20px 100px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-reveal-modal{
	color: #797979;
	font-size: 40px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-modal-x > .column > .close-reveal-modal{
	color: #797979;
	font-size: 20px;
}

#thankyou-for-upgrading-modal .medium-centered > a.button.secondary,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
	width: 100%;
	background-color: #797979;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
#thankyou-for-upgrading-modal .medium-centered > a.button.secondary:hover,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary:hover{
	background-color: #eee;
	color: #797979;
}

#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button{
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	background-color: #FF5C26;
	color: #fff;
}
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button:hover{
	background-color: #eee;
	color: #FF5C26;
}

#upgrade-acct-modal .filter-intro-container{
	background-color: #fff;
	padding: 10px 0 20px;
	color: #797979;
}

#upgrade-acct-modal .filter-intro-step{
	border-radius: 3px;
	background-color: #ECECFB;
	box-shadow: 1px 1px 5px 0px #797979;
}

#upgrade-acct-modal .filter-intro-step > div:first-child{
	font-size: 45px;
	font-weight: 600;
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:nth-child(2){
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:last-child{
	padding: 20px;
}


/*** new feature block styles - start ***/

#dash_newFeatures .indicator-col{
	background-color: #eee;
	color: #797979;
	padding: 40px;
	border-radius: 2px;
}

#dash_newFeatures .new-feature-head, #dash_newFeatures .set-filter-btn:last-child > b{
	font-size: 11px;
	color: #797979;
}

#dash_newFeatures .new-feature-descrip{
	padding: 14px 0;
	color: #797979;
}

#dash_newFeatures .indicator_feed{
	min-height: 13.75em;
	padding: 30px 0 0 30px;
	border-radius: 2px;
}

#dash_newFeatures .feature-toggler-container:not(.filter){
	/*display: none;*/
}

/*** new feature block styles - end ***/

/*** existed member reminder modal ***/
#exist-member-reminder-modal {
	padding: 4px 10px 30px;
	max-width: 50em;
}

#exist-member-reminder-modal h3 {
	color: #FF6600;
}

#exist-member-reminder-modal h5 {
	color: #989898;
}

#exist-member-reminder-modal h6 {
	color: #FFF;
}

#exist-member-reminder-modal .reminder {
	padding: 0 15px;
}

#exist-member-reminder-modal .reminder p {
	color:#989898;
}

#exist-member-reminder-modal .modal-btn{
	background-color: #ff7f00;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	border-radius: 2px;
	padding: 10px;
	cursor: pointer;
	border-radius:6px;
	margin-top: 20px;
}

#exist-member-reminder-modal .modal-btn img {
	padding-right: 6px;
	padding-bottom: 4px;	
}
#exist-member-reminder-modal .modal-btn a {
	color: #FFF;
}

#goal-setting {
	padding-top: 20px;
}

#goal-setting .start-btn {
	background-color: #ff7f00;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	padding-left: 76px;
    padding-right: 76px;
	border-radius:6px;
	margin-top: 20px;
	margin-right: 20px;
}

#goal-setting .confirm-btn {
	background-color: #ff7f00;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	border-radius:6px;
	margin-top: 20px;
	margin-left: 20px;
}

#goal-setting h3 {
	color: #787878;
}

#goal-setting-context h3 {
	padding: 30px;
	color: #787878;
}
#goal-setting-context h5 {
	padding: 20px 0 0;
	color: #787878;
}
#goal-setting-context #set-goal-btn {
	background-color: #ff7f00;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	padding-left: 100px;
    padding-right: 100px;
	border-radius:6px;
	margin-top: 20px;
}

#goal-setting-context .left-number-picker {
	margin-right: 40px;
}
#goal-setting-context .right-number-picker {
	margin-left: 60px;
}

.styled-font {
	font-family: "Open Sans","Century Gothic", "CenturyGothic", "AppleGothic" ,sans-serif; 
	color: rgb(120, 120, 120);
	margin-left: 66px;
    margin-right: 66px;
}

.admin-side-menu-tooltip-icon {
	border: 1px solid #797979;
	border-radius: 100px;
	font-size: 8px;
	font-weight: 600;
	vertical-align: middle;
	padding: 0 2px;
	cursor: pointer;
}

#new-member-reminder-modal {
	display: none;
}

#new-member-reminder-modal .modal-btn {
	background-color: #ff7f00;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	border-radius: 2px;
	cursor: pointer;
	border-radius:6px;
	margin-top: 20px;
}

#new-member-reminder-modal .modal-btn img {
	padding-right: 6px;
	padding-bottom: 4px;	
}
#new-member-reminder-modal a {
	color: #FFF;
}

#new-member-reminder-modal h5 {
	color: #787878;
	padding-left: 40px;
	padding-top: 20px;
	padding-right: 40px;
}

.left-number-picker .ui-spinner, .right-number-picker .ui-spinner {
    height: 40px;
    width: 140px;
}

#spinner-applied, #spinner-enrolled {
	width: inherit;
	height: inherit;
	margin: 0 auto;
}

#goal-setting-context .left-number-picker .vertical-align {
	padding-top: 10px;
	padding-bottom: 10px;
}

#goal-setting-context .right-number-picker .vertical-align {
	padding-top: 10px;
	padding-bottom: 10px;
}

#export-processing-modal{
	max-width: 500px;
	color: #797979;
}

#export-processing-modal h3{
	color: #797979;
}

#export-processing-modal .ok-btn{
	width: 150px;
    text-align: center;
    border-radius: 2px;
    padding: 8px 0;
    margin: auto;
    background: #ff5c26;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
#export-processing-modal .ok-btn:active{
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}

#textmsg-expire-reminder-modal .expire-alert {
    font-size: 19px;
    color: #797979;
}

#textmsg-expire-reminder-modal .expire-alert div.row {
    margin-bottom: 14px;
}

#textmsg-expire-reminder-modal a.button.set-auto-renew-btn {
    border-radius: 6px;
    background-color: #ff5c26;
}

#textmsg-expire-reminder-modal a.button.set-auto-renew-btn:hover {
	background-color: #888;
}

/*small only*/
@media only screen and (max-width: 40em){
	#thankyou-for-upgrading-modal, #upgrade-acct-modal{
		padding: 10px;
		width: 100%;
	}

	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px 0;
	}

	#upgrade-acct-modal .filter-intro-container > .column.small-12.medium-4{
		margin-bottom: 10px;
	}

	#export-processing-modal{
		width: 100%;
		max-width: 100%;
	}
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px;
	}

	#dash_newFeatures .indicator-col{
		padding: 28px;
	}

	#dash_newFeatures .indicator_feed{
		padding: 10px 0 0 10px;
	}
}

.manage-student-features-container{
	position: relative;
}

.manage-student-features-container.inactive .indicator_link,
.manage-student-features-container.inactive a{
	cursor: not-allowed !important;
}

.inactive-layer{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.7);
}

.goal-meters-container, .goal-meters-container h3{
	color: #797979;
}

.goal-meters-container .goal-title, .goal-meters-container .right{
	font-size: 11px;
	cursor: pointer;
}

.goal-meters-container .premier-ended{
	font-size: 14px;
	color: #F92727;
	padding: 0px 10px 20px 140px;
}

.goal-meters-container .stay-hidden{
	visibility: hidden;
}

.goal-meters-container .mod-goals-btn{
	color: #797979;
	background-color: #eee;
	border-radius: 2px;
	padding: 5px 10px;
	font-size: 12px;
	border: 1px solid transparent;
	cursor: pointer;
	display: inline-block;
	margin: 0 10px 0 0;
	vertical-align: middle;
}
.goal-meters-container .mod-goals-btn:hover{
	border: 1px solid #797979;
}

.meter-type.active{
	font-weight: 600;
}

.goal-meters-container .progress .meter{
	color: #C4CCDB;
	font-size: 12px;
	padding-left: 10px;
	line-height: 20px;
}

.goal-meters-container .progress .meter > a{
	color: #C4CCDB;
	text-decoration: underline;
}

.annual-meter, .appr-meter:not(.monthly){
	display: none;
}

.goal-meters-container .progress{
	position: relative;
}

.goal-meters-container .meter-perc{
	position: absolute;
	right: 10px;
	top: 2px;
	font-size: 12px;
	color: #787878;
}

#goal-setting-context .err-msg{
	color: #FF5C26;
	font-size: 14px;
	display: none;
}

.premier-end-date-txt{
    font-size: 12px;
    color: #DD4627;
    font-weight: bolder;
}
.faded{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255,255,255, 0.5);
	z-index: 1;
}

.step_nav .active{
	color: red;
}

#AdminDashboard button.cancel-btn {
	margin: 0px 18px auto;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 12px;
    background-color: rgb(180, 180, 180);
}

#AdminDashboard button.save-btn, #AdminDashboard button.add-user-btn {
	margin: 0px auto;
    border-radius: 6px;
    padding: 10px 30px;
    font-size: 12px;
}

@media only screen and (max-width: 320px){
	#_admin_dash .stats-cur-log-container .desc-bold {
		font-size: 12px !important;
	}
}