

/***************** essay boxes *************/
.viewed-icon{
    color: #ffffff;
    background-color: #ff7f00;
    width: 33px;
    height: 33px;
    text-align: center;
    display: inline-block;
    border-radius: 100%;
    vertical-align: middle;
    line-height: 33px;
    font-size: 18px;
}

.viewed-container{
	text-align: center;
}

.viewed-txt{
	color: #797979;
 	margin-top: 3px;
    font-size: 11px;
}

.admitsee-inner-cont{
	color: #797979;
	padding: 10px 20px;
}
.admitsee-title3{
	font-size: 16px;
    font-weight: 600;
    color: #3f566c;
}
.admitsee-print{
	font-size: 14px;
}

.round-portrait{
	width: 120px;
    height: 120px;
    background-color: #eeeeee;
    border-radius: 100%;
    display: inline-block;
    margin: 24px auto;
    overflow: hidden;
}

.round-portrait img{
    width: 100%;
    height: auto;
}

.bottom-fade:after{
	content: '';
    width: 100%;
    height: 100%;
    left: 0px;
    bottom: 0px;
    position: absolute;
    box-shadow: -10px -90px 30px -20px #ffffff inset;
}

.essay-excerpt-box{
	margin: 0px 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	word-wrap: break-word;
    position: relative;
    box-shadow: -10px -90px 30px -20px #ffffff inset;
}
.essay-excerpt-box *{
    font-size: 13px;
    color: #797979;
}

.view-essay-btn{
	cursor: pointer;
	display: inline-block;
    background-color: #26b24b;
    color: #ffffff;
    padding: 3px 13px;
    font-size: 15px;
    border-radius: 5px;
    margin: 14px auto;
    position: relative;
}

.view-essay-btn:hover,
.view-essay-btn:active,
.view-essay-btn:focus{
    background-color: #29c36b;
    color: #ffffff;
}


/***** premium content *******/

.premium-content{
    display: none;
}

.pre-blur{
   
    opacity: .5;
    min-height: 320px;
    max-height: 70%;
    overflow: hidden;
    margin-bottom: 30px;
    -webkit-filter: blur(5px); 
    -moz-filter: blur(5px);
    -ms-filter: blur(5px);
    -o-filter: blur(5px);
    filter: blur(5px);
    filter: url(#blur);   
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='5');
    box-shadow: 0px -50px 0px 6px #ffffff;
}

.unlock-cont{
    text-align: center;
    width: 100%;
    position: absolute;
    margin-top: 15%;
    z-index: 5;
    background-color: rgba(255,255,255, .3);
    box-shadow: 1px 1px 30px rgba(255,255,255, .3);
}

.unlock-btn{
    cursor: pointer;
    color: #ffffff;
    background-color: #FF5C11;
    display: inline-block;
    padding: 7px 21px;
    border-radius: 8px;
    font-size: 18px;
}
.unlock-btn:hover,
.unlock-btn:focus{
    background-color: #fd6925;
    color: #ffffff;
}

.unlock-btn:active{
    background-color:  #e2500c;
    transition: ease 1s;
}


.unlock-txt{
    font-size: 19px;
    font-weight: 400;
    margin-bottom: 15px;
}

.unlock-txt-small{
    font-size: 14px;
    font-weight: 400;
    margin-top: 10px;
}



#essayWrapper img{
    max-width: 60%;
    height: auto;
    margin: 50px auto;
}

._upgradetoPremium {
    background-color: #ff3500;
    color: #ffffff;
    width: 300px;
    margin: auto;
    padding: 5px 0px;
    cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}


/**************************************/

#admitseeMessageModal{
    text-align: center;
    display: none;
}
#admitseeMessageModal p{
    color: #797979;
    text-align: center;
    margin: 32px auto;
}

#admitseeMessageModal .insufficientfunds-error{
    position: relative;
}
#admitseeMessageModal .join-premium{
    cursor: pointer;
    color: #ffffff;
    background-color: #FF5C11;
    display: inline-block;
    padding: 2px 21px;
    border-radius: 6px;
    margin-top: 20px;
    margin-left: 5px;
    font-size: 17px;
}

#admitseeMessageModal .close-reveal-modal, .reveal-modal .close-reveal-modal{
    margin-top: 20px;
    display: inline-block;
    position: absolute;
    right: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
    color: #797979 !important;
    font-size: 26px !important;
    background: transparent;
}

#unlockajaxLoader{
    position: absolute;
    left: 49%;
}

@media all and (max-width: 740px){
    #admitseeMessageModal{
        max-width: 80%;
        width: 80% !important;
        position: relative;
        margin: 0 auto;
    }
}

@media all and (max-width: 641px){

    .admitsee-box{
        background-color: #ffffff !important;
        padding: 10px;
    }

    .admitsee-inner-cont{
        padding: 10px;
    }

    #essayWrapper img{
        max-width: 90%;
        margin: 30px auto;
    }

}


