/*advancedStudentSearch.css*/

/********* upload prescreen button ******/
.upload-prescreen-btn{
	color: #ffffff;
	background-color: #2AC56C;
	border-radius: 5px;
	font-size: 13px;
	font-weight: 600;
	padding: 10px;
	font-weight: 600;
	margin: 5px 0px;
}

#upload_prescreen_modal{
	width: 650px;
}


#upload_prescreen_modal .fixed-col{
	width: 140px;
}

#upload_prescreen_modal .update-title{
	font-size: 18px;
	padding-bottom: 20px;
	color: #222222;
}

#upload_prescreen_modal .cancel-upload-p-btn{
	font-family: 'Open Sans', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	cursor: pointer;
	font-size: 16px;
	color: #797979;
	font-weight: 100;
	padding: 3px 20px;
}

#upload_prescreen_modal .upload-files-btn input[type="submit"]{
	color: #ffffff;
	background-color: #FF5C26;
	border-radius: 3px;
	border: none;
	padding: 5px 23px;
}

/************ add colleges button *******/
.add-college-matches-btn{
	cursor: pointer;
	display: inline-block;
	width: 90px;
	text-align: center;
	color: #ffffff;
	margin-left: 6px;
	padding: 2px 16px;
	border-radius: 5px;
	font-weight: 600;
	font-size: 12px;
}

.opened-color{
	background-color: #797979;
}
.closed-color{
	background-color: #2AC56C;
}

.college-add-btn{
	
}
.college-close-btn{
	display: none;
}

/********* add college match modal ************/

.college-search-container{
	margin-top: 5px;
	margin-bottom: 7px;
}
.collegeSearch{
	color: #cccccc !important;
	width: 100%;
	margin-left: -7px;
	border-top: none !important;
	border-right: none !important;
	border-left: none !important;
	border-bottom: 2px solid #cccccc !important;
	font-size: 15px;
	box-shadow: none !important;
}

.add_college_modal{
	display: none;
}

.add-modal-container{
	width: 490px;
	height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 11px 30px 30px 30px;
	border: .5px solid #e0e0e0;
	border-radius: 10px;
	box-shadow: 5px 8px 10px rgba(0,0,0,.1);
	overflow: none;
}

.add-college-loader{
	margin: auto;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #555;
    border-bottom: 3px solid #555;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

.add-modal-container fieldset{
	padding: 0px;
	margin: 0px;
	border: none;
}

.underline-box{
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	color: #9c9c9c;
	width: 100%;
	padding-bottom: 3px;
	border-bottom: 2px solid #cccccc;

}

.college-listing-cont{
	cursor: pointer;
	height: 70px;
	padding: 10px 0px;
	overflow: hidden;
	margin-left: -8px !important;
	margin-right: -7px !important;
}
.green-h:hover,
.green-h:active,
.green-h:focus{
	background-color: #2AC56C;
	border-radius: 3px;
} 

.college-listing-cont:hover > *,
.college-listing-cont:active > *,
.college-listing-cont:focus > *{
	color: #ffffff;
}

.college-icon-cont{
	height: 60px;
}

.college-icon-cont img{
	display: block;
	position: relative;
	margin: 0px auto;
	height: auto;
	max-width: 99%;
	width: auto;
	max-height: 99%;
}

.college-desc-cont{
	overflow: hidden;

}
.match-college-name{
	line-height: 1.5em;
	font-size: 18px;
	color: #797979;
}
.match-college-place{
	font-size: 11px;
	color: #9e9e9e;
}

/********* add college - select portal modal step 2/3 **/
.s2, .s3{
	display: none;
}

.big-gray-title{
	color: #797979;
	font-size: 20px;
	font-weight: 600;
	margin-bottom: 12px;
}

.portals-radio-container, .buckets-radio-container{
	padding-left: 2em;
	margin-bottom: 30px;
	min-height: 90px;
	overflow: auto;
}

.portals-radio-container input[type='radio'], .buckets-radio-container input[type='radio']{
	margin-right: 3px;
}

.portals-radio-container label, .buckets-radio-container label{
	animation: _fadeInRight 0.3s;
}

.portals-radio-container label:hover, .buckets-radio-container label:hover{
	opacity: 0.7;
}

@keyframes _fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}	

.add-college-btn, .select-portal-btn{
	position: absolute;
	left: 360px;
	bottom: 12px;
	background-color: #2AC56C;
	color: #ffffff;
	font-size: 12px;
	float: right;
	padding: 6px 18px;
	border-radius: 3px;
}
.add-college-btn:after, .select-portal-btn:after{
	content: '';
	clear: both;
	height: 0px;
	width: 0px;
}

.back-to-colleges-btn, .back-to-portals-btn{
	position: absolute;
	left: 36px;
	bottom: 32px;
	cursor: pointer;
	font-size: 11px;
	text-decoration: underline;
}


.bottom-row{
	position: relative;
}


/****************/


[id*="student-search"] > #topAlertContainer{
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

[id*="student-search"] > .row.student-search-container{
	max-width: 100%;
	width: 100%;
}

.bord{
	border: thin solid red;
}

.student-search-container .column.search-sidebar-container,
.student-search-container .column.search-results-container{
	height: 100%;
}

@media only screen and (max-width: 40em) {
	.student-search-container .directions p {
		font-size: 12px;
		margin-bottom: 0px;
		color: #797979;
	}
}
@media only screen and (min-width: 40.063em) {
	.student-search-container .directions p {
		font-size: 14px;
		margin-bottom: 0px;
		color: #797979;
	}
}

.student-search-container .directions h4 {
	color: #797979;
	padding-left: 20px;
	padding-top: 20px;
	font-weight: 300;
}

.student-search-container .directions h4 span {
	font-weight: 500;
}
/*search side nav styles*/
.student-search-container .search-filter-form{
	display: none;
}

.student-search-container .side-nav li.search-tab{
	background-color: #eee;
	border-radius: 2px;
	position: relative;
}

li.search-tab.dekcol{
	cursor: not-allowed;
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none;   /* Chrome/Safari/Opera */
	-khtml-user-select: none;    /* Konqueror */
	-moz-user-select: none;      /* Firefox */
	-ms-user-select: none;       /* IE/Edge */
 	user-select: none;           
}

li.search-tab.dekcol > a{
	pointer-events: none;
	cursor: not-allowed;
}

li.search-tab > .lock{
	width: 12px;
	height: 16px;
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/locked.png');
	position: absolute;
	top: 8px;
	left: 7px;
	border-bottom: initial;
}

li.search-tab.dekcol > .lock{
	display: block;
}

.student-search-container .side-nav li > a:not(.button){
	padding: 0.4375rem 0 0.4375rem 1.5rem;
}

.student-search-container .side-nav li > a:not(.button),
.student-search-container .side-nav li > a:not(.button):hover,
.student-search-container .side-nav li > a:not(.button):focus{
	color: #797979;
	font-weight: 600;
}
.student-search-container .side-nav li > a.active:not(.button){
	background-color: rgba(0, 0, 0, 0.1);
}

.search-tab .change-icon{
	color: #26b24b;
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 20px;
	font-weight: 600;
}

.student-search-container .back-to-dash{
	padding: 20px 0px 10px;
}

.student-search-container .back-to-dash > a{
	color: #797979;
}

.student-search-container .button.filt-btn:not(.clear-search-filter-btn){
	padding: 7px 20px;
	border-radius: 1px;
	background-color: #4d4d4d;
	margin: 0 5px 5px 0;
}

.button.filt-btn.save-search-btn{
	background-color: #3F8CCB;	
}

.button.filt-btn.clear-search-filter-btn{
	background-color: transparent;
	text-decoration: underline;
	color: #797979;
	padding: 0;
	font-size: 14px;
	text-align: left;
	margin-top: 1em;
}

.button.filt-btn.update-search-filter-btn:hover{
	background-color: #eee;
	color: #4d4d4d;
}

.button.filt-btn.save-search-filter-btn:hover{
	background-color: #eee;
	color: #3F8CCB;
}

.cleared-msg{
	color: #797979;
	font-size: 11px;
	clear: both;
	margin: 0 0 10px 0;
	display: none;
}

.student-search-container .search-filter-form{
	padding: 5px;
	/*background-color: #fff;
	border: 1px solid #eee;*/
}

.student-search-container .tag-list{
	margin-bottom: 15px;
}

.student-search-container .tag-list .tag{
	background-color: #fff;
	border-radius: 2px;
	margin: 2px 4px 2px 0;
	padding: 0 5px;
	box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
	font-size: 13px;
	color: #797979;
}

.student-search-container .tag-list .tag .remove-tag{
	padding-left: 5px;
	cursor: pointer;
}
.student-search-container .tag-list .tag .remove-tag:hover{
	font-weight: 600;
}

.student-search-container .xclude-toggle{
	text-decoration: underline;
}

.student-search-container .side-nav label, .student-search-container .side-nav .s-label, .search-results-container label{
	color: #797979;
}

.student-search-container .side-nav .s-label:not(.filt){
	font-weight: 600;
}

.student-search-container .side-nav .component.hidden,
.student-search-container .side-nav .component .select-container.hidden,
.student-search-container .full-profile-container.hidden,
.student-search-container .search-filter-form .error-msg.hidden, 
.student-search-container .load-more-wrapper.hidden,
.hidden{
	display: none;
}

.student-search-container .search-filter-form .error-msg{
	color: #FF5C26;
	margin-bottom: 10px;
}

.student-search-container #displayOption {
	width: 31%;
}

/*search results styles */
.student-search-container .directions .column{
	color: #797979;
	padding: 15px 10px 25px;
}

.student-search-container .resulting-students,
.student-search-container .results-header{
	border-bottom: 1px solid #ddd;
}

/*.student-search-container .resulting-students .column,*/
.student-search-container .results-header .column{
	overflow: hidden;
	text-overflow: ellipsis;  
	white-space: nowrap;
}

.student-search-container .resulting-students .column,
.student-search-container .results-header .column{
	color: #797979;
	font-size: 14px;
}

.student-search-container .resulting-students{
	padding: 10px 5px 9px;
}

.student-search-container .results-header{
	padding: 10px 5px 5px;
	font-weight: 600;
}

.student-search-container .resulting-students input[type="checkbox"].student-result,
.student-search-container .side-nav input[type="radio"]{
/*.full-profile-container textarea - Removed from selector, caused last edit timer misalignment */
	margin-bottom: 0;
} 
.student-search-container .resulting-students.selected{
	background-color: #eee;
}

.student-search-container .resulting-students > .column.name{
	cursor: pointer;
}

/*arrow column*/
.student-search-container .arrow-col, .student-search-container .mobile-search-filter-nav-toggler{
	cursor: pointer;
	width: 65px;
}


.student-search-container .mobile-search-filter-nav-toggler{
	color: #797979;
	background-color: #F6F6F6;
	font-size: 18px;
	padding: 10px;
}

.student-search-container .mobile-search-filter-nav-container.isOpen{
	/*background-color: #F6F6F6;*/
}

.student-search-container .arrow-col .arrow, .student-search-container .mobile-search-filter-nav-toggler .arrow{
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-top: 7px solid #797979;
	margin-top: 7px;
}

.student-search-container .mobile-search-filter-nav-toggler .arrow{
	margin-left: 10px;
	margin-top: 8px;
}

@keyframes mymove {
  0%   {
 	-ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
    transform: rotate(0deg);
  }
  100% {
  	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
  }
}

.student-search-container .arrow-col .arrow.rotate, .student-search-container .mobile-search-filter-nav-toggler .arrow.rotate{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
    transform: rotate(180deg);
}

/*recruit btn*/
.student-search-container .recruit-student-btn{
	background-color: #FF5C26;
	color: #fff;
	cursor: pointer;
	padding: 1px 0;
}
.student-search-container .recruit-student-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.student-search-container .addpending-student-btn{
	background-color: #4B0082;
	color: #fff;
	cursor: pointer;
	padding: 1px 0;
}
.student-search-container .addpending-student-btn:hover{
	background-color: #eee;
	color: #4B0082;
}

.student-search-container .addhandshake-student-btn{
	background-color: #228B22;
	color: #fff;
	cursor: pointer;
	padding: 1px 0;
}
.student-search-container .addhandshake-student-btn:hover{
	background-color: #eee;
	color: #228B22;
}

.student-search-container .recruit-student-btn.already-recruited{
	background-color: #333;
	cursor: default;
}
.student-search-container .recruit-student-btn.already-recruited:hover{
	background-color: #333;
	cursor: default;
	color: #fff;
}

.student-search-container .resulting-students > .column:not(.full-profile-container){
	text-overflow: ellipsis;
	/*white-space: nowrap;*/
	overflow: hidden;
}

/*full profile view - Superseded by advancedStudentSearchProfile.css */
/*.student-search-container .full-profile-container{
	background-color: #fff;
	margin-top: 8px;
	border-radius: 1px;
	border: 1px solid #eee;
}

.full-profile-container .outer-row{
	padding: 8px 5px 7px;
}

.full-profile-container .custom-row, .full-profile-container .right-custom-row{
	padding: 0 0 15px 0;
}

.full-profile-container .custom-row .left{
	padding: 0 20px 0 0;
}

.full-profile-container .single-doc{
	padding: 5px 10px 5px 0;
}

.full-profile-container .doc-name{
	padding: 0 0 0 5px;
}

.full-profile-container .doc-name .options{
	line-height: 15px;
}

.full-profile-container .doc-icon{
	width: 27px;
	height: 35px;
	margin-top: 4px;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_25x32.png) no-repeat;
}

.full-profile-container .doc-icon.transcript{
	background-position: 0 0;
}
.full-profile-container .doc-icon.toefl{
	background-position: 0 -36px;
}
.full-profile-container .doc-icon.ielts{
	background-position: 0 -72px;
}
.full-profile-container .doc-icon.financial{
	background-position: 0 -109px;
}
.full-profile-container .doc-icon.resume{
	background-position: 0 -145px;
}
.full-profile-container .doc-icon.passport{
	background-position: 0 -280px;
}
.full-profile-container .doc-icon.essay{
	background-position: 0 -245px;
}
.full-profile-container .doc-icon.other{
	background-position: 0 -318px;
}
.full-profile-container .doc-icon.prescreen_interview{
	background-position: 0 -178px;
} 
*/

.resulting-students .uploaded-docs-thumb{
	width: 15px;
	height: 20px;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_15x20.png) no-repeat;
}

.resulting-students ul.uploaded-docs-list{
	font-size: 14px;
	line-height: 0;
}
.resulting-students .uploaded-docs-list li{
	display: inline-block;
}

.resulting-students .uploaded-docs-thumb.transcript{
	background-position: 0 0;
}
.resulting-students .uploaded-docs-thumb.toefl{
	background-position: -19px 0;
}
.resulting-students .uploaded-docs-thumb.ielts{
	background-position: -38px 0;
}
.resulting-students .uploaded-docs-thumb.financial{
	background-position: -57px 0;
}
.resulting-students .uploaded-docs-thumb.resume{
	background-position: -76px 0;
}
.resulting-students .uploaded-docs-thumb.passport{
	background-position: -157px 0;
}
.resulting-students .uploaded-docs-thumb.essay{
	background-position: -137px 0;
}
.resulting-students .uploaded-docs-thumb.other{
	background-position: -177px 0;
}
.resulting-students .uploaded-docs-thumb.prescreen_interview{
	background-position: -97px 0;
}

/*.full-profile-container .college-img{
	border: 2px solid #ddd;
	width: 80px;
	height: 80px;
	margin: 0 auto 10px;
	border-radius: 100px;
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}

.full-profile-container .profile-img{
	width: 100%;
	height: 60px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
}

.full-profile-container .college-name{
	padding: 0 5px;
	height: 60px;
	overflow: hidden;
}

.full-profile-container .college-name > a > span{
	color: #797979;
	cursor: pointer;
	font-weight: 100;
	border-bottom: none;
	white-space: normal;
	height: 37px;
	overflow: hidden;
}

.full-profile-container .college-views{
	color: #26b24b;
	font-weight: 600;
	padding: 5px 0;
}

.full-profile-container .requested-by .head{
	padding: 5px 0;
}

.full-profile-container .your-college{
	background-color: #ddd;
}

.full-profile-container .your-competitor{
	position: relative;
}

.full-profile-container .owl-arrow{
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15px;
	cursor: pointer;
	z-index: 1;
	display: none;
}

.full-profile-container .owl-right{
	right: 3px;	
}

.full-profile-container .owl-left{
	left: 3px;	
}

.full-profile-container .owl-arrow div{
	height: 0;
	width: 0;
	position: absolute;
	top: 40%;
}

.full-profile-container .owl-arrow.owl-left div{
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #797979;
}

.full-profile-container .owl-arrow.owl-right div{
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #797979;
}

*/

/*load more button */
.search-results-container .load-more-container{
	margin-bottom: 20px;
	padding: 20px 0 0;
	font-size: 14px;
	font-weight: 600;
}
.search-results-container .load-more-container a{
	color: #FF5C26;
	font-size: 14px;
	font-weight: 600;
}
.search-results-container .load-more-container h5{
	color: #797979;
	font-size: 14px;
	font-weight: 400;
	padding-top: 10px;
}
.search-results-container .load-more-container h5 span {
	font-weight: 600;
}
.search-results-container .load-more-wrapper{
	width: 50%;
	/*margin: 0 auto;*/
	border-radius: 2px;
	background-color: #eee;
	padding: 12px;
}

.load-more-wrapper .no-results{
	color: #797979;
}





/*ajax loader*/
.search-results-container .ss-ajax-loader,
.posting-manage-students-ajax-loader {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 1010;
}

.search-results-container .ss-ajax-loader svg,
.posting-manage-students-ajax-loader svg {
	position: absolute;
	top: 50%;
}

/* save_template_name*/
#save-filter-template-modal {
	padding: 10px 20px 20px;
	max-width: 30em;
}
#save-filter-template-modal label {
	font-size: 18px;
}

#save-filter-template-modal .save-filter-template-btn {
	background-color: #FF5C26;
	color: #fff;
	border-radius: 2px;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	font-weight: 600;
	cursor: pointer;
} 

#save-filter-template-modal .save-filter-template-btn:hover {
	background-color: #fff;
	color: #FF5C26;
}
/*upgrade account modal*/
#upgradeToRecruit_modal .upgrade-text{
	color: #797979;
	font-size: 30px;
	padding: 5px 5px 40px;
}

.upgrade-or-no-row .column > div{
	color: #fff;
	padding: 10px;
	border-radius: 2px;
}

.upgrade-or-no-row .column .upgrade{
	background-color: #FF5C26;
}
.upgrade-or-no-row .column .upgrade:hover{
	background-color: #eee;
	color: #FF5C26;
	font-weight: 600;
}

.upgrade-or-no-row .column .think-about-it{
	background-color: #797979;
}
.upgrade-or-no-row .column .think-about-it:hover{
	background-color: #eee;
	color: #797979;
	font-weight: 600;
}

#recruit_more_modal .mailto-wrapper{
	color: #797979;
	font-size: 20px;
}

#recruit_more_modal .mailto-wrapper .msg{
	font-size: 24px;
	margin-bottom: 10px;
}

#recruit_more_modal .got-it-btn{
	background-color: #FF5C26;
	color: #fff;
	font-size: 20px;
	padding: 10px;
	margin-top: 30px;
}
#recruit_more_modal .got-it-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}


/*upgrade to premier styling*/
.upgrade-to-premier-msg{
	color: #797979;
	padding-bottom: 10px;	
}

.upgrade-to-premier-msg span{
	color: #FF5C26;	
	text-decoration: underline;
}
/*upgrade to premier styling*/


/*filter crumbs styling*/
.filter-crumbs-container{
	color: #797979;
}

.row.results-per-page-container{
	padding-top: 10px;
}

.row.results-per-page-container .upgradeToPremier {
	font-size: 15px; 
	color: #797979; 
	padding-left: 30px
}

ul.filter-crumb-list{
	margin: 0;
}

.filter-crumb-list li{
	margin: 0 0 5px 0 !important;
}

.filter-crumb-list .section, .filter-crumb-list .tag{
	font-size: 12px;
	font-weight: 600;
}

.filter-crumb-list .tag{
	background-color: #3F8CCB;
	border-radius: 1px;
	color: #fff;
	margin: 0 5px 2px 0;
	padding: 0 5px 1px;
}

.tag .include, .tag .exclude, .filter-crumb-list .section{
	padding: 0 5px 0 0;
}

.filter-crumb-list .section{
	text-transform: capitalize;
}

.tag .include{
	color: green;
}

.tag .exclude{
	color: red;
}

.tag .remove{
	padding: 0 0 0 5px;
	cursor: pointer;
}


/*small only*/
@media only screen and (max-width: 40em) {
	.full-profile-container .requested-by .column.your-college{
		border: 2px solid #ddd;
		border-radius: 2px 0 0 2px;
	}

	.full-profile-container .requested-by .column.your-competitor{
		border-top: none;
		border-right: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		border-left: 2px solid #ddd;
		border-radius: 0 2px 2px 0;
	}

	.full-profile-container .custom-row .interestedin{
		padding: 0 0 15px 0;
	}

	.search-results-container .ss-ajax-loader svg{
		left: 45%;
	}

	.student-search-container .recruit-student-btn.already-recruited{
		font-size: 12px;
	}

	#upgradeToRecruit_modal, #recruit_more_modal{
		width: 100%;
		max-width: 100%;
		padding: 5px 5px 20px;
	}

	.upgrade-or-no-row .column .upgrade{
		margin-bottom: 20px;
	}

	.search-results-container .load-more-wrapper{
		width: 80%;
	}
}


/*medium up*/
@media only screen and (min-width: 40.063em){
	[id*="student-search"] > .row.student-search-container{
		position: absolute;
		top: 77px;
		left: 0;
		right: 0;
		bottom: 0;
	}

	/*ff only styles*/
	@-moz-document url-prefix(){ 
		[id*="student-search"] > .row.student-search-container{
			position: absolute;
			top: 83px;
			left: 0;
			right: 0;
			bottom: 0;
		}
	}

	[id*="student-search"] > .row.student-search-container.chat-now-bar-isVisible{
		top: 120px;
	}

	.student-search-container > div{
		display: inline;
	}

	.student-search-container .search-sidebar-container{
		width: 20%;
	}

	.student-search-container .search-results-container{
		width: 80%;
	}

	.student-search-container .search-sidebar-container,
	.student-search-container .search-results-container{
		overflow-y: auto;
		overflow-x: hidden;
		box-shadow: 7px -3px 7px -6px #797979;
	}

	.student-search-container .search-sidebar-container::-webkit-scrollbar,
	.student-search-container .search-results-container::-webkit-scrollbar{
		width: 10px;
	}

	/*the up/down arrows of the scrollbar*/
	.student-search-container .search-sidebar-container::-webkit-scrollbar::-webkit-scrollbar-button,
	.student-search-container .search-results-container::-webkit-scrollbar::-webkit-scrollbar-button{
		background-color: #eee;
		height: 0;
	}

	/*the scrollbar background*/
	.student-search-container .search-sidebar-container::-webkit-scrollbar-track,
	.student-search-container .search-results-container::-webkit-scrollbar-track{
		background-color: #eee;
	}

	.student-search-container .search-sidebar-container::-webkit-scrollbar-corner,
	.student-search-container .search-results-container::-webkit-scrollbar-corner{
		/*not sure*/
	}

	/* the bar that actually does the scrolling */
	.student-search-container .search-sidebar-container::-webkit-scrollbar-thumb,
	.student-search-container .search-results-container::-webkit-scrollbar-thumb{
		background-color: #bebebe;
	}

	.full-profile-container .requested-by .column.your-college{
		border: 2px solid #ddd;
		border-radius: 2px 0 0 2px;
	}

	.full-profile-container .requested-by .column.your-competitor{
		border-top: 2px solid #ddd;
		border-right: 2px solid #ddd;
		border-bottom: 2px solid #ddd;
		border-radius: 0 2px 2px 0;
	}

	#upgradeToRecruit_modal, #recruit_more_modal{
		max-width: 50em;
	}
	
} /*end of medium up*/

/*large up*/
@media only screen and (min-width: 64.063em) {
	[id*="student-search"] > .row.student-search-container{
		position: absolute;
		top: 93px;
		left: 0;
		right: 0;
		bottom: 0;
	}

	[id*="student-search"] > .row.student-search-container.chat-now-bar-isVisible{
		top: 129px;
	}
}




/****** scores ************/
.gpa.column, .sat.column, .act.column{
	width: 80px;
}


/****** country ************/
.country.column{
	width: 135px;
}


.countryName{
	position: absolute;
	top: 0px;
	left: 29px;
	max-width: 90px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}


.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat;
	margin: 5px 0px;
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zr {background-position: -48px -176px}
.flag.flag-zw {background-position: -176px -165px}



@media all and (max-width: 1292px){
	.gpa.column, .sat.column, .act.column{
		width: 60px;
	}
}

@media all and (max-width: 1119px){
	.arrow-col.column{
		width: 30px;
	}
}


#recruit_more_modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
	width: 100%;
	background-color: #797979;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
#thankyou-for-upgrading-modal .medium-centered > a.button.secondary:hover,
#recruit_more_modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary:hover{
	background-color: #eee;
	color: #797979;
}

#recruit_more_modal .upgrade-or-naw-btn-row > .column:first-child > a.button{
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	background-color: #FF5C26;
	color: #fff;
}
#recruit_more_modal .upgrade-or-naw-btn-row > .column:first-child > a.button:hover{
	background-color: #eee;
	color: #FF5C26;
}

#recruit_more_modal .contact{
	padding-bottom: 35px;
}

#thankyou-for-upgrading-modal{
	max-width: 50em;
	padding: 15px 20px 30px;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:first-child, #thankyou-for-upgrading-modal .thankyou-msg-col > div:nth-child(2){
	font-size: 28px;
	color: #0085B2;
}

#upgrade-acct-modal .upgrade-msg-row > .column{
	font-size: 28px;
	color: #797979;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
	font-size: 18px;
	color: #797979;
	padding: 20px 100px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-reveal-modal{
	color: #797979;
	font-size: 40px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-modal-x > .column > .close-reveal-modal{
	color: #797979;
	font-size: 20px;
}

#thankyou-for-upgrading-modal .medium-centered > a.button.secondary,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
	width: 100%;
	background-color: #797979;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}

.more-option{
	font-size: 0.8em;
    padding-bottom: 1em;
    padding-right: 0.5em;
    color: #797979;
    cursor: pointer;
}
#delete-filter-template-modal{
	width: 40%;
}
#delete-filter-template-modal .top-message{
    font-size: 21px;
    color: #797979;
    font-weight: bolder;
    margin-top: -15px;
}
#delete-filter-template-modal .filterName{
	color: #8A7A7A;
	font-size: 1.6em;
}
#delete-filter-template-modal .btnrow .delete-filter-template-btn{
    background-color: #FF5C26;
    color: #fff;
    border-radius: 2px;
    width: 200px;
    margin: 0 auto;
    padding: 10px 0;
    font-weight: 600;
    cursor: pointer;
}
#delete-filter-template-modal .btnrow {
	margin-top: 10px;
	margin-bottom: 10px;
}
#delete-filter-template-modal .btnrow .delete-filter-template-btn:hover{
	background-color: #fff;
	color: #FF5C26;
}
#delete-filter-template-modal .btnrow .cancel-filter-template-btn{
	padding-top: 15px;
}

.delete-filter{
	margin: 0 0 15px;
}

.delete-filter > a{
	color: #FF5C26;
	font-size: 12px;
	text-decoration: underline;
}
.delete-filter > a:hover{
	text-decoration: none;
}

select[name="savedFilters"], input#filter-by-not-recruited-ckbx, input#filter-by-not-recruited-ckbx + label{
	margin: 0;
}

input#filter-by-not-recruited-ckbx, input#filter-by-not-recruited-ckbx + label{
	vertical-align: top;	
}

input#filter-by-not-recruited-ckbx{
	width: 5%;
	margin: 2px 0 0;
}

input#filter-by-not-recruited-ckbx + label{
	font-size: 12px;
	width: 90%;
	color: #797979;
}


/* medium */
@media all and (min-width: 800px) and (max-width: 1024px){
	.gpa.column{
		width: 55px;
	}

	.student-search-container .arrow-col, .student-search-container .mobile-search-filter-nav-toggler{
		width: 30px;
	}

	.country.column{
		width: 110px;
	}
	.countryName{
		width: 60px;
	}

	.name.column{
		width: 100px;
	}
}


@media all and (min-width: 642px) and (max-width: 759px){
	.row.student-search-container{
		top: 130px !important;
	}
}


@media all and (max-width: 645px){
	#upload_prescreen_modal{
		width: 100%;
	}

}

@media all and (max-width: 1025px){
	.add-modal-container{
		width: 100%;
	}

	.match-college-name{
		font-size: 15px;
	}
	
}

@media only screen and (max-width: 360px){
	.student-search-container .mobile-search-filter-nav-toggler {
		font-size: 14px !important;
		width: 30% !important;
		margin-bottom: 10px !important;
	}
	.student-search-container .directions p {
		font-size: 11px !important;
	}
}
@media only screen and (max-width: 360px){
	.student-search-container .mobile-search-filter-nav-toggler {
		font-size: 12px !important;
	}
}
@media only screen and (max-width: 800px){
	.student-search-container .mobile-search-filter-nav-toggler {
		font-size: 14px;
		width: 30% !important;
		margin-bottom: 10px !important;
	}
	.student-search-container .directions p {
		font-size: 11px !important;
	}
	.arrow-col.column {
		width: 46px !important;
	}
	.small-6 {
		width: 46% !important;
	}
	.student-search-container .resulting-students .column, .student-search-container .results-header .column {
		font-size: 12px !important;
	}
	.inquirieWrapper {
		top: 0 !important;
	}
	.upgrade-to-premier-msg {
		font-size: 13px !important;
	}
	.student-search-container .recruit-student-btn.already-recruited, .student-search-container .recruit-student-btn {
		font-size: 9px !important;
	}
	.hidden-on-mobile{
		display: none !important;
	}
	.search-results-container .load-more-wrapper {
		float: right !important;
		margin-right: 10px !important;
	}
	.search-results-container .load-more-wrapper {
		width: 67% !important;
	}
	.student-search-container .back-to-dash {
		font-size: 13px !important;
	}
}