/* ////// agency page manage students section styling \\\\\\\ */


/******************** inquiries styling - start ************************/
.arrow{
	position: relative;
	display: inline-block;
	top: -2px;
	width:0;
	height:0;
	border-left:6px solid transparent;
	border-right:6px solid transparent;
	border-top:6px solid #000;
	margin-left: 3px;
	margin-right: 3px;
}

body[id="agency-approved"] .arrow,
/*body[id="agency-removed"] .arrow,*/
body[id="agency-pending"] .arrow{
	top: 10px;
}

.arrow.active{
	border-bottom:9px solid #000;
	border-top:none;
	top:-15px;
}

.inquirieWrapper{
	background-color: #fff;
	color: #797979;
}

.topInquiriesControls{
	padding-bottom: 30px;
	padding-top: 10px;
}

.topInquiriesControls .active{
	font-weight: bold;
	font-size: 17px;
	color: #FF7F00;
}

.inquirieWrapper h2{
	font-size: 22px;
	font-weight: normal;
	color: #797979;
}
.inquirieWrapper .filter{
	font-size: 17px;
	font-weight: normal;
	color: #797979;
}
.inquirieWrapper .filter span{
	font-weight: bold;
}

.inquirie-header-container .header-top-section{
	display: flex;
	justify-content: space-between;
}

.inquirieHeader .column{
	font-size: 14px;
	font-weight: bold;
	color: #797979;
}
.inquirieWrapper .button{
	width: 100%;
	background-color: #959595;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	padding: 5px;
	margin: 0;
	border-radius: 5px;
}

.inquirieWrapper .button.selected {
	background-color: #26B24B;
}

.messageIconArea  .ShowNA{
	display: inline-block;
}

.messageIconArea .showMessageIcon{
	display: none;
}

.messageIconArea.selected  .ShowNA{
	display: none;
}

.messageIconArea.selected .showMessageIcon{
	display: inline-block;
}

.inquirieWrapper .hiddenDropDown{
	padding: 10px 0;
	background-color: #FFF;
	color: #797979;
	cursor: default;
}
.inquirieWrapper .item{
	padding: 5px 0 5px;
}

.inquirieWrapper .green{
	color: #26B24B;
	font-weight: bold;
	font-size: 16px;
}

.inquirieWrapper .topDropdownTitleArea{
	padding-top: 20px;
	padding-bottom: 20px;
}

.inquirieWrapper .leftDropdownSplit{
	background-image: url('/images/headerGreyDots.png');
	background-position: right;
	background-repeat: repeat-y;
}

.inquirieWrapper .schoolName{
	font-size: 14px;
}
.inquirieWrapper .titlessections{
	padding-bottom: 10px;
}

.inquirieWrapper .objectiveBody{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}

.inquirieWrapper .majorBody{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}

.inquirieWrapper .otherBody{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}

.inquirieWrapper .noteBody{
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: normal;
}


.inquirieWrapper .interestedReasons li{
	font-size: 14px;
	font-weight: normal;
	padding-bottom: 5px;
}

.messageName{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
	overflow-x: hidden;
		overflow-y: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: pointer;
}

.messageGPA{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
}

.messageSAT{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
}


.messageACT{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
}

.show-for-large-up.country{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
    width: 9em !important;
    margin-right: 1em;
}

.date{
	font-weight: normal;
	font-size: 13px;
	color: #797979;
}


#uploadDocs li {
    display: inline-block;
}

.uploadDocsSpriteSmall {
	width: 15px;
	/*height: 20px;*/
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_15x20.png) no-repeat
}

.uploadDocsSpriteSmall.transcript{background-position: 0px 4px}

.uploadDocsSpriteSmall.toefl{background-position: -19px 4px}

.uploadDocsSpriteSmall.ielts{background-position: -38px 4px}

.uploadDocsSpriteSmall.financial{background-position: -57px 4px}

.uploadDocsSpriteSmall.resume{background-position: -76px 4px}

.uploadDocsSpriteLarge {
	width: 25px;
	height: 32px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_25x32.png) no-repeat
}

.uploadDocsSpriteLarge.transcript{margin-top: 22px; background-position: 0px 0;}

.uploadDocsSpriteLarge.toefl{margin-top: 22px; background-position: 0px -36px;}

.uploadDocsSpriteLarge.ielts{margin-top: 22px; background-position: 0px -72px;}

.uploadDocsSpriteLarge.financial{margin-top: 22px; background-position: 0px -109px;}

.uploadDocsSpriteLarge.resume{margin-top: 22px; background-position: 0px -145px;}

.uploadDetail{
    margin-left: 2em !important;
    margin-top: -2.5em !important;
    position: absolute;
}

.noteContainer{
	margin-top: 3em !important;
}

.flag{
	display: inline-block;
	width: 27px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAOCAYAAADez2d9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAABZ0lEQVQ4jbWTrU4lQRCFv9mUKHFFC8QIxAgE2WxWIXgEQhA8AgK5D7BixYoVPMI+AxqxD4BAoNCIEYSMuKIF4ohOBtE9P1zYZG6AMuek0qlTdaq6sq8/+v2mRklgQAI3RwgSYOBAfILf3wJHuwGRc3NkAbdMVIo6MiGUecEcEa8DvleXAo6PzTE1VnDKC8zxBCZm0ySNU408CXdHCbp/N3TXU8fbhsGG0FyQzIcum7NTmoP9sdvlsvntZGPBQeiFIA7utBd/aQ3iUMJAaTmakkAUq4SsCA8TSrACdaL585PmsCkbE7Jpo8Ox/JcnYWEn4DuBuI6EVSlOFo9RhDoQu0i9V9P+uqBNGifbNqqHx3W/9HGAF98hO7BhF/kiZa+xuv1+slhsszi83stbuQGrp7v7fnR2fmWJj+VJVLfH572ncsTDyJ/BDar15VWf55o+wWdxU9tlr2f+xvkOPjBfXX1ZbXUg74lnBn0K7vtjOwgAAAAASUVORK5CYII=)
}

.approved{
	display: inline-block;
	width: 21px;
	height: 20px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAAB+ElEQVQ4jZ3UT4iNYRTH8c+9DTKZRGMhsVHzprCQBlmIlD/zPslmyoKQZGHLRknJwp6FheRfKJR5n6KIko2df8UjKRQLsxhkLAbX4t7RndedOzNOPfX2e875ds55z3MqtVpNO8uKvBtnEXAF+1OI39vFVMrQrMhX4gCGMYS9WNDk8gaXMRfdOJlCfDouNCvyGfiEOW3TH2sfsDiFODIqVEsOW6cIhIVY/0+mWZFXsAHnjS11svYRh3Ethfiz0jPQ14W7WDVF0HssKmkv0VvFiv8APsRy7MRIk74Em6t4PUXgHWxJIX5RH7FHpftX1RTiJwy2CB5pod3EthTicFbk03DB2J80lEJ8UekZ6FuGZ6Xgo7jdON0N7SL2pBB/ZUU+HdfVH0TZ1nbgVEk8k0I8DlmRr2+UewsHU4i1rMg7cQObWwDhdKVnoG8EHU3iD/SnEGMD3J1CHGx8dyKWSi5brYpDJXEmbmZF3g9NwNl4MAHwN46PDv8u9cEvO+xLIZ7LinxeI8PeNkDqLTr99+1nRf4R81s4HsEOLJ0A+A2zU4i15l52jeN8YgJYc3wXvjYvlMeTDB7PLqUQv9K0pVKIG9W31DE8nyTonXp7tmP3qPjPkubv6NzDmjbAt1idQvxcvmgJbYAX4D5m4ar6JluH/oa2KYX4pFXsH2BRqLj35ZxcAAAAAElFTkSuQmCC)
}

.message {
	display: inline-block;
	width: 27px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAQCAYAAADnEwSWAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAAB20lEQVQ4ja3UTYjNYRTH8c/codmNJJKX8lKyMwvvJEKZLIZYsBgSC0kYZmGeEKkn0yw0FhZKmrHByAKFcmWYZjYMSzXZWMmUiZ0h1+L537puc28z3LP5L87vOd/zO//nOXWFQkEIYS9uolHt4zuOxBj76sfHx++jG71Yj3k1BL3Bdgzn8/meHPZgGLOwIQPXIrqzegUMYn8uSyzCAI6hDS0Y+0fIGFpijKewWXK3AnIloum4igd4hSYMTRE0hKYY48MQQjueYGYxmZvgwC68lca6CZ2TBHVm+i8hhF50ldefCAZLsi4PxRjPYgdGK2hH0ZzpZqMfrRMJK8GgATdCCIdjjM+ksfaXafqlsT0NIdTjOVZXKljX0dFRqAK8htNYiRF8w3kERFzGbxzHHczNgHOm6uxMjPEkduIl3mNVjPEiFmTfGXicNfUCn6Xr/mmyzn6gNcbYF0I4gFslTf3COennr8FdLCw5+0F6xJDHsmrOvmJbBjqBnjLNNFyRbuvrMhAsz6YAG/GuEuwj1sUYB0IIF1TfJE2or5BbmgEbsEV6s3/BBrEWIyGELlyqAppMFIGNaMajIuwetkpr5jra/xNUChySFvtu3M5hH35KW/9ojUDFmC85XIyDfwBoUYho8u9ZvwAAAABJRU5ErkJggg==);
	background-position: -1px 6px;
}

hr{
	padding:0;
	margin: 0;
}



.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zr {background-position: -48px -176px}
.flag.flag-zw {background-position: -176px -165px}


/* \\\\\\\\\\\\\\ full width manage students styling - start //////////////// */
body#agency-inquiries .backToTop, body#agency-approved .backToTop, 
body#agency-pending .backToTop, body#agency-recommendations .backToTop,
body#agency-removed .backToTop, body#agency-rejected .backToTop,
body#agency-leads .backToTop, body#agency-opportunities .backToTop, 
body#agency-applications .backToTop{
	display: none !important;
}

#agency-inquiries .row.inquirieWrapper, #agency-approved .row.inquirieWrapper, 
#agency-pending .row.inquirieWrapper, #agency-recommendations .row.inquirieWrapper,
#agency-removed .row.inquirieWrapper, #agency-rejected .row.inquirieWrapper,
#agency-leads .row.inquirieWrapper, #agency-opportunities .row.inquirieWrapper,
#agency-applications .row.inquirieWrapper{
	max-width: 100%;
	width: 100%;
	margin-top: -5em;
}

/*.main-managestudents-container, .main-managestudents-container > .inner-wrap,*/
.main-managestudents-container > .inner-wrap > .main-section,
.main-managestudents-container .inquirieWrapper, .inquirieWrapper .manage-student-sidebar-menu, 
.inquirieWrapper .main-manage-students-content{
	height: 100% !important;
}

.inquirieWrapper > .manage-student-sidebar-menu{
	box-shadow: 7px -3px 7px -6px #797979;
	z-index: 1;
	overflow-y: auto;
}

.inquirieWrapper > .main-manage-students-content{
	/*padding: 0;*/
}

.inquirieWrapper .sidebar-menu-header{
	font-size: 18px;
    padding: 20px 6px;
}

.inquirieWrapper .manage-student-sidebar-menu > .manage-students-tab{
	margin-top: 20px;
}

.inquirieWrapper .manage-students-tab.active{
	border-left: 5px solid #FF5C26;
}

.inquirieWrapper .manage-students-tab .cnt{
	font-size: 10px;
	margin-top: 0.5em;
}

.inquirieWrapper .manage-students-tab > .manage-tab-text > a{
	font-size: 14px;
	color: #797979;
}

.inquirieWrapper .manage-students-tab.active > .manage-tab-text{
	padding: 0 1px;
}

.inquirieWrapper .manage-students-tab.active > .manage-tab-text > a{
	color: #FF5C26;
	font-weight: 600;
}

.main-managestudents-container .agency-side-menu-tooltip-icon{
	border: 1px solid #797979;
	border-radius: 100px;
	font-size: 8px;
	font-weight: 600;
	vertical-align: middle;
	padding: 0 3px;
	cursor: pointer;
}

.main-managestudents-container .recommendation-expiration{
    color: cornflowerblue;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader{
	padding: 25px 0 10px;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader.recomm{
	padding: 25px 0 4px;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader.appr{
	padding: 10px 0 4px;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader,
.inquirieWrapper .main-manage-students-content .inquirie_row{
	border-bottom: 1px solid #ddd;
	position: relative;
}

.inquirieWrapper .main-manage-students-content .inquirie_row .pay-to-view-layer{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 7px 0 0;
	z-index: 1;
}

.inquirieWrapper .main-manage-students-content .inquirie_row .pay-to-view-layer > a{
	color: #FF5C26;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.unread{
	background-color: #fff;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.read{
	background-color: #EFEFF6;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.adv-filter-generated-recommendation{
	border-left: 10px solid #FFBF00;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.plex-generated-recommendation{
	border-left: 10px solid #BBB;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row > .messageName{
	/*padding-left: 15px;*/
	padding-top: 5px;
    margin-left: 1em;
}

.inquirieWrapper .main-manage-students-content .inquiry-name{
	padding-left: 5px;
}

.inquirieWrapper .main-manage-students-content .arrow.opened{
	-webkit-transform: rotate(180deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(180deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(180deg);  /* IE 9 */
    -o-transform: rotate(180deg);  /* Opera 10.50-12.00 */
    transform: rotate(180deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.inquirieWrapper .each-inquirie-container{
	/*height: 60%;*/
	overflow-x: hidden;
	overflow-y: scroll;
	border-bottom: 1px solid #ddd;
}

.inquirieWrapper .remove-student-col{
	cursor: pointer;
	font-weight: 600;
	line-height: 25px;
}

.inquirieWrapper .restore-student-col{
	cursor: pointer;
	font-weight: 600;
	background-image: url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/restore-button.png");
	background-repeat: no-repeat;
    margin-left: 1.4em;
}

.inquirieWrapper .restore-student-col{
	cursor: pointer;
	font-weight: 600;
	background-image: url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/restore-button.png");
	background-repeat: no-repeat;
    margin-left: 1.4em;
}

.inquirieWrapper .name-col{
	padding-left: 16px;
}

.inquirieWrapper .pending-msg-and-pagination-row{
	padding: 15px 10px 0;
	color: #000;
	font-size: 14px;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn{
	background-color: #eee;
	border-radius: 1px;
	padding: 11px 10px;
	color: #797979;
	font-size: 11px;
	font-weight: 600;
	width: auto;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn.recommendation{
	background-color: #0085B2;
	color: #fff;
}


.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content{
	float: left;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content:first-child{
	margin-right: 7px;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content:last-child{
	margin-top: 2px;
}

.inquirieWrapper .added-to-pending-msg{
	color: #FF5C26;
}

/*your school and competition*/
.inquirieWrapper .student-profile-pane{
	margin-top: 5px;
}

.student-profile-pane .your-college-content{
	padding: 10px 0;
}

.student-profile-pane .your-competitor-content{
	padding: 0 0 10px;
}

.student-profile-pane .page-views{
	font-weight: 600;
	color: #26b24b;
}

.student-profile-pane .college-competitor-name{
	padding: 15px;
}

.student-profile-pane .college-competitor-name > a{
	color: #797979;
}

.student-profile-pane .your-college-section{
	border: 2px solid #ddd;
	border-radius: 3px 0 0 3px;
}

.student-profile-pane .your-competition-section{
	border: 2px solid #ddd;
	border-radius: 3px;
	background-color: #fff;
	position: relative;
}

.student-profile-pane .your-competition-section.section-with-no-competition{
	background-color: transparent;
	border: none;
}

.student-profile-pane .your-competition-section, .student-profile-pane .your-college-section{
	padding: 10px 0 20px;
}

.student-profile-pane .also-recruited-by-header{
	padding: 10px 6px;
}

.student-profile-pane .competition-school-logos, .student-profile-pane .your-college-logo{
	width: 100px;
	height: 100px;
	border-radius: 100px;
}

.student-profile-pane .college-logos-background{
	background-size: 75%;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #fff;
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 0 auto;
	border: thin solid #ddd;
}

.student-profile-pane .no-competition{
	color: #797979;
	font-size: 30px;
	padding: 40px 0;
}

.student-profile-pane .competition-school-logos{
	border: 1px solid #ddd;
}

.student-profile-pane .competitor-arrow{
	border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #797979;
    height: 0;
    width: 0;
    cursor: pointer;
}

.student-profile-pane .competitor-carousel-arrow{
	position: absolute;
	top: 18%;
	display: block;
    z-index: 2;
}

.student-profile-pane .competitor-carousel-arrow.rightarrow{
	right: 0;
	-webkit-transform: rotate(270deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(270deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(270deg);  /* IE 9 */
    -o-transform: rotate(270deg);  /* Opera 10.50-12.00 */
    transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.student-profile-pane .competitor-carousel-arrow.leftarrow{
	left: 0;
	-webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.student-profile-pane .student-profile-headers{
	font-weight: 600;
}

.student-profile-pane .row-of-student-profile{
	padding-top: 30px;
}
.student-profile-pane .row-of-student-profile .scores{
	padding-bottom: 1em;
}

.student-profile-pane .personal-students-notes-column{
	border-left: 2px dotted #ddd;
	padding-left: 10px;
}

.student-profile-pane .textarea-col{
	position: relative;
}

.student-profile-pane .textarea-col > .last-saved-note-time{
    bottom: 0;
    font-size: 10px;
    position: absolute;
}

.student-profile-pane .save-note-ajax-loader{
	position: absolute;
	bottom: 50%;
	width: 100%;
	display: none;
}

/*agency mobile nav btn*/
.main-managestudents-container .mobile-agency-nav-btn.left-off-canvas-toggle{
	color: #797979;
	padding: 20px 4px 10px;
}

/*agency mobile nav menu*/
.main-managestudents-container .left-off-canvas-menu{
	background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li a{
	color: #797979;
	border-bottom: none;
	border-left: 5px solid transparent
}

.main-managestudents-container ul.off-canvas-list li a:hover{
	background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li > a.active{
	color: #FF5C26;
	border-left: 5px solid #FF5C26;
}

.main-managestudents-container ul.off-canvas-list li label{
	background-color: #fff;
	border-top: none;
}



/*upgrade account modals - start*/

/*agency action bar */
.agency-main-dash-container > .column.agency-action-bar-container:first-child{
	z-index: 1;
	padding: 20px 35px 0;
}

.agency-action-bar-container .action-bar-btn{
	background-color: #eee;
	border-radius: 1px;
	padding: 7px 10px 10px;
	color: #797979;
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 0;
}
.agency-action-bar-container .action-bar-btn:hover, .agency-action-bar-container .action-bar-btn:focus{
	color: #797979;	
	background-color: #eee;
}

#thankyou-for-upgrading-modal{
	max-width: 50em;
	padding: 15px 20px 30px;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:first-child, #thankyou-for-upgrading-modal .thankyou-msg-col > div:nth-child(2){
	font-size: 28px;
	color: #0085B2;
}

#upgrade-acct-modal .upgrade-msg-row > .column{
	font-size: 28px;
	color: #797979;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
	font-size: 18px;
	color: #797979;
	padding: 20px 100px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-reveal-modal{
	color: #797979;
	font-size: 40px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-modal-x > .column > .close-reveal-modal{
	color: #797979;
	font-size: 20px;
}

#thankyou-for-upgrading-modal .medium-centered > a.button.secondary,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
	width: 100%;
	background-color: #797979;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
#thankyou-for-upgrading-modal .medium-centered > a.button.secondary:hover,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary:hover{
	background-color: #eee;
	color: #797979;
}

#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button{
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	background-color: #FF5C26;
	color: #fff;
}
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button:hover{
	background-color: #eee;
	color: #FF5C26;
}

#upgrade-acct-modal .filter-intro-container{
	background-color: #fff;
	padding: 10px 0 20px;
	color: #797979;
}

#upgrade-acct-modal .filter-intro-step{
	border-radius: 3px;
	background-color: #ECECFB;
	box-shadow: 1px 1px 5px 0px #797979;
}

#upgrade-acct-modal .filter-intro-step > div:first-child{
	font-size: 45px;
	font-weight: 600;
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:nth-child(2){
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:last-child{
	padding: 20px;
	font-size: 15px;
}
/*upgrade acct modals - end */




/******************* Recommendation Filter - start *******************/
.pending-msg-and-pagination-row .recomm-top-row{
	float: left;
	margin-right: 12px;
}

.pending-msg-and-pagination-row .recomm-color-key-container{
	overflow: auto;
	width: auto;
	height: auto;
}

.recomm-color-key-container .color-key-box{
	width: 15px;
	height: 15px;
	display: inline-flex;
	margin-right: 5px;
}

.recomm-color-key-container .key-row:first-child .color-key-box{
	background-color: #FFBF00;
}

.recomm-color-key-container .key-row:last-child .color-key-box{
	background-color: #BBB;
}

.recomm-color-key-container .color-key-text{
	color: #797979;
	font-size: 12px;
	vertical-align: text-top;
}
/******************* Recommendation Filter - end *******************/


/*** custom scrollbar ***/

/*entire scrollbar container*/
.main-managestudents-container .each-inquirie-container::-webkit-scrollbar,
.inquirieWrapper .manage-student-sidebar-menu::-webkit-scrollbar{
	width: 12px;
}

/*the up/down arrows of the scrollbar*/
.main-managestudents-container .each-inquirie-container::-webkit-scrollbar-button,
.inquirieWrapper .manage-student-sidebar-menu::-webkit-scrollbar-button{
	background-color: #eee;
	height: 0;
}

/*the scrollbar background*/
.main-managestudents-container .each-inquirie-container::-webkit-scrollbar-track,
.inquirieWrapper .manage-student-sidebar-menu::-webkit-scrollbar-track{
	background-color: #fff;
}

.main-managestudents-container .each-inquirie-container::-webkit-scrollbar-corner,
.inquirieWrapper .manage-student-sidebar-menu::-webkit-scrollbar-corner{
	/*not sure*/
}

/* the bar that actually does the scrolling */
.main-managestudents-container .each-inquirie-container::-webkit-scrollbar-thumb,
.inquirieWrapper .manage-student-sidebar-menu::-webkit-scrollbar-thumb{
	background-color: #797979;
}


/* \\\\\\\\\\\\\\ full width manage students styling - end //////////////// */



/* no more results/show more results styling */
.each-inquirie-container .load-more{
	padding: 10px 0;
	width: 50%;
	margin: 20px auto 100px;
	background-color: #eee;	
	border-radius: 2px;
}

.each-inquirie-container .load-more a{
	color: #FF5C26;
}

.manage-students-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 6;
}

.manage-students-ajax-loader svg{
	position: absolute;
	top: 50%;
}
/* no more results/show more results styling */


/*small and up*/
@media only screen and (max-width: 40em) {
	body#agency-inquiries, body#agency-approved, body#agency-pending,
	body#agency-recommendations, body#agency-removed, body#agency-rejected
	body#agency-leads, body#agency-opportunities, body#agency-applications{
		background-image: none !important;
		background-color: #fff !important;
		z-index: -2;
	}

	.inquirieWrapper .each-inquirie-container{
		/*height: 60%;*/
		overflow-x: hidden;
		overflow-y: auto;
		border-bottom: 1px solid #ddd;
	}

	.main-managestudents-container.off-canvas-wrap{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	.main-managestudents-container, .main-managestudents-container > .inner-wrap{
		position: absolute;
		top: 52px;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.main-managestudents-container, .main-managestudents-container > .inner-wrap.chat-now-bar-isVisible{
		top: 123px;
	}

	.main-managestudents-container .main-manage-students-content.column{
		position: relative;
	}

	.main-managestudents-container .each-inquirie-container{
		/*position: absolute;*/
	}

	body#agency-recommendations .main-managestudents-container .each-inquirie-container{
		top: 108px;
		bottom: 53px;
	}

	body#agency-recommendations .main-managestudents-container .pending-msg-on-recommendations{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.each-inquirie-container .load-more{
		margin: 20px auto 100px;
	}

	#agency-recommendations .each-inquirie-container .load-more{
		margin: 60px auto 100px;
	}
}


/*mobile only*/
@media only screen and (max-width: 40em){
	.student-profile-pane .dropdownbox .your-college-section{
		border: 2px solid #797979;
		border-radius: 3px 3px 0 0;
	}

	.student-profile-pane .dropdownbox .your-competition-section{
		border: 2px solid #797979;
		border-radius: 3px;
		background-color: #fff;
	}

	.student-profile-pane .student-profile-headers.personal-notes{
		padding-top: 20px;
	}

	.student-profile-pane .personal-students-notes-column{
		border: none;
		padding-left: 6px;
	}

	.student-profile-pane .mobile-no-btn{
		padding-top: 3px;
	}

	.inquirieWrapper .button{
		margin-top: 3px;
	}

	/*.inquirieWrapper .each-inquirie-container{
		height: auto;
		overflow-x: none;
		overflow-y: hidden;
	}

	.inquirieWrapper > .main-manage-students-content{
		padding: 0 5px 0 5px;
	}

	.main-managestudents-container, .main-managestudents-container > .inner-wrap,
	.main-managestudents-container > .inner-wrap > .main-section,
	.main-managestudents-container .inquirieWrapper, .inquirieWrapper .manage-student-sidebar-menu, 
	.inquirieWrapper .main-manage-students-content{
		height: auto !important;
	}

	.inquirieWrapper .main-manage-students-content .inquirieHeader{
		padding: 10px 0 10px 0;
	}*/

	/*mobile agency nav*/
	.main-managestudents-container ul.off-canvas-list li.agency-mobile-nav-item{
		position: relative;
	}

	.main-managestudents-container ul.off-canvas-list li.agency-mobile-nav-item span.agency-side-menu-tooltip-icon{
		position: absolute;
		top: 38%;
		right: 20px;
	}

	.main-managestudents-container ul.off-canvas-list li.agency-mobile-nav-item span.agency-side-menu-cnt{
		font-size: 10px;
	    position: absolute;
	    right: 45px;
	    top: 36%;
	    color: #797979;
	}

	.main-managestudents-container .agency-side-menu-tooltip-icon{
		padding: 0 4px;
	}

	/*upgrade acct modal styles*/
	#thankyou-for-upgrading-modal, #upgrade-acct-modal{
		padding: 10px;
		width: 100%;
	}

	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px 0;
	}

	#upgrade-acct-modal .filter-intro-container > .column.small-12.medium-4{
		margin-bottom: 10px;
	}

	.pending-msg-and-pagination-row .recomm-color-key-container{
		margin-top: 2px;
	}
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px;
	}
}


/*mobile and tablet only*/
@media only screen and (max-width: 64em){
	.student-profile-pane .student-profile-headers.why-interested,
	.student-profile-pane .row-of-student-profile{
		padding-top: 20px;
	}

	.student-profile-pane .also-recruited-by-header{
		padding: 20px 6px 10px;
	}

	.student-profile-pane .student-name{
		padding-top: 15px;
	}
}



/*medium and up only*/
@media only screen and (min-width: 40.063em){
	body#agency-inquiries, body#agency-approved, body#agency-pending, body#agency-recommendations
	, body#agency-removed, body#agency-rejected, body#agency-leads
	, body#agency-opportunities, body#agency-applications{
		background-image: none !important;
		background-color: #fff !important;
		z-index: -2;
	}

	.inquirieWrapper .each-inquirie-container{
		/*height: 60%;*/
		overflow-x: hidden;
		overflow-y: auto;
		border-bottom: 1px solid #ddd;
	}

	.main-managestudents-container.off-canvas-wrap{
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: -1;
	}

	.main-managestudents-container, .main-managestudents-container > .inner-wrap{
		position: absolute;
		top: 76px;
		right: 0;
		left: 0;
		bottom: 0;
	}

	.main-managestudents-container, .main-managestudents-container > .inner-wrap.chat-now-bar-isVisible{
		top: 123px;
	}

	.main-managestudents-container .main-manage-students-content.column{
		position: relative;
	}

	body#agency-recommendations .main-managestudents-container .each-inquirie-container{
		top: 108px;
		bottom: 53px;
	}

	body#agency-approved .main-managestudents-container .each-inquirie-container{
		top: 80px;
		bottom: 53px;
	}

	body#agency-recommendations .main-managestudents-container .pending-msg-on-recommendations{
		position: absolute;
		bottom: 0;
		right: 0;
		left: 0;
	}

	.inquirieWrapper .main-manage-students-content .inquirieHeader,
	.inquirieWrapper .main-manage-students-content .inquirie_row{
		border-bottom: 1px solid #ddd;
		position: relative;
	}
}



/*large and up only*/
@media only screen and (min-width: 64.063em){
	.student-profile-pane .student-profile-also-interested-in .competition-school-name-lg{
		padding: 15px 50px;
	}

	.main-managestudents-container .main-section{
		top: 16px;
		position: relative;
	}
}


/******************** inquiries styling - end ************************/



/***** applied students styling - start *****/
.inquirie_row .applied-star{
	cursor: pointer;
}

.inquirieHeader .has-tip.sm{
	border-bottom: 1px dotted #797979;
	color: #797979;
}

.inquirieHeader .has-tip.lg{
	border-bottom: initial;	
	color: #797979;
	font-size: 10px;
	padding: 0 2px;
	border: 1px solid #797979;
	border-radius: 100px;
}

.messageGPA, .date{
	padding-top: 5px;
}

#applied-student-reminder-modal{
	padding: 4px 10px 30px;
	max-width: 50em;
}

#applied-student-reminder-modal h3{
	color: #2ba6cb;
}

#applied-student-reminder-modal .reminder{
	padding: 0 15px;
}

#applied-student-reminder-modal .modal-btn{
	background-color: #FF5C26;
	color: #fff;
	font-size: 15px;
	line-height: inherit;
	border-radius: 2px;
	padding: 10px;
	font-weight: 600;
	cursor: pointer;
}

#applied-student-reminder-modal .modal-btn.remind-later-btn{
	background-color: #B8B9BA;
}

#applied-student-reminder-modal .modal-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.appr-btn-list{
	padding: 15px 0 0 16px;
}

.appr-btn-list .ms-btns, .mobile-appr-btn-list .ms-btns{
	font-size: 10px;
	color: #797979;
	background-color: #eee;
	margin-right: 10px;
	border-radius: 2px;
	font-weight: 600;
	padding: 7px;
	cursor: pointer;
}
.appr-btn-list .ms-btns:hover{
	background-color: #ddd;
}

.messageName .make-inline{
	display: inline;
}

.student-chkbx-col input[type="checkbox"]{
	margin: 5px 0 0 0;
}

/*small only*/
@media only screen and (max-width: 40em){
	#applied-student-reminder-modal{
		width: 100%;
	}

	.mobile-appr-btn-list .ms-btns{
		margin-top: 20px;
	}
}

/*large and up*/
@media only screen and (min-width: 64.063em){
	.student-chkbx-col.column, .chkbox-header-col.column{
		width: 4.33333%;
	}

	.messageName.column, .name-col.column{
		width: 20.66667%;
	}
}
/***** applied students styling - end *****/