#agency .top-bar{
    position: absolute;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.7);
}

.statistics-wrapper.monthly-stats{
	display: none !important;
}

.right-side-dashboard-top .unique-link-btn{
	text-decoration: underline;
    color: #ffffff;
    display: inline-block;
    float: right;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.right-side-dashboard-top .unique-link-btn:hover{
    cursor: pointer;
	opacity: 0.7;
}

.loader{
	margin: auto;
	margin-bottom: 0.25em;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #8c8c8c;
    border-bottom: 3px solid #8c8c8c;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1.5s linear infinite;

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

.loader.small{
    width: 20px;
    height: 20px;
}

.loader.medium{
	width: 50px;
    height: 50px;
}

/** Unique Application Link Modal **/

#unique-link-modal{
	width: 40%;
}

#unique-link-modal .unique-link-container{
	display: flex;
	justify-content: center;
}

#unique-link-modal .header{
	text-align: center;
}

#unique-link-modal .close-reveal-modal{
	float: right;
}

#unique-link-modal .copy-clipboard-btn{
	background: url(/images/agency/agency-signup-sprite-45x45.png) 0 90px;
	height: 45px;
	width: 45px;
    transform: scale(0.9);
    margin-top: -0.2em;

    /* Hover transition */
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;

    /* Active (click) transition */
    transition: transform 0.1s ease-in-out;
    -moz-transition: transform 0.1s ease-in-out;
    -webkit-transition: transform 0.1s ease-in-out;
    -o-transition: transform 0.1s ease-in-out;
}

#unique-link-modal .copy-clipboard-btn:active{
	transform: scale(1.1);
}

#unique-link-modal .copy-clipboard-btn:hover{
    cursor: pointer;
	opacity: 0.8;
}

#unique-link-modal input{
    width: 80%;
    border-radius: 3px;
}

/***/

/** Urgent Message Modal **/
#urgent-msg-modal{
	width: 40%;
}

#urgent-msg-modal h4, #urgent-msg-modal p{
	font-weight: bold;
	color: #4d4d4d;
}

#urgent-msg-modal .close-reveal-modal{
	float: right;
}

#urgent-msg-modal .submit-urgent-msg{
	float: right;
	background-color: rgb(42, 197, 108);
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
    border-radius: 3px;
}

#urgent-msg-modal .submit-urgent-msg:hover{
	opacity: 0.8;
}

/* Full screen loader */
.manage-students-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 1005;
}

.manage-students-ajax-loader svg, .matched-loading svg{
	position: absolute;
	top: 50%;
}
/**/

/***********************************************************************
 * Dashboard-top
 */
#agency_dashboard .dashboard-top{
	display: flex;
	justify-content: space-between;
    padding: 5em;
    z-index: 0;
    position: relative;
    color: #fff;
}

#agency_dashboard .dashboard-top .left-side-dashboard-top{
	font-size: 10pt;
}

#agency_dashboard .dashboard-top .left-side-dashboard-top .important-msg-container{
	margin-top: 22px;
    vertical-align: middle;
    padding: 8px 18px 8px 10px;
    border-radius: 6px;
    line-height: 20px;
    background-color: rgba(0, 0, 0, 0.6);
}

#agency_dashboard .dashboard-top .left-side-dashboard-top .important-msg-container .exclaim{
    cursor: pointer;
    display: inline-block;
    margin-right: 9px;
    margin-left: -1px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ffffff;
    text-align: center;
    vertical-align: middle;
    color: #797979;
    font-size: 14px;
    font-weight: 600;
}

#agency_dashboard .dashboard-top .left-side-dashboard-top .important-msg-container .exclaim-text{
    color: #ffffff;
    font-size: 13px;
    font-weight: 700;
}

#agency_dashboard .dashboard-top .left-side-dashboard-top .important-msg-container .send-important-msg-btn{
    cursor: pointer;
    text-decoration: underline;
    color: #2AC56C;
}

#agency_dashboard .dashboard-top .header{
    color: #fff;
}

#agency_dashboard .dashboard-top .right-side-dashboard-top{
	width: 50%;
	margin-right: -7em;
}

#agency_dashboard .dashboard-top .right-side-dashboard-top .statistics-wrapper{
	display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    margin-right: 0.5em;
}

/* dashboard statistics carousel */
.owl-carousel{
}

.owl-pagination{
	text-align: left;
}

.owl-theme .owl-controls .owl-page span {
    background-color: #fff;
    border: 0.5em solid #fff;
    opacity: 0.6;
}

.owl-theme .owl-controls .owl-page.active span {
    opacity: 1;
}


#agency #topAlertContainer{
	margin-bottom: 0;
}

#agency_dashboard{
	overflow-x: hidden;
	background-color: #EEEEEE;
}

.toggle-monthly-overall{
	display: flex;
}

.toggle-monthly-overall .stats-btn{
	margin-right: 7em;
}

.toggle-monthly-overall .stats-btn:not(.active):hover{
	opacity: 0.8;
	cursor: pointer;
}

.toggle-monthly-overall .stats-btn.active{
	text-decoration: underline;
    font-weight: bold;
}


/***/
.statistics-wrapper.monthly-stats{
    margin-top: 1em;
}

.statistics-wrapper.monthly-stats table{
	border-collapse: collapse;
	background-color: transparent;
	text-align: center;
	width: 100%;
	border: 0;
}

.statistics-wrapper.monthly-stats table tr{
	background-color: transparent;
}

.statistics-wrapper.monthly-stats table th:not(:last-child){
	border-right: solid 1px rgba(255,255,255, 0.05); 
}

.statistics-wrapper.monthly-stats table td:not(:last-child){
	border-right: solid 1px rgba(255,255,255, 0.05); 
}

.statistics-wrapper.monthly-stats table th{
	text-align: center;
	height: 3.5em;
	color: #fff;
}


.statistics-wrapper.monthly-stats table .table-header{
	color: #fff;
	background-color: rgba(0, 0, 0, 0.5);
}

.statistics-wrapper.monthly-stats table td{
	text-align: center;
	color: #fff;
}

.right-side-dashboard-top .apps-status{
	padding: 3em 1.5em;
    color: #fff;
}

.right-side-dashboard-top .apps-status .apps-status-number,
.right-side-dashboard-top .apps-status .apps-status-text{
	text-align: center;
}

.right-side-dashboard-top .apps-status .apps-status-number{
	font-size: 26pt;
}

.right-side-dashboard-top .divider{
	border-left: 1px solid #ccc;
    height: 6em;
    margin-top: 2.5em;
 }

#agency_dashboard .dashboard-top:before{
    position: absolute;
    display: block;
    height: 100%;
    min-width: 125%;
    left: 0;
    right: 0;
    background-color: #858585;
    filter: blur(4px) brightness(0.8);
    -webkit-filter: blur(4px) brightness(0.8);
    -moz-filter: blur(4px) brightness(0.8);
    -o-filter: blur(4px) brightness(0.8);
    -ms-filter: blur(4px) brightness(0.8);
    margin: -80.5px -10px -25px -23px;
    z-index: -1;
    background-image: url(/images/agency/agent-dashboard-flowers.jpg);
    background-size: 88%;
    background-position: 9px -130px;
}

/***********************************************************************/

/***********************************************************************
 * agency dashboard bottom
 */
#agency_dashboard .agency-bucket-stats-container{
	display: flex;
	justify-content: center;
    text-align: center;
	margin-top: 1em;
}

#agency_dashboard .agency-bucket-stats-container .agency-manage-students{
	margin: 7px;
}

#agency_dashboard .agency-bucket-stats .stats-container{
	color: #9F9F9F;
}

#agency_dashboard .agency-bucket-stats .stats-container.applications{
	color: #fff;
}

#agency_dashboard .agency-bucket-stats .new-number{
	font-weight: bold;
	font-size: 30px;
}

#agency_dashboard .agency-bucket-stats .total-number{
	
}

#agency_dashboard .agency-bucket-stats-container h4{
	text-align: center;
	color: #7B7B7B;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats{
    display: flex;
    justify-content: space-between;
    padding: 2.5em 5em;
    background: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats:hover{
	opacity: 0.7;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats .bucket-icon-container{
	background-color: #fff;
	border-radius: 50%;
    padding: 1.5em;
    margin-right: 2em;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats.opportunities .bucket-icon-container{
	background-color: #2BC56D;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats.leads .bucket-icon-container{
	background-color: #9F9F9F;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats.applications{
	background-color: #2BC56D;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats .bucket-icon.leads{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) 0 0;
	height: 45px;
	width: 45px;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats .bucket-icon.opportunities{
	background: url(/images/agency/agency-signup-sprite-45x45.png) 90px 0;
	height: 45px;
	width: 45px;
}

#agency_dashboard .agency-bucket-stats-container .agency-bucket-stats .bucket-icon.applications{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -45px 0;
	height: 45px;
	width: 45px;
}

/* Agency Review container */
#agency_dashboard .agency-review-container{
	display: flex;
	justify-content: center;
}

#agency_dashboard .agency-review-container > div{
    margin: 7px;
}

#agency_dashboard .agency-review-container .agency-star-container > h4{
    color: #7B7B7B;
}

#agency_dashboard .agency-review-container .review-filters{
    margin-top: 1.2em;
}

#agency_dashboard .agency-review-container .agency-star-rating{
	padding: 1.25em 6.8em;
    background: #fff;
    border-radius: 5px;
}

#agency_dashboard .agency-review-container .agency-star-rating .rating{
	padding: 1em 2.5em;
    background-color: #FFBF63;
    border-radius: 5px;
    color: #fff;
    text-align: center;
}

#agency_dashboard .agency-review-container .agency-star-rating .stars{
	display: flex;
    margin-left: -10px;
    margin-top: 0.5em;
}

#agency_dashboard .agency-review-container .agency-star-rating .stars .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
	margin-right: -1em;
}

#agency_dashboard .agency-review-container .agency-star-rating .stars .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

#agency_dashboard .agency-review-container .edit-company-profile-btn{
	text-align: center;
}

#agency_dashboard .agency-review-container .edit-company-profile-btn a{
	cursor: pointer;
	margin-top: 1em;
	color: #36C774;
	text-decoration: underline;
}

#agency_dashboard .agency-review-container .edit-company-profile-btn a:hover{
	opacity: 0.7;
}

#agency_dashboard .agency-review-container .agency-star-rating .rating .agency-star-score{
    font-size: 40px;
}

#agency_dashboard .agency-review-container .user-reviews-container .user-reviews{
    padding: 0.5em 5.1em;
    max-height: 13em;
    overflow-x: hidden;
    overflow-y: auto;
    background: #fff;
    border-radius: 5px;
}

#agency_dashboard .agency-review-container .user-reviews-container .user-reviews.loading{
	padding: 5em 19.3em;
	overflow: hidden;
}

/* Review tab */
.user-reviews .student-review{
	display: flex;
	justify-content: space-between;
	width: 31em;
}

.user-reviews .student-review .profile-picture{
	width: 10%;
}

.user-reviews .student-review .profile-picture > img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.user-reviews .review-content{
	width: 85%;
    font-size: 12px;
}

.user-reviews .review-content .name{
    font-weight: bold;
}

.user-reviews .review-content .location{
	margin-top: -1em;
	color: #B1B1B1;
}

.user-reviews .review-content .basic-info{
	display: flex;
	justify-content: space-between;
}

.user-reviews .review-content .rating-and-date{
	display: flex;
}

.user-reviews .review-content .rating-and-date .rating{
	display: flex;
	margin-top: -1.1em;
}

.user-reviews .review-content .rating-and-date .rating .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
    margin-left: -2em;
    transform: scale(0.7);
}

.user-reviews .review-content .rating-and-date .rating .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

/**/
/**********************************************************************

/***********************************************************************
 * headings
 */
#agency_dashboard #heading_wrapper{
	/*margin-top: 1em;*/
	/*margin-bottom: 1em;*/
}

#agency_dashboard #dash_title{
	font-size: 2em;
}

#agency_dashboard #dash_settings{
	line-height: 3.2em;
}

#agency_dashboard #dash_title, #agency_dashboard #dash_school_name{
	color: #797979;
}
/***********************************************************************/


/***********************************************************************
 *======================== INDICATOR STYLING ==========================*/

#agency_dashboard .dash_indicator{
	margin-bottom: 1em;
}

#agency_dashboard .indicator_feed{
	min-height: 10em;
	border-radius: 2px 2px 0 0;
}

.indicator_feed .column{
	margin-top: 0.70em;
	padding-top: 12px;
}

.indicator_feed .column span{
	color: #fff;
	font-size: 1.1em;
	line-height: 1.7em;
}

#agency_dashboard .indicator_link{
	cursor: pointer;
	text-align: center;
	padding: 1em;
	border-radius: 0 0 2px 2px;
	color: #fff;
}

#agency_dashboard .indicator_link span{
	font-size: 1.2em;
}

#agency_dashboard .indicator_link a{
	text-decoration: none;
	color: #fff;
}

/* Inquries */
#dash_inquiries .indicator_feed{
	background-color: #C93A23;
}

#dash_inquiries .indicator_link{
	background-color: #7D0301;
}

/* Chat */
#dash_chat .indicator_feed{
	background-color: #26B26B;
}
#dash_chat .indicator_link{
	background-color: #007C2D;
}

/* Messages */
#dash_messages .indicator_feed{
	background-color: #1E9E75;
}

#dash_messages .indicator_link{
	background-color: #0E794E;
}

/*dashboard header*/
#agency_dashboard .dashboard-section-headers{
	color: #797979;
	padding: 10px 4px;
	font-size: 20px
}

/*upgrade acct and expiration*/
#agency_dashboard .upgrade-acct-link-row{
	padding: 10px 6px 30px;
}

#agency_dashboard .expiration-timelimit{
	color: #fff;
	padding: 35px 0 0;
}

/*approved and recommended*/
#dash_recommended .indicator_feed{
	background-color: #DD5400; 
}
#dash_recommended .indicator_link{
	background-color: #C01C00;
}

#dash_approved .indicator_feed{
	background-color: #FC9A00;
}
#dash_approved .indicator_link{
	background-color: #F95D00;
}

/*main dash*/
#agency .row.agency-main-dash-container{
	max-width: 100%;
	width: 100%;
}

.agency-main-dash-container .supportemail{
	color: #797979;
	padding: 10px 12px;
	margin-bottom: 30px;
}

.agency-main-dash-container .managestudent-indicator-img-col{
	padding-top: 15px;
}

/*large and up*/
@media only screen and (min-width: 2560px){
	#agency_dashboard .expiration-timelimit{
		padding: 0;
	}
} 
/***********************************************************************/


/*agency action bar */
.agency-main-dash-container > .column.agency-action-bar-container:first-child{
	z-index: 1;
	padding: 20px 25px 0;
}

.agency-action-bar-container .action-bar-btn{
	background-color: #eee;
	border-radius: 1px;
	padding: 7px 10px 8px;
	color: #797979;
	font-size: 11px;
	font-weight: 600;
	margin-bottom: 0;
	margin-right: 0.5em;
}
.agency-action-bar-container .action-bar-btn:hover, .agency-action-bar-container .action-bar-btn:focus{
	color: #797979;	
	background-color: #eee;
}

.agency-action-bar-container .action-bar-btn .action-bar-content, #dash_newFeatures .set-filter-btn{
	float: left;
}

.agency-action-bar-container .action-bar-btn .action-bar-content:first-child, #dash_newFeatures .set-filter-btn:first-child{
	margin-right: 5px;
}

.agency-action-bar-container .action-bar-btn .action-bar-content:last-child{
	margin-top: 2px;
}

.agency-action-bar-container .action-bar-btn .action-bar-content img.for-agency-settings{
	width: 15px;
	height: 15px;
}

#thankyou-for-upgrading-modal{
	max-width: 50em;
	padding: 15px 20px 30px;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:first-child, #thankyou-for-upgrading-modal .thankyou-msg-col > div:nth-child(2){
	font-size: 28px;
	color: #0085B2;
}

#upgrade-acct-modal .upgrade-msg-row > .column{
	font-size: 28px;
	color: #797979;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
	font-size: 18px;
	color: #797979;
	padding: 20px 100px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-reveal-modal{
	color: #797979;
	font-size: 40px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-modal-x > .column > .close-reveal-modal{
	color: #797979;
	font-size: 20px;
}

#thankyou-for-upgrading-modal .medium-centered > a.button.secondary,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
	width: 100%;
	background-color: #797979;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
}
#thankyou-for-upgrading-modal .medium-centered > a.button.secondary:hover,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary:hover{
	background-color: #eee;
	color: #797979;
}

#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button{
	font-size: 14px;
	font-weight: 600;
	width: 100%;
	background-color: #FF5C26;
	color: #fff;
}
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button:hover{
	background-color: #eee;
	color: #FF5C26;
}

#upgrade-acct-modal .filter-intro-container{
	background-color: #fff;
	padding: 10px 0 20px;
	color: #797979;
}

#upgrade-acct-modal .filter-intro-step{
	border-radius: 3px;
	background-color: #ECECFB;
	box-shadow: 1px 1px 5px 0px #797979;
}

#upgrade-acct-modal .filter-intro-step > div:first-child{
	font-size: 45px;
	font-weight: 600;
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:nth-child(2){
	padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:last-child{
	padding: 20px;
}

/*** new feature block styles - start ***/

#dash_newFeatures .indicator-col{
	background-color: #eee;
	color: #797979;
	padding: 40px;
	border-radius: 2px;
}

#dash_newFeatures .new-feature-head, #dash_newFeatures .set-filter-btn:last-child > b{
	font-size: 11px;
	color: #797979;
}

#dash_newFeatures .new-feature-descrip{
	padding: 14px 0;
	color: #797979;
}

#dash_newFeatures .indicator_feed{
	min-height: 13.75em;
	padding: 30px 0 0 30px;
	border-radius: 2px;
	background-color: #eee;
}

#dash_newFeatures .feature-toggler-container:not(.filter){
	display: none;
}

/*** new feature block styles - end ***/

/*** first time agent layer - start ***/
#agency #first-time-agent-welcome-layer{
	position: fixed;
	background-color: rgba(255, 255, 255, 0.9);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	z-index: 8;
	padding: 220px 0 0;
}

#first-time-agent-welcome-layer .welcome-layer-inner{
	width: 300px;
	margin: 0 auto;
}

#first-time-agent-welcome-layer .welcome-layer-inner > div:first-child{
	font-weight: 600;
	font-size: 14px;
}

#first-time-agent-welcome-layer .get-started-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 1px;
	margin: 10px auto 0;
	padding: 1rem 2rem;
	transition: background-color 300ms ease-out;
	width: 180px;
}
#first-time-agent-welcome-layer .get-started-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}
/*** first time agent layer - end ***/

/*small only*/
@media only screen and (max-width: 40em){
	#thankyou-for-upgrading-modal, #upgrade-acct-modal{
		padding: 10px;
		width: 100%;
	}

	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px 0;
	}

	#upgrade-acct-modal .filter-intro-container > .column.small-12.medium-4{
		margin-bottom: 10px;
	}
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
		padding: 20px;
	}
}
.export_download_note{
	font-size: 0.875rem;
    color: #4d4d4d;
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    padding-top: 2.2em;
}