.invisibile-div{
	visibility: hidden;
    height: 50px;
    width: 10em;
}

/* Topnav bar */
.top-bar{
    background-color: #484848 !important;
}

#topnavsearch .top_search_txt{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#topnavsearch .go-btn{
    background-color: #F2F2F2;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Header */
.reporting-header{
	display: flex;
	justify-content: space-between;
	background-color: #333333;
    margin-top: -1em;
	color: #fff;
	color: #CECECE;
	padding: 2.5em;
}

.reporting-header .title h3{
	color: #CECECE;
}

.reporting-header .goal-wrapper .monthly-goals{
	display: flex;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #484848;
}

.reporting-header .goal-wrapper .monthly-goals .goal-stats{
	text-align: center;
	width: 7em;
}

.reporting-header .goal-wrapper .monthly-goals .goal-stats:not(:last-child){
    margin-right: 2.3em;
}

.reporting-header .goal-wrapper .monthly-goals .goal-stats .goal-value{
	font-size: 20px;
}

.reporting-header .goal-wrapper .monthly-goals .goal-stats > :nth-child(2){
	font-size: 14px;
	color: #CECECE;
}

.reporting-header .goal-wrapper{
	display: flex;
}

.reporting-header .goal-wrapper h5{
	color: #CECECE;
    vertical-align: bottom;
    margin-top: 1.5em;
    margin-right: 1em;
}
/**/

.reporting-wrapper table{
	border: 0;
	width: 100%;
}

.reporting-wrapper table tr:nth-child(odd){
}

.reporting-wrapper table tr:nth-child(even){
	background-color: #F0F0F0;
}

.reporting-wrapper table tr:not(:first-child){
	height: 3em;
    border-bottom: 2px solid #E8E8E8;
}

.reporting-wrapper table th{
	background-color: #000;
	color: #CECECE;
}

.reporting-wrapper table th,
.reporting-wrapper table td{
	text-align: center;
}

.reporting-wrapper table td.removed{
	color: #9B9B9B;
}

.reporting-wrapper table td .red{
	color: #C9462E;
	font-weight: bold;
	text-decoration: underline;
}

.reporting-wrapper table td .green{
	color: #65D193;
	font-weight: bold;
	text-decoration: underline;
}

.reporting-wrapper table .export-report-btn{
	display: flex;
	color: gray;
}

.reporting-wrapper table .export-report-btn.active{
	cursor: pointer;
	color: #fff;
}

.export-icon{
	background: url(/images/agency/dash-icons.png) -533px -17px;
	width: 20px;
    height: 23px;
    transform: scale(0.8);
}

.reporting-wrapper table .export-report-btn .export-text{
    margin-top: 2px;
    margin-left: 5px;
}

.loader-spinner{
	margin: auto;
	margin-bottom: 0.25em;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #8c8c8c;
    border-bottom: 3px solid #8c8c8c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

.loader-spinner.small{
	width: 25px;
	height: 25px;
}


