.hidden{
	display: none;
}

.spin-loader{
	margin: auto;
	margin-bottom: 0.25em;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #8c8c8c;
    border-bottom: 3px solid #8c8c8c;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1.5s linear infinite;

	@keyframes spin {
	    0% { transform: rotate(0deg); }
	    100% { transform: rotate(360deg); }
	}
}

.agency-profile-container{
	display: flex;
	justify-content: space-between;
	width: 60%;
	margin: auto;

}

.agency-profile-container .left-side-profile-container{
	width: 69%;
}

.agency-profile-container .right-side-profile-container{
	width: 30%;
    margin-top: 2.5em;
}

.profile-image > img{
	border-radius: 50%;
	height: 100px;
	width: 100px;
}

.basic-profile-container{
	display: flex;
	background-color: #fff;
	justify-content: space-evenly;
    padding: 1.5em 1.1em;
	border-radius: 4px;
}

.back-to-search-btn{
    padding: 0.5em 0.5em;
    margin-bottom: 0.75em;
    display: inline-block;
    border-radius: 4px;
    font-size: 12px;
    background-color: #fff;

	transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.back-to-search-btn:hover{
	cursor: pointer;
	opacity: 0.7;
}

/* Review tab */
.student-reviews-container .student-review{
	display: flex;
	justify-content: space-between;
}

.student-reviews-container .student-review .profile-picture{
	width: 10%;
}

.student-reviews-container .student-review .profile-picture > img{
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.student-reviews-container .review-content{
	width: 85%;
    font-size: 12px;
}

.student-reviews-container .review-content .name{
    font-weight: bold;
}

.student-reviews-container .review-content .location{
	margin-top: -1em;
	color: #B1B1B1;
}

.student-reviews-container .review-content .basic-info{
	display: flex;
	justify-content: space-between;
}

.student-reviews-container .review-content .rating-and-date{
	display: flex;
}

.student-reviews-container .review-content .rating-and-date .rating{
	display: flex;
	margin-top: -1.1em;
}

.student-reviews-container .review-content .rating-and-date .rating .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
    margin-left: -2em;
    transform: scale(0.7);
}

.student-reviews-container .review-content .rating-and-date .rating .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

/**/

.review-tab-span-btn{
	cursor: pointer;
}

/* Detailed profile container */
.detailed-profile-container{
	background-color: #fff;
    padding: 1.5em 2em;
	border-radius: 4px;
}

.detailed-profile-container .tab-btns-container{
	display: flex;
}

.detailed-profile-container .tab-btns-container .tab-btn{
	margin-right: 1em;
	font-size: 18px;
	cursor: pointer;
}

.detailed-profile-container .tab-btns-container .tab-btn.active{
	font-weight: bold;
	border-bottom: 2px solid #2AC46C;
}


.write-review-container .submit-review-btn{
	background-color: #2BC56D;
    color: #fff;
    padding: 0.5em;
    border-radius: 4px;
    display: inline-block;

    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.write-review-container .submit-review-btn:hover{
    cursor: pointer;
	opacity: 0.8;
}

#about-tab .about-text{
	font-size: 12px;
}

.star-review-container{
	display: flex;
	margin-left: -0.8em;
}

.star-review-container .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
	margin-right: -0.5em;
	cursor: pointer;
}

.star-review-container .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

/* End detailed profile container*/

/* Share buttons */
.share-buttons{
	margin-bottom: 0 !important;
}

.share-buttons .social_share{
	transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.share-buttons .social_share:hover{
	opacity: 0.5;
}
/* End share buttons */


.right-side-profile-container .header-text{
	color: #fff;
	font-size: 18px;
}

/* Engage Container */
.engage-container{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding-top: 1em;
	padding-bottom: 2em;
    text-align: center;
}

.engage-container .message-btn{
    background-color: #2BC56D;
    padding: 0.25em;
    font-size: 15px;
    width: 80%;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    margin-top: 1.5em;
    color: #fff;

    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.engage-container .message-btn:hover{
	cursor: pointer;
	opacity: 0.8;
}
/* End Engage Container */

/* Services Container */

.services-container{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding-top: 1em;
	padding-bottom: 2em;
    text-align: center;
}

.services-container ul li{
	color: #E1E3E4;
	text-decoration: underline;
	font-size: 14px;
}

/* End Services Container*/

/* Hours container */
.hours-container{
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 4px;
	padding-top: 1em;
	padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    text-align: center;
}

.hours-container .hours{
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	color: #E1E3E4;
}

/* End Hours container */

.profile-info{
	/**/
}

.profile-info .services-header, .profile-info .location, .profile-info .services{
	font-size:12px;
}

.profile-info .services{
	color: #8BDFB0;
}

.profile-info .profile-header{
	display: flex;
}

.profile-info .profile-header .star-rating{
	display: flex;
    margin-left: 2em
}

.profile-info .profile-header .star-rating .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
	margin-right: -1em;
}

.profile-info .profile-header .star-rating .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

.profile-info .profile-header > small{
    margin-top: 1.5em;
    margin-left: 2em;
}