#agency-video-tutorial {
    flex: 1;
    background-color: #eee;    
}

.agency-video-tutorial-container {
    text-align: center;
}

.agency-video-tutorial-container .video-header-detail {
    margin-top: 1.5em;
    margin-bottom: 1.25em;
    color: #8c8c8c;
    font-weight: 500;
    font-size: 18pt;
}


