/* Bucket Columns */
.person-icon.sprite.sprite{
	background: url(/images/agency/agency-signup-sprite-45x45.png) 45px 90px;
	height: 45px;
	width: 45px;
	margin-top: -1.2em;
    margin-left: 1em;
}

.uploadDocsSpriteSmall, .programsIntrest{
    cursor: default;
}

.messageIconArea.selected .showMessageIcon{
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.messageIconArea.selected .showMessageIcon:hover{
    opacity: 0.7;
}
/**/

.agency-recruit-status{
	display: flex;
}

.agency-recruit-status .recruit-status{
	color: #fff;
    padding: 3px 20px;
    margin-right: 7px;
    font-size: 12px;
    color: #fff;
    background-color: #999999;
    border-radius: 3px;
}

.agency-recruit-status .recruit-status:hover{
	cursor: pointer;
	opacity: 0.7;
}

.agency-recruit-status .recruit-status.active[data-status='yes']{
	background-color: #2AC56C;
}

.agency-recruit-status .recruit-status.active[data-status='no']{
	background-color: #363636;
}

.prescreen-interview-player.hidden, .hidden{
	display: none;
}

.agency-inquiry-options{
	display: flex;
	justify-content: space-between;
}

.agency-inquiry-options .filterResult-cont{
	margin: 1em;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.agency-inquiry-options .request-leads-btn{
	background-color: #29C46A;
    border-radius: 5px;
    color: #fff;
    padding: 0.6em;
    margin: 1em;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.agency-inquiry-options .filterResult-cont:hover{
	opacity: 0.7;
}


.agency-inquiry-options .request-leads-btn:hover{
	cursor: pointer;
	opacity: 0.7;
}

/* Inquiries modal */
#student-removal-modal, #request-leads-modal{
	width: 40%;
}

#student-removal-modal .close-reveal-modal{
	float: right;
	margin-top: -5px;	
}

.confirm-student-removal{
	background-color: #DC5400;
	border-radius: 3px;
	padding: 0.9em 2em;
}

#request-leads-modal .close-reveal-modal{
	float: right;
	margin-top: -10px;	
}

#request-leads-modal{
	text-align: center;
}

#request-leads-modal table{
	width: 50%;
	margin: auto;
	border: 0;
}

#request-leads-modal .error-msg{
	width: 90%;
    margin: auto;
    padding: 1em;
}

#request-leads-modal .reload-btn{
    background-color: #29C46A;
    margin: auto;
    margin-top: 1em;
    padding: 0.2em;
    width: 70%;
    color: #fff;
    border-radius: 5px;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

#request-leads-modal .reload-btn:hover{
	cursor: pointer;
	opacity: 0.7;
}

/**/


/* Filter */

.appr-btn-list .filter-audience-s{
	background-color: rgb(0, 133, 178) !important;
    display: inline-block;
    padding: 6px 0px 6px 7px; !important;
}

.filter-audience-s{
	background-color: rgb(0, 133, 178) !important;
    display: inline-block;
    position: relative;
    color: #FFF;
    /*margin-top: 17px;*/
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px 17px 5px 7px !important;
}

.filter-audience-s.active,
.appr-btn-list .filter-audience-s.active{
	background-color: #f4f4f4 !important;
	color: #0085B2;
}
.filter-audience-s.active .filter-text
.appr-btn-list .filter-audience-s.active .filter-text{
	color: #0085B2;
	background-color: #f4f4f4 !important;
}

.uploads-filter-select-all-btn.select-all::before{
	content: "Select ";
}

.uploads-filter-select-all-btn.deselect-all::before{
	content: "Deselect ";
}

.uploads-filter-select-all-btn{
	font-weight: bold;
    cursor: pointer;
    /*margin-bottom: 10px;*/
    text-align: right;
}

.results-label{
	display: inline;
}
.results-select{
	display: inline-block;
}
.results-title{
	display: inline-block;
}

img.filter-audience-img{
	display: inline-block;
	vertical-align: middle;
	max-width: initial;
}


.active .filter-text{
	color: #0085B2;
	background-color: #f4f4f4 !important;
}

.filter-text{
	display: inline-block;
	background-color: #0085B2;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    vertical-align: middle;
}

@media all and (max-width: 995px){
	div.filter-text{
		display: none;
	}

	a.ms-btns.filter-audience{
		width: 40px;
	}

	div.column.left-btns-app-pend{
		width: 290px;
	}
	div.column.filter-result{
		width: 150px;
	}

	.filterResult-cont{
		min-width: 255px !important;
	}
}



.filter-result {
	font-size: 14px;
	font-weight: 400;
}

@media all and (max-width: 1123px){
	.filter-result{
		width: 320px;
	}
}


.filter-result span {
	width: 60px;
	padding-right: 6px;
	font-size: 0.875rem;
	color: rgb(77, 77, 77);
	font-weight: normal;
	line-height: 1.5;
}

.filter-result input[type="checkbox"] {
	margin-top: 9px;
}
.filter-result input[type="checkbox"] + label {
    margin-left: 2px;
    margin-right: 2px;
}


.float-right{
	display: inline-block;
	float: right;
}

.filter-result .resultsPerPage-container{
	width: 188px;
    display: inline-block;
    float: left;
   	margin-top: -2px;
   	margin-left: 5px;
}
.filter-result .resultsPerPage-container > * {
	display: inline-block;
	float: left;
}



.filter-result label.dropdown{
	margin-top: 10px;
}



@media all and (max-width: 1000px){

	.filter-result label.dropdown{
		display: none;
	}
	
	.filter-result .resultsPerPage-container{
		width: 60px;
	}

	.resultsPerPage-container #displayOption{
		width: 100%;
	}

	#admin-approved #displayOption,
	#admin-pending #displayOption{
		position: relative;
		/*float: right;*/
	}
}


#filter-options {
    display: none;
    width: 30%;
    min-width: 320px;
    position: absolute;
    /*left: 556px;*/
    margin-top: 0;
    margin-left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-color: #D4D4D4;
    background: #eee;
    z-index: 1;
    padding: 8px;
    height: 490px;
    overflow-y: scroll;
}

.filterResult-cont{
	min-width: 356px;
}

.student-search-container .search-filter-form{
    display: none;
}
.student-search-container .side-nav li.search-tab{
    background-color: #FFF;
    border-radius: 2px;
    position: relative;
}
.student-search-container .side-nav li > a:not(.button){
    padding: 0.4375rem 0 0.4375rem 1.5rem;
}

.student-search-container .side-nav li > a:not(.button),
.student-search-container .side-nav li > a:not(.button):hover,
.student-search-container .side-nav li > a:not(.button):focus{
    color: #797979;
    font-weight: 600;
}
.student-search-container .side-nav li > a.active:not(.button){
    background-color: rgba(0, 0, 0, 0.1);
}

.search-tab .change-icon{
    color: #26b24b;
    position: absolute;
    top: 2px;
    right: 10px;
    font-size: 20px;
    font-weight: 600;
}
.cleared-msg {
    color: #797979;
    font-size: 11px;
    clear: both;
    margin: 0 0 10px 0;
    display: none;
}
.student-search-container .button.filt-btn{
    padding: 7px 20px;
    border-radius: 1px;
    background-color: #4d4d4d;
    margin: 0 5px 5px 0;
    width: 32%;
}

.button.filt-btn.save-search-btn{
    background-color: #3F8CCB;
}

.button.filt-btn.clear-search-btn{
    background-color: transparent;
    text-decoration: underline;
    margin: 6px 0 50px 0;
    color: #797979;
    padding: 0;
    font-size: 14px;
}

.more-option {
    padding-bottom: 1em;
    padding-right: 0.5em;
    color: #797979;
    cursor: pointer;
}
.student-search-container .tag-list{
    margin-bottom: 15px;
}

.student-search-container .tag-list .tag{
    background-color: #fff;
    border-radius: 2px;
    margin: 4px 4px 2px 0;
    padding: 0 5px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    color: #797979;
}

.student-search-container .add-name {
	margin-top: 1px;
    padding: 8px;
    width: 37px;
    border: #FFF 0px;
}

.student-search-container .tag-list .tag .remove-tag{
    padding-left: 5px;
    cursor: pointer;
}

.student-search-container .tag-list .tag .remove-tag:hover{
    font-weight: 600;
}

.component {
    padding: 2px 24px 0;
}

.search-filter-form select {
    margin-top: 0px;
    margin-bottom: 2px;
}

.student-search-container .side-nav .component.hidden,
.student-search-container .side-nav .component .select-container.hidden,
.student-search-container .full-profile-container.hidden,
.student-search-container .search-filter-form .error-msg.hidden,
.student-search-container .load-more-wrapper.hidden{
    display: none;
}

#filter-options .search-items {
	display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    margin-left: 10px;
}
#filter-options .search-slug {
	display:inline-block;
	height: 32px;
    margin-top: 10px;
}
#filter-options .filter-type {
	display: inline-block;
    margin-top: 14px;
    padding-left: 6px;
}
#filter-options a.filter-btn {
	width: 40%;
    margin: 10px 0px;
}

#GPA_range {
	margin-top: 14px;
}

#GPA-snap-value-lower, #GPA-snap-value-upper {
	font-size: 14px;
    margin-top: 6px;
    display: inline-block;
}
/* end filter */


/* Load more container */

.load-more-container{
    display: flex;
    margin-left: 2em;
    justify-content: space-between;
}

.load-more-container .load-more-btn.active{
    cursor: pointer;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.load-more-container .load-more-btn.active:hover{
    opacity: 0.8;
}

.load-more-container .load-more-btn.active > div{
    color: #ff5c26;
}

.sort-col{
    cursor: pointer;
    margin-top: -0.25em;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.sort-col:hover{
    opacity: 0.7;
}


