/* ////// agency student profile \\\\\\\ */


/* Override default styles for agency */
.top-bar{
    background-color: #717171 !important;
}

#topnavsearch .top_search_txt{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#topnavsearch .go-btn{
    background-color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/***/

/******************** actionbar grey bar to plexuss on profile dropdowns *********************/
.actionbar-container{
    background-color: #616A76;
    width: 100%;
    min-height: 26px;
    height: auto;
    /* is heavily nested and needs some margin/padding tricks */
    box-sizing: content-box;
    margin-left: -15px;
    margin-bottom: 20px;
    padding: 10px 20px;
   
    vertical-align: middle;
    line-height: 25px;

}
.actionbar-dropdown-menu{
    cursor: pointer;
    display: none;
    color: #ffffff;
    font-size: 13px;
    float: right;
    margin-right: 25px;
}
.actionbar-dropdown{
    display: none;
    cursor: pointer;
    position: absolute;
    background-color: #616a76;
    right: -28px;
    width: 300px;
    padding-top: 10px;
    z-index: 100;
}

.actionbar-dropdown li{
    padding: 6px 14px;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px solid #6f7a87;
}


.actionbar-dropdown li ul{
    display: none;
}

.actionbar-dropdown li a,
.actionbar-dropdown li a:hover,
.actionbar-dropdown li a:active,
.actionbar-dropdown li a:focus{
    color: #ffffff;
}



.actionbar-dropdown li li{
    display: block;
    padding: 5px 10px;
    font-weight: : 400;
    border-bottom: 1px dotted #a9adbe;
    color: #cccccc;
    font-size: 14px;
}

.actionbar-container .action-title{
    color: #ffffff;
    font-weight: 600;
    font-size: 15px;
    vertical-align: middle;
    margin-right: 15px;
}

.actionbar-container .action-title-edit{
    color: #ffffff;
    font-weight: 600;
    font-size: 14px;
    vertical-align: middle;
    margin-right: 15px;
}

.actionbar-btn.status-identifier{
    margin-left: -2em;
}

.actionbar-btn{
    padding: 3px 12px 0px 10px;
    position: relative;
    height: 30px;
    cursor: pointer;
    display: inline-block !important;
    font-size: 13px;
    font-weight: 600;
    margin-right: 5px;
    margin-top: 3px;
}


/***** promote to button ******/
.d-arrow{
    display: inline-block;
    position: relative;
    margin-right: 2px;
    width: 0px;
    height: 0px;
    border-top: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 6px solid #ffffff;
}

.promote-arrow{
    display: inline-block;
    position: relative;
    width: 0px;
    height: 0px;
    top: 3px;
    margin-left: 3px;  
}
.promote-arrow-notactive{
    border-top: 6px solid #616a76;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent; 
}
.promote-arrow-active{
    border-top: 6px solid #ffffff;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent; 
}


.actionbar-btn-notactive{
    color: #616a76;
    background-color: #ffffff;
}

.actionbar-btn-active{
    color: #ffffff;
    background-color: #797979;
}
.actionbar-btn-updated{
    color: #ffffff;
    background-color: #2AC56C;
}

.actionbar-btn-notactive:hover{
    color: #616a76;
}

.state-menu,
.promote_menu,
.status-menu{
    display: none;
    cursor: pointer;
    position: absolute;
    z-index: 100;
    margin-top: 2px;
    left: 0px;
    width: 265px;
    background-color: #797979;
    padding-top: 10px;
}

.state-menu_small,
.promote_menu_small,
.status-menu-small{
    display: block;
    position: relative;
    background-color: #616a76;
}

.state-menu li,
.promote_menu li,
.status-menu li{
    display: block;
    font-size: 14px;
    position: relative;
    color: #cccccc;
    font-weight: 400;
    padding: 5px 0px 5px 12px;

}
.promote-menu li:last-child{
    padding: 5px 0px 15px 12px;
}

.state-menu li:hover,
.promote_menu li:hover,
.status-menu li:hover{
    background-color: #ffffff;
    color: #797979;
}


.actionbar-container .send-text{
    background-color: #00A2FF;
    color: #ffffff;
}
.actionbar-container .send-text a{
    color: #ffffff;
    font-weight: 600;
}

.actionbar-container .send-text-small{
    display: block;
}

.text-icon{
    width: 15px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -2px;
    background-repeat: no-repeat;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/text_icon_sheet.png) 105px -35px;
    background-size: 15px;
}

.actionbar-container .edit-student{
    color: #ffffff;
}


.scores-col {
    width: 23%;
    display: inline-block;
    text-align: center;
}

.scores-col input {
    width: 90%;
    height: 35px;
    text-align: center;
}

.scores-title{
    vertical-align: middle;
    line-height: 70px;
}


/**** uploads section ****/
.close-udModal,
.close-ufModal{
    color: #797979;
    font-size: 35px;
    font-weight: 600;
}


.actionbar-upload-btn{
    cursor: pointer;
    color: #797979;
    margin: 20px auto;
    font-size: 13px;
}

.col-25{
    width: 25%;
    display: inline-block;
    float: left;
}
.mw-center{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 80% !important;
}

.cancel-upload-btn{
    cursor: pointer;
    font-weight: 100 !important;
    color: #797979 !important;
    font-size: 17px !important;
}

.upload-files-btn input{
    background-color: #FF7142;
    color: #ffffff;
    margin-left: 12px;
    padding: 2px 18px;
    border-radius: 2px !important;
    border: none;
}

/* Start Edit Uploads Section */

.edit-uploads-header-container{

}

.edit-uploads-header{
    /*text-align: left;*/
}

.edit-new-upload-btn{
    cursor: pointer;
}

.column .edit-uploads-input{
    border: 1px solid #cccccc !important;
    border-radius: 2px;
    background-color: #ffffff;
    margin-bottom: 3px;
}

.remove-upload-btn{
    cursor: pointer;
    margin-right: 2em;
    margin-left: 2em;
    margin-top: 5px;
    text-decoration: underline;
}

.edit-upload-items{
    display: inline-block;
}

/* End of Edit Uploads Section */

.actionbar-upload-btn:hover,
.actionbar-upload-btn:active,
.actionbar-upload-btn:focus{
    opacity: .8;
    color: #797979;
}

.uploads-container-prof{
    padding-bottom: 30px;
    border-bottom: 2px dotted #cccccc;
}

.uploads-section-title{
    margin-top: 35px !important;
}

.uploadDoc-box{
    display: inline-block;
    margin: 2px 10px;
    width: 28%;
}

/****/


.content-sec{
    margin-top: 13px;
}


.title3-bold{
    font-weight: 600;
    margin-right: 10px;
}

.student-name{
    font-size: 20px;
}

.left-side-studentProfile{
    padding-right: 10px !important;
    border-right: 2px dotted #cccccc;
}


.major-listing-prof{
    margin-bottom: 7px;
    overflow: hidden;
    height: 21px;
    width: 95%;
    text-overflow: ellipsis;
    font-size: 15px;
}



.student-profile-paneS .birthday-cont{
    background-color: #fff !important;
}

.student-profile-paneS .birthday-cont input{
    display: inline-block;
    width: 25%;
    height: 33px;
    text-align: center;
    font-size: 14px;
}
.student-profile-paneS .birthday-cont input:last-child{
    width: 35%;
}

/*** edit buttons ******/
.save-edit-btn{
    color: #ffffff;
    background-color: #2AC56C;
    padding: 10px 25px;
    height: 33px;
    line-height: 15px;
}

.save-edit-btn .invalid{
    opacity: .6;
}

.cancel-edit-btn{
    color: #ffffff;
    text-decoration: underline;
}


/*#salesProfileEdit small.error{
    position: absolute;
    margin-left: 15px;
}
*/






/****** availability table *******/
.avail-row{
    margin-top: 25px !important;
}

.avail-table{
    width: 90%;
    margin: 20px 0px 20px 40px;
    background-color: inherit;
    border-radius: 10px;
    border: 1px solid #797979;
    font-size: 12px;
}


.avail-table .avail-title{
    width: 80%;
    display: inline-block;
    height: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    word-wrap: break-word;
    word-break: break-all;
}

.avail-table > .row:first-child{
    color: #ffffff;
    background-color: #797979;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.avail-table .row{
    padding: 6px;
}

.avail-col-left{
    border-right: 1px solid #cccccc;
}

.current-time{
    font-size: 18px;
    text-align: center;
}


.noteContainer-s{
    margin-left: 40px !important;
    margin-top: 25px !important;
    width: 90% !important;
}

.sponsors-container{
    margin-left: 40px !important;
    margin-top: 25px !important;
    width: 90% !important;
}

.sponsors-container .sponsor-header{
    font-weight: 500;
}

.contact-verify{
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: inline-block;
    border-radius: 100%;
    border: 1px solid #797979;
    vertical-align: middle;
    line-height: 18px;
    text-align: center;
}

.verified{
    border: 1px solid #2AC56C;
    color: #2AC56C;
}
.verified:after{
    content: '\2713';
    color: #2AC56C;
    margin-left: 0px;
}

.veri-icon{
    display: inline-block;
    width: 20px;
    height: 20px;
    text-align: center;
    vertical-align: top;
    line-height: 15px;
    margin-right: 6px;
    color: #ffffff;
    border-radius: 50%;
    border: 2px solid #ffffff;
}

.veri-tooltip-title{
    font-weight: 400;
    font-size: 19px;
}

.contact-tooltip{
    display: none;
    background-color: #464646;
    position: absolute;
    min-width: 300px;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
    text-align: left;
    margin-top: -5px;
    margin-left: 25px;
    padding: 15px;
    font-size: 13px;
    z-index: 3;
}

.contact-tooltip:before{
    content: '';
    width: 0px;
    height: 0px;
    position: absolute;
    left: -16px;
    top: 7px;
    border-top: 8px solid transparent;
    border-right: 10px solid #464646;
    border-bottom: 8px solid transparent;
    border-left: 8px solid transparent;
}

.address-box{
    margin-left: 7px;
}

.plexuss-notes{
    color: #8000ff; 
}
.personal-notes{
    margin-top: 12px;
}

/********** upload files modal on sales action bar *****************/
.upload-files-modal{
    color: #797979;
    text-align: center;
}
.upload-files-modal h3, 
.upload-files-modal h5{
    color: #797979;
}
.upload-files-modal h3{
    font-weight: 500;
}




/**********/
.sales-student-edit-pane{
    display: none;
}

.sales-student-pane{
    display: block;
}

.regular-actions{
    display: block;
}
.edit-actions{
    display: none;
}



/****************########## Edit Profile pane #############******************/

.student-profile-paneS input,
.student-profile-paneS select{
    border: none;
    border-style: none !important;
    color: #797979;
    font-weight: 400;
    background-color: #ffffff !important;
}

.student-profile-paneS .type-select{
    width: 80%;
}

.student-profile-paneS .left-side-edit .row{
    padding-top: 10px !important;
}

.student-profile-paneS .below-spacing-cont .row {
    padding-top: 5px !important;
}


.student-profile-paneS .error{
    background: transparent;
    color: #C83A22;
    padding: 0px !important;
}

.student-profile-paneS .majors-list-select{
    display: none;
    background: #ffffff;
    position: absolute;
    width: 100%;
    padding: 10px;
    margin-top: -15px;
    min-height: 50px;
    z-index: 100;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    max-height: 293px;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    word-break: all;
    text-overflow: ellipsis;
}



.student-profile-paneS #max-note{
    color: #ff5c26;
    display: none;
}

.student-profile-paneS #duplicate_crumb_error{
    color: #C83A22;
    display: none;
}


.student-profile-paneS .majors-error{
    color: #C83A22;
    display: none;
}

.student-profile-paneS .objective-section{
    width: 90%;
}
.student-profile-paneS .objective-section input,
.student-profile-paneS .objective-section select{
    border: 1px solid #cccccc !important;
    border-radius: 2px;
    background-color: #ffffff;
}

.student-profile-paneS .skype-icon{
    position: absolute;
    margin-top: -42px;
    margin-left: 10px;
}

.student-profile-paneS .skype-input{
    padding-left: 39px;
}

.line{
    width: 100%;
    height: 0px;
    border-bottom: 1px dotted #797979;
}
.most-pop-right{
    font-size: 11px;
    margin-bottom: 5px;
}
.popular, .other{
    padding: 8px;
    font-size: 13px;
}

.major-plus{
    width: 16px;
    height: 16px;
    margin-right: 6px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 16px;
    background-color: #2AC56C;
    color: #ffffff;
    display: inline-block;
}


.major-name{
    overflow: hidden;
    display: inline-block;
    width: 90%;
    height: 27px;
    text-overflow: ellipsis;
    vertical-align: middle;
    line-height: 29px;
}


.major-crumb{
    background-color: #ffffff;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    margin-right: 6px;
    display: inline-block;
}
.major-listing-cont{
    cursor: pointer;
}

.obj-close-btn{
    width: 12px;
    height: 12px;
    margin-left: 8px;
}

/******************** inquiries styling - start ************************/

.arrow.active{
    border-bottom:9px solid #000;
    border-top:none;
    top:-15px;
}

.inquirieWrapper{
    position: relative;
    /*top: 18px;*/
    background-color: #FFF;
    color: #797979;
}

.topInquiriesControls{
    padding-bottom: 30px;
    padding-top: 10px;
}

.topInquiriesControls .active{
    font-weight: bold;
    font-size: 17px;
    color: #FF7F00;
}

.inquirieWrapper h2{
    font-size: 22px;
    font-weight: normal;
    color: #797979;
}
.inquirieWrapper .filter{
    font-size: 17px;
    font-weight: normal;
    color: #797979;
}
.inquirieWrapper .filter span{
    font-weight: bold;
}

.inquirieHeader{
    position: relative;
}

.inquirieHeader .column{

    font-size: 14px;
    font-weight: bold;
    color: #797979;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#admin-inquiries .row.inquirieHeader,
#admin-rejected .row.inquirieHeader {
    margin-top: 11px !important;
}

.inquirieWrapper .button{
    width: 100%;
    background-color: #959595;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
}

.inquirieWrapper .button.selected {
    background-color: #24B26B;
}

.messageIconArea  .ShowNA{
    display: inline-block;
    padding: 3px;
}

.messageIconArea .showMessageIcon{
    display: none;
}

.messageIconArea.selected  .ShowNA{
    display: none;
}

.messageIconArea.selected .showMessageIcon, .textIcon{
    display: inline-block;
}
.textIcon.not-opted-in{
    width: 27px;
}

.inquirieWrapper {
    background-color: #FFF;
}

.inquirieWrapper .hiddenDropDown{
    padding: 10px 0;
    background-color: #EFEFF6;
    color: #797979;
    cursor: default;
}
.inquirieWrapper .item{
    padding: 10px 7px 10px;
}

.inquirieWrapper .green{
    color: #26B24B;
    font-weight: bold;
    font-size: 16px;
}

.inquirieWrapper .topDropdownTitleArea{
    padding-top: 20px;
    padding-bottom: 20px;
}

.inquirieWrapper .leftDropdownSplit{
    background-image: url('/images/headerGreyDots.png');
    background-position: right;
    background-repeat: repeat-y;
}

.inquirieWrapper .schoolName{
    font-size: 14px;
}
.inquirieWrapper .titlessections{
    padding-bottom: 10px;
}

.inquirieWrapper .objectiveBody{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
}

.inquirieWrapper .majorBody{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
}

.inquirieWrapper .otherBody{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
}

.inquirieWrapper .noteBody{
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: normal;
}


.inquirieWrapper .interestedReasons li{
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 5px;
}

.messageName{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
    overflow-x: hidden;
        overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

.messageGPA{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
}

.messageSAT{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
}

.messageACT{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
}
.programsIntrest{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
    overflow-x: hidden;
    overflow-y: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-top: 5px;
    margin-right: 1em;
    width: 10.9em !important;
}

.programsIntrest > span{
    color: #797979;
    border-bottom: initial;
    font-weight: initial;
}

.countryCol{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
}
.date{
    font-weight: normal;
    font-size: 13px;
    color: #797979;
}

#uploadDocs li {
    display: inline-block;
}

.uploadDocsSpriteSmall {
    width: 15px;
    /*height: 20px;*/
    background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_15x20.png) no-repeat;
}

.uploadDocsSpriteSmall.transcript{background-position: 0px 4px}

.uploadDocsSpriteSmall.toefl{background-position: -19px 4px}

.uploadDocsSpriteSmall.ielts{background-position: -38px 4px}

.uploadDocsSpriteSmall.financial{background-position: -57px 4px}

.uploadDocsSpriteSmall.resume{background-position: -76px 4px}

.uploadDocsSpriteSmall.prescreen_interview{background-position: -95px 4px; width: 18px;}

.uploadDocsSpriteSmall.other{background-position: -177px 4px; padding-top: 3px;}

.uploadDocsSpriteSmall.essay{background-position: -136px 4px}

.uploadDocsSpriteSmall.passport{background-position: -156px 4px}

.uploadDocsSpriteLarge {
    width: 25px;
    height: 32px;
    background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_25x32.png) no-repeat
}

.uploadDocsSpriteLarge.transcript{margin-top: 22px; background-position: 0px 0;}

.uploadDocsSpriteLarge.toefl{margin-top: 22px; background-position: 0px -36px;}

.uploadDocsSpriteLarge.ielts{margin-top: 22px; background-position: 0px -72px;}

.uploadDocsSpriteLarge.financial{margin-top: 22px; background-position: 0px -109px;}

.uploadDocsSpriteLarge.resume{margin-top: 22px; background-position: 0px -145px;}
.uploadDocsSpriteLarge.prescreen_interview{margin-top: 22px; background-position: 0px -178px;}

.uploadDocsSpriteLarge.application{margin-top: 22px; background-position: 0px -209px;}
.uploadDocsSpriteLarge.other{margin-top: 22px; background-position: 0px -321px;}
.uploadDocsSpriteLarge.essay{margin-top: 22px; background-position: 0px -246px;}
.uploadDocsSpriteLarge.passport{margin-top: 22px; background-position: 0px -282px;}


.uploadDocsSpriteLarger{
    display: inline-block;
    width: 30px;
    height: 32px;
    background:url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_25x32.png') no-repeat;
}

.uploadDocsSpriteInterview{
    display: inline-block;
    width: 30px;
    height: 26px;
    background:url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/upload-icons_25x32.png') no-repeat;
}
.uploadDocsSpriteInterview.interview{
    background-position: 0px -182px;
}


.uploadDocsSpriteLarger.prescreen_interview{
    background-position: 0px -178px;
    height: 30px;
}
.uploadDocsSpriteLarger.transcript{
    background-position: 0px 0px;
}
.uploadDocsSpriteLarger.financial{
    background-position: 0px -109px;
}
.uploadDocsSpriteLarger.resume{
    background-position: 0px -145px;
}
.uploadDocsSpriteLarger.toefl{
    background-position: 0px -36px;
}
.uploadDocsSpriteLarger.ielts{
    background-position: 0px -72px;
}
.uploadDocsSpriteLarger.essay{
    background-position: 0px -246px;
}
.uploadDocsSpriteLarger.passport{
    background-position: 0px -283px;
}
.uploadDocsSpriteLarger.other{
    background-position: 0px -320px;
}


.uploadDetail{
    margin-left: 2em !important;
    margin-top: -2.8em !important;
    position: absolute;
    font-size: small;
}

.noteContainer{
    margin-top: 3em !important;
}

.flag{
    display: inline-block;
    width: 27px;
    height: 14px;
    margin-top: 8px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAOCAYAAADez2d9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAABZ0lEQVQ4jbWTrU4lQRCFv9mUKHFFC8QIxAgE2WxWIXgEQhA8AgK5D7BixYoVPMI+AxqxD4BAoNCIEYSMuKIF4ohOBtE9P1zYZG6AMuek0qlTdaq6sq8/+v2mRklgQAI3RwgSYOBAfILf3wJHuwGRc3NkAbdMVIo6MiGUecEcEa8DvleXAo6PzTE1VnDKC8zxBCZm0ySNU408CXdHCbp/N3TXU8fbhsGG0FyQzIcum7NTmoP9sdvlsvntZGPBQeiFIA7utBd/aQ3iUMJAaTmakkAUq4SsCA8TSrACdaL585PmsCkbE7Jpo8Ox/JcnYWEn4DuBuI6EVSlOFo9RhDoQu0i9V9P+uqBNGifbNqqHx3W/9HGAF98hO7BhF/kiZa+xuv1+slhsszi83stbuQGrp7v7fnR2fmWJj+VJVLfH572ncsTDyJ/BDar15VWf55o+wWdxU9tlr2f+xvkOPjBfXX1ZbXUg74lnBn0K7vtjOwgAAAAASUVORK5CYII=)
}

.approved{
    display: inline-block;
    width: 21px;
    height: 20px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAUCAYAAABiS3YzAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAAB+ElEQVQ4jZ3UT4iNYRTH8c+9DTKZRGMhsVHzprCQBlmIlD/zPslmyoKQZGHLRknJwp6FheRfKJR5n6KIko2df8UjKRQLsxhkLAbX4t7RndedOzNOPfX2e875ds55z3MqtVpNO8uKvBtnEXAF+1OI39vFVMrQrMhX4gCGMYS9WNDk8gaXMRfdOJlCfDouNCvyGfiEOW3TH2sfsDiFODIqVEsOW6cIhIVY/0+mWZFXsAHnjS11svYRh3Ethfiz0jPQ14W7WDVF0HssKmkv0VvFiv8APsRy7MRIk74Em6t4PUXgHWxJIX5RH7FHpftX1RTiJwy2CB5pod3EthTicFbk03DB2J80lEJ8UekZ6FuGZ6Xgo7jdON0N7SL2pBB/ZUU+HdfVH0TZ1nbgVEk8k0I8DlmRr2+UewsHU4i1rMg7cQObWwDhdKVnoG8EHU3iD/SnEGMD3J1CHGx8dyKWSi5brYpDJXEmbmZF3g9NwNl4MAHwN46PDv8u9cEvO+xLIZ7LinxeI8PeNkDqLTr99+1nRf4R81s4HsEOLJ0A+A2zU4i15l52jeN8YgJYc3wXvjYvlMeTDB7PLqUQv9K0pVKIG9W31DE8nyTonXp7tmP3qPjPkubv6NzDmjbAt1idQvxcvmgJbYAX4D5m4ar6JluH/oa2KYX4pFXsH2BRqLj35ZxcAAAAAElFTkSuQmCC)
}

.message, .message.haveSent{
    display: inline-block;
    width: 27px;
    background-repeat: no-repeat;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAQCAYAAADnEwSWAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAAB20lEQVQ4ja3UTYjNYRTH8c/codmNJJKX8lKyMwvvJEKZLIZYsBgSC0kYZmGeEKkn0yw0FhZKmrHByAKFcmWYZjYMSzXZWMmUiZ0h1+L537puc28z3LP5L87vOd/zO//nOXWFQkEIYS9uolHt4zuOxBj76sfHx++jG71Yj3k1BL3Bdgzn8/meHPZgGLOwIQPXIrqzegUMYn8uSyzCAI6hDS0Y+0fIGFpijKewWXK3AnIloum4igd4hSYMTRE0hKYY48MQQjueYGYxmZvgwC68lca6CZ2TBHVm+i8hhF50ldefCAZLsi4PxRjPYgdGK2hH0ZzpZqMfrRMJK8GgATdCCIdjjM+ksfaXafqlsT0NIdTjOVZXKljX0dFRqAK8htNYiRF8w3kERFzGbxzHHczNgHOm6uxMjPEkduIl3mNVjPEiFmTfGXicNfUCn6Xr/mmyzn6gNcbYF0I4gFslTf3COennr8FdLCw5+0F6xJDHsmrOvmJbBjqBnjLNNFyRbuvrMhAsz6YAG/GuEuwj1sUYB0IIF1TfJE2or5BbmgEbsEV6s3/BBrEWIyGELlyqAppMFIGNaMajIuwetkpr5jra/xNUChySFvtu3M5hH35KW/9ojUDFmC85XIyDfwBoUYho8u9ZvwAAAABJRU5ErkJggg==);
    background-position: -1px 6px;
}

.message.haveMessaged{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/have_sent_message_icon.png');
}

.texted{
    display: inline-block;
    width: 27px;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/text_icon_sheet.png);
}
.texted.no{
    background-position: 5px 0px;
}
.texted.yes{
    background-position: 5px -23px;
}
.texted.hover{
    background-position: 5px -47px;
}

.message .has-tip{
    padding: 0 6px;
    cursor: pointer;
    border-bottom: initial;
}

hr{
    padding:0;
    margin: 0;
}



.flag {
    width: 16px;
    height: 11px;
    background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat
}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
.flag.flag-zr {background-position: -48px -176px}


/* \\\\\\\\\\\\\\ full width manage students styling - start //////////////// */
body#admin-inquiries .backToTop, body#admin-approved .backToTop, body#admin-removed .backToTop,
body#admin-rejected .backToTop, body#admin-pending .backToTop, body#admin-recommendations .backToTop,
body#admin-prescreened .backToTop, body#admin-verifiedHs .backToTop, body#admin-verifiedApp .backToTop{
    display: none !important;
}

#admin-inquiries .row.inquirieWrapper, #admin-approved .row.inquirieWrapper, #admin-removed .row.inquirieWrapper,
#admin-rejected .row.inquirieWrapper, #admin-pending .row.inquirieWrapper, #admin-recommendations .row.inquirieWrapper,
#admin-prescreened .row.inquirieWrapper, #admin-verifiedHs .row.inquirieWrapper, #admin-verifiedApp .row.inquirieWrapper{
    max-width: 100%;
    width: 100%;
}

/*.main-managestudents-container, .main-managestudents-container > .inner-wrap,*/
.main-managestudents-container > .inner-wrap > .main-section,
.main-managestudents-container .inquirieWrapper, .inquirieWrapper .manage-student-sidebar-menu,
.inquirieWrapper .main-manage-students-content{
    height: 100% !important;
}

.inquirieWrapper > .manage-student-sidebar-menu{
    box-shadow: 7px -3px 7px -6px #797979;
    z-index: 1;
    overflow-y: auto;
}

.inquirieWrapper > .main-manage-students-content{
    overflow-y: auto;
    /*padding: 0;*/
}

.inquirieWrapper .manage-student-sidebar-menu > .manage-students-tab{
    margin-top: 20px;
}

.inquirieWrapper .manage-students-tab.active{
    border-left: 5px solid #2BC56C;
}

.inquirieWrapper .manage-students-tab.removed.active{
    border-left: 5px solid #FD9A01;
}

.inquirieWrapper .manage-students-tab .cnt{
    font-size: 10px;
    margin-top: 0.5em;
}

.inquirieWrapper .manage-students-tab > .manage-tab-text > a{
    font-size: 14px;
    color: #797979;
}

.inquirieWrapper .manage-students-tab > .manage-tab-text > a:hover{
    opacity: 0.7;
}

.inquirieWrapper .manage-students-tab.active > .manage-tab-text{
    padding: 0 1px;
}

.inquirieWrapper .manage-students-tab.active > .manage-tab-text > a{
    color: #2BC56C;
    font-weight: 600;
}

.inquirieWrapper .manage-students-tab.removed.active > .manage-tab-text > a{
    color: #FD9A01;
}

.admin-side-menu-tooltip-icon{
    border: 1px solid #797979;
    border-radius: 100px;
    font-size: 10px;
    font-weight: 600;
    vertical-align: middle;
    padding: 0 3px;
    cursor: pointer;
}

.main-managestudents-container .recommendation-expiration{
    color: cornflowerblue;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader{
    /*padding: 30px 12px 10px 0;*/
    margin-top: -0.8em;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader.recomm{
    padding: 30px 18px 4px 0;
}

#admin-recommendations .row.inquirieHeader.recomm,
#admin-prescreened .row.inquirieHeader.recomm,
#admin-verifiedHs .row.inquirieHeader.recomm, 
#admin-verifiedApp .row.inquirieHeader.recomm {
    margin: 14px;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader.appr{
    padding: 30px 0px 4px 0;
    /*position: absolute;*/
    /*top: 55px;*/
    width: 98%;
}

.inquirieWrapper .main-manage-students-content .inquirieHeader,
.inquirieWrapper .main-manage-students-content .inquirie_row{
    border-bottom: 1px solid #ddd;
}

.inquirieWrapper .main-manage-students-content .inquirie_row{
    background-color: #fff;
}

.each-inquirie-container{
    position: relative;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.unread{
    background-color: #ffffff;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.read{
    /*background-color: #ffffff; */
    background-color: #EFEFF6;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.sales-head.read{
    background-color: #ffffff;
    /*background-color: #efeff6;*/
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.adv-filter-generated-recommendation{
    border-left: 10px solid #FFBF00;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container > .inquirie_row.plex-generated-recommendation{
    border-left: 10px solid #BBB;
}

.inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar {
    /*margin-top: 75px;*/
}

.inquirieWrapper .main-manage-students-content .inquiry-name{
    padding-left: 2em;
}

.inquirieWrapper .each-inquirie-container{
    /*height: 60%;*/
    overflow-x: hidden;
    overflow-y: scroll;
    /*border-bottom: 1px solid #ddd;*/
}

.each-inquirie-container .load-more{
    padding: 10px 0;
    width: 50%;
    margin: 10px auto 20px;
    background-color: #eee;
    border-radius: 2px;
    /*float: left !important;*/
}

.each-inquirie-container .load-more a{
    color: #FF5C26;
}

.each-inquirie-container .load-more a.no-results-txt {
    cursor: default;
    color: #797979;
}

.each-inquirie-container .showResults {
    font-size: 14px;
    padding: 10px 20px;
}

.each-inquirie-container .showResults span {
    font-weight: 600;
}

.manage-students-ajax-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 101;
}

.matched-loading{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 6;
}

.manage-students-ajax-loader svg, .matched-loading svg{
    position: absolute;
    top: 50%;
}

.inquirieWrapper .remove-student-col{
    cursor: pointer;
    font-weight: 600;
    line-height: 25px;
}

.inquirieWrapper .remove-student-for-prescreened-col{
    cursor: pointer;
    font-weight: 600;
    line-height: 25px;
}

.inquirieWrapper .restore-student-col{
    cursor: pointer;
    font-weight: 600;
    /*background-image: url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/restore-button.png");*/
    background-repeat: no-repeat;
    /*margin-left: 1.4em;*/
}

.inquirieWrapper .name-col{
    vertical-align: middle;
}

.inquirieWrapper .gpa-col{
    margin-left: -3em;
}

.inquirieWrapper .major-col{
    width: 10em;
    margin-right: 1em;
}

.inquirieWrapper .country-col{
    margin-right: 1em;
}

.inquirieWrapper .recruit-col{
    width: 9em;
}

.inquirieWrapper .pending-msg-and-pagination-row{
    padding: 15px 10px 0;
    color: #000;
    font-size: 14px;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn{
    background-color: #eee;
    border-radius: 1px;
    padding: 11px 10px;
    color: #797979;
    font-size: 11px;
    font-weight: 600;
    width: auto;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn.recommendation{
    background-color: #0085B2;
    color: #fff;
}


.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content{
    float: left;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content:first-child{
    margin-right: 7px;
}

.inquirieWrapper .pending-msg-and-pagination-row .action-bar-btn .action-bar-content:last-child{
    margin-top: 2px;
}

.inquirieWrapper .added-to-pending-msg{
    color: #FF5C26;
}

.student-profile-pane .student-profile-headers{
    font-weight: 600;
    margin-bottom: 10px;
}

.student-profile-pane .row-of-student-profile{
    padding-top: 30px;
}
.student-profile-pane .row-of-student-profile .scores{
    background-color: #9d9d9d;
    padding: 3px;
}
.student-profile-pane .row-of-student-profile .score{
    color: white;
    font-size: 17px;
}
.student-profile-pane .row-of-student-profile .sales-financial-cont{
    margin: 29px 0px;
}

.student-profile-pane .textarea-col{
    position: relative;
}

.student-profile-pane .textarea-col > .last-saved-note-time{
    bottom: 0;
    font-size: 10px;
    position: absolute;
}

.student-profile-pane .save-note-ajax-loader, .student-profile-pane .plexuss-save-note-ajax-loader{
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: none;
}

/*admin mobile nav btn*/
.main-managestudents-container .mobile-admin-nav-btn.left-off-canvas-toggle{
    color: #797979;
    padding: 20px 4px 10px;
}

/*admin mobile nav menu*/
.main-managestudents-container .left-off-canvas-menu{
    background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li a{
    color: #797979;
    border-bottom: none;
    border-left: 5px solid transparent
}

.main-managestudents-container ul.off-canvas-list li a:hover{
    background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li > a.active{
    color: #FF5C26;
    border-left: 5px solid #FF5C26;
}

.main-managestudents-container ul.off-canvas-list li label{
    background-color: #fff;
    border-top: none;
}

/*your school and competition*/
.inquirieWrapper .student-profile-pane{
    margin-top: 5px;
}

.shifter{
    margin-top: 5px;
}

.student-profile-pane .your-college-content{
    padding: 10px 0;
}

.student-profile-pane .your-competitor-content{
    padding: 0 0 10px;
}

.student-profile-pane .page-views{
    font-weight: 600;
    color: #26b24b;
}
.student-profile-pane .page-views.sales{
    font-weight: 600;
    color: #26b24b;
    position: relative;
}

.student-profile-pane .college-competitor-name{
    padding: 15px;
}

.student-profile-pane .college-competitor-name > a{
    color: #797979;
}

.student-profile-pane .your-college-section{
    border: 2px solid #ddd;
    border-radius: 3px 0 0 3px;
}

.student-profile-pane .your-competition-section{
    border-top: 2px solid #ddd;
    border-right: 2px solid #ddd;
    border-bottom: 2px solid #ddd;
    border-radius: 0 3px 3px 0;
    background-color: #fff;
    position: relative;
}

.student-profile-pane .your-competition-section.section-with-no-competition{
    background-color: transparent;
    border: none;
}

.student-profile-pane .your-competition-section, .student-profile-pane .your-college-section{
    padding: 10px 0 20px;
    height: 280px;
}
.student-profile-pane .your-competition-section.sales, .student-profile-pane .your-college-section.sales{
    padding: 10px 0 20px;
    height: 350px;
}
.student-profile-pane .your-competition-section.comp, .student-profile-pane .your-college-section.comp{
    padding: 10px 0 20px;
    height: 350px;
}

.student-profile-pane .also-recruited-by-header{
    padding: 10px 6px;
}

.student-profile-pane .competition-school-logos, .student-profile-pane .your-college-logo{
    width: 100px;
    height: 100px;
    border-radius: 100px;
}

.student-profile-pane .college-logos-background{
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin: 0 auto;
    border: thin solid #ddd;
}

.student-profile-pane .no-competition{
    color: #797979;
    font-size: 30px;
    padding: 40px 0;
}

.student-profile-pane .competition-school-logos{
    border: 1px solid #ddd;
}

.student-profile-pane .competitor-arrow{
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #797979;
    height: 0;
    width: 0;
    cursor: pointer;
}

.student-profile-pane .competitor-carousel-arrow{
    position: absolute;
    top: 18%;
    display: block;
    z-index: 2;
}

.student-profile-pane .competitor-carousel-arrow.rightarrow{
    right: 0;
    -webkit-transform: rotate(270deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(270deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(270deg);  /* IE 9 */
    -o-transform: rotate(270deg);  /* Opera 10.50-12.00 */
    transform: rotate(270deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}
.student-profile-pane .competitor-carousel-arrow.leftarrow{
    left: 0;
    -webkit-transform: rotate(90deg);  /* Chrome, Safari 3.1+ */
    -moz-transform: rotate(90deg);  /* Firefox 3.5-15 */
    -ms-transform: rotate(90deg);  /* IE 9 */
    -o-transform: rotate(90deg);  /* Opera 10.50-12.00 */
    transform: rotate(90deg);  /* Firefox 16+, IE 10+, Opera 12.10+ */
}

.student-profile-pane .student-profile-headers{
    font-weight: 600;
    margin-bottom: 10px;
}

.student-profile-pane .row-of-student-profile{
    padding-top: 30px;
}
.student-profile-pane .row-of-student-profile .scores{
    background-color: #9d9d9d;
    color: white;
    font-size: 17px;
    padding: 3px;
}
.student-profile-pane .row-of-student-profile .sales-financial-cont{
    margin: 29px 0px;
}

.student-profile-pane .textarea-col{
    position: relative;
}

.student-profile-pane .textarea-col > .last-saved-note-time{
    bottom: 0;
    font-size: 10px;
    position: absolute;
}

.student-profile-pane .save-note-ajax-loader, .student-profile-pane .plexuss-save-note-ajax-loader{
    position: absolute;
    bottom: 50%;
    width: 100%;
    display: none;
}

/*admin mobile nav btn*/
.main-managestudents-container .mobile-admin-nav-btn.left-off-canvas-toggle{
    color: #797979;
    padding: 20px 4px 10px;
}

/*admin mobile nav menu*/
.main-managestudents-container .left-off-canvas-menu{
    background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li a{
    color: #797979;
    border-bottom: none;
    border-left: 5px solid transparent
}

.main-managestudents-container ul.off-canvas-list li a:hover{
    background-color: #fff;
}

.main-managestudents-container ul.off-canvas-list li > a.active{
    color: #FF5C26;
    border-left: 5px solid #FF5C26;
}

.main-managestudents-container ul.off-canvas-list li label{
    background-color: #fff;
    border-top: none;
}

/*upgrade account modals - start*/

/*admin action bar */
.admin-main-dash-container > .column.admin-action-bar-container:first-child{
    z-index: 1;
    padding: 20px 35px 0;
}

.admin-action-bar-container .action-bar-btn{
    background-color: #eee;
    border-radius: 1px;
    padding: 7px 10px 10px;
    color: #797979;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 0;
}
.admin-action-bar-container .action-bar-btn:hover, .admin-action-bar-container .action-bar-btn:focus{
    color: #797979;
    background-color: #eee;
}

#thankyou-for-upgrading-modal{
    max-width: 50em;
    padding: 15px 20px 30px;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:first-child, #thankyou-for-upgrading-modal .thankyou-msg-col > div:nth-child(2){
    font-size: 28px;
    color: #0085B2;
}

#upgrade-acct-modal .upgrade-msg-row > .column{
    font-size: 28px;
    color: #797979;
}

#thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
    font-size: 18px;
    color: #797979;
    padding: 20px 100px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-reveal-modal{
    color: #797979;
    font-size: 40px;
}

#thankyou-for-upgrading-modal .reveal-modal .close-modal-x > .column > .close-reveal-modal{
    color: #797979;
    font-size: 20px;
}

#thankyou-for-upgrading-modal .medium-centered > a.button.secondary,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary {
    width: 100%;
    background-color: #797979;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}
#thankyou-for-upgrading-modal .medium-centered > a.button.secondary:hover,
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:last-child > a.button.secondary:hover{
    background-color: #eee;
    color: #797979;
}

#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button{
    font-size: 14px;
    font-weight: 600;
    width: 100%;
    background-color: #FF5C26;
    color: #fff;
}
#upgrade-acct-modal .upgrade-or-naw-btn-row > .column:first-child > a.button:hover{
    background-color: #eee;
    color: #FF5C26;
}

#upgrade-acct-modal .filter-intro-container{
    background-color: #fff;
    padding: 10px 0 20px;
    color: #797979;
}

#upgrade-acct-modal .filter-intro-step{
    border-radius: 3px;
    background-color: #ECECFB;
    box-shadow: 1px 1px 5px 0px #797979;
}

#upgrade-acct-modal .filter-intro-step > div:first-child{
    font-size: 45px;
    font-weight: 600;
    padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:nth-child(2){
    padding: 10px;
}

#upgrade-acct-modal .filter-intro-step > div:last-child{
    padding: 20px;
    font-size: 15px;
}
/*upgrade acct modals - end */




/******************* Recommendation Filter - start *******************/
.pending-msg-and-pagination-row .recomm-top-row{
    float: left;
    margin-right: 12px;
}

.pending-msg-and-pagination-row .recomm-top-row .upgradeNotify {
    text-decoration: underline;
    color: #F52C2C;
}

.pending-msg-and-pagination-row .recomm-top-row:last-child span:first-child {
    text-decoration: underline;
    color: #F52C2C;
}

.pending-msg-and-pagination-row .recomm-top-row span,
.pending-msg-and-pagination-row .recomm-top-row label {
    font-size: 14px;
    color: #797979;
}

.pending-msg-and-pagination-row .recomm-color-key-container{
    overflow: auto;
    width: auto;
    height: auto;
}

.recomm-color-key-container .color-key-box{
    width: 15px;
    height: 15px;
    display: inline-flex;
    margin-right: 5px;
}

.recomm-color-key-container .key-row:first-child .color-key-box{
    background-color: #FFBF00;
}

.recomm-color-key-container .key-row:last-child .color-key-box{
    background-color: #BBB;
}

.recomm-color-key-container .color-key-text{
    color: #797979;
    font-size: 12px;
    vertical-align: text-top;
}

/******************* Recommendation Filter - end *******************/










/* \\\\\\\\\\\\\\ full width manage students styling - end //////////////// */

/*small and up*/
@media only screen and (max-width: 40em) {
    body#admin-inquiries, body#admin-approved, body#admin-pending,
    body#admin-recommendations, body#admin-removed, body#admin-rejected, body#admin-prescreened,
    body#admin-verifiedHs, body#admin-verifiedApp{
        background-image: none !important;
        background-color: #fff !important;
        z-index: -2;
    }

    .inquirieWrapper .each-inquirie-container{
        /*height: 60%;*/
        overflow-x: hidden;
        overflow-y: auto;
        border-bottom: 1px solid #ddd;
    }

    .main-managestudents-container.off-canvas-wrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .main-managestudents-container, .main-managestudents-container > .inner-wrap{
        position: absolute;
        top: 52px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .main-managestudents-container, .main-managestudents-container > .inner-wrap.chat-now-bar-isVisible{
        top: 123px;
    }

    .main-managestudents-container .main-manage-students-content.column{
        position: relative;
    }

    .main-managestudents-container .each-inquirie-container{
        /*position: absolute;*/
        /*top: 47px;*/
        left: 0;
        right: 0;
        bottom: 59px;
        height: auto;
    }

    body#admin-recommendations .main-managestudents-container .each-inquirie-container,
    body#admin-prescreened .main-managestudents-container .each-inquirie-container,
    body#admin-verifiedHs .main-managestudents-container .each-inquirie-container,
    body#admin-verifiedApp .main-managestudents-container .each-inquirie-container{
        /*top: 108px;*/
        bottom: 53px;
    }

    body#admin-recommendations .main-managestudents-container .pending-msg-on-recommendations,
    body#admin-prescreened .main-managestudents-container .pending-msg-on-prescreened, 
    body#admin-verifiedHs .main-managestudents-container .pending-msg-on-verifiedHs,
    body#admin-verifiedApp .main-managestudents-container .pending-msg-on-verifiedApp {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .each-inquirie-container .load-more{
        margin: 20px 90px 100px;
    }

}

/*mobile only*/
@media only screen and (max-width: 40em){
    .student-profile-pane .dropdownbox .your-college-section{
        border: 2px solid #797979;
        border-radius: 3px 3px 0 0;
    }

    .student-profile-pane .dropdownbox .your-competition-section{
        border-top: none;
        border-left: 2px solid #797979;
        border-right: 2px solid #797979;
        border-bottom: 2px solid #797979;
        border-radius: 0 0 3px 3px;
        background-color: #fff;
    }

    .student-profile-pane .student-profile-headers.personal-notes{
        padding-top: 20px;
    }

    .student-profile-pane .personal-students-notes-column{
        border: none;
        padding-left: 6px;
    }

    .student-profile-pane .mobile-no-btn{
        padding-top: 3px;
    }

    .inquirieWrapper .button{
        margin-top: 3px;
    }

    /*.inquirieWrapper .each-inquirie-container{
        height: auto;
        overflow-x: none;
        overflow-y: hidden;
    }

    .inquirieWrapper > .main-manage-students-content{
        padding: 0 5px 0 5px;
    }

    .main-managestudents-container, .main-managestudents-container > .inner-wrap,
    .main-managestudents-container > .inner-wrap > .main-section,
    .main-managestudents-container .inquirieWrapper, .inquirieWrapper .manage-student-sidebar-menu,
    .inquirieWrapper .main-manage-students-content{
        height: auto !important;
    }

    .inquirieWrapper .main-manage-students-content .inquirieHeader{
        padding: 10px 0 10px 0;
    }*/

    .main-managestudents-container ul.off-canvas-list li.admin-mobile-nav-item{
        position: relative;
    }

    .main-managestudents-container ul.off-canvas-list li.admin-mobile-nav-item span.admin-side-menu-tooltip-icon{
        position: absolute;
        top: 38%;
        right: 20px;
    }
    .main-managestudents-container ul.off-canvas-list li.admin-mobile-nav-item span.admin-side-menu-cnt{
        font-size: 10px;
        position: absolute;
        right: 45px;
        top: 36%;
        color: #797979;
    }

    .main-managestudents-container .admin-side-menu-tooltip-icon{
        padding: 0 4px;
    }

    #thankyou-for-upgrading-modal, #upgrade-acct-modal{
        padding: 10px;
        width: 100%;
    }

    #thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
        padding: 20px 0;
    }

    #upgrade-acct-modal .filter-intro-container > .column.small-12.medium-4{
        margin-bottom: 10px;
    }

    .pending-msg-and-pagination-row .recomm-color-key-container{
        margin-top: 2px;
    }

    .manage-students-ajax-loader svg{
        right: 40%;
    }
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
    #thankyou-for-upgrading-modal .thankyou-msg-col > div:last-child{
        padding: 20px;
    }
}


/*mobile and tablet only*/
@media only screen and (max-width: 64em){
    .student-profile-pane .student-profile-headers.why-interested,
    .student-profile-pane .row-of-student-profile{
        padding-top: 20px;
    }

    .student-profile-pane .also-recruited-by-header{
        padding: 20px 6px 10px;
    }

    .student-profile-pane .student-name{
        padding-top: 15px;
    }
}





/*medium and up only*/
@media only screen and (min-width: 40.063em){
    body#admin-inquiries, body#admin-approved, body#admin-pending,
    body#admin-recommendations, body#admin-removed, body#admin-rejected, body#admin-prescreened,
    body#admin-verifiedHs, body#admin-verifiedApp{
        background-image: none !important;
        background-color: #fff !important;
        z-index: -2;
    }

    .inquirieWrapper .each-inquirie-container{
        /*height: 60%;*/
        overflow-x: hidden;
        overflow-y: auto;
        /*border-bottom: 1px solid #ddd;*/
    }

    .main-managestudents-container.off-canvas-wrap{
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: -1;
    }

    .main-managestudents-container, .main-managestudents-container > .inner-wrap{
        position: absolute;
        top: 88px;
        right: 0;
        left: 0;
        bottom: 0;
    }

    .main-managestudents-container, .main-managestudents-container > .inner-wrap.chat-now-bar-isVisible{
        top: 128px;
    }

    .main-managestudents-container .main-manage-students-content.column{
        position: relative;
    }

    .main-managestudents-container .each-inquirie-container{
        /*position: absolute;*/
        /*top: 100px;*/
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
    }
    body#admin-pending .main-managestudents-container .each-inquirie-container{
        /*position: absolute;*/
        /*top: 100px;*/
        left: 0;
        right: 0;
        bottom: 0;
        height: auto;
    }

    body#admin-recommendations .main-managestudents-container .each-inquirie-container,
    body#admin-prescreened .main-managestudents-container .each-inquirie-container, 
    body#admin-verifiedHs .main-managestudents-container .each-inquirie-container,
    body#admin-verifiedApp .main-managestudents-container .each-inquirie-container{
        /*top: 108px; */
        /*bottom: 53px; */
    }

    body#admin-approved .main-managestudents-container .each-inquirie-container{
        /*top: 102px;*/
        /* bottom: 53px; */
    }

    body#admin-recommendations .main-managestudents-container .pending-msg-on-recommendations,
    body#admin-prescreened .main-managestudents-container .pending-msg-on-prescreened,
    body#admin-verifiedHs .main-managestudents-container .pending-msg-on-verifiedHs,
    body#admin-verifiedApp .main-managestudents-container .pending-msg-on-verifiedApp{
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .inquirieWrapper .main-manage-students-content .inquirieHeader,
    .inquirieWrapper .main-manage-students-content .inquirie_row{
        /*border-left: 10px solid transparent;*/
    }
}


/*large and up only*/
@media only screen and (min-width: 64.063em){
    .student-profile-pane .student-profile-also-interested-in .competition-school-name-lg{
        padding: 20px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow : hidden;
    }

    .main-managestudents-container .main-section{
        top: 82px;
    }
}


/******************** inquiries styling - end ************************/


/***** applied students styling - start *****/
.inquirie_row .applied-star{
    cursor: pointer;
}

.inquirie_row .enrolled-star{
    cursor: pointer;
}

.inquirieHeader .has-tip.sm{
    border-bottom: 1px dotted #797979;
    color: #797979;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.inquirieHeader .has-tip.lg{
    border-bottom: initial;
    color: #797979;
    font-size: 10px;
    padding: 0 2px;
    border: 1px solid #797979;
    border-radius: 100px;
}

.inquirieHeader .non-last-col {
    float: none ! important;
}


.messageGPA,  
.date{
    padding-top: 5px;
}
/*.programsIntrest,*/

#applied-student-reminder-modal{
    padding: 4px 10px 30px;
    max-width: 50em;
}

#applied-student-reminder-modal h3{
    color: #2ba6cb;
}

#applied-student-reminder-modal .reminder{
    padding: 0 15px;
}

#applied-student-reminder-modal .modal-btn{
    background-color: #FF5C26;
    color: #fff;
    font-size: 15px;
    line-height: inherit;
    border-radius: 2px;
    padding: 10px;
    font-weight: 600;
    cursor: pointer;
}

#applied-student-reminder-modal .modal-btn.remind-later-btn{
    background-color: #B8B9BA;
}

.modal-btn:hover{
    background-color: #fff;
    color: #FF5C26;
}

.appr-btn-list{
    position: relative;
    padding: 14px 0 0 25px;
}

#admin-approved .filter-result .ms-btns,
#admin-pending .filter-result .ms-btns {
    position: relative;
    background-color: #0085B2;
    color: #FFF;
    margin-top: 5px;
    margin-right: 5px;
    padding: 6px 2px 6px 7px;
    float: left;
}

.appr-btn-list .ms-btns, .mobile-appr-btn-list .ms-btns{
    font-size: 10px;
    color: #797979;
    background-color: #eee;
    margin-bottom: 6px;
    border-radius: 3px;
    font-weight: 600;
    padding: 8px;
    cursor: pointer;
    border-right: 6px solid #FFF !important;
    width: 140px;
}
.appr-btn-list .ms-btns:hover{
    background-color: #ddd;
}

.appr-btn-list .left-side {
    margin-top: 12px !important;
}

.appr-btn-list .right-side {
    margin-top:3px;
}

#admin-inquiries .display-option,
#admin-rejected .display-option {
    width: 26%;
    margin-top: 16px;
    margin-bottom: 0px;
}
#admin-recommendations .recomm-top-row:last-child,
#admin-prescreened .recomm-top-row:last-child,
#admin-verifiedHs .recomm-top-row:last-child,
#admin-verifiedApp .recomm-top-row:last-child {
    width: 20%;
}
@media only screen and (min-width: 40em) and (max-width: 64.063em) {
    #admin-recommendations .recomm-top-row:last-child,
    #admin-prescreened .recomm-top-row:last-child,
    #admin-verifiedHs .recomm-top-row:last-child,
    #admin-verifiedApp .recomm-top-row:last-child {
        width: 30%;
    }
}

#admin-recommendations .display-option,
#admin-prescreened .display-option,
#admin-verifiedHs .display-option,
#admin-verifiedApp .display-option {
    width: 32%;
    margin-bottom: 0px;
}
.display-option,
.appr-btn-list .display-option {
    width: 30%;
    max-width: 70px;
    margin: 5px !important;
}

@media only screen and (max-width: 64.063em) {
    .search-bar {
        display: none !important;
    }
    .query-btn {
        display: none;
    }
}

#search_slug, #search_slug_pending {
    width: 22%;
    display: inline-block;
    margin-bottom: 0;
    height: 30px;
    margin-left: 4px;
    padding-top: 0.3rem;
}

.query-btn {
    width: 10%;
    height: 30px;
    font-size: 11px;
    color: #797979;
    background-color: #eee;
    margin-bottom: 0;
    border-radius: 4px !important;
    font-weight: 600;
    border: 1px solid #FFF !important;
}


.appr-btn-list .filter-audience-s{
    background-color: rgb(0, 133, 178) !important;
    display: inline-block;
    padding: 6px 0px 6px 7px; !important;
}

.filter-audience-s{
    background-color: rgb(0, 133, 178) !important;
    display: inline-block;
    position: relative;
    color: #FFF;
    /*margin-top: 17px;*/
    margin-right: 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 5px 17px 5px 7px !important;
}

.filter-audience-s.active,
.appr-btn-list .filter-audience-s.active{
    background-color: #f4f4f4 !important;
    color: #0085B2;
}
.filter-audience-s.active .filter-text
.appr-btn-list .filter-audience-s.active .filter-text{
    color: #0085B2;
    background-color: #f4f4f4 !important;
}

.uploads-filter-select-all-btn.select-all::before{
    content: "Select ";
}

.uploads-filter-select-all-btn.deselect-all::before{
    content: "Deselect ";
}

.uploads-filter-select-all-btn{
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 10px;
}

.results-label{
    display: inline;
}
.results-select{
    display: inline-block;
}
.results-title{
    display: inline-block;
}

img.filter-audience-img{
    display: inline-block;
    vertical-align: middle;
    max-width: initial;
}


.active .filter-text{
    color: #0085B2;
    background-color: #f4f4f4 !important;
}

.filter-text{
    display: inline-block;
    background-color: #0085B2;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    vertical-align: middle;
}

@media all and (max-width: 995px){
    div.filter-text{
        display: none;
    }

    a.ms-btns.filter-audience{
        width: 40px;
    }

    div.column.left-btns-app-pend{
        width: 290px;
    }
    div.column.filter-result{
        width: 150px;
    }

    .filterResult-cont{
        min-width: 255px !important;
    }
}



.filter-result {
    font-size: 14px;
    font-weight: 400;
}

@media all and (max-width: 1123px){
    .filter-result{
        width: 320px;
    }
}


.filter-result span {
    width: 60px;
    padding-right: 6px;
    font-size: 0.875rem;
    color: rgb(77, 77, 77);
    font-weight: normal;
    line-height: 1.5;
}

.filter-result input[type="checkbox"] {
    margin-top: 9px;
}
.filter-result input[type="checkbox"] + label {
    margin-left: 2px;
    margin-right: 2px;
}


.float-right{
    display: inline-block;
    float: right;
}

.filter-result .resultsPerPage-container{
    width: 188px;
    display: inline-block;
    float: left;
    margin-top: -2px;
    margin-left: 5px;
}
.filter-result .resultsPerPage-container > * {
    display: inline-block;
    float: left;
}



.filter-result label.dropdown{
    margin-top: 10px;
}



@media all and (max-width: 1000px){

    .filter-result label.dropdown{
        display: none;
    }
    
    .filter-result .resultsPerPage-container{
        width: 60px;
    }

    .resultsPerPage-container #displayOption{
        width: 100%;
    }

    #admin-approved #displayOption,
    #admin-pending #displayOption{
        position: relative;
        /*float: right;*/
    }
}


#filter-options {
    display: none;
    width: 30%;
    min-width: 320px;
    position: absolute;
    /*left: 556px;*/
    margin-top: 0;
    margin-left: 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    border-color: #D4D4D4;
    background: #eee;
    z-index: 1;
    padding: 8px;
    height: 490px;
    overflow-y: scroll;
}

.filterResult-cont{
    min-width: 356px;
}

.student-search-container .side-nav li > a:not(.button){
    padding: 0.4375rem 0 0.4375rem 1.5rem;
}

.student-search-container .side-nav li > a:not(.button),
.student-search-container .side-nav li > a:not(.button):hover,
.student-search-container .side-nav li > a:not(.button):focus{
    color: #797979;
    font-weight: 600;
}
.student-search-container .side-nav li > a.active:not(.button){
    background-color: rgba(0, 0, 0, 0.1);
}

.cleared-msg {
    color: #797979;
    font-size: 11px;
    clear: both;
    margin: 0 0 10px 0;
    display: none;
}

.button.filt-btn.save-search-btn{
    background-color: #3F8CCB;
}

.more-option {
    padding-bottom: 1em;
    padding-right: 0.5em;
    color: #797979;
    cursor: pointer;
}
.student-search-container .tag-list{
    margin-bottom: 15px;
}

.student-search-container .tag-list .tag{
    background-color: #fff;
    border-radius: 2px;
    margin: 4px 4px 2px 0;
    padding: 0 5px;
    box-shadow: 1px 1px 1px 0px rgba(0, 0, 0, 0.5);
    font-size: 13px;
    color: #797979;
}

.student-search-container .add-name {
    margin-top: 1px;
    padding: 8px;
    width: 37px;
    border: #FFF 0px;
}

.student-search-container .tag-list .tag .remove-tag{
    padding-left: 5px;
    cursor: pointer;
}
.student-search-container .tag-list .tag .remove-tag:hover{
    font-weight: 600;
}

.component {
    padding: 2px 24px 0;
}
.search-filter-form select {
    margin-top: 0px;
    margin-bottom: 2px;
}

#filter-options .search-items {
    display: inline-block;
    margin-top: 16px;
    font-size: 12px;
    margin-left: 10px;
}
#filter-options .search-slug {
    display:inline-block;
    height: 32px;
    margin-top: 10px;
}
#filter-options .filter-type {
    display: inline-block;
    margin-top: 14px;
    padding-left: 6px;
}
#filter-options a.filter-btn {
    width: 40%;
    margin: 10px 0px;
}

#GPA_range {
    margin-top: 14px;
}

#GPA-snap-value-lower, #GPA-snap-value-upper {
    font-size: 14px;
    margin-top: 6px;
    display: inline-block;
}

.messageName .make-inline{
    display: inline;
}

.student-chkbx-col input[type="checkbox"]{
    margin: 10px 0 0 0;
}

.ui-autocomplete {
    max-height: 200px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
  }
  /* IE 6 doesn't support max-height
   * we use height instead, but this forces the menu to always be this tall
   */
* html .ui-autocomplete {
    height: 200px;
}

/*small only*/
@media only screen and (max-width: 40em){

    #admin-pending .inquirieHeader.appr,
    #admin-approved .inquirieHeader.appr {
        top: 10px !important;
    }

    #applied-student-reminder-modal{
        width: 100%;
    }

    .appr-btn-list{
        padding: 15px 0 0 14px;
    }

    .mobile-appr-btn-list .ms-btns{
        margin-top: 20px;
    }

    #admin-recommendations .inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar,
    #admin-prescreened .inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar,
    #admin-verifiedHs .inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar,
    #admin-verifiedApp .inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar {
        /*margin-top: 86px;*/
    }

    .inquirieWrapper .main-manage-students-content .each-inquirie-container .showResultsBar {
        /*margin-top: 75px;*/
    }

    #why-removing-appr-student-modal{
        width: 100%;
    }

}

@media only screen and (max-width: 64em) {
    .text-msg-btn {
        display: none;
    }
}

.country-name-container{
    display: flex;
}

.countryName{
    margin-top: 0.3em;
    margin-left: 0.5em;
    max-width: 8em;
    color: #797979;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media all and (max-width: 1350px){
    .countryName{
        max-width: 50px;
        padding-right: 5px;
    }
}

/*large and up*/
@media only screen and (min-width: 64.063em){
    .student-chkbx-col.column, .chkbox-header-col.column{
        width: 4.33333%;
    }

    .messageName.column, .name-col.column{
        width: 17%;
    }

    .countryCol.column{
        /*width: 130px;*/
        padding-left: 15px; 
    }

    #why-removing-appr-student-modal{
        width: 675px;
    }
}


@media all and (max-width: 1348px){
    .messageName.column, .name-col.column{
        width: 16%;
    }
    .countryCol.column{
        /*width: 110px;*/
        padding-left: 15px; 
    }
}

@media all and (max-width: 1047px){
    .countryCol.column{
        width: 80px;
        text-align: center;
    }
    .countryName{
        display: none;
    }

}

/***** applied students styling - end *****/

.student-chkbx-col.column .handshake-dollar-sign{
    color: #21B14C;
    margin-right: 5px;
    font-weight: inherit;
}

.p-info{
    vertical-align: middle;
    line-height: 30px;
}

.c-info{
    vertical-align: middle;
    height: 35px;
}

/*.c-info .link-cont {
    vertical-align: middle;
    line-height: 14px;
}*/

/*
.c-info .right-link{
    vertical-align: top;
    line-height: 15px;
}
*/
.c-info-label{
    display: inline-block;
    font-weight: 600;
    font-size: 15px;
    color: #797979;
    margin-left: -7px;
    line-height: 15px;
    vertical-align: middle;
}


.c-info-title{
    margin-left: 41px;
    font-size: 15px;
    font-weight: 600;
}

.add-show-more{
    cursor: pointer;
    color: #2ba6cb;
    font-size: 13px;
    margin-left: 10px;
    text-decoration: underline;
}
.address-more-info{
    display: none;
}

.send-text-to-user-btn{
    background: #797979;
    color: #fff;
    border-radius: 5px;
    padding: 1px 5px 1px 23px;
    position: relative;
    display: inline-block;
    cursor: pointer
}
.send-text-to-user-btn.haveTexted{
    background: #24b26b;
}
.send-text-to-user-btn:active{
    background: #595959;
}
.send-text-to-user-btn.haveTexted:active{
    background: #1e9459;
}
.send-text-to-user-btn .send-t-icon{
    width: 17px;
    height: 14px;
    background-position: 5px -30px;
    background-size: 75%;
    position: absolute;
    left: 2px;
    top: 3px;
}
.send-t-text{
    font-size: 12px;
}

.send-text-to-user-btn .txt-tip.has-tip{
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}

.txt-tip.has-tip:hover{
    color: #fff;
}

#why-removing-appr-student-modal .remove-std-btn,
#why-removing-appr-student-modal .cancel{
    padding: 10px 20px;
    font-size: 16px;
    display: inline-block;
}
#why-removing-appr-student-modal .cancel{
    font-size: 14px;
    vertical-align: middle;
    font-weight: 400;
}
#why-removing-appr-student-modal .cancel:hover{
    text-decoration: underline;
}
#why-removing-appr-student-modal label[for="innacurate-other"]{
    display: inline-block;
    vertical-align: middle;
}
#why-removing-appr-student-modal .other-txt{
    width: auto;
    display: inline-block;
}

#why-removing-appr-student-modal .feedback{
    font-size: 0.875rem;
    margin: 10px 0;
}
#why-removing-appr-student-modal .title{
    font-size: 16px;
    font-weight: 600;
}
#why-removing-appr-student-modal .close-remove-modal{
    color: #797979;
    cursor: pointer;
}
.add-to-hsh{
    cursor: pointer;
    color: #8000ff;
}

.applied-star{
    display: inline-block;
    font-size: 34px;
    color: purple;
    line-height: 26px;
}

.applied-star.applied{
    color: #FF5C26;
}
.applied-star.user-applied{
    color: purple;
}
.applied-star.enrolled{
    color: #24b26b;
}
.applied-star.no{
    color: #c9c9c9;
}

.admin-app-status{
    font-size: 14px;
}

.admin-app-status .is_complete{
    color: #26b24b;
}

.view-app-btn, .view-app-btn-disabled{
    display: inline-block;
    padding: 3px 20px;
    border-radius: 3px;
    cursor: pointer;
    background: #26b24b;
    color: #fff;
}

.view-app-btn:hover{
    opacity: 0.8;
    color: #fff;
}

.view-app-btn:active{
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
}

.view-app-btn-disabled{
    opacity: 0.4;
    cursor: initial;
}

.student-profile-also-interested-in .applied-college-status,
.student-profile-also-interested-in .applied-college-status-btn{
    display: flex;
    margin: auto;
    justify-content: space-around;
    border-radius: 3px;
    width: 50%;
    border: 1px solid #797979;
    color: #797979;
    font-weight: bold;
}

.student-profile-also-interested-in .applied-college-status-btn{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    cursor: pointer;
}

.student-profile-also-interested-in .applied-college-status-btn:hover{
    opacity: 0.8;
}

.student-profile-also-interested-in .applied-college-status[data-status='accepted'],
.student-profile-also-interested-in .applied-college-status-btn[data-status='accepted']{
    background-color: #363636;
    color: #fff;
}

.student-profile-also-interested-in .college-logos-background[data-status='accepted']{
    border: 1px solid #26B24B;
}

.student-profile-also-interested-in .change-status-options{
    display: none;
    color: #797979;
    background-color: #fff;
    border: 1px solid #797979;
    margin: auto;
    width: 50%;
    border-top: 3px solid #26B24B;
}

.student-profile-also-interested-in .change-status-options > li{
    padding: 5px;
    font-size: 12px;
}

.student-profile-also-interested-in .change-status-options > li:hover{
    background-color: #797979;
    color: #fff;
}

.remove-applied-college-btn{
    position: absolute;
    cursor: pointer;
    right: 1em;
    font-weight: bold;
    font-size: 20px;
}

.remove-applied-college-btn:hover{
    opacity: 0.7;
}

/* jQuery UI Dialog styling confirmation button */
.ui-dialog.ui-widget{
    z-index: 1001;
}

.ui-dialog-titlebar.ui-widget-header{
    text-align: center;
}

.ui-dialog.ui-widget{
    animation: _fadeIn 0.5s;
}

@keyframes _fadeIn{
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/****/

.fit-competitor-container{
    display: flex;
    justify-content: center;
}

.fit-competitor-btns:not(.active):hover{
    opacity: 0.7;
}

.fit-competitor-btns.competitor::after{
    content: '  |  ';
    color: #797979;
    font-weight: normal;
}

/*.fit-competitor-title{
    text-align: right;
}*/
.fit-competitor-title > div{
    display: inline-block;  
    vertical-align: top;
    font-size: 16px;
    cursor: pointer;
}
/*.fit-competitor-title > div:not(:first-child){
    display: inline-block;  
    vertical-align: top;
    margin: 0 0 0 10px;
}*/
.fit-competitor-title > div.active{
    font-weight: 600;
    color: #26B24B;
}

.fit-status{
    border-radius: 100%;
    border: 3px solid #26b24b;
    display: inline-block;
    width: 50px; height: 50px;
    font-size: 40px;
    font-weight: 600;
    line-height: 41px;
    margin: 55px 0 0;
    cursor: pointer;
}
.fit-status:active{
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.2);
}
.fit-status.mild{
    border-color: orange;
    color: orange;
}
.fit-status.none{
    border-color: #aaa;
    color: #aaa;
}

.move-student-menu{
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0; 
    border: 1px solid #eee;
    border-radius: 3px;
    color: #797979;
    font-weight: 400;
    text-align: left;
    padding: 10px;
    background: #fff;
    z-index: 100;
    display: none;
}
.move-student-menu.on-left{
    right: 100%;
}
.move-student-menu.on-right{
    left: 100%;
}

.move-student-menu .school{
    position: relative;
    padding: 0 0 0 70px;
}

.move-student-menu .logo{
    width: 50px; height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0; left: 0; bottom: 0;
    margin: auto;
}

.move-student-menu > ul{
    max-height: 180px;
    overflow-y: auto;
    padding: 0 0 0 2px;
}

.move-student-menu > ul label{
    color: #797979;
}

.move-student-menu > ul input{
    margin: 0 10px 10px 0;
}

.move-student-menu .actions{
    margin: 10px 0 0;
}

.move-student-menu .actions > div{
    display: inline-block;
    vertical-align: middle;
    width: 49%;
}
.move-student-menu .actions > div:last-child{
    text-align: right;
}

.move-student-menu .actions u{
    cursor: pointer;
}

.move-student-menu .move-btn{
    background: #24b26b;
    border-radius: 3px;
    color: #fff;
    padding: 5px 20px;
    display: inline-block;
    cursor: pointer;
}
.move-student-menu .move-btn:active{
    box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.3);
}

.applied-form{
    position: relative;
}

#_hasApplied_results{
    position: absolute;
    top: 100%; left: 0; right: 0;
    max-height: 200px;
    z-index: 1;
    overflow-y: auto;
    background: #fff;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    margin: 0;
    display: none;
}
#_hasApplied_results li{
    padding: 3px 0 3px 10px;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid #eee;
}
#_hasApplied_results li:hover{
    background: #eee;
}
#_hasApplied_results li:last-child{
    border: none;
}

@media all and (max-width: 759px){
    .inquirieWrapper{
        top: 55px;
    }
}

@media all and (max-width: 1160px){
    .personal-notes{
        font-size: 13px !important;
    }
}

@media all and (max-width: 1235px){
    .buttons-container{
        display: none;
    }
    .actionbar-dropdown-menu{
        display: inline-block;
    }
}

@media all and (max-width: 641px){
    .uploadDoc-box{
        width: 42%;
    }
}
@media all and (max-width: 420px){
    .uploadDoc-box{
        width: 90%;
    }
}

@media all and (max-width: 1025px){
    .left-side-studentProfile{
        border-right: none;
    }
}

@media all and (max-width: 400px){
    .filterResult-cont{
        min-width: 320px;
    }

}

@media all and (max-width: 875px){
    .col-25{
        width: 33%;
    }
}

@media all and (max-width: 489px){
    .col-25{
        width: 50%;
    }
}

@media all and (max-width: 420px){
    .col-25{
        width: 100%;
    }
}