/*agencySettings.css*/
#agency-settings > #topAlertContainer{
	margin-bottom: 0;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

/* Full screen loader */
.manage-students-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 101;
}

/* Add a service styling*/

.add-agency-service-btn{
	cursor: pointer;
	margin-bottom: 0.5em;
}

.add-agency-service-btn:hover{
	opacity: 0.8;
}

.user-added-service{
	display: flex;
}

.new-service-remove-btn{
	font-size: 12px;
	text-decoration: underline;
	margin-left: auto;
	cursor: pointer;
}

.new-service-remove-btn:hover{
	opacity: 0.7;
}
/**/

.manage-students-ajax-loader svg, .matched-loading svg{
	position: absolute;
	top: 50%;
}


/*agency settings leftside menu styles*/
.agency-settings-main-container .agency-settings-leftside-menu-container{
	padding: 0;
	box-shadow: 1px 0px 4px 0px #797979;
}

.agency-settings-leftside-menu-container .settings-menu-header{
	color: #797979;
	padding: 20px 35px 0;
	font-size: 20px;
}

.agency-settings-leftside-menu-container .side-nav.agency-settings-sidenav > li{
	border-left: 5px solid transparent;
}
.agency-settings-leftside-menu-container .side-nav.agency-settings-sidenav > li.active{
	border-left: 5px solid #FF5C26;
}

.agency-settings-leftside-menu-container .side-nav.agency-settings-sidenav li a:not(.button){
	padding: 0.4375rem 1.875rem;
	color: #797979;
}
.agency-settings-leftside-menu-container .side-nav.agency-settings-sidenav li.active a:not(.button){
	color: #FF5C26;
	font-weight: 600;
}




/*agency settings rightside content styles */
.agency-settings-main-container .agency-settings-rightside-content-container{
	/*overflow-y: auto;*/
}



/*profileInfo styles*/
.agency-settings-rightside-content-container .agency-settings-section-profileInfo > form > .column.large-6,
.agency-settings-rightside-content-container .agency-settings-section-paymentInfo > .column.large-6{
	padding: 20px 50px;
}

.agency-settings-rightside-content-container .agency-settings-section-profileInfo > form > .column:last-child .save-row-inner{
	padding: 0 50px 20px;
}


.agency-settings-rightside-content-container .agency-settings-section-profileInfo .skype-label{
    display: flex;
    flex-direction: row;
}

.agency-settings-rightside-content-container .agency-settings-section-profileInfo .skype-label .skype-label-text{
    margin-left: 0.1em;
}

.agency-settings-rightside-content-container .agency-settings-section-profileInfo .skype-input-container{
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.agency-settings-rightside-content-container .agency-settings-section-profileInfo #skype-id{
    /*width: 95%;*/
}

.agency-settings-rightside-content-container .agency-settings-section-profileInfo .agency-skype-tooltip-icon{
    border: 1px solid black;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    text-align: center;
    margin-left: 0.25em;
    background-color: #ffebcc;
}

.agency-settings-rightside-content-container .btn-profile{
	color: #fff;
	border-radius: 2px;
	padding: 10px 0;
	cursor: pointer;
}

.agency-settings-rightside-content-container .btn-profile.saveProfile-btn{
	background-color: #04a6ae;
}
.agency-settings-rightside-content-container .btn-profile.saveProfile-btn:hover{
	background-color: #eee;
	color: #04a6ae;
}

.agency-settings-rightside-content-container .btn-profile.previewProfile-btn{
	background-color: #797979;
}
.agency-settings-rightside-content-container .btn-profile.previewProfile-btn:hover{
	background-color: #eee;
	color: #797979;
}

.agency-settings-rightside-content-container .agency-settings-error-msg{
	color: #FF5C26;
	display: none;
}

.agency-settings-section-profileInfo .section-head{
	padding: 0 0 10px;
	color: #797979;
	font-size: 20px;
}

.agency-settings-section-profileInfo label.strong-labels{
	color: #000;
}

.agency-settings-section-profileInfo small.info, .agency-settings-section-profileInfo label.soft-labels{
	color: #797979;
}

.agency-settings-section-profileInfo input.specialized-school-input{
	margin: 0;
}

.agency-settings-section-profileInfo .specialized-schools-container{
	border: 1px solid #ccc;
}

.agency-settings-section-profileInfo .specialed-item{
	color: #797979;
	padding: 10px;
}

.agency-settings-section-profileInfo .specialed-item:not(:first-child){
	border-top: 1px solid #eee;
}

.agency-settings-section-profileInfo .specialized-inner.right{
	visibility: hidden;
	cursor: pointer;
}
.agency-settings-section-profileInfo .specialed-item:hover .specialized-inner.right{
	visibility: visible;
}

.agency-settings-section-profileInfo .agency-prof-pic-container{
	width: 100px;
	margin-bottom: 7px;
}

.agency-settings-section-profileInfo .other-services-offered-container > ul{
	padding: 0 0 0 21px;
}

.agency-settings-section-profileInfo .other-services-offered-container > ul li{
	list-style-type: disc;
	padding: 0 0 2px 4px;
}
.agency-settings-section-profileInfo .other-services-offered-container > ul li:hover{
	list-style-type: circle;
}

.agency-settings-section-profileInfo .other-services-offered-container > ul li span{
	font-weight: 600;
	margin-left: 10px;
	visibility: hidden;
}
.agency-settings-section-profileInfo .other-services-offered-container > ul li:hover span{
	visibility: visible;
}

/*** custom scrollbar - start ***/

/*entire scrollbar container*/
.agency-settings-main-container .agency-settings-rightside-content-container::-webkit-scrollbar{
	width: 12px;
}

/*the up/down arrows of the scrollbar*/
.agency-settings-main-container .agency-settings-rightside-content-container::-webkit-scrollbar::-webkit-scrollbar-button{
	background-color: #eee;
	height: 0;
}

/*the scrollbar background*/
.agency-settings-main-container .agency-settings-rightside-content-container::-webkit-scrollbar-track{
	background-color: #eee;
}

.agency-settings-main-container .agency-settings-rightside-content-container::-webkit-scrollbar-corner{
	/*not sure*/
}

/* the bar that actually does the scrolling */
.agency-settings-main-container .agency-settings-rightside-content-container::-webkit-scrollbar-thumb{
	background-color: #b1b1b1;
}
/*** custom scrollbar - end ***/



/*paymentInfo styles*/
.agency-settings-section-paymentInfo .setup-paypal-btn{
	border-radius: 2px;
	width: 219px;
	background-color: #FF5C26;
	color: #fff;
	padding: 11px 0;
	cursor: pointer;
}
.agency-settings-section-paymentInfo .setup-paypal-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.agency-settings-section-paymentInfo > .column > div:first-child{
	font-size: 20px;
	color: #797979;
}

.agency-settings-section-paymentInfo .charged-msg{
	font-size: 14px;
	color: #797979;
	padding: 25px 0;
}

.agency-settings-section-paymentInfo img{
	margin-bottom: 10px;
}

.agency-settings-section-paymentInfo .trial-msg{
	color: #1E9E75;
	font-weight: 600;
	padding: 30px 0 10px;
}

.agency-settings-section-paymentInfo .trial-directions{
	font-size: 12px;
	color: #797979;
}

/* Hours of operation */


.business-hours-container .days-container{
	display: flex;
}

.business-hours-container .days-container .day{
    margin-right: 1em;
    border: 2px solid #fff;
    padding: 3px;
    cursor: pointer;
}

.business-hours-container .days-container .day.closed{
	background-color: #C93A23;
	color: white;
    border-radius: 30%;
}

.business-hours-container .days-container .day.open{
	background-color: #2BC46D;
	color: white;
    border-radius: 30%;
}

.business-hours-container .days-container .day.active{
    border: 2px solid black;
    border-radius: 30%;
}

.business-hours-container .hours-container .hours-select{
	width: 20%;
	border-radius: 5px;
}

.business-hours-container .hours-container{
	display: flex;
    align-items: baseline;
}

.business-hours-container .hours-container > span{
	font-size: 14px;
}

.business-hours-container .hours-container > *{
    margin-right: 1em;
}

/**/



/*small only*/
@media only screen and (max-width: 40em){
	.agency-settings-rightside-content-container .agency-settings-section-profileInfo > form > .column.large-6,
	.agency-settings-rightside-content-container .agency-settings-section-paymentInfo > .column.large-6{
		padding: 20px 35px;
	}

	.agency-settings-rightside-content-container .agency-settings-section-profileInfo > .column:last-child .save-row-inner{
		padding: 0 20px 20px;
	}
}


/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	
}

/*medium up only*/
@media only screen and (min-width: 40.063em){
	#agency-settings .row.agency-settings-main-container{
		max-width: 100%;
		width: 100%;
		position: absolute;
		top: 93px;
		bottom: 0;
		left: 0;
		right: 0;
	}

	#agency-settings .row.agency-settings-main-container > .column{
		height: 100%;
	}

	.agency-settings-main-container .agency-settings-leftside-menu-container{
		overflow-y: auto;
	}

	.agency-settings-main-container .agency-settings-rightside-content-container{
		overflow-y: auto;
	}
}

/*large up only*/
@media only screen and (min-width: 64.063em){
	#agency-settings .row.agency-settings-main-container{
		top: 103px;
	}
}

/*xlarge up*/
@media all and (min-width: 1188px){
	#agency-settings .row.agency-settings-main-container{
		top: 93px;
	}
}

@media all and (max-width: 762px){
	#agency-settings .row.agency-settings-main-container {
	    max-width: 100%;
	    width: 100%;
	    position: absolute;
	    top: 134px;
	    bottom: 0;
	    left: 0;
	    right: 0;
}
}