.hidden{
    display: none;
}

.spin-loader{
    margin: auto;
    margin-bottom: 0.25em;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #8c8c8c;
    border-bottom: 3px solid #8c8c8c;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1.5s linear infinite;

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
}

.international-agents-header{
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-size: contain;
    background-image: url(/images/agency/agent-flags-bg.jpg);
    height: 10em;
    position: relative;
}

.international-agents-header .header-content{
    display: flex;
    position: absolute;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.international-agents-header .header-content > h3{
    text-align: center;
    color: #FEFEFE;
}

.international-agents-header .header-content > img{
    margin-right: 1em;
}

.agency-search-bar{
	display: flex;
	justify-content: space-between;
	background-color: #333333;
	margin: auto;
	color: #F2F2F2;
    padding: 0.4em 1.5em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}

.agency-search-bar .select-tabs{
	display: flex;
    position: relative;
}

.agency-search-bar .select-tabs .tab{
	margin-right: 1.2em;
	cursor: pointer;
}

.tab-arrow {
	position: relative;
    display: inline-block;
    top: -2px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #F2F2F2;
    margin-left: 6px;
    margin-right: 1.75em;
}

.search-result{
	padding: 1.25em;
	background-color: #fff;
	display: flex;
    width: 55%;
    margin: auto;
    border-radius: 4px;
    justify-content: space-evenly;
}

.browse-agents-container{
    margin: auto;
    width: 55%;
}

.profile-image{
    cursor: pointer;
    width: 12%;
    margin-right: 1em;
}

.profile-image > img{
	border-radius: 50%;
    width: 90px;
    height: 90px;
}

.profile-info .services-header, .profile-info .location, .profile-info .services{
	font-size:13px;
}

.profile-info .services{
	color: #31b46a;
    width: 30em;
}

.profile-info .profile-agency-name{
    width: 5em;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-info .profile-header{
	display: flex;
}

.profile-info .profile-header .star-rating{
	display: flex;
    margin-left: 2em
}

.profile-info .profile-header .star-rating .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
	margin-right: -1em;
}

.profile-info .profile-header .star-rating .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

.profile-info .profile-header > small{
    margin-top: 1.5em;
    margin-left: 2em;
}

.search-results-container .message-agent-btn{
	background-color: #2BC56D;
    padding: .3em 2.2em;
    color: #FFF;
    border-radius: 3px;
	text-align: center;
}

.search-results-container .message-agent-btn:hover,
.search-results-container .view-agent-btn:hover{
	cursor: pointer;
    opacity: 0.7;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;
}

.search-results-container .view-agent-btn{
	background-color: #797979;
    padding: .3em 2.2em;
    color: #FFF;
    border-radius: 3px;
	text-align: center;
}

/* Dropdown styling */
.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    opacity: 0;
    left: -9999px;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    max-height: 20em;
    overflow-y: auto;
    overflow-x: hidden;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    opacity: 1;
    left: 0px;
}

.dropdown .dropdown-content li{
    padding: 0.5em 1.25em;
    display: block;
    font-size: 14px;
}

.dropdown .dropdown-content li:hover{
    color: #2ac56c;
}
/***/