/*agencyAdvFiltering.css */


/*main container styling*/
#agency-adv-filtering > #topAlertContainer{
	margin-bottom: 0;
}

#agency-adv-filtering .main-admin-adv-filter-container > .row:first-child > .column:last-child{
	font-size: 23px;
	color: #797979;
}




/*right side filter section container styling */
.adv-filtering-section-container{
	background-color: #ECECFB;
}



/*left side filter menu styling*/
.main-admin-adv-filter-container .adv-filtering-menu.side-nav{
	padding: 0;
}

.adv-filtering-menu.side-nav li{
	border-radius: 3px;
	background-color: #ECECFB;
}
.adv-filtering-menu.side-nav li.active{
	background-color: #797979;
}
.adv-filtering-menu.side-nav li.active > a:first-child:not(.button),
.adv-filtering-menu.side-nav li a:not(.button):hover{
	color: #fff;
	font-weight: 600;
}

.adv-filtering-menu.side-nav li a:not(.button){
	color: #797979;
	font-weight: 600;
}

#agency-adv-filtering .main-admin-adv-filter-container > .row.hide-for-large-up .filter-page-indicator{
	color: #fff;
	background-color: #b9babb;
	padding: 10px;
	font-weight: 600;
	font-size: 20px;
}

.main-admin-adv-filter-container .select-filter-btn-sm{
	cursor: pointer;
	background-color: #797979;
	color: #fff;
	padding: 10px;
	font-weight: 600;
}

.main-admin-adv-filter-container .select-filter-btn-sm .filter-menu-arrow.rotate-arrow{
	transform: rotate(180deg);
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari and Chrome */
	-o-transform: rotate(180deg); /* Opera */
	-moz-transform: rotate(180deg); /* Firefox */
	transition: .5s;
	-moz-transition: .5s; /* Firefox 4 */
	-webkit-transition: .5s; /* Safari and Chrome */
	-o-transition: .5s; /* Opera */
}



/*save/reset filters styling */
.main-admin-adv-filter-container .reset-save-filters-col .save-filters-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 1px;
	cursor: pointer;
	padding: 5px 35px;
	font-size: 14px;
	font-weight: 600;
	margin-left: 20px;
}
.main-admin-adv-filter-container .reset-save-filters-col .save-filters-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.main-admin-adv-filter-container .reset-save-filters-col .reset-filters-btn{
	color: #797979;
	text-decoration: underline;
	cursor: pointer;
	font-size: 14px;
}
.main-admin-adv-filter-container .reset-save-filters-col .reset-filters-btn:hover{
	text-decoration: none;
}

.main-admin-adv-filter-container .reset-save-filters-col.hidden,
.main-admin-adv-filter-container .recomm-meter-container.hidden,
.filter-page-section .no-city-if-all-state-error.hidden {
	display: none;	
}

.filter-page-section .no-city-if-all-state-error{
	color: #FF5C26;
}

.adv-filtering-section-container .advFilter-tag{
	padding: 3px 5px;
	margin: 0 4px;
	background-color: #fff;
	border-radius: 2px;
	box-shadow: 1px 1px 1px 0px #797979;
}

.adv-filtering-section-container .remove-tag{
	cursor: pointer;
	color: #797979;
	font-weight: 600;
	font-size: 16px;
	padding: 0 3px;
}

.adv-filtering-section-container .include-exclude-txt{
	text-decoration: underline;
}

.adv-filtering-section-container label, .adv-filtering-section-container div {
	color: #797979;
}

.adv-filtering-section-container .make_bold{
	font-weight: 600;
}

.filter-page-section .select-option-error{
	color: #FF5C26;
	display: none;
}

.filter-page-section .selection-row.hideOnLoad{
	display: none;
}



/*filter intro section */
.adv-filtering-section-container .filter-intro-container{
	background-color: #fff;
	padding: 4px 0 0;
}

.adv-filtering-section-container .filter-intro-step{
	border-radius: 3px;
	background-color: #ECECFB;
}

.adv-filtering-section-container .filter-intro-step > div:first-child{
	font-size: 45px;
	font-weight: 600;
	padding: 20px;
}

.adv-filtering-section-container .filter-intro-step > div:nth-child(2){
	padding: 20px;
}

.adv-filtering-section-container .filter-intro-step > div:last-child{
	padding: 20px 30px;
}

.main-admin-adv-filter-container .recomm-meter-msg{
	color: #797979;
	font-size: 14px;
}

.main-admin-adv-filter-container .recomm-meter-container{
	padding: 0 0 15px;
}

.main-admin-adv-filter-container .recomm-meter-container .progress{
	background: #ECECFB;
	margin-bottom: 0;
}

.main-admin-adv-filter-container .recomm-meter-container .progress .meter{
	background: #797979;
}

.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip{
	font-size: 12px;
	padding: 2px 1px;
	color: #797979;
}

.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip > span:last-child{
	float: right;
}

.main-admin-adv-filter-container .backToDash-btn > a{
	color: #797979;
}



/*filter location section */
.filter-by-location-container, .filter-by-major-container, .filter-by-scores-container, .filter-by-uploads-container,
.filter-by-demographic-container, .filter-by-educationLevel-container, .filter-by-desiredDegree-container,
.filter-by-skillsInterests-container{
	padding: 40px;
}

.filter-by-location-container .contains-tags-row, .filter-by-demographic-container .contains-tags-row {
	padding: 0 0 20px ;
}

.filter-by-location-container .location-filter-desc-col > div:last-child{
	padding: 40px 0;
}

.filter-by-location-container .contains-tags-row .hide-for-large-up > p, 
.filter-by-major-container .contains-tags-row .hide-for-large-up > p,
.filter-by-demographic-container .contains-tags-row .hide-for-large-up > p {
	font-size: 13px;
	color: #797979;
}



/*filter scores section */
.filter-by-scores-container .scores-desc, .filter-by-demographic-container .scores-desc {
	padding-top: 6px;
}

.filter-by-scores-container .filter-instructions, .filter-by-uploads-container .filter-instructions {
	padding: 0 0 20px;
}

.filter-page-section .minMaxError{
	display: none;
}

.filter-page-section .minMaxError > .column{
	color: #FF5C26;
	font-size: 14px;
}



/*filter demographic section */
.filter-by-demographic-container > .column.large-6:last-child > div:last-child{
	padding: 85px 0 0;
}

.filter-by-demographic-container .demo-age-desc{
	font-size: 13px;
	color: #797979;
	padding: 0 6px 20px;
}


/*filter education level section */
.filter-by-educationLevel-container div.hide-for-large-up, 
.filter-by-desiredDegree-container > .column:first-child > .row:first-child > .column,
.filter-by-skillsInterests-container > .column:first-child{
	padding: 0 6px 20px;
}

label[for="select_all_degrees"]{
	font-weight: 600;
}



/*filter skillsInterests section */
.filter-by-skillsInterests-container .add-more-fields{
	cursor: pointer;
}
.filter-by-skillsInterests-container .add-more-fields:hover{
	text-decoration: underline;
}

.filter-by-skillsInterests-container .new-achievement-field, .filter-by-skillsInterests-container .achievements-col > div.orig-field{
	position: relative;
}

.filter-by-skillsInterests-container .remove-achievement-btn{
	position: absolute;	
	top: 0;
	right: 0;
	padding: 7px 10px 3px;
	font-weight: 600;
	cursor: pointer;
}

.filter-by-skillsInterests-container .achievements-col > div:first-child{
	padding: 0 0 5px;
}



/*filter dialog modal style*/
#agency-adv-filtering > #filter-dialog-modal{
	width: 30em;
	padding: 10px;
}

#filter-dialog-modal .close-reveal-modal{
	font-size: 30px;
}

#filter-dialog-modal .save, #filter-dialog-modal .discard, #filter-dialog-modal .cancel{
	cursor: pointer;
	font-size: 14px;
	font-weight: 600;
	border-radius: 2px;
	padding: 5px;
}


#filter-dialog-modal .save:hover, #filter-dialog-modal .discard:hover, #filter-dialog-modal .cancel:hover{
	background-color: #eee;
}

#filter-dialog-modal .save{
	background-color: #FF5C26;
	color: #fff;
}
#filter-dialog-modal .save:hover{
	color: #FF5C26;
}

#filter-dialog-modal .discard{
	background-color: #797979;
	color: #fff;
}
#filter-dialog-modal .discard:hover{
	color: #797979;
}

#filter-dialog-modal .cancel{
	background-color: #fff;
	color: #797979;
}

#filter-dialog-modal .dialog-msg{
	padding: 0 0 20px;
	font-size: 20px;
}



/*large only */
@media only screen and (min-width: 64.063em){
	#agency-adv-filtering .main-admin-adv-filter-container > .row{
		max-width: 100em;
	}

	#agency-adv-filtering .main-admin-adv-filter-container > .row > .column:first-child{
		padding: 20px 20px 20px 60px;
	}

	#agency-adv-filtering .main-admin-adv-filter-container > .row > .column:nth-child(2),
	#agency-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 16px 80px 20px 20px;
	}

	#agency-adv-filtering .main-admin-adv-filter-container > .row:first-child > .column:first-child > div{
		/*padding-top: 7px;*/
	}

	.adv-filtering-section-container select{
		width: 60%;
	}
}



/*medium only */
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.adv-filtering-section-container select{
		width: 45%;
	}
}




/* small and medium only */ 
@media only screen and (max-width: 64em){
	.main-admin-adv-filter-container .filtering-menu-sm-container{
		display: none;
	}

	#agency-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 20px 6px;
	}

	.main-admin-adv-filter-container .recomm-meter-container{
		padding: 15px 0;
	}
}



/*small only */
@media only screen and (max-width: 40em){
	#agency-adv-filtering .main-admin-adv-filter-container{
		margin-bottom: 80px;
	}

	.adv-filtering-section-container select{
		width: 100%;
	}

	.filter-by-location-container, .filter-by-major-container, .filter-by-scores-container, .filter-by-uploads-container,
	.filter-by-demographic-container, .filter-by-educationLevel-container, .filter-by-desiredDegree-container, 
	.filter-by-skillsInterests-container {
		padding: 20px;
	}

	.filter-by-skillsInterests-container .achievements-col{
		padding: 0 6px 20px;
	}

	.adv-filtering-section-container .filter-intro-container > .column.medium-4{
		padding: 0 6px 10px;
	}

	#agency-adv-filtering .main-admin-adv-filter-container > .row > .column:last-child{
		padding: 20px 6px 0;
	}

	#agency-adv-filtering > #filter-dialog-modal{
		width: 100%;
	}

	.main-admin-adv-filter-container .recomm-meter-container .recomm-meter-descrip{
		font-size: 10px;
	}

	.main-admin-adv-filter-container .recomm-meter-msg{
		font-size: 12px;
	}
}