/*agencyApproval.css*/
.agency-approval-container{
	padding: 20px 0 0;
}

.agency-approval-container .approval-txt{
	color: #797979;
}

.agency-approval-container .row:first-child > .columns div{
	font-size: 20px;	
}

.agency-approval-container .ask-agent-btn{
	background-color: #FF5C26;
	color: #fff;
}
.agency-approval-container .ask-agent-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

/*small only*/
@media only screen and (max-width: 40em){
	.agency-approval-container{
		margin-bottom: 50px;	
	}
}