.hidden {
    display: none;
}

.invisible-div {
    visibility: hidden;
    width: 300px;
    height: 50px;
}

.manage-students-ajax-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 101;
}

.manage-students-ajax-loader svg,
.matched-loading svg {
    position: absolute;
    top: 50%;
}

.agency-signup-body {
    background-image: url(/images/agency/agency-signup-background.jpg);
    background-size: cover;
}

.agency-signup-topnav-container {
    display: flex;
    justify-content: space-between;
    background-color: #1C1C1C;
    color: gray;
    padding: 25px 40px;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}

.agency-signup-topnav-container .agency-signup-logo span {
    margin-left: 1em;
    font-family: arial;
    vertical-align: top;
    font-size: 15pt;
}

.agency-signup-steps-icon {
    display: flex;
    /*margin-left: 14em;*/
    margin-top: -1em;
}

.agency-signup-steps-icon .agency-step-icon {
    padding-right: 2em;
}

.agency-signup-steps-icon .agency-step-icon .step-text.active {
    color: #fff;
}

.agency-signup-steps-icon .agency-step-icon .step-checkmark.active {
    position: absolute;
    top: 0;
    margin-left: 2em;
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 -90px;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-1 .sprite {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 90px;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-2 .sprite {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 90px 90px;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-3 .sprite {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 45px 90px;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-1 .sprite.active {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 0;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-2 .sprite.active {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 90px 0;
    height: 45px;
    width: 45px;
}

.agency-step-icon.step-3 .sprite.active {
    background: url(/images/agency/agency-signup-sprite-45x45.png) 45px 0;
    height: 45px;
    width: 45px;
}


/*.agency-step-signup{
	animation: _fadeInRight 0.3s;

	@keyframes _fadeInRight {
		0% {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}

		100% {
			opacity: 1;
			transform: none;
		}
	}	
}*/


/* Agency Sign Up Step 1*/

.agency-step-signup.step-1 h3 {
    color: #fff;
}

.agency-step-signup.step-1 {
    width: 50%;
    margin: auto;
    margin-top: 3em;
    color: #fff;
}

.agency-step-signup form input,
.agency-step-signup form select {
    border-radius: 3px;
    background-color: #fcfcfc;
}

.agency-step-signup form input:focus {
    background-color: #ffeac8;
}

.agency-agreement-checkbox,
.agency-services-checkbox {
    margin-left: 3em;
    margin-top: 1em;
}

.agency-step-signup.step-1 input[type='checkbox'],
.agency-step-signup.step-2 input[type='checkbox'] {
    display: none;
}

.agency-step-signup.step-1 input[type='checkbox']+label {
    color: #fff;
}

.agency-step-signup.step-1 input[type='checkbox']+label,
.agency-step-signup.step-2 input[type='checkbox']+label {
    cursor: pointer;
    margin-left: -1em !important;
}

.agency-step-signup.step-1 input[type='checkbox']+label:before,
.agency-step-signup.step-2 input[type='checkbox']+label:before {
    position: absolute;
    left: -1.8em;
    top: 5px;
    content: "\00a0";
    outline: 1.5px solid #ccc;
    display: inline-block;
    background: #fff;
    font: 23px/1em bold;
    height: 20px;
    width: 20px;
}

.agency-step-signup.step-1 input[type='checkbox']:checked+label:before,
.agency-step-signup.step-2 input[type='checkbox']:checked+label:before {
    background: #fff;
    color: #26b24b;
    content: "\2713";
    text-align: center;
    font-weight: bold;
}

.agency-signup-button.step-1 {
    width: 100%;
    margin-top: 2em;
    background-color: #2BC56D;
    border-radius: 3px;
}

.agency-signup-button.step-1:hover {
    opacity: 0.95;
}

form .formDateWrapper {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 10px;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
    border-radius: 3px
}

.formDateWrapper input {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none !important;
    height: 20px !important;
    line-height: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    line-height: inherit;
}

form .formDateWrapper.invalid {
    background-color: #FFEAC8;
    background-image: url("/images/formError.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #FF7F00;
    box-shadow: none;
    color: #000000;
}


/* End Agency Sign Up Step 1 */


/* Agency Sign Up Step 2 */

.agency-step-signup.step-2 {
    background-color: #fff;
    border-radius: 3px;
    padding: 1.3em;
    width: 70%;
    margin: auto;
    margin-top: 1em;
}

.agency-step-signup.step-2>.agency-signup-terms {
    overflow-y: scroll;
    height: 350px;
}

.agency-signup-button.step-2,
.agency-signup-button.step-3 {
    margin-top: 2em;
    border-radius: 3px;
    background-color: #2BC56D;
    width: 32%;
}

.agency-signup-button.step-2:hover,
.agency-signup-button.step-3:hover {
    opacity: 0.95;
}

.agency-signup-button.step-3 {
    float: right;
}


/* End Agency Sign Up Step 2*/


/* Agency Sign Up Step 3 */

.agency-step-signup.step-3 {
    margin-top: 1.5em;
}

.agency-step-signup.step-3 div input[type='text'],
.agency-step-signup.step-3 div select {
    width: 90%;
}

.agency-step-signup.step-3>h3 {
    text-align: center;
    color: #fff;
}

.agency-step-signup.step-3>div {
    background-color: #fff;
    border-radius: 3px;
    padding: 1.3em;
    width: 70%;
    margin: auto;
    /*margin-top: 1em;*/
}

.agency-step-signup.step-3 .user-added-service {
    display: flex;
}

.agency-step-signup.step-3 .new-service-remove-btn {
    font-size: 12px;
    text-decoration: underline;
    margin-left: auto;
    cursor: pointer;
}

.agency-step-signup.step-3 .new-service-remove-btn:hover {
    opacity: 0.7;
}


.agency-step-signup.step-3 .image-upload>input {
    display: none;
}

.agency-step-signup.step-3 .image-upload .upload-photo-icon {
    padding: 2em;
    background-color: #606060;
    border-radius: 50%;
    width: 90px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#agency-profile-photo-checkmark.active {
    position: absolute;
    margin-top: -5em;
    margin-left: 3em;
    background: url(/images/agency/agency-signup-sprite-45x45.png) 0 -90px;
    height: 45px;
    width: 45px;
    transform: scale(1.2);
}

.agency-step-signup.step-3 .image-upload label:hover {
    opacity: 0.8;
}

.add-agency-service-btn {
    cursor: pointer;
    margin-bottom: 0.5em;
}

.add-agency-service-btn:hover {
    opacity: 0.8;
}

.view-agency-profile-sample-btn {
    color: #5FD391;
    cursor: pointer;
}

.view-agency-profile-sample-btn:hover {
    opacity: 0.8;
}

.drop-down {
    position: relative;
    display: inline-block;
    width: auto;
    margin-top: 0;
    font-family: verdana;
}

.drop-down select {
    display: none;
}

.drop-down .select-list {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    margin-top: 40px;
    padding: 0;
    background-color: #595959;
}

.drop-down .select-list li {
    display: none;
}

.drop-down .select-list li span {
    display: inline-block;
    min-height: 40px;
    min-width: 280px;
    width: 100%;
    padding: 5px 15px 5px 35px;
    background-color: #595959;
    background-position: left 10px center;
    background-repeat: no-repeat;
    font-size: 16px;
    text-align: left;
    color: #FFF;
    opacity: 0.7;
    box-sizing: border-box;
}

.drop-down .select-list li span:hover,
.drop-down .select-list li span:focus {
    opacity: 1;
}


/* End Agency Sign Up Step 3*/


/* Start Steps completed modal */

.continue-to-plexuss-btn {
    margin-top: 3em;
    border-radius: 3px;
    background-color: #2BC56D;
    width: 40%;
}

.agency-steps-complete {
    padding: 2em 2em;
    width: 50%;
    margin: auto;
    margin-top: 3%;
    background-color: #fff;
    border-radius: 1px;
    text-align: center;
}


/* End Steps completed modal */


/**/

.chatMainWindow,
.messageMainWindow {
    display: none;
}

.chatMainWindow.active,
.messageMainWindow.active {
    display: block;
}

.messageScrollArea,
.msgScrollBox {
    font-size: 0.9em;
}




/*
.messageMainWindow .rightMessageColumn textarea, .chatMainWindow .rightChatColumn textarea  {
	height: 50px;
}
*/

.msgScrollBox,
.messageScrollArea {
    height: 458px;
    overflow-y: auto;
    overflow-x: hidden;
}


/***********************************************************************
 *==================== MESSAGING CONTACT LIST CSS =====================*/

.messageMainWindow .row .column.usersArea {
    background-color: #fff;
    overflow-y: auto;
    height: 100%;
}

.row.messageContacts {
    cursor: pointer;
}

.row.messageContacts.selected {
    color: #fff;
    background-color: #0085b2;
}

.row.messageContacts.has_unread .messageName,
.row.messageContacts.has_unread .messageSample {
    font-weight: bold;
    /*background-color: #eee;*/
}

.messageMainWindow .row .column.usersArea .messageContacts {
    padding: 0.8em;
    border-bottom: 1px solid #b9babb;
}

.messageMainWindow .messageContacts .messageName {
    /*text-decoration: underline;*/
    font-weight: 600;
    white-space: nowrap;
    overflow-x: hidden;
}

.messageMainWindow .messageContacts .messageSample {
    font-size: 0.85em;
    white-space: nowrap;
    overflow-x: hidden;
}

.messageMainWindow .messageContacts .messageDate {
    font-size: 0.75em;
    color: #b9babb;
    text-align: right;
}


/***********************************************************************/


/***********************************************************************
 *========================== CHAT MSG CSS ============================ */

.msgItem .msgDate,
.msgItem .msgName,
.msgItem .message,
.messageitems .msgDate,
.messageitems .msgName,
.messageitems .message {
    overflow-x: hidden;
}

.msgItem .message,
.messageitems .message {
    word-wrap: break-word;
}

.msgItem .msgName,
.msgItem .msgDate,
.messageitems .msgName,
.messageitems .msgDate {
    text-overflow: ellipsis;
}

.msgItem .msgName,
.messageitems .msgName {
    cursor: help;
    font-weight: bold;
}

.msgItem.orgMsg .message,
.msgItem.orgMsg .msgName,
.messageitems.orgMsg .message,
.messageitems.orgMsg .msgName {
    color: #1db151;
    font-weight: bold;
}

.msgItem.hideUser .msgName,
.msgItem.hideTime .msgDate,
.messageitems.hideUser .msgName,
.messageitems.hideTime .msgDate {
    visibility: hidden;
}

.msgScrollBox .row.messageitems .msgDate,
.messageScrollArea .row.msgItem .msgDate {
    color: #b9babb;
    font-weight: bold;
    font-size: 0.7em;
}


/***************************************************
 *================ date separator =================*/

.dateSeparator {
    position: relative;
}

.dateSeparator .small-12.column {
    color: #b9babb;
}

.dateSeparator .separatorStrike {
    color: #b9babb;
    width: 40%;
    position: absolute;
    border-bottom: 1px solid #b9babb;
    top: 0.8em;
}

.dateSeparator .separatorStrike.strikeLeft {
    left: 0;
}

.dateSeparator .separatorStrike.strikeRight {
    right: 0;
}


/****************************************************/


/***********************************************************************/


/***********************************************************************
 *======================== CHAT THREAD LIST ===========================*/

.switchbuttons-wrapper {
    position: absolute;
    bottom: 0;
    padding: 1em;
    right: 0;
    left: 0;
    background-color: #fff;
}

.switchbuttons {
    cursor: pointer;
}

.leftMessageColumn .switchbuttons.privateChatButton,
.leftChatColumn .switchbuttons.mainChatButton {
    font-weight: bold;
}

.leftMessageColumn .switchbuttons.mainChatButton {
    margin-right: 1em;
}

.leftChatColumn .chatUserLists {
    width: 100%;
    max-height: 540px;
    overflow-x: hidden;
    overflow-y: auto;
}

.chatUser {
    padding-top: 10px;
    padding-bottom: 10px;
    color: #000;
    font-size: 14px;
    cursor: pointer;
    background-color: #EBEBEB;
    border-bottom: 1px solid #fff;
}

.chatUser.selected {
    background-color: #000;
    color: #fff;
}

.chatUser .unread_count,
.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count,
.switchbuttons-wrapper .switchbuttons.privateChatButton .unread_count {
    color: #fff;
    background-color: #ff5c26;
    font-size: 0.82em;
    padding: 0.1em 0.6em;
    border-radius: 1em;
    font-weight: bold;
}

.chatUser .unread_count:empty,
.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count:empty,
.switchbuttons-wrapper .switchbuttons.privateChatButton .unread_count:empty {
    display: none;
}


/* individual chat thread unread count */

.chatUser .unread_count {
    position: absolute;
    right: 0.5em;
}


/* switchbuttons chat unread count */

.switchbuttons-wrapper .switchbuttons.mainChatButton .unread_count {}


/***********************************************************************/


/***********************************************************************
 *=========================== INPUT AREA ============================= */

.chatTxtbox .column .chattext,
.messageTxtbox .column .msgtext {
    height: 15px;
    margin: 0;
    border-radius: 5px;
    resize: none;
    overflow-y: auto;
    transition: background-color 300ms;
    box-shadow: none;
}

.chattext:focus,
.msgtext:focus {
    box-shadow: none;
}

.button.sendbutton {
    font-size: 15px;
    padding: 1em;
    border-radius: 5px;
    width: 100%;
    margin: 0;
    background-color: #ff5c26;
}

.button.sendbutton.disabled {
    background-color: #b9babb;
}

.column.small-12.messageTxtbox,
.column.small-12.chatTxtbox {
    margin: 1em 0;
}


/***********************************************************************/


/***********************************************************************
 *======================= CHAT/MESSAGE BOXES ==========================*/

.chatMainWindow .leftChatColumn,
.messageMainWindow .leftMessageColumn {
    height: 540px;
    background-color: #fff;
    border-right: 1px solid #b9babb;
}

.chatMainWindow .rightChatColumn,
.messageMainWindow .rightMessageColumn {
    background-color: #fff;
    height: 540px;
}


/***********************************************************************/


/***********************************************************************
 *=========================== IDLE OVERLAY =============================*/

.messageMainWindow .idle_overlay_wrapper,
.chatMainWindow .idle_overlay_wrapper {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY( -50%);
}

.idle_overlay {
    background-color: rgba( 245, 245, 245, 0.85);
    height: 10em;
    border-radius: 8px;
    display: none;
}

.idle_title {
    font-size: 3em;
    font-weight: bold;
    color: #797979;
    margin: 0.1em;
}

.idle_description {
    color: #a6a7a8;
}

.idle_title {
    text-shadow: #b9babb 0 0 5px;
}


/***********************************************************************/


/** ADMIN MESSAGES/CHAT MODIFICATIONS - start **/

body#agency-chat .messingingWrapper,
body#agency-messages .messingingWrapper,
body#agency-messages .messingingWrapper {
    max-width: 100%;
    width: 100%;
}

body#agency-chat #topAlertContainer,
body#agency-messages #topAlertContainer,
body#agency-messages #topAlertContainer {
    margin-bottom: 0;
}

#agency-chat .chatMainWindow>div:last-child,
#agency-messages .messingingWrapper .chatMainWindow>div:last-child {
    padding: 0;
}

.messingingWrapper .chatLeftHeader.agency-chat-header {
    padding: 0;
}


/*medium and up */

@media only screen and (min-width: 40.063em) {

    body#agency-chat .messingingWrapper,
    body#agency-messages .messingingWrapper,
    body#agency-messages .messingingWrapper {
        position: absolute;
        top: 77px;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 6;
    }

    .messingingWrapper>.column.small-12,
    .messingingWrapper .row.messageMainWindow,
    .messingingWrapper .row.chatMainWindow,
    .messingingWrapper .row.chatMainWindow>.column.small-12,
    .messingingWrapper .row.chatMainWindow>.column.small-12>.row.collapse,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .leftChatColumn,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .rightChatColumn,
    .messingingWrapper .messageMainWindow>div.leftMessageColumn,
    .messingingWrapper .messageMainWindow>div.rightMessageColumn {
        height: 100%;
    }

    .messingingWrapper .row.chatMainWindow>.column.small-12 .leftChatColumn,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .rightChatColumn {
        z-index: 1;
    }

    .messingingWrapper .row.chatMainWindow>.column.small-12 .leftChatColumn>div.row:first-child {
        padding: 1em;
    }

    .messingingWrapper .messageMainWindow>div.rightMessageColumn>div.row:last-child,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .rightChatColumn>div.row:last-child {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
    }

    .messingingWrapper .messageMainWindow>div.rightMessageColumn>div.row:first-child,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .rightChatColumn>div.row:first-child {
        position: absolute;
        top: 0;
        bottom: 84px;
        left: 6px;
        right: 6px;
    }

    .messingingWrapper .messageMainWindow>div.rightMessageColumn>div.row:first-child .msgScrollBox,
    .messingingWrapper .row.chatMainWindow>.column.small-12 .rightChatColumn>div.row:first-child .messageScrollArea {
        height: 100%;
    }

    .messingingWrapper .messageMainWindow>div.rightMessageColumn .messageTxtbox>.row {
        padding: 0 6px;
    }

    .messingingWrapper .messageMainWindow>div.leftMessageColumn>.row {
        position: absolute;
        top: 0;
        bottom: 81px;
        right: 0;
        left: 0;
        z-index: 1;
        margin: 0;
    }
}


/*large and up only */

@media only screen and (min-width: 64.063em) {
    body#agency-chat .messingingWrapper,
    body#agency-messages .messingingWrapper,
    body#agency-messages .messingingWrapper {
        top: 82px;
    }
}


/*custom media query */

@media only screen and (min-width: 1026px) and (max-width: 1041px) {

    body#agency-chat .messingingWrapper,
    body#agency-messages .messingingWrapper,
    body#agency-messages .messingingWrapper {
        top: 94px;
    }
}


/** ADMIN MESSAGES/CHAT MODIFICATIONS - end **/


/***** daily chat bar styles - start *****/


/*remove .with-daily-chat-bar from these rows*/

body#agency-chat .messingingWrapper.with-daily-chat-bar,
body#agency-messages .messingingWrapper.with-daily-chat-bar,
body#agency-messages .messingingWrapper.with-daily-chat-bar {
    top: 126px;
}


/***** daily chat bar styles - end *****/


/***** chat onHover - profile preview - start *****/

.leftChatColumn .profile-preview-panel {
    border: thin solid blue;
    display: none;
    position: absolute;
    width: 300px;
}

.show-preview-onhover:hover {
    text-decoration: underline;
}

#agency-chat .tooltip {
    background-color: #fff;
    color: #202020;
    box-shadow: 1px 1px 4px 1px #797979;
    border-radius: 2px;
    max-width: 400px;
}

.tooltip .tip-financial-amt,
.tooltip .tip-objective-row,
.tooltip .tip-personalinfo-row,
.tooltip .tip-uploads-row {
    padding: 0 0 10px;
    /*border: thin solid red;*/
}

.tooltip .tip-table-row tr td {
    line-height: 0.75rem;
}

.tooltip .tip-table-row tr>td:first-child {
    background-color: #ddd;
}

.tooltip .tip-table-row tr>td:last-child {
    background-color: #eee;
}

.chatUser.column .prof-tooltip {
    border-bottom: none;
    margin-left: 5px;
}


/***** chat onHover - profile preview - end *****/

.flag {
    width: 16px;
    height: 11px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat;
}

.flag.flag-ad {
    background-position: -16px 0
}

.flag.flag-ae {
    background-position: -32px 0
}

.flag.flag-af {
    background-position: -48px 0
}

.flag.flag-ag {
    background-position: -64px 0
}

.flag.flag-ai {
    background-position: -80px 0
}

.flag.flag-al {
    background-position: -96px 0
}

.flag.flag-am {
    background-position: -112px 0
}

.flag.flag-an {
    background-position: -128px 0
}

.flag.flag-ao {
    background-position: -144px 0
}

.flag.flag-aq {
    background-position: -208px -165px
}

.flag.flag-ar {
    background-position: -160px 0
}

.flag.flag-as {
    background-position: -176px 0
}

.flag.flag-at {
    background-position: -192px 0
}

.flag.flag-au {
    background-position: -208px 0
}

.flag.flag-aw {
    background-position: -224px 0
}

.flag.flag-az {
    background-position: -240px 0
}

.flag.flag-ba {
    background-position: 0 -11px
}

.flag.flag-bb {
    background-position: -16px -11px
}

.flag.flag-bd {
    background-position: -32px -11px
}

.flag.flag-be {
    background-position: -48px -11px
}

.flag.flag-bf {
    background-position: -64px -11px
}

.flag.flag-bg {
    background-position: -80px -11px
}

.flag.flag-bh {
    background-position: -96px -11px
}

.flag.flag-bi {
    background-position: -112px -11px
}

.flag.flag-bj {
    background-position: -128px -11px
}

.flag.flag-bm {
    background-position: -144px -11px
}

.flag.flag-bn {
    background-position: -160px -11px
}

.flag.flag-bo {
    background-position: -176px -11px
}

.flag.flag-br {
    background-position: -192px -11px
}

.flag.flag-bs {
    background-position: -208px -11px
}

.flag.flag-bt {
    background-position: -224px -11px
}

.flag.flag-bv {
    background-position: -240px -11px
}

.flag.flag-bw {
    background-position: 0 -22px
}

.flag.flag-by {
    background-position: -16px -22px
}

.flag.flag-bz {
    background-position: -32px -22px
}

.flag.flag-ca {
    background-position: -48px -22px
}

.flag.flag-catalonia {
    background-position: -64px -22px
}

.flag.flag-cd {
    background-position: -80px -22px
}

.flag.flag-cf {
    background-position: -96px -22px
}

.flag.flag-cg {
    background-position: -112px -22px
}

.flag.flag-ch {
    background-position: -128px -22px
}

.flag.flag-ci {
    background-position: -144px -22px
}

.flag.flag-ck {
    background-position: -160px -22px
}

.flag.flag-cl {
    background-position: -176px -22px
}

.flag.flag-cm {
    background-position: -192px -22px
}

.flag.flag-cn {
    background-position: -208px -22px
}

.flag.flag-co {
    background-position: -224px -22px
}

.flag.flag-cr {
    background-position: -240px -22px
}

.flag.flag-cu {
    background-position: 0 -33px
}

.flag.flag-cv {
    background-position: -16px -33px
}

.flag.flag-cw {
    background-position: -32px -33px
}

.flag.flag-cx {
    background-position: -240px -165px
}

.flag.flag-cy {
    background-position: -48px -33px
}

.flag.flag-cz {
    background-position: -64px -33px
}

.flag.flag-de {
    background-position: -80px -33px
}

.flag.flag-dj {
    background-position: -96px -33px
}

.flag.flag-dk {
    background-position: -112px -33px
}

.flag.flag-dm {
    background-position: -128px -33px
}

.flag.flag-do {
    background-position: -144px -33px
}

.flag.flag-ds {
    background-position: -224px -165px
}

.flag.flag-dz {
    background-position: -160px -33px
}

.flag.flag-ec {
    background-position: -176px -33px
}

.flag.flag-ee {
    background-position: -192px -33px
}

.flag.flag-eg {
    background-position: -208px -33px
}

.flag.flag-eh {
    background-position: -224px -33px
}

.flag.flag-england {
    background-position: -240px -33px
}

.flag.flag-er {
    background-position: 0 -44px
}

.flag.flag-es {
    background-position: -16px -44px
}

.flag.flag-et {
    background-position: -32px -44px
}

.flag.flag-eu {
    background-position: -48px -44px
}

.flag.flag-fi {
    background-position: -64px -44px
}

.flag.flag-fj {
    background-position: -80px -44px
}

.flag.flag-fk {
    background-position: -96px -44px
}

.flag.flag-fm {
    background-position: -112px -44px
}

.flag.flag-fo {
    background-position: -128px -44px
}

.flag.flag-fr {
    background-position: -144px -44px
}

.flag.flag-fx {
    background-position: -144px -44px
}

.flag.flag-ga {
    background-position: -160px -44px
}

.flag.flag-gb {
    background-position: -176px -44px
}

.flag.flag-gd {
    background-position: -192px -44px
}

.flag.flag-ge {
    background-position: -208px -44px
}

.flag.flag-gf {
    background-position: -224px -44px
}

.flag.flag-gg {
    background-position: -240px -44px
}

.flag.flag-gh {
    background-position: 0 -55px
}

.flag.flag-gi {
    background-position: -16px -55px
}

.flag.flag-gl {
    background-position: -32px -55px
}

.flag.flag-gm {
    background-position: -48px -55px
}

.flag.flag-gn {
    background-position: -64px -55px
}

.flag.flag-gp {
    background-position: -80px -55px
}

.flag.flag-gq {
    background-position: -96px -55px
}

.flag.flag-gr {
    background-position: -112px -55px
}

.flag.flag-gs {
    background-position: -128px -55px
}

.flag.flag-gt {
    background-position: -144px -55px
}

.flag.flag-gu {
    background-position: -160px -55px
}

.flag.flag-gw {
    background-position: -176px -55px
}

.flag.flag-gy {
    background-position: -192px -55px
}

.flag.flag-hk {
    background-position: -208px -55px
}

.flag.flag-hm {
    background-position: -224px -55px
}

.flag.flag-hn {
    background-position: -240px -55px
}

.flag.flag-hr {
    background-position: 0 -66px
}

.flag.flag-ht {
    background-position: -16px -66px
}

.flag.flag-hu {
    background-position: -32px -66px
}

.flag.flag-ic {
    background-position: -48px -66px
}

.flag.flag-id {
    background-position: -64px -66px
}

.flag.flag-ie {
    background-position: -80px -66px
}

.flag.flag-il {
    background-position: -96px -66px
}

.flag.flag-im {
    background-position: -112px -66px
}

.flag.flag-in {
    background-position: -128px -66px
}

.flag.flag-io {
    background-position: -144px -66px
}

.flag.flag-iq {
    background-position: -160px -66px
}

.flag.flag-ir {
    background-position: -176px -66px
}

.flag.flag-is {
    background-position: -192px -66px
}

.flag.flag-it {
    background-position: -208px -66px
}

.flag.flag-je {
    background-position: -224px -66px
}

.flag.flag-jm {
    background-position: -240px -66px
}

.flag.flag-jo {
    background-position: 0 -77px
}

.flag.flag-jp {
    background-position: -16px -77px
}

.flag.flag-ke {
    background-position: -32px -77px
}

.flag.flag-kg {
    background-position: -48px -77px
}

.flag.flag-kh {
    background-position: -64px -77px
}

.flag.flag-ki {
    background-position: -80px -77px
}

.flag.flag-km {
    background-position: -96px -77px
}

.flag.flag-kn {
    background-position: -112px -77px
}

.flag.flag-kp {
    background-position: -128px -77px
}

.flag.flag-kr {
    background-position: -144px -77px
}

.flag.flag-kurdistan {
    background-position: -160px -77px
}

.flag.flag-kw {
    background-position: -176px -77px
}

.flag.flag-ky {
    background-position: -192px -77px
}

.flag.flag-kz {
    background-position: -208px -77px
}

.flag.flag-la {
    background-position: -224px -77px
}

.flag.flag-lb {
    background-position: -240px -77px
}

.flag.flag-lc {
    background-position: 0 -88px
}

.flag.flag-li {
    background-position: -16px -88px
}

.flag.flag-lk {
    background-position: -32px -88px
}

.flag.flag-lr {
    background-position: -48px -88px
}

.flag.flag-ls {
    background-position: -64px -88px
}

.flag.flag-lt {
    background-position: -80px -88px
}

.flag.flag-lu {
    background-position: -96px -88px
}

.flag.flag-lv {
    background-position: -112px -88px
}

.flag.flag-ly {
    background-position: -128px -88px
}

.flag.flag-ma {
    background-position: -144px -88px
}

.flag.flag-mc {
    background-position: -160px -88px
}

.flag.flag-md {
    background-position: -176px -88px
}

.flag.flag-me {
    background-position: -192px -88px
}

.flag.flag-mg {
    background-position: -208px -88px
}

.flag.flag-mh {
    background-position: -224px -88px
}

.flag.flag-mk {
    background-position: -240px -88px
}

.flag.flag-ml {
    background-position: 0 -99px
}

.flag.flag-mm {
    background-position: -16px -99px
}

.flag.flag-mn {
    background-position: -32px -99px
}

.flag.flag-mo {
    background-position: -48px -99px
}

.flag.flag-mp {
    background-position: -64px -99px
}

.flag.flag-mq {
    background-position: -80px -99px
}

.flag.flag-mr {
    background-position: -96px -99px
}

.flag.flag-ms {
    background-position: -112px -99px
}

.flag.flag-mt {
    background-position: -128px -99px
}

.flag.flag-mu {
    background-position: -144px -99px
}

.flag.flag-mv {
    background-position: -160px -99px
}

.flag.flag-mw {
    background-position: -176px -99px
}

.flag.flag-mx {
    background-position: -192px -99px
}

.flag.flag-my {
    background-position: -208px -99px
}

.flag.flag-mz {
    background-position: -224px -99px
}

.flag.flag-na {
    background-position: -240px -99px
}

.flag.flag-nc {
    background-position: 0 -110px
}

.flag.flag-ne {
    background-position: -16px -110px
}

.flag.flag-nf {
    background-position: -32px -110px
}

.flag.flag-ng {
    background-position: -48px -110px
}

.flag.flag-ni {
    background-position: -64px -110px
}

.flag.flag-nl {
    background-position: -80px -110px
}

.flag.flag-no {
    background-position: -96px -110px
}

.flag.flag-np {
    background-position: -112px -110px
}

.flag.flag-nr {
    background-position: -128px -110px
}

.flag.flag-nu {
    background-position: -144px -110px
}

.flag.flag-nz {
    background-position: -160px -110px
}

.flag.flag-om {
    background-position: -176px -110px
}

.flag.flag-pa {
    background-position: -192px -110px
}

.flag.flag-pe {
    background-position: -208px -110px
}

.flag.flag-pf {
    background-position: -224px -110px
}

.flag.flag-pg {
    background-position: -240px -110px
}

.flag.flag-ph {
    background-position: 0 -121px
}

.flag.flag-pk {
    background-position: -16px -121px
}

.flag.flag-pl {
    background-position: -32px -121px
}

.flag.flag-pm {
    background-position: -48px -121px
}

.flag.flag-pn {
    background-position: -64px -121px
}

.flag.flag-pr {
    background-position: -80px -121px
}

.flag.flag-ps {
    background-position: -96px -121px
}

.flag.flag-pt {
    background-position: -112px -121px
}

.flag.flag-pw {
    background-position: -128px -121px
}

.flag.flag-py {
    background-position: -144px -121px
}

.flag.flag-qa {
    background-position: -160px -121px
}

.flag.flag-re {
    background-position: -176px -121px
}

.flag.flag-ro {
    background-position: -192px -121px
}

.flag.flag-rs {
    background-position: -208px -121px
}

.flag.flag-ru {
    background-position: -224px -121px
}

.flag.flag-rw {
    background-position: -240px -121px
}

.flag.flag-sa {
    background-position: 0 -132px
}

.flag.flag-sb {
    background-position: -16px -132px
}

.flag.flag-sc {
    background-position: -32px -132px
}

.flag.flag-scotland {
    background-position: -48px -132px
}

.flag.flag-sd {
    background-position: -64px -132px
}

.flag.flag-se {
    background-position: -80px -132px
}

.flag.flag-sg {
    background-position: -96px -132px
}

.flag.flag-sh {
    background-position: -112px -132px
}

.flag.flag-si {
    background-position: -128px -132px
}

.flag.flag-sk {
    background-position: -144px -132px
}

.flag.flag-sl {
    background-position: -160px -132px
}

.flag.flag-sm {
    background-position: -176px -132px
}

.flag.flag-sn {
    background-position: -192px -132px
}

.flag.flag-so {
    background-position: -208px -132px
}

.flag.flag-somaliland {
    background-position: -224px -132px
}

.flag.flag-sr {
    background-position: -240px -132px
}

.flag.flag-ss {
    background-position: 0 -143px
}

.flag.flag-st {
    background-position: -16px -143px
}

.flag.flag-sv {
    background-position: -32px -143px
}

.flag.flag-sx {
    background-position: -48px -143px
}

.flag.flag-sy {
    background-position: -64px -143px
}

.flag.flag-sz {
    background-position: -80px -143px
}

.flag.flag-tc {
    background-position: -96px -143px
}

.flag.flag-td {
    background-position: -112px -143px
}

.flag.flag-tf {
    background-position: -128px -143px
}

.flag.flag-tg {
    background-position: -144px -143px
}

.flag.flag-th {
    background-position: -160px -143px
}

.flag.flag-tj {
    background-position: -176px -143px
}

.flag.flag-tk {
    background-position: -192px -143px
}

.flag.flag-tl {
    background-position: -208px -143px
}

.flag.flag-tm {
    background-position: -224px -143px
}

.flag.flag-tn {
    background-position: -240px -143px
}

.flag.flag-to {
    background-position: 0 -154px
}

.flag.flag-tp {
    background-position: 0 -176px
}

.flag.flag-tr {
    background-position: -16px -154px
}

.flag.flag-tt {
    background-position: -32px -154px
}

.flag.flag-tv {
    background-position: -48px -154px
}

.flag.flag-tw {
    background-position: -64px -154px
}

.flag.flag-ty {
    background-position: -32px -176px
}

.flag.flag-tz {
    background-position: -80px -154px
}

.flag.flag-ua {
    background-position: -96px -154px
}

.flag.flag-ug {
    background-position: -112px -154px
}

.flag.flag-um {
    background-position: -128px -154px
}

.flag.flag-us {
    background-position: -144px -154px
}

.flag.flag-uy {
    background-position: -160px -154px
}

.flag.flag-uz {
    background-position: -176px -154px
}

.flag.flag-va {
    background-position: -192px -154px
}

.flag.flag-vc {
    background-position: -208px -154px
}

.flag.flag-ve {
    background-position: -224px -154px
}

.flag.flag-vg {
    background-position: -240px -154px
}

.flag.flag-vi {
    background-position: 0 -165px
}

.flag.flag-vn {
    background-position: -16px -165px
}

.flag.flag-vu {
    background-position: -32px -165px
}

.flag.flag-wales {
    background-position: -48px -165px
}

.flag.flag-wf {
    background-position: -64px -165px
}

.flag.flag-ws {
    background-position: -80px -165px
}

.flag.flag-xk {
    background-position: -192px -165px
}

.flag.flag-ye {
    background-position: -96px -165px
}

.flag.flag-yt {
    background-position: -112px -165px
}

.flag.flag-yu {
    background-position: -64px -176px
}

.flag.flag-za {
    background-position: -128px -165px
}

.flag.flag-zanzibar {
    background-position: -144px -165px
}

.flag.flag-zm {
    background-position: -160px -165px
}

.flag.flag-zr {
    background-position: -48px -176px
}

.flag.flag-zw {
    background-position: -176px -165px
}