/**** CSS for AOR Central Control portal *****/


/* \\\\\ aor master styling - start ///// */
#manageColleges .row.aor-central-control-container,
#aor-clientReporting .row.aor-central-control-container,
.row.aor-central-control-container,
.row.aor-central-control-container{
	width: 100%;
	max-width: 100%;
	/*border: thin solid red;*/
	height: 100%;
}

.aor-central-control-container .aor-topnav-container{
	/*border: thin solid blue;*/
}

.aor-central-control-container .aor-main-content-container{
	/*border: thin solid green;*/
}
/* \\\\\ aor master styling - end ///// */




/*\\\\\ aor top nav styling - start ///// */
#aor-top-bar .top-bar-section.aor-topbar-section > ul, #aor-top-bar .top-bar-section.aor-topbar-section > ul li,
#aor-top-bar .top-bar-section.aor-topbar-section > ul > li.active > a,
#aor-top-bar .top-bar-section.aor-topbar-section > ul li a{
	background-color: transparent !important;
}

.top-bar#aor-top-bar{
	background-color: #f5f5f5;
	height: 36px;
}

#aor-top-bar img{
	width: 40%;
}

#aor-top-bar .top-bar-section.aor-topbar-section > ul li a{
	color: #000;
	line-height: 36px;
}

#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover,
#aor-top-bar .top-bar-section.aor-topbar-section > ul > li.active > a{
	color: #26b24b;
}

#aor-top-bar ul.left span:first-child{
	padding: 0 0 0 10px;
}

#aor-top-bar ul.left span:last-child{
	padding: 2px 15px;
	border-left: 2px solid #000;
}

#aor-top-bar > .aor-topbar-section ul.left{
	width: 50%;
}
/*\\\\\ aor top nav styling - end ///// */




/*\\\\\ dashboard content styling - start ///// */
#manageColleges .row.aor-central-control-container{
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #ddd;
}

.aor-dashboard-container .dash-header{
	font-size: 24px;
}

.aor-dashboard-container .dash-header,
.aor-dashboard-container .dashboard-indicator .indicator-label,
.aor-dashboard-container .dashboard-indicator .indicator-dynamic-info{
	color: #fff;
	font-weight: 600;
	padding: 10px 0;
}

.aor-dashboard-container > .column.small-centered,
.aor-dashboard-container .plex-social-head{
	padding-top: 50px;
}

.aor-dashboard-container .dashboard-indicator.indi-messages{
	background-color: #40B37A;
	z-index: 2
}
.aor-dashboard-container .dashboard-indicator.indi-messages .indicator-dynamic-info{
	background-color: #107E2A;
}

.aor-dashboard-container .dashboard-indicator.indi-client{
	background-color: #10B1B1;
	z-index: 1
}
.aor-dashboard-container .dashboard-indicator.indi-client .indicator-dynamic-info{
	background-color: #017B7B;
}

.aor-dashboard-container .dashboard-indicator:not(:first-child) img{
	margin-bottom: 1px;
}

.aor-dashboard-container .dashboard-indicator .indicator-pic{
	padding: 40px 0;
}

/*\\\\\ dashboard content styling - end ///// */




/*\\\\\ Client Reporting content styling - start ///// */
.aor-filter-container{
	padding: 10px 0;
	height: 60px;
}

#aor-clientReporting > #ui-datepicker-div{
	z-index: 110 !important;
}

#aor_dataTable_filter{
	float: right;
	margin-right: 20px;
	margin-top: -54px;
	width: 22%;
	text-align: left;
	z-index: 110;
}

#aor_dataTable_filter input{
	margin: 5px 0 0;
}

#aor_dataTable_filter label{
	color: #797979;
	font-size: 0px;
}

.aor-dataSheet-container tr.is-client td{
	font-weight: 600;
}

.aor-main-content-container .aor-fixed-footer-row{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #26b24b;
	color: #fff;
	padding: 3px 9px;
	font-size: 14px;
	font-weight: 100;
}

.aor-main-content-container .aor-dataSheet-container{
	padding-bottom: 40px;
}

.aor-filter-container .filter-row-left-side{
	padding-top: 7px;
}

.dataTables_scrollHead.is_fixed{
	position: fixed !important;
	top: 0;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.7);
	z-index: 1;
}

#aor_dataTable_wrapper td.group{
	background-color: #ddd;
	color: #797979;
	font-weight: 600;
	border-bottom: 1px solid #bfbfbf;
}

#aor_dataTable_wrapper tr[data-groupname]{
	cursor: pointer;
}

.data-container td[class^="inject-"]{
	color: #fff;
}

.data-container td[class^="inject-"].average{
	background-color: #ff9933;
}

.data-container td[class^="inject-"].below{
	background-color: #ff3333;
}

.data-container td[class^="inject-"].above{
	background-color: #26b24b;
}

.data-container table{
	margin: 0 auto;
}

.err{
	color: #FF5C26;
	display: none;
}


.DTFC_LeftHeadWrapper table th, .dataTables_scrollHeadInner table th {
	color: #797979;
	font-weight: 600;
}
.DTFC_LeftBodyLiner table tr td, .dataTables_scrollBody table tr td{
	color: #797979;
	font-weight: 400;
}
.DTFC_LeftBodyLiner table tbody tr.odd, .DTFC_LeftBodyLiner table tbody tr.even {
	height: 89px;
}

/*\\\\\ Client Reporting content styling - end ///// */





/*media quiries*/

/*mobile only*/
@media only screen and (max-width: 40em){
	
	/*aor top nav mobile only*/
	#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover, #aor-top-bar .top-bar-section.aor-topbar-section > ul.right{
		display: inline-flex;
	}

	#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover, #aor-top-bar .top-bar-section.aor-topbar-section > ul > li > a,
	#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover, #aor-top-bar .top-bar-section.aor-topbar-section > ul > li > a:hover{
		color: #000;
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
	}

	#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover, #aor-top-bar .top-bar-section.aor-topbar-section > ul > li.active > a,
	#aor-top-bar .top-bar-section.aor-topbar-section > ul li a:hover, #aor-top-bar .top-bar-section.aor-topbar-section > ul > li.active > a:hover{
		color: #26b24b !important;
	}

	
	/*dashboard for mobile only*/
	.aor-dashboard-container .dashboard-indicator{
		margin-bottom: 10px;
	}

	#manageColleges .row.aor-central-control-container{
		background-image: none !important;
	}

	#manageColleges .aor-dashboard-container{
		background-color: #000;
	}

	#aor_dataTable_filter{
		margin-top: -24px;
		width: 90%;
	}

	.filter-row-right-side{
		padding-top: 15px;
	}

}


/*medium-up only*/
@media only screen and (min-width: 40.063em){
	
	.aor-dashboard-container .dashboard-indicator:not(:last-child){
		box-shadow: 2px 1px 10px -4px #000;
	}

	.dataTables_scrollHead th.fixed_column,
	.dataTables_scrollBody tr td.fixed_column{
		position: absolute !important;
		background-color: #797979;
		box-shadow: 3px 0 2px rgba(0,0,0,0.6);
		color: #fff;
	}
}