body#b2b{
  background-color: #ffffff;
}

#b2b * {
  font-family: 'Open Sans', sans-serif;
  outline: none;
}

#b2b ::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #aaaaaa;
}
#b2b :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:  #aaaaaa;
   opacity:  1;
}
#b2b ::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:  #aaaaaa;
   opacity:  1;
}
#b2b :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:  #aaaaaa;
}

#b2b input{
  color: #252525;
}

.b2b-row{
  padding: 50px;
}

.b2b-nrow{
  position: relative;
  width: 75%;
  margin: 50px auto;
}

.b2b-nrow2{
  position: relative;
  width: 60%;
  margin: 50px auto;
}

.b2b-9row{
  position: relative;
  width: 90%;
  margin: 50px auto;
}

.b2b-9rownm{
  position: relative;
  width: 90%;
  margin: auto;
}
.b2b-row86{
  position: relative;
  width: 72%;
  margin-left: auto;
  margin-right: auto;
}

#b2b small.error{
  margin-top: -26px;
  text-align: left;
  margin-left: 23px;
}

#b2b .big-white{
  font-size: 18px;
  line-height: 39px;
  font-weight: 100;
  color: #ffffff;
}

/*#b2b-bottom{
  min-height: 100%;
}*/

/*if want to have all on page load -- hide not current page*/
/*#b2b ._Features,
#b2b ._Plans,
#b2b ._Blog{
  display: none;
}*/


.b2b-TandC{
  font-size: 13px;
  margin: 19px auto 0 auto;
}
.b2b-TandC a{
  color: #aaaaaa;
  font-weight: 100;
}

.empty-err{
  position: relative;
  display: inline-block;
  color: #ff3300;
}


.up-txt{
  font-size: 20px;
    vertical-align: top;
    margin-left: 11px;
    top: 11px;
    position: relative;
}

._b2b-content-wrapper{
  min-height: 100%;
  width: 100%;
}


.scroll-caron{
  position: absolute;
    margin-bottom: 10px;
    left: 50%;
    width: 43px;
    height: 45px;
    text-align: center;
    line-height: 41px;
    vertical-align: middle;
    border-radius: 100%;
    display: inline-block;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 2px 2px 30px 30px rgba(0,0,0,.2) inset;
            box-shadow: 2px 2px 30px 30px rgba(0,0,0,.2) inset;

    cursor: pointer;
}
.s-caron{
  color: #ffffff;
  -webkit-transform: scaleX(1.7);
      -ms-transform: scaleX(1.7);
          transform: scaleX(1.7);
  font-weight: 100;
    font-size: 25px;
    padding-left: 1px;
}


.hovering{
  -webkit-animation: hovering 1s ease infinite;
          animation: hovering 1s ease infinite;
}

@-webkit-keyframes hovering{
  0%{
    opacity: .5;
  },
  100%{
    opacity: .7;
  }
}

@keyframes hovering{
  0%{
    opacity: .5;
  },
  100%{
    opacity: .7;
  }
}



.top-section-cont {
  position: absolute;
    width: 100%;
    z-index: 101;
    top: 0px;
    left: 0px;
}
.top-section-cont.banner-on{
  height: 150px;
}

._b2b-content-wrapper.banner-on{
    padding-top: 75px;
}

.stripbanner-container {
    background-color: #ffffff;
    padding: 13px 20px 13px 60px;
    color: #797979;
    letter-spacing: 0.5px;
    font-size: 16px;
    height: 75px;
}
#banner-carousel {
    height: 75;
}

.item.stripbanner-container.GSV{
  width: 100%;
  background-color: #272933;
  color: #efefef;
}

.strip-banner-logo{
  margin-right: 20px;
}

.visit-us-nafsa-btn{
  color: #ffffff;
  background-color: #ff5c26;
  border-radius: 20px;
  padding: 7px 15px;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}
.visit-us-nafsa-btn:hover,
.visit-us-nafsa-btn:active,
.visit-us-nafsa-btn:focus{
  background-color: #fb4e14;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.visit-us-gsv-btn{
  color: #ffffff;
  background-color: #237979;
  border-radius: 20px;
  padding: 7px 15px;
  display: inline-block;
  margin-left: 20px;
  font-size: 15px;
  cursor: pointer;
}
.visit-us-gsv-btn:hover,
.visit-us-gsv-btn:focus,
.visit-us-gsv-btn:active{
  background-color: #217171;
  -webkit-transition: 1s ease;
  -o-transition: 1s ease;
  transition: 1s ease;
}

.strip-banner-close-btn{
  position: absolute;
    right: 20px;
    top: 13px;
    font-size: 29px;
    font-weight: 700;
    color: #999999;
    margin: 0px;
    cursor: pointer;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9998;
  background-color: rgba(0,0,0,0.5);
  display: none;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 9999;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border: 5px solid #f3f3f3;
  border-radius: 50%;
  border-top: 5px solid #000;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite;
          animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
@keyframes spin {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

/************ top navigation *************/
.b2b-topnav-container {
  padding-top: 30px;
  padding-bottom: 30px;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  -webkit-transition: ease 0.5s;
  -o-transition: ease 0.5s;
  transition: ease 0.5s;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.sticky {
  padding: 15px 0px;
  position: fixed;
  background-color: #fff;
  z-index: 999;
}

.b2b-logo{
  display: inline-block;
  padding-left: 0;
}
.b2b-logo img{
  width: 180px;
  margin-right: 0px;
}

.b2b-logo-P-black, .b2b-logo-P-white {
  display: none;
  padding-left: 0px;
}
.b2b-logo-P-black img, .b2b-logo-P-white img{
  width: 30px;
  height: auto;
}

.b2b-topnav-menu {
  display: inline-block;
  margin-left: 10px;
  width: 100%;
}

.b2b-topnav-menu li {
  cursor: pointer;
  display: inline-block;
  padding: 3px 15px;
}

.target {
  position: absolute;
  border-bottom: 2px solid transparent;
  z-index: -1;
  -webkit-transform: translateX(-60px);
      -ms-transform: translateX(-60px);
          transform: translateX(-60px);
}

.b2b-topnav-menu li,
.target {
  -webkit-transition: all .35s ease-in-out;
  -o-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

.b2b-topnav-mobile-menu a {
  border-bottom: 2px solid transparent;
}

.b2b-topnav-mobile-menu a:hover {
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  border-bottom: 2px solid #2AC56C;
}

.sticky > .row >  .b2b-topnav-menu li a {
  color: #000;
}

.b2b-topnav-mobile-menu li,
.b2b-topnav-menu li,
.b2b-topnav-mobile-menu li a,
.b2b-topnav-menu li a{
  color: #ffffff;
  font-weight: 600;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 1px;
}
.b2b-topnav-mobile-menu li.active,
.b2b-topnav-menu li.active,
.b2b-topnav-mobile-menu li a.active,
.b2b-topnav-menu li a.active{
  color: #2ac56c;
  font-weight: 400;
}

.b2b-topnav-menu .b2b-login-btn{
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 20px;
  padding: 2px 19px;
  margin-left: 11px;
}

.partner-login-icon {
  margin-right: 8px;
  -webkit-filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(100%) contrast(100%);
}

.sticky > .row > .b2b-topnav-menu li a .partner-login-icon {
  -webkit-filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(0%) contrast(100%);
          filter: invert(100%) sepia(100%) saturate(100%) hue-rotate(100deg) brightness(0%) contrast(100%);
}

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.visible {
  display: inline-block;
}

.hidden {
  display: none;
}

/**************** mobile menu ***************/

.b2b-topnav-container-mobile {
  display: none;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: #000;
  height: 45px;
  /*min-height: 100vh;*/
}

.hamburger-menu-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 8px 5px 5px 5px;
  width: 100%;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.b2b-logo-mobile {
  display: inline-block;
  margin: 0 auto;
  width: auto;
}

.b2b-logo-mobile img {
  width: 166px;
}

/*.b2b-signup-btn.b2b-mobile:hover,*/
.b2b-topnav-menu li:last-child {
  margin-left: auto;
  float: right;
  padding-right: 0;
  border: 0;
}

.b2b-topnav-mobile-menu-container {
  display: none;
  position: absolute;
  /*top: 100%;*/
  left: 0px;
  background-color: #000;
  width: 100%;
  height:100vh;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}

.b2b-topnav-mobile-menu li {
  display: block;
  text-align: left;
  padding: 10px 30px;
}

.b2b-topnav-mobile-menu li:first-child{
  margin-top: 15px;
}

.b2b-mobile {
  display: none;
}

.hamburger-menu {
  cursor: pointer;
  margin-left: 7px;
  margin-top: -3px;
}

.cross-icon, .mobile-menu-icon {
  width: 35px;
}

.cross-icon {
  display: none;
}

#mobile-nav-toggle span, #mobile-nav-toggle span:before, #mobile-nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 3px;
  width: 32px;
  background: white;
  position: absolute;
  display: block;
  content: '';
}

#mobile-nav-toggle span:before {
  top: -10px;
}

#mobile-nav-toggle span:after {
  bottom: -10px;
}

#mobile-nav-toggle span, #mobile-nav-toggle span:before, #mobile-nav-toggle span:after {
  -webkit-transition: all 500ms ease-in-out;
  -o-transition: all 500ms ease-in-out;
  transition: all 500ms ease-in-out;
}

#mobile-nav-toggle.active span {
  background-color: transparent;
}

#mobile-nav-toggle.active span:before, #mobile-nav-toggle.active span:after {
  top: 0;
}

#mobile-nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

#mobile-nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.mobile-menu-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  margin-bottom: 2%;
}

.mobile-menu-footer .row {
  color: #fff;
  text-transform: uppercase;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mobile-follow-us {
  font-size: 17px;
  font-weight: bold;
  margin-right: 10px;
}

.mobile-social-icon {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.mobile-copy-right {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  margin-top: 30px;
  font-size: 10px;
}

.bold {
  font-weight: bold;
}

.semi-bold {
  font-weight: 500;
}

.center-align {
  text-align: center;
}

.flex-left, .flex-right {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

@media all and (max-width: 1125px) {
  .b2b-topnav-mobile-menu li, .b2b-topnav-menu li, .b2b-topnav-mobile-menu li a, .b2b-topnav-menu li a {
    font-size: 12px
  }

  .b2b-topnav-menu li {
    padding: 3px 2px;
  }

  .b2b-logo img {
    width: 149px;
    margin-right: 3px;
  }
}

@media all and (max-width: 1024px) {
  .b2b-topnav-mobile-menu li, .b2b-topnav-menu li, .b2b-topnav-mobile-menu li a, .b2b-topnav-menu li a {
    letter-spacing: 0px;
    word-spacing: 0px;
    font-size: 11px;

  }

  .b2b-topnav-menu li a {
    line-height: 15px;
  }

  .b2b-topnav-menu li {
    padding: 3px 2px;
  }

  .b2b-logo img {
    width: 138px;
    margin-right: 3px;
  }
  .b2b-topnav-menu {
    margin-left: 6px;
  }
}

@media all and (max-width: 767px) {
  .b2b-topnav-container-mobile {
    display: block;
  }

  .b2b-topnav-container {
    display: none;
  }

  .target {
    display: none;
  }
}

@media (max-width: 415px) {
  .b2b-topnav-mobile-menu li a {
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .b2b-topnav-mobile-menu-container {
    padding: 0 15px;
  }
}

