body[id="international-students-page"]{height:100% !important;}
body .reveal-modal-bg{position:fixed !important;}
.reveal-modal{z-index:1005;}
.clear{clear:both;}
.abs-wrapper{position:relative;}
.bdr-none{border:none}
.txt-20{font-size:20px;}
.hght{height:1px;}
.hgt5{height:5px;}
.hgt26{height:26px;}
.hgt28{height:28px;}
.hgt30{height:30px;}
.hgt32{height:32px !important;}
.hgt36{height:36px;}
.hgt54{height:54px;}
.h100{height:100%;}
.top-bar{background-color:inherit;position:relative;}
.twilio-err{margin:-13px 2px 21px 2px;font-style:italic;color:#ff5c26;}
p{text-align:left;}
p,dfn,aside,div,li,a{font-style:normal;}
.full-width{float:left;width:100%;}
.w50p{width:50%;}
.w100{width:100%;}
.wid-200{width:200px;}
.wid-357{width:357px;}
.wid275{width:275px;}
.wid400{width:400px;}
.full-wid{width:994px;}
.w55{width:55%;}
.w70{width:70%;}
.fl{float:left;}
.fr{float:right;}
.fn{float:none!important;}
.f-bold{font-weight:bold;}
.f-400{font-weight:400;}
.f-italic{font-style:italic;}
.f-normal{font-weight:normal;}
.cursor{cursor:pointer !important;}
.cursor-d{cursor:default;}
.txt-deco-none{text-decoration:none;}
.txt-deco-under{text-decoration:underline;}
.txt-up{text-transform:uppercase;}
.txt-cap{text-transform:capitalize;}
.txt-low{text-transform:lowercase;}
.txt-none{text-transform:none;}
.fs9{font-size:9px;}
.fs10{font-size:10px;}
.fs11{font-size:11px;}
.fs12{font-size:12px;}
.fs13{font-size:13px;}
.fs14{font-size:14px;}
.fs15{font-size:15px !important;}
.fs16{font-size:16px;}
.fs17{font-size:17px;}
.fs18{font-size:18px;}
.fs20{font-size:20px;}
.fs25{font-size:25px;}
.fs26{font-size:26px;}
.fs21{font-size:21px;}
.fs22{font-size:22px;}
.fs24{font-size:24px;}
.fs30{font-size:30px;}
.fs36{font-size:36px;}
.fs40{font-size:40px;}
.l-hght12{line-height:12px !important;}
.l-hght14{line-height:14px;}
.l-hght15{line-height:15px;}
.l-hght16{line-height:16px;}
.l-hght18{line-height:18px;}
.l-hght20{line-height:20px;}
.l-hght24{line-height:24px;}
.l-hght26{line-height:26px;}
.pos-rel{width:95%;position:relative;}
.pos-rel-n{position:relative;}
.pos-abs{position:absolute;}
.pos-fxd{position:fixed;}
.z-indx1{z-index:1;}
.m5{margin:5px}
.m10{margin:10px}
.radius1{border-radius:1px !important;-webkit-border-radius:1px !important;-moz-border-radius:1px !important;}
.radius5{border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;}
.radius10{border-radius:10px;-webkit-border-radius:10px;-moz-border-radius:10px;}
.bottom-right-redius{border-bottom-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomright:5px;}
.bottom-left-redius{border-bottom-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-bottomleft:5px;}
.bck-79{background:#797979}
.bck-f5{background:#f5f5f5}
.bck-fff{background:#ffffff}
.bck-ec{background:#ececec}
.bck-000{background:#000000 !important;}
.z-indx9{z-index:9;}
.z-indx10{z-index:10;}
.z-indx99{z-index:99;}
.z-indx9999{z-index:99;}
.c24{color:#242424;}
.c666{color:#666;}
.clr-cc{color:#ccc;}
.c999{color:#999;}
.c222{color:#222;}
.c333{color:#333;}
.c98{color:#989898;}
.ca6{color:#a6a6a6;}
.c777{color:#777;}
.caf0{color:#af0000;}
.clr-fff{color:#fff;}
.clr-aaa{color:#aaa;}
.clr-green{color:#093;}
.clr-red{color:red;}
.c40{color:#404040;}
.c45{color:#454545;}
.c-white{color:#ffffff;}
.clr-orange{color:#FF5C26 !important;}
.c5033{color:#cd5033;}
.c-black{color:#000000 !important;}
.c79{color:#797979}
.c2b{color:#2B3733;}
.c1f{color:#1F1F1F}
.p-green{color:#2ac56c;}
.cf5{color:#f5f5f5}
.c-l-green{color:#26B24B}
.c98{color:#98D0EE}
.c-blue{color:#0085B2}
.c-98d{color:#98D0EF}
.c05{color:#05CED3}
.c-gold{color:#ff7f00;}
.c-porange{color:#ff5c26;}
.t5{top:5px;position:relative;}
.m0{margin:0px;}
.mauto{margin:auto;}
.ma20{margin:20px;}
.ma30{margin:30px;}
.mb0{margin-bottom:0;}
.mb2{margin-bottom:2px;}
.mb5{margin-bottom:5px;}
.mb10{margin-bottom:10px;}
.mb50{margin-bottom:50px;}
.mb150{margin-bottom:150px;}
.mt0{margin-top:0;}
.mt1{margin-top:-1px;}
.mt2{margin-top:2px;}
.mt3{margin-top:3px;}
.mt5{margin-top:5px;}
.mt6{margin-top:6px;}
.mt8{margin-top:8px;}
/*@media screen and (min-width: 40em) {.mt10{margin-top:10px;max-width: 77%;}}*/
.mt10{margin-top:10px;}
.mt15{margin-top:15px !important;}
.mt18{margin-top:18px !important;}
.mt20{margin-top:20px !important;}
.mt22{margin-top:22px !important;}
.mt25{margin-top:25px !important;}
.mt30{margin-top:30px !important;}
.mt35{margin-top:35px;}
.mt40{margin-top:40px;}
.mt50{margin-top:50px !important;}
.mt61{margin-top:61px;}
.mt70{margin-top:70px;}
.mt82{margin-top:82px;}
.mt120{margin-top:120px;}
.mt1c{margin-top:1cm;}
.mt2c{margin-top:1.5cm;}
.mr1{margin-right:1px;}
.mr3{margin-right:3px;}
.mr5{margin-right:5px;}
.mr10{margin-right:10px;}
.mr15{margin-right:15px;}
.mr20{margin-right:20px;}
.mr25{margin-right:25px;}
.mr30{margin-right:30px;}
.mr35{margin-right:35px;}
.mr40{margin-right:40px;}
.mr50{margin-right:50px;}
.mb0{margin-bottom:0;}
.mb2{margin-bottom:2px;}
.mb3{margin-bottom:3px;}
.mb5{margin-bottom:5px;}
.mb8{margin-bottom:8px;}
.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px !important;}
.mb25{margin-bottom:25px;}
.mb28{margin-bottom:28px;}
.mb30{margin-bottom:30px;}
.mb40{margin-bottom:40px;}
.mb50{margin-bottom:50px;}
.ml0{margin-left:0;}
.ml3{margin-left:3px;}
.ml4{margin-left:4px;}
.ml5{margin-left:5px;}
.ml6{margin-left:6px;}
.ml7{margin-left:7px;}
.ml8{margin-left:8px;}
.ml9{margin-left:9px;}
.ml10{margin-left:10px;}
.ml12{margin-left:12px;}
.ml15{margin-left:15px;}
.ml18{margin-left:18px;}
.ml20{margin-left:20px;}
.ml-25{margin-left:-20px;}
.ml23{margin-left:23px;}
.ml25{margin-left:25px;}
.ml30{margin-left:30px;}
.ml35{margin-left:35px;}
.ml40{margin-left:40px;}
.ml50{margin-left:50px;}
.ml65{margin-left:65px;}
.ml70{margin-left:70px;}
.ml74{margin-left:74px;}
.no-padding{padding:0 !important;}
.plr15{ padding: 0px 15px;}
.plr20{ padding: 0px 20px;}
.pt0{padding-top:0 !important;}
.pt2{padding-top:2px !important;}
.pt5{padding-top:5px;}
.pt6{padding-top:6px;}
.pt10{padding-top:10px;}
.pt15{padding-top:15px;}
.pt20{padding-top:20px;}
.pt25{padding-top:25px;}
.pt30{padding-top:30px;}
.pt40{padding-top:40px;}
.pt60{padding-top:60px;}
.pr3{padding-right:3px;}
.pr5{padding-right:5px;}
.pr10{padding-right:10px;}
.pr15{padding-right:15px;}
.pr20{padding-right:20px;}
.pr25{padding-right:25px;}
.pr30{padding-right:30px;}
.pb0{padding-bottom:0;}
.pb2{padding-bottom:2px;}
.pb5{padding-bottom:5px;}
.pb6{padding-bottom:6px;}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pb20{padding-bottom:20px;}
.pb25{padding-bottom:25px;}
.pb30{padding-bottom:30px;}
.pb40{padding-bottom:40px;}
.pb50{padding-bottom:50px;}
.pl0{padding-left:0!important;}
.pl3{padding-left:3px;}
.pl5{padding-left:5px;}
.pl6{padding-left:6px;}
.pl9{padding-left:9px;}
.pl10{padding-left:10px;}
.pl12{padding-left:12px;}
.pl14{padding-left:14px;}
.pl15{padding-left:15px;}
.pl18{padding-left:18px;}
.pl20{padding-left:20px;}
.pl22{padding-left:22px !important;}
.pl25{padding-left:25px !important;}
.pl30{padding-left:20px;}
.pl35{padding-left:35px;}
.pl40{padding-left:40px;}
.pl43{padding-left:43px;}
.pd-tb1{padding:1px 0;}
.pd-tb2{padding:2px 0;}
.pd-tb3{padding:3px 0;}
.pd-tb6{padding:6px 0;}
.pd-tb7{padding:7px 0;}
.p5{padding:5px;}
.p10{padding:10px;}
.p12{padding:12px;}
.p15{padding:15px;}
.p20{padding:20px;}
.p30{padding:30px;}
.p50{padding:50px;}
.pr23{padding-right:23px;}
.pl60{padding-left:60px;}
.m-hght{min-height:162px;height:auto!important;height:162px;}
.bdr{border:1px solid #d3d3d3;}
.bdr-n{border:0;}
.strike{text-decoration:line-through;margin-right:5px;}
.bdr-top-n{border-top:none!important;}
.d-block{display:block;}
.d-none{display:none;}
.d-table{display:table;}
.d-tcell{display:table-cell;}
.v-align-top{vertical-align:top;}
.v-align-mid{vertical-align:middle;}
.d-inline{display:inline-block;}
.ie7 .d-inline{display:inline;}
.bg-f0f0{background:#f0f0f0;}
.bg-f4f4{background:#f4f4f4;}
.bg-fff{background:#fff;}
.bg-ccc{background:#ccc;}
.bg-eee{background:#eee;}
.txt-left{text-align:left;}
.txt-justify{text-align:justify;}
.txt-center{text-align:center !important;}
.txt-right{text-align:right;}
.txt-ellpsis{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.d-inline{display:inline-block}
.bdr-right-000{border-right:#000000 solid 2px}
.mt-minus5{margin-top:-5px;}
.bdr-b-dot{border-bottom:dotted #C9C9C9 3px;}
.rotate-45{transform:rotate(45deg);display:inline-block;}
.clearfixb{clear:both;}
.bottom-center-cont{position:absolute;bottom:20px;text-align:center;width:100%;}
.vertical-center{position:relative;top:50%;transform:translateY(-50%);}
.centering-wrapper{width:100%;text-align:center;}
.centering-cont{position:relative;margin-left:auto;margin-right:auto;display:inline-block;}
.hover-white:hover{color:#ffffff !important;}
.dotDivide{border-top:2px dotted #cccccc;height:0px;width:100%;margin:20px 0px;}
ul.ui-widget-content{width:450px;font-size:12px;color:#797979;font-weight:bold;z-index:9999;margin-top:5px;}
.ui-menu-item.ui-state-focus{color:inherit;font-weight:bold;cursor:pointer;background:none repeat scroll 0 0 #ffffff;border:none;margin:0px;}
ul.ui-autocomplete{background-color:#fff;}
.ui-menu .ui-menu-item{background-color:#fff;list-style:none;padding:5px;}
.collegeInfoAutoComplete1Box .ui-autocomplete{margin-left:5px;}
.college-compare-div-first{z-index:3;}
.college-compare-div-second{z-index:2;}
.college-compare-div-third{z-index:1;}
.ui-autocomplete-category{font-size:14px;color:#98D0EF;font-weight:bold;border-bottom:#B9BABB solid 1px;margin:5px;}
.ui-autocomplete-category:hover{font-size:14px !important;color:#98D0EF !important;background-color:#ffffff;border-bottom:#B9BABB solid 1px !important;}
.ui-autocomplete-category span a{padding-right:10px;position:absolute;right:0;color:#98D0EF !important;font-size:12px;font-weight:normal}
.BgTop li.name{display:inline;}
.help .ui-widget-content .ui-menu-item:hover{background:transparent !important;border:none;}
.help .ui-widget-content .ui-autocomplete-category.ui-menu-item:hover{border:0px 0px 1px 0px solid #797979;}
.help .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus{background:none !important;color:inherit;font-weight:inherit;}
@media (min-width:320px) and (max-width:480px){#portal ul.ui-widget-content{width:90% !important;left:5% !important;}
.auto-bottom-div a{left:70px;}
.mobilesearch{display:none;}
.top-bar-section ul{background:#f5f5f5 !important;}
.top_search_filter ul li{background:#f5f5f5 !important;}
}
ul.inline > li,ol.inline > li{display:inline-block !important;*display:inline;vertical-align:text-top;*zoom:1;width:auto}
.white-box-radius{-moz-border-radius:11px;-webkit-border-radius:11px;border-radius:11px;list-style:none outside none;background-color:#fff;margin-bottom:10px;}
.expand-down-arrow{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #797979;position:absolute;margin-left:5px;margin-top:7px;}
.expand-toggle-arrow img{height:0.8em;width:0.8em;}
.expand-toggle-arrow.run img{transform:rotate(180deg);}
.expand-toggle-span{width:0em;height:0em;border-left:5px solid transparent;border-right:5px solid transparent;border-bottom:6px solid #797979;position:absolute;left:94px;top:8px;}
.expand-toggle-span.run{width:0;height:0;border-left:5px solid transparent;border-right:5px solid transparent;border-top:5px solid #797979;border-bottom:0;}
.adjustdata{position:relative;}
.adjustdata:before{content:"";position:absolute;width:100%;left:0;height:100%;background-color:rgba(225,225,225,0.1);z-index:5;background-image:url(/images/AjaxLoader.gif);background-repeat:no-repeat;background-position:center;}
#footerContactForm{color:#8E8E8E;font-size:18px;}
#footerContactForm label{color:#8E8E8E;font-size:18px;font-weight:bold;margin-bottom:10px;}
#footerCollegePrepForm{font-size:16px;font-weight:normal;color:#8E8E8E;}
#footerCollegePrepForm label{font-size:12px;font-weight:normal;color:#8E8E8E;padding-bottom:2px;padding-top:2px;margin-bottom:0;}
#footerCollegePrepForm input[type='checkbox']{padding:0;margin:0;}
#footerCollegePrepForm .noticeinfo{color:#6f6f6f;font-size:16px;}
#footerCollegePrepForm a{color:#ff7f00;text-decoration:underline;}
.footerCollegePrepRightSide .title{color:#8E8E8E;font-size:18px;font-weight:bold;margin-bottom:10px;}
.footerCollegePrepRightSide ul{margin:0;}
.footerCollegePrepRightSide ul{margin:0 auto;padding:30px 0;}
.footerCollegePrepRightSide li{color:#8E8E8E;font-size:16px;list-style-type:none;}
.footerCollegePrepRightSide li:before{content:" - ";}
.footerCollegePrepRightSide .noticeinfo{color:#6f6f6f;font-size:13px;}
@media only screen and (max-width:40em){.mobile-pt5{padding-top:5px;}
.mobile-p{padding:0px !important;}
.mobile-pl20{padding-left:20px;}
.mobile-pl25{padding-left:25px;}
.mobile-fs12{font-size:13px;}
.mobile-pr25{padding-right:25px;}
.mobile-mb10{margin-bottom:10px;}
.mobile-ml15{margin-left:15px;}
.mobile-pb10{padding-bottom:10px;}
.mobile-fs15{font-size:15px;font-weight:500}
.mobile-pr15{padding-right:15px;}
.mobile-pl60{padding-left:60px;}
.m-pt10{padding-top:10px;}
.m-pl10{padding-left:10px;}
.m-pl20{padding-left:20px;}
.m-pr10{padding-right:10px;}
.m-pr20{padding-right:20px;}
.m-mt20{margin-top:20px;}
.m-mt10{margin-top:10px;}
}
#footer{position:relative;background-color:#202020;min-height:250px;color:#fff;font-weight:normal}
.footerbox{margin-top:30px;min-height:150px;padding-bottom:0;font-size:15px;line-height:21px;}
.footerlogo{padding-left:25px}
#footer h2{color:#26B24B;font-size:26px;font-weight:normal}
#footer ul{margin:0;padding-left:0}
#footer li{list-style:none outside none}
#footer a{font-size:15px;color:#fff}
#footer .terms a{font-size:14px;}
.footerbricks{background-image:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/frontpage/brickRow.png);height:40px;}
.footerbox a{text-align:left}
.footerbox li{}
#footer .footersocialbar{margin-bottom:5px;}
#footer .footerbox h2{margin:0;padding:0;}
@media only screen and (max-width:64em){.about .contactUsButton{margin-top:0;}
}
dialog .close-reveal-modal, .reveal-modal .close-reveal-modal{font-size:20px;margin:0;position:relative;right:0;top:0;}
.close-reveal-modal, .reveal-modal .close-reveal-modal{font-size:43px;margin:0;position:relative;right:0;top:0;}
.help_helpful_videos_close_icon{font-size:40px !important;padding:0px !important;}
.signedOut_signupLogin_row{padding-top:3px;position:relative;cursor:default;}
.signedOut_signupLogin_row.row .signupBtnHomepage a,
.signedOut_signupLogin_row.row .loginBtnHomepage a{font-size:14px;}
.signedOut_signupLogin_row.row .signupBtnHomepage a{color:#fff;display:block;}
.signedOut_signupLogin_row.row .loginBtnHomepage a{color:#fff;}
.signedOut_signupLogin_row.row .signupBtnHomepage{background-color:#000;border: 1px solid #fff;border-radius:8px;padding-bottom:2px;}
#absLoginForm{position:absolute;width:333px;background-color:rgb(245, 245, 245);margin-top:34px;right:0px;z-index:900;display:none;}
#frontpage-phaseTwo-id #absLoginForm{margin-top:31px;}
#loginFormContainer h1{font-size:18px;font-weight:normal;margin-top:5px;text-align:center;color:#79796A;}
#loginFormContainer input[type="text"], #loginFormContainer input[type="password"], #loginFormContainer input[type="submit"]{border:1px solid #B9BABB;border-radius:5px;height:36px !important;margin:13px 0 0 0px !important;}
#loginFormContainer input[type="text"], #loginFormContainer input[type="password"]{font-size:13px;color:#79796A;}
#loginFormContainer input[data-invalid=""]{background-color:#FFEAC8;background-image:url("/images/formError.png");background-position:right center;background-repeat:no-repeat;border:1px solid #FF7F00;box-shadow:none;color:#000000;}
#loginFormContainer .signupButton{width:100%;color:#fff;background-color:#FF5C26;height:40px;border:none;margin-bottom:0px;}
#loginFormContainer .orLine{border-bottom:1px solid #79796a;height:10px;margin:10px 0 10px 0;}
#loginFormContainer .ortxt{margin:10px 0 10px 0;color:#79796a;font-size:12px;}
#loginFormContainer .signupFB{background-color:#38569A;color:#FFFFFF;display:block;height:40px;padding-top:11px;text-align:center;width:100%;margin-bottom:0px;margin-top:0px !important;}
#loginFormContainer .signupFB:hover{color:#fff;}
#loginFormContainer .haveAcct{font-size:12px;text-decoration:underline;color:#79796A;}
#loginFormContainer .forgottxt a{color:#79796A;font-size:11px;padding:0;text-decoration:underline;}
#form[data-abide] small.error{background-color:inherit;color:#FF7F00;font-size:10px;text-align:left;padding:10px 0 0 0;}
.alert-danger{color:#FF7F00;font-size:20px;list-style:none outside none;text-align:center;margin-bottom:15px;}
.loader3{position:absolute;z-index:10;background-color:rgba(0,0,0,.6);width:100%;height:100%;top:0px;text-align:center;padding-top:80px;}
#spinLoader{border:3px solid rgba(255,255,255, 0.3);border-top:3px solid rgba(0,0,0,.8);border-radius:50%;width:48px;height:48px;animation:spin 2s ease infinite;margin-left:-24px;position:absolute;top:35%;left:50%;}
.spinloader-back{width:100%;z-index:78;height:100%;position:fixed;top:72px;background:rgba(0,0,0,.3);left:0px;display:none;}
.spinloader-back.banner-on{top:148px;}
.spinloader2{border:5px solid rgba(50,50,50 , 0.3);border-top:5px solid rgba(0,0,0,.8);border-radius:50%;width:36px;height:36px;animation:spin 2s linear infinite;position:absolute;top:45%;left:47%;}
.absolute-ajax_loader{position:absolute;top:0px;left:0px;z-index:11;background-color:rgba(0,0,0,.3);width:100%;height:100%;padding-top:13%;}
#recruit-dropdown .admin-topnav-items,
#comm-dropdown .admin-topnav-items,
#tools_dropdown .admin-topnav-items{display:flex;align-items:center;justify-content:space-between;}
#recruit-dropdown .admin-topnav-items .lock,
#comm-dropdown .admin-topnav-items .lock,
#tools_dropdown .admin-topnav-items .lock{height:16px;width:11px;background-image:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin/locked.png);border-bottom:0;}
.plexuss-student-network-text{color: #c3c3c3;
    display: inline;
    vertical-align: sub;
    margin-left: 0.5em;
    font-size: 9pt; }

@media only screen and (max-width: 1365px) {
    .plexuss-student-network-text {
        display: none !important;
    }
}
.hide{
	display: none;
}

.sm-wh-loader{
	width: 11px;
    display: inline-block;
    height: 11px;
    margin-left: 4px;
    top: 2px;
    position: relative;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid rgba(255,255,255,.1);
	border-top: 2px solid rgba(255,255,255,.6);
	animation: spin 1s ease-in-out infinite;
}

.sm-grey-loader{
	width: 10px;
    display: inline-block;
    height: 10px;
    margin-left: 4px;
    top: 0px;
    position: relative;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	-o-border-radius: 100%;
	border-radius: 100%;
	border: 2px solid rgba(100,100,100,.1);
	border-top: 2px solid rgba(100,100,100,.6);
	animation: spin 1s ease-in-out infinite;
}

.fadeIn{
	animation: fadeIn 1.5s ease;
}

@keyframes spin{0%{transform:rotate(0deg);}
100%{transform:rotate(360deg);}
}
@keyframes fadeIn{0%{opacity:0;}
100%{opacity:1;}
}
@keyframes fadeOut{0%{opacity:1;}
100%{opacity:0;}
}


.growDown{
	animation: growDown 1s ease-in-out;
	overflow: hidden;
}

@keyframes growDown{
	0%{ height: 0px; }
	100%{ height: auto; }
}

@media only screen and (max-width: 320px) {
	.fo_USD {
		display:none !important;
	}
	.fo_Total_Estimated_Cost, .fo_Major_Offered, .fo_Degree_Offered {
		font-size: 9px !important;
	}
	#_sortingBar > .sort-bar > .col.forMobile.w50 {
		font-size: 12px !important;
	}
	#_sortingBar > .sort-bar > .col.forMobile.w25 {
		font-size: 12px !important;
	}
	#_common_tooltip.negative {
		margin-top: 7px !important;
	}
	#_AppActionBar > div div {
		font-size: 13px !important;
	}
	#_appReviewer .section:nth-child(2n) {
		width: 400% !important;
	}
	#_appReviewer .section.bannr > div:first-child {
		font-size: 20px !important;
	}
	#_appReviewer .section.bannr > div:first-child {
		margin-left: -19px !important;
	}
}
@media only screen and (max-width: 360px){
	.fo_USD {
		display:none !important;
	}
	.fo_Total_Estimated_Cost, .fo_Major_Offered, .fo_Degree_Offered {
		font-size: 11px;
	}
	#_sortingBar .sort-bar > .col.w50 {
		text-align: center !important;
		margin-left: -26px !important;
	}
	#_sortingBar .sort-bar > .col {
		text-align: right !important;
		padding: 0px !important;
		margin-left: 86px !important;
		margin-bottom: -23px !important;
	}
	.apply_now.col.col-2 {
		font-size: 9px !important;
	}
	.annual.col.col-1-5 {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item > .col.school-name {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item .name .logo {
		width: 25px !important;
		left: 4px !important;
	}
}
@media only screen and (max-width: 480px){
	.fo_USD {
		display:none !important;
	}
	.fo_Total_Estimated_Cost, .fo_Major_Offered, .fo_Degree_Offered {
		font-size: 11px;
	}
	#_sortingBar .sort-bar > .col.w50 {
		text-align: center !important;
		margin-left: -26px !important;
	}
	#_sortingBar .sort-bar > .col {
		text-align: right !important;
		padding: 0px !important;
		margin-left: 86px !important;
		margin-bottom: -23px !important;
	}
	.apply_now.col.col-2 {
		font-size: 9px !important;
	}
	.annual.col.col-1-5 {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item > .col.school-name {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item .name .logo {
		width: 25px !important;
		left: 4px !important;
	}
}

@media only screen and (max-width: 768px) {
	.fo_USD {
		display:none !important;
	}
	.fo_Total_Estimated_Cost, .fo_Major_Offered, .fo_Degree_Offered {
		font-size: 11px;
	}
	#_sortingBar .sort-bar > .col.w50 {
		text-align: center !important;
		margin-left: -26px !important;
	}
	#_sortingBar .sort-bar > .col {
		text-align: right !important;
		padding: 0px !important;
		margin-left: 86px !important;
		margin-bottom: -23px !important;
	}
	.apply_now.col.col-2 {
		font-size: 9px !important;
	}
	.annual.col.col-1-5 {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item > .col.school-name {
		font-size: 11px !important;
	}
	#_intl_students_container .school-item .name .logo {
		width: 25px !important;
		left: 4px !important;
	}
	.redux-toastr.top-right {
		margin-bottom: -295px !important;
	}
	#_AppActionBar {
		width: 98% !important;
	}
	#_appReviewer .section .inner {
		padding: 7px 10px !important;
	}
	#_appReviewer .section:nth-child(2n) {
		width: 300%;
	}
	#_appReviewer .section.bannr > div:first-child {
		margin-bottom: -71px !important;
		margin-top: -30px !important;
	}
	#_appReviewer .section.bannr > div:first-child {
		font-size: 13px !important;
	}
	#_appReviewer .item.col {
		width: 53% !important;
	}
	#_College_Application .application-container, #_College_Application footer {
		padding: 6px !important;
	}
	._profile_edit .edit-prof-section .right-state {
		width: 44% !important;
	}

}
