._becomePremiumMember{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

._becomePremiumMember h1,
._becomePremiumMember h2,
._becomePremiumMember h3,
._becomePremiumMember h4,
._becomePremiumMember h5 {
  color: black;
}

._becomePremiumMember h1 {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin: 5px 15% 20px 10%;
}

._becomePremiumMember h5 {
  text-align: left;
  margin-left: 20%;
}

._becomePremiumMember .modalback{
  position: fixed;
  background: rgba(20,20,20,.8);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

._becomePremiumMember .premiumModal{
  width: 850px;
  max-width: 92%;
  position: relative;
  margin: auto;
  top: 90px;
  z-index: 1001;
  background-color: #FFFFFF !important;
  padding: 50px 40px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff;
}
._becomePremiumMember .premiumModal .premiumModalImage {
  background: #ffffff;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: relative;
  padding: 7px;
  margin-top: -108px;
  margin-left: 42%;
}

._becomePremiumMember .premiumModal .detailBlock {
  text-align: left;
  margin: 30px 0 30px 0;
  margin-left: 17%;
}

._becomePremiumMember .premiumModal .detailBlock .guaranteedImage {
  margin-left: 48%;
  position: absolute;
}

._becomePremiumMember .premiumModal .detailBlock .checkMark {
  display: inline;
  width: 15px;
  margin-right: 8px;
}

._becomePremiumMember .premiumModal .detailBlock li {
  color: #79796A;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  line-height: 3;
  text-align: left;
  padding-left: 26px;
  font-style: italic;
}

._becomePremiumMember  .close-btn{
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 38px;
    color: #d4d4d4;
    cursor: pointer;
}

._becomePremiumMember .goto-upgrade-btn{
  width: 100%;
  font-size: 19px;
  display: inline-block;
  text-decoration: none;
  padding: 12px 10px;
  text-align: center;
  color: #ffffff;
  font-weight: 500;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 0 0 30px 0;
}

._becomePremiumMember .premiumModal .yes {
  background-color: #ff5c26;
}

._becomePremiumMember .premiumModal .no {
  background-color: #949494;
}

._becomePremiumMember .goto-upgrade-btn:hover,
._becomePremiumMember .goto-upgrade-btn:active,
._becomePremiumMember .goto-upgrade-btn:focus{
  background-color: #ff4b37;
}


/*********  media queries  -- upgrade modal ********/
@media all and (max-width: 768px){
  ._becomePremiumMember h1{
    font-size: 21px;
    max-width: 95%;
    margin: 35px auto 0px auto;
  }

  ._becomePremiumMember h5 {
    margin-left: 10%;
  }

  ._becomePremiumMember .premiumModal .premiumModalImage {
    margin-left: 32%;
  }

  ._becomePremiumMember .premiumModal .detailBlock {
    margin-left: 0;
  }

  ._becomePremiumMember .premiumModal .guaranteedImage {
    width: 60px;
    position: relative !important;
    margin-left: 62%;
  }

  ._becomePremiumMember .goto-upgrade-btn{
    font-size: 17px;
    display: block;
  }
}

