/************************ College Carepackage CSS **************************/

.carepackage_page_content_wrapper .ccp_content_banner, 
.carepackage_page_review_content_wrapper .ccp_review_main_content{
	background-color: #fff;

	/* \\\\\\\\\\\\ the below commented out is to accomodate the temporary kickstarter banner ///////////////// */
	/*border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-bottom: 10px !important;*/
}

.ccp_nav_tabs .tab-title .tab_links{
	color: #fff;
	background-color: #000;
	padding: 10px;
}

.tab_links:not([href="#orders"]){
	border-right: thin dotted #fff;
}

.tabs.ccp_nav_tabs .tab-title.active a{
	color: #FF5C26;
	background-color: #000;
}
.tabs.ccp_nav_tabs .tab-title.active a:hover, .tabs.ccp_nav_tabs .tab-title a:hover{
	background-color: #000;
}

.supportAStudent_btn.button, .supportAStudent_btn.button.preorder_btn{
	border-radius: 2px;
	background-color: #FF5C26;
	font-size: 18px;
	padding: 10px 20px;
	margin: 0;	
}

.ccp_nav_tabs img{
	width: 60px;
	height: 60px;
}

.supportAStudent_btn.button:hover:not(.preorder_btn):not(.writeToUs_btn),
.supportAStudent_btn.button.preorder_btn:hover, .supportAStudent_btn.button.writeToUs_btn:hover,
.select_package_item_btn.button:hover, .quickview_modal_rightside .checkout_ccp_btn:hover{
	background-color: transparent;
	color: #FF5C26;
}

.ccp_content_banner .tabs-content{
	margin-bottom: 0;
}

.ccp_content_banner_footer {
	background-color: #bfc3c7;
    border: 1px solid #acafb3;
    padding: 0.47em 0;
    color: #5b5b5b;
    margin-bottom: 10px !important;
}
.ccp_content_banner_footer img{

	max-width: 3em;
}

.ccp_content_banner_footer .thank-you {
	border: 3px solid #acafb3;
	padding: 5px;
	display: none;
}

.ccp_content_banner_footer .submit-form{
	padding-top: 0.4em;
}

.ccp_content_banner_footer .hide {
	display: none;
}
.ccp_content_banner_footer .email-box{
	 /*padding-top: 0.4em;*/
}

.share-buttons .social_share img{
	max-width: 140%;
}

.ccp_content_banner_footer .button.postfix.email-button,
.ccp_content_banner_footer .email-box input{
	margin: 0;
}
.ccp_content_banner_footer .email-button{
	background-color: black;
	color: #fff;
}

.video_thumbnail, .unboxing_thumbnail{
	cursor: pointer;
}

/* ccp tab styles */
.ccp_nav_tabs .tab-title{
	width: 25%;
}

.added_to_cart_notification{
	background-color: #FF5C26;
	padding: 2px 6px;
	border-radius: 100px;
	font-size: 10px;
	position: absolute;
	top: 5px;
	right: 100px;
	display: none;
	color: #fff;
}

.cart_tab_lg, .cart_tab_sm{
	position: relative;
}






/* the college care package tab */
.ccp_slogan{
	font-size: 20px;
}

.support_a_student_banner{
	background-image: url('/images/college_care_package/productshot.jpg');
	padding: 40px 0;
}

.column.ccp_message{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.ccp_message p:not(.ccp_slogan){
	font-size: 14px;
	padding-right: 30px;
}

#intro{
	padding-bottom: 45px;
}

img[src="/images/college_care_package/ccp--logo-box-image.png"]{
	padding-top: 60px;
}

.ccp_message p > i{
	font-size: 18px;
} 




/***************** orders tab styles *****************/

/* no orders */
.no_orders_message_row{
	padding: 60px 0 80px;
}

.no_orders_msg{
	padding: 20px;
}

.no_orders_msg div:first-child strong{
	font-size: 24px;
	color: #cacaca;
}

.no_orders_msg div.row:first-child{
	padding: 30px 0 0 30px;
}

.no_orders_msg div.row:last-child{
	padding: 20px 0 0 40px;
}

.no_orders_header strong{
	font-size: 28px;
}

.no_orders_header{
	padding: 20px 0 0 40px;
}

/* has orders */
#orders .has_orders_content{
	padding: 0;
}

.orders_table{
	padding-top: 10px;
}

.orders_table table{
	border-right: 0;
	border-left: 0;
	width: 100%
}






/* unboxing videos */
.unboxing_thumbnail .column{
	padding: 5px;
}

.unboxing_header_row{
	padding: 5px 5px 15px;
}

.next_thumbnail_page{
	padding-right: 5px;
}

#unboxing .column .row:nth-child(4){
	padding: 10px 5px 25px;
}

.unboxing_header_text{
	font-size: 24px;
	padding-top: 5px;
}





/* sponsor the package */
#sponsor{
	padding: 15px 10px;
}

.cpp_corp_sponsorship > div.row:first-child, .ccp_donate_package > div.row:first-child{
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
}

.cpp_corp_sponsorship > div.row:last-child, .ccp_donate_package > div.row:last-child{
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.cpp_corp_sponsorship > .row:first-child, .ccp_donate_package > .row:first-child{
	background-color: #eeeeee;
	padding: 10px 0;
}

.cpp_corp_sponsorship > .row:last-child{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/ccp/become-sponsor-pic.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.ccp_donate_package > .row:last-child{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/ccp/laundry-student.png');
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}

.sponsor_heading{
	font-size: 30px;
	font-weight: bold;
	line-height: 106%;
	padding-top: 2%;
    padding-bottom: 2%;
}

#sponsor .become_sponsor_donate_btn_container{
	padding: 200px 0 20px;
}

.sponsor_descrip{
	padding-top: 10px;
	padding-bottom: 2%;
}

.sponsor_help_header{
	font-size: 30px;
	padding: 20px 0;
}

.sponsor_sub_help_heading{
	font-size: 18px;
	padding-bottom: 10px;
}

div.sponsor_help_descrip_leftside, div.sponsor_help_form_rightside{
	padding: 0 15px;
}

.donate_or_become_sponsor_section{
	background-color: #fff;
	margin-top: 30px 0;
	border-radius: 3px;
	display: none;
	padding-bottom: 20px;
}

.submit_sponsor_form_btn.button{
	padding: 10px 45px;
}




/* shopping cart styles */
.sponsor_help_form_rightside .yes_packages_added_to_cart_section{
	display: none;
}

.ccp_preorder_header{
	padding: 10px 12px 25px;
}

.ccp_preorder_header strong{
	font-size: 25px;
}

.ccp_preorder_process_headers{
	font-size: 18px;
	color: #797979;
	padding-bottom: 20px;
}

.enter_shipping_info_section label:not(.ccp_keepMeUpdated_label):not(.ccp_shippingInfoIsSame_label), 
.payment_method_and_submit_row label.sign_in_to_order_ccp, label.personal_msg_to_label, 
label.personal_msg_from_label, label.personal_msg_body_label{
	font-weight: bold;
}

.select_package_section *:not(select):not(small):not(label){
	font-size: 18px;
}

.select_package_section *{
	color: #797979;
}

.select_package_body{
	background-color: #eee;
	padding: 20px;
	border-radius: 3px;
}

.select_package_section .ccp_savings{
	font-size: 12px;
	color: #26b24b;
}

.select_package_body .row:nth-child(5){
	padding-bottom: 10px;
}

.select_package_body .row:nth-child(5) span:not(.shipping_cost_calc){
	padding-bottom: 5px;
	border-bottom: thin solid #b9babb;
}

.select_package_body .row:nth-child(4), .select_package_body .row:nth-child(5),
.select_package_body .row:nth-child(6){
	padding-top: 5px;
}

.select_package_body .row:last-child .column:first-child{
	padding-top: 7px;
}

.submit_preorder{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 3px;
	padding: 5px 10px;
}

.payment_method_type_button{
	padding: 10px 15px;
	border-radius: 5px;
	background-color: #eee;
}

.payment_method_type_button_clicked{
	border: 5px solid #b9babb;
}

.payment_method_and_submit_row .row:nth-child(4){
	padding-top: 20px;
}

.payment_method_and_submit_row .submit_preorder{
	width: 100%;
}

.row .shipping_cost_calc{
	color: #b9babb;
	font-size: 14px;
}

.select_package_section .package_count_ticker{
	padding: 5px;
	text-align: center;
	color: #b9babb;
}

.alreadyHaveAccount_link, .needAccount_link{
	text-decoration: underline;
}

.optional_personal_msg_head{
	padding: 20px 0;
}

.product_id_1_row, .product_id_2_row, .product_id_3_row{
	visibility: hidden;
}

.edit_sm_pack, .edit_med_pack, .edit_lg_pack{
	cursor: pointer;
	color: blue;
}

.edit_sm_pack small, .edit_med_pack small, .edit_lg_pack small{
	color: #2ba6cb;
}

.pack_review_label{
	/* hiding this until gift cards come back */
	/*line-height: 10px;*/
}

.termsOfServiceError{
	color: red;
	display: none;
}





/* carepackage items */
.carepackage_items_wrapper{
	margin-bottom: 60px !important;
}

.package_currentAndPrevious_value{
	background-color: #000;
	color: #fff;
	padding: 5px 5px;
}

.package_currentAndPrevious_value .column:nth-child(1){
	font-size: 22px;
	font-weight: bold;
	padding-top: 4px;
}

.package_currentAndPrevious_value .column:nth-child(2){
	font-size: 28px;
	font-weight: bold;
}

.package_includes_label{
	font-size: 20px;
}

.package_details_list_container{
	display: none;
	background-color: #eee;
	color: #797979;
	padding-top: 5px;
	padding-bottom: 5px;
}

.package_details_dropdown_btn{
	cursor: pointer;
}

.preorder_btn{
	width: 80%;
}

.package_img_row .package_item_img_descrip_container{
	padding: 4px;
}

.package_item_image{
	cursor: pointer;
}

.package_details_dropdown_btn{
	background-color: #000;
	opacity: 0.3;
	color: #fff;
	padding: 7px;
}

.static_package_value{
	background-color: #eee;
	color: #797979;
	padding: 8px 0;
	font-size: 18px;
}

.package_details_dropdown_btn .column{
	position: relative;
	height: 63px;
}

.ccp_details_box_img img{
	width: 100%;
}

.bounce_text, .bounceUpDown{
	position: absolute;
	/* the below properties all help keep the 'see whats inside' button text centered on all screen sizes */
	left:0;
    right:0;
    margin-left:auto;
    margin-right:auto;
}

.package_details_dropdown_btn .ccp_dropdownarrow{
	padding-top: 7px;
}

.select_package_item_btn.button{
	border-radius: 2px;
	background-color: #FF5C26;
	font-size: 18px;
	padding: 5px 20px;
	margin: 0;
}

.select_package_item_btn_on_list_open{
	width: 65%;
}

.add_more_less_packages_col{
	background-color: #eee;
	display: none;
}

.add_more_less_packages_col .add_to_cart_btn_container{
	padding: 10px 0;
	background-color: #ff5c26;
}

.add_to_cart_btn_container img{
	width: 30px;
	height: 30px;
}

.plus_ccp{
	font-size: 23px;
	color: #797979;
	background-color: #b9babb;
	border-radius: 100px;
	padding: 0 10px;
	cursor: pointer;
}
.minus_ccp{
	font-size: 23px;
	color: #797979;
	background-color: #b9babb;
	border-radius: 100px;
	padding: 0 13px;
	cursor: pointer;
}

.add_more_less_packages_col .row div:not(.add_to_cart_btn_container){
	padding-top: 8px;
}

.add_more_less_packages_col .row div:nth-child(2){
	padding-top: 13px;
}

.close_package_list_btn{
	background-color: #eee;
	display: none;
	cursor: pointer;
	color: #797979;
	padding: 1px 0 5px;
}

.package_item_details{
	color: #fff;
	background-color: #797979;
	padding: 6px;
	display: none;
}

.package_item_name, .package_item_value, .package_item_description{
	padding: 5px;
	font-size: 14px;
}

.package_item_description{
	font-size: 12px;
}

.included_package_items_list div:first-child{
	padding: 5px 0 10px;
}

.package_details_list_container hr{
	border-color: #cacaca;
	margin: 10px 0 10px;
}

.add_remove_to_cart_on_modal{
	display: block;
}

/* quickview modal */
.ccp_quickview_modal{
	color: #797979;
}

.quickview_pack_name{
	color: #000;
	font-size: 24px;
	font-weight: bold;
}

.ccp_quickview_modal .quickview_modal_rightside{
	background-color: #eee;
	padding: 10px 20px;
}

.quickview_modal_rightside .quickview_checkout_col, .quickview_modal_rightside .quickview_continueShopping_col{
	padding-left: 12px;
}

.reveal-modal.ccp_quickview_modal{
	padding: 15px 20px 20px;
}

.quickview_continueShopping_col .continueShopping_btn{
	background-color: #797979;
	border-radius: 2px;
	font-size: 18px;
	padding: 10px 20px;
	margin: 0;
}

.quickview_continueShopping_col .continueShopping_btn:hover{
	background-color: transparent;
	color: #797979;
}

.quickview_righthand_row_spacing{
	padding: 20px 0;
}

.ccp_quickview_modal .close-reveal-modal.quickview_modal_close_btn,
#signInToOrderCCP .close-reveal-modal.quickview_modal_close_btn,
#order_details_modal .close-reveal-modal.quickview_modal_close_btn,
#upload_unboxing_media_modal .close-reveal-modal.quickview_modal_close_btn{
	font-size: 24px;
	color: #000;
}

.choose_gc_error{
	color: red;
}

a.checkout_disabled, .signin_createAcct_to_checkout_btn.checkout_disabled, .checkout_with_paypal_btn.checkout_disabled {
	pointer-events: none;
	cursor: default;
	opacity: 0.5;
}

/* quickview modal - left hand side styles */
.big_thumbnail_preview{
	width: 100%;
	height: 100%;
}

.small_thumbnail_preview_med_up{
	padding-bottom: 7px;
	padding-left: 0;
}

.quickview_package_includes_list{
	padding-top: 20px;
}

.quickview_modal_leftside .sm_thumbnail_row{
	padding-top: 10px;
}

.quickview_thumbnail_slider_arrow{
	padding-top: 20px;
}





/****** sign in/up to order ccp modal ******/
.ccp_signin_orDivider_container{
	position: relative;
}

.ccp_signin_orDivider_container .or_divider_box{
	position: absolute;
	top: 9px;
	left: 0;
}

.or_divider{
	width: 40px;
	background-color: #fff;
	margin: 0 auto;
}

#signInToOrderCCP{
	color: #cacaca;
}

#signInToOrderCCP .ccp_signin_welcome{
	font-size: 24px;
	color: #000;
	padding-bottom: 10px;
}

#signInToOrderCCP .supportAStudent_btn.button{
	width: 100%;
}

#signInToOrderCCP div.row:last-child{
	padding: 10px 0;
}

.forgot-pass-row a{
	font-size: 12px;
	color: #797979;
	text-decoration: underline;
}

.ccp_login_fb_btn{
	background: url("/images/signupFacebook.png");
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
}
.ccp_login_fb_btn:hover{
	color: #fff !important;
}

.createAcctForm_ccpModal{
	display: none;
}

.reveal-modal#signInToOrderCCP{
	top: 200px !important;
}




/*********** order details modal styles - start **********/
#order_details_modal{
	color: #797979;
}

#order_details_modal .order_details_header{
	font-size: 28px;
	padding: 0 6px 20px;
}

.order_details_rowHeader{
	padding-top: 30px;
	border-bottom: thin solid #cacaca;
}

.order_details_rowData{
	padding-top: 10px;
}

.order_billAddress, .order_shipAddress, .order_personalBody{
	padding: 10px 0;
}

.order_giftcard{
	font-size: 14px;
}
/*********** order details modal styles - end **********/





/************************ start of Confirm CCP Order *************************/
.ccp_review_billing_info_section div:not(:nth-child(1)), 
.ccp_review_shipping_info_section div:not(:nth-child(1)){
	font-size: 14px;
	font-weight: bold;
	color: #797979;
}

.confirm_ccp_order_header{
	background-color: #000;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
}

.confirm_ccp_order_header small{
	font-weight: normal;
}
/************************ end of Confirm CCP Order *************************/



/********** thank you page styles ***********/
.ccp_thankyou_section{
	background-color: #fff;
	border-radius: 3px;
	padding-bottom: 10px;
}

.order_thankyou_img{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.thankyou_head{
	padding-top: 10px;
	font-size: 20px;
}

.thankyou_msg{
	padding: 10px;
}





/******************** media queries start ********************/

/* mobile only */
@media only screen and (max-width: 40em){

	/* carepackage items mobile styles */
	.carepackage_items_wrapper .packages:first-child{
		padding-bottom: 10px;
	}

	.carepackage_items_wrapper .packages:last-child{
		padding-top: 10px;
	}

	/* videos tab styles */
	.ccp_video_header div:nth-child(1){
		padding-top: 20px;
	}

	/* quickview reveal modal styles */
	.reveal-modal.ccp_quickview_modal, .reveal-modal#signInToOrderCCP, .reveal-modal#order_details_modal{
		padding: 10px;
		width: 100%;
	}

	/* orders tab styles */
	.orders_table{
		overflow-x: scroll;
	}

	/* sponsor tab styles */
	.sponsor_help_descrip_leftside, .cpp_corp_sponsorship{
		padding-bottom: 20px;
	}

	div.sponsor_help_descrip_leftside, div.sponsor_help_form_rightside{
		padding: 0 5px;
	}

	/* thank you page styles */
	.order_thankyou_img{
		border-top-left-radius: 3px;
		border-top-right-radius: 3px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	/*ccp kickstarter footer styles for small and medium only*/
	.ccp_content_banner_footer .submit-form{
		margin-top: 7px;
	}
}

/*custom mobile media query*/
@media only screen and (min-width: 568px) and (max-width: 600px){
	.ccp_content_banner_footer .kickstarter-msg{
		padding-top: 0.7em;
	}
}

/* tablet only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){

	/* sponsor tab tablet only styles */
	#sponsor .sponsor_message{
		padding: 20px 0 0;
	}

	.writeToUs_btn{
		width: 90%;
	}

	/* videos tab styles */
	.ccp_video_header div:nth-child(2){
		padding-top: 20px;
	}

	/* sign up for ccp modal styles */
	.reveal-modal#signInToOrderCCP{
		width: 400px;
	}
}

/* mobile and tablet only */
@media only screen and (max-width: 64em){
	
	/* tab styles for mobile and tablet only */
	.ccp_nav_tabs .tab-title{
		width: 25%;
	}

	/* sponsor tab mobile styles */
	.sponsor_message div:nth-child(2){
		font-size: 23px;
		padding: 20px 0 4px;
	}

	.sponsor_message div:nth-child(3){
		font-size: 14px;
		padding-bottom: 20px;
	}

	.donate_or_become_sponsor_section .sponsor_help_descrip_leftside{
		padding-bottom: 20px;
	}

	/* tabs styles */
	.ccp_nav_tabs .tab-title .tab_links{
		padding: 0px;
	}

	.cart_tab_sm{
		width: 60px;
		margin: 0 auto;
	}

	.added_to_cart_notification{
		background-color: #FF5C26;
		padding: 2px 7px;
		border-radius: 100px;
		font-size: 10px;
		position: absolute;
		top: 10px;
		right: 5px;
	}
}

/* tablet and up */
@media only screen and (min-width: 40.063em){

	.carepackage_items_wrapper .packages:first-child{
		padding-left: 0;
	}

	.carepackage_items_wrapper .packages:last-child{
		padding-right: 0;
	}

	.carepackage_items_wrapper .packages:not(:first-child):not(:last-child){
		padding-left: 3px;
		padding-right: 3px;
	}
}

/* large and up */
@media only screen and (min-width: 64.063em){

	.ccp_nav_tabs a[href="#cart"],
	.ccp_nav_tabs a[href="/signup?requestType=preorderpackage&redirect=carepackage&utm_source=SEO&utm_medium={{$data['currentPage'] or ''}}&utm_content=preorderpackage"]{
		padding: 0 !important;
	}

	.ccp_nav_tabs a[href="#cart"]:nth-child(1) img,
	.ccp_nav_tabs a[href="/signup?requestType=preorderpackage&redirect=carepackage&utm_source=SEO&utm_medium={{$data['currentPage'] or ''}}&utm_content=preorderpackage"]:nth-child(1) img{
		width: 44px;
		height: 45px;
	}

	/* video about care package styles */
	.ccp_video_header .column:nth-child(2){
		padding-top: 30px;
	}

	/* sign in to order ccp modal */
	.reveal-modal#signInToOrderCCP{
		width: 420px;
	}
}
/******************** media queries end ********************/