body#colleges-by-state {
    background-size: cover !important;
}

body#colleges-by-state:after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    z-index: -1;
    background-color: rgba(0,0,0,.5);
}


#colleges-by-state #advancesearchform {
    margin-top: 1.25em;
}

body#colleges-by-state .search-results-container {
    margin: 1em 0;
    background-color: #fff;
    border-radius: 10px;
}

.number-of-results-on-page {
    text-align: left;
    margin: 0 2em;
    margin-top: 0.5em;
}

.college-pages-navbar a {
    border-bottom: 1px solid transparent;
}

.college-pages-navbar a:hover {
    border-bottom: 1px solid #ffffff;
}

.college-by-state-headline {
    color: #fff;
}

.state-description-container {
    position: relative;
    background-color: #fff;
    padding: 1em;
    border-radius: 10px;
}

.state-description-container .content-container {
    display: flex;
    flex-direction: row;
    height: 150px;
    overflow: hidden;
}

.state-description-container .content-container.read-more {
    height: auto;
}

.state-description-container .read-more-button {
    cursor: pointer;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    color: #7baeda;
}

.state-description-container .read-more-button .down-arrow {
    font-size: 50px;
    line-height: 4px;
}

.flag-image {
    height: 100px;
    width: 150px;
    margin-right: 1em;
}

/*.state-content {
    height: 200px;
}*/

.state-content p {
    text-align: left;
    font-size: 12px;
    margin-bottom: 1em;
}

.state-content p:last-child {
    margin-bottom: 0;
}

@media only screen and (max-width: 40em) {
    .state-description-container .content-container {
        flex-direction: column;
        align-items: center;
        height: 300px;
    }

    .flag-image {
        margin: 0;
        margin-bottom: 1em;
    }

    .page-listed {
        padding: 20px 20px !important;
    }
}