.stylish-scrollbar::-webkit-scrollbar {
  width: 8px; }

.stylish-scrollbar::-webkit-scrollbar::-webkit-scrollbar-button {
  background-color: #eee;
  height: 0; }

.stylish-scrollbar::-webkit-scrollbar-track {
  background-color: #eee; }

.stylish-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bebebe; }

.stylish-scrollbar-mini::-webkit-scrollbar {
  width: 5px; }

.stylish-scrollbar-mini::-webkit-scrollbar::-webkit-scrollbar-button {
  background-color: #eee;
  height: 0; }

.stylish-scrollbar-mini::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); }

.stylish-scrollbar-mini::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6); }

.student-youre-messaging {
  padding: 10px 0 0 20px; }
  .student-youre-messaging .pic {
    background-color: #fff;
    width: 125px;
    height: 125px;
    margin: 0 0 20px 0;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .student-youre-messaging .name-country {
    max-width: 100%;
    padding: 5px 0; }
    .student-youre-messaging .name-country > div {
      display: inline-block;
      vertical-align: middle; }
      .student-youre-messaging .name-country > div:first-child {
        max-width: 20%; }
      .student-youre-messaging .name-country > div:last-child {
        max-width: 80%; }
  .student-youre-messaging .name {
    font-size: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .student-youre-messaging .grade, .student-youre-messaging .level {
    font-size: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .student-youre-messaging .school {
    font-size: 13px;
    padding: 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .student-youre-messaging .country {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    margin: 0 5px 0 0;
    background-color: #38A74B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block; }
  .student-youre-messaging .grad {
    color: #38A74B;
    font-size: 15px;
    padding: 5px 0 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden; }
  .student-youre-messaging .degree, .student-youre-messaging .major {
    font-size: 13px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    padding: 5px 0 0; }
