.comment-wrapper{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
}

.comment-big-icon-wrapper{
	margin-bottom: 1em;
}

#comments-title-icon{
	height: 5em;
}

.comments-elevator{
	margin-bottom: 1em;
	font-size: 12px;
}

.comments-elevator a span:hover{
	color: #202020;
}

.comments-elevator a{
	color: #202020;
	font-weight: bold;
	text-decoration: none;
}

.comments-elevator a img{
	height: 2em;
}


#comments-title{
	font-size: 2em;
	margin-left: 0.5em;
}

.comment-thread-wrapper .row .comment-item{
	border-radius: 8px;
	border: 2px solid #b9babb;
	padding-top: 0.8em;
	padding-bottom: 0.4em;
	margin-bottom: 0.5em;
}

.comment-item .row .comment-content-column{
	overflow-x: hidden;
}

.comment-thread-wrapper .row .column.comment-visibility, #comment-visibility-top-level{
	display: none;
	color: #b9babb;
	border-radius: 5px;
	border: 1px solid #e7e7e7;
	background-color: #f5f5f5;
	margin-bottom: 0.5em;
	font-weight: bold;
	transition: color 500ms;
	cursor: pointer;
}

.comment-thread-wrapper .row .column.comment-visibility:hover{
	color: #797979;
}

.comment-visibility .comment-less, .comment-visibility .comment-end, .comment-visibility .comment-loading{
	display: none;
}

.column.comment-reply-ref span{
	font-weight: bold;
	color: #202020;
}

.comment-thread-wrapper .row .comment-item.reply-preview{
	border: 2px dashed #b9babb;
}

.reply-item .button{
	margin-bottom: 0;
}

.reply-button{
	cursor: pointer;
}

.reply-button img{
	height: 1em;
	width: 1em;
	margin-left: 0.25em;
}

.comment-thread-wrapper .row .comment-item.hidden-comment, .comment-thread-wrapper .row .reply-wrapper{
	display: none;
}

.comment-psuedo-box #comment-psuedo-box-placeholder{
	font-size: 2em;
	color: #b9babb;
	position: absolute;
	left: 0;
	right: 0;
	top: 33%;
}

.comment-psuedo-box{
	border-radius: 8px;
	background-color: #f1f1f1;
	margin-bottom: 1em;
	position: relative;
	overflow: hidden;
}

/* Big comment quotes */
#comment-psuedo-box-ldquo-big, #comment-psuedo-box-rdquo-big{
	font-size: 18em;
	color: #e1e1e1;
	position: absolute;
	display: none;
}

.comment-psuedo-box #comment-psuedo-box-ldquo-big{
	left: -5px;
	top: -5px;
	line-height: 0.8em;
}

.comment-psuedo-box #comment-psuedo-box-rdquo-big{
	right: -5px;
	bottom: -5px;
	line-height: 0.01em;
}


/* Small Comment quotes */
#comment-psuedo-box-ldquo, #comment-psuedo-box-rdquo{
	font-size: 8em;
	color: #b9babb;
	position: absolute;
}

.comment-psuedo-box #comment-psuedo-box-ldquo{
	left: 5px;
	top: 0;
	line-height: 0.8em;
}

.comment-psuedo-box #comment-psuedo-box-rdquo{
	right: 5px;
	bottom: 0;
	line-height: 0.01em;
}

.comment-psuedo-box #comment-psuedo-box-char-count{
	font-size: 0.75em;
	color: #b9babb;
	position: absolute;
	right: 0.5em;
	top: 0;
}

#comment_textarea{
	border: none;
	box-shadow: none;
	background-color: rgba( 0,0,0,0 );
	resize: none;
	overflow: hidden;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 6em;
	padding-right: 6em;
}

#comment_textarea_guest{
	margin-top: 1em;
	margin-bottom: 1em;
	padding-left: 6em;
	padding-right: 6em;
	min-height: 10em;
}

.reply_textarea{
	border: none;
	box-shadow: none;
	background-color: rgba( 0,0,0,0 );
	border-radius: 5px;
	resize: none;
	overflow: hidden;
	transition: background-color 250ms, border 250ms;
}

.reply_textarea:focus{
	border: none;
	background-color: #fafafa;
	box-shadow: none;
}

.comment-user-image{
	background-image: url( /images/profile/default.png );
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 5px;
	height: 4em;
	width: 4em;
	display: inline-block;
	margin-right: 0.5em;
}

.comment-user-info{
	display: inline-block;
	vertical-align: top;
}

.comment-user-name{
	color: #FF5C26;
	font-weight: bold;
}

.comment-user-type{
	color: #b9babb;
	font-weight: lighter;
}

.comment-interaction{
	color: #b9babb;
	font-weight: bold;
	font-size: 0.85em;
}

.comment-interaction span{
	margin-left: 0.6em;
	cursor: pointer;
}

.comment-interaction span:hover{
	text-decoration: underline;
}

.comment-interaction span.comment-like-button{
	margin-left: 0.25em;
}

.comment-interaction span.comment-like-button.comment-liked{
	color: #FF5C26;
}

.comment-interaction span.comment-like-count{
	font-size: 1.08em;
	color: #26b24b;
	cursor: auto;
}

.comment-interaction span.comment-like-count:hover{
	text-decoration: none;
}

.comment-wrapper .row .button.btn-save{
	background: #FF5C26;
	border-radius: 2px;
	border: 1px solid #FF5C26;
	color: #FFF;
	font-size: 14px;
	padding: 10px 2em;
	text-align: center;
	margin-left: 0.5em;
	cursor: pointer;
}

.comment-wrapper .row .button.btn-cancel{
	color: #b9babb;
	background: none;
	font-weight: bold;
	font-size: 14px;
	padding: 10px;
	margin-left: 0.5em;
	text-align: center;
	border-radius: 2px;
	border: 1px solid #b9babb;
	cursor: pointer;
	transition: background-color 500ms, color 500ms, border 500ms;
}

.comment-wrapper .row .button.btn-cancel:hover{
	border: 1px dashed #797979;
	background-color: #f5f5f5;
	color: #797979;
}

.button#comment-post-btn, .button.reply-post-button{
	padding-left: 2em;
	padding-right: 2em;
}

.comment-wrapper .row .comment-label{
	font-weight: bold;
	color: #b9babb;
	margin-left: 0.5em;
	margin-right: 0;
}

/*
.comment-label.reply-label{
	margin-right: 0;
}
*/

.comment-info{
	font-size: 0.7em;
	color: #797979;
	font-style: italic;
}

.comment-info-inline{
	color: #797979;
	font-style: italic;
	margin-left: 0.5em;
	font-weight: 200;
}
