body#comparison
{
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	height:100%;
	width:100%;
	background-attachment:fixed;
	background-size:cover;
	background-image:url(/images/backgroundimages/tower-clouds-optimized.jpg)
}
p{margin-bottom:0.85rem}

.odd-div
{
	background:#F5F5F5;
}
.battle-heading{
	background:#000000;
	padding: 10px 5px;
}


.border-right-gray{
	 border-right:solid 3px #f5f5f5;
	 height:200px;
}
.border-bottom-gray{
	 border-bottom:solid 2px #f5f5f5;
	 height:200px;
}



.br-white{
	 border-right:solid 3px #ffffff;
	 height:51px;
}


.orange-btn
{
	background-color:#FF5C26;
/* Firefox v1.0+ */
	-moz-border-radius:2px;
/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:2px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:2px;
	font-size:14px;
	font-weight:700;
	line-height:120%;
	color:#fff;
	text-align:center;
	padding:5px;
	display: inline-block;
}

.title-text
{
	word-break:break-all;
	font-weight:700;
	line-height:120%;
	color:#0085b2!important;
	text-align:left;
	font-size:12px;
	padding-left:10px;
	padding-top:5px;

}



.add-school-txt
{
background-color:rgb(255,255,255) !important;
height:38px !important;
border-color:rgb(185,186,187) !important;
border-width:1px;
-moz-border-radius:1px !important ;
-webkit-border-radius:1px !important;
border-radius:1px !important;
border-style:solid;
-moz-box-shadow:inset 2px 4px 3px rgba(0,0,0,0.1) !important;
-webkit-box-shadow:inset 2px 4px 3px rgba(0,0,0,0.1) !important;
box-shadow:inset 2px 4px 3px rgba(0,0,0,0.1) !important;
}

.gary-bck
{
	background:#eeeeee; padding:10px; margin-top:15px !important;
}
.reveal-modal{
	z-index:1010;
}

.floating-header
{
	position:fixed;
	width:803px;
	padding:0px;
	min-height:55px;
	z-index:3000;
	display:none;
	top:0;
	background-color:#0085B2;
	opacity:0.9;
	font-size:12px; color:#ffffff; font-weight:bold;
}


.comapreSchooltitleArea {
    background-color: #0085B2;
    color: #FFFFFF;
    font-size: 12px;
    font-weight: bold;
    height: 70px;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    display: none;
}
.owlTitleColumn{
	overflow: hidden;
}





.area_for_fix
{
	position:absolute;
	background-color:transparent;
	width:803px;
	z-index:1000;
}

.floating-header-title{ font-size:14px; font-weight:bold;color:#ffffff; width:150px; word-break:break-all;}

.raking-div-number
{
	background-color:#26b24b;
	padding:5px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	font-size:18px;
	font-weight:700;
	line-height:120%;
	color:#fff;
	text-align:center;
	width:60px;

}

.compare-school-logo{
	height:60px;
	width:60px;
	margin-top:30px;
	margin-bottom: 10px;
}
.removeschool{
	position:absolute;
	top:2px;
	right:2px;
	cursor: pointer;
}

#owl-compare .owl-buttons .owl-prev, #owl-compare .owl-buttons .owl-next
{
	position:absolute;
	background:url(/images/colleges/compare/slide_nav.png) no-repeat;
	width:32px;
	height:30px;
	font-size:0px;
	top:68px;
}

#owl-compare .owl-buttons .owl-prev
{left:-7px;	background-position:0 0!important}

/* not Used*/
#owl-compare .owl-buttons .owl-next
{right:-7px;background-position:-40px 0!important}

.owl-theme .owl-controls .owl-buttons div{ background:none; border-radius:1px;}


#owl-compare .item
{
	width:auto;
	height:auto;
	text-align:center;
}

.removeitem
{
	font-size: 20px;
    font-weight: bolder;
}


.add-btn{ margin-top:-1px;}
dialog,.reveal-modal{ height:auto;}
.model-title-text{ font-size:15px; height:40px;}

.battlefont
{
	font-size:24px;
	font-weight:700;
	color:#fff
}

.selected-college-div{background:#ffffff; padding:5px;}
.school-logo-ul
{
	min-height:216px;
	padding:0;
	overflow:auto;

}

.school-logo-ul li
{
	display:inline-block;
	padding:5px;
	margin:10px 0px 0px 5px;
}

.school-logo-ul li img
{
	width:40px;
	height:40px
}

.school-li-bdr
{
	border:#797979 solid 2px
}

#stick-owl-compare .owl-item{ color:#ffffff; font-size:14px; padding-top:10px; font-weight:bold;}
 .reveal-modal{margin-top:50px;}



#owl-compare .battleRecruitButton{
	margin-top: 5px;
	margin-bottom: 20px;

}








#owl-compare .compareLogTopContainor{
	height: 170px;
}

@media only screen and (max-width: 20em) {
	#owl-compare .college-name{
		font-size:14px;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
}

@media only screen and (min-width: 20.063em){
	#owl-compare .college-name{
		font-size:14px;
		height: 54px;
		white-space: nowrap;
  		overflow: hidden;
  		text-overflow: ellipsis;
	}
}

#owl-compare .btn-rec-title{
	margin: 0;
	padding-bottom: 5px;
	padding-top: 5px;
}




#owl-compare .battleToolTip{
	padding-top: 8px;
}

#owl-compare .desktopClickToadd{
	padding-top: 50px;
}

#owl-compare .recruitment-btn-pending{

	/*padding-bottom: 5px;
	padding-top: 5px;*/
	margin-top: 5px;
	/*margin-bottom: 20px;*/

}












	
@media only screen and (max-width: 40em) {
	.odd-div{ background:none;}.br-white{ height:auto}

	.border-right-gray
	{
		border:0;
		height:auto;
	}
	.compare-school-logo
	{
		border:#D5D5D5 solid 1px;
		width:75px;
		height:75px;
		-moz-border-radius:9px ;
		-webkit-border-radius:9px ;
		border-radius:9px; padding:5px;
		margin-bottom:10px;

	}
	.removeschool{top:30px; left:2px;}

	.battle-mid-content{-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;margin: 5px;
	}
	.m-title-heading{ color:#797979; font-size:12px; font-weight:bold; text-align:center}
	.compare-icon
	{
		 left: 114px;
		 position: absolute;
		 top: -70px;
	 }
	 .raking-div-number{ font-size:12px;}

	 #comparison .reveal-modal{
	 	padding: 0px;
	 	width: 100%;
	 }

	 #comparison .ui-autocomplete{
	 	width: 80% !important;
	 }

	.owl-item.active .br-white{border-left:none;}
	.owl-item.active + .owl-item.active .br-white{ border-left: dotted 3px #797979;}
	.owl-item.active .battle-icon{visibility:hidden;}
	.owl-item.active + .owl-item.active .battle-icon{visibility:visible !important;}
	.owl-item.active:first-child + .owl-item.active + .owl-item .battle-icon{visibility:hidden;}
	.show-for-small.battle-icon {
	    visibility: hidden;
	}

	.battle-icon
	{
		left: -28px;
		position: absolute;
		top: 45px;
		width: 56px;
		z-index: 34;
	}

	#owl-compare .owl-buttons .owl-prev
	{left:-3px;}

	#owl-compare .battleToolTip{
		padding-top: 8px;
		padding-bottom: 8px;
	}

}




@media only screen and (min-width: 40.063em) {

	#owl-compare .compareLogTopContainor{
		height: 150px;
	}

 }

@media only screen and (min-width: 64.063em) {
	#owl-compare .compareLogTopContainor{
		height: 152px;
	}
}

/* centering add new button */
.addSchool-btn-txt{
	padding: 50px 0;
}


.valign-middle {
    vertical-align: middle;
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #comparison .ui-autocomplete {
    top: 90px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    display: block;
  }
}
