/*conference.css*/

#plexuss-conferences > #topAlertContainer{
	margin-bottom: 0;
}

#plexuss-conferences .conference-main-container{
	max-width: 100%;
	width: 100%;
	padding: 40px 0 0;
	margin-bottom: 40px;
}

.conference-main-container .top-message{
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/conference-icon-new.png) top no-repeat;
	background-position: 13px 0px;
    background-size: contain;
    height: 68px;
    padding: 1px 3.8em;
    color: #797979;
    font-weight: bold;
    font-size: 2em;
}

.conference-main-container .subtitle{
	padding-left: 102px;
    margin-top: -20px;
    color: #BBB6B6;
}
.conference-main-container .conference-detail{
	margin-top: 2em;
}
.conference-main-container .conference-detail .row{
	margin-top: 20px;
}

.conference-main-container .conference-detail .date{
	color: #0085B2;
	font-weight: bolder;
}

.conference-main-container .conference-detail .name{
	color: #0085B2;
}

.conference-main-container .conference-detail .booth{
	color: #ff5c26;
	font-weight: bolder;
}

.conference-main-container .conference-detail .rsvp{
	background-color: #ff5c26;
    border-radius: 2px;
    padding-bottom: 2px;
}

.conference-main-container .conference-detail .rsvp a{
	color: #fff;
}