/******************** profile pane contact ************/

/*/////// sprites ////////////*/

.contact-nav-btn{
	background: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png');
	/*background-size: 1000%;*/
}

@keyframes fadeIn {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.appr-btn-list .auto-dialer-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #eee;
    color: #606a76;
    padding: 0.5em 0.7em;
    margin-top: 0.5em;
    cursor: pointer;
}

.appr-btn-list .auto-dialer-icon{
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/auto-dialer-sprite.png) -25px 0px;
    width: 17px;
    height: 18px;
    margin-left: 0.4em;
}

.appr-btn-list .auto-dialer-button.active .auto-dialer-icon{
    background: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/auto-dialer-sprite.png') 0 0;
}

.appr-btn-list .auto-dialer-button.active{
    background-color: #626a76;
    color: #f8f9fa;
}

.contact-nav-btn.msg{
	background-position: -2px 0;
}
.contact-nav-btn.email{
	background-position: -69px 0;
}
.contact-nav-btn.call{
	background-position: -136px 0;
}
.contact-nav-btn.text{
	background-position: -206px 0;
}
/*//////////////////////// */

.main-manage-students-content .auto-dialer-row-container{
    display: flex;
    flex-direction: row;
    margin-top: 2em !important; /* Override foundation classes */
    margin-bottom: -1em;
    padding: 0.5em;
    align-items: center;
    padding-left: 1em;
    background-color: #626a77;
    color: #fff;

    -webkit-animation: fadeIn 0.5s;
    -moz-animation: fadeIn 0.5s;
    -ms-animation: fadeIn 0.5s;
    -o-animation: fadeIn 0.5s;
    animation: fadeIn 0.5s;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-header-container{
    display: flex;
    align-items: center;
}

.main-manage-students-content .auto-dialer-row-container.hidden{
    display: none;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-current-name{
    cursor: default;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-call-duration{
    text-align: right;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-header-text{
    margin-right: 2em;
}

.main-manage-students-content .auto-dialer-row-container .auto-dial-button.active{
    cursor: default;
}

.main-manage-students-content .auto-dialer-row-container .auto-dial-button{
    font-size: 16px;
    cursor: pointer;
}

.main-manage-students-content .auto-dialer-row-container .auto-dial-button.active{
    font-weight: bold;
    font-size: 18px;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-change-user-button{
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-change-user-button:hover{
    opacity: 0.8;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-previous-button {
    text-align: right;
    margin-right: 2em;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-call-action-button{
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-call-action-button:hover{
    opacity: 0.9;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-call-button{
    width: 38px;
    height: 38px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -401px -13px;
}

.main-manage-students-content .auto-dialer-row-container .auto-dialer-end-call-button{
    width: 38px;
    height: 38px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -451px -13px;
}

.hide{
	display: none;
}

.show{
	display: inline-block;
}

.contact-pane-wrapper{
	display: none;
    position: relative;
    float: left;
    width: 101%;
    margin-top: 5px;
    background-color: #3c3c4a;
    color: #ffffff;
    margin-left: -10px;
}

.contact-pane-wrapper .msg-box p,
.contact-pane-wrapper .msgBody p{
	margin-bottom: 0px;
	line-height: 1.2em;
}

body[id="admin-student-search"] .contact-pane-wrapper{
	width: 102%;
}

.contact-pane-wrapper .actionbar-container{
	margin-left: 1px;
	width: 98%;
    margin-bottom: 0px;
}

.contact-bottom-container{
	padding: 50px 30px 30px 30px;
}

.contact-btn-container{
	/*text-align: center;*/
	background-color: rgba(0,0,0,.2);
	padding-bottom: 20px;
}

.contact-btn-container .contact-close-btn{
    position: absolute;
    right: 2%;
    top: 14%;
    font-size: 26pt;
    cursor: pointer;
}

#_contactCall .contact-call-refresh-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    left: 2.5%;
    margin-top: -1.5rem;
    font-size: 17pt;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#_contactCall .contact-call-refresh-button .contact-call-refresh-button-text{
    margin-left: 0.4em;
    font-size: 13pt;
}

#_contactCall .small-loader{
    border: 3px solid rgba(255,255,255, 0.3);
    border-top: 3px solid rgba(255,255,255,1);
    border-radius: 50%;
    width: 25px;
    height: 25px;
    animation: spin 1s ease infinite;
    text-align: center;
    margin-top: 0.5em;
    margin-left: 3em;
}

#_contactCall .contact-call-refresh-button:hover {
    opacity: 0.7;
}

#_contactCall .edit-contact-phone-btn{
    position: absolute;
    left: 33%;
    text-decoration: underline;
    font-size: 13pt;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#_contactCall .edit-contact-phone-btn:hover {
    opacity: 0.7;
}

#_contactCall .edit-contact-phone{
    color: black;
}

#_contactCall .edit-contact-phone-notice{
    display: block;
    margin-top: 0.5em;
    opacity: 0.7;
}

#_contactCall .edit-contact-phone.invalid{
    border: 3px solid red;
}

#_contactCall .save-contact-phone-btn{
    margin-right: 1em;
    cursor: pointer;
    text-decoration: underline;
}

#_contactCall .save-contact-phone-btn.disabled{
    cursor: not-allowed;
    opacity: 0.5;
}

#_contactCall .edit-contact-phone{
    border-radius: 3px;
    border: 0;
    color: black;
    padding: 0.25em;
    margin-left: 1.5em;
}


.contact-btn-inner{
	display: inline-block;
	position: relative;
	margin: 20px auto 0px auto;	
}

.contact-btn-wrapper{
	display: inline-block;
	width: 68px;
	height: auto;
	text-align: center;
	margin: 5px 10px;
	color: #ffffff;
	opacity: .3;
	font-weight: 100;
	font-size: 11px;
	cursor: pointer;
}

.contact-btn-wrapper.selected{
	opacity: 1;
}


.contact-btn-wrapper-disabled{
	opacity: .3;
	display: inline-block;
	width: 75px;
	height: 75px;
	height: auto;
	text-align: center;
	margin: 6px 10px;
	color: #ffffff;
	opacity: .3;
	font-weight: 100;
	font-size: 11px;
	background-color: rgba(255,255,255,.2);
	vertical-align: top;
	padding: 13px;
	border-radius: 100%;
}

.contact-person-name{
	margin-top: 55px;
    margin-left: 55px;
    color: #ceced0;
    font-size: 19px;
    width: 30%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    position: absolute;
    text-align: left;

}

.contact-poster-name{
	width: 85px;
	clear: both;
    padding-top: 5px;
    color: #797979;
    line-height: 1.2em;
    word-wrap: break-word;
    font-weight: 600;
    font-size: 9px;
}

.contact-btn-img{
	width: 63px;
	height: 63px;
	margin: 0px auto 1px auto;
}

.contact-btn{
	background-color: #2ba6cb;
	color: #ffffff;
}


/* contact - message section/email/text */
/**************************************************************************/

/*#_contactEmail,
#_contactMessage
#_contactText{
	display: none;
}*/

.contact-section-container{
	display: none;
}
.contact-section-container.opened{
	display: block;
}


.contact-section-container select.threads-dropdown {
    height: 30px;
    padding: 0px 10px;
}

.contact-pane-wrapper .msg-box,
.contact-pane-wrapper .email-box
{
	background-color: #ffffff;
	border-radius: 5px;
	color: #202020;
	padding: 20px;
	font-size: 13px;
	overflow: auto;
}
.contact-pane-wrapper .msg-box{
	height: 255px;
}
.contact-pane-wrapper .email-box{
	height: 342px;
}


.templateDropdown{
	width: 230px;
    margin-right: 20px;
    height: 30px;
    font-size: 13px;
    font-weight: bold;
    padding: 5px 10px;
}

.contact-pane-wrapper label{
	color: #ffffff;
	font-weight: 100;
}

.edit-template-btn{
	color: #ffffff !important;
	text-decoration: underline;
	font-weight: 100;
	font-size: 15px;
	cursor: pointer;
}

.msgBody{
	width: 100%;
    height: 255px;
    border-radius: 5px;
    border: none;
    padding: 20px;
    font-size: 15px;
    background-color: #ffffff;
    color: #202020;
    margin-bottom: 15px;
    line-height: 1.5em;
    position: relative;
    outline: none;
    overflow-y: auto;
    overflow-x: hidden;
}



.contact-charCount {
    color: #ababab;
    font-size: 13px;
    position: absolute;
    bottom: 10px;
    right: 27px;
    background: rgba(255,255,255,.5);
    border-radius: 20px;
    display: none;
}

.msg-feedback {
    position: absolute;
    bottom: 10px;
    color: #666666;
    font-size: 13px;
    font-weight: 100;
    left: 18px;
}

.att-files-txt{
	font-size: 15px;
	color: #ffffff;
}



.attchFiles{
	display: inline-block;
	cursor: pointer;
}


.custom-attch-input{
	display: none;

}

.remove-file-btn{
	cursor: pointer;
	font-weight: 600;
	color: #202020;
	font-size: 20px;
	line-height: 1em;

}

.attch-file-open{
	display: inline-block;
	cursor: pointer;
}

.attch-files-input{
	background: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png');
    background-position: -576px 43px;
}

.attatch-icon{
	background: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png');
    background-position: -576px 43px;
    width: 17px;
    height: 19px;
    margin-right: 3px;
    margin-left: 10px;
    display: inline-block;
}



.upload-file-wrapper.mt10.mb10 {
    display: inline-block;
    background-color: rgba(13, 137, 137, 0.1);
    padding: 10px;
    border-radius: 5px;
}

.add-sample-docs{
	display: inline-block;
	text-decoration: underline;
	font-weight: 100;
	margin-left: 25px;
	font-size: 13px;
}

.msgSubmit, .emailSubmit{
	display: inline-block;
	background-color: #24b26b;
	padding: 5px 35px;
	border-radius: 5px;
	float: right;
	cursor: pointer;
	color: #ffffff;
}

.msgSubmit.disabled{
	opacity: .5;
	cursor: not-allowed;
}


.msgSubmit:hover,
.msgSubmit:active,
.msgSubmit:focus,
.emailSubmit:hover,
.emailSubmit:active,
.emailSubmit:focus{
	background-color: #23a363;
}

.msgBody::-webkit-scrollbar,
.msg-box::-webkit-scrollbar{
    width: 20px;
    border-radius: 5px;
}

.msgBody::-webkit-scrollbar-corner,
.msg-box::-webkit-scrollbar-corner,
.prev-call-container::-webkit-scrollbar-corner{
	border-radius: 5px;
} 

.msgBody::-webkit-scrollbar-track,
.msg-box::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;
}

.msgBody::-webkit-scrollbar-thumb,
.msg-box::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,.2);
  border-radius: 9px;
  width: 20px;
  border: 5px solid #ffffff;
}

.upload-file-wrapper a {
    font-size: 13px;
}

.prev-call-container::-webkit-scrollbar{
	width: 10px;
	border-radius: 5px;
}
 
.prev-call-container::-webkit-scrollbar-track{
	background: rgba(0,0,0,.3);
	border-radius: 5px;
}
 
.prev-call-container::-webkit-scrollbar-thumb{
	background-color: rgba(255,255,255,.5);
	border-radius: 9px;
	width: 10px;
}

.date-divide{
	position: relative;
    border-bottom: 1px solid #999999;
    height: 10px;
    margin: 0px auto;

}
.contact-date{
	color: #797979;
	position: absolute;
	background: #ffffff;
	padding: 0px 20px;
	font-size: 12px;
	bottom: -8px;
	left: 39%;
}

.contact-msg-display-wrap{
	margin: 15px auto;
}

.contact-msg-name{
	width: 100px;
	float: left;
	padding: 15px;
	color: #2ba6cb;
	font-weight: 600;
	font-size: 13px;
}

.chat-portrait{
	margin-right: 5px;
	width: 45px;
	height: 45px;
	border-radius: 100%;
	background: #eeeeee;
	overflow: hidden;
}
.chat-portrait img{
	min-height: 100%;
    min-width: 100%;
    height: auto;
    width: auto;
}

.chat-portrait img.portrait-other{
    max-width: 100%;

}

.contact-msg-msg{
	position: relative;
	width: auto;
	min-height: 145px;
	padding: 15px 15px 15px 20px;
	
}
.contact-msg-msg-col{
	width: auto;
	padding: 0px;
	float: none;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
	margin: auto 50px auto 0px;
}

.contact-msg-msg-col-text{
	width: auto;
	padding: 15px;
	float: none;
	font-weight: 400;
	font-size: 14px;
	overflow: hidden;
}


.contact-msg-msg-col p{
	font-size: 14px;
}


/*********************/

.saveTemplateModal.reveal-modal{
	width: 30em;
	padding-top: 30px;
}

.saveTemplateModal .templateName {
    width: 95%;
    height: 35px;
    padding: 0px 10px;
}

.contact-save-template-name {
    margin-top: 30px;
    background-color: #ff5c26;
    color: #ffffff;
    display: inline-block;
    padding: 7px 20px;
    width: 150px;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
}
.contact-save-template-name:hover,
.contact-save-template-name:active,
.contact-save-template-name:focus{
	background-color: #ee4b16;
} 

/****/


/*#editTemplateModal1 {
    max-width: 600px;
}

#editTemplateModal1 h1{
	font-size: 25px;
    color: #202020;
    margin-bottom: 20px;
}


ul.contact-edit-template-container {
    height: 300px;
    overflow: auto;
}

.contact-edit-edit-btn,
.contact-edit-delete-btn{
	display: inline-block;
	margin-left: 5px;
	padding: 2px 10px;
	cursor: pointer;
}

.contact-edit-edit-btn:hover,
.contact-edit-edit-btn:active,
.contact-edit-edit-btn:focus{
	background-color: #2e7bba;
}
.contact-edit-delete-btn:hover,
.contact-edit-delete-btn:active,
.contact-edit-delete-btn:focus{
	background-color: #ee4b15;
}

.contact-edit-edit-btn{
	color: #ffffff;
	background-color: #3F8CCB;
}

.contact-edit-delete-btn{
	color: #ffffff;
	background-color: #FF5C26;
}

.contact-edit-edit-btn.notallowed,
.contact-edit-delete-btn.notallowed{
	cursor: not-allowed;
	opacity: .5;
}

.contact-edit-template-container::-webkit-scrollbar{
	width: 6px;
}
.contact-edit-template-container::-webkit-scrollbar-track{
	width: 6px;
	background-color: rgba(0,0,0,.2);
}
.contact-edit-template-container::-webkit-scrollbar-thumb{
	width: 6px;
	background-color: rgba(0,0,0,.5);
}
*/
/*************************/





.txt-bubble-s{
	background-color: #eeeeee;
	border-radius: 20px;
	color: #363636;
	margin-left: 100px;
}
.txt-bubble-s-arrow{
	border-right: 15px solid #eeeeee;
    border-bottom: 10px solid transparent;
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    left: -19px;
    top: 6px;
    position: absolute;
}


.txt-bubble-u{
	background-color: #4ed085;
	border-radius: 20px;
	margin-right: 100px;
}
.txt-bubble-u-arrow{
	border-left: 15px solid #4ed085;
    border-bottom: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid transparent;
    right: -19px;
    bottom: 5px;
    position: absolute;
}



.txt-bubble-u *,
.txt-bubble-u .contact-time-text{
	color: #ffffff;
}
.txt-bubble-arrow-s{
	border-right: 25px solid inherit;
	border-bottom: 30px solid transparent;
	border-right: 25px solid transparent;
	border-right: 25px solid transparent;
}
.txt-bubble-arrow-u{

}


/*********** contact- call ***********/
.contact-call-lcol {
    width: 62%;
    text-align: right;
    float: left;
    padding: 20px 45px 20px 20px;
    font-size: 20px;
}

.contact-call-rcol{
	width: 37%;
	float: left;
	padding: 20px;
}

.contact-call-row1{
	margin-top: 10px;
    margin-bottom: 1em;
	height: 50px;
}
.contact-call-row2{
	margin-top: 10px;
	/*height: 50px;*/
	margin-bottom: 30px;
}
.prev-call-wrapper{
	padding: 0px 10px;
}
.prev-call-title{
	text-decoration: underline;
	font-size: 16px;
}
.prev-call-detail{
	font-size: 13px;
	font-weight: 100;
	margin-top: 5px;
    margin-bottom: 1em;
}

#twilLog {
    display: inline-block;
    height: 130px;
    padding: 12px 25px;
    background-color: rgba(0,0,0,.2);
    min-width: 300px;
    font-weight: 100;
    font-size: 15px;
}

.call-call-btn-wrapper{
	display: inline-block;
	padding: 0px 10px;
	cursor: pointer;
}
.call-record-btn-wrapper{
	display: inline-block;
	padding: 10px 20px 10px 10px;
	cursor: pointer;
}

.call-record-btn-wrapper.active{
	background-color: rgba(255,255,255, .3);
	border-radius: 30px;
}

.call-transfer-call-btn-wrapper {
    display: flex;
    align-items: center;
}

.call-transfer-call-btn-wrapper .contact-posting-btn {
    margin-left: 1em;
    background-color: #2ac56c;
    padding: 0.5em 1em;
    border-radius: 3px;
    display: inline-block;
    margin-left: 1em;
    color: #fff;
    cursor: pointer;

    transition: opacity 0.25s ease-in;
}

.call-transfer-call-btn-wrapper .contact-transfer-call-btn {
    background-color: #0085b2;
    padding: 0.5em 1em;
    border-radius: 3px;
    display: inline-block;
    margin-left: 1em;
    color: #fff;
    cursor: pointer;

    transition: opacity 0.25s ease-in;
}

.call-transfer-call-btn-wrapper .contact-transfer-call-btn:hover,
.call-transfer-call-btn-wrapper .contact-posting-btn:hover {
    opacity: 0.85;
}

.contact-posting-btn

.contact-time{
	width: 75px;
	padding: 12px 0px;
	color: #797979;
	font-size: 12px;
	float: right;
}

.contact-time-text{
	width: 75px;
	float: right;
	padding: 10px;
	font-size: 10px;
}
.contact-call-call-btn{
	width: 38px;
    height: 38px;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png);
	
}
.contact-call-call-btn.call{
	background-position: -401px -13px;
}
.contact-call-call-btn.end{
	background-position: -451px -13px;
}

.contact-call-text{
	font-size: 16px;
}

.call-play-btn{
	border-right: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #ffffff;
	border-top: 5px solid transparent;
	height: 0px;
	width: 0px;
	vertical-align: top;
	display: inline-block;
}


.call-play-btn-cont{
	border: 1px solid #ffffff;
	width: 19px;
	height: 13px;
	border-radius: 5px;
	text-align: right;
	vertical-align: middle;
	display: inline-block;
	margin-left: 5px;
}

.prev-call-container {
    max-height: 150px;
    margin-bottom: 20px;
    overflow: auto;
    width: 310px;
}
.contact-record-btn{
	width: 38px;
    height: 38px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png);
    background-position: -501px -13px;
}

.contact-record-text{
	font-size: 14px;
	font-weight: 100;
}

.mute-btn-wrapper{
	display: inline-block;
	text-align: center;
	font-size: 13px;
	font-weight: 100;
}

.contact-call-mute{
	width: 52px;
	height: 63px;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png);
	display: inline-block;
}

.contact-call-mute.mute{
	background-position: -276px 0px;
}
.contact-call-mute.unmute{
	background-position: -338px 0px;
}

.contact-call-duration {
    font-size: 40px;
    /* font-weight: 700; */
    letter-spacing: -1px;
    margin-top: 20px;
    line-height: 34px;
}


.contact-emailSubject{
	width: 100%;
    margin: 0px auto 10px auto;
    height: 30px;
    border: none;
    padding: 0px 10px;
    font-size: 13px;
    color: #202020;
}
.contact-e-subject{
	margin: 5px 5px 5px 0px;
	color: #0085b2;
    font-weight: 600;
	font-size: 14px;
}

.email-body-cont{
	font-size: 14px;
	margin-top: 20px;
}

.refresh-btn{
	margin-top: 15px;
	font-size: 16px;
	display: inline-block;
	cursor: pointer;
	color: #ffffff;
}
.refresh-btn:active,
.refresh-btn:focus,
.refresh-btn:hover{
	opacity: .7;
}


.refresh-icon {
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png);
    background-position: -551px 41px;
    width: 14px;
    height: 17px;
    margin-right: 8px;
    margin-left: 15px;
    display: inline-block;
}

.refresh-icon.spinning{
	transform-origin: center;
	animation: spinning 2s cubic-bezier(0.5, 0, 1, 1) infinite;
}


@keyframes spinning{
	0%{ transform: rotateZ(0deg); }
	100%{ transform: rotateZ(360deg); }
}


.contact-load-more{
	font-size: 13px;
	color: #000000;
	font-weight: 600;
	text-align: center;
	cursor: pointer;
}

.contact-load-more:hover,
.contact-load-more:active,
.contact-load-more:focus{
	opacity: .7;
}

/******************************************/
/****************/

@media all and (max-width: 1370px){
	.templateDropdown{
		width: 160px;
	}
}

@media all and (max-width: 1202px){
	.contact-pane-wrapper .msg-box {
	    height: 280px;
	}
}

@media all and (max-width: 1025px){
	.contact-person-name,
	.contact-btn-inner{
		width: 100%;
		position: relative;
		text-align: center;
		margin: 0px;
		padding-top: 10px;
	}

	.contact-person-name{
		background-color: rgba(0,0,0,.2);
		padding-bottom: 7px;
	}

	

	.contact-btn-wrapper.disabled, .contact-btn-img{
		display: none;
	}

	.contact-bottom-container{
		padding: 20px;
	}

	.msg-box{
		height: 320px;
	}

	.msgBody{
		height: 50px;
	}


	.call-duration {
	    display: block;
	}
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ac56c;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2ac56c;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* Transfer Call Modal */
#transfer-call-modal, #posting-student-modal {
    width: 500px;
}

#posting-student-modal .posting-student-name {
    text-align: center;
    margin-bottom: 0.5em;
}

#posting-student-modal .posting-student-errors {
    color: red;
    margin-bottom: 1.5em;
}

#transfer-call-modal .close-reveal-modal,
#posting-student-modal .close-reveal-modal {
    float: right;
    font-size: 35px;
    top: -0.5em;
    color: black;
}

#transfer-call-modal .transfer-call-button,
#posting-student-modal .posting-student-button {
    padding: 0.5em 1em;
    border-radius: 3px;
    background-color: #2bc56d;
    color: #fff;
    text-align: center;
    width: 15em;
    margin: 0.5em auto;
    cursor: pointer;

    transition: opacity 0.25s ease-in;
}

#posting-student-modal .posting-student-button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#transfer-call-modal .transfer-call-button:hover,
#posting-student-modal .posting-student-button:hover {
    opacity: 0.85;
}


/* End Transfer Call Modal */


/* Incoming Call Modal */
#incoming-call-modal {
    width: 40%;
    padding: 1em;
}

#incoming-call-modal .incoming-call-request-container.hidden, #incoming-call-modal .incoming-call-active-container.hidden {
    display: none;
}

#incoming-call-modal .incoming-modal-actions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1em;
    font-size: 10pt;
}

#incoming-call-modal .incoming-call-active-container {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

#incoming-call-modal .incoming-call-active-container .left-side-active-call {
    /*margin-right: 1em;*/
}

#incoming-call-modal .incoming-call-active-container .incoming-phone-number {
    margin-top: 0.5em;
    color: #484d55;
}

#incoming-call-modal .incoming-call-active-container .incoming-call-timer {
    color: #484d55;
    font-size: 24pt;
    text-align: center;
    margin: 0.25em;
}

#incoming-call-modal .incoming-call-active-container .incoming-call-mute-toggle-button {
    margin-top: 1em;
}

#incoming-call-modal .incoming-modal-actions-container .minimize-modal-action-button {
    text-decoration: underline;
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

#incoming-call-modal .incoming-modal-actions-container .minimize-modal-action-button:hover {
    opacity: 0.8;
}

#incoming-call-modal .modal-header {
    color: black;
    text-align: center;
    margin-bottom: 2em;
}

#incoming-call-modal .incoming-call-button {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    padding: 0.5em;
    cursor: pointer;
    color: #fff;
    border-radius: 3px;
}

#incoming-call-modal .incoming-call-button.answer-call-button {
    margin-bottom: 2em;
    background-color: #2ac56c;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
}

#incoming-call-modal .incoming-call-button.disconnect-call-button {
    background-color: red;
    margin-bottom: 1em;
}

#incoming-call-modal .right-side-active-call .active-incoming-call-button {
    display: flex;
    align-items: center;
    padding: 0.5em;
    margin: 0.25em;
    margin-right: 2em;
}

#incoming-call-modal .right-side-active-call .active-incoming-call-button.incoming-call-end-button {
    cursor: pointer;
}

#incoming-call-modal .right-side-active-call .active-incoming-call-button.incoming-call-record-button {
    background-color: #b9babc;
    border-radius: 2em;
    color: white;
}

#incoming-call-modal .right-side-active-call .active-incoming-call-button .incoming-record-call-icon {
    width: 40px;
    height: 40px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -500px -12px;
    margin-right: 0.5em;
}

#incoming-call-modal .right-side-active-call .incoming-previously-called-header {
    text-decoration: underline;
    font-size: 10pt;
    color: #5d6269;
    margin-top: 2em;
}

#incoming-call-modal .incoming-previously-called-log-container .incoming-previously-called-log {
    max-height: 150px;
    overflow: auto;
}

#incoming-call-modal .incoming-previously-called-log-container .single-call-log {
    font-size: 8pt;
    color: #6c7176;
    margin: 0.25em;
    margin-left: 0;
}

#incoming-call-modal .right-side-active-call .active-incoming-call-button .incoming-end-call-icon {
    width: 40px;
    height: 40px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -451px -12px;
    margin-right: 0.5em;
}

#incoming-call-modal .incoming-call-mute-toggle-button .incoming-call-mute-icon {
    width: 50px;
    height: 50px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -277px -7px;
    cursor: pointer;
    margin: 0 auto;
    background-color: #3f464e;
    border-radius: 50%;
    transform: scale(0.8);
}

#incoming-call-modal .incoming-call-mute-toggle-button .incoming-call-mute-text {
    text-align: center;
    color: #3f464e;
    font-size: 8pt;
}

#incoming-call-modal .incoming-call-mute-toggle-button .incoming-call-mute-icon.active {
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -339px -7px;
}

.minimized-incoming-call {
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    right: 1px;
    background-color: #2ac56c;
    color: #fff;
    padding: 0.5em;
    border-radius: 3px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    font-size: 11pt;
    z-index: 1;
}

.minimized-incoming-call.hidden {
    display: none;
}

.minimized-incoming-call .minimized-end-button {
    width: 40px;
    height: 40px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/admin-contact-sprite.png) -450px -12px;
    transform: scale(0.9);
    cursor: pointer;
    -webkit-transition: opacity 0.3s ease-in;
    -moz-transition: opacity 0.3s ease-in;
    -o-transition: opacity 0.3s ease-in;
    -ms-transition: opacity 0.3s ease-in;
    transition: opacity 0.3s ease-in;
}

.minimized-incoming-call .minimized-end-button:hover {
    opacity: 0.7;
}

.minimized-incoming-call .minimized-incoming-timer-number {
    margin-right: 1em;
}
.minimized-incoming-call .minimized-incoming-phone-number {
    margin-right: 1em;
}

@keyframes refreshSpinner {
    to {
        transform: rotate(360deg);
    }
}

.refresh-spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 87%;
    left: 58%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border-top: 2px solid black;
    border-right: 2px solid transparent;
    animation: refreshSpinner .6s linear infinite;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

@media only screen and (max-width: 500px) {
    #incoming-call-modal {
        width: 100%;
    }

    #incoming-call-modal .incoming-call-active-container {
        display: block;
        text-align: center; 
    }
}
/* End Incoming Call Modal */

@media all and (max-width: 723px){
	.call-duration {
	    display: inline-block;
	}

	.contact-call-rcol{
		width: 100%;
	}
}


@media all and (max-width: 641px){
	.contact-pane-wrapper{
		margin-left: 0px;
		width: 100%;
	}
}

@media only screen and (max-width: 500px) {
    .main-manage-students-content .auto-dialer-row-container{
        display: none;
    }
}