.country_flag{
	display: inline-block;
	width: 16px;
	height: 11px;
	margin: 0 5px 0 0;
	vertical-align: middle;
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png);
	background-repeat: no-repeat;
}

.country_flag.ad {background-position: -16px 0}
.country_flag.ae {background-position: -32px 0}
.country_flag.af {background-position: -48px 0}
.country_flag.ag {background-position: -64px 0}
.country_flag.ai {background-position: -80px 0}
.country_flag.al {background-position: -96px 0}
.country_flag.am {background-position: -112px 0}
.country_flag.an {background-position: -128px 0}
.country_flag.ao {background-position: -144px 0}
.country_flag.aq {background-position: -208px -165px}
.country_flag.ar {background-position: -160px 0}
.country_flag.as {background-position: -176px 0}
.country_flag.at {background-position: -192px 0}
.country_flag.au {background-position: -208px 0}
.country_flag.aw {background-position: -224px 0}
.country_flag.az {background-position: -240px 0}
.country_flag.ba {background-position: 0 -11px}
.country_flag.bb {background-position: -16px -11px}
.country_flag.bd {background-position: -32px -11px}
.country_flag.be {background-position: -48px -11px}
.country_flag.bf {background-position: -64px -11px}
.country_flag.bg {background-position: -80px -11px}
.country_flag.bh {background-position: -96px -11px}
.country_flag.bi {background-position: -112px -11px}
.country_flag.bj {background-position: -128px -11px}
.country_flag.bm {background-position: -144px -11px}
.country_flag.bn {background-position: -160px -11px}
.country_flag.bo {background-position: -176px -11px}
.country_flag.br {background-position: -192px -11px}
.country_flag.bs {background-position: -208px -11px}
.country_flag.bt {background-position: -224px -11px}
.country_flag.bv {background-position: -240px -11px}
.country_flag.bw {background-position: 0 -22px}
.country_flag.by {background-position: -16px -22px}
.country_flag.bz {background-position: -32px -22px}
.country_flag.ca {background-position: -48px -22px}
.country_flag.catalonia {background-position: -64px -22px}
.country_flag.cd {background-position: -80px -22px}
.country_flag.cf {background-position: -96px -22px}
.country_flag.cg {background-position: -112px -22px}
.country_flag.ch {background-position: -128px -22px}
.country_flag.ci {background-position: -144px -22px}
.country_flag.ck {background-position: -160px -22px}
.country_flag.cl {background-position: -176px -22px}
.country_flag.cm {background-position: -192px -22px}
.country_flag.cn {background-position: -208px -22px}
.country_flag.co {background-position: -224px -22px}
.country_flag.cr {background-position: -240px -22px}
.country_flag.cu {background-position: 0 -33px}
.country_flag.cv {background-position: -16px -33px}
.country_flag.cw {background-position: -32px -33px}
.country_flag.cx {background-position: -240px -165px}
.country_flag.cy {background-position: -48px -33px}
.country_flag.cz {background-position: -64px -33px}
.country_flag.de {background-position: -80px -33px}
.country_flag.dj {background-position: -96px -33px}
.country_flag.dk {background-position: -112px -33px}
.country_flag.dm {background-position: -128px -33px}
.country_flag.do {background-position: -144px -33px}
.country_flag.ds {background-position: -224px -165px}
.country_flag.dz {background-position: -160px -33px}
.country_flag.ec {background-position: -176px -33px}
.country_flag.ee {background-position: -192px -33px}
.country_flag.eg {background-position: -208px -33px}
.country_flag.eh {background-position: -224px -33px}
.country_flag.england {background-position: -240px -33px}
.country_flag.er {background-position: 0 -44px}
.country_flag.es {background-position: -16px -44px}
.country_flag.et {background-position: -32px -44px}
.country_flag.eu {background-position: -48px -44px}
.country_flag.fi {background-position: -64px -44px}
.country_flag.fj {background-position: -80px -44px}
.country_flag.fk {background-position: -96px -44px}
.country_flag.fm {background-position: -112px -44px}
.country_flag.fo {background-position: -128px -44px}
.country_flag.fr {background-position: -144px -44px}
.country_flag.fx {background-position: -144px -44px}
.country_flag.ga {background-position: -160px -44px}
.country_flag.gb {background-position: -176px -44px}
.country_flag.gd {background-position: -192px -44px}
.country_flag.ge {background-position: -208px -44px}
.country_flag.gf {background-position: -224px -44px}
.country_flag.gg {background-position: -240px -44px}
.country_flag.gh {background-position: 0 -55px}
.country_flag.gi {background-position: -16px -55px}
.country_flag.gl {background-position: -32px -55px}
.country_flag.gm {background-position: -48px -55px}
.country_flag.gn {background-position: -64px -55px}
.country_flag.gp {background-position: -80px -55px}
.country_flag.gq {background-position: -96px -55px}
.country_flag.gr {background-position: -112px -55px}
.country_flag.gs {background-position: -128px -55px}
.country_flag.gt {background-position: -144px -55px}
.country_flag.gu {background-position: -160px -55px}
.country_flag.gw {background-position: -176px -55px}
.country_flag.gy {background-position: -192px -55px}
.country_flag.hk {background-position: -208px -55px}
.country_flag.hm {background-position: -224px -55px}
.country_flag.hn {background-position: -240px -55px}
.country_flag.hr {background-position: 0 -66px}
.country_flag.ht {background-position: -16px -66px}
.country_flag.hu {background-position: -32px -66px}
.country_flag.ic {background-position: -48px -66px}
.country_flag.id {background-position: -64px -66px}
.country_flag.ie {background-position: -80px -66px}
.country_flag.il {background-position: -96px -66px}
.country_flag.im {background-position: -112px -66px}
.country_flag.in {background-position: -128px -66px}
.country_flag.io {background-position: -144px -66px}
.country_flag.iq {background-position: -160px -66px}
.country_flag.ir {background-position: -176px -66px}
.country_flag.is {background-position: -192px -66px}
.country_flag.it {background-position: -208px -66px}
.country_flag.je {background-position: -224px -66px}
.country_flag.jm {background-position: -240px -66px}
.country_flag.jo {background-position: 0 -77px}
.country_flag.jp {background-position: -16px -77px}
.country_flag.ke {background-position: -32px -77px}
.country_flag.kg {background-position: -48px -77px}
.country_flag.kh {background-position: -64px -77px}
.country_flag.ki {background-position: -80px -77px}
.country_flag.km {background-position: -96px -77px}
.country_flag.kn {background-position: -112px -77px}
.country_flag.kp {background-position: -128px -77px}
.country_flag.kr {background-position: -144px -77px}
.country_flag.kurdistan {background-position: -160px -77px}
.country_flag.kw {background-position: -176px -77px}
.country_flag.ky {background-position: -192px -77px}
.country_flag.kz {background-position: -208px -77px}
.country_flag.la {background-position: -224px -77px}
.country_flag.lb {background-position: -240px -77px}
.country_flag.lc {background-position: 0 -88px}
.country_flag.li {background-position: -16px -88px}
.country_flag.lk {background-position: -32px -88px}
.country_flag.lr {background-position: -48px -88px}
.country_flag.ls {background-position: -64px -88px}
.country_flag.lt {background-position: -80px -88px}
.country_flag.lu {background-position: -96px -88px}
.country_flag.lv {background-position: -112px -88px}
.country_flag.ly {background-position: -128px -88px}
.country_flag.ma {background-position: -144px -88px}
.country_flag.mc {background-position: -160px -88px}
.country_flag.md {background-position: -176px -88px}
.country_flag.me {background-position: -192px -88px}
.country_flag.mg {background-position: -208px -88px}
.country_flag.mh {background-position: -224px -88px}
.country_flag.mk {background-position: -240px -88px}
.country_flag.ml {background-position: 0 -99px}
.country_flag.mm {background-position: -16px -99px}
.country_flag.mn {background-position: -32px -99px}
.country_flag.mo {background-position: -48px -99px}
.country_flag.mp {background-position: -64px -99px}
.country_flag.mq {background-position: -80px -99px}
.country_flag.mr {background-position: -96px -99px}
.country_flag.ms {background-position: -112px -99px}
.country_flag.mt {background-position: -128px -99px}
.country_flag.mu {background-position: -144px -99px}
.country_flag.mv {background-position: -160px -99px}
.country_flag.mw {background-position: -176px -99px}
.country_flag.mx {background-position: -192px -99px}
.country_flag.my {background-position: -208px -99px}
.country_flag.mz {background-position: -224px -99px}
.country_flag.na {background-position: -240px -99px}
.country_flag.nc {background-position: 0 -110px}
.country_flag.ne {background-position: -16px -110px}
.country_flag.nf {background-position: -32px -110px}
.country_flag.ng {background-position: -48px -110px}
.country_flag.ni {background-position: -64px -110px}
.country_flag.nl {background-position: -80px -110px}
.country_flag.no {background-position: -96px -110px}
.country_flag.np {background-position: -112px -110px}
.country_flag.nr {background-position: -128px -110px}
.country_flag.nu {background-position: -144px -110px}
.country_flag.nz {background-position: -160px -110px}
.country_flag.om {background-position: -176px -110px}
.country_flag.pa {background-position: -192px -110px}
.country_flag.pe {background-position: -208px -110px}
.country_flag.pf {background-position: -224px -110px}
.country_flag.pg {background-position: -240px -110px}
.country_flag.ph {background-position: 0 -121px}
.country_flag.pk {background-position: -16px -121px}
.country_flag.pl {background-position: -32px -121px}
.country_flag.pm {background-position: -48px -121px}
.country_flag.pn {background-position: -64px -121px}
.country_flag.pr {background-position: -80px -121px}
.country_flag.ps {background-position: -96px -121px}
.country_flag.pt {background-position: -112px -121px}
.country_flag.pw {background-position: -128px -121px}
.country_flag.py {background-position: -144px -121px}
.country_flag.qa {background-position: -160px -121px}
.country_flag.re {background-position: -176px -121px}
.country_flag.ro {background-position: -192px -121px}
.country_flag.rs {background-position: -208px -121px}
.country_flag.ru {background-position: -224px -121px}
.country_flag.rw {background-position: -240px -121px}
.country_flag.sa {background-position: 0 -132px}
.country_flag.sb {background-position: -16px -132px}
.country_flag.sc {background-position: -32px -132px}
.country_flag.scotland {background-position: -48px -132px}
.country_flag.sd {background-position: -64px -132px}
.country_flag.se {background-position: -80px -132px}
.country_flag.sg {background-position: -96px -132px}
.country_flag.sh {background-position: -112px -132px}
.country_flag.si {background-position: -128px -132px}
.country_flag.sk {background-position: -144px -132px}
.country_flag.sl {background-position: -160px -132px}
.country_flag.sm {background-position: -176px -132px}
.country_flag.sn {background-position: -192px -132px}
.country_flag.so {background-position: -208px -132px}
.country_flag.somaliland {background-position: -224px -132px}
.country_flag.sr {background-position: -240px -132px}
.country_flag.ss {background-position: 0 -143px}
.country_flag.st {background-position: -16px -143px}
.country_flag.sv {background-position: -32px -143px}
.country_flag.sx {background-position: -48px -143px}
.country_flag.sy {background-position: -64px -143px}
.country_flag.sz {background-position: -80px -143px}
.country_flag.tc {background-position: -96px -143px}
.country_flag.td {background-position: -112px -143px}
.country_flag.tf {background-position: -128px -143px}
.country_flag.tg {background-position: -144px -143px}
.country_flag.th {background-position: -160px -143px}
.country_flag.tj {background-position: -176px -143px}
.country_flag.tk {background-position: -192px -143px}
.country_flag.tl {background-position: -208px -143px}
.country_flag.tm {background-position: -224px -143px}
.country_flag.tn {background-position: -240px -143px}
.country_flag.to {background-position: 0 -154px}
.country_flag.tp {background-position: 0 -176px}
.country_flag.tr {background-position: -16px -154px}
.country_flag.tt {background-position: -32px -154px}
.country_flag.tv {background-position: -48px -154px}
.country_flag.tw {background-position: -64px -154px}
.country_flag.ty {background-position: -32px -176px}
.country_flag.tz {background-position: -80px -154px}
.country_flag.ua {background-position: -96px -154px}
.country_flag.ug {background-position: -112px -154px}
.country_flag.um {background-position: -128px -154px}
.country_flag.us {background-position: -144px -154px}
.country_flag.uy {background-position: -160px -154px}
.country_flag.uz {background-position: -176px -154px}
.country_flag.va {background-position: -192px -154px}
.country_flag.vc {background-position: -208px -154px}
.country_flag.ve {background-position: -224px -154px}
.country_flag.vg {background-position: -240px -154px}
.country_flag.vi {background-position: 0 -165px}
.country_flag.vn {background-position: -16px -165px}
.country_flag.vu {background-position: -32px -165px}
.country_flag.wales {background-position: -48px -165px}
.country_flag.wf {background-position: -64px -165px}
.country_flag.ws {background-position: -80px -165px}
.country_flag.xk {background-position: -192px -165px}
.country_flag.ye {background-position: -96px -165px}
.country_flag.yt {background-position: -112px -165px}
.country_flag.yu {background-position: -64px -176px}
.country_flag.za {background-position: -128px -165px}
.country_flag.zanzibar {background-position: -144px -165px}
.country_flag.zm {background-position: -160px -165px}
.country_flag.zw {background-position: -176px -165px}
.country_flag.zr {background-position: -48px -176px}