/*editMessageTemplate.css*/

.edit-msg-temp-link{
	text-decoration: underline;	
	display: inline-block;
	font-size: 14px;
	color: #202020;
	cursor: pointer;
}

#edit-message-template-modal, #edit-selected-template-modal{
	padding: 20px;
	color: #797979;
	max-width: 40em;
}

#edit-message-template-modal .e-title{
	font-size: 21px;
	color: #202020;
	margin-bottom: 20px;
}

#edit-message-template-modal .edit.btn:hover,
#edit-message-template-modal .edit.btn:active,
#edit-message-template-modal .edit.btn:focus{
	color: #ffffff;
	background-color: #2e7bba;
}

#edit-message-template-modal .delete.btn:hover,
#edit-message-template-modal .delete.btn:active,
#edit-message-template-modal .delete.btn:focus{
	color: #ffffff;
	background-color: #ee4b15;
}


#edit-message-template-modal ul.template-items{
	max-height: 300px;
	overflow-y: auto;
	overflow-x: hidden;
	margin: 10px 0;
}

#edit-message-template-modal ul.template-items::-webkit-scrollbar{
	width: 5px;
}
#edit-message-template-modal ul.template-items::-webkit-scrollbar::-webkit-scrollbar-button{
	background-color: #eee;
	height: 0;
}
#edit-message-template-modal ul.template-items::-webkit-scrollbar-track{
	background-color: #eee;
}
#edit-message-template-modal ul.template-items::-webkit-scrollbar-thumb{
	background-color: #bebebe;
}

#sureness-modal{
	color: #797979;
}

#edit-message-template-modal .btn, #edit-selected-template-modal .btn, #sureness-modal .btn {
	padding: 15px 21px;
	margin: 5px 5px 0 0;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	font-size: 14px;
}

#edit-message-template-modal .btn.edit, #edit-selected-template-modal .btn.save{
    background-color: #3F8CCB;
}

/*#edit-message-template-modal .btn.edit:hover, #edit-selected-template-modal .btn.save:hover,
#sureness-modal .btn.yes:hover{
    color: #3F8CCB;
    background-color: #eee;
}*/

#edit-message-template-modal .btn.edit.notallowed{
	cursor: not-allowed;
}

#edit-message-template-modal .btn.delete:hover, #sureness-modal .btn.no:hover{
    color: #FF5C26;
    background-color: #eee;
}

#edit-message-template-modal .edit-content{
	padding: 0 40px 30px;
}

#edit-message-template-modal .alertMsg{
	color: #FF5C26;
	font-weight: 600;
	margin: 10px 0 0;
}

#edit-message-template-modal .alertMsg.fail{
	color: #797979;
}

#edit-selected-template-modal .btn{
	margin: 0 0 0 5px;
}

#edit-selected-template-modal .btn.delete{
	background-color: #fff;
    color: #FF5C26;
    text-decoration: underline;
}

#edit-selected-template-modal .btn.delete:hover{
    text-decoration: initial;
}

#edit-selected-template-modal .back{
	color: #797979;
}

#edit-selected-template-modal{
	padding: 20px 30px;
}

#edit-selected-template-modal .temp-title{
	font-weight: 600;
	cursor: pointer;
}

#edit-selected-template-modal .temp-title > div{
	display: inline-block;
	margin: 0 5px 0 0;
}

#edit-selected-template-modal .editor-container{
	padding: 10px 0;
}

.title-edit-form div.confirm{
	background-color: #3F8CCB;
	color: #fff;
	cursor: pointer;
	padding: 7.8px 0;
	border-radius: 0 1px 1px 0;
	font-size: 14px;
}

#sureness-modal .clearfix{
	max-width: 115px;
	margin: 15px auto 0;
}

#sureness-modal .btn{
	margin: 0;
}

#sureness-modal .btn.yes{
	margin: 0 5px 0 0;
	background-color: #3F8CCB;
}

/*small only*/
@media only screen and (max-width: 40em) {
	#edit-message-template-modal, #edit-selected-template-modal, #sureness-modal{
		width: 100%;
	}

	#sureness-modal{
		min-height: auto;
	}
}

/*medium up*/
@media only screen and (min-width: 40.063em) {
	#sureness-modal{
		max-width: 20em;
	}
}

