#eventcontent.row{
max-width: 74.5em !important;
}
.event-container{
background: #202020;
}
.banner_sec img{width:100%;}
.top_sec{margin-top:10px;}
.cards{
padding: 0 30px;
}
.event-card{
padding:20px;
}
.event-content {
    box-shadow: 0px 5px 7px #0003;
    background: #fff;
    height: 100%;
    z-index: 9999;
    visibility: visible;
    min-height: 530px;
}
.location_para{
font-size: 20px;
color: #000;
font-weight: bold;
}
.autocomplete {
    background: #fff;
    box-shadow: 0 0 6px rgba(0,0,0,0.4);
    position: absolute;
    top: 34px;
    padding: 5px;
    width: 100%;
    z-index: 3;
    overflow: auto;
    min-height: 105px;
    max-height: 105px;
    height: 100%;
}
.autocomplete li{
cursor: pointer;
}
.autocomplete li:hover {
    background: gray;
    color: #fff;
}
.location_para a, .location_para a:hover, .location_para a:active, .location_para a:focus {
color: #000;
text-decoration: underline;
}
.filter_options{
float: right;
margin-left: 50px;
margin-bottom: 10px;
color: #fff;
cursor: default;
position: relative;
display: block;
padding: 10px 15px;
font-size: 20px;
}
.inputLocation{
width: 40%;
margin: 0 auto;
position: relative;
}
/*.event-content:hover{
    overflow-y: auto;
}*/
.header_sec h1 {
    text-align: center;
    color: #fff;
}
.nav{
display: table;
}
.nav li{
float: left;
}
.nav-tabs {
    border:none;
    margin-left: 50px;
    margin-bottom: 10px;
    float: left;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    border:none;
}
.taxes_sec h1 {

    font-size: 19px;
    color: #000;
    text-align: center;
    min-height: 66px;
    padding: 0px;

}
.para_sec, .taxes_sec{
margin: 10px;
}
.para_sec p {
    text-align: left;
    font-size: 14px;
    color: #575656;
    margin-bottom: 0;
    min-height: 90px;
}
.navigation-arrow-down11 {
    position: absolute;
    right: 15px;
    top: 28px;
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #FFF;
    font-size: 3px;
    margin-left: 2px;
}
.okl input {
    float: left;
    width: 68%;
    margin: 0px;
    height: 40px;
    margin-right: 6px;
}

.okl span {
    display: inline-block;
    width: 22%;
    background-color: #F54C14;
    color: #fff;
    line-height: 39px;
    float: left;
    border-radius: 7px;
    text-align: center;
    padding: 0px;
    cursor: pointer;
}

.okl {
    width: 100%;
    float: left;
    padding: 30px 0px;
}
.autocomplete.citylist {
    width: 68%;
    top: 70px;
}
.spanner_sec {
/*
    background: #f0f0f0;
*/
    padding: 20px;
    font-size: 0.8em;
}
.spanner_sec span {
    margin-left: 4px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    font-size: 20px;
    color: #fff;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover {
    color: #fff;
    cursor: default;
    background-color: #202020;
    border-bottom: 3px solid #26b14a !important;
}
.upper_sec{background:#202020;padding:10px;font-size:25px;}
.footer_sec {
    background: #202020;
    height: 50px;
}
.spanner_sec img{
    height: 25px;
    width: auto;
    margin-right: 12px;
    margin-bottom: 6px;
}
.tab-content{
background: #f3f3f3;
padding: 20px 0;
display: table;
width: 100%;
}
[class*="column"] + [class*="column"]:last-child {
    float: left !important;
}
.pic_sec{
text-align: center;
}
.pic_sec img {
   height: 170px;
width: 100%;
}
.register_btn{
background: #FF5C26;
padding: 10px;
border-radius: 10px;
color: #fff;
cursor: pointer;
width: 90%;
margin: 0 auto;
display: block;
}
a.register_btn:hover, a.register_btn:active, a.register_btn:focus{
color: #fff;
background: #F54C14
}
a.filter_options:hover, a.filter_options:active, a.filter_options:focus{
color: #fff;
}
.btn_div{
width: 100%;
text-align: center;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
.dropdown {
    position: relative;
    display: inline-block;
    float:right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 154px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

.filter-country
{
background-color: #31c56c;
    width: 100%;
    max-width: 150px;
    margin: 5px 14px;
    text-align: center;
    color: #000;
    padding: 8px 0px;
}

 #myDropdown.dropdown-content a {
    padding: 8px;
}


.clearfilter {
    float: left;
    margin-top: 14px;
    margin-left: 70px;
}



.resetingFil {
    background-color: #fff;
    font-size: 12px;
    border-radius: 17px;
    padding: 5px 13px;
    color: #0085b2;
    display: none;
}
.fill-country{margin-right: 18px;}

.resetingFil.showclearfilter{
display:block;
}


@media only screen and (max-width: 641px){
.header_sec h1{
font-size: 22px !important;
}
.nav-tabs {
    margin-left: 5px;
}
.nav > li > a {
    font-size: 15px;
}
.cards {
    padding: 0 10px;
}
.event-card {
    padding: 10px;
}
.event-content {
    height: 480px;
}
.pic_sec img {
   height: 160px;
}
.spanner_sec span {
    font-size: 14px;
}
}
@media only screen and (min-width: 642px) and (max-width: 1025px){
.header_sec h1{
font-size: 30px !important;
}
.cards {
    padding: 0 10px;
}
.event-card {
    padding: 10px;
}
.nav-tabs {
    margin-left: 10px;
}
}
@media only screen and (max-width: 1026px){
}


/**** 16 aug ***/
.scrollbox {
    overflow: hidden;
    visibility: hidden;
}

.scrollbox:hover {
    visibility: visible;
}


#myDropdown {
    overflow: auto;
    max-height: 200px;
    min-height: 200px;
    height: 100%;
    z-index: 999;
}
#myDropdown.dropdown-content {
    min-width: 250px;
    right: 0px;
}
.dropbtn.dropcountry {
    background-color: #222;
}
.dropbtn.dropcountry {
    background-color: #222;
    margin-bottom: 0px;
    font-size: 20px;
}


@media only screen and (max-width: 767px)
{

#myDropdown.dropdown-content {
    min-width: 100%;
    right: 0px;
}
.top_sec .dropdown {
    width: 100%;
    margin-top: 10px;
}
.clearfilter {
    margin-top: 0px;
    margin-left: 17px;
}
.navigation-arrow-down11 {
    top: 26px;
}
.top_sec .nav.nav-tabs li {
    width: 100%;
}
.dropbtn.dropcountry {
    font-size: 14px;
    margin-left: 3px;
   margin-bottom: 15px;
}
#myDropdown a img {
    margin-right: 8px;
}
.inputLocation {
    width: 95%;
    }
    .autocomplete.citylist {
    width: 75%;
}
.okl input
{width: 75%;
}
span.navigation-arrow-down1 {
    right: 0px;
    top: 25px;
}
}

