body, html {
	font-family: 'Open Sans', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
	height: 100%;
	width: 100%
}

h1, h2, h3, h4, h5, h6, p {
	color: #1f1f1f;
	font-weight: normal
}

ul, li {
	list-style: none;
	padding: 0;
	margin: 0
}

/*
.top-bar {
	background: #f5f5f5
}
*/

#footerpages_id_help .topnav.new-phaseTwo-topnav .first {
	background-color: #f5f5f5;
}

.topnav .second {
	background-color: rgba(0, 0, 0, 0.5);
}

.topnav .top-bar {
	background-color: #145C28
}

.topnav li {
	margin-left: 0.275rem
}

.topnav input {
	height: 30px;
	margin: 16px 0 0 10px;
	padding: 0 5px;
	font-size: 14px
}

.logo {
	font-size: 2.125rem;
	padding: 0;
	margin: 7px 0 0
}

.logo a {
	font-size: 35px;
	color: #000
}

.topnav {
	position: relative;
	z-index: 500
}

.topbanner{
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	/*margin-top: -38px;*/
	margin-top: -15px;
	height: 153px;
	z-index: 0;
}

.terms-of-service .topbanner {
	background-image: url(/images/topbanners/aboutbanner.png);
}

.privacy-policy .topbanner {
	background-image: url(/images/topbanners/aboutbanner.png);
}

.team .topbanner {
	background-image: url(/images/topbanners/teambanner.jpg);
}

.about .topbanner {
	background-image: url(/images/topbanners/aboutbanner.png);
}

.contact .topbanner {
	background-image: url(/images/topbanners/contactbanner.png);
}

.college-prep .topbanner {
	background-image: url('/images/topbanners/officebanner.png');
}

.college-submission .topbanner {
    background-image: url('/images/topbanners/college-submissionbanner.png');
    background-size: 100% 100%;
    z-index: 0;
}

.scholarship-submission .topbanner {
	background-image: url(/images/topbanners/scholarship-submissionbanner.png);
}

.careers-internships .topbanner {
	background-image: url(/images/topbanners/careers-internshipsbanner.png);
}

.help .topbanner {
	background-image: url(/images/topbanners/helpbanner.jpg);
}

.faqs .topbanner{
	background-image: url(/images/topbanners/helpbanner.jpg);
}

.help, .faqs{
	background-color: #f5f5f5;
}

.faq-answers{
	background-color: #fff;
	border-radius: 11px;
	padding: 1.5em 1.5em 0 1.5em;
	margin-bottom: 1em;
}

.privacy-faqs-intro {
    font-size: 12px;
    margin-bottom: 1em;
}

.bold-letter-a {
    font-size: 14px;
    font-family: arial;
    font-weight: bold;
}

.faq-a {
    text-align: left;
}

.privacy-faqs-outro {
    margin-top: 10px;
    font-style: italic;
    font-size: 12px;
    margin-bottom: 1em;
}

.faq-questions, .faq-downloads {
	padding:15px;
	background-color:#1F1F1F;
	-moz-border-radius:11px ;
	-webkit-border-radius:11px ;
	border-radius:11px;
	font-size:14px;
	font-weight:normal;
	color:#ffffff;
	min-height:150px;
	overflow:auto;
}

.faq-downloads{
	margin-top: 10px;
}

.navmenu {
	background-color: #202020
}

.navmenu ul {
	margin: 0 0 -2px;
	padding: 0
}

.navmenu li {
	margin: 0;
	padding: 9px 13px;
	margin-bottom: -1px;
	display: inline-block;
}

.navmenu a {
	font-size: 14px;
	color: #fff
}

@media only screen and (min-width: 64.063em) {
	.navmenu a {
		font-size: 16px;
	}
}

.navmenu li.selected {
	background-color: #f5f5f5;
}

.navmenu li.selected a {
	color: #000
}

.header1 {
	background-image: url(/images/headerBlackDots.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	display: inline-block;
	font-size: 26px;
	font-weight: bold;
	margin: 35px 0 0;
	padding: 0 50px 20px;
	color: #1f1f1f
}

.membership {
	margin: 20px 0px;
    font-size: 14px;
    font-weight: 600;
    color: #797979;
}

.contactUsButton {
	margin-top: 35px
}

.contactUsButton a {
	color: #fff;
	display: block
}

.about p {
	font-family: inherit;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.6;
	margin: 5px 10px 20px 10px;
	text-align: left;
}

.about h2 {
	font-weight: bold;
	font-size: 15px;
	margin-bottom: 20px;
	padding: 0 10px;
}

.team, .about, .contact, .college-submission, .scholarship-submission, .careers-internships, .college-prep {
	background-color: #f5f5f5;
}

.college-submission .row {
    background: inherit;
}

.team .aboutwrapper {
	background-image: url(/images/headerGreyDots.png);
	background-position: center bottom;
	background-repeat: repeat-x;
	margin-bottom: 30px;
	padding-bottom: 40px
}

.team .workerlist :last-child {
	background-image: none
}


.workerlist .title {
	font-size: 23px;
	color: #33B658;
	display: inline-block;
	padding: 0 10px
}

.team p {
	margin: 5px 0;
	margin: 5px 10px 20px 10px;
	font-size: 15px;
	text-align: left;
}

.team .imagebox {
	margin-bottom: 10px
}

.contact .sideheader {
	font-size: 16px;
	font-weight: bold
}

.contact .email {
	font-size: 16px;
	font-weight: normal;
	margin-bottom: 30px;
	padding: 0
}

#footer {
	background-color: #202020;
	min-height: 250px;
	color: #fff;
	font-weight: normal
}

.footerbox {
	/*background-image: url(/images/headerGreyDots.png);*/
	background-position: center bottom;
	background-repeat: repeat-x;
	margin-top: 30px;
	min-height: 150px;
	padding-bottom: 0;
	font-size: 15px;
	line-height: 21px;
}



.footerlogo {
	padding-left: 25px
}

#footer h2 {
	color: #26B24B;
	font-size: 26px;
	font-weight: normal
}

#footer ul {
	margin: 0;
	padding-left: 0
}

#footer li {
	list-style: none outside none
}

#footer a {
	font-size: 15px;
	color: #fff
}

.footerbricks {
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/frontpage/brickRow.png);
	height: 40px;
	margin-top: 40px;
}

/*.footerbox {
	background: url(/images/footerdeviders.png) no-repeat scroll right top rgba(0, 0, 0, 0);
}*/

.footerbox a {
	text-align: left
}

.footerbox li {

}

#footer .footersocialbar {
	margin-bottom: 5px;
}

#footer .footerbox h2 {
	margin: 0;
	padding: 0;
}

.top-bar .toggle-topbar.menu-icon a {
	color: #202020;
}


.top-bar.expanded .title-area {
	background: none repeat scroll 0 0 #F5F5F5;
}

.top-bar-section ul li.active > a {
	background: none repeat scroll 0 0 #26B24B;
	color: #FFF;
}

.collegeSubRightbar {
	text-align: left
}

.collegeSubRightbar .title {
	font-size: 16px;
	font-weight: bold;
	color: #6F6F6F;
	margin-top: 4px;
    margin-bottom: 4px;
}

.collegeSubRightbar a {
	color: #FF7F00;
	text-decoration: underline
}

.collegeSubRightbar ul {
	margin: 0 auto;
	padding: 30px 0;
}

.collegeSubRightbar li {
	font-size: 16px;
	color: #6F6F6F;
	list-style-type:none;
}



.collegeSubRightbar li:before {content: " - ";}




.collegeSubRightbar .noticeinfo {
	font-size: 13px;
	color: #6F6F6F;
}

.benefit-info {
    color: #6a6a6a;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.6;
}

.college-comments {
    width: 70px;
    height: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 20px;
}

.college-comments[data-source="univ-of-chicago"] {
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/University_of_Chicago.gif');
}

.college-comments[data-source="ashland-univ"] {
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/Ashland_University.png');
}

.college-comments[data-source="indiana-state-univ"] {
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/Indiana_State_University.jpg');
}

.college-comments[data-source="humboldt-state-university"] {
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/Humboldt_State_University.png');
}

.college-comments[data-source="university-of-illinois-at-chicago"] {
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/logos/University_of_Illinois_at_Chicago.png');
}

.comments-text {
    font-size: 16px;
    color: #797979;
    font-weight: 600;
}

.rep-name, .college-name {
    font-size: 14px;
    color: #6a6a6a;
}

.rep-name span {
	color: #666;
    font-weight: bold;
    font-style: italic;
}

li.college-testimonials-item {
    margin: 16px 0px;
}

li.college-testimonials-item:nth-child(even) {
	background: transparent;
}

li.college-testimonials-item:nth-child(odd) {
    background: linear-gradient(90deg, transparent, #ececec 50%, transparent);
}

li.college-testimonials-item div.row {
	padding-left: 4.8%;
}

.college-testimonials-title {
    padding-left: 4.8%;
    font-size: 18px;
    font-weight: 600;
    color: #797979;
}

button#autofill-button {
    width: 40%;
    cursor: pointer;
    color: #FFF;
    padding: 0;
    border: 1px #2D6FA8 solid;
    border-radius: 3px;
    font-size: 13px;
    position: relative;
    overflow: hidden;
    height: 40px;
    margin-left: 8.6%;
}

#autofill-button .logo {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 34px;
    color: transparent;
    background: url('https://www.linkedin.com/scds/common/u/img/sprite/sprite_connect_v13.png') no-repeat scroll 0 -347px transparent;
}

.button {
	background-color: #FF5C26;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	width: 100%;
}

.button:hover, .button:focus {
	background-color: #FFA74F
}

.thankyoutext{
	font-size: 16px;
	color: #6F6F6F;
	padding: 22px 1px;
}
.postingBox {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid;
	border-radius: 18px;
	padding: 20px 0;
}

.careers-internships h2 {
	font-size: 27px;
	font-weight: bold;
	margin: 0;
	padding: 20px 0;
	text-transform:capitalize;
}

.careers-internships h3 {
	font-size: 22px;
	font-weight: bold;
	margin: 0;
	padding: 10px 0 1px;
	text-transform:capitalize;
}

.careers-internships .titleCity{
	margin-bottom: 10px;
}

.careers-internships .careerFooter a{
	color: #000000;
}
.careers-internships .jobtitle{
	font-size: 17px;
	font-weight: normal;
}

.careers-internships .jobcity{
	font-size: 12px;
	font-weight: normal;
}
.careers-internships .jobstate{
	font-size: 12px;
	font-weight: normal;
}
.careers-internships .jobslistings{
	margin-bottom: 140px;
}

.careers-internships .careerFooter{
	color: #1F1F1F;
	display: inline-block;
	font-size: 27px;
	font-weight: normal;
	margin: 35px 0;
	padding: 0 50px 20px;
	text-decoration: underline;
}

.leftjobcol h2 {
	color: #717171;
	font-size: 17px;
	font-weight: bold;
	margin: 0;
	padding: 0;
}

.leftjobcol ul {
	margin: 0;
	padding: 0 0 27px;
}

.leftjobcol p {
	color: #717171;
	margin: 0;
	padding: 10px 0;
	font-size: 16px;
	text-align: left;
}



.leftjobcol li {
	color: #717171;
	list-style: disc outside url("/images/headerBlackDots.png");
	padding: 18px 0 0 2px;
}


#help-heading{
	font-size: 27px;
	font-weight: bold;
	color: #1f1f1f;
	margin: 1em 0;
}

.help-faq{
	color:#1F1F1F;
	font-size:27px;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.help-faq span{
	border-bottom:dotted 2px #1F1F1F;
}

#majorOptions label, .savedDropDown label{
	color: #000;
	font-size: 16px;
}


/* styling for the hidden expandable div in
 * the Footer Pages' "Getting Started" Cards
 */

.scholar-sub-container label{
	color: #000;
	font-size: 18px;
}

.bck-button{
	font-size: 13px;
	font-weight: bold;
	background-color: #26b24b;
	padding-top: 0.8em;
	padding-bottom: 0.8em;
	transition: background-color 300ms;
}

.bck-button:hover{
	background-color: #a0db39;
}

#faq-grid-heading{
	font-size: 31px;
	color: #26b24b;
	margin-bottom: 0.8em;
}

.faq-grid{
	background-color: #fff;
	-moz-border-radius:17px ;
	-webkit-border-radius:17px ;
	border-radius:17px ;
	padding: 1em 2em;
}

.faq-q-link{
	margin-bottom: 1em;
    font-size: 12px;
}

.faq-q-link:hover {
    text-decoration: underline;
}

.faq-q-link a{
	color: #fff;
}

.faq-q{
	color: #26b24b;
	font-weight: bold;
	line-height: 1.5em;
}

#help-faq-greeting{
	font-size: 31px;
	color: #26b24b;
	margin-bottom: 1em;
}

#videobox .videoHide{
	display: none;
}

.formarea select {
	color: #6f6f6f;
}

.prepheader{
	margin-bottom: 25px;
	font-size: 22px;
	color: #1F1F1F;
}

.prepImage{
	margin-bottom: 20px;
}
.joingAsCollege{
	font-size: 16px;
	color: #1F1F1F;
	font-weight: normal;
}

.joingAsCollege a{
	font-size: 16px;
	color: #FF5C26;
	font-weight: normal;
}
.footerCollegePrepRightSide .button{
	font-size: 40px;
	font-weight: normal;
}


/* Medium UP screens */
@media only screen and (min-width: 40.063em) {
	.team .socialButtons{
		padding-left: 20px;
	}

	.collegeSubRightbar .title{
		text-align: left !important;
	}

	.collegeSubRightbar ul {
		margin: 0;
	}

	.collegeSubRightbar p{

	}

	.formarea {
		background-image: url("/images/headerGreyDots.png");
		background-position: right center;
		background-repeat: repeat-y;
	}

	.leftjobcol {
		background-image: url("/images/headerGreyDots.png");
		background-position: right center;
		background-repeat: repeat-y;
	}
}




/* css for help/helpful_videos page */
.video-title{
	font-weight: bold;
	padding-top: 1em;
}

.video-head{
	margin: 1em 0;
	color: #1f1f1f;
	font-weight: bold;
	font-size: 27px;
}

.row-spacing{
	padding-bottom: 2em;
}

.help-vid-background{
	background-color: white;
	padding: 1em;
}

@media only screen and (max-width: 40em) {

	.row-spacing{
		padding-bottom: 0;
	}

	.help-vid-box{
		padding-bottom: 2em;
	}

	.help-vid-section, .helpvid-mobile-backg{
		background-color: #f5f5f5;
	}

	.college-submission .topbanner {
	    background-image: url('/images/topbanners/college-submissionbanner.png');
	    background-size: 200% 100%;
	    z-index: 0;
	}


} /* max-width 640px, mobile-only styles, use when QAing mobile issues */

.helpvid_pad{
	padding: 45px 24px 24px;
}

.helpful_vid_mod_top{
	padding-top: 15px;
}

.button.scholarshipSub_modal_cancel{
	color: #797979;
	background-color: transparent;
}
.button.scholarshipSub_modal_cancel:hover{
	border: thin dashed #797979;
	background-color: transparent;
	color: #797979;
}


/*********** footerpages topnav search bar styles - same as new front page styles - start ***************/
#footerpages_id_help .ui-autocomplete{
	padding: 0;
}

#footerpages_id_help .ui-menu .ui-menu-item{
	padding: 3px;
}

#footerpages_id_help .ui-autocomplete-category:not(:first-child){
	padding-top: 20px;
}

#footerpages_id_help .list_item_container{
    padding: 5px 0;
}

#footerpages_id_help .list_item_container .image{
	float: left;
    height: 50px;
    margin-right: 10px;
    padding: 5px;
    width: 50px;
}

#footerpages_id_help .list_item_container .title{
	color: #797979;
    font-size: 14px;
    font-weight: 600;
}

#footerpages_id_help .list_item_container .description{
	color: #797979;
    font-size: 0.8em;
    font-style: normal;
}

#footerpages_id_help .ui-menu .ui-menu-item a{
	display: inline;
	padding: 0;
}

#footerpages_id_help .auto-bottom-div{
	background-color: #000;
}

#footerpages_id_help .auto-bottom-div a{
	color: #fff;
}

.green-button {
	background-color: #26B24B;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px;
	padding: 10px 50px;
	display: inline-block;
	color: #fff;
	font-size: 20px;
	margin: 150px auto;
}
/*********** footerpages topnav search bar styles - same as new front page styles - end ***************/
