.item-div{
	background-color:rgb(255,255,255);
	width:31.5%;
	min-width: 195px;
	min-height:275px;
	-moz-border-radius:13px ;
	-webkit-border-radius:13px ;
	border-radius:13px ;
	padding:20px;
	margin:5px;
	position: relative;
}

.gs-container{
	position: relative;
}

.gs-front, .gs-back{
	border-radius: 5px 5px 0 0;
	background-color: #fff;
	transition-duration: 0.25s;
	-o-transition-duration: 0.25s;
	-ms-transition-duration: 0.25s;
	-moz-transition-duration: 0.25s;
	-webkit-transition-duration: 0.25s;
	backface-visibility: hidden;
	-o-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	padding: 20px;
	min-height: 275px; 
	min-width: 195px;
}

.gs-front{
	transform: rotateY(0deg);
	-o-transform: rotateY(0deg);
	-ms-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
	-webkit-transform: rotateY(0deg);
}

.gs-back{
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	transform: rotateY(180deg);
	-o-transform: rotateY(180deg);
	-ms-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	-webkit-transform: rotateY(180deg);
}

.gs-back span{
	font-weight: bold;
	font-size: 20px;
	line-height: 4em;
}

.gs-back p{
	font-size: 12px;
}

.gs-back span, .gs-back p{
	color: #797979;
}

.gs-header-question{
	color:#797979;
	font-size:20px;
	font-weight:bold;
	padding:10px;
	text-align:center;
	margin-left:auto;
	margin-right:auto;
}

.gs-container .button {
	background-color: #FF5C26;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	border-radius: 7px
}

.item-div .button:hover, .button:focus {
	background-color: #FFA74F
}

.gs-close{
	cursor: pointer;
}

.gs-close-x{
	position: absolute;
	top: 8px;
	right: 10px;
	height: 20px;
	width: 16px;
	text-align: center;
}

.gs-close-x-light{
	color: #f5f5f5;
}

.gs-close-x-dark{
	color: #797979;
}

.gs-close-text{
	font-size: 12px;
	color: #797979;
	text-decoration: underline;
}

.gs-button{
	font-size: 13px;
	font-weight: bold;
	padding: 10px 12px;
	margin-top: 20px;
}

.gs-link-button{
	display: none;
}

.ul-button{
	display: none;
	font-weight: bold;
	text-decoration: underline;
}

#container-box .gs-expanded{
	background-color: #202020;
	color: #f5f5f5;
	font-weight: bold;
}

.gs-expanded .gs-header-question{
	color: #f5f5f5;
}

#help-heading{
	font-size: 27px;
	font-weight: bold;
	color: #1f1f1f;
	margin: 1em 0;
}

.gs-got-it{
	font-size: 12px;
}

.help-faq{
	color:#1F1F1F;
	font-size:27px;
	font-weight:bold;
	margin-top: 1em;
	margin-bottom: 1.5em;
}

.help-faq span{
	border-bottom:dotted 2px #1F1F1F;
}

#majorOptions label, .savedDropDown label{
	color: #000;
	font-size: 16px;
}

.gs-expandable{
	font-size: 12px;
	display: none;
	text-align: left;
	margin: 20px;
	font-weight: bold;
	color: #f5f5f5;
}

#container-box .gs-box{
	/*
	background:none repeat scroll 0 0 #FFF;
	*/
	border-radius:5px 5px 0 0;
	padding:8px;
	margin-bottom:10px
}

@media only screen and (max-width: 40em){
	.gs-box{ 
		width:100%;
	}

	#container-box .gs-box{
		margin: 0 0 1px 0;
	}
}
