/*groupMessaging.css*/

#topAlertContainer{
	position: absolute;
	left: 0;
	right: 0;
	z-index: 1;
}

.off-canvas-wrap.group-msg-container{
	position: absolute;
	top: 89px;
	bottom: 0;
	min-height: initial;
}

.group-msg-container.autoscroll{
	overflow-y: auto;
}

.off-canvas-wrap.group-msg-container.chat-now-bar-isVisible{
	top: 129px;
}

.off-canvas-wrap.group-msg-container.move-right,
.off-canvas-wrap.group-msg-container .inner-wrap{
	min-height: initial;
	height: 100%;
}

.group-msg-container .left-off-canvas-menu{
	background-color: #eee;
}

.group-msg-container .left-off-canvas-menu .rec-summary {
	padding-top: 10px;
	padding-bottom: 10px;
}

.group-msg-container .left-off-canvas-menu .rec-count {
	display: inline-block;
}

.group-msg-container .left-off-canvas-menu .rec-title {
	display: inline-block;
	margin-right: 6px;
}

.group-msg-container .left-off-canvas-menu .left-off-canvas-toggle {
	display: inline-block;
	text-decoration: underline;
	color: #FF3600;
	cursor: pointer;
}

.group-msg-container .left-off-canvas-menu .excludes-stu-messaged input[type=checkbox] {
	transform: scale(0.8);
	-webkit-transform: scale(0.8);
	margin-bottom: 20px;
}

.group-msg-container .left-off-canvas-menu .excludes-stu-messaged label.check-title {
	font-size: 11px;
	margin-right: 0px !important;
	margin-left: 0px !important;
	margin-bottom: 10px !important;
}

.move-right .exit-off-canvas{
	box-shadow: none !important;
}

.main-content-container{
	padding: 0 0 100px 0;
}

.main-content-container > .row{
	max-width: 100%;
}

.main-content-container > .row > .column:first-child{
	padding: 20px 0 0 40px;
}

/* new text-msg styles begin*/
.main-content-container .excludes-stu-messaged .has-tip, 
.main-content-container .campaign-edit .has-tip {
    border: none !important;
}

.main-content-container .free-trial {
	color: #797979;
	font-size: 18px;
	padding: 10px;
}
.main-content-container .free-trial .back-to-dash , .back-to-search-number {
	text-decoration: underline;
    font-weight: 300;
    font-size: 18px;
    line-height: 3;
    color: #9D9D9D;
}
.main-content-container .free-trial .select-notice {
	margin: 16px 0px;
    font-size: 16px;
    font-weight: 600;
}

.main-content-container .free-trial .input-area-code {
	padding-right: 24px;
	margin-top: 10px;
}
.main-content-container .free-trial .input-area-code span {
    font-size: 14px;
    font-weight: 600;
}

.main-content-container .free-trial span {
    display: block;
}

.main-content-container .free-trial .toll-free-number {
	margin-top: 20px;
}

.main-content-container .free-trial .qa {
	font-size: 15px;
	padding: 10px 12px 0 12px;
}
.main-content-container .free-trial .qa span:first-child {
	font-weight: 600;
}
.main-content-container .free-trial .qa span:last-child {
	font-size: 14px;
}
.main-content-container .free-trial .search-number a.button {
    margin-top: 10px;
    border-radius: 4px;
    width: 20%;
}

.main-content-container .phone-list-available {
	padding: 10px;
}

.main-content-container .phone-list-available a.button {
	width: 20%;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
}
.main-content-container .phone-list-available .buy-option {
	color: #EA620B;
    font-size: 12px;
}

.main-content-container .phone-list-available .show-more-phonelist {
	text-decoration: underline;
    font-size: 14px;
    margin: 10px 0px;
    display: block;
}

.main-content-container .setup-phone-number {
	padding: 10px;
}
.main-content-container .setup-phone-number span {
    display: block;
    padding: 8px;
    color: #797979;
}
.main-content-container .setup-phone-number .back-to-search-number span {
	display: block;
	margin-top: 4px;
    cursor: pointer;
}
.main-content-container .setup-phone-number a.button {
	border-radius: 4px;
}
.main-content-container .number-details, .main-content-container .plan-desc {
	color: #4d4d4d;
	display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
}

.main-content-container .phone-list-available .phone-list-view {
	max-height: 130px;
    overflow: hidden;
}

.main-content-container .countries-for-free-trial .country-name {
	display: inline-block;
	font-size: 13px;
}
.main-content-container .countries-for-free-trial ul {
	border: #888888 1px solid;
    padding: 8px 0px;
    overflow-y: scroll;
    max-height: 240px;
}
.main-content-container .countries-for-free-trial .title span {
	font-size: 13px;
    display: block;
    color: #FFF;
    background-color: #888888;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.main-content-container .countries-for-free-trial .country-item {
	padding-left: 20px;
}


/* new text-msg styles end*/


/*campaign start styles*/
.campaign-start, .campaign-start p{
	color: #797979;
}

.campaign-start .show-more {
	padding: 10px 30px;
	border-radius: 4px;
	margin-top: 20px;
}

.c-list ul{
	max-height: 210px;
	overflow-y: hidden;
}

.btn-options-container{
	padding: 5px 0 5px 25px;
}

.btn-options-container div{
	padding: 4px 10px;
    margin: 0 5px 0 0;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: #FF5C26;
    cursor: pointer;
}
.btn-options-container div:hover{
    color: #FF5C26;
    background-color: #eee;
    cursor: pointer;
}

.btn-options-container div:first-child{
    background-color: #797979;
}
.btn-options-container div:first-child:hover{
	background-color: #eee;
	color: #797979;
}

.scheduled-campaigns-container ul li,
.previous-campaign-container ul li{
	margin: 0 0 13px 0;
}

.c-list ul li label{
	font-weight: 600;
    color: #797979;
    /*width: 90%;*/
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    vertical-align: middle;
}

.time-display{
	font-size: 10px;
	line-height: 0px;
	padding: 0 0 0 25px;
	color: #797979;
}

.time-display > div.css-clock{
	border: 2px solid #FF5C26;
	height: 15px;
	width: 15px;
	border-radius: 50%;
	position: relative;
	margin-right: 3px;
}
.time-display > div.css-clock > div:first-child{
	border: thin solid #ff794d;
	width: 0;
	height: 6px;
	position: absolute;
	top: 2px;
	right: 43%;
}
.time-display > div.css-clock > div:last-child{
	border: thin solid #ff794d;
	width: 4px;
	height: 0;
	position: absolute;
	top: 50%;
	right: 2px;
}
.time-display .sch-time{
	padding: 7px 0 0;
}

input[type="radio"][name="previous_campaigns"]{
	margin: 0;
	display: inline-block;
}

.previous-campaign-container .time-display{
	padding-top: 3px;
}

.s-campaign-input{
	padding-right: 25px;
}

.s-camp-col{
	position: relative;
}

.s-camp-col .clear-s-btn{
	position: absolute;
	width: 30px;
	top: 3px;
	right: 8px;
	padding: 3px 0;
	cursor: pointer;
}

.t-tabs{
	margin: 0 0 10px 0;
}

.t-tabs > div.left{
	cursor: pointer;
}

.t-tabs > div.left.active{
	color: #FF5C26;
}

.c-list:not(.scheduled-campaigns-container){
	display: none;
}



/*create campaign styles*/
.camp-btn, .create-campaign-btn.button{
	background-color: #FF5C26;
	padding: 10px;
	color: #fff;
	border-radius: 4px;
	cursor: pointer;
}
.camp-btn:hover, .create-campaign-btn.button:hover{
	background-color: #eee !important;
	color: #FF5C26 !important;
}

.create-campaign-btn.button{
	margin: 15px 0;
}

.camp-btn.save-campaign-btn{
	background-color: #fff;
	color: #202020;
	text-decoration: underline;
}
.camp-btn.save-campaign-btn:hover{
	text-decoration: none;
	background-color: #eee;
}

.text-msg-rate-calc {
	margin-top:20px !important; 
	font-size:14px;
}

.text-msg-rate-calc select {
	width: 32%;
	margin-right: 10px;
}

.text-msg-rate-calc .text-msg-rate-title {
	text-decoration: underline; 
	margin-bottom: 10px; 
	color: rgb(10, 142, 203);
	font-size: 12px;
	font-weight: 600;
}

.text-msg-rate-calc .pricing {
	font-weight: 600;
	margin-top: auto;
}

.text-msg-rate-calc .twillo-conn select {
	padding: 0 0.2rem;
	height: 1.6rem;
}

.date-time-selection-row{
	padding-top: 10px;
}

.date-time-select-container{
	display: none;
}

.date-cal{
	max-width: 190px;
}

.edit-std-list-btn{
	border-radius: 2px;
	padding: 12px 12px;
	font-size: 14px;
	font-weight: 400;
}
.edit-std-list-btn.edit{
	background-color: #eee;
	color: #797979;
}
.edit-std-list-btn.add{
	background-color: #26B26B;
	color: #fff;
}

.std-list-font{
	font-size: 14px;
}

.remove-std-btn{
	color: #FF5C26;
	cursor: pointer;
}

.search-students-form{
	margin-top: 20px;
	position: relative;
}

.search-students-form .search-btn{
	background-color: #FF5C26;
	color: #fff;
	cursor: pointer;
	font-weight: 600;
	font-size: 23px;
}

.search-students-form .results{
	position: absolute;
	top: 37px;
	left: 0;
	right: 0;
	background: #fff;
	padding: 10px 0 10px 0;
	display: none;
	z-index: 1;
}

.results ul li{
	font-size: 14px;
	padding: 2px 0 2px 10px;
	cursor: pointer;
}
.results ul li:hover{
	background: #eee;
}

.results .s-info{
	margin: 0 10px 0;
}

li.student .r-name{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	width: 75%;
}

li.student .r-profile{
	margin: 5px 13px;
	border: 2px solid #ddd;
	border-radius: 50%;
	padding: 0 5px;
	font-size: 8px;
	color: #797979;
	background-color: #fff;
	cursor: pointer;
}

li.student{
	position: relative;
}

.r-profile-view{
	background-color: #fff;
	clear: both;
	position: absolute;
	top: 22px;
	right: 0;
	left: 0;
	border-radius: 2px;
	box-shadow: 1px 1px 3px 1px rgba(0,0,0,0.5);
	z-index: 4;
	display: none;
	font-size: 12px;
	padding: 5px;
}

.r-profile-view .image{
	float: left;
    height: 50px;
    padding: 5px;
    width: 30%;
}

.r-profile-view .info{
	width: 70%;
}

.r-profile-view .objec{
	padding: 10px 0;
}

.r-profile-view table{
	border: none;
}

.r-profile-view table td{
	font-size: 12px;
}

.r-profile-view table td:first-child{
	background: #ddd;
	font-weight: 600;
}

.r-profile-view table td:last-child{
	background: #eee;
}

.content-options-row{
	padding: 10px 0 0 0;
}

.content-options-row select, .content-options-row input[type="checkbox"] + label{
	margin: 0;
}

.content-options-row select{
	padding: 0 0.2rem;
	height: 1.6rem;
	width: 160px;
}

.content-options-row .left{
	margin-right: 10px;
}

.content-options-row .right{
	font-size: 12px;
	color: rgb(10, 142, 203);
	font-weight: 600;
}

#attachments{
	display: none;
}

label.attachments{
	cursor: pointer;
}

#insert_pic_attachments{
	display: none;
}

label.insert_pic_attachments{
	cursor: pointer;
}

.back-btn{
	cursor: pointer;
	padding: 10px 0 20px;
	color: #797979;
}

.add-from-prev-camps{
	height: auto;
	overflow-y: auto;
}

.add-from-prev-camps li {
    margin-bottom: 10px !important;
}

.add-from-prev-camps ul label{
	width: 90%;
/*	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;*/
	font-size: 12px;
	line-height: 20px;
	background-color: #3F8CCB;
	color: #FFF;
	padding-left: 12px;
	margin-bottom: 6px;
	height: 30px;
}

.add-from-prev-camps ul label span {
	display: inline-block;
	margin-bottom: -4px;
}

.add-from-prev-camps ul label span:first-child {
	overflow: hidden;
	width: 90%;
	white-space: nowrap;
	text-overflow: ellipsis;
	padding-top: 4px;
}

.camp-textarea i.mce-ico.mce-i-resize{
	visibility: hidden;
}

.hide-textarea{
	visibility: hidden;
	position: absolute;
	top: 0;
}


/*campaign preview styling */
.campaign-choose {
	display: none;
}

.campaign-choose .step1-title {
	font-size: 18px;
	color: #4d4d4d;
	padding-bottom: 16px;
}

.campaign-choose .step1-forward .button {
	padding: 10px 46px;
}

.campaign-edit {
	display: none;
}

.analytics-container .analytics-title{
	color: #797979;
	font-weight: 500;
	font-size: 18px;
	margin-top: 20px !important;
	margin-bottom: 10px !important;
}

.analytics-container .selected-camp-name, .analytics-container .selected-camp-recipients {
	color: rgb(120, 120, 120);
	line-height: 36px;
	font-weight: 600;
}
.analytics-container .selected-camp-scheduled-date {
    font-size: 14px;
    padding-bottom: 12px;
    color: rgb(121, 121, 121);
    font-weight: 400;
}

.analytics-container table {
	border: solid 1px #FFF !important;
	width: 96%;
}

.analytics-container table th, .analytics-container table tbody td {
	color: #797979;
}

.analytics-container table tbody td:not(:first-child)  {
 	text-align: center !important;
    color: #23E9E2 !important;
    font-size: 16px !important;
    font-weight: 600 !important;
}

.excludes-stu-messaged {
	padding-left: 24px;
}

.campaign-edit .step2-count {
	font-size: 13px;
	color: rgb(42, 41, 41);
	margin: 10px 0px !important;
}

.campaign-edit .step2-title {
	font-size: 18px;
	color: #4d4d4d;
}

#upload-csv {
	display:none;
}
label[for="upload-csv"] {
	border-radius: 5px;
}

.upload-csv-btn .has-tip.selected-students-icon {
    margin-left: 5px;
    color: #FFF !important;
    border-color: #FFF !important;
    font-size: 11px;
    vertical-align: top;
}

.selected-students-icon, 
.campaign-edit .selected-students-icon:hover, 
.excludes-stu-messaged .selected-students-icon:hover{
    color: #797979 !important;
    font-size: 10px;
    border-radius: 100px;
    border: 1px solid #797979 !important;
    display: inline-block;
    vertical-align: text-top;
    padding: 0 3px;
}

.selected-students-icon:hover {
    color: #FFF !important;
    font-size: 10px;
    border-radius: 100px;
    border: 1px solid #FFF !important;
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
}

input[type="checkbox"] + label {
	margin : 2px !important;
}

.iphone{
    background-color: #202020;
    padding: 60px 10px 2px;
    width: 210px;
    margin: 20px auto 0;
    border-radius: 15px;
}
.iphone .screen{
	background-color: #fff;
	height: 250px;
	overflow-y: auto;
	word-break:break-all;
	padding: 7px;
}
.iphone .home{
	background-color: #797979;
	border-radius: 100px;
	width: 40px;
	height: 40px;
	margin: 10px auto;
}

.macbook-pro{
    display: none;
}
.macbook-pro .macbook{
	background-color: #202020;
    padding: 2px 8px 12px;
    margin: 20px auto 0;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
	width: 80%;
	max-width: 400px;
}
.macbook .camera{
	background-color: #ddd;
	border-radius: 100px;
	width: 10px;
	height: 10px;
	margin: 2px auto 3px;
}
.macbook .monitor{
	background-color: #fff;
	height: 175px;
	overflow-y: auto;
	padding: 7px;
	word-break:break-all;
}
.macbook-pro .keyboard{
	background-color: #eee;
	height: 20px;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
	max-width: 500px;
	margin: 0 auto;
}
.macbook-pro .keyboard .handle{
	background-color: #797979;
	height: 7px;
	width: 80px;
	margin: 0 auto;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.lg-preview-btn{
	margin-top: 30px;
}

.lg-preview-btn .button {
	font-size: 14px;
	padding: 10px;
	border-radius: 4px;
	background-color: #797979 !important;
	width: 70px;
}

.row.billing-nav {
    padding-top: 20px;
}

.row.billing-nav .top-bar-section ul {
	background-color: #FFF !important;
}

.row.billing-nav .top-bar-section li, .row.billing-nav .top-bar-section li a.inner-bar {
	background-color: #FFF !important;
    color: #1AAAD0 !important;
    display: block !important;
    padding: 2px 6px !important;
}

.row.billing-nav .top-bar-section li a.inner-bar:hover {
    color: #8EC1E0 !important;
    cursor: pointer;
}

.row.billing-nav .expire-alert {
    font-size: 11px;
    color: #FF5C26;
}

.cost-preview-container {
	margin-left: 20px; 
}

.cost-details-preview {
	max-height: 300px;
/*	overflow-x: hidden;
    overflow-y: auto;*/
    margin-top: 40px !important;
    width: 70% !important;
}

#cost-details {
	width: 100%;
    border: #FFF;
}

#cost-details ul:first-child {
    background-color: #797979;
    color: #FFF;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    height: 30px;
    padding: 4px 14px;
}

#cost-details ul > div {
    width: 48%;
    display: inline-block;
}

#cost-details ul li {
    width: 100%;
    display: inline-block;
}

#cost-details ul li > div {
    width: 48%;
    display: inline-block;
}

.cost-details-summary {
	overflow-x: hidden;
    overflow-y: scroll;
    max-height: 250px;
    padding: 20px 8px;
    border-left: 1px #797979 solid;
    border-right: 1px #797979 solid;
}

.cost-details-summary div {
    font-size: 12px;
    padding-left: 14px;
}

.cost-details-summary li div span {
    padding-left: 8px;
    font-size: 12px;
}

.pricing {
    width: 70% !important;
    border: solid 1px #797979;
    padding: 10px;
    background-clip: content-box;
}
#send-campaign-msg-modal .pricing, #send-campaign-msg-notify-modal .pricing {
    border: none;
    margin-top: 10px !important;
    width: 60% !important;
}

.pricing div.small-1 {
	background-image: url('/images/down-arrow-gray.png');
    width: 1%;
    height: 9px;
    background-size: cover;
    margin-top: 12px;
}
.pricing .notice span{
	font-size: 11px;
    font-weight: 600;
    color: #787878;
}
.brief-review {
	font-size: 14px;
    font-weight: 400;
    color: #797979;
    padding-top: 6px;
}
.pricing .progress {
	background-color: #D5D5D5;
}
.pricing .change-plan {
	font-size: 12px;
    color: #2285a2;
    text-decoration: underline;
    cursor: pointer;
}
.pricing .button.upgrade-btn {
	margin-top: 12px;
    border-radius: 6px;
}
.total-cost-preview {
	margin-top: 6px;
}

.total-cost-preview span {
	color: #797979;
    font-size: 16px;
    font-weight: 600;
}

.iphone ul, .macbook ul{
	margin-left: 1.4rem;
}

.iphone ol li, .macbook ol li{
	list-style-type: decimal;
}

.iphone ul li, .macbook ul li{
	list-style-type: initial;
}


/*preview modal styling*/
#lg-preview-modal{
	max-width: 50em;
	padding: 2px 10px 10px;
}

.macbook-pro.lg{
	padding: 0 40px;
}
.macbook-pro.lg .macbook, .macbook-pro.lg .keyboard{
	max-width: none;
}
.macbook-pro.lg .macbook .monitor{
	height: 285px;
}
.macbook-pro.lg .keyboard .handle{
	width: 100px;
}

.preview-btn-container{
	margin: 15px 0 0;
}

.preview-btn{
	cursor: pointer;
}

.preview-btn.active{
	font-weight: 600;
}

/*send campaign modal styling */
#send-campaign-msg-modal{
	padding: 2px 10px 40px;
	width: 60%;
}

#send-campaign-msg-modal .curTextMsgCount {
	color: #21A6D3;
    font-size: 20px;
}

#save-template-modal{
	padding: 10px 20px 20px;
	max-width: 30em;
}

#save-template-modal label{
	font-size: 18px;
}

#send-campaign-msg-modal .send-away-btn, #save-template-modal .save-template-btn{
	background-color: #FF5C26;
	color: #fff;
	border-radius: 2px;
	width: 200px;
	margin: 0 auto;
	padding: 10px 0;
	font-weight: 600;
}

#term-condition {
	font-size: 14px;
    font-weight: 600;
    color: #787878;
} 

.agreement-confirm {
	font-size: small;
    color: #4d4d4d;
    font-weight: 600;
}

#save-template-modal .save-template-btn{
	margin: 0 0 0 auto;
}

#send-campaign-msg-modal .msg, #save-template-modal .msg{
	font-size: 24px;
	padding: 30px 0;
	color: #797979;
}

#send-campaign-msg-notify-modal {
    color: #797979;
    width: 54%;
}

#send-campaign-msg-notify-modal .actions {
	padding-top: 20px;
}

#send-campaign-msg-notify-modal .actions a.button {
	/*width: 64%;*/
    font-size: 14px;
    border-radius: 6px;
    margin-bottom: 0;
}

#send-campaign-msg-notify-modal .actions a.button.continue-send-campaign {
	/*margin-right: 10px;*/
}

#send-campaign-msg-notify-modal .actions a.button.upgrade-and-send-campaign {
	/*margin-left: 10px;*/
}

#order-summary-modal {
	width: 50%;
}

#order-summary-modal .billing-checkout {
	color: #797979;
}

#order-summary-modal .billing-header {
	font-size: 20px;
}

#order-summary-modal .send-away-btn {
	padding: 12px 40px;
    border-radius: 4px;
}

#send-success-modal {
	color: #797979;
    width: 50%;
}

#send-success-modal .sent-title {
	font-size: 20px;
    color: #2ba6cb;
}

#send-success-modal .brief-review {
	font-size: 16px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#send-success-modal .back-to-textmsg {
	text-decoration: underline;
}

.manage-students-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 6;
}

.manage-students-ajax-loader svg{
	position: absolute;
	top: 50%;
}

.preview-side .action-bar-btn {
    background-color: #eee;
    border-radius: 4px !important;
    color: #797979;
    font-size: 11px;
    font-weight: 600;
    margin-bottom: 10px !important;
    margin-top: 36px;
    margin-left: -10px;
    padding: 5px 13px 4px;
    float: left;
}

.preview-side .action-bar-btn .row .small-9{
	margin-top: 3px;
}

.preview-side .action-bar-btn .row .small-1{
	margin-top: 2px;
}

.preview-side .action-bar-content {
	margin-right: 5px;
	float: left;
}

.preview-side .auto-camp-list {
	display: none;
}

.switch-on {
  position: absolute;
  left: -55px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px; 
}

.switch-off {
  position: absolute;
  left: -25px;
  top: 10px;
  color: white;
  font-weight: bold;
  font-size: 9px; 
}


/*** custom scrollbar - start ***/
/*entire scrollbar container*/
.off-canvas-wrap.group-msg-container::-webkit-scrollbar,
.macbook .monitor::-webkit-scrollbar,
.iphone .screen::-webkit-scrollbar{
	width: 8px;
}

.c-list ul::-webkit-scrollbar{
	width: 4px;
}

/*the up/down arrows of the scrollbar*/
.off-canvas-wrap.group-msg-container::-webkit-scrollbar::-webkit-scrollbar-button,
.macbook .monitor::-webkit-scrollbar::-webkit-scrollbar-button,
.iphone .screen::-webkit-scrollbar::-webkit-scrollbar-button,
.c-list ul::-webkit-scrollbar::-webkit-scrollbar-button{
	background-color: #eee;
	height: 0;
}

/*the scrollbar background*/
.off-canvas-wrap.group-msg-container::-webkit-scrollbar-track,
.macbook .monitor::-webkit-scrollbar-track,
.iphone .screen::-webkit-scrollbar-track,
.c-list ul::-webkit-scrollbar-track{
	background-color: #eee;
}

/* the bar that actually does the scrolling */
.off-canvas-wrap.group-msg-container::-webkit-scrollbar-thumb,
.macbook .monitor::-webkit-scrollbar-thumb,
.iphone .screen::-webkit-scrollbar-thumb,
.c-list ul::-webkit-scrollbar-thumb{
	background-color: #b1b1b1;
}

ul.cost-details-summary::-webkit-scrollbar, 
.countries-for-free-trial ul::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #EEE;
    -webkit-border-radius: 100px;
}

ul.cost-details-summary::-webkit-scrollbar-thumb,
.countries-for-free-trial ul::-webkit-scrollbar-thumb {
    background: #b1b1b1;
    -webkit-border-radius: 100px;
}


/*** custom scrollbar - end ***/

select.select-time{
	width: 60px;
}



/*small only*/
@media only screen and (max-width: 40em){
	.off-canvas-wrap.group-msg-container{
		top: 52px;
	}

	#lg-preview-modal, #send-campaign-msg-modal, #save-template-modal{
		width: 100%;
		min-height: initial;
	}

	.macbook-pro.lg .macbook .monitor{
		height: 225px;
	}

	.main-content-container > .row > .large-7{
		padding: 10px;
	}

	.camp-btn, .create-campaign-btn.button{
		width: 100%;
	}

	.camp-btn.save-campaign-btn{
		margin-bottom: 10px;
		background-color: #0085B2;
		text-decoration: none;
		color: #fff;
	}
	.camp-btn.save-campaign-btn:hover{
		color: #0085B2;
	}

	.main-content-container > .row > .column:first-child{
		padding: 20px;
	}
	
	.manage-students-ajax-loader svg{
		right: 40%;
	}

	#send-campaign-msg-notify-modal {
    	color: #797979;
    	width: 100%;
	}

	#send-campaign-msg-notify-modal .actions a.button.upgrade-and-send-campaign {
    	margin-top: 10px;
	}
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.off-canvas-wrap.group-msg-container{
		top: 77px;
	}

	.off-canvas-wrap.group-msg-container.chat-now-bar-isVisible{
		top: 120px;
	}

	.brief-review {
    	font-size: 10px;
    	font-weight: 400;
    	color: #797979;
    	padding-top: 6px;
	}
	.main-content-container .excludes-stu-messaged .has-tip, 
	.main-content-container .campaign-edit .has-tip {
    	border: none !important;
    	display: inline-block !important;
	}
	#send-campaign-msg-notify-modal .actions a.button.upgrade-and-send-campaign {
    	margin-top: 10px;
	}
	#send-campaign-msg-notify-modal .actions a.button.continue-send-campaign {
    	margin-right: 0;
	}
}

@media only screen and (min-width: 64.063em){
	.std-list-font{
		padding-top: 8px;
		margin-bottom: 30px !important;
	}
	.main-content-container .excludes-stu-messaged .has-tip, 
	.main-content-container .campaign-edit .has-tip {
    	border: none !important;
    	display: inline-block !important;
	}

	#send-campaign-msg-notify-modal .actions a.button.upgrade-and-send-campaign {
 		/*margin-left: -96px;*/
	}
	.text-video{
	    margin-top: 6.5em;
	}
	.text-video span{
		color: #797979;
	    font-size: 1.6em;
	}
}

@media all and (min-width: 642px) and (max-width: 759px){
	.main-content-container{
		margin-top: 50px;
	}
}