
#home .content-wrapper{
	position: relative;
	padding-top: 20px;
}


.home-news-img img{
	width: 100%;
}

img.home-news-nopic{
	width: 38%;
	margin: 15px auto;
	position: relative;
}

/*//////////////////// Tell us About Yourself Modal CSS \\\\\\\\\\\\\\\\\\\\ */
.firstTimeMessageModal .ui-menu-item a {
color:#79796A;
font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
font-size:12px
}

.firstTimeMessageModal {
font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
z-index: 1001;
height: auto;
}

#recruitmeModal{
	z-index: 1005;
}

.reveal-modal-bg{
	z-index: 1000;
}

.firstTimeMessageModal h3 {
font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
font-size:32px
}

.firstTimeMessageModal p {
font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
font-size:16px;
color:#79796A
}

.firstTimeMessageModal label {
color:#79796A;
font-size:14px;
font-weight:700
}

.firstTimeMessageModal input {
color:#79796A;
font-size:14px;
font-weight:700
}

/*
.firstTimeMessageModal .button {
background-color:#FF5C26;
font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
font-size:32px;
font-weight:400;
padding-bottom:11px;
padding-top:11px;
width:100%;
color:#fff
}
*/



.firstTimeMessageModal .homepageSkipQuestions{
	padding-top: 23px;
	padding-bottom: 23px;
}

.welcomeFormCircle {
behavior:url(PIE.htc);
background-color:#989889;
border:2px solid #989889;
border-radius:50%;
color:#FFF;
font-weight:700;
height:34px;
padding:8px;
text-align:center;
width:34px
}

.firstTimeMessageModal .close-reveal-modal {
	position:relative
}

.ft_hide{
	display: none;
}

#ft_modal_student, #ft_modal_intl_student, #ft_modal_alumni, #ft_modal_parent, #ft_modal_counselor, #ft_modal_university_rep{
	display: none;
}

.firstTimeMessageModal .ft_btn_next{
	background-color:#FF5C26;
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size:25px;
	font-weight:400;
	width:100%;
	color:#fff;
	border-radius: 3px;
	padding: 7px 0;
}

.firstTime-skip-start-row{
	padding-top: 10px;
}

.ft_btn_skip{
	text-decoration: underline;
}

.button.ft_btn_skip{
	background-color: rgba( 0, 0, 0, 0 );
	text-decoration: underline;
}

.button.ft_btn_skip:hover{
	background-color: rgba(0, 0, 0, 0);
}

/*
#intl_school_name_container{
	display: none;
}

#intl_student_country_container{
	display: none;
}
*/


/*\\\\\\\\\\\\\\\\\\\\ END Tell us About Yourself Modal ////////////////////*/


/*//////////////////// Prep school modal \\\\\\\\\\\\\\\\\\\\ */

#prepSchoolModal.prepSchoolModal{
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	height: auto;
	color: #797979;
}
#prepSchoolModal .subheader{
	color: #797979;
	font-size: 32px;
}
#prepSchoolModal .lead{
	color: #797979;
	font-size: 16px;
}

#prepSchoolModal.prepSchoolModal label{
	font-size: 14px;
	font-weight: bold;
	color: #797979;
}
#prepSchoolModal .checkboxprepInline{
	margin-bottom: 1px;
}
#prepSchoolModal .button{
	background-color: #FF5C26;
	font-size: 32px;
	border-radius: 3px;
}

@media only screen and (max-width: 40em) { 
	#prepSchoolModal.prepSchoolModal{
		width: inherit;
	}
}
/*\\\\\\\\\\\\\\\\\\\\ END Prep school modal ////////////////////*/













/*----------------------------------------------------------*/


.top-slider-block
{
	height: 161px; background-color: #000; position:relative;border-radius:4px;	margin:12px 0;
}
.top-slider-block .newtitle-block
{ 
width:120px; position:absolute; margin-left:-48px; margin-top:70px;
-webkit-transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-ms-transform:rotate(-90deg);
-o-transform: rotate(-90deg);
filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=5);
background-color:inherit;
font-family: "Century Gothic"; font-size:1.15rem; font-weight: bold; color: #fff;
}
.top-slider-block  .owl-carousel
{
	margin-left:5px;
}

.top-slider-block .owl-carousel .owl-item 
{	
	width:200px!important; 
	
}
.top-slider-block .owl-carousel .owl-item img
{	
	width:200px!important; height:161px; 	
}
.top-slider-block .news_banner
{
	position:absolute;
	background-color:rgba(31,31,31,0.7);
	width:200px;
	height:38px;
	font-size:11px;
	font-weight:bold;
	line-height:120%;
	color:rgb(255,255,255);
	text-align:left; z-index:1000px; margin-top:-38px; padding:5px 0 0 10px; border-bottom:#660066 solid 6px;
}


.top-slider-block .news_banner span a{ color:#ff7f00; font-size:12; text-decoration:none}
.top-slider-block .news_banner span a:hover{ color:#ff7f00; font-size:12; text-decoration:none}


/********************************* New **************************************/
#owl-news .item{
  margin: 3px;
}
#owl-news .item img{
  display: block;
  width: 100%;
  height: auto;
}


#owl-news .owl-buttons .owl-prev
{
	position:absolute;
	background:url(/images/slider_nav.png) no-repeat ; width:25px; height:26px;
	top:60px;
	left:30px;
	background-position:0px 0px!important; 
}
#owl-news .owl-buttons .owl-next{
	position:absolute;
	background:url(/images/slider_nav.png) no-repeat ; width:25px; height:30px;
	top:60px;
	right:8px;
	background-position:0px -25px!important; }	

/********************************* New **************************************/	


@media only screen and (max-width: 40em) {
	#container-box .newsBoxTitle a {
		font-size: 13px;
		padding-top: 1px;
		padding-bottom: 5px;
	}
}

.flag{
	display: inline-block;
	width: 27px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAOCAYAAADez2d9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAABZ0lEQVQ4jbWTrU4lQRCFv9mUKHFFC8QIxAgE2WxWIXgEQhA8AgK5D7BixYoVPMI+AxqxD4BAoNCIEYSMuKIF4ohOBtE9P1zYZG6AMuek0qlTdaq6sq8/+v2mRklgQAI3RwgSYOBAfILf3wJHuwGRc3NkAbdMVIo6MiGUecEcEa8DvleXAo6PzTE1VnDKC8zxBCZm0ySNU408CXdHCbp/N3TXU8fbhsGG0FyQzIcum7NTmoP9sdvlsvntZGPBQeiFIA7utBd/aQ3iUMJAaTmakkAUq4SsCA8TSrACdaL585PmsCkbE7Jpo8Ox/JcnYWEn4DuBuI6EVSlOFo9RhDoQu0i9V9P+uqBNGifbNqqHx3W/9HGAF98hO7BhF/kiZa+xuv1+slhsszi83stbuQGrp7v7fnR2fmWJj+VJVLfH572ncsTDyJ/BDar15VWf55o+wWdxU9tlr2f+xvkOPjBfXX1ZbXUg74lnBn0K7vtjOwgAAAAASUVORK5CYII=)
}

.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat
}


.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
.flag.flag-zr {background-position: -48px -176px}

#phoneinput-with-code{
	font-size: 14px;
	padding: 0px 0px 0px 86px;
}

.flag-code{
	position: absolute;
    top: 13px;
    left: 10px;
    text-align: left;
    vertical-align: middle;
    line-height: 11px;
    padding: 0px 0px 0px 10px;
    width: 88px;
    height: 37px;
    color: #aaaaaa;
    font-size: 14px;
    cursor: pointer; 
}


.code-val{
	display: inline-block;
    text-align: right;
    width: 33px;
}

#phone-code-list{
	position: absolute;
    top: 37px;
    right: 8px;
    left: 8px;
    height: 200px;
    overflow-y: auto;
    background-color: #ddd;
    z-index: 10;
    display: none;
}

#phone-code-list li{
	cursor:pointer;
	padding: 3px 10px;
}
#phone-code-list li:hover{
	background-color: #797979;
}

.country-name-code{
	display: inline-block;
}

  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
      z-index: 99999;
      animation: fadeIn 1s cubic-bezier(0.17, 0.84, 0.44, 1.02) forwards;
  }
  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 5% auto;
      width: 60%;
      color: #3c3232;
      border-radius: 10px;
  }
  /* The Close Button */
  .close {
      color: #fff;
      float: right;
      font-size: 28px;
      font-weight: bold;
      padding: 10px
  }
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .dont-show{
      color: #555555;
      text-decoration: underline;
      display: block;
      text-align: center;
  }

  .dont-show:hover{
      color: #f35c26;
  }

  div#myModal h5.modal-title {
    font-family: sans-serif;
    color: #747678;
    font-weight: 600;
  }
  .description {
      font-family: sans-serif;
      color: #6c6d6e;
      margin-bottom: 25px;
  }
  .next-steps{
  	text-align: center;
  	padding: 15px;
  }
  .next-steps img{
  	height: 50px;
  }

  .modal-header{
  	background: #202020;
  	text-align: center;
  	padding: 1px 0px;
  	border-radius: 10px 10px 0px 0px;
  }

  .modal-header p{
  	color: #fff;
  	font-size: 25px;
  	font-weight: 700;	
  	padding: 0px 10px;
  }

  .modal-body{
  	text-align: center;
  }

  .modal-body .row{
  	padding-top: 30px;
  }

button.next-buttons {
    background: #888888;
    width: 70%;
    border-radius: 5px;
    font-weight: 600;
}
button.next-buttons-og {
    background: #f35c26;
    width: 70%;
    border-radius: 5px;
    font-weight: 600;
}

button.next-buttons:hover, button.next-buttons:focus, button.next-buttons-og:hover, button.next-buttons-og:focus  {
	background: #f35c26;	
}

.modal-footer{
	padding: 20px;
}

@media only screen and (max-width: 1024px) { 
	button.next-buttons, button.next-buttons-og{
		width: 85%;
	}
	.modal-content{
		width: 80%;
	}
}

@media only screen and (max-width: 768px) { 
	.modal-body .columns.medium-6.small-12 {
	    width: 100%;
	}
}

@media only screen and (max-width: 425px) { 
	.modal-header p{
  	font-size: 18px;
  }
}

	