/*infilawSurvery.css*/


/*global styles*/
body#infilawSurvey{
	background: #3F8CCB; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(#87b7de , #2b6ca1); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#87b7de, #2b6ca1); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#87b7de, #2b6ca1); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#87b7de , #2b6ca1); /* Standard syntax */
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.survey-container > .column{
	background-color: #fff;
}

.survey-container h3, .survey-container h4, .survey-container p, .survey-container div{
	color: #797979;
}

.survey-container .school-type-header{
	background-color: #3F8CCB;
	padding: 10px;
}

.survey-container .school-type-header .right{
	color: #fff;
	font-size: 22px;
	padding: 10px 0;
}

.survey-page .q1 h3, .survey-page.completed h4{
	color: #FF5C26;
}

.survey-page .errorMsg{
	color: #FF5C26;
	display: none;
}

.survey-container form, .survey-container .previous-next-btns-row,
.survey-container .any-questions-call{
	padding: 20px;
}

.survey-page select{
	margin-top: 13px;
}



.survey-container img.left-a{
	-webkit-transform: rotate(180deg);     /* Chrome and other webkit browsers */
	-moz-transform: rotate(180deg);        /* FF */
	-o-transform: rotate(180deg);          /* Opera */
	-ms-transform: rotate(180deg);         /* IE9 */
	transform: rotate(180deg);             /* W3C compliant browsers */
}





/*questions call number styles*/
.survey-container .any-questions-call{
	padding-top: 100px;
}



/*ajax loader styles*/
.isurvey-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 1;
}

.isurvey-ajax-loader svg{
	position: absolute;
	top: 50%;
}

/*small only*/
@media only screen and (max-width: 40em) {
	img.landing{
		margin-bottom: 10px;
	}
}

/*medium up*/
@media only screen and (min-width: 40.063em) {
	.survey-container{
		padding-top: 50px;
	}

	img.landing{
		margin-right: 20px;
	}
}