/***********************************************************************
 *================= NOTIFICATION PAGE NOTIFY CONTAINER ================*/
#notify_page_container{
	background-color: #f5f5f5;
	border-radius: 8px;
	padding-left: 2em;
	padding-right: 2em;
}
/***********************************************************************/

/***********************************************************************
 *=================== NOTIFICATION PAGE TOP WRAPPER ===================*/
#notify_page_top_wrapper{
	padding-top: 1em;
}

#notify_page_title{
	font-size: 1.5em;
	font-weight: bold;
	color: #404040;
}

.notify_page_filter{
	display: inline-block;
	width: auto;
}

#notify_page_filter_label{
	font-weight: bold;
}
/***********************************************************************/

/***********************************************************************
 *=============== NOTIFICATION PAGE NOTIFICATIONS STYLE ===============*/

/* NOTE the rest of CSS is in default.css*******************************//

.notify_page_notify_item.unread{
	background-color: #e3e3e3;
}

.notify_page_notify_item:last-child{
	border-bottom: none;
}

/***********************************************************************/

/***********************************************************************
 *============================== see more =============================*/
#notify_page_show_more{
	margin-bottom: 1.5em;
	cursor: pointer;
}

#notify_page_show_more span{
	font-size: 1.1em;
	font-weight: bold;
	color: #404040;
}
.message_time{
	display: none;
}
.notify_image {
		margin-right: 6px !important;
	}
/***********************************************************************/
@media all and (max-width: 768px){
	.center_title {
		text-align: center !important;
		float: left;
		width: 100%;
		font-weight: normal !important;
	}
	.captalized {
		text-transform: uppercase;
	}
	.mobile-display {
		display: block;
	}
	.no-display {
		display: none;
	}
	#notify_page_container{
		padding-left: 0.4em;
		padding-right: 0.4em;
		background-color: white !important;
	}
	.message_time {
		display: inline;
		padding: 0 !important;
		font-size: 11px;
		font-weight: bold;
	}
	.notify_image {
		margin-right: 10px;
		margin-left: 10px;
		display: inline-block !important;
		vertical-align: middle !important;
		float: none !important;
	}
	.message-header {
		display: inline-block;
		vertical-align: middle;
		float: none;
		width: 60% !important;
	}
	.unread_message {
		background-color: #ffeae9;
		color: gray;
	}
}
