/*plex_lightbox.css*/

#plex_lightbox{
	width: 100%;
	max-width: 100%;
	padding: 0;
	background: rgba(0,0,0,0.8);
	border: none;
	box-shadow: none;
	position: fixed;
	top: 0 !important;
	right: 0 !important;
	bottom: 0 !important;
	left: 0 !important;
	height: 100%;
}

#plex_lightbox .close-reveal-modal{
	font-size: 50px;
	margin: 0 10px 0 0;
}

#plex_lightbox .now-viewing-container{
	margin: auto;
	width: 50%;
}

#plex_lightbox .view-other-container{
	position: absolute;
	bottom: 0; right: 0; left: 0;
}

#plex-lightbox-owl{
	width: 50%;
	margin: auto;
}

#plex-lightbox-owl .item{
	padding: 10px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	width: 200px;
}

#plex_lightbox .play-layer, #plex_lightbox .play-layer .play, 
#plex_lightbox .play-layer .playbtn{
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

#plex_lightbox .plex-vids .play-layer{
	z-index: 1;
	cursor: pointer;
}

#plex_lightbox .play-layer .play{
	background: rgba(0,0,0,0.8);
    position: absolute;
    height: 45px;
    width: 50px;
    margin: auto;
    border-radius: 9px;
    z-index: 2;
}

#plex_lightbox .play-layer .playbtn{
	z-index: 3;
	width: 0;
	height: 0;
    margin: auto;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 15px solid #fff;
}

/*small only*/
@media only screen and (max-width: 40em) {
	#plex_lightbox .now-viewing-container{
		width: 100%;
	}
}

/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#plex_lightbox .now-viewing-container{
		width: 75%;
	}
}

/*small and medium only*/
@media only screen and (max-width: 64em) {
	#plex-lightbox-owl{
		width: 50%;
	}
}