
/******* util *********/
.float-left{
	float: left;
}

.float-right{
	float: right;
}

.green{
	color: #28C56A !important;
}

.pupgrade-btn{
	cursor: pointer;
	color: #ffffff;
    font-weight: 400;
    font-size: 18px;
    display: inline-block;
    background-color: #FF7F00;
    border-radius: 55px;
    padding: 5px 20px;
}

.pupgrade-btn:hover,
.pupgrade-btn:active,
.pupgrade-btn:focus{
	color: #ffffff;
	background-color: #f07c08;
}

.upgrade-large-bottom{
	padding: 10px 32px;
    font-size: 24px;
}

.mobile-only{
	display: none;
}

/**************** top logo nav ************/
.prem-top-nav{
	position: absolute;
    width: 100%;
    height: 77px;
    background-color: rgba(20,20,20,.7);
    color: #ffffff;
    padding: 17px 23px;
    font-family: 'Open Sans', sans-serif;
    z-index: 10;
}

.prem-plexlogo{
	width: 192px;
    height: auto;
    margin-top: 2px;
}


/************* banner ***************/
.prem-banner-cont{
	position: relative;
	height: auto;
	width: 100%;
	overflow: hidden;
	background-color: #797979;
	font-family: 'Open Sans', sans-serif;
}
.prem-banner{
	/*position: absolute;*/
    margin-top: 0px;
    height: auto;
    width: 100%;
    /*background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/premium_page/header-image-opt.jpg);
    background-size: 100% auto;*/
    z-index: 0;
}

.prem-banner img{
	min-width: 100%;
	width: auto;
	height: auto;
}
/*.prem-banner:after{
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.1);
}*/
.banner-text{
	position: absolute;
    text-align: center;
    top: 69%;
    width: 100%;
    z-index: 2;
}

.banner-head{
	display: inline-block;
	text-shadow: 5px 10px 32px #000000;
	font-size: 51px;
    font-weight: 100;
    color: #ffffff;

}
.banner-sub{
	display: inline-block;
	text-shadow: 5px 10px 25px #000000;
	font-size: 30px;
	font-weight: 100;
	color: #eeeeee;
}

/************ content ***************/


.main-cont-container{
	position: relative;
	padding-top: 0px;
	padding-bottom: 90px;
	background-color: #ffffff;
}


.prem-why-title{
	position: relative;
    margin-bottom: 20px;
    margin-top: 90px;
    font-size: 42px;
    text-align: center;
    color: #797979;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Open Sans', sans-serif;
}

.prem-why-sub{
	font-weight: 100;
	font-size: 27px;
    margin-top: -27px;
	text-align: center;
    color: #797979;
    font-family: 'Open Sans', sans-serif;

}

.prem-row{
	max-width: 71%;
	position: relative;
	margin: 50px auto;
}
.prem-row:last-child{
	margin: 121px auto 0px auto;
}
.prem-col{
	vertical-align: top;
	box-sizing: border-box;
	width: 49%;
	display: inline-block;
	padding: 20px;
}

.narrow-nested-row{
	position: relative;
    width: 80%;
    margin: 10px auto 0px auto;
}


.testimonials{
	margin-top: 80px;
}

.testimonials .prem-col {
	text-align: center;
}
.testimonials .prem-col *{
	color: #797979;
	font-family: 'Open Sans', sans-serif;
}

.testimonials .prem-desc{
	width: 90%;
	margin: 20px auto;
}

.prem-name{
	font-size: 34px;
}
.from-country{
	font-size: 21px;
	font-style: italic;
	font-weight: 400;
}
.appliedto{
	font-style: italic;
    font-size: 15px;
    font-weight: 700;
}

.college-name{
	font-size: 26px;
}

.quote-name{
	font-size: 22px;
	font-weight: 400;
	margin: 15px 0px;
}

.college-rep{
	font-size: 18px;
	font-style: italic;
	font-weight: 100;
}

.prem-title2{
	font-size: 31px;
	margin-bottom: 20px;
	color: #797979;
	font-family: 'Open Sans', sans-serif;
}

.prem-desc,
.prem-desc p{
	font-size: 20px;
	font-weight: 100;
	line-height: 29px;
	margin-bottom: 30px;
	color: #797979;
	font-family: 'Open Sans', sans-serif;
}


.writing-img{
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/premium_page/hand-writing-opt.jpg);
    width: 361px;
    height: 246px;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;

}
.meeting-img{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/premium_page/1-on1-chat-opt.jpg');
	width: 417px;
    height: 319px;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;
}
.essay-img{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/premium_page/essays-opt.jpg');
	width: 360px;
    height: 369px;
    background-repeat: no-repeat;
    margin: 0px auto;
    position: relative;
}


/******** testimonals *************/
.round-img-cont{
    display: block;
    width: 180px;
    height: 180px;
    position: relative;
    margin: 35px auto;
    overflow: hidden;
    /*border-radius: 100%;*/
}

.prem-img-cont-college{
	display: block;
    width: 180px;
    height: 203px;
    position: relative;
    margin: 24px auto;
    overflow: hidden;
}

.prem-img-cont-college img,
.round-img-cont img{
	width: 100%;
	height: auto;
}


/************** footer **************/
.prem-footer{
	width: 100%;
	min-height: 100px;
	height: auto;
	background-color: #202020;
	color: #dddddd;
	padding: 30px;
}

.footer-center{
	position: relative;
	margin: 0px auto;
	min-width: 82%;
	width: 1242px;
	max-width: 100%;
}

.prem-footer a{
	color: #dddddd;
}
.prem-footer a:hover,
.prem-footer a:active,
.prem-footer a:active{
	color: #aaaaaa;
}

.prem-footer .footer-center > div {
	display: inline-block;
	margin-top: 20px;
	margin-right: 50px;
}


.prem-plex-icon{
	width: 33px;
    height: 39px;
    margin-right: 0px !important;
    background-size: 131%;
    background-position: 0px 0px;
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/frontpage/footer_icons_sprite.png');

}

.social-link{
	margin: 0px 3px;
    width: 21px;
    height: 20px;
    background-color: #ffffff;
    color: #28C56A !important;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/frontpage/footer_icons_sprite.png');
}
.social-link:hover,
.social-link:active,
.social-link:focus{
    height: 18px;
}

/***** social media icons ******/


.prem-ln{
	background-position: 35px -34px;
}
.prem-twitter{
	background-position: 35px -2px;
}
.prem-facebook{
	background-position: 35px -95px;
}
.prem-youtube{
	background-position: 35px -63px;
}




/******************* media queries ***************/
@media all and (max-width: 1000px){
	.prem-col{
		width: 100%;
	}
	.meeting-img{
		height: 300px;
		width: 396px;
		background-size: 100%;
	}


	.one-on-one-cont {
	  display:flex;
	  flex-direction: column-reverse;
	}

	.one-on-one-cont .prem-col {
	  height: auto;
	}

	
}


@media all and (max-width: 1100px){
	.banner-head{
		font-size: 33px;
	}
	.banner-sub{
		font-size: 23px;
	}
	.prem-why-title{
		font-size: 30px;
	}
	.prem-name{
		font-size: 26px;
	}.
	.college-name{
		font-size: 23px;
	}
	.prem-row{
		width: 83%;
	}
}


@media all and (max-width: 397px){
	.meeting-img{
		width: 320px;
	}
}

@media all and (max-width: 475px){
	.writing-img, .essay-img{
		width: 100%;
		background-size: 100%;
	}
	.writing-img{
		height: 203px;
	}
	.essay-img{
		height: 200px;
	}

	.prem-why-title{
		margin-top: 80px;
	}


	.prem-col{
		margin: 10px 5px;
		width: 100%;
	}
	.prem-row{
		margin: 10px auto;
		max-width: 90%;
		width: 90%;
	}

	.prem-row:last-child{
		margin-top: 20px;
	}

	.narrow-nested-row{
		width: 100%;
	}

	.prem-footer .footer-center > div {
    /* margin-right: -3px; */
    margin: 9px auto;
    position: relative;
    text-align: center;
    display: block;
	}

	.prem-plex-icon{
		margin-right: inherit !important;
	}

}

@media all and (max-width: 1299px){
	.footer-center{
		width: 1142px;
	}
	.prem-footer .footer-center > div {
		margin-right: 26px;
	}
	.meeting-img{
		height: 223px;
		width: auto;
		background-size: 100%;
	}
}
@media all and (max-width: 1250px){
	.banner-text{
		position: relative;
		background-color: #26b24b;
		padding: 30px;
	}
	.banner-head, .banner-sub{
		text-shadow: none;
	}

}

@media all and (max-width: 373px){
	.large-only{
		display: none;
	}

	.prem-logo-cont{
		float: none;
		margin: 5px auto;
		display: inline-block;
		width: 100%;
		text-align: center;
	}

	.mobile-only{
		margin-top: 23px;
		display: inline-block;
	}
}