
/************************ new styles product page v2 ********************************/
*{
    font-family: "Open Sans",sans-serif;
    margin: 0;
    padding: 0;
    outline: 0;     /* gets rid of border on button active states in Chrome */
}


.productAudience {
    width: 47px;
    height: 50px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/product_page/products-sprite-sheet1.png) 0 0;
}

.productRecruitment {
    width: 47px;
    height: 50px;
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/product_page/products-sprite-sheet1.png) 0 50px;
}




/****************************** main navigation for products page ******************/

.productsHeader {
    box-sizing: border-box;
    width: 100%;
    background-color: #ffffff;
    font-size: 2.9em;
    font-weight: 100;
    color: #2BC56D;
    padding: 30px 20px;
    text-align: center;
}

@media all and (max-width: 740px){
    .productsHeader{
        font-size: 2em;
    }
}


/* background/bar the holds top navigation for products **/
.products-nav-container{
   width: 100%;
   background-color: #2BC56D;
   color: #ffffff;
   font-size: 1.2em;
   overflow: hidden;
   z-index: 50;
}
.products-nav-container-sticky{
    position: fixed;
    top: 0;
}

.products-nav-container ul li{
    display: inline-block;
    float: left;
    margin: 0px 15px;
    height: 74px;
}


.products-nav-container ul li button{

    height: 64px;
    width: 160px;
    color: #ffffff;
    padding: 0px;
    background: transparent;

}

/*  button in top nav container **/
/* hard width to center it well */
.nav-list-container{
    width: 570px;
    margin: 0 auto;
}

.products-nav-btn{
    display: inline-block;
    float: left;
    width: 50px;
    height: 50px;
    position: relative;
    margin-top: 8px;
    margin-right: 5px;

}
.product-nav-title{
    display: inline-block;
    float: left;
    padding-top: 22px;
    
}




#audience_nav_btn.topnav-default-state{
    background: url('/images/products/icons-sheet-nav.png') 0 0;
}

#recruitment_nav_btn.topnav-default-state{
    background: url('/images/products/icons-sheet-nav.png') 105px 0;
}

#webinar_nav_btn.topnav-default-state{
    background: url('/images/products/icons-sheet-nav.png') 53px 0;
}



#audience_nav_btn.topnav-active-state, 
#audience_nav_btn.topnav-hover-state{
    background: url('/images/products/icons-sheet-nav.png') 0 -53px;
}

#recruitment_nav_btn.topnav-active-state,
#recruitment_nav_btn.topnav-hover-state{
    background: url('/images/products/icons-sheet-nav.png') 105px -53px;
}

#webinar_nav_btn.topnav-active-state,
#webinar_nav_btn.topnav-hover-state{
    background: url('/images/products/icons-sheet-nav.png') 53px -53px;
}



@media all and (max-width: 570px){
    .product-nav-title{
        display: none;
    }
    .nav-list-container{
        width: 250px;
    }
    .top-btn, button.top-btn{
        width: 50px;
    }

   

}



/************************* classes for styling below sections ******************/

.sec-container{
    padding-top: 110px;
    padding-bottom: 110px;
}

.big-icon{
    width: 100%;
    height: auto;
    overflow: none;
    margin-top: 30px;
}

.download-btn, .download-btn:visited{
    background-color: #FF5927;
    border-radius: 10px;
    padding: 10px 35px;
}
.download-btn:hover, .download-btn:active, .download-btn:focus{
    background-color: #ED4E29;

}





@media all and (max-width: 340px){
    .big-icon{
        width: 45%;

    }
}
@media all and (min-width: 340px) and (max-width: 1025px){
    .big-icon{
        width: 30%;
    }
}



/*********************** audience section ****************************************/
#audience{
    width: 100%;
    min-height: 300px;
    background-image: url('/images/products/banner-graduation-p.jpg');
    background-size: 140%;

}

.sec-content h3{
    color: #ffffff;
    margin-bottom: 15px;
}

.sec-content-p{
    color: #ffffff;
    font-weight: 300;
    font-size: 1.1em;
    padding: 10px 0;
}


@media all and (max-width: 1400px){
    #audience{
        background-size: 200%;
    }
}
@media all and (max-width: 700px){
     #audience{
        background-size: 500%;
    }
}



/*********************** recruitment section *************************************/

.recruitment-sec-content h3{
    color: #000000;
    margin-bottom: 15px;
}

.recruitment-sec-content-p{
    color: #000000;
    font-weight: 300;
    font-size: 1.1em;
    padding: 10px 0;
}



@media all and (max-width: 600px){
    .products-top-container{
        width: 85% !important;
    }
}

@media all and (max-width: 400px){
    .sec-content-p, 
    .recruitment-sec-content-p{
        font-size: .9em;
    }
}

@media all and (max-width: 340px){
    .sec-container{
        padding: 70px 0px;
    }
    .productsHeader{
        font-size: 1.5em;
    }
}





/********************** webinar section ******************************************/
#webinar{
    background-color: #292929;
    width: 100%;
    min-height: 100vh;
    height: auto;
    padding-bottom: 200px;
}


.f-left{
    display: inline-block;
}


/* the main header for section */
.webinar-mainHeader{
    color: #fefefe;
    text-align: center;
}

/* conatiner that centers content in webinar */
.carousel-container{
    position: relative;
    /* width: 57%; */  /*fits about three if at 230px */
    width: 720px;
    margin: auto;
    padding-bottom: 50px;
}

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-block;
}
.clearfix {
    display: block;
}


/* section between arrows */
.webinar-main{
    position: relative;
    box-sizing: border-box;
    
    /*for when we use arrows */
    /*width: calc(100% -122px);*/
    padding: 10px;
    height: 200px;
}

/* contains each webinar's content */
.webinar-container{
    box-sizing: border-box;
    width: 320px;
    margin: 10px;
}
.webinar-container:hover{
    opacity: .9;
}


.webinar-img{
    width: 100%;    
    display: inline-block;
    height: auto;
    margin: 5px;
    background-color: #00A3FF;
    overflow: hidden;
}
.webinar-caption{
    color: #FEFEFE;
    text-align: center;
    overflow: hidden;
}

/********* arrows *********/
.arrows{
    position: absolute;
    display: inline-block;
    width: 41px;
    height: 82px;
    top: 50%;
    transform: translate(0, -50%);
    background-size: 100%;
    overflow: hidden;
    z-index: 50px;
}

.arrow-col{
    position: relative;
    height: 200px;
    width: 41px;
}
.arrow-left{
    background: url('/images/products/arrows-sheet.png') 0 0;
}
.arrow-right{
    background: url('/images/products/arrows-sheet.png') 41px 0;
}


@media all and (max-width: 760px){
    .carousel-container{
        width: 70%;
        padding: 50px 0px;
    }
    .webinar-container{
        width: 100%;
        margin: 10px 0;
    }

}