#addEditHsScore .title > .toggle-checkbox
{
margin-left: 0.5em;
}
.profile-score-icon
{
background-image:url('/images/icon-score.png');
background-repeat:no-repeat;
height:19px;
width:18px;
float:left;
vertical-align:middle;
margin:8px;	
}
.page_head_black
{
color:#1F1F1F;
font-size:23px;	
}
.normal_head_black
{
color:#1F1F1F;
font-size:18px !important;	
}
a.add-edit-link, a.add-edit-link:link, a.add-edit-link:hover, a.add-edit-link:active, a.add-edit-link:visited
{
color:#B1DCF3 !important;
font-size:14px;
text-decoration:underline;
}
.label_gray_normal_14
{
color:#797979;
font-size: 14px !important;
line-height:21px;
}

.vert-middle-link{
	vertical-align: middle;
}

.score_label{
	color: #797979;
	line-height: 2.6em;
}

@media only screen and (max-width: 40em){
	.scores_maxgpa_mobile{
		line-height: 20px;
	}
}

.columns .small_input_text {
width: 70px;
text-align: center;
margin: 0px;
}

#sat_reading, #sat_math, #sat_writing, #psat_total, #ged_score{
	width: 80px;
}

#sat_total{
	width: 88px;
}

.add_button
{
background-color: #797979;
color: #ffffff;
font-size: 14px;
font-weight: bold;
padding: 5px 10px;
margin-bottom: 2rem;
display: inline-block;
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
cursor:pointer;
}
.black-head16
{
color:#1F1F1F;
font-size:16px;	
font-weight:bold;
}
.who_can_see_right
{
vertical-align:middle;
}
.form_row
{
line-height:30px;
}
.text_area_class
{
height:97px !important;	
}
.month_select
{
width:100px !important;
}
.year_text
{
width:85px !important;
}
.select_exp_type
{
width:148px !important;
}
.right_content_set
{
text-align:right;	
}
@media (max-width:640px){
	.right_content_set
{
text-align:left;	
}
}
.black-label-12
{
color:#202020;
font-size:12px;
font-weight:bold;
padding: 5px;
}
.row-padding
{
padding-top:18px;
}
.skill-bg-white
{
-moz-border-radius:3px;
-webkit-border-radius:3px;
border-radius:3px;
box-shadow: 0px 0px 5px #ece9e9 inset;
height:24px;
padding-top:1px;
padding-bottom:1px;
}
.skill-advance-bg
{
height:22px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-image:url(/images/bg-advance.png);background-repeat:repeat-x;	font-size:12px;color:#ffffff;font-weight:bold;text-align:right;padding:5px !important;
}
.skill-intermediate-bg
{
height:22px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-image:url(/images/bg-intermediate.png);background-repeat:repeat-x;	font-size:12px;color:#ffffff;font-weight:bold;text-align:right;padding:5px !important;
}
.skill-beginner-bg
{
height:22px;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;background-image:url(/images/bg-beginner.png);background-repeat:repeat-x;font-size:12px;color:#ffffff;font-weight:bold;text-align:right;padding:5px !important;
}

.skill-bg-3
{
height:22px;background-image:url(/images/bg-advance.png);background-repeat:repeat-x;font-size:12px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;
}
.skill-bg-select-3
{
height:22px;background-color:#91D271;font-size:13px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;font-weight:bold;
}
.skill-bg-2
{
height:22px;background-image:url(/images/bg-intermediate.png);background-repeat:repeat-x;font-size:12px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;
}
.skill-bg-select-2
{
height:22px;background-color:#7FBADC;font-size:13px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;
}
.skill-bg-1
{
height:22px;background-image:url(/images/bg-beginner.png);background-repeat:repeat-x;font-size:12px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;
}
.skill-bg-select-1
{
height:22px;background-color:#937A8E;font-size:13px;color:#ffffff;font-weight:bold;text-align:center;padding:5px !important;cursor:pointer;
}

.paddingleftright0
{
padding-left:0px !important; 
padding-right:0px !important; 
}
.greay-13-bold
{
	font-size:13px;
	color:#797979;
	font-weight:bold;
}
.text_inset
{
font-size: 13px !important;
padding:0px 15px 0px 5px !important;
background-color: #fff  !important;
-webkit-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1)  !important;
-moz-box-shadow: inset 2px 2px 2px rgba(0,0,0,.1)  !important;
box-shadow: inset 3px 2px 2px rgba(0,0,0,.1)  !important;
/*height:25px  !important;*/
color:##797979 !important;
}
.objective-title, .custom-objective{
	margin-right: 30px !important;
}

.obj_highlighted_txt
{
display: inline-block;
background-color:#F5F5F5;
padding: 0px 9px;
margin: 2px;
font-weight: 600;
font-size: 13px;
line-height: 2.3em;
color:#636363;
}
.majors-error{
	display: none;
	position: relative;
	font-style: italic;
	padding: 8px;
	top: -12px;
	background-color: rgba(255, 219, 7, 0.25);
	color: #FF7F00;
}



.otherScoreRow .closex-img{
	width: 15px;
	height: 15px;
}

.otherScoreRow .closex-btn-box{
	padding: 6px 0;
}

.scoreClassName{
	padding-right: 5px;
}

.comp_name_row{
	padding-top: 15px;
	line-height: 17px;
}
.comp_name_row .model_label_txt{
	padding-top: 9px;
}

.experience_type_label{
	line-height: 17px;
	padding-top: 9px;
}

@media only screen and (min-width: 64.063em) and (max-width: 78em) {
	.comp_name_row .model_label_txt{
		padding-top: 0;
	}

	.experience_type_label{
		padding-top: 0;
	}
}

@media (max-width:640px){
	.comp_name_row{
		line-height: 30px;
	}

	.experience_type_label{
		line-height: 27px;
	}
}