/*
|--------------------------------
| Global Content CSS
|--------------------------------
*/
body,html
{
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	height:100%;
	width:100%
}

h1,h2,h3,h4,h5,h6
{
	color:#1F1F1F
}

ul,ul li
{
	margin:0
}

/*
|--------------------------------
| Main Content CSS
|--------------------------------
*/

.profile-left-site-bar-mobile{

	width: 240px;
	display: inline-block;
	float: left;
	position: absolute;
}


.profile-content-container{
	width: auto;
	/*width: calc(100% - 485px);*/
	position: relative;
	margin-left: 240px;
	padding-right: 248px;

}
.personalicon
{
	background:url(/images/profileSprite.png) no-repeat scroll -1px -128px rgba(0,0,0,0);
	height:21px;
	width:20px;
	display:block
}

.profilePanelAlert
{
/*height:30px;*/
	margin-top:15px;
	background-color:#fff;
	border:solid 1px #b8b9ba;
	padding:8px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px
}

.profilePanel
{
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:3px;
	list-style:none outside none;
	background-color:#fff;
	padding:30px;
	margin-bottom:10px;
	display:none;
	/*margin-right: 200px;*/
}

.profilePanel#uploadcenter{
	margin-bottom: 700px;
}

.profilePanel h2
{
	margin:0 0 5px;
	padding:0;
	text-align:left;
	font-size:/*font-weight:700*/
23px
}

.profilePanel h3
{
	margin:0;
	padding:0;
	text-align:left;
	font-size:18px;
	font-weight:700
}

.profilePanel h4
{
	color:green;
	margin:0;
	padding:0;
	text-align:left;
	font-size:15px;
	font-weight:700
}

#ScoreInfoForm .title,.profilePanel .title
{
	font-size:14px;
	font-weight:700;
	color:#797979
}

.profilePanel .icon
{
	float:left;
	margin:0 0 30px 10px;
	padding:0
}

.profilePanel .personalicon
{
}

.profilePanel .visibleOptionTxt
{
	font-size:16px;
	font-weight:400;
	color:#797979;
	margin-bottom:20px
}

.profilePanel .profilepic
{
	margin:0;
	padding:0;
	width:115px
}

.profilePanel .info
{
	font-size:14px;
	font-weight:400;
	color:#797979;
	margin-bottom:20px
}

.profilePanel .editmode,.profilePanel .editmode2,.profilePanel .editmode3,.profilePanel .editmode4,.profilePanel .editmode5
{
	display:none
}

.profilePanel .editInfo
{
	cursor:pointer;
	color:blue;
	text-decoration:underline;
	font-size:20px
}

.profilePanel .cancelButton
{
	cursor:pointer
}

/*
|--------------------------------
| SIDE NAV CSS
|--------------------------------
*/
.side_nav
{
	background-color:#FFF;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	list-style:none outside none;
	margin:0 0 20px;
	padding:0
}

.side_nav li
{
	position:relative;
	cursor:pointer
}

.side_nav label
{
	font-size:18px;
	margin-left:17px;
	padding-top: 10px;
}

.side_nav .menubutton {
	width: 100%;
	margin-bottom: 5px;
	margin-top: 5px;
	border-left: 5px solid #fff;
}

.side_nav .menubutton > span
{
	background-color:#F5F5F5;
	border:1px solid #D7D8D9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#000;
	display:block;
	font-size:12px;
	font-weight:400;
	height:36px;
	margin:0 15px 0 10px;
	padding-top:6px;
	text-align: center;
}

.side_nav .selected {
	border-left: 5px solid #000;
}

.side_nav .selected span {
	background-color: #26B24B;
	color: #fff;
}

.side_nav .personalicon
{
	display:block;
	position:absolute;
	left:21px;
	top:6px;
	background:url(/images/profileSprite.png) no-repeat;
	background-position:-1px -128px;
	width:20px;
	height:21px
}

.objectiveicon
{
	display:block;
	position:absolute;
	left:21px;
	top:10px;
	background:url(/images/profileSprite.png) no-repeat;
	background-position:-1px -47px;
	width:21px;
	height:14px
}

.financialinfo-icon{
	display:block;
	position:absolute;
	left:21px;
	top:10px;
	background:url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/financial-icon-profile_black.png') no-repeat;
	width:21px;
	height:14px	
}

.uploadcenter-icon{
	display:block;
	position:absolute;
	left:21px;
	top:10px;
	background:url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/upload-icon-profile_black.png') no-repeat;
	width:21px;
	height:14px
}

.scoresicon
{
	display:block;
	position:absolute;
	left:21px;
	top:10px;
	background:url(/images/profileSprite.png) no-repeat;
	background-position:-1px -164px;
	width:20px;
	height:13px
}

.highschoolicon
{
	display:block;
	position:absolute;
	left:21px;
	top:6px;
	background:url(/images/profileSprite.png) no-repeat;
	background-position:-1px -325px;
	width:18px;
	height:20px
}

.collegeicon
{
	display:block;
	position:absolute;
	left:14px;
	top:9px;
	background:url(/images/profileSprite.png) no-repeat;
	background-position:-1px -16px;
	width:32px;
	height:15px
}

.profilePanel input
{
	-moz-border-radius:0;
	-webkit-border-radius:0;
	border-radius:0;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
	box-shadow:none;
	font-size:14px;
	height:22px;
	padding:0
}

.profilePanel .datebox
{
	width:35px;
	display:inline
}

.profilePanel .cancelButton
{
	background-color:#fff;
	color:#797979;
	margin:0;
	padding:0 10px;
	text-align:center;
	font-size:14px
}

.profilePanel .savebutton
{
	background-color:#FF5C26;
	color:#FFF;
	margin:0;
	text-align:center;
	font-size:14px;
	height:30px;
	border:solid 0;
	width:90px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px
}

.profilePanel .saveContinueButton
{
	background-color:#F5F5F5;
	color:#FF5C26;
	margin:0;
	padding:10px;
	text-align:center;
	font-size:14px
}

/*
|--------------------------------
| MODAL CSS
|--------------------------------
*/
#profileUnlockmodal .ui-menu-item a
{
	color:#79796A;
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	font-size:12px
}

#profileUnlockmodal
{
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;

}


#profileUnlockmodal h3
{
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	font-size:32px
}

#profileUnlockmodal p
{
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	font-size:16px;
	color:#79796A
}

#profileUnlockmodal label
{
	color:#79796A;
	font-size:14px;
	font-weight:700
}

#profileUnlockmodal input
{
	color:#79796A;
	font-size:14px;
	font-weight:700
}

#profileUnlockmodal .button
{
	background-color:#FF5C26;
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	font-size:25px;
	font-weight:400;
	padding-bottom:11px;
	padding-top:11px;
	width:100%;
	color:#fff;
	border-radius: 3px;
}

#profileUnlockmodal .homepageSkipQuestions
{
	margin-top:1px
}

#profileUnlockmodal .homepageSkipQuestions a
{
	display:block;
	padding: 12px 0;
	text-decoration:underline;
	color:#9F9F92;
	font-size:15px
}

.welcomeFormCircle
{
	behavior:url(PIE.htc);
	background-color:#989889;
	border:2px solid #989889;
	border-radius:50%;
	color:#FFF;
	font-weight:700;
	height:34px;
	padding:8px;
	text-align:center;
	width:34px
}

#profileUnlockmodal .close-reveal-modal
{
	position:relative
}

#profileUnlockmodal .ui-widget-content
{
	/*background:url(/images/ui-bg_flat_75_ffffff_40x100.png) repeat-x scroll 50% 50% #fff;*/
	border:1px solid #aaa;
	color:#222;
	height:inherit
}

.gedpassicon{
	background-image: url('/images/pass.png');
	width: 94px;
	height: 32px;
	background-size: contain;
	cursor: pointer;
}

.gedpassicon:hover{
	background-image: url('/images/pass_hover.png');
}
.gedpassicon.active{
	background-image: url('/images/ged_pass_hover.png');
}


.gedfailicon{
	background-image: url('/images/fail.png');
	width: 94px;
	height: 32px;
	background-size: contain;
	cursor: pointer;

}

.gedfailicon:hover{
	background-image: url('/images/fail_hover.png');
}

.gedfailicon.active{
	background-image: url('/images/ged_fail_hover.png');
}

/* Size high resolution icon images
 */
.edit_pencil img, .close_x img{
	height: 1em;
}



/*****************************
*	Objective modal
*****************************/
#editObjectiveContent{
	width: 80%;		/* to set width */
	max-width: 80%; /* to override foundation's max-width which limits width */
}

.objective-outerrow{
	max-width: 100% !important;
	width: 94% !important;
}

.sub-2-italic{
	color: #797979;
	font-style: italic;
	font-size: 17px;
	margin-bottom: 10px;
}

.objective-input{
	width: 100%;
	border: 1px solid #dddddd !important;
	border-radius: 5px !important;
	padding: 0px 15px !important;
	box-shadow: none !important;
	color: #999999 !important;
	background-color: #ffffff;
}
.objective-input option{
	padding: 5px;
}

.objective-label{
	color: #797979;
	font-size: 15px;
	line-height: 1.7em;
}

.majors-title{
	font-size: 24px;
	line-height: 1em;
	color: #636363;
	margin-top: -9px;
}
.majors-sub-title{
	font-size: 15px;
	color: #636363;
}
.column .majors-container{
	padding-left: 29px !important;
	min-height: 180px !important; /* keeps box from shifting contents too much as user adds and removes crumbs */ 
}


/***************** major  *********************/

.majors-list-select{
	position: absolute;
    z-index: 1000;
    margin-top: -20px;
    background: #ffffff;
    color: #797979;
    border: 1px solid #cccccc;
    font-size: 12px;
    line-height: 27px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    max-width: calc(100% - 16px);
    white-space: nowrap;
    text-overflow: ellipsis;
    display: none;
}

.majors-list-select .popular,
.majors-list-select .other{
	min-height: 30px;
}
.major-listing-cont{
	display: block;
    padding: 0px 15px;
    cursor: pointer;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.major-listing-cont:hover,
.major-listing-cont:focus,
.major-listing-cont:active{
	background-color: #eeeeee;
}

.major-listing-cont .major-plus{
	display: inline-block;
    background-color: #38a74b;
    color: #ffffff;
    width: 16px;
    height: 16px;
    font-weight: 600;
    line-height: 15px;
    text-align: center;
    margin-right: 5px;
    border-radius: 50%;
    font-size: 15px;
}

.most-pop-right{
	float: right;
    margin-right: 8px;
    margin-top: 10px;
    line-height: 1em;
    font-size: 13px;
    color: #38a74b;
}

.majors-list-select .line{
	margin: 13px auto;
	width: 92%;
	border-bottom: 1px dotted #cccccc;
}
.majors-list-select .line:after{
	content: 'All';
    position: absolute;
    background-color: #ffffff;
    font-size: 12px;
    line-height: 8px;
    padding: 0px 5px 0px 10px;
    right: 6px;
    margin-top: -5px;
}

#majors_list_objective > *{
	display: inline-block;
}

#majors_crumb_list > *{
	display: inline-block;

}

#majors_crumb_list .major-crumb{
	margin-right: 5px;
	margin-bottom: 5px;
	line-height: 1em;
	padding: 5px 7px;
	border-radius: 1px;
	font-size: 13px;
	background-color: #797979;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color: #ffffff;
}

#max-note{
	color: rgba(217, 0, 0, 0.92);
    border-left: 1px solid rgba(217, 0, 0, 0.36);
    border-right: 1px solid rgba(217, 0, 0, 0.36);
    border-top: 1px solid rgba(217, 0, 0, 0.36);
    border-bottom: none;
    padding: 0px 20px;
    height: 35px;
    font-size: 10px;
    display: none;

}

#duplicate_crumb_error{
	display: none;
	font-style: italic;
    position: relative;
    padding: 8px;
    top: -12px;
    background-color: rgba(255, 219, 7, 0.25);
    color: #FF7F00;
    
}

.obj-close-btn{
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
	line-height: 15px;	/* for vertical align */
	height: 15px;
	width: 15px;
	background-color: #ffffff;
	margin: 0px 6px;
	border-radius: 50%;
	font-weight: 600;
	color: #797979;
	font-size: 15px;
}

/**************** end major crumbs*****************/

















@media only screen and (min-width: 90.063em) {
	#profileUnlockmodal .wrapper
	{
		width:611px;
		margin:0 auto
	}
	
}

/*
|--------------------------------
| Profile Boxes
|--------------------------------
*/
/* dont think this is used anywhere
.topleft li a
{
	height:40px;
	padding:0;
	margin:0
}
*/
.red
{
	color:red;
	float:right;
	font-size:12px;
	margin-top:11px
}

.viewmode > h2
{
	display:inline-block
}

.dis-in-Block
{
	display:inline-block
}

.progress-div
{
	font-size:18px;
	color:#1F1F1F;
	font-weight:400
}

.school-name
{
	font-size:13px
}

.editInfo
{
	font-size:16px!important;
	font-weight:700;
	color:#98D0EC!important
}

.privacy-settings
{
	float:right;
	margin-top:7px;
	font-size:14px;
	text-align:right
}

.line-heighter, .transcript_row {
	line-height: 30px;
}

.no-transcript
{
	font-size:13px
}

.school-name
{
	margin-top:5px;
	color:#797979;
	font-family:16px
}

.school-detail
{
	font-size:13px;
	color:#797979
}

.school-detail.current
{
	font-weight:700
}

.button.tiny,.button.tiny
{
	background:#f5f5f5;
	color:#000;
	font-family:14px
}

.profilePanel h3
{
	font-weight:400;
	margin-bottom:8px
}

#highschoolInfoCourseForm .btn-toggler, #collegeInfoCourseForm .btn-toggler
{
	background:#fff;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#c7c7c7;
	font-family:14px;
	font-weight:700;
	padding: 1px;
}

#highschoolInfoCourseForm .btn-toggler:hover, #collegeInfoCourseForm .btn-toggler:hover
{
	background:#26B24B;
	color:#FFF
}

#highschoolInfoCourseForm .btn-toggler-selected, #collegeInfoCourseForm .btn-toggler-selected
{
	background:#26B24B;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#FFF;
	font-family:14px;
	font-weight:700;
	padding: 1px;
}

#highschoolInfoCourseForm .btn-toggler1, #collegeInfoCourseForm .btn-toggler1
{
	background:none repeat scroll 0 0 #fff;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#c7c7c7;
	font-size:26px;
	font-weight:700;
	height:70px;
	padding:4px;
	width:41px
}

#highschoolInfoCourseForm .btn-toggler1:hover, #collegeInfoCourseForm .btn-toggler1:hover
{
	background:#26B24B;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#FFF;
	font-size:26px;
	font-weight:700;
	height:70px;
	padding:4px;
	width:41px
}

#highschoolInfoCourseForm .btn-toggler1-selected, #collegeInfoCourseForm .btn-toggler1-selected
{
	background:#26B24B;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#FFF;
	font-size:26px;
	font-weight:700;
	height:70px;
	padding:4px;
	width:41px;
}

#highschoolInfoCourseForm .btn-toggler-pass, #collegeInfoCourseForm .btn-toggler-pass
{
	background:none repeat scroll 0 0 #fff;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#c7c7c7;
	font-size:26px;
	font-weight:700;
	height:70px;
	padding:4px;
	width:41px
}

#highschoolInfoCourseForm .btn-toggler-fail, #collegeInfoCourseForm .btn-toggler-fail
{
	background:none repeat scroll 0 0 #fff;
	border:3px solid #c7c7c7;
	border-radius:6px;
	color:#c7c7c7;
	font-size:26px;
	font-weight:700;
	height:70px;
	padding:4px;
	width:41px
}

#highschoolInfoCourseForm .ui-slider-handle, #collegeInfoCourseForm .ui-slider-handle
{
	background:#000;
	top:-10px;
	border:solid 2px #fff;
	height:35px;
	width:40px;
	color:#fff;
	padding:5px 0;
	text-align:center;
	vertical-align:middle;
	font-size:17px
}

#highschoolInfoCourseForm .ui-widget-header, #collegeInfoCourseForm .ui-widget-header
{
	background:#BDBDAE;
}





#highschoolInfoForm .ui-widget-content, #highschoolInfoCourseForm .ui-widget-content, #collegeInfoForm .ui-widget-content, #collegeInfoCourseForm .ui-widget-content, #personalInfoForm .ui-widget-content {
	background:url(/images/slider-bg.png) repeat-x;
	height: 15px;
}

/* Once there are no issues with the above rules, this can be deleted
#hsSubOpt3 .ui-widget-content, #subOpt3 .ui-widget-content {
	background:url(/images/slider-bg.png) repeat-x;
	height: 15px;
}
*/
.gradeGroup{
	margin: 1em 0;
}

#personalInfoForm .ui-menu-item
{
	font-size:14px!important
}


.editmode h2
{
	font-size:18px
}

.cancelButton.close-reveal-modal
{
	color:#797979;
	font-size:14px;
	line-height:28px;
	right:inherit;
	text-align:center;
	top:inherit;
	width:70px
}

dialog .close-reveal-modal,.reveal-modal .close-reveal-modal
{
	position:inherit
}

.removeButton
{
	width:156px;
/*padding: 8px 0;*/
	padding:0;
	margin-bottom:0;
	text-align:center;
	vertical-align:middle;
	background-color:#f5f5f5;
	font-size:14px;
	color:#797979;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	line-height:28px;
	cursor:pointer
}

.savebutton
{
	background-color:#FF5C26;
	color:#FFF;
	margin:0;
	padding:0;
	cursor:pointer;
	text-align:center;
	font-size:14px;
	height:30px;
	border:solid 0;
	width:90px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	line-height:28px
}

.editmode .cancelButton
{
	text-align:right;
	line-height:30px;
	cursor:pointer
}

@media (max-width:640px) {
	.editmode .cancelButton
	{
		text-align:left;
		line-height:30px;
		cursor:pointer
	}
}

.editmode3 .cancelButton
{
	text-align:right;
	line-height:30px;
	cursor:pointer
}

.editmode3 .trans-title
{
	color:#1F1F1F;
	font-size:20px
}

.editmode3 .drag-box
{
	background:#F5F5F5;
	height:100px;
	margin:20px 0;
	border:1px dashed #ccc;
	color:#797979;
	vertical-align:middle;
	text-align:center;
	padding:40px 0;
	box-sizing:border-box
}

.editmode3 .close-reveal-modal
{
	font-size:1.5rem;
	color:#000
}

.curr-school
{
	font-weight:700;
	font-size:13px;
	line-height:35px
}

.gradeopt
{
	height:64px;
	padding:5px 0;
	width:100px!important
}

.gradeoptsmall
{
	font-size:16px!important;
	font-weight:700!important;
	height:40px;
	padding:8px!important;
	width:104px!important
}

.changeGrade {
	float: right;
	font-size: 14px;
	font-weight: bold;
	color: #FF5C26;
	display: none;
	cursor: pointer;
}

.hs-icon-course
{
	background-image:url(/images/i-high-school.png);
	background-repeat:no-repeat;
	height:19px;
	width:18px;
	float:left;
	vertical-align:middle;
	margin:5px
}
@media (max-width:480px){

	.hs-icon-course{
		margin: 17px 5px;
	}

}

.reveal-modal .hs-icon-course{
	margin: 18px 7px;
}

@media (max-width:640px){

	.reveal-modal .hs-icon-course{
		margin: 12px 7px;
	}

}

.paddingleft0
{
	padding-left:0
}

.edit-img {
	padding-left:5px;
	vertical-align: middle;
	padding-top: 3px;
}

.edit-normal {
	vertical-align: middle;
	border: 0px;
}

.edit-icon {
	border:0px; 
	cursor:pointer;
	vertical-align: top;
}

.score-icon {
	padding-bottom:5px;
	cursor:pointer;
	border: 0px;
}

.requiredtxt
{
	float:right;
	font-size:14px;
	margin-top:11px;
	color:#B20000;
	font-weight:700
}

.headCol
{
	color:#797979;
	font-size:13px;
	font-weight:700
}

.headColData
{
	color:#797979;
	font-size:13px
}

.green_head
{
	color:#26B24B;
	font-size:16px
}

.black_sub_head
{
	color:#1F1F1F;
	font-size:13px;
	font-weight:700
}

.row_first
{
	color:#797979;
	font-size:13px;
	height:30px;
	padding:8px 0;
	margin-bottom:3px!important
}

.row_second
{
	background-color:#f8f8f8;
	color:#797979;
	font-size:13px;
/*
	height:30px;
	*/
	padding:8px 0;
	margin-bottom:3px!important
}

.left-border-0
{
	border-left:3px solid #26B24B
}

.left-border-1
{
	border-left:3px solid #26C9FF
}

.left-border-2
{
	border-left:3px solid #F66
}

.left-border-3
{
	border-left:3px solid #FF0
}

.left-border-4
{
	border-left:3px solid #5CFF26
}

.left-border-5
{
	border-left:3px solid #004358
}

/* College Update File */
.col-icon-course
{
	background-image:url(/images/i-convocation.png);
	background-repeat:no-repeat;
	float:left;
	height:19px;
	margin:8px 0 0;
	vertical-align:middle;
	width:35px
}

.reveal-modal .col-icon-course{
	margin: 17px 5px;
}

@media (max-width:640px){

	.reveal-modal .col-icon-course{
		margin: 12px 2px;
	}


}


/* commeted this out to make title match high school
.title-heads > div{
	font-size:16px;
}*/
.title-names > div
{
	color:#797979;
	font-size:13px
}

.title-names > div:first-of-type
{
	border-left:3px solid #26B24B
}

.title-courses > div
{
	color:#797979;
	font-size:13px;
	font-weight:700;
	text-align:center
}

.text-maj-min
{
	color:#98D0EC!important
}

.profilePanel .savebutton
{
	height:auto;
	padding:9px
}

.button.tiny,.button.tiny
{
	font-family:Century Gothic;
	font-size:14px
}

.label-edit-form
{
	font-size:13px;
	font-family:Century Gothic;
	font-weight:700
}

.minute-black
{
	background:none repeat scroll 0 0 #797979!important;
	color:#fff!important;
	font-size:14px!important;
	font-weight:700
}

a.highschoolAdd,a.highschoolAdd:link,a.highschoolAdd:hover,a.highschoolAdd:active,a.highschoolAdd:visited
{
	color:#98D0EC;
	font-size:16px;
	font-weight:700;
	text-decoration:underline
}

.highschoolWhotxt
{
	color:#797979;
	font-size:14px;
	text-align:right
}

@media (max-width:640px) {
	.highschoolWhotxt
	{
		color:#797979;
		font-size:14px;
		text-align:left
	}
}

.schoolThead
{
	color:#1F1F1F;
	font-size:11px
}

.edit_school_heading{
	font-size: 2em;
	padding-left: 0.2em;
}

.edit_course_sub_heading{
	font-size: 18px;
	line-height: 18px;
	margin-bottom: 0.5em;
}

.profile-hs-gradeReceived-head{
	padding-bottom: 10px;
}

.edit_school_merge_warning, .deleteWarning{
	color: #ff6666;
	padding: 1em;
	display: none;
}

.hs_info_label, .col_info_label, .edit_school_label{
	font-weight: bold;
	color: #797979;
}

.model_label_txt
{
	color:#797979;
	font-size:13px;
	font-weight:700
}

.model_input_text
{
	border:1px solid #aaabac!important;
	color:#797979!important;
	font-size:13px!important;
	height:24px!important;
	padding:2px!important
}

.addcourseLabel
{
	color:#000!important;
	font-size:18px!important;
	font-weight:400!important
}

/* the cancelButton was taken in two directions here. I commented out the second one.*/
.cancelButton
{
	text-align:right;
	line-height:30px;
	cursor:pointer
}/*
.cancelButton
{
	text-align: left !important;
	line-height: 30px !important;
	cursor:pointer !important;
}*/
	
}

/* Personal Information 13 july */
.edit-manage
{
	margin-left:25px
}

.the-profile-form
{
	font-size:13px;
	margin:10px 0
}

/* if img size is 23px X 23px there would not be media query*/
.the-profile-form img {
	padding-right: 3px; 
}

.bold-font
{
	font-weight:700!important
}

.bold-font > label
{
	font-weight:700!important
}

.panel
{
	background:#98D0EF;
	color:#FFF;
	font-size:16px;
	font-weight:700
}

.plex-pr-link
{
	font-weight:400;
	text-decoration:underline;
	margin-top:5px
}

.personalicon
{
	display:inline-block;
	vertical-align:middle;
	margin-right:5px
}

.objectiveicon
{
	display:inline-block;
	vertical-align:sub;
	margin-right:5px
}

.personalInfoform
{
	font-size:13px
}

#personalInfoEdit #infoSkype {
	background-image: url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/skype_icon.png");
	background-repeat: no-repeat;
	background-position: 1% center;
	padding-left: 30px;
}

.padding0
{
	padding:0
}

.row.padder0 > div
{
	line-height:18px;
	padding: 0px 0px 5px 20px;
}

.objective-title
{
	font-size:15px;
	line-height:22px
}

.custom-objective
{
	font-size:16px;
	margin-right:10px
}

.cust-objectives
{
	font-size:13px;
	line-height:20px
}

.personal-title
{
	color:#1F1F1F;
	font-size:23px
}

.top-8marginer
{
	margin-top:8px
}

.margin5lr
{
}

.row .column .btn-remove-school{
	background: #f5f5f5;
	border-radius: 2px;
}

#profile .close-reveal-modal{
	font-size: inherit;
}


.button.btn-text{
	font-size: 13px;
	font-weight: bold;
	color: #b9babb;
	padding: 10px;
	text-align: center;
	background: none;
	width: 100%;
}

.button.btn-text:hover{
	background: none;
	color: #797979;
	text-decoration: underline;
}

.button.btn-cancel{
	font-size: 13px;
	font-weight: bold;
	color: #b9babb;
	padding: 10px;
	text-align: center;
	border: 1px solid #b9babb;
	border-radius: 2px;
	background: none;
	width: 100%;
}

.button.btn-cancel:hover{
	background-color: #f5f5f5;
	color: #797979;
	border: 1px dashed #797979;
}

.button.btn-Save {
	background: #FF7F00;
	border-radius:2px;
	color:#FFF;
	font-size:14px!important;
	padding:10px;
	text-align:center;
	cursor:pointer;
	width: 100%;
}


.button.btn-removeInfo{
	background:#f5f5f5;
	border-radius:2px;
	color:#797979;
	font-size:14px!important;
	padding:10px;
	text-align:center;
	cursor:pointer;
	width: 100%;
}
.button.btn-removeInfo:hover{
	background:#797979;
	color:#f5f5f5;
}

.button.btn-save-continue {
	background:#F5F5F5;
	color:#FD9C3D;
	font-size:14px!important;
	padding:10px;
	text-align:center
}

#profile_picture{
	cursor:pointer
}

#modal_profile_picture{
	margin-bottom: 1em;
}

#remove-picture-confirm-row{
	display: none;
}

dialog,.reveal-modal
{
	height:auto
}

.upload-pic-title
{
	font-size:18px
}

.margin10top
{
	margin-top:10px
}

.top-20marginer
{
	margin-top:20px
}

.btn-upload-pic
{
	background:#FF5C26;
	color:#FFF;
	font-size:14px!important;
	padding:10px 20px;
	text-align:center
}

.file-btn
{
	margin-bottom:6px!important
}

.drag-drop
{
	border:1px dashed #999;
	margin-bottom:10px;
	padding:35px
}

/* Objective Page styles 16 july */
.obj-title
{
	font-size:22px
}

.objEdit-modal-privacy-settings
{
	float:right;
	font-size:14px;
	margin-top:24px;
	text-align:right
}

.line-height35
{
	line-height:35px
}

.obj-styled-select
{
	border:1px solid #A8A8A9;
	box-shadow:1px 0 3px #B9BABB inset;
	color:#797979;
	font-size:14px;
	height:25px;
	padding:0
}

.no-resize
{
	resize:none
}

/* Publications Page Styles 16 july */
.publications-title
{
	font-size:23px
}

.edit-pub
{
	color:#98D0EC;
	cursor:pointer;
	font-size:14px;
	text-decoration:underline;
	color:#98d0ec;
	font-size:14px
}

.no-certificates
{
	font-size:14px;
	line-height:25px
}

.obj-styled-select
{
	border:1px solid #A8A8A9;
	box-shadow:1px 0 3px #B9BABB inset;
	color:#797979;
	font-size:14px;
	height:25px;
	padding:0
}

.add-pub-btn
{
	background:none repeat scroll 0 0 #b9babb;
	border-radius:5px;
	color:#fff;
	padding:5px 30px;
	font-weight:700
}

.author-add-instruction
{
	font-size:11px;
	color:#797979;
	margin-bottom:5px
}

.pub-book-title
{
	font-size:16px;
	font-weight:700;
	line-height:30px
}

.styled-hr
{
	border-color:#000;
	border-style:solid;
	border-width:1px;
	margin:0 0 0 2.5%;
	width:96%
}

/* Patents Page Styles 17 July */
.patents-editmode
{
	color:#98D0ED;
	font-size:14px;
	text-align:right
}

.patents-editmode > img
{
	vertical-align:sub
}

.obj-styled-checkbox
{
	margin-right:5px!important;
	vertical-align:sub
}

.no-margin-padding
{
	margin:0!important;
	padding:0!important
}

.certify-ul
{
	font-size:14px;
	font-weight:400;
	list-style:disc outside none
}

.profile-close-x{
	height: 1em;
	width: 1em;
}
/*//////////////////// Bullet point rework css \\\\\\\\\\\\\\\\\\\ */
.viewmode .profile-item-desc{
	margin-bottom: 1em;
}

.viewmode .profile-item-url{
	margin-bottom: 1em;
}

.viewmode .bullet-ul{
	margin-bottom: 10px;
}

#bullets-heading{
	margin-bottom: 5px;
}

.bullet-closex{
	line-height: 2em;
	color: #797979;
	cursor: pointer;
}


.bullet-li{
	list-style-type: square;
	list-style-position: inside;
}

.btn-bullet-points
{
	background:none repeat scroll 0 0 #797979!important;
	font-size:12px;
	font-weight:700;
	margin-left:0;
	padding:11px 5px;
	text-align:center
}

/*\\\\\\\\\\\\\\\\\\\\ Bullet point rework css ////////////////////*/

/* College Mobile view */
@media(max-width:480px) {
	.profilePanel h3
	{
		font-size:16px
	}
	
	.editInfo
	{
		font-size:12px!important;
		text-align:right;
		display:inline-block
	}
	
	.privacy-settings
	{
		text-align:center;
		margin-top:0
	}
	
	.profilePanel .savebutton
	{
		width:100%
	}
	
	.title-heads > div
	{
		font-size:12px;
		margin-top:10px
	}
	
	.showcancelButton
	{
		text-align:center
	}
	
	.button.tiny,.button.tiny
	{
		margin-top:8px;
		width:31.1%
	}
	
	.profilePanel h2
	{
		margin-top:15px
	}
	
	.title-heads
	{
		margin-top:40px
	}
	
	.col-icon-course
	{
		margin-top:17px;
	}
	
	.dropzone .default.message
	{
		display:none
	}
	
	.profilePanel h2
	{
		font-size:19px
	}
	
	.mob-row-title
	{
		color:#26b24b;
		font-size:13px
	}
	
	.mob-hr-styled
	{
		border-color:#c6c6c6;
		border-style:dashed
	}
	
	.hidden-small
	{
		visibility:hidden
	}
}

#changeProfilePic .dropzone
{
	border:none!important;
	background:none!important;
	padding:23px
}

#changeProfilePic .dropzone .default.message
{
	background-image:none!important;
	background-repeat:no-repeat;
	background-position:0 0;
	position:absolute;
	width:100%!important;
	height:100px!important;
	margin-left:-214px;
	margin-top:-61.5px;
	top:50%;
	left:50%
}

.upload-title
{
	color:#1F1F1F;
	font-size:18px;
	font-weight:700
}

.transcript_confirm_row{
	display: none;
}

.transcript-blue
{
	color:#0085B2;
	font-size:14px;
	font-weight:700;
	padding:10px 10px 10px 0
}

.objective_select
{
	width:35%
}

.objective_textarea
{
	height:110px!important
}

/* Start Classes for Notification Alert */
.prog-main-div
{
	margin-bottom:15px;
	margin-top:0;
	background:#FFF;
	border-radius:11px;
	width:100%;
	float:left;
	padding:15px;
	color:#000;
	position:relative
}

.prog-main-div .close-btn
{
	position:absolute;
	right:10px;
	top:10px;
	z-index:2
}

.prog-main-div .info-icon
{
	position:absolute;
	right:50px;
	bottom:20px
}

.prog-main-div .prog-title
{
	font-size:24px;
	font-weight:700;
	margin:10px 0 20px
}

.prog-main-div .prog-subtitle
{
	font-size:16px;
	font-weight:700;
	margin-bottom:10px
}

.prog-main-div .prog-desc
{
	font-size:14px
}

.prog-main-div .title-icon
{
	margin-right:10px
}

.prog-main-div .prog-title1
{
	font-size:24px;
	margin:10px 0 20px
}

.prog-main-div .prog-subtitle1
{
	font-size:20px;
	font-weight:700;
	margin-bottom:10px
}

.prog-main-div .prog-desc1
{
	font-size:14px;
	font-weight:700
}

/* End Classes for Notification Alert */
.profile_section_locked
{
	display:none;
	position:absolute;
	background-image:url(/images/locked_back.png);
	background-repeat:repeat;
	height:98%;
	z-index:1;
	color:#f3f3f3;
	font-size:13px;
	font-weight:700;
	padding:5px 15px;
	vertical-align:middle;
	margin:0 5px 2px
}

/* Temp CSS for profile edit pages. */
.validSelect
{
	display:inline-block;
	vertical-align:top;
	margin:0
}

.validSelecto
{
	display:inline-block;
	vertical-align:top;
	width: 100%;
	margin:0
}

.objAutocomplete{
	width: 200px;
}

#objMajorContainer .ui-autocomplete, #objProfessionContainer .ui-autocomplete{
	max-height: 400px;
	overflow-y: scroll;
}

/* Small screens */
@media only screen {
	#NotificationAlertBox .prog-main-div
	{
		margin-bottom:15px
	}
}

/* Define mobile styles */
/* USE THIS TO OVERRIDE FOUNDATION CSS CALLS*/
@media only screen and (max-width: 40em) {
	#profileRightSide
	{
		padding:0;
		border-radius:0
	}
	
	#NotificationAlertBox .prog-main-div
	{
		border-radius:0;
		margin-bottom:0;
		border-bottom:solid 5px #ddd
	}
	
	.prog-status
	{
		text-align:center;
		margin:19px 0
	}
	
	.profilePanel
	{
		border-radius:0
	}
	
	.mob-btn-save-profile
	{
		background:none repeat scroll 0 0 #FF5C26;
		border-radius:5px;
		padding:2px 10px;
		margin-bottom: 0px;
	}
}

/*  Medium screens and up */
@media only screen and (min-width: 40.063em) {
	.social-media-right span
	{
		text-align:left
	}
}

/* min-width 641px, medium screens */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	.prog-status
	{
		margin-top:10px
	}
}

/* Large screens and up */
@media only screen and (min-width: 64.063em) {
	
}

/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {
	
}

/* XLarge screens and up */
@media only screen and (min-width: 90.063em) {
	
}

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {
	
}

/* XXLarge screens and up */
@media only screen and (min-width: 120.063em) {
	
}

.saveButtonCss
{
	background:#FF5C26;
	border-radius:2px;
	color:#FFF;
	font-size:14px!important;
	padding:10px 25px;
	text-align:center;
	cursor:pointer;
	border:none
}

.profile_top_right
{
	background-color:#fff;
	-moz-border-radius:8px;
	-webkit-border-radius:8px;
	border-radius:8px;
	padding:10px 5px!important
}

.profile_top_right .uname
{
	font-size:26px;
	font-weight:700;
	color:#1F1F1F
}

.profile_top_right .uobj
{
	color:#1F1F1F;
	font-size:13px;
	margin:0;
	padding:0;
	text-align:left
}

.profile_top_right .ugrade
{
	font-size:20px;
	font-weight:700;
	color:#1F1F1F
}

.profile_top_right .uschool
{
	font-size:13px;
	font-weight:700;
	color:#1F1F1F
}

.profile_top_right .ugradedate
{
	font-size:15px;
	font-weight:700;
	color:#26B24B
}

.profile_view-menu
{
	background-color:rgba(0,0,0,0.8);
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	border-radius:7px;
	padding-left:5px;
	padding-right:5px
}

.social-media-right span
{
	padding-left:5px;
	padding-right:5px;
	line-height:25px;
	text-align:right
}

.profile-view-menu-ul li
{
	display:inline-block
}

.profile-view-menu-ul li a
{
	font-size:11px;
	font-weight:700;
	color:#fff;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer
}

.profile-view-menu-ul li a:hover
{
	font-size:11px;
	font-weight:700;
	color:#FF7F00;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer
}

.profile-view-menu-ul li a.active
{
	font-size:11px;
	font-weight:700;
	color:#FF7F00;
	display:inline-block;
	padding-left:5px;
	padding-right:5px;
	cursor:pointer
}

.accomp_sub_ul
{
	position:absolute;
	background-color:#fff;
	display:none;
	width:190px;
	left:-19px;
	z-index:999
}

.accomp_sub_ul li
{
	display:block
}

.accomp_sub_ul li a
{
	display:block;
	color:#1F1F1F;
	font-size:11px;
	line-height:35px;
	font-weight:400
}

.accomp_sub_ul li a:hover
{
	display:block;
	color:#1F1F1F;
	font-size:11px;
	line-height:35px;
	font-weight:400
}

.profile-view-menu-ul ul
{
	color:#1F1F1F;
	font-size:11px
}

.profile-view-box
{
	height:260px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px
}

.view-box-head
{
	color:#FFF;
	font-size:30px;
	font-weight:700;
	padding-bottom:8px
}

.view-box-subhead-left
{
	color:#FFF;
	font-size:14px;
	font-weight:700;
	text-align:left
}

.view-box-subhead-right
{
	color:#FFF;
	font-size:17px;
	font-weight:700;
	text-align:right
}

.view-box-mid-border
{
	border-bottom:solid 2px #fff;
	height:15px;
	margin-bottom:15px
}

.view-box-subhead-right-total
{
	color:#FFF;
	font-size:35px;
	font-weight:700;
	text-align:right
}

.college-gpa-left
{
	background-color:#004a7c;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	height:60px;
	line-height:50px;
	text-align:center
}

.college-gpa-right
{
	background-color:#0089b2;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	height:60px
}

.hs-gpa-left
{
	background-color:#067C16;
	border-bottom-left-radius:5px;
	border-top-left-radius:5px;
	height:60px;
	line-height:50px;
	text-align:center
}

.hs-gpa-right
{
	background-color:#26B24B;
	border-bottom-right-radius:5px;
	border-top-right-radius:5px;
	height:60px
}

.white-16-bold
{
	font-size:16px;
	font-weight:700;
	color:#fff
}

.white-18-bold
{
	font-size:18px;
	font-weight:700;
	color:#fff
}

.white-35-bold
{
	font-size:35px;
	font-weight:700;
	color:#fff
}

.school_attended_box
{
	background-color:#0089b2;
	min-height:119px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	padding:11px 15px;
	margin-bottom:12px
}

.school_attended_box .row
{
	line-height:24px;
	padding:5px
}

.profile_view_content_box
{
	background-color:#fff;
	min-height:721px;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px
}




/*//////////////////// Tell us About Yourself Modal CSS \\\\\\\\\\\\\\\\\\\\ */
.firstTimeMessageModal .ui-menu-item a {
color:#79796A;
font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
font-size:12px
}

.firstTimeMessageModal {
font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
z-index: 1001;
height: auto;
}

#recruitmeModal{
	z-index: 1001;
}

.firstTimeMessageModal h3 {
font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
font-size:32px
}

.firstTimeMessageModal p {
font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
font-size:16px;
color:#79796A
}

.firstTimeMessageModal label {
color:#79796A;
font-size:14px;
font-weight:700
}

.firstTimeMessageModal input {
color:#79796A;
font-size:14px;
font-weight:700
}

/*
.firstTimeMessageModal .button {
background-color:#FF5C26;
font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
font-size:32px;
font-weight:400;
padding-bottom:11px;
padding-top:11px;
width:100%;
color:#fff
}
*/



.firstTimeMessageModal .homepageSkipQuestions{
	padding-top: 23px;
	padding-bottom: 23px;
}

.welcomeFormCircle {
behavior:url(PIE.htc);
background-color:#989889;
border:2px solid #989889;
border-radius:50%;
color:#FFF;
font-weight:700;
height:34px;
padding:8px;
text-align:center;
width:34px
}

.firstTimeMessageModal .close-reveal-modal {
	position:relative
}

.ft_hide{
	display: none;
}

#ft_modal_student, #ft_modal_intl_student, #ft_modal_alumni, #ft_modal_parent, #ft_modal_counselor, #ft_modal_university_rep{
	display: none;
}

.firstTimeMessageModal .ft_btn_next{
	background-color:#FF5C26;
	font-family:'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
	font-size:32px;
	font-weight:400;
	padding-bottom:11px;
	padding-top:11px;
	width:100%;
	color:#fff
}

.button.ft_btn_skip{
	background-color: rgba( 0, 0, 0, 0 );
	text-decoration: underline;
}

.button.ft_btn_skip:hover{
	background-color: rgba(0, 0, 0, 0);
}

/*
#intl_school_name_container{
	display: none;
}

#intl_student_country_container{
	display: none;
}
*/


/*\\\\\\\\\\\\\\\\\\\\ END Tell us About Yourself Modal ////////////////////*/

.passfail-marg{
	margin-bottom: 15px;
}

/*international grade gpa conversion link styles*/
#profile .convert-international-grades-link{
	padding-bottom: 10px;	
}

#profile .convert-international-grades-link a{
	font-size: 12px;
	color: #797979;
	text-decoration: underline;
}



/*\\\\\\\\\\\\\\\\\\\ International Profile - start //////////////////////*/
#profile > .profile-container{
	max-width: 100%;
	width: 100%;
	min-height: 100%;
	position: relative;
}

#profile > .profile-container > div.column:last-child{
	/*border: thin solid blue;*/
}

.profile-sidebar-nav-container ul.side_nav li.menubutton{
	position: relative;
}

.profile-sidebar-nav-container .menubutton .prof_tab_perc, .profile-sidebar-nav-container .accomplishments-nav .prof_tab_perc{
	position: absolute;
	right: 22px;
	top: 8px;
}

.profile-sidebar-nav-container ul.extra-info-nav{
	padding: 0 0 10px;
}

.profile_section_locked img[src="/images/lock-icon.png"]{
	width: 15%;
}

#GradeLock.profile_section_locked img[src="/images/lock-icon.png"]{
	width: 10%;
}

#profileRightSide .for-international-students-row{
	margin-bottom: 10px;
}

.for-international-students-row .for-international-inner-row{
	background-color: #202020;
	color: #fff;
	padding: 5px;
	border-radius: 3px;
}

.for-international-students-row .for-international-inner-row > div:first-child{
	font-size: 13px;
}

.for-international-inner-row .country-change-form-container{
	padding: 0;
}

.for-international-students-row .for-international-inner-row select{
	margin: 0;
	height: 28px;
	padding: 5px;
}

.for-international-inner-row > div:last-child .save-country-change-btn{
	background-color: #2ba6cb;
	padding: 0 0 4px 0;
	cursor: pointer;
}
.for-international-inner-row > div:last-child .save-country-change-btn:hover{
	background-color: #2285a2;
}

.for-international-inner-row .remove-country-change-banner-btn{
	cursor: pointer;
	font-weight: 600;
}

/*upload center view*/
.main-uploadcenter-container small{
	color: #FF5C26;
}

.upload-docs-btn{
	background-color: #797979;
	color: #fff;
	border-radius: 3px;
	cursor: pointer;
	padding: 5px 0;
}
.upload-docs-btn:hover{
	background-color: #eee;
	color: #797979;
}

.main-uploadcenter-container .transcript-header-row > .column{
	font-size: 12px;
	color: #797979;
	font-weight: 600;
}

.main-uploadcenter-container .transcript-details-row > .column{
	font-size: 14px;
	color: #797979;
}

.main-uploadcenter-container .transcript-details-row > .column:last-child{
	font-weight: 600;
	cursor: pointer;
}

.main-uploadcenter-container .no-transcript-added-msg > .column{
	padding: 20px 6px;
	color: #797979;

}

.main-uploadcenter-container .doc-header-row > div:first-child{
	padding: 5px 6px;
	font-size: 20px;
}

.main-uploadcenter-container .transcript-details-row, .main-uploadcenter-container .transcript-header-row{
	padding-bottom: 10px;
}



/* upload docs modal */
#upload_docs_modal .fixed-col, #upload_financial_docs_modal .fixed-col{
	width: 140px;
}

#upload_docs_modal .small-8.end > div:first-child, #upload_financial_docs_modal .small-8.end > div:first-child{
	font-size: 18px;
	padding-bottom: 20px;
}

#upload_docs_modal span.upload-files-btn, #upload_financial_docs_modal span.upload-files-btn{
	color: #fff;
	background-color: #FF5C26;
	border-radius: 3px;
	padding: 3px 20px;
	cursor: pointer;
}
#upload_docs_modal span.upload-files-btn:hover, #upload_financial_docs_modal span.upload-files-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

#upload_docs_modal span.upload-files-btn input, #upload_financial_docs_modal span.upload-files-btn input{
	background-color: transparent;
	border: 0;
}

#upload_docs_modal span.cancel-upload-btn, #upload_financial_docs_modal span.cancel-upload-btn{
	color: #797979;
	padding: 3px 20px;
	cursor: pointer;
	font-weight: 100;
}



/* financial info section */
.main-financialinfo-container input#amt-able-to-pay-form{
	/*width: 200px;*/
	display: inline;
	margin: 0;
}

.main-financialinfo-container label[for="amt-able-to-pay-form"]{
	display: inline;
}

.main-financialinfo-container .financialinfo-header-row > .column,
.main-uploadcenter-container > .column > div.row:first-child > .column > div:first-child {
	font-size: 23px;
}

.main-financialinfo-container .financialinfo-header-row small{
	color: #FF5C26;
}

.main-financialinfo-container .financialinfo-header-row > .column > div{
	font-size: 16px;
}

.main-financialinfo-container .financialinfo-header-row > .column > div, .main-financialinfo-container .financialinfo-form-row,
.main-financialinfo-container .upload-financial-docs-row > .column > div:first-child{
	padding: 10px 0 10px;
}

.main-financialinfo-container .upload-financial-docs-row .upload-financial-docs-btn{
	background-color: #797979;
	color: #fff;
	border-radius: 3px;
	padding: 5px 20px;
	width: 200px;
	cursor: pointer;
}

.main-financialinfo-container .save-living-exp-btn{
	background-color: #FF5C26;
	padding: 6px 20px;
	color: #fff;
	cursor: pointer;
}
.main-financialinfo-container .save-living-exp-btn:hover{
	background-color: #eee;
	color: #FF5C26;
}

.main-financialinfo-container .usd-label-col{
	padding-top: 5px;
}

.transcript-details-row .tscript-preview-link{
	word-wrap: break-word;
}

.capitalize{
	text-transform: capitalize;
}

.missing{
	color: #b5b5b5;
}


 /*small only */
@media only screen and (max-width: 40em){
	.for-international-inner-row .country-change-form-container{
		padding: 5px 0;
	}	

	#profile #uploadcenter.profilePanel{
		padding: 10px;
		margin-bottom: 100px;
	}

	.profilePanel#financialinfo{
		padding: 10px;
	}	
} 

/*small and medium only */
@media only screen and (max-width: 64em){
	#profile > .profile-container > div.column:first-child{
		width: 220px;
	}

	.main-financialinfo-container input#amt-able-to-pay-form{
		margin-bottom: 20px;
	}
}

/*large and up */
@media only screen and (min-width: 64.063em){
	#profile > .profile-container > div.column:first-child{
		padding-left: 20px;
		width: 250px;
	}

	.for-international-students-row .for-international-inner-row > div.large-8:first-child{
		padding-top: 4px;
	}

	.for-international-students-row .for-international-inner-row > div.small-10:first-child{
		padding-top: 2px;
	}

	.for-international-inner-row >div:last-child .remove-country-change-banner-btn{
		padding: 1px 0 0 10px;
	}

	#upload_docs_modal, #upload_financial_docs_modal{
		width: 650px;
	}
}
/*\\\\\\\\\\\\\\\\\\\ International Profile - end //////////////////////*/

.tips{
	color: #797979;
	margin: 20px 0 0;
}

.note{
	color: firebrick;
	margin: 20px 0 30px;
}

.uploads-title{
	font-size: 20px;
	font-weight: 600;
	border-top: 1px solid #797979;
	border-bottom: 1px solid #797979;
	padding: 10px 6px;
	margin: 0 0 10px;
}

.upload-head{
	color: #797979;
	font-weight: 600;
	font-size: 12px;
}

.file-name, .file-date, .file-remove{
	color: #797979;
	font-size: 14px;
}

.file-name{
	color: #2ba6cb;
	cursor: pointer;
}

.file-remove{
	font-weight: 600;
	cursor: pointer;
}

ol.tips-list li{
	list-style-type: decimal;
}

.transcript-details-row.financials{
	padding: 5px 0;
}

.no-transcript-added-msg.for-finance > .column{
	color: #797979;
    background-color: #eee;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 20px auto 0;
}

@media all and (max-width: 1136px){

	.profilePanel
	{
		
		margin-right: 0px;
	}
}

@media all and (max-width: 640px){
	.profile-content-container{
		width: 100%;
		margin-left: 0px;
	}
}