/*Stylesheet for Plexuss Publisher */

body#plex-publisher{
	/*border: thin solid red;*/
	/*background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/publisher/the_publisher.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding-top: 2.5em;
}

#plex-publisher .main-plex-buildArticle-row{
	/*border: thin solid blue;*/
	max-width: 100%;
	width: 100%;
	height: 100%;
}

#plex-publisher .PlexPublisher_App{
	height: 100%;
}


.main-plex-buildArticle-row > div.column, .main-plex-buildArticle-row .build-article-container > .row,
.main-plex-buildArticle-row .build-article-container > .row > .column{
	height: 100%;
}

.main-plex-buildArticle-row > div.column{
	padding: 30px;
	/*border: thin solid red;*/
}

.main-plex-buildArticle-row .build-article-container .height-centering-container{
	position: absolute;
	left: 0;
	right: 0;
}

.main-plex-buildArticle-row .build-article-container > .row > .column:first-child .height-centering-container{
	/*top: 35%;*/
}

.main-plex-buildArticle-row .build-article-container > .row > .column:last-child .height-centering-container{
	/*top: 50%;*/
}

.main-plex-buildArticle-row .build-article-container .nav-icon-div{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	background-color: #e9e9e9;
	margin: 5px auto;
	padding-top: 13px;
	transition: background-color 300ms ease-out 0s;
	cursor: pointer;
	color: #000;
	font-weight: 600;
}
.main-plex-buildArticle-row .build-article-container .nav-icon-div:hover{
	background-color: #bababa;
}
.main-plex-buildArticle-row .build-article-container .nav-icon-div.active{
	background-color: #bababa;
}

.build-article-container > .row > .column.medium-10{
	overflow-y: auto;
}

/*right side preview container */
.main-plex-buildArticle-row .article-preview-container{
	background-color: #eee;
	box-shadow: inset 4px 0px 8px 1px #797979;
}

.main-plex-buildArticle-row .inner-preview-container{
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	background-color: #fff;
	padding: 20px;
	border-radius: 2px;
	box-shadow: 4px 5px 4px -3px #797979;
	position: relative;
}

.main-plex-buildArticle-row .bgImgAdded{
	padding: 0 0 200px;
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	color: #fff;
}

.main-plex-buildArticle-row .bgImgAdded > div{
	background-color: rgba(0,0,0,0.4);
}

.main-plex-buildArticle-row .author-content-view-section > div.column:last-child{
	border-left: 1px solid #797979;
}

.main-plex-buildArticle-row .publish-article-btn{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 10px;
}

.main-plex-buildArticle-row .publish-article-btn > span{
	padding: 7px 20px;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
}

.main-plex-buildArticle-row .publish-article-btn > span.post_dev{
	background-color: #FF5C26;
}
.main-plex-buildArticle-row .publish-article-btn > span.post_dev:hover{
	background-color: #e9e9e9;
	color: #FF5C26;
}

.main-plex-buildArticle-row .publish-article-btn > span.post_live{
	background-color: #24b26b;
	margin-left: 10px;
}
.main-plex-buildArticle-row .publish-article-btn > span.post_live:hover{
	color: #24b26b;
	background-color: #e9e9e9;
}



/*publisher menu styles - start */
#plex-publisher .publisher-menu-btn{
	position: absolute;
	border-radius: 100px;
	width: 72px;
	height: 72px;
	bottom: 0.5%;
	left: 0.2%;
	padding: 25px 7px 7px;
	z-index: 11;
	cursor: pointer;
	background-color: #202020;
	box-shadow: none;
}

#plex-publisher .publisher-menu-btn.expanded{
	height: auto;
	padding: 15px 7px 7px;
	border: none;
	box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
}

#plex-publisher .publisher-menu-btn-bg{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.5);
	z-index: 10;
	display: none;
}

#plex-publisher .publisher-menu-ul{
	display: none;
	background-color: #eee;
	margin-top: 10px;
}

.publisher-menu-ul li{
	border-left: 5px solid transparent;
	padding: 10px;
}
.publisher-menu-ul li:hover{
	border-left: 5px solid #24b26b;
	color: #24b26b;
}

.publisher-menu-ul li:not(:first-child){
	border-top: 1px solid transparent;	
}

.publisher-menu-btn > span{
	font-weight: 600;
	color: #fff;
}
/*publisher menu styles - end */


/*edit article page styles - start */
.main-plex-editArticle-row{
	/*padding-top: 40px;*/
}

.main-plex-editArticle-row .single-article-container.row{
	border-radius: 3px;
	cursor: pointer;
	margin-bottom: 10px;
	background-color: #eee;
	border-left: 4px solid transparent;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0,0.6);
}
.main-plex-editArticle-row .single-article-container.row:hover{
	border-left: 4px solid #26b24b;
	box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.6);
}

.main-plex-editArticle-row .single-article-container > .column{
	padding: 5px 10px;
}

.main-plex-editArticle-row .title, .main-plex-editArticle-row .author, .main-plex-editArticle-row .last-saved{
	color: #797979;
}

.main-plex-editArticle-row .title{
	font-size: 20px;
	font-weight: 600;
}

.main-plex-editArticle-row .last-saved, .main-plex-editArticle-row .author {
	font-size: 12px;
}
/*edit article page styles - end */


/*view authors page styles */
#plex-publisher .main-plex-viewAuthor-row, #plex-publisher .main-plex-editArticle-row {
	height: 100%;
	/*background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/publisher/the_publisher.jpg');*/
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	padding: 40px 0;
}

#plex-publisher .main-plex-viewAuthor-row > .column, #plex-publisher .main-plex-editArticle-row > .column {
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.main-plex-viewAuthor-row .single-author-container{
	margin-bottom: 15px;
	cursor: pointer;
}

.main-plex-viewAuthor-row .single-author-inner-container{
	border-radius: 3px;
	background-color: #eee;
}
.main-plex-viewAuthor-row .single-author-inner-container:hover{
	box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.6);	
}
.main-plex-viewAuthor-row .single-author-inner-container:hover .num_published{
	border-bottom-right-radius: 1px;
	border-bottom-left-radius: 1px;
	background-color: #24b26b;
}

.main-plex-viewAuthor-row .author_img{
	height: auto;
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}

.main-plex-viewAuthor-row .author_img img{
	height: 100px;
	width: 100px;
	border-radius: 100px;
}

.main-plex-viewAuthor-row .author_name{
	font-size: 20px;
	font-weight: 600;
	color: #797979;
	padding: 10px;
}

.main-plex-viewAuthor-row .author_descrip{
	color: #797979;
	padding: 10px 30px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.main-plex-viewAuthor-row .num_published{
	border-top: 1px solid #eee;
	color: #eee;
	padding: 0 0 5px;
	background-color: #797979;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}


/*autosave styles */
#plex-publisher .autosave_article_container{
	display: none;
}

#plex-publisher .premium-view-toggler{
	width: 300px;
	position: absolute;
	top: 20px; right: 20px;
}

#plex-publisher .premium-view-toggler > div{
	width: 50%;
	color: #000;
	background-color: #aaa;
	text-align: center;
	padding: 5px 0;
	cursor: pointer;
}

#plex-publisher .premium-view-toggler > div.left{
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}
#plex-publisher .premium-view-toggler > div.right{
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

#plex-publisher .premium-view-toggler > div.active{
	background-color: #797979;
}

.manage-events-bg{
 background-color: #808080;
 height:100%;
 padding: 30px 50px;
 display: table;
 width: 100%;
}

.event-card{
padding: 15px;
}
.event-card-content{
background:#fff;
color: #000;
border-radius : 10px;
box-shadow: 0 0 10px rgba(0,0,0,0.4);
text-align:center;
height: 100%;
width: 100%;
}

.event-card-content p{
padding: 20px;
font-size: 14px;
text-align:center;
margin-bottom: 0px;
}
.event-card img{
height: 150px;
width: auto;

}
.event-card .close-button{
height: auto;
width: 10px;
cursor: pointer;
}
[class*="column"] + [class*="column"]:last-child {
    float: left !important;
}
.event-popup{
	max-width: 80%;
	min-height: 300px;
	max-height: 580px;
	height:90%;
	width: 80%;
	max-width: 62.5em;
	left: 0;
	right: 0;
	margin: 0 auto;
	position: fixed;
	border-radius: 3px;
	background-color: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	padding: 1.875rem;
	top: 100px;
	overflow-y: auto;
	overflow: hidden;
}
.event-backdrop{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #000;
	background: rgba(0,0,0,0.45);
	z-index: 6;
}
#event_upload{
float: right !important;
}

.event_schedule{
text-align: left;
padding: 20px;
}

.event_schedule img {
height: 25px;
width: auto;
margin-right: 12px;
margin-bottom: 6px;
}

.wrapper_eventform{
padding: 30px;
}
.red{
color:red !important;
}
.btn-clear{
display: block;
background: transparent;
width: 100%;
}
.btn-clear:hover, .btn-clear:focus {
background: transparent;
font-weight:bold;
}
.event-card-content {
  display: inline-block;
  position: relative;
  height: 400px;
  overflow-y: hidden;
}

.details {
  display: none;
}
.event-card-content:hover .event_schedule img {
    position: relative;
    z-index: -1;
}
.event-card-content:hover {
 overflow-y: auto;
 background-color: rgba(0,0,0,0.85);
}
.event-card-content:hover .details {
  background-color: rgba(0,0,0,0.85);
  color: #fff;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  border-radius : 10px;
}

.details div {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
}
.imgPreview{
margin-bottom: 10px;
}
.grey-btn{
background-color: #95a5a5 !important;
 border-radius: 3px;
 padding: 8px 40px !important;
}
.success_btn{
background-color: #2ac56c;
border-color: #2ac56c;
color: #fff;
border-radius: 3px;
text-transform: uppercase;
}
.success_btn:hover, .success_btn:focus{
background-color: #3eba73;;
}
.close-button{
height: auto;
width: 10px;
cursor: pointer;
}
.create-event-heading{
display:inline;
}
/*large and up screens */
@media only screen and (min-width: 64.063em){
	.main-plex-buildArticle-row .publish-article-btn{
		position: fixed;
		padding: 50px;
	}
}

@media only screen and (max-width:768px){
	.main-plex-buildArticle-row > div.column, .main-plex-buildArticle-row .build-article-container > .row, .main-plex-buildArticle-row .build-article-container > .row > .column {
		height: 65% !important;
	}
	.main-plex-buildArticle-row .build-article-container .height-centering-container {
		top: -34px !important;
	}
	#plex-publisher .publisher-menu-btn.expanded {
		height: auto;
		padding: 15px 7px 7px;
		 border: none;
		box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
		bottom: 40% !important;
		left: 10% !important;
		width: 283px !important;
		border-radius: 3px !important;
	}
}
@media only screen and (max-width:768px){
	#plex-publisher .publisher-menu-btn.expanded {
		width: 256px !important;
	}
}

/* navbar style */

nav {
	background-color: #000000;
	overflow: hidden;
	padding: 1em;
	width:100%;
	z-index:5;
	position:fixed;
	top:0;
}
nav a {
	color: #ffffff;
}
.publisher-logo{
float:right;
}
nav a:visited, nav a:hover {
	color: #ffffff;
}
.navWide {
	display: block;
	margin: 0 auto;
}
.wideDiv {
}
.navWide a {
	text-decoration: none;
	display: inline-block;
}
/* Image preview style*/
.fileInput{
  padding: 10px;
  margin: 15px;
  cursor: pointer;
  }
input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
  /* alternative to pointer-events, compatible with all browsers, just make it impossible to find */
  width: 1px;
  height: 1px;
}
.hamburger-img{

width:24px;
heigth: auto;
cursor: pointer;

}
.menu-expand{
position: fixed;
background: #000;
width: 20%;
top: 0;
left: 0;
height: 100%;
z-index: 8;
color: #fff;
padding:10px;
min-width:200px
}
.menu-expand-ul{
padding: 30px 0 0 50px;
color: white;
}
.menu-expand-ul li{
padding: 15px 0px;
cursor: pointer;
}
.menu-overlay{
background: rgba(0,0,0,0.30);
height: 100%;
width: 100%;
position: fixed;
}
.menu-heading{
font-size: 22px;
padding-left: 10px;
}
.close-menu{
width:20px;
margin:6px 12px 12px 12px;
cursor:pointer;
}
.page-title{
color: #fff;
font-size: 18px;
padding-left: 10px;
}
.create_eventPopup{
position: fixed;
top: 11px;
left: 185px;
z-index: 5;
padding-top: 8px;
padding-bottom: 8px;
}
.alert-success{
margin-bottom: 10px;
font-weight: Bold;
color: green;
}
.alert-fail{
margin-bottom: 10px;
font-weight: Bold;
color: red;
}
.fake-input { position: relative;}
.fake-input input { border:none: background:#fff; display:block; width: 100%; box-sizing: border-box;}
.fake-input img { position: absolute; top: 2px; right: 5px; opacity: 0.5; margin-top: 8px; height: auto; width: auto;}
.imgPreview img{
height: 150px;
width: auto;
max-width: 100%;
}
