.right-video-panel{
	background-color:transparent;
	/*height:246px;*/
	height:auto;
	border-color:rgb(193,193,193);
	border-width:6px;
	/* Firefox v1.0+ */
	-moz-border-radius:17px ;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:17px ;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:17px ;
	border-style:solid;
	overflow:hidden;
}

.grey-seperator{
	background-color:rgb(193,193,193);
	height:5px;
}



.rank-bg-panel {
    background-image: linear-gradient(-62deg, rgb(38, 178, 75) 0%, rgb(26, 121, 52) 100%);
    border-radius: 2px;
    height: 30px;
    width: 30px;
	display:inline-block;
}

.rank-numb {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 30px;
    text-align: center;
}
.rank-bg-panel-small {
    background-image: linear-gradient(-62deg, rgb(38, 178, 75) 0%, rgb(26, 121, 52) 100%);
    border-radius: 2px;
    height: 24px;
    width: 28px;
	display:inline-block;
}

.rank-numb-small {
    color: rgb(255, 255, 255);
    font-size: 14px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}

.plex-rank-title-bottom{
	font-size:20px;
	line-height:120%;
	color:rgb(12,19,25);
	text-align:left;
	display:inline-block;
	margin-left: 10px;
}
.col-ranking-box-top
{
background:#FFF;
-moz-border-radius:6px;
-webkit-border-radius:6px;
border-radius:6px;
padding: 10px 0;
}
.ranking-img-rows div
{
font-size:10px;
width:auto;
display:inline-block;	
vertical-align:middle;
text-align:center;
line-height:10px;
}
.ranking-box-min-height
{
padding:0px !important;	
}
#ranking-search-school
{
background:#ffffff;	
}
#ranking_state
{
min-height:inherit !important;
height:22px;
padding-bottom:35px;
background:#ffffff;
}
#ranking_degree
{
min-height:inherit !important;
height:22px;
padding-bottom:35px;
background:#ffffff;
}
#ranking_school_sector
{
min-height:inherit !important;
height:22px;
padding-bottom:35px;
background:#ffffff;
}
#ranking_source
{
min-height:inherit !important;
background:#ffffff;
height:22px;
padding-bottom:35px;
}
#campus_settings
{
min-height:inherit !important;
background:#ffffff;
height:22px;
padding-bottom:35px;
}
#religious_affiliation
{
min-height:inherit !important;
background:#ffffff;
height:22px;
padding-bottom:35px;
}
@media only screen and (max-width: 40em) {
.col-ranking-box-top
{
background:transparent;
-moz-border-radius:0px;
-webkit-border-radius:0px;
border-radius:0px;
color:#F4F4F4;
padding-right:7px;
padding-left: 7px;
}
.ranking-right-head
{
margin-top:15px !important;	
}
.ranking-right-head1
{
padding-top:7px;
padding-bottom:25px;	
}
.ranking-img-rows
{
margin:10px 0 !important;	
}
.ranking-img-rows div
{
font-size:9px;
width:auto;
display:inline-block;	
vertical-align:middle;
text-align:center;
line-height:12px;
}
.ranking-top-col
{
padding-right:0px !important;	
}
.ranking-box-min-height
{
min-height:inherit !important;
padding:0px !important;	
}
}
.col-ranking-box
{
	background-color:rgb(255,255,255);	
	/* Firefox v1.0+ */
	-moz-border-radius: 5px 5px 0 0;
	/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius: 5px 5px 0 0;
	/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius: 5px 5px 0 0;
}
.plexuss-ranking-number
{
 color:#fff;
 font-size:13px;
 padding: 6px 0;
 height: 26px;
 width:40px;
 
 /* Firefox v3.6+ */
 background-image:-moz-linear-gradient(50% 0% -90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%); 
 /* safari v4.0+ and by Chrome v3.0+ */
 background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(38,178,75)),color-stop(1, rgb(26,121,52)));
 /* Chrome v10.0+ and by safari nightly build*/
 background-image:-webkit-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* Opera v11.10+ */
 background-image:-o-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* IE v10+ */
 background-image:-ms-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 background-image:linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* Firefox v1.0+ */
 -moz-border-radius:3px ;
 /* Safari v3.0+ and by Chrome v0.2+ */
 -webkit-border-radius:3px ;
 /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
 border-radius:3px ;
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=0)";
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=0);
 
 text-align:center;
}

.ranking-lists-titles {
    color: #1F1F1F;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    min-height: 62px;
    padding: 14px 0 0;
    text-align: center;
}
.ranking-lists-title-images{
	margin-bottom: 35px;
}
.ranking-button {
    background-color: #FF5C26;
    border: medium none;
    border-radius: 9px;
    color: #FFFFFF;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 120%;
    padding: 10px;
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
}
.ranking-button:hover {
	color: #FFFFFF;
}

.other-ranking-list
{
background-image:url(/images/ranking/ranking_list_other.png);
background-repeat:no-repeat;
height:269px;
}
.ranking-search-txt
{
background-color:rgb(255,255,255);
height:40px !important;
-moz-border-radius:1px  !important;
-webkit-border-radius:1px  !important;
border-radius:1px  !important;
-moz-box-shadow:0px 0px 6px rgba(0,0,0,0.28) !important;
-webkit-box-shadow:0px 0px 6px rgba(0,0,0,0.28) !important;
box-shadow:0px 0px 6px rgba(0,0,0,0.28) !important;
-ms-filter:"progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#47000000,Positive=true)";
filter:progid:DXImageTransform.Microsoft.dropshadow(OffX=0,OffY=0,Color=#47000000,Positive=true) !important;	
border:none !important;
width: 290px !important;
}
.ranking-category-box
{
-moz-border-radius:5px ;
-webkit-border-radius:5px ;
border-radius:5px ;
background-color:#ffffff;
max-width: 97%;
margin: auto;
padding:0px;
}
a.ranking-show-more
{
color:#FF7F00;
font-size:10px;
font-weight:bold;
}
.circle-ranking
{
font-size:12px;
font-weight:bold;
color:#FFFFFF;
text-align: center;
background-image:url(/images/ranking/ranking-circle.png);
background-repeat:no-repeat;
height:32px;
width:32px;
padding-top:7px;
}
.ranking-category-image
{
text-align:center;
min-height: 107px;
padding-top: 20px;
vertical-align:middle;
}
.ranking-category-box-head
{
font-size:16px;
font-weight:bold;
color:#1F1F1F;
text-align:center;
padding: 18px 0 0;
word-wrap: break-word;
}
.ranking-category-box-subhead
{
font-size:14px;
color:#0085B2;
text-align:center;
padding: 10px 0 0;
font-weight: bold;
word-wrap: break-word;
}
.ranking-college-left
{
float:left;
line-height:120%;
padding:10px 4px;
position:relative;
width:20%;
}
.ranking-college-right
{
line-height:120%;
padding:10px;
float:left;
width:80%;
height:85px;
}

.page-right-side-bar label{
text-align:left;
color:#fff;
font-size:11px;
}
.ranking-search-text{
background-color:rgb(255,255,255);
border-color:rgb(185,186,187);
border-width:1px;
border-style:solid;
-moz-box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
-webkit-box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
border-radius:0 !important;
height:auto !important;
padding:5px !important;
color:#797979 !important;
font-size:13px !important;
font-weight:normal !important;
}
.ranking-search-select{
background-color:rgb(255,255,255);
border-color:rgb(185,186,187);
border-width:1px;
border-style:solid;
-moz-box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
-webkit-box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
box-shadow:inset 4px 3px 4px rgba(0,0,0,0.1);
border-radius:0 !important;
height:auto !important;
padding:5px !important;
color:#797979 !important;
font-size:13px !important;
font-weight:normal !important;
}
.page-right-side-bar .rank_link{
	color:#fff;
	font-size:11px;
	text-decoration:underline;
}
.page-right-side-bar .rank_link.active{
	color:#FF7F00;
	font-size:11px;
	text-decoration:underline;
}
.ranking-search-more-filters
{
	color:#FF7F00;
	font-size:11px;
	text-align:left;
	margin-bottom:10px;
}
#RankingSearchPanel .ranking-search-button
{
color:#FFFFFF;
background-color:#FF5C26;
font-size:13px;	
-moz-border-radius:5px ;
-webkit-border-radius:5px;
border-radius:5px;
width:100%;
padding:5px;
border:none;
}
.ranking-clear-button
{
color:#FFFFFF;
background-color:#797979;
font-size:13px;	
-moz-border-radius:5px ;
-webkit-border-radius:5px;
border-radius:5px;
width:100%;
padding:5px;
border:none;
}
.compare-selected-school-button
{
background-color:rgb(255,128,0);
width:175px;
height:29px;
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
border-radius:3px ;	
padding:5px;
border:none;
font-size:11px;
color:#FFFFFF;
margin-top: 15px;
}
.span-img-padding
{
	padding-right:10px;
}

.TopRankingData{
	padding: 3px 20px;
}
.TopRankingData:nth-child(even) {background-color: #F5F5F5;}
.TopRankingData:nth-child(odd) {background-color: #FFFFFF;}
.ranking-listing-category-box
{
padding: 0px 6px 0px 0px  !important;
margin:10px auto !important;
margin:10px auto !important;
float:left  !important;
}
.ranking-list-row-even
{
font-size:14px;
color:#000000;
background-color:#FFFFFF;
padding-left: 8px;
}
.ranking-list-row-odd
{
font-size:14px;
color:#000000;
background-color:#F5F5F5;
padding-left: 8px;
}
.ranking-list-row:nth-child(even)
{
font-size:14px;
color:#000000;
background-color:#FFFFFF;
}
.ranking-list-row:nth-child(odd)
{
font-size:14px;
color:#000000;
background-color:#F5F5F5;
}
.ranking-list-row a, .ranking-list-row-even a, .ranking-list-row-odd a
{
color:#000000;
}
.ranking-grid-headrow
{
padding:20px 0;
font-size:12px;
color:#FFFFFF;
font-weight:bold;
background-color:#000000;	
height:53px;
}
.ranking-grid-headrow .head-columns
{
padding-left:5px;padding-right:5px;
}
.ranking-number-green
{
background-image:-moz-linear-gradient(50% 0% -63deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%); 
background-image:-webkit-gradient(linear,50% 0%,97% 92%,color-stop(0, rgb(38,178,75)),color-stop(1, rgb(26,121,52)));
background-image:-webkit-linear-gradient(-63deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
background-image:-o-linear-gradient(-63deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
background-image:-ms-linear-gradient(-63deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
background-image:linear-gradient(-63deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
border-radius:3px ;
-ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=1)";
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=1);
width: 35px;
height:30px;
text-align:center;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
padding: 10px 5px;
margin:auto;
}

.plex-college-ranking-box{
	padding: 15px 0px 20px;
}

.ranking-number-gray
{
background-color:rgb(121,121,121);
-moz-border-radius:3px ;
-webkit-border-radius:3px ;
border-radius:3px ;
width: 35px;
height:30px;
text-align:center;
color:#FFFFFF;
font-size:11px;
font-weight:bold;
padding: 10px 5px;
margin:auto;
}
.ranking-grid-data:nth-child(even)
{
padding:30px 0;
background-color:#ffffff;
min-height:90px;
}
.ranking-grid-data:nth-child(odd)
{
padding:30px 0;
background-color:#f5f5f5;
min-height:90px;
}
.ranking-grid-data a,school_info_text
{
color:#0085B2;	
}
/*********************************** Paging Css Start ************************************/
.pagination li{ display:inline-block; height:20px; width:auto; background:#000000; font-size:12px; text-align:center; margin-left:6px; vertical-align:top; }
.pagination li a{color:#ffffff !important; }
.pagination li a:hover{background:#FF5C26 !important; border-radius:1px !important;}
.pagination li.active span{background:#FF5C26 !important;padding: 0.22rem 0.635rem;}
.pagination li span{ padding:5px; color:#ffffff !important;}
.pagination li:first-child
{
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px; 
}
.pagination li.first-child:hover
{
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px; 
}
.pagination li:last-child
{
-webkit-border-top-right-radius: 50px;
-webkit-border-bottom-right-radius: 50px;
-moz-border-radius-topright: 50px;
-moz-border-radius-bottomright: 50px;
border-top-right-radius: 50px;
border-bottom-right-radius: 50px
}
/*********************************** Paging Css End ************************************/
.ranking-search-spacing {
	padding-top:5px;
	padding-bottom:5px;
	margin-bottom: 1em;
}

#RankingSearchPanel .ui-slider-handle
{
	background: none repeat scroll 0 0 #000 !important;
    border: 2px solid #fff !important;
    color: #fff !important;
    font-size: 17px !important;
    height: 22px !important;
    text-align: center !important;
    top: -4px !important;
    vertical-align: middle !important;
    width: 22px !important;
}

#RankingSearchPanel .ui-autocomplete{
	text-align: left;
}

#RankingSearchPanel .ui-widget-header
{
	background:url(/images/slider-bg.png) repeat-x;
	height:17px;
}
#RankingSearchPanel .ui-widget-content
{
	background:#BDBDAE!important
}
.text-core .text-wrap .text-tags .text-tag .text-button
{
height:auto !important;	
}
.ranking-search-form-fields
{
color: #797979;
font-weight: normal;
font-size: 13px;
height: auto;
padding: 2px;
}

#RankingSearchPanel .text-core .text-wrap .text-tags .text-tag .text-button
{
background:none repeat scroll 0 0 #0085b2;
color:#ffffff;
font-size:10px;
font-weight:bold;
background-color:rgb(0,133,178);
-moz-border-radius:5px ;
-webkit-border-radius:5px ;
border-radius:5px ;	
}
#RankingSearchPanel .text-core .text-wrap .text-tags
{
z-index:2 !important;	
}
.ranking-cat-layout-disp
{
display:block;	
}
.ranking-search-listing-main
{
background-color:#ffffff;
border-radius:5px;
padding:0px;
color:#000000;
}

/* Mobile Style for Ranking Page */
@media only screen and (max-width: 40em){
	.ranking-lists-titles{
		font-size: 12px;
    	min-height: 66px;
    	padding: 17px 0;
	}

	.ranking-lists-title-images {
   		margin-bottom: 20px;
	}

	.ranking-boxes{
		padding:0px 0px 15px 0px;
	}
	.ranking-cat-layout-disp
	{
	display:none;
	}
	#RankingSearchPanel
	{	
	padding:0px;	
	}
	.ranking_listing_search
	{
	display:none;
	}
	.ranking_result_disp
	{
	display:none;
	}
	.ranking-search-listing-main
	{
	background-color:#202020;
	border-radius:5px;
	padding:0px;
	color:#F3F3F3;
	}
	.ranking-grid-data:nth-child(even)
	{
	padding:20px 0;
	background-color:#202020;
	min-height:60px;
	}
	.ranking-grid-data:nth-child(odd)
	{
	padding:20px 0;
	background-color:#303030;
	min-height:60px;
	}
	.ranking-number-gray
	{
	background-color:rgb(245,245,245);
	color:#202020;
	}
	.ranking-grid-data a,school_info_text
	{
	color:#FFFFFF;
	}
}
/* Mobile Style for Ranking Page */
ul.pagination
{
display:inline-block !important;	
}


.TagWrapper{
	background: #fff;
}

.TagWrapper .tag {
	background: none repeat scroll 0 0 rgb(0, 133, 178);
	border: 1px solid #000;
	border-radius: 6px;
	color: #fff;
	cursor: pointer;
	display: block;
	float: left;
	font-size: 10px;
	margin: 2px 2px 0 2px;
	padding: 2px 7px 2px 5px;
	text-align: left;
	border: 1px solid #9daccc;
}

.tag:last-child{
	margin: 2px;
}

.add_tag .tag:last-child{
	display: none;
}

#degree_select, #ranking_source_select, #school_sector_select, #campus_setting_select{
	margin: 0;
}

.TagWrapper .closename{
	height: 11px;
	color: #00cf79;
	margin-left: 5px;
	width: 11px;
}

.TagWrapper .close_tag .close_x{
	margin-left: 5px;
	height: 1em;
	width: 1em;
	margin-bottom: 2px;
}

/* Used for shuffle/dealing animation MARK FOR DELETE .tag_display .tag{
	display: none;
}
*/

.TagWrapper .tag_autocomp{
	clear: both;
	margin: 0;
}

.ranking-one-place-box{
	padding-left: 23px !important;
}

.ranking-one-place-head{
	font-size: 23px;
	padding: 15px 0 10px;
}

@media (max-width:640px){
	.ranking-one-place-box{
		padding-left: 0 !important;
	}
}


/***** new ranking page with Gary's Article - start *****/
#ranking > #newshomecontent.row{
	max-width: 82em;
}

#newshomecontent .plex-ranking-meaning-container{
	padding: 10px 6px;
}


.ranking-index-content {
    padding: 50px 90px;
}


.ranking-index-content p {
	font-size: 15px;
	text-align: justify;
	line-height: 2.3em;
}

.ranking-index-content img{
	float: right;
    clear: both;
    margin: 45px 0px 45px 45px;
}

.ranking-index-content h4{
	color: #202020;
	margin-top: 90px;
}


.ranking-index-content .thumbnail-container{
	float: right;
	clear: both;
}

.plex-ranking-meaning-container > .column.small-12{
	padding: 0;
	background-color: #fff;
	border-radius: 5px 5px 0 0;
}

.plex-ranking-meaning-container .plex-college-rank-header{
	background-color: #202020;
	padding: 12px 20px;
	border-radius: 5px 5px 0 0;
}

.plex-ranking-meaning-container .plex-college-rank-header > .column{
	color: #fff;
	font-size: 26px;
}

.plex-ranking-meaning-container > .column.small-12 > .row:nth-child(2){
	height: 520px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.plex-ranking-meaning-container > .column.small-12 > .row:not(:nth-child(1)):not(:nth-child(2)){
	padding: 0 20px;
}

.plex-ranking-meaning-container > .column.small-12 > .row:nth-child(3) > .column.medium-6{
	padding: 20px 6px 0;
}

.plex-ranking-meaning-container .thumbnail-container{
	/*padding: 6px 6px 20px;*/
}

.plex-ranking-meaning-container .thumbnail-to-fullview{
	cursor: pointer;
}

#ranking-data-fullview-modal{
	padding: 0;
}

.how-does-rankings-work{
	text-decoration: underline;
	color: #fff;
}
.how-does-rankings-work:hover{
	color: #fff;
	text-decoration: none;
}

/* small only */
@media only screen and (max-width: 40em){
	.plex-ranking-meaning-container .plex-college-rank-header{
		padding: 12px 0 0;
		border-radius: 0;
	}

	.plex-ranking-meaning-container .plex-college-rank-header > .column{
		padding: 10px;
		border-radius: 3px 3px 0 0;
	}

	.plex-ranking-meaning-container .plex-college-rank-header > .column{
		color: #202020;
		background-color: #fff;
	}

	.plex-ranking-meaning-container .thumbnail-container{
		padding: 0 6px 20px;
	}

	.plex-ranking-meaning-container > .column.small-12 > .row:not(:nth-child(1)):not(:nth-child(2)){
		padding: 0 5px;
	}

	.plex-ranking-meaning-container > .column.small-12 > .row:nth-child(2){
		height: 100px;
	}

	#ranking-data-fullview-modal{
		min-height: 0;
		width: 100%;
	}
}
/***** new ranking page with Gary's Article - end *****/


@media all and (max-width: 640px){
	.ranking-index-content {
	    padding: 50px;
	}
}

@media all and (max-width: 767px){
  .ranking-index-content {
    padding: 25px 10px;
    margin-left: 8px;
    margin-right: 8px;
  }

  .ranking-index-content p {
    font-size: 15px !important;
    line-height: 1.8 !important;
    color: #000 !important;
    text-align: left;
  }
}
