/**** CSS for Sales Central Control portal *****/

/* \\\\\ sales master styling - start ///// */
#sales .row.sales-central-control-container,
#sales-pixel-tracking-test .row.sales-central-control-container,
#sales-clientReporting .row.sales-central-control-container,
#sales-messages .row.sales-central-control-container,
#sales-billing .row.sales-central-control-container, 
#sales-application-order .row.sales-central-control-container,
#sales-pick-a-college .row.sales-central-control-container,
#sales-agency-reporting .row.sales-central-control-container,
#sales-scholarships .row.sales-central-control-container{
	width: 100%;
	max-width: 100%;
	/*border: thin solid red;*/
	height: 100%;
}

.sales-central-control-container .sales-topnav-container{
	/*border: thin solid blue;*/
}

.sales-central-control-container .sales-main-content-container{
	/*border: thin solid green;*/
}
/* \\\\\ sales master styling - end ///// */




/*\\\\\ sales top nav styling - start ///// */
#sales-top-bar .top-bar-section.sales-topbar-section > ul, #sales-top-bar .top-bar-section.sales-topbar-section > ul li,
#sales-top-bar .top-bar-section.sales-topbar-section > ul > li.active > a,
#sales-top-bar .top-bar-section.sales-topbar-section > ul li a{
	background-color: transparent !important;
}

.top-bar#sales-top-bar{
	background-color: #f5f5f5 !important;
	height: 36px;
}

#sales-top-bar img{
	width: 21%;
}

#sales-top-bar .top-bar-section.sales-topbar-section > ul li a{
	color: #000;
	line-height: 36px;
}

#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover,
#sales-top-bar .top-bar-section.sales-topbar-section > ul > li.active > a{
	color: #26b24b;
}

#sales-top-bar ul.left span:first-child{
	padding: 0 0 0 10px;
}

#sales-top-bar ul.left span:last-child{
	padding: 2px 15px;
	border-left: 2px solid #000;
}

#sales-top-bar > .sales-topbar-section ul.left{
	/*width: 50%;*/
	width: 30%;
}
/*\\\\\ sales top nav styling - end ///// */




/*\\\\\ dashboard content styling - start ///// */
#sales .row.sales-central-control-container{
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	background-color: #ddd;
}

.sales-dashboard-container .dash-header{
	font-size: 24px;
}

.sales-dashboard-container .dash-header,
.sales-dashboard-container .dashboard-indicator .indicator-label,
.sales-dashboard-container .dashboard-indicator .indicator-dynamic-info{
	color: #fff;
	font-weight: 600;
	padding: 10px 0;
}

.sales-dashboard-container > .column.small-centered,
.sales-dashboard-container .plex-social-head{
	padding-top: 50px;
}

.sales-dashboard-container .dashboard-indicator.indi-messages{
	background-color: #40B37A;
	z-index: 1;
}
.sales-dashboard-container .dashboard-indicator.indi-messages .indicator-dynamic-info{
	background-color: #107E2A;
}

.sales-dashboard-container .dashboard-indicator.indi-client{
	background-color: #10B1B1;
	z-index: 2;
}
.sales-dashboard-container .dashboard-indicator.indi-client .indicator-dynamic-info{
	background-color: #017B7B;
}

.sales-dashboard-container .dashboard-indicator.indi-billing{
	background-color: #F4C430;
}
.sales-dashboard-container .dashboard-indicator.indi-billing .indicator-dynamic-info{
	background-color: #E99709;
}

.sales-dashboard-container .dashboard-indicator:not(:first-child) img{
	margin: 8px 0;
}

.sales-dashboard-container .dashboard-indicator .indicator-pic{
	padding: 40px 0;
}

.sales-dashboard-container .dashboard-indicator.indi-application{
	background-color: #aaa;
}
.sales-dashboard-container .dashboard-indicator.indi-application .indicator-dynamic-info{
	background-color: #797979;
}

/*\\\\\ dashboard content styling - end ///// */




/*\\\\\ Client Reporting content styling - start ///// */
.sales-filter-container{
	padding: 10px 0;
}

.sales-filter-container .choose-columns-btn,
.sales-filter-container .reset-col-btn,
.sales-messages-filter-container .sales-msg-btn {
	padding: 7px 15px;
	background-color: #797979;
	color: #fff;
	border-radius: 1px;
	font-size: 14px;
	font-weight: 600;
	border: 1px solid transparent;
	cursor: pointer;
}
.sales-filter-container .choose-columns-btn:hover,
.sales-filter-container .choose-columns-btn.active,
.sales-filter-container .reset-col-btn:hover{
	background-color: #ddd;
	border: 1px solid #797979;
	color: #797979;
}

.sales-filter-container .column-selection-pane{
	position: absolute;
	border: thin solid #797979;
	background-color: #fff;
	z-index: 110;
	display: none;
	box-shadow: 3px 3px 5px -2px #797979;
	padding: 10px;
	width: 750px;
}

.sales-filter-container .column-selection-pane .col-select-column > input.col-select-chkbox{
	margin-bottom: 0;
}

.sales-filter-container .column-selection-pane > .row > .col-select-column{
	border: 1px solid transparent;
	padding: 8px;
	border-radius: 2px;
}

.sales-filter-container .column-selection-pane > .row:last-child{
	padding: 10px 0;
}

.sales-filter-container .column-selection-pane > .row > .col-select-column:hover{
	border: 1px solid #797979;
}

.sales-filter-container .submit-date-filter-btn,
.sales-messages-filter-container .submit-date-filter-btn{
	padding: 8px 0;
	background-color: #26b24b;
	color: #fff;
	font-size: 14px;
	font-weight: 600;
	cursor: pointer;
}

.sales-filter-container .date-dash{
	padding: 5px 0;
}

#sales-clientReporting > #ui-datepicker-div{
	z-index: 110 !important;
}

#sales_dataTable_filter{
	float: right;
	margin-right: 20px;
	margin-top: -54px;
	width: 22%;
	text-align: left;
	z-index: 110;
}

#sales_dataTable_filter input{
	margin: 5px 0 0;
}

#sales_dataTable_filter label{
	color: #797979;
	font-size: 0px;
}

.sales-dataSheet-container tr.is-client td{
	font-weight: 600;
}

.sales-main-content-container .sales-fixed-footer-row{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #26b24b;
	color: #fff;
	padding: 3px 9px;
	font-size: 14px;
	font-weight: 100;
}

.sales-main-content-container .sales-dataSheet-container{
	padding-bottom: 40px;
}
.sales-main-content-container .sales-dataSheet-container .increasing{
	padding-top: 10px; 
	background-color: #33cc33; 
	color: #FFF;
	width: 60px;
}
.sales-main-content-container .sales-dataSheet-container .decreasing{
	padding-top: 10px; 
	background-color: #ff5050;
	color: #FFF;
	width: 60px;
}
.sales-main-content-container .sales-dataSheet-container .trigger-link {
	padding-top: 25px;
}
.sales-main-content-container .sales-dataSheet-container .trigger-link a{
	padding-top: 10px; 
	background-color: #797979;
	padding-right: 8px;
	padding-left: 10px;
	width: 70px;
}
.sales-filter-container .filter-row-left-side{
	padding-top: 7px;
}

.dataTables_scrollHead.is_fixed{
	position: fixed !important;
	top: 0;
	box-shadow: 0 0 6px 2px rgba(0,0,0,0.7);
	z-index: 1;
}

#sales_dataTable_wrapper td.group{
	background-color: #ddd;
	color: #797979;
	font-weight: 600;
	border-bottom: 1px solid #bfbfbf;
}

#sales_dataTable_wrapper tr[data-groupname]{
	cursor: pointer;
}

.delta, .eActivity > a{
	color: #FFF;
}

.delta.positive, .eActivity.increasing > a{
	color: #26b24b;
}

.eActivity > a{
	text-decoration: underline;
}

.eActivity > a:hover{
	text-decoration: none;
}

.data-container td[class^="inject-"]{
	color: #fff;
}

.data-container td[class^="inject-"].average{
	background-color: #ff9933;
}

.data-container td[class^="inject-"].below{
	background-color: #ff3333;
}

.data-container td[class^="inject-"].above{
	background-color: #26b24b;
}

.data-container table{
	margin: 0 auto;
}

#engagementDataModal{
	padding: 0 6px 20px;
}

#engagementDataModal div.row {
	padding-top: 20px;
}

#engagementDataModal span.select {
	cursor: pointer;
	color: #ff6c00;
	font-weight: 600;
}
#engagementDataModal span.unselect {
	color: #797979;
	cursor: pointer;
}
#engagementDataModal table {
	margin: 0px auto; 
	width: 94%;
	border-top : 1px solid #e5eff8;
	border-right: 1px solid #e5eff8;
	margin : 1em auto;
	border-collapse: collapse;
	table-layout: fixed;
	border: inherit;
}

#engagementDataModal table thead th {
	color: #868686;
	width: 136px;
	text-align: center;
	border-top: 1px solid #e5eff8;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	border-right: 1px solid #e5eff8;
}
#engagementDataModal #defaultView .BelowAvr {
	background-color: #FF9797;
}
#engagementDataModal #defaultView .Average {
	background-color: #BEFFA1;
}
#engagementDataModal #defaultView .Good {
	background-color: #BEFFA1;
}
#engagementDataModal #comparisonView table thead th:first-child {
	color: #868686;
	text-align: center;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;	
	width: 80px;
}
#engagementDataModal #comparisonView table tbody tr:first-child td:not(:first-child),
#engagementDataModal #comparisonView table tbody tr:nth-child(11) td:not(:first-child) {
	color: #797979;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	padding: 1em 1em;
/*	text-align: left;*/
	overflow: hidden;
    width: 136px;
  	background-color: rgb(222, 233, 255);
}
#engagementDataModal #comparisonView .higherGrade{
	background-color: #BEFFA1;
}
#engagementDataModal #comparisonView .equalGrade{
	background-color: #BEDFEA;
}
#engagementDataModal #comparisonView .lowerGrade{
	background-color: #FF9797;
}
#engagementDataModal table tbody tr:last-child td {
	border-bottom-color: #FFF;
    border-left-color: #FFF;
    border-right-color: #FFF;
    font-weight: 600;
    color: #797979;
}
#engagementDataModal table tbody tr:not(:last-child) td:first-child {
	color: #1E5A8D;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	padding: 1em 1em;
	text-align: left;
	overflow: hidden;
    width: 136px;
}
#engagementDataModal table tbody td:not(:first-child) {
	color: #787878;
	border-bottom: 1px solid #e5eff8;
	border-left: 1px solid #e5eff8;
	border-right: 1px solid #e5eff8;
	padding: 1em 1em;
	text-align: center;
	overflow: hidden;
    width: 136px;
}
#engagementDataModal.reveal-modal .close-reveal-modal{
	font-size: 20px;
}
#engagementDataModal #comparisonView select {
	color: #787878;
}
#engagementDataModal #comparisonView #rightSelect input{
	color: #595959;
	margin-bottom: 5px;
	margin-top: 5px;
}
#engagementDataModal #comparisonView #rightSelect th > div{
	height: 84px;
}
#engagementDataModal #leftSelectDateRange {
	margin:0px;
}
#engagementDataModal #comparisonView .select-style {
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 3px;
    overflow: hidden;
    background-color: #fff;
    background: #fff url("http://www.scottgood.com/jsg/blog.nsf/images/arrowdown.gif") no-repeat 98% 50%;
}

#engagementDataModal #comparisonView .select-style select {
    padding: 5px 8px;
    width: 100%;
    border: none;
    box-shadow: none;
    background-color: transparent;
    background-image: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#engagementDataModal #comparisonView .select-style select:focus {
    outline: none;
}
#engagementDataModal #comparisonView .row-tip, #engagementDataModal #defaultView .row-tip, #explanationModal .row-tip {
	color: rgb(30, 90, 141);
	font-weight: 400;
}
#explanationModal table{
     width: 100%;
}
#explanationModal table th:not(:first-child),
#explanationModal table td:not(:first-child)
{
     text-align : center;
     color: #797979;
}
#explanationModal .grade-policy {
	padding-bottom: 10px;
    font-weight: 600;
    color: #797979;
}
#explanationModal .grade-policy span {
	cursor: pointer;
}
#explanationModal .select{
	color: #FF7D4A;
}
#explanationModal .unselect{
	color: #797979;
}
#goalDataModal span.select {
	cursor: pointer;
	color: #ff6c00;
	font-weight: 600;
}
#goalDataModal span.unselect {
	color: #797979;
	cursor: pointer;
}

.err{
	color: #FF5C26;
	display: none;
}

#triggerModal .row label{
	color: #838383;
	font-size: 18px;
}

#triggerModal .e-input{
	width: 40%;
	margin: 20px auto;
}

#triggerModal .e-input > .left:nth-child(1){
	width: 70%;
}

#triggerModal .e-input > .left:nth-child(2){
	width: 30%;
	padding: 5px 0;
}

#triggerModal input[type="number"]{
	width: 100%;
	margin: 0;
}

#triggerModal #almArea .notify {
	font-size: 16px;
	padding: 20px 30px 0;
}

#triggerModal #almArea {
	background-color: rgb(252, 183, 198);
	border-radius: 5px;
}

#triggerModal {
	width: 60%;
	padding: 0 5px;
}

#triggerModal .column.e-trigger-container{
	padding: 0 25px;
}

#triggerModal .set-trigger-btn{
	background-color: #DD4628;
}

#triggerModal .set-trigger-btn:hover, #triggerModal .set-trigger-btn:active{
	background-color: #c73b1f;
}

#triggerModal .save-trigger{
	max-width: 300px;
	background-color: #2ba6cb;
	color: #fff;
	font-size: 14px;
	padding: 7px 0;
	border-radius: 3px;
	margin: 30px auto;
	cursor: pointer;
}

#triggerModal .save-trigger:hover, #triggerModal .save-trigger:active{
	background-color: #2285a2;
}

#triggerModal .email-input{
	padding: 0;
}

#triggerModal .button.tiny.addemail{
	padding: 4px 15px 4.5px;
	background-color: #FF5C26;
	font-size: 24px;
}

@media only screen and (max-width: 40em){
	#triggerModal {
		width: 100%;
		padding: 10px 20px;
	}
	#triggerModal .trigger-title {
		font-size: 24px;
		color: #797979;
	}
	#triggerModal .row{
		font-size: 18px;
		color: #838383;
		padding-bottom: 6px;
		padding-top: 6px;
	}
	#triggerModal input {
		margin-bottom: 1px;
	}
	#triggerModal .email-notify{
		padding-bottom: 10px;
	}
	#triggerModal .daily, #triggerModal .weekly{
		font-size: 16px;
	}
	#triggerModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
	#triggerModal .save-trigger{
		max-width: 100%;
	}
}

@media only screen and (min-width: 40.063em) and (max-width: 64em){
	#triggerModal {
		width: 90%;
		padding: 0 5px;
	}
	#triggerModal .trigger-title {
		font-size: 24px;
		color: #797979;
	}
	#triggerModal .row {
		padding-left: 10px;
		font-size: 18px;
		color: #838383;
		padding-bottom: 6px;
		padding-top: 6px;
	}
	#triggerModal .email-notify{
		border-right: 1px dashed rgb(70, 109, 152);
	}
	#triggerModal input {
		margin-bottom: 1px;
	}
	#triggerModal .daily, #triggerModal .weekly{
		font-size: 16px;
	}
	#triggerModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
	#triggerModal .threshold {
		width: 80%;
	}
}
@media only screen and (min-width: 64.063em) {
	#triggerModal .trigger-title {
		font-size: 24px;
		color: #797979;
	}
	#triggerModal .row {
		padding-left: 10px;
		font-size: 18px;
		color: #838383;
		padding-bottom: 6px;
		padding-top: 6px;
	}
	#triggerModal .email-notify{
		border-right: 1px dashed rgb(70, 109, 152);
	}
	#triggerModal .email-notify small{
		font-size: 14px;
	}
	#triggerModal .email-notify #addEmail {
		margin: 0px;
		border-radius: 4px;
	}
	#triggerModal .email-notify #emailList {
		height: 80px;
		overflow-y: scroll;
		width: 95%;
	}
	#triggerModal input {
		margin-bottom: 1px;
	}
	#triggerModal .daily, #triggerModal .weekly{
		font-size: 16px;
	}
	#triggerModal .save-trigger {
		margin: 10px;
		border-radius: 4px;
		margin: 30px auto;
	}
	#triggerModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
/*	#triggerModal #almArea {
		background-color: rgb(252, 183, 198);
		width: 90%;
		margin-left: 26px;
		margin-top: 16px;
		padding-bottom: 10px;
	}
	#triggerModal #almArea .notify {
		font-size: 14px;
		padding-left: 20px;
		padding-right: 8px;
	}
	#triggerModal #almArea .button {
		border-radius: 4px;
	}*/
} 
@media only screen and (max-width: 40em) {
	#goalDataModal {
		width: 100%;
	}
	#goalDataModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
	#goalDataModal .row {
		color: #838383;
	}
	#goalDataModal table {
		width: 100%;
	}
	#goalDataModal table th, #goalDataModal table tr, #goalDataModal table td{
		color: #797979;
		text-align: center;
		font-size: 10px;
	}
	#goalDataModal table .enrollments td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .applications td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .approved td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal .positive {
		background-color: #33cc33; 
		color: #FFF;
	}
	#goalDataModal .negative {
		background-color: #ff5050;
		color: #FFF;
	}
}
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
	#goalDataModal {
		width: 80%;
	}
	#goalDataModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
	#goalDataModal .row {
		color: #838383;
	}
	#goalDataModal table {
		width: 100%;
	}
	#goalDataModal table th, #goalDataModal table tr, #goalDataModal table td{
		color: #797979;
		text-align: center;
		font-size: 12px;
		table-layout: fixed;
		width: 50px;
	}
	#goalDataModal table .enrollments td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .applications td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .approved td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal .positive {
		background-color: #33cc33; 
		color: #FFF;
	}
	#goalDataModal .negative {
		background-color: #ff5050;
		color: #FFF;
	}
}
@media only screen and (min-width: 64.063em) {
	#goalDataModal {
		width: 60%;
	}
	#goalDataModal.reveal-modal .close-reveal-modal{
		font-size: 20px;
	}
	#goalDataModal .row {
		color: #838383;
	}
	#goalDataModal table {
		width: 100%;
	}
	#goalDataModal table th, #goalDataModal table tr, #goalDataModal table td{
		color: #797979;
		text-align: center;
		width: 60px;
	}
	#goalDataModal table .enrollments td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .applications td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal table .approved td:first-child {
		font-weight: 600;
		text-align: left;
	}
	#goalDataModal .positive {
		background-color: #33cc33; 
		color: #FFF;
	}
	#goalDataModal .negative {
		background-color: #ff5050;
		color: #FFF;
	}
}

.DTFC_LeftHeadWrapper table th, .dataTables_scrollHeadInner table th {
	color: #797979;
	font-weight: 600;
}
.DTFC_LeftBodyLiner table tr td, .dataTables_scrollBody table tr td{
	color: #797979;
	font-weight: 400;
}
.DTFC_LeftBodyLiner table tbody tr.odd, .DTFC_LeftBodyLiner table tbody tr.even {
	height: 89px;
}

/*\\\\\ Client Reporting content styling - end ///// */





/*\\\\\ Messages content styling - start ///// */
#sales-messages .row.sales-central-control-container > .column,
#sales-messages .row.sales-main-content-container > .column,
#sales-messages .sales-messages-content-container > .column,
#sales-messages .right-side-msgView > .column,
#sales-messages .sales-messages-content-container .right-side-inner-msgview > .column{
	height: 100%;
}

#sales-messages .sales-main-content-container{
	position: absolute;
	top: 36px;
	bottom: 0;
	right: 0;
	left: 0;
}

.sales-messages-filter-container{
	padding: 15px 10px;
	box-shadow: 0 4px 10px -4px #797979;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 2;
}

.sales-messages-filter-container input[type="text"]{
	margin: 0;
	padding: 5px 5px 5px 15px;
	height: 30px;
}

.sales-messages-filter-container .submit-date-filter-btn.msg-rpt{
	padding: 4.5px 0;
}

.sales-messages-filter-container .sales-msg-btn{
	line-height: 30px;
	padding: 5px 15px;
}

.sales-messages-filter-container .sales-msg-btn:hover{
	box-shadow: 1px 3px 5px -1px #202020;
}

.sales-messages-filter-container .sales-msg-btn.chat.active,
.sales-messages-filter-container .sales-msg-btn.message.active{
	background-color: #000;
}

.sales-messages-filter-container .msg-header-row{
	padding: 0 8px;
	color: #797979;
}

/*message content container*/
.sales-messages-content-container{
	position: absolute;
	top: 61px;
	left: 0;
	right: 0;
	bottom: 0;
}

.sales-messages-content-container .choose-convo-title{
	padding: 5px 0;
	border-bottom: 1px solid #ddd;
	color: #797979;
}

.sales-messages-content-container .list-of-threads,
.sales-messages-content-container .chat-thread,
.sales-messages-content-container .no-chat-history{
	padding: 15px;
	border-bottom: 1px solid #ddd;
	color: #797979;
	cursor: pointer;
}
.sales-messages-content-container .list-of-threads:hover,
.sales-messages-content-container .chat-thread:hover{
	border-bottom: 3px solid #ddd;
	font-weight: 600;
}

.sales-messages-content-container .convo-thread.active-thread{
	font-weight: 600;
}

.sales-messages-content-container .convo-thread.is-idle{
	background-color: #eee;
}

.sales-messages-content-container .convo-thread{
	position: relative;
}

.sales-messages-content-container .no-chat-history{
	cursor: default;
}

.sales-messages-content-container .note-taking-pane{
	height: 95%;
	background-color: #fff;
	padding: 20px;
}

.sales-messages-content-container .note-taking-pane textarea{
	border-color: transparent;
	box-shadow: none;
	resize: none;
	height: 300px;
}
.sales-messages-content-container .note-taking-pane textarea:focus{
	box-shadow: none;
	background-color: #fff;
}

.sales-messages-content-container .last-saved-note-section{
	height: 5%;
	font-size: 12px;
	font-weight: 600;
	color: #797979;
	padding-top: 10px;
}

.sales-messages-content-container .msg-view-section .msg-date > .column{
	text-transform: uppercase;
	font-weight: 600;
}

.sales-messages-content-container .msg-view-section .msg-date:not(:first-child) > .column{
	padding-top: 10px;
}

.sales-messages-content-container .msg-view-section .msg-divider{
	padding: 0 6px;
}

.sales-messages-content-container .msg-view-section .msg-divider:first-child{
	display: none;
}

.sales-messages-content-container .msg-view-section .msg-details-container{
	color: #797979;
	font-size: 15px;
	padding: 5px 0;
}

.sales-messages-content-container .msg-details-container.is-college .msg-name,
.sales-messages-content-container .msg-details-container.is-college .msg-content{
	color: #26b24b;
}

#sales-messages .sales-messages-content-container .right-side-msgView.expanded-view{
	width: 100% !important;
	z-index: 1;
	-webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sales-messages-content-container .left-side-convo .redirect-to-reply-button{
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 20%;
	padding-top: 14px;
	background-color: #797979;
}

.sales-messages-content-container .left-side-convo .redirect-to-reply-button a{
	color: #fff;
	font-weight: 200;
}

.sales-messages-content-container .msg-view-section.alternate-msg-view-theme .msg-details-container > .msg-content{
	background-color: lightblue;
	border-radius: 3px;
}
.sales-messages-content-container .msg-view-section.alternate-msg-view-theme .msg-details-container.is-college > .msg-content{
	background-color: lightgreen;
}

.sales-messages-content-container .sales-thread-list-pagination-container{
	padding: 10px 0;
}

.sales-messages-content-container .sales-msg-ajax-loader{
	height: 100%;
	position: fixed;
	top: 52%;
	right: 53%;
	display: none;
}

.sales-messages-content-container .auto-save-ajax-loader{
	position: absolute;
	top: 45%;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
}

.sales-messages-content-container .sales-msg-ajax-loader svg rect,
.sales-messages-content-container .auto-save-ajax-loader svg rect {
	fill: #000;
}

/*\\\\\ Messages content styling - end ///// */





/*media quiries*/

/*mobile only*/
@media only screen and (max-width: 40em){
	
	/*sales top nav mobile only*/
	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul.right{
		display: inline-flex;
	}

	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a,
	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a:hover{
		color: #000;
		font-size: 12px;
		font-weight: 600;
		line-height: 20px;
	}

	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li.active > a,
	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li.active > a:hover{
		color: #26b24b !important;
	}

	.sales-main-content-container .sales-messages-content-container{
		top: 130px;
	}

	.sales-main-content-container .sales-messages-content-container .left-side-convo{
		height: 257px;
		overflow-y: auto;
	}

	.sales-messages-filter-container .sm-chat-msg-row{
		padding: 5px 0;
	}

	
	/*dashboard for mobile only*/
	.sales-dashboard-container .dashboard-indicator{
		margin-bottom: 10px;
	}

	#sales .row.sales-central-control-container{
		background-image: none !important;
	}

	#sales .sales-dashboard-container{
		background-color: #000;
	}

	#sales_dataTable_filter{
		margin-top: -24px;
		width: 90%;
	}

	.filter-row-right-side{
		padding-top: 15px;
	}

	.sales-messages-content-container .left-side-convo .redirect-to-reply-button{
		padding-top: 0;
	}

	.sales-messages-content-container .left-side-convo .redirect-to-reply-button a{
		font-size: 35px;
	}
}


/*medium only*/
@media only screen and (min-width: 40.063em) and (max-width: 64em){
	
	.sales-main-content-container .sales-messages-content-container{
		top: 101px;
	}

	.sales-messages-filter-container .md-filter-bar > .column:first-child{
		padding-bottom: 10px;
	}

	.sales-messages-content-container .chat-thread{
		padding: 15px 0 15px 15px;
	}
}


/*medium-up only*/
@media only screen and (min-width: 40.063em){
	
	.sales-dashboard-container .dashboard-indicator:not(:last-child){
		box-shadow: 2px 1px 10px -4px #000;
	}

	/*sales messages content section styles */
	.sales-messages-content-container .left-side-convo{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 20% !important;
		/*overflow-y: auto;*/
		box-shadow: 2px 7px 10px -2px #797979;
		z-index: 1;
	}


	.sales-messages-content-container .left-side-convo > .column{
		height: 100%;
	}

	.sales-messages-content-container .right-side-msgView{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 80% !important;
		background-color: #eee;
		padding: 25px 25px 40px;
	}

	.sales-messages-content-container .right-side-inner-msgview{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

	.sales-messages-content-container .msg-view-section{
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		width: 60%;
		overflow-y: auto;
		overflow-x: hidden;
		background-color: #fff;
		padding: 20px;
	}

	.sales-messages-content-container .notes-pane-section{
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 37%;
	}

	.sales-messages-content-container .left-side-convo .redirect-to-reply-button:hover{
		background-color: transparent;
		padding-top: 0;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}

	.sales-messages-content-container .left-side-convo .redirect-to-reply-button:hover a{
		color: #797979;
		font-size: 35px;
		-webkit-transition: all 0.5s ease;
	    -moz-transition: all 0.5s ease;
	    -o-transition: all 0.5s ease;
	    transition: all 0.5s ease;
	}


	.sales-messages-content-container .list-of-threads-container{
		position: absolute;
		top: 90px;
		bottom: 0;
		left: 0;
		right: 0;
		overflow-y: auto;
		overflow-x: hidden;
		box-shadow: inset 1px 4px 12px -8px;
	}

	.dataTables_scrollHead th.fixed_column,
	.dataTables_scrollBody tr td.fixed_column{
		position: absolute !important;
		background-color: #797979;
		box-shadow: 3px 0 2px rgba(0,0,0,0.6);
		color: #fff;
	}
}


/*large and up only*/
@media only screen and (min-width: 64.063em){
	.sales-messages-content-container .left-side-convo{
		overflow-y: none;
	}
	
	.sales-messages-filter-container .msg-header-row{
		padding: 3px 8px;
		color: #797979;
	}
}
@media only screen and (max-width: 320px) {
	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a, #sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a:hover {
		font-size: 5px !important;
	}
	#date-range-picker-container input#_dateRange {
		width: 177px !important;
		margin-left: 7px !important;
	}
	.column.small-12.medium-1.show-on-mobile.aor {
		position: absolute !important;
		left: 214px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-1.show-on-mobile.contract {
		position: absolute !important;
		left: 148px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-2.show-on-mobile {
		font-size: 12px !important;
		left: 8px !important;
	}
	.column.small-12.medium-1.show-on-mobile.goal {
		position: absolute !important;
		left: 69px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-1.show-on-mobile.edit-action {
		font-size: 12px !important;
		position: absolute !important;
		left: 146px !important;
	}
}
@media only screen and (max-width: 360px) {
	.top-bar#sales-top-bar {
		background-color: #f5f5f5 !important;
		height: 38px !important;
	}
	.top-bar .top-bar-section ul li > a {
		height: 38px !important;
	}
}

@media only screen and (max-width: 768px) {
	#sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a, #sales-top-bar .top-bar-section.sales-topbar-section > ul li a:hover, #sales-top-bar .top-bar-section.sales-topbar-section > ul > li > a:hover {
		font-size: 6px;
		font-weight: 700 !important;
		line-height: 16px !important;
	}

	.top-bar#sales-top-bar {
		background-color: #f5f5f5 !important;
		height: 38px !important;
	}
	.top-bar .top-bar-section ul li > a {
		height: 38px !important;
	}
	.hide-on-mobile{
		display: none !important;
	}
	.reporting-wrapper table th, .reporting-wrapper table td {
		width: 10px !important;
	}
	.reporting-wrapper table th, .reporting-wrapper table td {
		text-align: center;
		width: 10px;
	}
    #date-range-picker-container input#_dateRange {
        width: 193px !important;
        margin-left: 21px !important;
    }
	.reporting-header .title h3 {
		margin-left: -34px !important;
	}
	.reporting-wrapper table th, .reporting-wrapper table td {
		width: 10px;
		font-size: 9px;
	}
	#_pick_college_action_bar > div:first-child {
		margin-left: -43px !important;
	}
	.column.small-12.medium-1.show-on-mobile.aor {
		position: absolute !important;
		left: 214px !important;
		font-size: 14px !important;
	}
	.column.small-12.medium-1.show-on-mobile.contract {
		position: absolute !important;
		left: 148px !important;
		font-size: 14px !important;
	}
	.column.small-12.medium-2.show-on-mobile {
		font-size: 14px !important;
		left: 8px !important;
	}
	.column.small-12.medium-1.show-on-mobile.goal {
		position: absolute !important;
		left: 69px !important;
		font-size: 14px !important;
	}
	.column.small-12.medium-1.show-on-mobile.edit-action {
		font-size: 14px !important;
		position: absolute !important;
		left: 126px !important;
	}
	.column.small-12.medium-1.actions-col {
		position: absolute !important;
		left: 135px !important;
	}
	.column.small-12.medium-1.col-goal {
		position: absolute !important;
		left: 69px !important;
	}
	.column.small-12.medium-1.col-goal {
		position: absolute !important;
		left: 69px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-1.col-contract {
		position: absolute !important;
		left: 147px !important;
		font-size: 12px !important;
	}
	.green-name {
		font-size: 12px !important;
		margin-left: 4px !important;
		width: 35% !important;
	}
	#_pick_college_action_bar .search-wrapper {
		width: 151px !important;
		min-height: 166px !important;
	}
	#_pick_college_action_bar > div:first-child {
		font-size: 14px !important;
	}
	#_pick_college_action_bar .search-wrapper .result .aor {
		font-size: 7px !important;
	}
	#_pick_college_action_bar .search-wrapper .result > div:first-child, #_pick_college_action_bar .search-wrapper .result > div:last-child {
		width: 7% !important;
	}
	#_pick_college_action_bar .search-wrapper .result .name {
		font-size: 8px !important;
	}
	#_pick_college_action_bar .search-wrapper .result .location {
		font-size: 7px !important;
	}
	.column.small-12.medium-3.actions-col {
		position: absolute !important;
		left: 127px !important;
	}
	.column.small-12.medium-3.contract {
		position: absolute !important;
		left: 137px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-3.show-on-mobile {
		position: absolute !important;
		left: -125px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-3.show-on-mobile.contract {
		position: absolute !important;
		left: 140px !important;
	}
	.column.small-12.medium-2.show-on-mobile.aor {
		margin-left: 218px !important;
		font-size: 12px !important;
	}
	.column.small-12.medium-3.show-on-mobile.edit-action {
		position: absolute !important;
		left: 123px !important;
	}
	.column.small-12.medium-2.aor_style {
		position: absolute !important;
		left: 227px !important;
		font-size: 12px !important;
	}
	.reporting-wrapper table th, .reporting-wrapper table td {
		font-size: 8px !important;
	}
}
.green-name {
	display: block;
	color: rgb(36, 178, 107);
	border: medium none;
	border-radius: initial;
	font-size: 14px;
	margin: 0px;
	width: initial;
	height: initial;
	vertical-align: initial;
	text-align: left;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}