/*Stylesheet for Plexuss Publisher */

body#sales-site-performance, body#sales-student-tracking, body#sales-device-os-reporting{
  /*border: thin solid red;*/
  /*background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/publisher/the_publisher.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #ffffff;
  height: auto;
}

body#sales-tracking{
  /*border: thin solid red;*/
  /*background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/publisher/the_publisher.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #434343;
  height: auto;
}

@media only screen and (max-width:768px){
  #sales-site-performance .publisher-menu-btn.expanded, #sales-tracking .publisher-menu-btn.expanded {
    height: auto;
    padding: 15px 7px 7px;
    border: none;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
            box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
    bottom: 40% !important;
    left: 10% !important;
    width: 283px !important;
    border-radius: 3px !important;
    width: 256px !important;
  }
  #sales-device-os-reporting .publisher-menu-btn.expanded, #sales-site-performance .publisher-menu-btn.expanded, #sales-student-tracking .publisher-menu-btn.expanded ,#sales-tracking .publisher-menu-btn.expanded {
    height: auto;
    padding: 15px 7px 7px;
    border: none;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
            box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
    bottom: 40% !important;
    left: 10% !important;
    width: 283px !important;
    border-radius: 3px !important;
  }
  #sales-student-tracking .publisher-menu-btn.expanded{
    width: 256px !important;
  }
  #sales-device-os-reporting .publisher-menu-btn.expanded{
    width: 256px !important;
  }
}

/* navbar style */

nav {
  background-color: #000000;
  overflow: hidden;
  padding: 8px;
  width:100%;
  z-index:5;
  position:fixed;
  top:0;
}
nav a {
  color: #ffffff;
}
.publisher-logo{
float:right;
}
nav a:visited, nav a:hover {
  color: #ffffff;
}
.navWide {
  display: block;
  margin: 0 auto;
}
.wideDiv {
}
.navWide a {
  text-decoration: none;
  display: inline-block;
}

.hamburger-img{

width:24px;
heigth: auto;
cursor: pointer;

}
.menu-expand{
position: fixed;
background: #424242;
width: 20%;
top: 0;
left: 0;
height: 100%;
z-index: 8;
color: #fff;
padding:10px;
min-width:200px
}
.menu-expand-ul{
padding: 10px 0 0 30px;
color: white;
}
.menu-expand-ul li{
padding: 8px 0px;
cursor: pointer;
color:#1fc754;
}
.menu-overlay{
background: rgba(0,0,0,0.30);
height: 100%;
width: 100%;
position: fixed;
}
.menu-heading{
font-size: 22px;
padding-left: 10px;
}
.close-menu{
width:20px;
margin:6px 12px 12px 12px;
cursor:pointer;
}
.page-title{
color: #fff;
font-size: 18px;
padding-left: 10px;
}

.plex_logo_resize {
    width: 125px !important;
    height: 20px !important;
}

.active_page{
  color: #43c56b !important;
}

.Site_Performance_App {
  background: #f2f4f6;
  overflow-x: hidden;
}
#AdminDashboard_Component {
  padding-top: 55px;
}
#sales-header .header {
  max-width: 100%;
  background: #000;
  padding: 20px 10px;
  position: fixed;
  width: 100%;
  z-index: 999;
}
#sales-header .header .active-sidebar-nav-padding {
  padding-left: 50px;
}
#sales-header .header .logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#sales-header .logo-cont .logo-icon {
  width: 30px;
  border-right: 1px solid #646464;
  padding-right: 7px;
  cursor: pointer;
}
#sales-header .logo-cont .menu-icon {
  width: 30px;
  height: 30px;
  padding-left: 7px;
  cursor: pointer;
}
#sales-header .header .row-nav-cont .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
#sales-header .header .row-nav-cont .nav-list li {
  cursor: pointer;
  padding: 3px 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  -o-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}
#sales-header .header .row-nav-cont .nav-list li:hover {
  border-color: #2ac56c;
}
#sales-header .header .row-nav-cont .nav-list li a {
  color: #fff;
  font-size: 17px;
}
#sales-header .header .header-right-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
#sales-header .header .header-right-controls .messages-icon {
  margin-right: 30px;
  cursor: pointer;
}
#sales-header .header .header-right-controls .bell-sic-icon {
  margin-right: 25px;
  cursor: pointer;
}
#sales-header .header .header-right-controls .avatar-cont {
  color: #fff;
  cursor: pointer;
}
#sales-header .header .header-right-controls .avatar-cont img {
  width: 30px;
  border-radius: 50%;
}
#sales-header .header .header-right-controls .avatar-cont .username {
  margin: 0 5px 0 10px;
}
#sales-header .sidebar-cont {
  height: 100%;
  position: fixed;
  z-index: 998;
  top: 0;
  left: 0;
  background-color: #000;
  overflow-x: hidden;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  min-width: 231px;
}
#sales-header .sidebar-cont .sidebar .nav-list {
  margin: 50% 10px 0;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item {
  margin-bottom: 10px;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background color 0.2s ease-in-out;
  -o-transition: background color 0.2s ease-in-out;
  transition: background color 0.2s ease-in-out;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item:hover,
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item.active-main-item {
  color: #2AC56C;
  background: #252323;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item .arrow-toggle {
  width: 12px;
  height: 7px;
  background-repeat: no-repeat;
  display: inline-block;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item .arrow-toggle.active-arrow {
  background: url(../images/arrow-down.svg);
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item:hover .arrow-toggle.active-arrow {
  background: url(../images/arrow-green-down.svg);
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item.active-main-item .active-arrow,
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item .main-item.active-main-item:hover .active-arrow {
  background: url(../images/arrow-green-up.svg);
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item ul {
  margin-left: 10px;
  margin-top: 10px;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item ul li {
  margin-bottom: 7px;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item ul li a {
  padding: 5px;
  color: #ccc;
  font-size: 15px;
  border-bottom: 2px solid transparent;
  -webkit-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-transition-property: border-bottom color;
  -o-transition-property: border-bottom color;
  transition-property: border-bottom color;
}
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item ul li a:hover,
#sales-header .sidebar-cont .sidebar .nav-list .nav-list-item ul li a.active-link {
  color: #fff;
  border-bottom: 2px solid #2ac56c;
}
