/*--------------------------------------------- Advansed Search Css--------------------------------------------------*/
select{padding: 0rem !important; }

.advansed-search-txt{padding:0.3rem !important;}
.adv-search-form{margin: 10px 0 5px 0;font-family: "Open Sans", sans-serif; font-size: 12px; font-weight: bold; color: #fff; padding-left:10px !important;}
.side-bar-news select,.side-bar-news input[type="text"]{height: 1.8rem;  padding: 5px 10px !important;}
.styled-select {overflow: hidden; border-radius:2px; background-color: #ffffff; height: 1.7rem; padding: 5px 10px !important;}
.styled-select select {
-webkit-appearance: none !important;
font-size: 0.800rem;
color:rgb(121,121,121);
text-indent: 0.01px;
text-overflow: '';
appearance: none;
background: transparent url("/images/colleges/arrow.png") no-repeat scroll 97% 8px;
font-weight:normal;
}

.btn-clear{ background: none repeat scroll 0 0 #797979; border:none;}
.btn-search{background: none repeat scroll 0 0 #FF5C26;}
.btn-clear,.btn-search{border-radius:5px;color: #FFFFFF;font-family: century gothic;font-size: 14px;padding: 7px 17px;	margin-top:5px;}
.bg-white{-webkit-border-radius: 13px; -moz-border-radius: 13px; border-radius: 13px; background-color: #fff;}
.search_txt{max-height: 32px; -webkit-border-radius: 1px/2px; -moz-border-radius: 1px/2px; border-radius: 1px/2px; background-color: #fff; -webkit-box-shadow: inset 2px 3px 3px rgba(0,0,0,.1); -moz-box-shadow: inset 2px 3px 3px rgba(0,0,0,.1); box-shadow: inset 2px 3px 3px rgba(0,0,0,.1);
}
.search-btn {  background:url(/images/colleges/search-icon.png) no-repeat; height:32px; width:32px; cursor: pointer;}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default
{background: transparent url("/images/range-controll.png") no-repeat; height:26px; width:24px; border:none;}

.ui-widget-content
{
	background: url("/images/range_slider_bck.png") repeat-x scroll 50% 50%;
    border:none;
}
.ui-widget-header {background: url("/images/range_slider_bck.png") repeat-x scroll 50% 50%;
    border:none;}
.slider-range{ width:95%; margin-left:5px;}

.left-padding {
	padding-left: 20px !important;
}
/*--------------------------------------------- Advansed Search Css--------------------------------------------------*/


.form-min-btn
{

	background:none repeat scroll 0 0 #fafafa;
	box-shadow:0 1px 2px #fff;
	color:#797979;
	cursor:pointer;
	padding:5px!important;
	border-radius:0;
	height:23px!important;
	font-size:10px!important;
	border-radius:1px!important;
	width:50px !important;


}
.range-txt{border:0 !important; color:#ffffff !important; font-weight:bold; background:none !important; font-size:11px !important; height:auto !important; box-shadow:none !important}


.search-headning-div{
	position: relative;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:#000000;
	padding:20px 25px;
	color:#ffffff;
}

.search-content-div
{
	min-height: 200px;
	-webkit-border-bottom-left-radius: 10px;
	-webkit-border-bottom-right-radius: 10px;
	-moz-border-radius-bottomleft: 10px;
	-moz-border-radius-bottomright: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background:#ffffff;
	padding:20px 15px 15px 15px;
	color:#000000;
}

.search-content-div .search-content-title {
	border-bottom: 1px solid #797979;
	text-transform: capitalize;
	padding: 15px;
}

.quick-linker{
 position: absolute;
}

.quick-link-ul li{ display:inline-block; color:#0085B2; font-size:14px; width:180px; text-decoration:underline}
.college_logo{ width:60px; height: 60px}
.news_logo{height:45px; width:45px;}



/************************************* search results css ***************************/
.bluetxt{
	color: #0085B2;
}




/*********************************** Paging Css ************************************/
.pagination li{ display:inline-block; height:20px; width:auto; background:#000000; font-size:12px; text-align:center; margin-left:6px; vertical-align:top; }
.pagination li a{color:#ffffff !important; }
.pagination li a:hover{background:#FF5C26 !important; border-radius:1px !important;}
.pagination li.active span{background:#FF5C26 !important;padding: 0.22rem 0.635rem;}
.pagination li span{ padding:5px; color:#ffffff !important;}
.pagination li:first-child
{
-webkit-border-top-left-radius: 50px;
-webkit-border-bottom-left-radius: 50px;
-moz-border-radius-topleft: 50px;
-moz-border-radius-bottomleft: 50px;
border-top-left-radius: 50px;
border-bottom-left-radius: 50px;
}
.pagination li:first-child a:hover
{
-webkit-border-top-left-radius: 50px !important;
-webkit-border-bottom-left-radius: 50px !important;
-moz-border-radius-topleft: 50px !important;
-moz-border-radius-bottomleft: 50px !important;
border-top-left-radius: 50px !important;
border-bottom-left-radius: 50px !important;
}
.pagination li:last-child{
	-webkit-border-top-right-radius: 50px;
	-webkit-border-bottom-right-radius: 50px;
	-moz-border-radius-topright: 50px;
	-moz-border-radius-bottomright: 50px;
	border-top-right-radius: 50px;
	border-bottom-right-radius: 50px
}
.pagination li:last-child a:hover{
	-webkit-border-top-right-radius: 50px !important;
	-webkit-border-bottom-right-radius: 50px !important;
	-moz-border-radius-topright: 50px !important;
	-moz-border-radius-bottomright: 50px !important;
	border-top-right-radius: 50px !important;
	border-bottom-right-radius: 50px !important;
}
ul.pagination li a:focus{ background:none !important;}
/*********************************** Paging Css ************************************/



/********************************* majors search results ***************************/
/***********************************************************************************/
.search-major-listing-cont{
	margin: 15px 0px 0px 0px;
}

.search-major-listing{
	display: inline-block;
	color: #ffffff;
	background-color: #2f8abb;
    padding: 2px 35px 2px 18px;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	position: relative;
	font-size: 13px;
	margin-right: 7px;
	margin-top: 10px;
    vertical-align: top;
	cursor: pointer;
}

.clear-all-colors{
	color: #2f8abb;
	background-color: #ffffff;
}



.filter-majors-x{
	position: absolute;
    right: 13px;
    font-size: 17px;
    top: -1px;
    cursor: pointer;
}

.toggle-majors-results {
    font-size: 14px;
    color: #999999;
    position: relative;
    /*margin: auto;*/
    left: 35%;
    cursor: pointer;
    padding: 20px 0px;
    margin-top: -5px;
    display: inline-block;

}

.toggle-majors-arrow {
    font-size: 30px;
    display: inline-block;
    transform: rotate(90deg);
    bottom: 1px;
    left: 46%;
    position: absolute;
    /* width: 30px; */
    margin: 0px 23px;
    cursor: pointer;
}

.toggle-majors-results:hover,
.toggle-majors-results:active,
.toggle-majors-results:focus {
	color: #888888;
}

.more-majors-results {
    display: none;
}


.hide{
	display: none;
}
.show-ib{
	display: inline-block;
}


/*************** end majors ***************/



@media (min-width:320px) and (max-width: 480px)
{
	.pagination{ width:220px;}
	.pagination li{ margin-top:5px;}
	.quick-link-ul li{  width:100px; word-break:break-all}
	.top-bar-section ul{background:#F5F5F5 !important;}

	.search-container, .mobile-search-option{ padding:0px;}
	.search-headning-div
	{-webkit-border-top-left-radius: 1px;
	-webkit-border-top-right-radius: 1px;
	-moz-border-radius-topleft: 1px;
	-moz-border-radius-topright: 1px;
	border-top-left-radius: 1px;
	border-top-right-radius: 1px;}
	#topnavsearch{ padding:0}
}



@media only screen and (max-width: 40em) {


	#SearchMobileDiv{
		display: none;
	}
}



.search-flags {
    margin-bottom: 20px;
    text-align: center;
    width: 140px;
    height: 120px;
		background-repeat: no-repeat;
		display: block;
		padding-top: 125px;
		padding-bottom: 30px;
		color: #333;
}
.search-flag-aus {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/aus-black.gif);
    transition: background-image 0.25s ease-in;
}
.search-flag-aus:hover {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/aus-filled.png);
}
.search-flag-us {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/us-black.png);
    transition: background-image 0.25s ease-in;
}
.search-flag-us:hover {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/us-filled.png);
}
.search-flag-uk {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/uk-black.png);
    transition: background-image 0.25s ease-in;
}
.search-flag-uk:hover {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/uk-filled.png);
}
.search-flag-canada {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/canada-black.png);
    transition: background-image 0.25s ease-in;
}
.search-flag-canada:hover {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/canada-filled.png);
}
.search-flag-ger {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/ger-black.gif);
    transition: background-image 0.25s ease-in;
}
.search-flag-ger:hover {
    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/ger-filled.png);
}
.search-flags-container {
/*		margin-left: 12%; */
		margin-left: 5%;
}
.btn-more {
	color: #fff;
	padding: 10px 20px;
	background-color: #FF5C26;
	cursor: pointer;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	border-radius: 9px;
}
.excess_container_cmd {
		display: none;
}
.btn-more-no {
	display: none;
}
.btn-more:hover {
	color: #fff;
}
@media only screen and (max-width: 40em) {
	.search-flags {
			background-color: #000;
			background-position: center 5px;
			background-size: 80%;
			border-radius: 10px;
	    width: 120px;
	    height: 120px;
			font-size: 13px;
			color: #fff;
			padding-top: 90px;
	}
	.search-flags-container {
			margin: 0;
	}
	.search-flag-aus {
	    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/aus-filled.png);
	}
	.search-flag-us {
	    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/us-filled.png);
	}
	.search-flag-uk {
	    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/uk-filled.png);
	}
	.search-flag-canada {
	    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/canada-filled.png);
	}
	.search-flag-ger {
	    background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/flags/ger-filled.png);
			background-size: 60%;
	}
	.excess_container {
		display: none;
	}
	.excess_container_cmd {
			display: block;
	}
	.btn-more {
		display: inline-block;
	}
	.btn-more-no {
		display: none;
	}
}
