@charset "utf-8";

/* CSS Document */
/*
|--------------------------------
| SIDE NAV CSS
|--------------------------------
*/


.side_nav
{
	background-color:#FFF;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:5px;
	list-style:none outside none;
	margin:0 0 20px;
	padding:0;
	padding-bottom:5px
}

.side_nav li
{
	position:relative;
	cursor:pointer;
	font-family:"Century Gothic";
	font-size:12px;
	font-weight:700;
	color:#000
}

.side_nav li:hover
{
}

.side_nav .menubutton span:hover
{
	background-color:#26B24B;
	margin:0 9px
}

.side_nav .selected
{
	border-left:5px solid #000
}

.side_nav label
{
	font-family:"Century Gothic";
	color:#1f1f1f;
	padding-left:10px;
	margin-bottom: 5px;
}

.side_nav .menubutton
{
	width:100%;
	margin-bottom:5px;
	margin-top:5px
}

.side_nav .menubutton span
{
	background-color:#F5F5F5;
	border:1px solid #D7D8D9;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	color:#000;
	display:block;
	font-family:"Century Gothic",CenturyGothic,AppleGothic,sans-serif;
	font-size:12px;
	font-weight:400;
	height:36px;
	margin:0 14px;
	padding-top:6px;
	text-align:center;
	width:90%
}

.side_nav .selected span
{
	margin:0 9px;
	background-color:#26B24B;
	color:#fff
}

.icon-arrow{
	background:url(/images/setting/setting_spirt.png) no-repeat;
	background-position: 5px -19px;
}

.m_account_setting
{
	background-position:10px 0
}

.m_email_notification
{
	background-position:10px -85px
}

.m_mobile_notification
{
	background-position:13px -175px
}

.m_portal_notification
{
	background-position:10px -275px
}

.m_grant_notification
{
	background-position:10px -380px
}

.account_setting
{
	background-position:10px -20px
}

.email_notification
{
	background-position:10px -106px
}

.mobile_notification
{
	background-position:13px -198px
}

.portal_notification
{
	background-position:10px -302px
}

.grant_notification
{
	background-position:10px -415px
}

.account_setting:hover
{
	background-position:10px -50px
}

.email_notification:hover
{
	background-position:10px -133px
}

.mobile_notification:hover
{
	background-position:13px -230px
}

.portal_notification:hover
{
	background-position:10px -337px
}

.grant_notification:hover
{
	background-position:10px -458px
}

/*.icon-mobile{background:url(/images/setting/mobile_setting_icon.png) no-repeat; width:22px; height:27px; vertical-align: middle;  margin: 0px 0px; }
.m_account_setting{ background-position:0px -245px ;}
.m_email_notification{ background-position:0px -58px;}
.m_mobile_notification{ background-position:0px -115px;}
.m_portal_notification{ background-position:0px -178px;}
.m_grant_notification{ background-position:0px 5px;}*/
.rightsidemenu {
    background-color: #FFFFFF;
    border-radius: 10px / 3px;
    padding-top: 30px;
}

.right-bottom
{
	min-height:123px;
	background-color:#98d0ef;
	border-top:solid 1px #1f1f1f;
	margin-top:-22px;
	padding-top:30px;
	padding-left:40px
}

.pwd-txt
{
	width:200px;
	height:25px!important;
	background-color:#fff!important;
	-webkit-box-shadow:inset 3px 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow:inset 3px 2px 3px rgba(0,0,0,.1);
	box-shadow:inset 3px 2px 3px rgba(0,0,0,.1)
}

.pwd-txt-mobile
{
	width:100px;
	height:25px!important;
	background-color:#fff!important;
	-webkit-box-shadow:inset 3px 2px 3px rgba(0,0,0,.1);
	-moz-box-shadow:inset 3px 2px 3px rgba(0,0,0,.1);
	box-shadow:inset 3px 2px 3px rgba(0,0,0,.1);
	background:url(/images/setting/password_icon.png) no-repeat right center!important
}

.large_txt
{
	height:25px!important;
	width:350px;
	background-color:#fff;
	border-color:#b9babb;
	border-width:1px;
	border-style:solid;
	-moz-box-shadow:inset 4px 1px 4px rgba(0,0,0,0.1);
	-webkit-box-shadow:inset 4px 1px 4px rgba(0,0,0,0.1);
	box-shadow:inset 4px 1px 4px rgba(0,0,0,0.1)
}

.org-btn, .blue-btn, .gray-btn{
	overflow:hidden;
	padding:4px;
	font-family:"Century Gothic";
	font-size:14px;
	font-weight:500;
	line-height:120%;
	color:#fff;
	text-align:center;
	border:none
}

.button.org-btn
{
	background-color:#FF5C26;
	width:auto;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	padding:0
}

.blue-btn
{
	background-color:#0085b2;
	width:204px;
	height:44px;
/* Firefox v1.0+ */
	border-radius:5px;
	-moz-border-radius:7px
}

.gray-btn
{
	background-color:#797979;
	height:30px;
/* Firefox v1.0+ */
	-moz-border-radius:4px;
/* Safari v3.0+ and by Chrome v0.2+ */
	-webkit-border-radius:4px;
/* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
	border-radius:4px
}

/*.chkbox
{
background-color:rgb(255,255,255) !important;
width:10px !important;
height:10px !important;
border-color:rgb(185,186,187) !important;
border-width:1px !important;
-moz-border-radius:1px !important;
-webkit-border-radius:1px !important;
border-radius:1px !important;
border-style:solid !important;
-moz-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1)!important;
-webkit-box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1) !important;
box-shadow:inset 3px 3px 3px rgba(0,0,0,0.1)!important;
}*/
.chkul
{
	line-height:0!important
}

.headingul li
{
	display:inline-block
}

.chkul > li
{
	display:table
}

.chkul li div
{
	font-size:13px;
	color:#000
}

.chkul input[type="checkbox"]
{
	display:table-cell;
	margin:0 15px 10px 0
}

.chkul input[type="checkbox"] + div
{
	display:table-cell;
	line-height:1.5em;
	padding:0
}

/*.move-right .exit-off-canvas{ background:none;} .top-bar-mobile{ display:none !important;}*/
.page-sidebar > ul > li.has-sub.open >a,.page-sidebar > ul > li >a:hover,.page-sidebar > ul > li:hover>a
{
	background:#26B24B
}

a.profile-side-bar-toggler:before
{
	left:34px
}

a.profile-side-bar-toggler
{
	border:none!important
}

.mobile-profile-row
{
	background:none!important
}

.page-sidebar
{
	background:#4B4B4B;
	width:270px;
	min-height:516px!important;
	-moz-border-radius:0 0 10px 10px;
	-webkit-border-radius:0 0 10px 10px;
	border-radius:0 0 10px 10px;
	overflow:hidden
}

.page-sidebar > ul > li > a
{
	display:block;
	position:relative;
	margin:0;
	border:0;
	padding:10px 15px;
	text-decoration:none;
	font-weight:500
}

.page-sidebar > ul > li > a
{
	border-top:1px solid #3b3b3b;
	font-family:"Century Gothic";
	font-size:16px;
	letter-spacing:0;
	color:#fff;
	text-align:left
}

.parent-table
{
	font-family:"Century Gothic";
	font-size:12px;
	line-height:160%;
	text-align:left
}

.parent-table .div-h
{
	font-weight:700;
	line-height:160%;
	color:#1f1f1f
}

.parent-table .div-txt
{
	color:#79796a
}

.parent-table div
{
	padding:0
}

@media (min-width:320px) and (max-width: 480px) {
	.headingul li,.chkul li label
	{
		font-size:16px
	}

	.pwd-txt
	{
		width:130px!important
	}

	.rightsidemenu
	{
		-webkit-border-radius:5px;
		-moz-border-radius:5px;
		border-radius:5px
	}

	input[type="text"]
	{
		width:95%
	}

	.pl22
	{
		padding-left:5px!important
	}

	.pl25
	{
		padding-left:15px!important
	}

	ul.inline
	{
		margin-top:15px
	}

	ul.inline li:first-child
	{
		width:60px
	}

	ul.inline li
	{
		width:78%;
		word-break:break-all;
		padding-right:10px;
		font-size:13px
	}

	.mobile-fs20
	{
		font-size:19px!important
	}

	/*select
	{
		width:120px!important;
		height:25px!important
	}*/

	.reveal-modal
	{
		border-radius:5px;
		overflow:hidden
	}
}

/** side bar styles that was on settings/index blade in styles tags - moving here **/
.side_nav .li-menu-item{
    margin-bottom: 10px;
}

.side_nav .menubutton {
    background-color: #F5F5F5;
    border: 1px solid #D7D8D9;
    border-radius: 6px;
    color: #000000;
    display: block;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 12px;
    font-weight: 400;

    margin: 0 14px;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    width: 90%;
}

.side_nav .menubutton.selected {
    background-color: #26B24B;
    color: #FFFFFF;

    background-position: 0 -26px;
}
.side_nav .menubutton.selected .accountSettingIcon {

    background-position: 0 -26px;
}


.accountSettingIcon {
    background: url("/images/setting/setting_spirt.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 21px;
    margin-left: auto;
    margin-right: auto;
    vertical-align: middle;
    width: 21px;
}
/* above is code that was in settings/index blade within style tags */




/*********************** phaseTwo Settings page styling! above styles are mostly obsolete - start *******************/

/* ////// settings sidebar styles - start \\\\\\ */
#setting .fixed-width {
	max-width: 96%;
}

#setting .plex-settings-sidebar{
	background-color: #fff;
	border-radius: 4px;
	padding: 10px 0;
}

.plex-settings-sidebar .sidebar-settings-title.row > .column{
	font-size: 18px;
	padding: 0 6px 5px;
}

.plex-settings-sidebar .settings-sidebar-ul{
	padding: 0;
}

.plex-settings-sidebar .settings-sidebar-ul li{
	border-left: 3px solid transparent;
}

.plex-settings-sidebar .settings-sidebar-ul li.active{
	border-left: 3px solid #000;
}

.plex-settings-sidebar .settings-sidebar-ul li a.settings-menu-item{
	padding: 0 14px;
}

.plex-settings-sidebar .settings-sidebar-ul a.settings-menu-item > .row{
	padding: 5px;
	background-color: #eee;
	border: 1px solid transparent;
	border-radius: 3px;
	color: #000;
}

.plex-settings-sidebar .settings-sidebar-ul a.settings-menu-item > .row:hover{
	border: 1px solid #797979;
}

.plex-settings-sidebar .settings-sidebar-ul li.active a.settings-menu-item > .row{
	background-color: #26B24B;
	color: #fff;
}

.plex-settings-sidebar li.active .settings-menu-icon,
.plex-settings-sidebar li:not(.active) .settings-menu-icon.activated{
	display: none;
}

.plex-settings-sidebar li.active .settings-menu-icon.activated,
.plex-settings-sidebar li:not(.active) .settings-menu-icon{
	display: block;
}
/* ////// settings sidebar styles - end \\\\\\ */



/* ////// acct settings section styles - start \\\\\\ */
.plex-acct-settings-section{
	background-color: #fff;
	border-radius: 4px;
}

.plex-acct-settings-section .change-pass-section-title{
	font-size: 24px;
	font-weight: 100;
	padding: 20px 0 0;
}

.plex-acct-settings-section .change-pass-title-descrip-row{
	padding: 20px 0 30px;
}

.plex-acct-settings-section .change-pass-title-descrip-row > .column:first-child{
	font-size: 24px;
	font-weight: 400;
	padding: 0 5px;
	margin: 0 0 10px;
}

.plex-acct-settings-section .change-pass-title-descrip-row > .column:last-child{
	font-size: 10px;
	padding: 0 6px;
}

.plex-acct-settings-section label{
	color: #797979;
	font-weight: 600;
	padding: 5px 0 0;
}

.plex-acct-settings-section .button.submit_new_pass_btn{
	padding: 14px 30px;
	border-radius: 1px;
	background-color: #FF5C26;
}

.plex-acct-settings-section a.deactivate-account {
	font-size: 14px;
    color: #4d4d4d;
    text-decoration: underline;
    margin-bottom: 16px;
    display: inline-block;
}

#deactivate-user, #delete-user-acct{
	width: 50%;
	color: #A9A9A9;
}

#deactivate-user .deactivate-acct {
	font-size: 24px;
    display: inline-block;
    margin-bottom: 14px;
}

#deactivate-user .backup-acct {
	font-size: 13px;
    display: inline-block;
    margin-bottom: 10px;
}

#deactivate-user .deactivate-btn,
#delete-user-acct .deactivate-btn {
	padding: 14px 30px;
    border-radius: 4px;
    background-color: #FF5C26;
}

#delete-user-acct .delete-action {
	margin-top: 20px;
}

#deactivate-user .close-reveal-modal.secondary,
#delete-user-acct .close-reveal-modal.secondary{
	font-size: 14px;
    font-weight: 500;
    margin-left: 10px;
    border-radius: 4px;
    width: 190px;
}

.settings-section.hide-this-section{
	display: none;
}
/* ////// acct settings section styles - end \\\\\\ */



/* ////// invite friends section styles - start \\\\\\ */
.plex-invite-friends-section{
	background-color: #fff;
	border-radius: 4px;
}

.plex-invite-friends-section .invite-sub-section:not(.invite-friends-opening){
	/*display: none;*/
}

.plex-invite-friends-section .invite-sub-section.hide-sub-section{
	display: none;
}

/*** contact box image styling - start ***/
.plex-invite-friends-section .invite-friends-options-container .invite-from-box{
	border-radius: 4px;
	background-color: #eee;
	padding: 20px 0;
}

.plex-invite-friends-section .invite-friends-options-container .invite-from-name{
	color: #797979;
}

.plex-invite-friends-section .invite-friends-options-container .invite-from-box > .column{
	width: 59px;
	height: 43px;
	position: relative;
}

.plex-invite-friends-section .invite-friends-options-container .invite-from-box > .column > div[data-interchange]{
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	background-repeat: no-repeat;
}

.plex-invite-friends-section .invite-from-box:hover{
	background-color: #000;
}

.plex-invite-friends-section .invite-from-options:hover .invite-from-name{
	color: #000;
}

div[data-interchange].gmail{
	background-position: 0 0;
}

div[data-interchange].yahoo{
	background-position: 0 -160px;
}

div[data-interchange].outlook{
	background-position: 0 -319px;
}

div[data-interchange].hotmail{
	background-position: 0 -240px;
}

div[data-interchange].aol{
	background-position: 0 -80px;
}

div[data-interchange].any{
	background-position: 0 -400px;
}

/*on hover, switch the sprite sheet*/
.plex-invite-friends-section .invite-from-box:hover div[data-interchange]{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/settings/import-contacts-sprite-sheet_color.png') !important;
}
/*** contact box image styling - end ***/

.plex-invite-friends-section .help-friends-msg-row{
	padding: 30px 0;
}

.plex-invite-friends-section .invite-friends-msg{
	font-size: 28px;
	color: #000;
}

.plex-invite-friends-section .invite-from-options .connect-with-text{
	color: #797979;
}

.plex-invite-friends-section .send-email-add-row{
	padding: 20px 0 10px;
}

.plex-invite-friends-section .invite-submit-email-btn{
	background-color: #000;
}

.plex-invite-friends-section .invite-shareable-url-row{
	border: 1px solid #797979;
	padding: 20px 3px;
}

.plex-invite-friends-section .invite-shareable-url-row > .column{
	color: #797979;
}

.plex-invite-friends-section .preview-invite{
	text-decoration: underline;
	color: #797979;
	cursor: pointer;
}

.plex-invite-friends-section .preview-invite-hover-arrow{
	border-top: 7px solid #797979;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    margin: 0 auto;
    padding-top: 4px;
    width: 5px;
    visibility: hidden;
}

.plex-invite-friends-section .invite-preview-modal{
	background-color: #797979;
	border: 1px solid #797979;
	padding: 10px 10px 0;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 64px;
	display: none;
	z-index: 6;
}

.plex-invite-friends-section .invite-preview-modal-inner{
	background-color: #fff;
	padding: 30px 0;
	box-shadow: 12px 0 15px -10px rgba(0,0,0, 0.8), -12px 0 8px -9px rgba(0,0,0, 0.8);
}

.plex-invite-friends-section .preview-logo{
	padding: 0 0 30px;
	font-size: 24px;
}

.plex-invite-friends-section .preview-logo img{
	width: 25%;
}

.plex-invite-friends-section .email-invite-plex-nav-row{
	background-color: #000;
	color: #fff;
	padding: 10px 0;
	font-weight: 600;
}

.plex-invite-friends-section .been-invited-image{
	padding: 20px 0 0;
}

.plex-invite-friends-section .try-plex-invite-msg{
	padding: 30px 0;
	font-size: 18px;
}

.plex-invite-friends-section .check-it-out-btn{
	background-color: #FF5C26;
	color: #fff;
	font-weight: 600;
	padding: 10px 0;
	border-radius: 1px;
}

/* invite via fb, gmail, contacts styling - start */
.plex-invite-friends-section .invite-via-title-link a{
	color: #000;
	font-size: 28px;
}

.plex-invite-friends-section .invite-via-title-link span{
	font-size: 30px;
}

.plex-invite-friends-section .invite-via-title-link{
	padding: 15px 0 20px;
}

.plex-invite-friends-section .choose-contacts-description{
	padding: 0 6px 20px;
	color: #797979;
}

.plex-invite-friends-section .invite-friends-title,
.plex-manage-users-section .manage-users-title {
	font-size: 18px;
	padding: 20px 0 0;
}

.plex-invite-friends-section .manage-imported-contacts-link{
	color: #797979;
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.plex-invite-friends-section #manage-contacts-ajax-loader,
.plex-invite-friends-section #submit-individual-invite-ajax-loader{
	display: none;
}

.plex-invite-friends-section .mobile-manage-contacts-link{
	padding: 0 0 30px;
}

.plex-invite-friends-section .select-all-users-checkbox-row label{
	margin: 0;
}

.plex-invite-friends-section .contact-list-count{
	font-weight: 600;
	padding-left: 5px;
}

.plex-invite-friends-section .contacts-currently-selected{
	font-size: 14px;
	font-weight: 400;
	color: #797979;
	display: none;
	padding-top: 3px;
}

.plex-invite-friends-section .contacts-currently-selected > .selected-counter.updated{
	color: #FF5C26;
	font-weight: 600;
}

.plex-invite-friends-section .invite-friends-list-row{
	height: 300px;
	overflow-y: scroll;
	border: 1px solid #797979;
}

.plex-invite-friends-section .send-invites-btn-row{
	padding: 20px 6px;
}

.plex-invite-friends-section .send-invites-btn{
	background-color: #000;
	color: #fff;
	padding: 10px 0;
	border-radius: 1px;
	cursor: pointer;
}

.plex-invite-friends-section .send-invites-btn[disabled],
.plex-invite-friends-section .individual-email-submission-row .invite-submit-email-btn[disabled]{
	background-color: #797979;
}

.plex-invite-friends-section .send-invites-error-msg,
.plex-invite-friends-section .mailing-invites-error-msg{
	display: none;
	padding: 10px 0 0;
}

.plex-invite-friends-section .send-invites-error-msg > .column,
.plex-invite-friends-section .mailing-invites-error-msg > .column{
	color: #FF5C26;
}

.plex-invite-friends-section .no-contacts-yet-msg-row{
    padding: 120px 12px;
}

.plex-invite-friends-section .no-contacts-yet-msg-row > .column.no-contacts-yet-msg{
	color: #797979;
    font-size: 24px;
    font-weight: 100;
    padding-bottom: 20px;
    display: none;
}

.plex-invite-friends-section .list-of-contacts-container-ajax{
	display: none;
}

.plex-invite-friends-section .invite-user-choice-row{
	padding: 2px 0;
}

.plex-invite-friends-section .invite-user-choice{
	border: 1px solid transparent;
	padding: 3px;
}

.plex-invite-friends-section .invite-user-choice span.invite-name{
	font-weight: 600;
}

.plex-invite-friends-section input[type="checkbox"].invite-friend-option-checkbox{
	margin: 0;
}

.plex-invite-friends-section .invite-user-choice > .row{
	padding: 1px 0;
}

.plex-invite-friends-section .invite-user-choice:hover{
	background-color: #eee;
	border-radius: 1px;
}

.plex-invite-friends-section .invite-user-choice.chosen{
	background-color: #eee;
	border: 1px solid #797979;
	border-radius: 1px;
}
/* ////// invite friends section styles - end \\\\\\ */

/* \\\\ begin manage users ////*/

.plex-manage-users-section, .plex-manage-portals-section, .plex-manage-billing-section, .plex-manage-student-billing-section{
	background-color: #fff;
	border-radius: 4px;
	height: auto;
}

.plex-manage-users-section .users-container {
	margin-left: 20px !important;
	margin-right: 20px !important;
}

.plex-manage-users-section > div.column:first-child {
	z-index: 2;
}

.plex-manage-users-section > div.blank {
	z-index: 0;
}

.plex-manage-users-section .manage-users-title {
	height: 36px;
	font-size: 24px;
	font-weight: 400;
	color: #797979;
}

.plex-manage-users-section .manage-portals-link {
	color: #2BA6CB;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}

.plex-manage-users-section .users-acct {
	color: #797979;
	margin-top: 20px;
	height: 220px;
}

.plex-manage-users-section .users-acct:last-child {
	float: left !important;
	margin-bottom: 40px;
}

.plex-manage-users-section .users-acct .users-bg {
	background-color: #eee;
	background: url(/images/setting/user-avatar-white.png) no-repeat;
	height: 123px;
	max-width: 123px;
	background-position: 0px 21px;
	cursor: pointer;
	margin-left: 24px;
}

.plex-manage-users-section .users-acct .users-bg img.left {
	position: absolute;
	visibility: visible;
	z-index: 6;
	left: 32px;
	top: 2px;
}

.plex-manage-users-section .users-acct .users-bg img.users-profile-img {
	position: relative;
	width: 123px;
	height: 123px;
	background-color: #FFF;
}

.plex-manage-users-section .users-acct:last-child .users-bg {
	background: url(/images/setting/add-user-plus.png) no-repeat center;
	background-color: #9EDA3E !important;
	background-position: center 25%;
	cursor: pointer;
}

.plex-manage-users-section .users-acct:last-child .users-name div {
    color: #FFF;
    margin-top: -24px;
    overflow: initial !important;
}

.plex-manage-users-section .users-acct .users-name {
	cursor: pointer !important;
	margin: 16px 10px;
	position: absolute;
	width: 150px;
	padding-left: 24px;
	visibility: visible;
	z-index: 6;
}

.plex-manage-users-section .users-acct .users-name div {
	white-space: nowrap;
	overflow-x: hidden;
	text-overflow: ellipsis;
}

.plex-manage-users-section .users-acct .users-name .users-access {
	font-size: 14px;
	margin-top: 4px;
	height: 60px;
	z-index: 2;
	overflow: visible;
}

.plex-manage-users-section .users-acct .users-name .users-access .extra {
	display: none;
}

.plex-manage-users-section .users-acct .users-name .users-access:hover .extra {
	display: block;
	clear: both;
	background-color: #FFF;
}

.plex-manage-users-section .modify-users,
.plex-manage-users-section .add-users-step1,
.plex-manage-users-section .add-users-step2,
.plex-manage-users-section .add-users-finalstep {
	display: none;
	margin: 20px;
	float: left !important;
}

.plex-manage-users-section .modify-users .modify-title {
	padding-left: 40px;
	font-size: 18px;
	color: #797979;
}

.plex-manage-users-section .modify-users .edit-title {
	padding-left: 40px;
	font-size: 14px;
	font-weight: 300;
	color: #797979;
}

.plex-manage-users-section .user-img-upload {
	padding-left: 40px;
	padding-top: 10px;
}
.plex-manage-users-section .user-img-upload a.button{
	border-radius: 5px;
}
.plex-manage-users-section .user-info {
	color: #797979;
	padding-left: 28px;
	font-size: 14px;
}

.plex-manage-users-section .user-info input[type="text"] {
	border-color: #908e8e;
	height: 2rem;
}

.plex-manage-users-section .user-info .column .row .column.large-3 {
	padding-top: 6px;
}

.plex-manage-users-section .user-info .updated-user-access {
	padding: 30px 10px 20px;
}

.plex-manage-users-section .portal-decision {
	line-height: 30px;
	padding: 20px 0px;
}

.plex-manage-users-section .portal-decision .button.secondary {
	border-radius: 4px;
	margin-left: 1px;
	padding: 8px 20px;
}

.plex-manage-users-section .portal-decision .deleteUser {
	text-decoration: underline;
	color: #FF0000;
}

.plex-manage-users-section .portal-decision .save-settings {
	padding-right: 0px;
}
.plex-manage-users-section .portal-decision .save-settings a {
	background-color: #FF5026;
	color: rgb(255, 255, 255);
	padding: 7px 16px;
	border-radius: 4px;
}

.plex-manage-users-section .add-users-step1-title,
.plex-manage-users-section .add-users-step2-title {
	font-size: 24px;
	color: #797979;
	padding-left: 30px;
}

.plex-manage-users-section .add-users-step1 .right,
.plex-manage-users-section .add-users-step2 .right {
	margin-right: 20px;
	color: #797979;
}

.plex-manage-users-section .add-users-memo {
	font-size: 16px;
	font-weight: 300;
	color: rgb(121, 121, 121);
	padding-left: 30px;
	padding-right: 30px;
}

.plex-manage-users-section .add-users-step1 .users-access div.column,
.plex-manage-users-section .add-users-step2 .users-access div.column {
	padding-left: 30px;
	color: #797979;
}

.plex-manage-users-section .add-users-step1 .users-access > div:first-child {
	font-size:16px;
	margin-bottom: 10px;
}

.plex-manage-users-section .add-users-step1 .users-access > div:last-child a {
	/*width: 20%;*/
	border-radius: 4px;
	background-color: rgb(252, 84, 28);
}
.plex-manage-users-section .add-users-step2 .users-access > div:last-child a {
	/*width: 20%;*/
	border-radius: 4px;
}

.plex-manage-users-section .add-users-step2 .users-access > div.create-portal {
	margin-bottom: 20px;
	color:#764612;
}
.plex-manage-users-section .add-users-step2 .users-access > div.create-portal a {
	text-decoration: underline;
}

.plex-manage-users-section .add-users-step2 .users-access {
	margin-top: 20px;
}

.plex-manage-users-section .add-users-name input[type='text'] {
	width: 88%;
	margin-left: 30px;
	margin-top: 20px;
}

.plex-manage-users-section .add-users-finalstep .user-added {
	padding: 20px 40px;
	font-size: 20px;
	color: #797979;
}

.plex-manage-users-section .add-users-finalstep .users-list > div {
	color: rgb(121, 121, 121);
	font-size: 12px;
	padding: 0px 40px;
	float: left !important;
	margin: 6px 2px;
}

.plex-manage-users-section .add-users-finalstep .successful {
	font-size: 16px;
	font-weight: 300;
	color: #797979;
	padding-left: 40px;
}

.plex-manage-users-section .add-users-finalstep .ok-btn {
	padding: 20px 10px;
}

.plex-manage-users-section .add-users-finalstep .ok-btn .button {
	padding: 10px;
	border-radius: 6px;
}

.tip-right {
	color: #797979 !important;
	font-size: 10px;
	padding: 0 2px;
	border: 1px solid #D3D3D3;
	border-radius: 8px;
}
table {
	width: 510px;
	border: 1px solid #FFF;
}
table th{
	color:#797979 !important;
	font-size: 26px;
	font-weight: 600;
	width: 170px;
}
table td {
	color:#797979 !important;
	font-size: 12px !important;
	font-weight: 400;
}

table td:not(:first-child), table th:not(:first-child){
    text-align: center;
}

/* manage portals section */
.plex-manage-portals-section {
	padding-top: 20px;
	display:none;
}

.plex-manage-portals-section .manage-portals-title{
	height: 36px;
	font-size: 24px;
	font-weight: 400;
	color: rgb(121, 121, 121);
}

.plex-manage-portals-section .manage-users-link {
	color: #2BA6CB;
	font-size: 14px;
	text-decoration: underline;
	cursor: pointer;
}

.plex-manage-portals-section .portal-title {
	padding: 20px 40px;
	font-size: 14px;
	font-weight: 600;
	color: rgb(121, 121, 121);
}
.plex-manage-portals-section .row.new-portal {
	margin: 20px 30px !important;
	font-size: 14px;
	color: rgb(121, 121, 121);
}

.plex-manage-portals-section .row.portal-container,
.plex-manage-portals-section .row.deactived-portal-container {
	margin-left: 40px !important;
	background-color: rgb(242, 242, 242);
	font-size: 14px;
	color: rgb(121, 121, 121);
	margin-top: 20px;
	margin-right: 40px !important;
	padding: 6px;
}

.plex-manage-portals-section .row.deactived-portal-container {
	margin-bottom: 20px;
}

.plex-manage-portals-section .row.portal-container a.close,
.plex-manage-portals-section .row.deactived-portal-container a.close {
	color: rgb(240, 50, 50);
}

.plex-manage-portals-section .row.portal-container a:not(.close),
.plex-manage-portals-section .row.deactived-portal-container a:not(.close) {
	text-decoration: underline;
}

.plex-manage-portals-section .row.portal-container a.deactive,
.plex-manage-portals-section .row.deactived-portal-container a.deactive {
	color: rgb(240, 50, 50);
}

.plex-manage-portals-section .row.portal-container input[type=submit],
.plex-manage-portals-section .row.deactived-portal-container input[type=submit] {
	padding: 5px 15px;
	background:#FF5C26;
	color: #FFF;
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}
.deactive-portal-begins {
	margin-bottom: 20px;
}
.emailList {
	display:none;
	background-color:#FFF;
}

.emailList .add-users {
	padding-top: 20px;
}

.emailList .add-users > div {
	overflow: hidden;
	padding-right: .5em;
}

.emailList .add-users .float-right {
	float: right !important;
}

.emailList .check-access {
	display: none;
}

.plex-manage-portals-section .row.portal-container .row.email-list,
.plex-manage-portals-section .row.deactived-portal-container .row.email-list {
	padding: 12px;
	overflow-x: hidden;
	overflow-y: scroll;
    height: 100px;
}


.plex-manage-portals-section .row.portal-container .row.email-list span,
.plex-manage-portals-section .row.deactived-portal-container .row.email-list span {
    margin: 2px;
    font-size: 12px;
    display: inline-block;
    word-wrap: break-word;
    border-bottom: #797979 1px dashed;
}

.plex-manage-portals-section .row.portal-container .target-icon,
.plex-manage-portals-section .row.deactived-portal-container .target-icon {
	background: url(/images/setting/targeting-blue.png) no-repeat center;
    cursor:pointer;
    height: 21px;
}

.plex-manage-portals-section .row.portal-container .portal-name-shown,
.plex-manage-portals-section .row.deactived-portal-container .portal-name-shown {
	text-overflow: ellipsis;
	overflow: hidden;
	width: 90%;
	white-space: nowrap;
}

.plex-manage-portals-section .target-criteria {
	display: none;
	padding: 0px 0px 20px;
}
.plex-manage-portals-section .target-criteria .active-target-criteria {
	padding: 20px 5px;
	font-size: 16px;
	font-weight: 600;
	color: #797979;
}

.plex-manage-portals-section .target-criteria .row {
	padding: 10px 0px 4px;
	font-size: 14px;
	color: #797979;
}

.plex-manage-portals-section .row.new-portal span {
	color: #2BB6DA;
	text-decoration: underline;
	cursor: pointer;
}
.new-portal-shown {
	margin-top: 16px;
	display: none;
}
.new-portal-shown input[type=submit] {
	padding: 5px 15px;
	background:#FF5C26;
	color: #FFF;
	border:0 none;
    cursor:pointer;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

#deactive-portal-modal, #active-portal-modal {
	width: 40% !important;
	position: fixed;
}

#deactive-portal-modal .question-deactive, #active-portal-modal .question-deactive {
	font-size: 24px;
	margin: 10px 8px 20px;
	color: rgb(121, 121, 121);
}

#deactive-portal-modal .button, #active-portal-modal .button {
	border-radius: 4px;
	float: none !important;
}

label {
	margin-right: 0.2rem !important;
}

.upload-title {
	color: #1F1F1F;
	font-size: 18px;
	font-weight: 700;
}

#updateProfilePic {
    position: fixed;
}

#updateProfilePic .close_x img {
	float: right;
	width: 12px;
}

#profile_image_row .close-reveal-modal {
    font-size: inherit;
    font-family: 'Open Sans', 'Century Gothic',CenturyGothic,AppleGothic,sans-serif;
}

#profile_image_row .button {
	width: 100%;
	padding: 10px 0px;
}

.manage-students-ajax-loader{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: none;
	background-color: rgba(0,0,0,0.4);
	z-index: 6;
}

.manage-students-ajax-loader svg{
	position: absolute;
	top: 50%;
}

#confirmDelUser > div.row:first-child .close-reveal-modal {
	font-size: 20px;
}

#confirmDelUser .button {
    width: 96% !important;
	margin-top: 20px;
	padding: 10px;
}

#confirmDelUser {
    position: fixed;
}
.reveal-modal {
    top: 150px !important;
}

.mytooltip {
	border: 1px solid rgb(77, 77, 77) !important;
	border-radius: 100px;
	padding: 0px 4px;
	font-size: 9px;
	display: inline-block;
	position: absolute;
	left: auto;
	margin-top: 3px;
    margin-left: 2px;
}

.add-users-step1 .mytooltip {
	top: 3px;
}

/*
	testing popup menu
*/

.users-access-list {
	position:relative;
	overflow: visible !important;
}
.users-access-list .field {
	background:#FFF;
	color:#000;
	padding:5px;
	border:none;
	cursor:pointer;
	border:solid 1px #EC6603;
	-webkit-transition: all .4s ease-in-out;
}
.users-access-list .field:hover {
	border:solid 1px #fff;
	-moz-box-shadow:0 0 5px #999;
	-webkit-box-shadow:0 0 5px #999;
	box-shadow:0 0 5px #999
}

/* ///// end manage users \\\\*/

/* \\\\\ billing history begins/////*/
.billing-package-options{
	display: none;
}

.plex-manage-student-billing-section .plex-billing-default-section{
	padding: 20px;
}

.billing-container table {
	margin: 30px auto 20px;
	width: 80%;
    /*border: 1px solid #797979 !important;*/
}

.billing-container .billing-summary {
	width: 50% !important;
    margin: 0 auto !important;
    font-size: 13px;
    color: #797979;
}

.billing-info {
	display: none;
	color: #797979;
  margin: 30px;
}

.billing-tab {
	padding-top: 5px;
  font-size: 14px;
  color: #2D79C7 !important;
}

.billing-invoice-tab:hover, .billing-default-tab:hover {
	cursor: pointer;
}

.billing-tabs > .bill-tab{
	color: #1295DE;
	font-size: 12px;
	cursor: pointer;
}
.billing-tabs > .bill-tab.active{
	font-weight: 600;
	text-decoration: underline;
}

.payment-info-title {
    font-size: 20px;
    color: #9F9F9F;
    padding: 20px 30px 20px !important;
}

.add-credit-card {
	font-size: 18px;
    color: #797979;
    font-weight: 600;
    line-height: 2;
}

.paypal-icon {
	width: 48%;
}

.payment-row {
    margin-left: 24px;
}

.payment-title {
	color: #4d4d4d;
    font-size: 12px;
    display: inline-block;
    margin-bottom: 4px;
    font-weight: 400;
}

.states-list-zip select, .states-list-zip input[type="number"]{
	width: 49%;
}

.card-providers {
	height: 50%;
    width: 62%;
    margin-bottom: 10px;
}

.payment-exp-month, .payment-exp-year{
	width: 55px;
}

.separator {
	width: 5px;
	padding: 5px 0;
    margin: 0 7px 0 5px;
}

.payment-exp-cvc {
	width: 55px;
}

input[type=number].card-cvc::-webkit-inner-spin-button,
input[type=number].card-cvc::-webkit-outer-spin-button,
input[type=number].zip-code::-webkit-inner-spin-button,
input[type=number].zip-code::-webkit-outer-spin-button{
	-webkit-appearance: none;
	margin: 0;
}

.payment-notice {
	width: 30px;
}

.cvc-explaination {
	border: 1px #888888 solid;
    border-radius: 100px;
    padding: 1px 6px;
    font-size: 10px;
    display: inline-block;
    margin-top: 8px;
    margin-left: -4px;
    background-color: #525252;
	color: #FFF !important;
    font-weight: lighter !important;
}

.agreement-confirm {
	font-size: small;
    color: #4d4d4d;
    font-weight: 600;
}

.payment-terms {
	text-decoration: underline;
    color: #1295DE;
}

#save-creditcard-info, #complete-purchase, #get-started-w-plex, .billing-package-options .plan .plan-upgrade{
    width: 50%;
    padding: 10px;
    margin: 10px 0px;
    background-color: #237EEA;
    border: #FFF;
	border-radius: 4px;
	color: #FFF;
}

.inline-container > div{
	display: inline-block;
	vertical-align: middle;
}

.poweredbySSL {
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/settings/ssl.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
    width: 117px;
    height: 50px;
    margin: 1px 60px auto;
}

.poweredbyStripe {
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/settings/stripe.png);
	background-position: 0 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 117px;
	height: 26px;
	margin: 10px 40px auto;
}

.inline-container .poweredby-top{
	width: 0;
}

.ssl{
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/settings/ssl.png);
	background-position: 1px 0;
	background-size: cover;
	background-repeat: no-repeat;
	width: 97px;
	height: 43px;
}

.payment-errors {
	color: #ff5c26;
    font-size: 12px;
    font-weight: 600;
    display: inline-block;
}

.change-plan {
	float: right;
    border-radius: 4px !important;
    padding: 12px 26px !important;
    background-color: #86EC24 !important;
}

table.payment-row tr {
	border: #D2D2D2 1px solid;
}
table.payment-row tr td {
    font-size: 12px;
}

.plex-manage-billing-section nav.top-bar {
	z-index: 2;
    height: inherit;
    position: absolute;
    right: 6px;
    background-color: transparent;
}
.plex-manage-billing-section section.top-bar-section,
.plex-manage-billing-section section.top-bar-section ul.right,
.plex-manage-billing-section section.top-bar-section ul.right li.billing-tab {
	background: inherit !important;
	color: #36AED8;
	display: inline-block;
	padding-right: 6px;
}

.plex-manage-billing-section section.top-bar-section ul.right li.billing-tab:hover {
    color: #BFF2D9 !important;
    cursor: pointer;
}

.plex-billing-plan-section {
	display: none;
}
.billing-plan-container {
	width: 54%;
}
.blank {
	height: 34px;
    background: #FFF;
}
.blank .back-payment-default {
	margin-top: 84px;
    display: block;
}
.billing-plan-container a.button {
	border-radius: 8px;
	padding: 10px 20px;
    cursor: default;
}
.billing-plan-container a.button:hover {
    cursor: pointer;
}
table.plan-offered {
	margin: 0 auto;
    border: none;
    width: 300px;
}

.break-line {
    border: 1px #d6d6d6 solid;
    margin: 10px auto;
}

.payment-selection {
	margin: 20px 0px;
    color: #000;
    font-size: 24px;
}

.payment-option-2 nav li, .payment-option-2 a.button {
	background-color: #279DC1 !important;
}
.payment-option-3 nav li, .payment-option-3 a.button {
	background-color: #96BE1A !important;
}

div[class^="payment-option"], div[class*=' payment-option'] {
	overflow: hidden;
    display: block;
    margin-left: 110px !important;
    margin-top: 50px;
    z-index: 2;
    background-color: #fff;
    position: relative !important;
    top: 60px;
    padding: 0 !important;
    cursor: default;
    -webkit-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 12px -4px rgba(0,0,0,0.75);
}

div[class^="payment-option"]:hover, div[class*=' payment-option']:hover {
	-webkit-box-shadow: 0px 11px 31px -5px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 11px 31px -5px rgba(0,0,0,0.75);
	box-shadow: 0px 11px 31px -5px rgba(0,0,0,0.75);
}
div[class^="payment-option"] .title-area, div[class*=' payment-option'] .title-area {
	background-color: #888888;
	color: #fff;
}
div[class^="payment-option"] .bold-font, div[class*=' payment-option'] .bold-font{
	margin-top: 10px;
    color: #797979;
    font-size: 18px;
}
div[class^="payment-option"] .small, div[class*=' payment-option'] .small {
    color: #797979;
    font-size: 13px;
    font-weight: 600;
}
div[class^="payment-option"] .indicate, div[class*=' payment-option'] .indicate{
	color: #797979;
	font-size: 12px;
	margin-top: 10px;
}

div[class^="payment-option"] .indicate:last-child, div[class*=' payment-option'] .indicate:last-child {
	margin-bottom: 20px;
}
div[class^="payment-option"] a.button, div[class*=' payment-option'] a.button {
    background-color: #888888;
    font-size: 13px;
}
div[class^="freeze-"] {
    opacity: 0.5;
    z-index: 2 !important;
    position: absolute;
    background-color: #eee !important;
    top: 186px;
    height: 418px;
    width: 33.4%;
}

.freeze-pay-as-you-go {
    left: 110px;
}

.freeze-flat-fee {
    left: 540px;
}

.plex-textmsg-plan {
	margin: 30px;
	color: #797979;
	display: none;
}

.plex-textmsg-search-phone {
	display: none;
	color: #797979;
    /*font-size: 16px;*/
    margin: 30px;
}

.plex-textmsg-search-phone .notify {
	margin: 24px 0px !important;
    font-size: 16px;
    display: block;
}

.plex-textmsg-plan .plan-title span,
.plex-textmsg-search-phone .plan-title span,
.billing-info .plan-title span{
	font-size: 16px;
    margin-bottom: 10px;
    display: inline-block;
    margin-right: 8px;
}

.plan-title span:not(:first-child) {
	margin-left: 8px;
}

.plex-textmsg-plan .plan-title span.active,
.plex-textmsg-search-phone .plan-title span.active,
.billing-info .plan-title span.active {
    font-weight: 600;
}

.plex-textmsg-plan .plan-to-choose span {
	margin: 24px 0px 12px;
	font-size: 18px;
	display: block;
}

.plex-textmsg-plan .plex-textmsg-plan-container {
	width: 30% !important;
}

.plex-textmsg-plan .plex-textmsg-forward-step2 a.button {
	border-radius: 6px;
    width: 20%;
    padding: 10px;
    margin-top: 20px;
}


.plex-textmsg-search-phone .free-trial {
	color: #797979;
	font-size: 14px;
	padding: 10px;
}

.plex-textmsg-search-phone .free-trial .toll-free-number {
    margin-top: 20px;
}

.plex-textmsg-search-phone .free-trial .back-to-dash , .back-to-search-number {
	text-decoration: underline;
    font-weight: 300;
    font-size: 18px;
    line-height: 3;
    color: #9D9D9D;
}
.plex-textmsg-search-phone .free-trial .select-notice {
	margin: 16px 0px;
    font-size: 16px;
    font-weight: 600;
}

.plex-textmsg-search-phone .free-trial .input-area-code {
	padding-right: 24px;
	margin-top: 10px;
}

.plex-textmsg-search-phone .free-trial span {
    display: block;
}

.plex-textmsg-search-phone .free-trial .qa {
	font-size: 14px;
	padding: 10px 12px 0 12px;
}
.plex-textmsg-search-phone .free-trial .qa span:first-child {
	font-weight: 600;
}
.plex-textmsg-search-phone .free-trial .qa span:last-child {
	font-size: 14px;
}
.plex-textmsg-search-phone .free-trial .search-number a.button {
    margin-top: 10px;
    border-radius: 4px;
    width: 20%;
}

.plex-textmsg-search-phone .phone-list-available {
	padding: 10px;
}

.plex-textmsg-search-phone .phone-list-available a.button {
	width: 20%;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 10px;
}
.plex-textmsg-search-phone .phone-list-available .buy-option {
	color: #EA620B;
    font-size: 12px;
}

.plex-textmsg-search-phone .phone-list-available .show-more-phonelist {
	text-decoration: underline;
    font-size: 14px;
    margin: 10px 0px;
    display: block;
}

.plex-textmsg-search-phone .setup-phone-number {
	padding: 10px;
}
.plex-textmsg-search-phone .setup-phone-number span {
    display: block;
    padding: 8px;
    color: #797979;
}
.plex-textmsg-search-phone .setup-phone-number .back-to-search-number span {
	display: block;
	margin-top: 4px;
    cursor: pointer;
}
.plex-textmsg-search-phone .setup-phone-number a.button {
	border-radius: 4px;
}
.plex-textmsg-search-phone .number-details, .plex-textmsg-search-phone .plan-desc {
	color: #4d4d4d;
	display: inline-block;
    font-weight: 600;
    margin-bottom: 0;
}

.plex-textmsg-search-phone .phone-list-available .phone-list-view {
	max-height: 130px;
    overflow: hidden;
}

.plex-textmsg-search-phone .countries-for-free-trial .country-name {
	display: inline-block;
	font-size: 13px;
}
.plex-textmsg-search-phone .countries-for-free-trial ul {
	border: #888888 1px solid;
    padding: 8px 0px;
    overflow-y: scroll;
    max-height: 240px;
}
.plex-textmsg-search-phone .countries-for-free-trial .title span {
	font-size: 13px;
    display: block;
    color: #FFF;
    background-color: #888888;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plex-textmsg-search-phone .countries-for-free-trial .country-item {
	padding-left: 20px;
}


.billing-history {
	/*display: none;*/
	margin: 20px 30px 30px;
    width: 94% !important;
}

.no-billing-history {
    text-align: center;
    color: #cccccc;
    font-size: 21px;
    font-weight: 100;
}

.invoice-title {
	color: #AAAAAA;
    font-weight: 400;
    font-size: 20px;
    margin: 20px 0px;
}

table#invoice-history {
    margin: 100px auto 50px;
}

table#invoice-history thead th {
    border-bottom: #B9BDBD 1px solid;
}

.dataTables_wrapper {
	font-size: 10px;
}

table.dataTable th, table.dataTable td {
    font-size: 12px;
    color: #797979;
    height: 30px;
}

a.button.edit-card-btn {
    background: #A3A3A3;
    margin: 20px 10px;
    border-radius: 5px;
    padding: 10px 40px;
}

.card-info-title {
    font-size: 14px;
    color: #4D4D4D;
    font-weight: 600;
    margin: 10px auto;
}

.card-info-content {
    font-size: 12px;
    color: #505050;
    margin: 4px auto;
}

.hide-payment-info {
    text-decoration: underline;
    color: #337BC1;
    font-size: 14px;
    padding: 8px 4px 12px;
}

.hide-payment-info:hover {
	cursor: pointer;
}

.billing-checkout{
	display: none;
	max-width: 365px;
	color: #797979;
	margin: 30px;
}

.billing-checkout .summary-item{
	margin: 0 0 40px 0;
}

.billing-checkout hr{
	margin: 10px 0;
}

.billing-checkout #complete-purchase{
	margin: 40px 0 10px;
}

.billing-done{
	display: none;
	color: #797979;
	margin-top: 30px;
}

#get-started-w-plex{
	background-color: #FF5C26;
	max-width: 200px;
	margin: 40px auto 80px;
}

.billing-done .thankyou{
	color: #1295DE;
	font-size: 26px;
}

.billing-done .premium-badge{
	height: 170px;
	width: 170px;
	margin: 20px auto;
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/plex_badges.png);
	background-repeat: no-repeat;
    background-size: cover;
    background-position: -183px 0;
}

.billing-done .msg{
	margin: auto;
	max-width: 75%;
}

.billing-err, .callback-err{
	display: none;
}

.billing-err small, .callback-err small{
	color: #FF5C26;
}

/* new pricing look */
.billing-bg .billing-header, .billing-bg .billing-tabs > .bill-tab{
	color: skyblue;
}

.plan-selection-title {
	font-size: 28px;
	padding: 0 0 30px;
}

/* premium package update - start */
#_getstarted_premium_plans{text-align:center}
#_getstarted_premium_plans>div{display:inline-block}
#_getstarted_premium_plans .plan{background-color:#fff;display:inline-block;vertical-align:bottom;max-width:300px;color:#797979;box-shadow:0 1px 6px 1px rgba(0,0,0,.4)}
#_getstarted_premium_plans .plan b{color:#000}
#_getstarted_premium_plans .plan:not(:last-child){margin:0 20px 0 0}
#_getstarted_premium_plans .plan .name{background-color:#444;color:#fff;font-size:22px;padding:5px 0;font-weight:200}
#_getstarted_premium_plans .plan .price{text-align:center;margin:10px 0}
#_getstarted_premium_plans .plan .price .amt{font-size:47px;font-weight:600;color:#000;position:relative;display:inline-block}
#_getstarted_premium_plans .plan .price .dollar,
#_getstarted_premium_plans .plan .price .wp{position:absolute;color:#797979}
#_getstarted_premium_plans .plan .price .dollar{top:12px;right:100%;width:15px;font-size:18px}
#_getstarted_premium_plans .plan .price .wp{bottom:12px;left:100%;width:70px;font-size:11px}
#_getstarted_premium_plans .plan .feature{padding:0 30px;text-align:left;font-size:14px;margin:0 0 25px}
#_getstarted_premium_plans .plan .savings{text-align:right;color:#26b24b;font-size:12px}
#_getstarted_premium_plans .plan .savings.total{font-size:14px;margin:15px 0;text-align:center}
#_getstarted_premium_plans .plan a.choose{display:inline-block;color:#fff;background-color:#ff5c26;border-radius:10px;padding:10px 40px;font-size:24px;font-weight:100;transition:all 1.25s cubic-bezier(.19,1,.22,1)}
#_getstarted_premium_plans .plan a.choose.disabled{background-color: #ab4324; opacity: 0.5; cursor: default;}
#_getstarted_premium_plans .plan a.choose:active{box-shadow:inset 1px 1px 1px 1px rgba(0,0,0,.4)}
#_getstarted_premium_plans .plan a.choose:hover{background-color:#ab4324}
#_getstarted_premium_plans .plan.Basic{max-width: 250px}
#_getstarted_premium_plans .plan.Basic .name{margin:0 0 40px}
#_getstarted_premium_plans .plan.Basic a.choose{margin:30px 0 52px}
#_getstarted_premium_plans .plan.Basic .feature{margin:0 0 10px}
#_getstarted_premium_plans .plan.Premium.Plus{max-width:320px}#_getstarted_premium_plans .plan.Premium.Plus .feature{margin:0 0 45px}
/* premium package update - end */

.back-to-plans-btn{
	text-decoration: underline;
	cursor: pointer;
	display: none;
}
.back-to-plans-btn:hover{
	text-decoration: none;
}
/* new pricing look - end */

/*manage subscriptions styles - start*/
.manage-subscription-container{
	display: none;
	margin: 0px 30px;
}

.manage-sub-btn{
	text-decoration: underline;
	margin: 0 0 80px;
	cursor: pointer;
}
.manage-sub-btn:hover{
	text-decoration: none;
}

.manage-sub-btn > a{
	color: #797979;
}

.manage-subscription-container table{
	width: 100%;
	margin: 0 0 40px;
}

.manage-subscription-container th, .manage-subscription-container td{
	color: #797979;
	width: 25%;
	text-align: left !important;
}

.manage-subscription-container td{
	padding: 0.625rem;
}

.edit-payment-btn{
	font-size: 12px;
	text-align: center;
	color: #fff;
    padding: 5px 10px;
    background-color: #797979;
    border-radius: 2px;
    cursor: pointer;
}
.edit-payment-btn:hover{
	background-color: #eee;
    color: #797979;
}
.edit-payment-btn:active{
	box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);
}

.change-plan-btn{
	background-color: #9EDA3E;
    border-radius: 2px;
    padding: 10px;
}

.info-editor{
	display: none;
}
/*manage subscriptions styles - end*/

.no-history{
	color: #797979;
	margin: 20px 0 0;
}

.invoice{
	color: #797979;
	border-bottom: 1px solid #DFDFDF;
	font-size: 15px;
	font-weight: 300;
}

.invoice .order-no, .invoice .billing-date, .invoice .billing-amount{
	width: 20%;
}

.invoice .billing-descrip{
	width: 40%;
}

.invoice-item{
	padding: 15px 0;
}

.invoice-header{
	padding: 0 0 3px;
}

.invoice-header > div{
	font-weight: 600;
}

.invoice-item .order-no{
	color: #1295DE;
	font-weight: 600;
}
/* ///// billing history end\\\\\\*/

/*small only styles*/
@media only screen and (max-width: 40em){

	/*connect with boxes*/
	.invite-from-options > .column{
		margin-bottom: 7px;
	}

	.plex-invite-friends-section .invite-friends-msg{
		font-size: 24px;
	}

	.plex-invite-friends-section .invite-friends-options-container .invite-from-box > .column[data-interchange]{
		/*height: 50px;*/
	}

	/*invite email preview modal*/
	.plex-invite-friends-section .preview-logo img{
		width: 50%;
	}

	.plex-invite-friends-section .email-invite-plex-nav-row > .column{
		font-size: 10px;
	}

	/*share this link mobile styles*/
	.plex-invite-friends-section .invite-shareable-url-row > .column{
		font-size: 12px;
	}

	/*invite friends title mobile style*/
	.invite-friends-title > .column.small-11{
		padding-left: 5px;
	}

	/*invite from contacts link mobile style*/
	.plex-invite-friends-section .invite-via-title-link a{
		font-size: 22px;
	}

	/*preview invite modal*/
	.plex-invite-friends-section .invite-preview-modal{
		bottom: 115px;
	}

	.plex-invite-friends-section .invite-preview-modal img{
		width: 50%;
	}

	/*no contacts yet message on mobile*/
	.plex-invite-friends-section .no-contacts-yet-msg-row{
	    padding: 80px 12px;
	}

	/*contacts selected*/
	.plex-invite-friends-section .contacts-currently-selected{
		font-size: 13px;
	}

	.plex-manage-users-section .users-container {
		margin-left: 0px !important;
		margin-right: 0px !important;
	}

	.plex-manage-users-section .modify-users,
	.plex-manage-users-section .add-users-step1,
	.plex-manage-users-section .add-users-step2,
	.plex-manage-users-section .add-users-finalstep {
		display: none;
		margin: 0px !important;
		float: left !important;
	}

	.plex-manage-users-section .modify-users .modify-title {
		padding-left: 20px;
		font-size: 18px;
		color: #797979;
	}

	.plex-manage-users-section .modify-users .edit-title {
	    padding-left: 20px;
	    font-size: 14px;
	    font-weight: 300;
	    color: #797979;
	}

	.plex-manage-users-section .user-info {
	    color: #797979;
	    padding-left: 6px;
	    font-size: 14px;
	}

	.plex-manage-users-section .user-img-upload {
	    padding-left: 20px;
	    padding-top: 10px;
	}

	.plex-manage-users-section .add-users-finalstep .ok-btn {
	    padding: 20px 40px;
	}

	.plex-manage-users-section .add-users-step1 .right,
	.plex-manage-users-section .add-users-step2 .right{
		padding: 10px 30px;
		color: #797979;
	}

	.plex-manage-users-section .portal-decision .button.secondary {
	    border-radius: 4px;
	    margin-left: 8px;
	    padding: 8px 20px;
	}

	.plex-manage-users-section .portal-decision .save-settings {
	    padding-left: 14px;
	}

	.plex-manage-users-section .add-users-step1-title,
	.plex-manage-users-section .add-users-step2-title {
	    font-size: 24px;
	    color: #797979;
	    padding-left: 10px;
	}

	.plex-manage-users-section .add-users-memo {
	    font-size: 16px;
	    font-weight: 300;
	    color: rgb(121, 121, 121);
	    padding-left: 10px;
	    padding-right: 30px;
	}

	.plex-manage-users-section .add-users-name input[type="text"] {
	    width: 88%;
	    margin-left: 10px;
	    margin-top: 20px;
	}

	.plex-manage-users-section .add-users-step1 .users-access div.column,
	.plex-manage-users-section .add-users-step2 .users-access div.column {
	    padding-left: 10px;
	    color: #797979;
	}

	.invoice .billing-descrip{
		display: none;
	}

	.invoice .order-no, .invoice .billing-date, .invoice .billing-amount{
		width: 33.3333%;
	}

	.invoice .billing-descrip-sm{
		display: block;
	}

	#save-creditcard-info{
		width: 100%;
	}

	.poweredby-top{
		width: 96%;
	}

	.billing-package-options .plan{
		width: 100%;
		padding: 5px;
	}
}

/* small and medium styles only */
@media only screen and (min-width: 40.063em) and (max-width: 64em){

	/* invite friends section styles */
	.plex-invite-friends-section .invite-friends-msg{
		font-size: 24px;
	}

	.billing-package-options .plan .plan-upgrade{
		width: 65%;
	}

	.billing-bg{
		background-attachment: fixed;
		background-position: center 0px;
	}

	.plan-container .plan {
	    width: 100%;
	    margin: 0 0 20px;
	}
}

/*medium and up styles*/
@media only screen and (min-width: 40.063em){
	.plex-invite-friends-section .invite-preview-modal img{
		width: 20%;
	}

	.invoice .billing-descrip-sm{
		display: none;
		margin: 25px 0 0;
	}
}

/*********************** phaseTwo Settings page styling! - end *******************/


.notification-container{
	background-color: #fff;
	border-radius: 4px;
}

.notification-container .title{
	font-size: 24px;
}

.notification-container .direc{
	margin: 10px 0;
}

.notification-container .arrow{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #797979;
	transform: rotate(90deg);
}

.notif-row{
	border: 1px solid #797979;
	border-radius: 3px;
	margin: 0 0 15px;
}

.notif-dropdown > .notif-opt-container{
	border: none;
	border-radius: 0;
}

.notif-dropdown{
	background: #F5F5F5;
	border-top: 1px solid #797979;
}

.notif-dropdown > .notif-opt-container:not(:last-child){
	border-bottom: 1px solid #797979;
}

.notif-opt-container .details{
	border-left: 1px solid #797979;
	cursor: pointer;
}

.notif-opt-container .details > div{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px 0 0;
}

.notif-opt-container .name, .notif-sub-container .name{
	padding: 10px 0 10px 10px;
	color: #797979;
}

.notif-opt-container .option, .notif-sub-container .option{
	padding: 7px 6px 0;
}

.notif-opt-container .details{
	padding: 10px 0 10px 10px;
	color: #797979;
}

.notif-opt-container .switch input:checked+label,
.notif-sub-container .switch input:checked+label{
	background: #2AC56C;
}

.save-notifications-btn.button, .save-notifications-btn.button:hover, .save-notifications-btn.button:active, .save-notifications-btn.button:focus,
.save-data_preferences-btn.button, .save-data_preferences-btn.button:hover, .save-data_preferences-btn.button:active, .save-data_preferences-btn.button:focus,
.to-confirmation-section-btn.button, .to-confirmation-section-btn.button:hover, .to-confirmation-section-btn.button:active, .to-confirmation-section-btn.button:focus{
	background: #2AC56C;
}

.confo{
	/*color: #797979;*/
}

.confo .title{
	font-size: 24px;
}

.confo .number{
	font-size: 20px;
	margin: 10px 0;
}

.confo .input-wrapper{
	max-width: 125px;
	margin: auto;
}

.confo .input-wrapper input{
	text-align: center;
	border-radius: 3px;
}

.confo .update > div{
	cursor: pointer;
	text-decoration: underline;
	display: inline-block;
}

.confo .direc{
	font-size: 14px;
}

.confo .actions{
	margin: 25px 0 0;
}

.confo .actions > div{
	display: inline-block;
	vertical-align: middle;
}

.confo .actions button.button{
	background-color: #FF5C26;
	margin: 0 0 0 20px;
}

.edit-phone-wrapper .edit-phone{
	max-width: 275px;
	margin: auto;
	display: none;
}

.save-edited-wrapper{
	position: absolute;
	top: 0; right: 0;
	z-index: 1;
}

.enter-confirmation-code{
	display: none;
}

.dialing_code_choice{
	width: 50px;
	height: 37px;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
	padding: 5px 0 0 4px;
	color: #797979;
	font-size: 14px;
	cursor: pointer;
}

.dialing_code_choice > div{
	display: inline-block;
	vertical-align: middle;
}

#phone-field, #edited-phone-field{
	padding-left: 70px;
}

.dialing_code_choice .arrow{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #797979;
	transform: rotate(90deg);
}

.dialing_code_options{
	width: 65px;
	max-height: 300px;
	position: absolute;
	top: 0; left: 0;
	z-index: 1;
}

.resend-err, .code-err, .reached-limit-err{
	color: firebrick;
	font-size: 14px;
	max-width: 400px;
	margin: auto;
	display: none;
}

.phone-err, .edit-phone-err{
	color: #FF5C26;
	margin: -23px 0 10px;
	display: none;
}

.phone-form-err{
	color: #FF5C26;
	display: none;
}

.save-edited-phone-btn{
	padding: 10px 8px 9px;
	width: 100%;
	background-color: #FF5C26;
}

.dialing-codes-btn{
	position: absolute;
	top: 0; left: 0;
	color: #797979;
	width: 55px;
	height: 37px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	font-size: 14px;
}

.dialing-codes-btn .arrow{
	width: 0;
	height: 0;
	border-top: 5px solid transparent;
	border-bottom: 5px solid transparent;
	border-left: 5px solid #797979;
	transform: rotate(90deg);
	margin: 0 0 0 4px;
}

.dialing-codes-container{
	position: absolute;
	top: 36px; left: 0; right: 0;
	max-height: 200px;
	overflow-y: auto;
	color: #797979;
	background-color: #fff;
	border: 1px solid #797979;
	border-radius: 0 0 3px 3px;
	z-index: 1;
	display: none;
	text-align: left;
}

.dialing-codes-container .codes{
	cursor: pointer;
	padding: 0 0 3px 15px;
}

.dialing-codes-container .codes:hover{
	background-color: #eee;
}

.dialing-codes-container .country-name{
	display: inline-block;
	font-size: 14px;
	margin: 0 0 0 5px;
}

#phone-removal-modal{
	width: 365px;
}

#phone-removal-modal .question{
	font-size: 18px;
	text-align: center;
}

#phone-removal-modal .btn-grp{
	margin: 20px 0 0;
}

#phone-removal-modal .btn-grp > div{
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

#phone-removal-modal .btn-grp > div:first-child{
	color: #797979;
	background-color: transparent;
	font-size: 16px;
	font-weight: 400;
	padding: 10px 20px;
	width: 100px;
}

#yes-delete-my-phone-btn{
	background-color: #FF5C26;
	color: #fff;
	margin-left: 10px;
}

#back-to-text-notifications{
	margin: 0 0 15px;
	cursor: pointer;
	display: none;
}

#back-to-text-notifications > div{
	display: inline-block;
	vertical-align: middle;
}

#back-to-text-notifications > div:first-child{
	line-height: 15px;
	height: 20px;
	font-size: 28px;
}

.current-phone-view{
	margin: 15px 0;
}

.current-phone-view > div{
	display: inline-block;
	vertical-align: middle;
}

.current-phone-view .verified{
	position: relative;
}

.current-phone-view .verified > span{
	color: #24b26b;
	font-weight: 600;
}
.current-phone-view .verified > span:hover{
	cursor: help;
}

.current-phone-view .verified .tip{
	display: none;
	position: absolute;
	top: 100%; left: 0;
	background-color: #202020;
	color: #fff;
	width: 200px;
	padding: 10px;
	border-radius: 3px;
	z-index: 1;
	font-size: 14px;
}
.current-phone-view .verified:hover .tip{
	display: block;
}

.current-phone-view .phone{
	color: #797979;
}

.current-phone-view .edit{
	background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/edit_pencil_lg.png) no-repeat;
	background-size: cover;
	width: 13px;
	height: 13px;
	margin: 0 5px;
	cursor: pointer;
}

.current-phone-view .remove{
	font-weight: 600;
	font-size: 17px;
	color: #98D0EC;
	cursor: pointer;
}

#second-edited-phone-field{
	padding-left: 55px;
}

.current-phone-editor{
	max-width: 400px;
}

#save-new-phone-btn, #save-new-phone-btn:hover, #save-new-phone-btn:active, #save-new-phone-btn:focus{
	padding: 10px 15px 9px;
	background: #FF5C26;
}

.edit-phone-field-view-toggle-wrapper{
	margin: 20px 0;
}

.edit-phone-field-view-toggle-wrapper .current-phone-editor{
	display: none;
}

/*small only*/
@media only screen and (max-width: 40em){
	#phone-removal-modal{
		width: 100%;
	}
}

/*medium and up styles*/
@media only screen and (min-width: 40.063em){
	.notification-container > .column{
		padding: 40px !important;
	}
}

.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}

.setting-rm-tooltip-text{background-color:#252c33;color:#f5f5f5;position:absolute;top:-1.5em;max-width:200px;padding:0.9em;font-size:0.9em;font-weight:bold;line-height:1.3em;opacity:0;transition:visibility, opacity;transition-duration:0.25s;transition-delay:1s;visibility:hidden;z-index:900;}
.setting-rm-tooltip-triangle{position:absolute;top:1.5em;right:-10px;border-top:10px solid transparent;border-bottom:10px solid transparent;border-left:10px solid #252c33;}
.setting-rm-tooltip-text:hover{opacity:1;visibility:visible;display:block;}
.setting-rm-tooltip-mark:hover + .setting-rm-tooltip-text{transition-delay:0s;opacity:1;visibility:visible;}
.setting-rm-tooltip-text a{color:#f5f5f5;text-decoration:underline;}
.setting-rm-tooltip-mark{color:#000000;border:1px solid #000000;display:block;position:relative;margin:0 auto;text-align:center;height:1em;width:1em;border-radius:20px;}
.setting-rm-tooltip-mark .question-mark{font-size:0.5em;}

.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
.flag.flag-zr {background-position: -48px -176px}
