.large-5 {
  width: 30%;
}
.large-2 {
  width: 40%;
}
.rela {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
.signupFB {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: #38569a;
  color: #fff;
  margin: 0px 10px 0px 0px;
  padding: 0;
}
.signupGoogle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: #FFFFFF;
  color: #757575;
  margin: 0px 10px 0px 0px;
}
.signupLinkedIn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  text-align: center;
  width: 100%;
  background-color: #38569a;
  color: #fff;
  margin: 0px;
}
.facebook-white {
  height: 22.24px;
  padding-right: 5px;
}
.google-white {
  padding-right: 5px;
}
.linkedin-white {
  padding-right: 5px;
}
.signupButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  background-color: #FF5C26 !important;
}
.signupButton:hover {
  background-color: #FF5C26 !important;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 25px;
  height: 20px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-right: 5px;
  border: 2px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}