/********* signup modal ***************/
.signupModal-back{
    display: none;
    position: fixed;
    background-color: rgba(0,0,0,.5);
    width: 100%;
    width: 100vw;
    height: 100%;
    height: 100vh;
    z-index: 100;
    top: 0px;
}

.signupModal-wrapper{
    display: none;
    position: absolute;
    width: 100%;
    top: 11%;
}

.signupModal-cont{
    position: relative;
    background-color: #f5f5f5;
    padding: 48px 10px 20px 10px;
    width: 100%;
    max-width: 500px;
    margin: 0px auto 20px auto;
    border-top: 8px solid #000000;
    z-index: 102;
}

.signupModal-cont h1{
    font-size: 26px;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
    margin-bottom: 20px;
}

.signupModal-cont input{
    border-radius: 3px;
}


#centerOuter {
    position: absolute;
    top: 50%;
    width: 100%;
}

#centerInner.signupform {
    margin-top: -252px;
}

.formbox{
    margin-top: 104px;
}

.formheader{
    border-top: solid 8px #000;
    width: 100%;
    height: 55px;
    position: relative;
    background-color: #F5F5F5;
}
.formBody{
    background-color: #F5F5F5;
    padding-bottom: 25px;
}


.formshield {
    background-color: #F5F5F5;
    background-image: url("https://s3-us-west-2.amazonaws.com/asset.plexuss.com/frontpage/plexussLogoLetterBlack.png");
    background-position: 53% 50%;
    background-repeat: no-repeat;
    border-radius: 50%;
    display: block;
    height: 125px;
    left: 50%;
    margin: 0 auto 0 -62px;
    position: absolute;
    top: -70px;
    width: 125px;
    z-index: 10;
}



.headerLogo {
    margin-top: 11px;
    max-width: 201px;
}

h1 {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 25px;
    font-weight: normal;
    padding-bottom: 15px;
    text-align: center;
}

p {
    color: #79796A;
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    font-size: 11px;
    text-align: center;
}

.new-description p{
    text-align: left;
}

input[type="text"], input[type="password"], input[type="date"], 
input[type="datetime"], input[type="datetime-local"], input[type="month"], 
input[type="week"], input[type="email"], input[type="number"], input[type="search"], 
input[type="tel"], input[type="time"], input[type="url"], textarea{
    border: 1px solid #B9BABB !important;
    border-radius: 5px !important;
    /*box-shadow: 0 0 6px activeborder inset;*/
}




/* phone number input on signup  */
.twilio-err{
    display: none;
}

.phone-container{
    margin-top: 25px !important;
}

.phone-container input{
    padding-left: 85px;
}

.country-code-cont{
    cursor: pointer;
    position: absolute;
    top: 5px;
    left: 18px;
}

.phone-arrow{
    display: inline-block;
    position: absolute;
    height: 0;
    width: 1px;
    top: 10px;
    left: 49px;
    border-top: 7px solid #797979;
    border-left: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-right: 6px solid transparent;
}

.current-code{
    display: inline-block;
    color: #999999;
}

.country-code-dropdown{
    position: absolute;
    z-index: 5;
    top: 53px;
    left: .4em;
    width: 97%;
    width: calc(100% - .8em);
    background-color: #ffffff;
    border-left: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    border-right: 1px solid #cccccc;
    margin-top: -16px;
    max-height: 236px;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px;
    color: #797979;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: none;
}

.country-code{
    cursor: pointer;
    padding: 4px 10px;
    font-size: 14px;
}
.country-code:hover{
    background-color: #eeeeee;
}


.optinmessage{
    font-size: 11px;
    color: #79796A;
    margin-bottom: 13px;
    margin-top: 10px;
}

.optinmessage input {
    margin: 0 5px 0 0;
    padding: 0;
}

.signupButton{
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    width: 100%;
    color: #fff;
    background-color: #FF5C26;
    height: 40px;
    border: none;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px
}

.orLine {
    border-bottom: 1px solid #808080;
    height: 10px;
    margin: 10px 0 20px 0;
}
.ortxt{
    margin: 10px 0 20px 0;
}

.signupFB {
    font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    background-color: #38569A;
    color: #FFFFFF;
    display: block;
    height: 40px;
    padding-top: 11px;
    text-align: center;
    width: 100%;
}
.signupFB:hover {
    color: #fff;
}

.haveAcct{
    font-size: 12px;
    text-decoration: underline;
    color: #79796A;
}

.forgottxt a {
    color: #79796A;
    font-size: 11px;
    padding: 0;
    text-decoration: underline;
}

input[data-invalid=""] {
    background-color: #FFEAC8;
    background-image: url("/images/formError.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #FF7F00;
    box-shadow: none;
    color: #000000;
}

select[data-invalid=""] {
    background-color: #FFEAC8;
    background-image: url("/images/formError.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #FF7F00;
    box-shadow: none;
    color: #797979;
}


.optinbox{
    margin:0;
    padding: 0;
}


[data-abide] .error small.error, [data-abide] span.error, [data-abide] small.error {
    background-color: inherit;
    color: #FF7F00;
    font-size: 10px;
    padding-left: 0;
    padding-bottom: 0;
}

[data-abide] .error small.error ul, [data-abide] span.error ul, [data-abide] small.error ul  {
    color: #FF7F00;
    font-size: 10px;
    margin: 0 0 0 20px;
    padding: 0;
}

.alert-danger {
    color: #FF7F00;
    font-size: 20px;
    list-style: none outside none;
    text-align: center;
    margin-bottom: 15px;
}

/* resizing plexuss logo */
.plex_logo_resize_signup{
    width: 145px;
    height: 24px;
}

.formbox > .medium-centered{
    margin-bottom: 100px;
}

.rela{
    position: relative;
}

.fb-logo-container{
    position: absolute;
    top: 0; bottom: 0; left: 7px;
    width: 20%;
    background: #29487d;
}

#facebook-logo {
    background: #29487d;
    /*text-indent: -235em;*/
    width: 0px;
    height: 105px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 10px solid #29487d;
    border-bottom: 0;
}
#facebook-logo::before {
    content: "/9";
    position: absolute;
    background: #29487d;
    width: 67px;
    height: 105px;
    bottom: -20px;
    right: -29px;
    border: 20px solid #eee;
    border-radius: 17px;
}
#facebook-logo::after {
    content: "/20";
    position: absolute;
    width: 42px;
    top: 47px;
    height: 18px;
    background: #eee;
    right: 5px;
}


#facebook-logo.sm {
    background: #29487d;
    text-indent: -235em;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    border: 3px solid #29487d;
    border-bottom: 0;
    margin: auto;
}
#facebook-logo.sm::before {
    content: "/9";
    position: absolute;
    background: #29487d;
    width: 39px;
    height: 48px;
    bottom: -20px;
    right: -26px;
    border: 7px solid #eee;
    border-radius: 9px;
}
#facebook-logo.sm::after {
    content: "/20";
    position: absolute;
    width: 15px;
    top: 17px;
    height: 7px;
    background: #eee;
    right: 2px;
}

#form .formDateWrapper{
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1) inset;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.75);
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    height: 2.3125rem;
    margin: 0 0 10px;
    padding: 0.5rem;
    transition: box-shadow 0.45s ease 0s, border-color 0.45s ease-in-out 0s;
    width: 100%;
    border: 1px solid #B9BABB;
    border-radius: 5px
}

.formDateWrapper input{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: none !important;
    box-shadow: none !important;
    height: 20px !important;
    line-height: 0;
    margin: 0;
    padding-bottom: 0;
    padding-top: 0;
    text-align: center;
    line-height: inherit;
}

#form .formDateWrapper.invalid{
    background-color: #FFEAC8;
    background-image: url("/images/formError.png");
    background-position: right center;
    background-repeat: no-repeat;
    border: 1px solid #FF7F00;
    box-shadow: none;
    color: #000000;
}

@media only screen and (max-width: 64em) {
    #password{
        margin-bottom: 10px;
    }

    #secondpassword{
        margin-bottom: 10px;
    }

}

.tooltip_scholarship {
    position: relative;
    display: inline-block;
}
.tooltip_scholarship .tooltiptext {
    visibility: hidden;
    width: 260px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 7px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip_scholarship:hover .tooltiptext {
   	 visibility: visible;
}