/* /css/smartInteractiveColumn.css */


.CircularProgressbar{
	transform: rotateZ(-185deg);
	margin-top: -5px;
}
.CircularProgressbar .CircularProgressbar-path {
  stroke: #a0db39;
  stroke-width: 6px;
  stroke-dashoffset: 690;
  transition: stroke-dashoffset 1s ease;
}

.CircularProgressbar .CircularProgressbar-trail {
  stroke-width: 6px;	
  stroke: rgb(221,221,221);
}

#_sic .profile .meter .CircularProgressbar .CircularProgressbar-text{ visibility: hidden; }
#_sic .profile .meter .CircularProgressbar .CircularProgressbar-path{ stroke: #a0db39; }




/*********** scrollbar *************/

#_sic::-webkit-scrollbar{
	width: 8px;
}
#_sic::-webkit-scrollbar-button{
  background-color: #eee;
  height: 0;
 }
#_sic::-webkit-scrollbar-track{
  background-color: rgba(0,0,0,0.2);
 }
#_sic::-webkit-scrollbar-thumb{
  background-color: rgba(0,0,0,0.6);
 }









#ranking #_sic,
#news #_sic,
#college-essays #_sic, 
#quad-testimonials #_sic{
	top: -20px;
	padding-bottom: 15px;
	padding-top: 10px;
	min-height: 100%; /* cross browser fallback  (not perfect but ok )*/
	min-height: calc(100% + 15px);
	height: auto;
}

#comparison #_sic,
#college-home  #_sic,
#home #_sic,
#profile #_sic{
	top: -15px;
	padding-bottom: 15px;
	padding-top: 10px;
	min-height: 100%; /* cross browser fallback  (not perfect but ok )*/
	min-height: calc(100% + 15px);
	height: auto;
}

#profile #_sic{
	top: 0px;
}

#portal #_sic{
	min-height: 100%;  /* cross browser fallback  (not perfect but ok )*/
	/*min-height: calc(100% + 45px);*/
	min-height: 359px;
	height: auto;
}




.sic-content-wrapper{
	min-height: 101%;
	position: relative;
	overflow: auto;
	height: auto;
	display: inline-block;
}

/************ sic styles ************/
#_sic, #_banner_ad{
	position: absolute;
	top: 0; right: 0; bottom:0;
	width: 240px;
	background-color: #2e2e2e;
	color: #fff;
	min-height: 100%;
	z-index: 100;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 0 0 50px;
}

#_sic .intl-title{
	margin-top: 20px;
	font-size: 15px;
}

#_sic .intl-title img{
	margin-right: 8px;
}

#_sic.scrolledToTop{
	position: fixed;
	top: 0 !important; right: 0; bottom: 0;
	z-index: 100;
}

#_sic .title{ 
	padding: 15px 10px 0 10px;
	font-size: 18px; 
}

#_sic .membership{ padding: 25px 0 35px; }

#_sic .membership .plan{
	padding: 0 0 0 60px;
	text-transform: capitalize;
	position: relative;
	display: inline-block;
	font-weight: 100;
	font-size: 14px;
}

#_mobile_sic  .badge.premium,
#_sic .membership .badge.premium{
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/intl_students/premium_icon.png);
	width: 50px; height: 50px;
	background-repeat: no-repeat;
	background-size: cover;
	position: absolute;
	top: 0; left: 0; bottom: 0;
	margin: auto;
}

#mobile_sic .badge.premium.plus,
#_sic .membership .badge.premium.plus{ background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/intl_students/premium_plus_icon.png); }


#_sic .non-prem-txt{
	margin-left: -53px;
}

#_sic .diff, .app-status{ 
	border-bottom: 1px solid #eee;
	padding-bottom: 25px; 
	padding-top: 10px;
}

#_sic .diff{
	background-color: #555;
	position: relative;
	font-size: 14px;
}

#_sic .diff:not(.schedule){ padding: 30px 100px 30px 0; }

#_sic .diff .num{ 
	position: absolute;
	top: 0; right: 0; bottom: 0;
	margin: auto;
	width: 90px;
	height: 75px;
	text-align: center;
	padding-right: 20px;
	font-weight: 600;
	font-size: 50px; 
}

#_sic a.diff.essays,
#_sic a.diff.apps{
	display: block;
	color: #ffffff;
}

#_sic .diff.schedule{ padding: 40px 10px 20px; }

#_sic .diff.schedule .schedule-btn{
	margin: 0 auto 10px;
	width: 165px;
	display: block;
	padding: 10px 0;
	background-color: #26b24b;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	font-weight: 200;
	-webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
          border-radius: 3px;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

#_sic .diff.schedule .schedule-btn:active{ box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4); }

#_skyper img{
	margin: 0 2px 0 0;
	width: 22px; 
}

#_skyper > a{ color: #2ba6cb; }
		
#_skyper a#_skypeCall{ display: inline-block; }

#_skyper a#_skypeChat{ 
	margin: 0 0 0 4px;
	display: none; 
}

#_skyper a#_skypeChat:before{ content: ' | '; }

#_skyper:hover a#_skypeChat{
	display: inline-block;
	animation: _fadeInRight 0.4s;	
}

@keyframes _fadeInRight {
	0% {
		opacity: 0;
		transform: translate3d(100%, 0, 0);
	}

	100% {
		opacity: 1;
		transform: none;
	}
}

#_sic .diff.schedule #SkypeButton_Call_premium_156_1_1 p{ margin: 0 !important; }

#_sic .diff.schedule #SkypeButton_Call_premium_156_1_1 p > a{
	display: block;
	height: 28px;
	width: 70px;
	margin: auto;
}

#_sic .diff.schedule #SkypeButton_Call_premium_156_1_1 p > ul{
	z-index: 101;
	margin-top: 0 !important;
}

#_sic .diff.schedule #SkypeButton_Call_premium_156_1_1 img{
	margin: 0 !important;
	vertical-align: initial !important;
}

#_sic .profile{ 
	width: 100%;
    padding: 47px 0 50px 0;
    display: inline-block;
}

#_sic .profile .percent, .edit{
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	width: 50%;
	position: relative;
}

#_sic .profile .percent{
	width: 45%;
	float: left;
	padding: 0; 
}

#_sic .profile .meter{
	position: absolute;
	top: 0; bottom: 0; left: 28px;
	width: 90px;
	height: 90px;
	z-index: 100;
	margin: auto;
}

#_sic .profile .percent-txt{
	margin-left: 50px;
	font-size: 15px;
	top: -5px;
	position: relative;
}


.review-route{
		display: block;
		width: 165px;
		margin: 10px auto 25px;
		color: #26b24b;
		text-align: center;
		background-color: #fff;
		border-radius: 3px;
		padding: 6px 0;

		
	}

#_sic .profile .edit{ 
	text-decoration: underline;
	font-size: 14px;
	cursor: pointer;
	color: #26b24b;
}


#_sic .section-name{
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	text-align: left;
	font-weight: 600;
	position: relative;
	width: 75%;
	margin: auto;
	font-size: 14px;
	padding: 0 0 29px;
}

#_sic .section-name > span{
	position: absolute;
	right: 0;
}

#_sic .sections-list{
	animation: _fadeInLeft 0.3s;
}

@keyframes _fadeInLeft {
		0% {
			opacity: 0;
			transform: translate3d(-100%, 0, 0);
		}

		100% {
			opacity: 1;
			transform: none;
		}
	}


#_sic .section-name .completeToggle,
#_sic .section-name .incompleteToggle,
#_sic .expand-stat-btn{
	cursor: pointer;
}

#_sic .sections-list .s-item a{ font-weight: 200; font-size: 15px; color: #ffffff;}
#_sic .sections-list.complete .s-item a > span{ 
	color: #26b24b; 
	font-weight: 600;
	font-size: 18px;
}

#_sic .sections-list.incomplete .s-item{ font-weight: 200; font-size: 15px; color: #838383;}


#_sic .subm-school{
	padding: 17px 0 15px 0px;
	position: relative;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
	width: 79%;
	margin: auto;
}
#_sic .subm-school .logo{
	width: 42px;
    height: 42px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    line-height: 36px;
    overflow: hidden;
    background-color: #fff;
    margin-right: 10px;
    background-repeat: no-repeat;
}

#_sic .subm-school .logo img{
	width: 90%;
	height: auto;
}


#_sic .subm-school .subm-school-name{
    vertical-align: middle;
    display: inline-block;
    margin-top: -20px;
}

#_sic .sic-continue-btn{
	color: #26b24b;
}

#_sic .close-sic-btn{
	display: none;
	cursor: pointer;
	width: 22px;
    height: 22px;
    border: 2px solid #ffffff;
    text-align: center;
    vertical-align: middle;
    line-height: 17px;
    font-weight: 600;
    border-radius: 100%;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
}

#_sic .submitted-apps{
	padding: 25px 5px;
}

/*#news .menuPremium-btn,
#college-essays .menuPremium-btn{
	display: none;
}*/



/************ try to sell premium *********/
#_sic .small{
	font-size: 12px;
	font-weight: 100;
}


#_sic .prem-msg-cont{
	position: relative; 
    bottom: 0px;
    z-index: 102;
    /* margin: 0 0 0 -25px; */
    background-color: #2e2e2e;
    box-shadow: 0px 1px px 30px #2e2e2e;
    padding: 25px;
    border-bottom: 1px solid #797979;

}


#_sic .signup-btn{
	cursor: pointer;
	display: inline-block;
	border-radius: 5px;
	padding: 5px 10px;
	width: 90%;
}
#_sic .signup-btn a{
	color: #ffffff;
}

#_sic .signup-btn:hover,
#_sic .signup-btn:active,
#_sic .signup-btn:focus{
	background-color: #fc612e;
}

#_sic .disabled{
	opacity: .5;
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
	cursor: not-allowed;
}

/********************/


#_sic .intl-btn{
	cursor: pointer;
	background-color: #ffffff;
	border-radius: 5px;
	padding: 8px 6px;
	display: inline-block;
	font-size: 13px;
	width: 72%;
	font-weight: 600;
	margin-top: 20px;
}
#_sic .intl-btn a{
	color: #2e2e2e;
}
#_sic .intl-btn:hover,
#_sic .intl-btn:active,
#_sic .intl-btn:focus{
	background-color: #f3f3f3;
}




.mobile_sic-background{
	display: none;
	background-color: #2e2e2e;
	position: fixed;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 0;
}

.mobilePremium-btn{
	display: block !important;
}

.topnav-btn.menuPremium-btn,
.menuPremium-btn{
	display: none;
}


#_sic .finish-signup a{
	font-size: 15px;
	text-decoration: underline;
	cursor: pointer;
	color: #26b24b;
	padding: 10px 0 20px;
}




/* small only */
@media only screen and (max-width: 40em){

	#_sic .prem-msg-cont{
		border-top: 1px solid #797979;
	}

	#_sic{ 
		width: 100%;
		padding: 10px 25px 50px 25px;
	}

	#portal #_sic{
		top: 43px;
		display: none;
	}

	#_sic .diff.schedule .schedule-btn{
		width: 50%;
	    display: inline-block;
	    font-size: 14px;
	    padding: 0px;
	    font-weight: 400;
	    color: #26b24b;
	    background: transparent;
	}

	#_sic .skype-cont{
		width: 43%;
		display: inline-block;
	}

	#_sic .diff, .app-status{
		border-bottom: none;
	}

	.news-content-wrapper #_sic{
		top: -80px;
	}

	#_sic .close-sic-btn{
		display: inline-block;
	    width: 30px;
	    height: 30px;
	    border: 2px solid #ffffff;
	    font-size: 30px;
	    line-height: 25px;
	    right: 15px;
	    /* padding-bottom: 24px; */
	    position: absolute;
	}

	#_sic .title{
		margin: 47px 0 0;
		font-size: 23px;
	}

	#_sic .diff.apps,
	#_sic .diff.essays{
		display: inline-block;
	    width: 48%;
	    margin: 0px;
	    padding: 9px;
	    height: 135px;
	}

	#_sic .diff.apps{
		float: left;
	}
	#_sic .diff.essays{
		float: right;
	}

	#_sic .sic-row{
		margin-bottom: 30px;
	}

	#_sic .diff .num{
		position: relative;
		display: block;
		text-align: center;
		padding-right: 0px;
	}

	#_sic .app-status-meter-cont{
		border: 1px solid #797979;
		margin-top: 30px;
	}

	#_sic .profile{
		padding: 15px 0 0 0;
	}

	#_sic .profile .percent {
	    display: inline-block;
	    width: 37%;
	    float: left;
        padding: 0 0 0 10px; 
	    margin: 0; 
	}

	#_sic .profile .percent-txt{
	    margin-left: -8px !important;
	    top: -59px;
	}

	#_sic .app-stat-txt{
	    width: 45%;
	    float: left;
	    word-wrap: normal;
	}

	#_sic .expand-stat-btn{
		width: 20px;
	    height: 20px;
	    font-size: 21px;
	    margin-right: 26px;
	    top: -2px;
	    position: relative;
	    float: right;
	}

	#_sic .profile .meter{
		display: inline-block;
		position: static;
		margin-top: -11px;
	}


	#_sic .percent-txt{
		top: -16px;
	    left: 5px;
	    font-size: 13px;
	    position: relative;
	}

	#_sic .stats-container{
		display: none;
		margin-top: 20px;
	}

	#_sic .submitted-apps{
		border: 1px solid #797979;
	}

}


/* news pages sic */
.news-cont-left-container{
	width: 100%;
	padding-right: 260px;
	padding-left: 20px;
}

@media all and (max-width: 640px){
	.news-cont-left-container{
		padding-right: 0px;
		padding-left: 0px;
	}


	#news #_sic{
		top: -38px;	
	}

	#college-essays #_sic,
	#quad-testimonials #_sic{
		top: -58px;
	}
}

@media all and (min-width: 640px) and (max-width: 1025px){
	.news-cont-left-container{
		width: 100%;
		padding-right: 20px;
	}
}

@media all and (max-width: 1025px){
	#news #_sic,
	#college-essays #_sic,
	#quad-testimonials #_sic{ 
		display: none; 
	}


	#news .menuPremium-btn,
	#college-essays .menuPremium-btn,
	#quad-testimonials .menuPremium-btn{
		display: inline-block;
	}


	#news #_sic .close-sic-btn,
	#college-essays #_sic .close-sic-btn,
	#quad-testimonials #_sic .close-sic-btn{
		display: inline-block;
		margin-top: 0px;
		right: 0px;
	}

}


.home-content-wrapper{
	padding-right: 240px !important;
}

/* home */
@media all and (max-width: 962px){
	#home #_sic{
		display: none;
		top: -55px;
	    padding-top: 27px;
	}


	#home .medium-9{
		width: 100%;
	}

	#home .menuPremium-btn{
		display: inline-block;
	}

	#home #_sic .close-sic-btn{
		display: inline-block;
	}

	.home-content-wrapper{
		padding-right: 10px !important;
		padding-left: 10px !important;
	}
}


/* college-home */
.college-home-c-wrapper{
	padding-right: 25px;
	padding-left: 20px;
}

@media all and (max-width: 1485px){

	#college-home #_sic{
		display: none;
	    top: -55px;
	    padding-top: 27px;
	}
	#college-home .menuPremium-btn{
		display: inline-block;
	}

	#college-home #_sic .close-sic-btn{
		display: inline-block;
	}

	.college-home-c-wrapper{
		padding-right: 15px;
		padding-left: 15px;
	}
}



/* college ranking (from topnav dropdown) -- ranking */
/* college battle pages -- comparison */

.ranking-c-wrapper{
	/*padding-right: 260px;*/
	padding-right: 20px;
	padding-left: 20px;
	width: 90%;
}


.comp-c-wrapper{
	/*padding-right: 260px;*/
	padding-right: 20px;
	padding-left: 20px;
	width: 90%;
}

/* banner ad styles */
#_banner_ad{
	cursor: pointer;
	background-size: contain;
	background-position: top;
	background-repeat: no-repeat;
	background-color: transparent;
}

#_banner_ad.sticky{
	position: fixed;
}

#_banner_ad_bar{
	background-color: #FF5C26;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	user-select: none;
}

#_banner_ad_bar > a{
	display: block;
}

#_banner_ad_bar img{
	width: 150px;
	margin-top: -8px;
}

#_banner_ad_bar .text{
	margin: 0 20px;
}

#_banner_ad_bar .signupbtn{
	background-color: #fff;
	color: #FF5C26;
	padding: 5px 30px;
	border-radius: 5px;
}

#banner_ad_modal{
	position: fixed;
    top:50%!important;
    left:50%;
    transform:translate(-50%, -50%);
}

#banner_modal_container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#banner_ad_modal h4{
	color: #FF5C26;
	font-weight: 600;
	text-align: center;
}

#banner_ad_modal .text{
	margin: 40px 0;
	color: #797979;
	font-size: 18px;
}

#ad_modal_btn{
	color: #fff;
	padding: 5px 50px;
	background-color: #FF5C26;
	border-radius: 5px;
	font-size: 20px;
	margin: 0 0 10px;
}

#ad_modal_img > img{
	width: 300px;
}
/* banner ad styles - end */

/*small only*/
@media only screen and (max-width: 40em){
	#banner_ad_modal{
		min-height: 450px;
	}
}

@media all and (max-width: 1025px){

	#ranking #_sic,
	#comparison #_sic{
		display: none;
	}


	#ranking .menuPremium-btn,
	#comparison .menuPremium-btn{
		display: inline-block;
	}

	#ranking #_sic .close-sic-btn,
	#comparison #_sic .close-sic-btn{
		display: inline-block;
	}

	.ranking-c-wrapper{
		padding-right: 10px;
		padding-left: 10px;
	}

	.comp-c-wrapper{
		padding-right: 10px;
		padding-left: 10px;
	}
}


/* profile */

.profile-container{
	padding-left: 20px;
	padding-right: 10px;
}
@media all and (max-width: 1136px){

	#profile #_sic{
		display: none;
	}

	#profile .menuPremium-btn{
		display: inline-block;
	}

	#profile #_sic .close-sic-btn{
		display: inline-block;
	}


	.profile-content-container{
		padding-right: 0px;
	}

	.profile-container{
		padding-left: 10px;
		padding-right: 10px;
	}
}