@charset "utf-8";
/* CSS Document */


.switchcustom {
  padding: 0;
  border: none;
  position: relative; }
  .switchcustom label {
    display: block;
    margin-bottom: 1rem;
    position: relative;
    color: transparent;
    background: #dddddd;
    text-indent: 100%;
    width: 4rem;
    height: 2rem;
    cursor: pointer;
    transition: left 0.15s ease-out; }
  .switchcustom input {
    opacity: 0;
    position: absolute;
    top: 9px;
    left: 10px;
    padding: 0; }
    .switchcustom input + label {
      margin-left: 0;
      margin-right: 0; }
  .switchcustom label:after {
    content: "";
    display: block;
    background: white;
    position: absolute;
    top: .25rem;
    left: .25rem;
    width: 1.5rem;
    height: 1.5rem;
    -webkit-transition: left 0.15s ease-out;
    -moz-transition: left 0.15s ease-out;
    transition: left 0.15s ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  .switchcustom input:checked + label {
    background: #A0C66B; }
  .switchcustom input:checked + label:after {
    left: 2.25rem; }
  .switchcustom label {
    width: 4rem;
    height: 2rem; }
  .switchcustom label:after {
    width: 1.5rem;
    height: 1.5rem; }
  .switchcustom input:checked + label:after {
    left: 2.25rem; }
  .switchcustom label {
    color: transparent;
    background: #dddddd; }
  .switchcustom label:after {
    background: white; 
	
	}
  .switchcustom input:checked + label {
    background: #A0C66B; }
  .switchcustom.large label {
    width: 5rem;
    height: 2.5rem; }
  .switchcustom.large label:after {
    width: 2rem;
    height: 2rem; }
  .switchcustom.large input:checked + label:after {
    left: 2.75rem; }
  .switchcustom.small label {
    width: 3.5rem;
    height: 1.75rem; }
  .switchcustom.small label:after {
    width: 1.25rem;
    height: 1.25rem; }
  .switchcustom.small input:checked + label:after {
    left: 2.5rem; }
  .switchcustom.tiny label {
    width: 3rem;
    height: 1.5rem; }
  .switchcustom.tiny label:after {
    width: 1rem;
    height: 1rem; }
  .switchcustom.tiny input:checked + label:after {
    left: 1.75rem; }
  .switchcustom.radius label {
    border-radius: 4px; }
  .switchcustom.radius label:after {
    border-radius: 3px; }
  .switchcustom.round {
    border-radius: 1000px; }
    .switchcustom.round label {
      border-radius: 2rem; }
    .switchcustom.round label:after {
      border-radius: 2rem; }