body {
	background-color: #F0F0F0;
}

.unsubscribe-email {
    color: #797979;
}

.unsubscribe-email .plexuss-icon {
    width: 3em;
    height: auto;
    display: block;
    margin: 1em auto;
}

.unsubscribe-email .company-name {
	margin: 20px 60px;
    font-size: 36px;     
    font-weight: 600;
}

.unsubscribe-email .survey-content {
	background-color: #FFF;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 10px;
}

.unsubscribe-email .result {
	font-size: 1.25em;
    font-weight: 500;
    padding: 10px;
    text-align: center;
}

.unsubscribe-email .unsub-icon {
    width: 2.25em;
    height: auto;
}

.unsubscribe-email .survey-title {
	font-size: .9em;
    font-weight: 500;
    text-align: center;
    padding-left: 10px;	
}

.unsubscribe-email .survey-reason {
	font-size: 1em;
    font-weight: 500;
    padding: 0 2em;
}

.unsubscribe-email ul {
    padding-left: 1.5em;
    margin: 1em 0 3em;
}
.unsubscribe-email ul input {
    margin: 10px 1px 8px 10px !important;
}
.unsubscribe-email ul label {
	font-size: 14px;
    color: #4d4d4d;
}
.unsubscribe-email input.button {
	font-size: 1em;
    display: block;
    margin: 2em auto 1em;
    padding: .5em 2em;
    border-radius: 4px;
    background-color: #4D4D4D;
}

.unsubscribe-email .return-home {
	display: inline-block;
    width: 160px;
    font-size: 14px;
    text-decoration: underline;
}

.unsubscribe-email .unsubscribe-reason {
    display: none;
    margin-top: 10px;
}

.unsubscribe-email .unsubsrcibe-begin {
    background-color: #FFF;
    padding: 20px;
    border-radius: 6px;
}

.unsubscribe-email .unsubscribe-title {
    padding-top: 20px;
    font-size: 20px;
    font-weight: 600;
}
.unsubscribe-email .unsubscribe-notify {
    padding: 20px 6px 10px;
    font-size: 14px;    
}

.unsubscribe-email .unsubscribe-confirm {
    margin-top: 10px;
    border-radius: 6px;
}

.unsubscribe-email .unsubscribe-user-email {
    margin: 0;
}

.unsubscribe-email .error {
    color: #ff7f00;
    display: none;
    background-color: #FFF !important;
    margin: 0 !important;
}

.unsubscribe-email-ajax-loader{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 6;
}

.unsubscribe-email-ajax-loader svg{
    position: absolute;
    top: 50%;
}