._upgradePremiumModal{
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1000;
  text-align: center;
  font-family: "Open Sans", sans-serif;
}


._upgradePremiumModal h1,
._upgradePremiumModal h2,
._upgradePremiumModal h3,
._upgradePremiumModal h4,
._upgradePremiumModal h5 {
  color: black;
}

._upgradePremiumModal h1 {
  color: black;
  font-size: 25px;
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 0;
  padding-bottom: 0;
}

._upgradePremiumModal h2 {
  color: #ffffff;
  font-size: 18px;
  margin-top: 25px;
  font-weight: 100;
}





._upgradePremiumModal .modalback{
  position: fixed;
  background: rgba(20,20,20,.8);
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

._upgradePremiumModal .premiumModal{
  width: 850px;
  max-width: 92%;
  position: relative;
  margin: auto;
  top: 90px;
  z-index: 1001;

  background-color: #FFFFFF !important;
  padding: 50px 20px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  color: #ffffff;
}
._upgradePremiumModal .premiumModal .premiumModalImage {
  background: #ffffff;
  border-radius: 100%;
  height: 130px;
  width: 130px;
  position: relative;
  padding: 7px;
  margin-top: -108px;
  margin-left: 42%;
}

._upgradePremiumModal .premiumModal .guaranteedImage {
  margin-left: 70%;
  position: absolute;
}

._upgradePremiumModal .premiumModal .detailBlock {
  text-align: left;
  padding-left: 4%;
  margin-top: 35px;
}

._upgradePremiumModal .premiumModal .detailBlock img {
  display: inline;
  width: 15px;
  margin-right: 8px;
}

._upgradePremiumModal .premiumModal .detailBlock li {
  color: #79796A;
  font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
  font-size: 14px;
  line-height: 3;
  text-align: left;
  padding-left: 26px;
  font-style: italic;
}

._upgradePremiumModal  .close-btn{
    position: absolute;
    top: 12px;
    right: 30px;
    font-size: 38px;
    color: #d4d4d4;
    cursor: pointer;
}

._upgradePremiumModal .goto-upgrade-btn{
  width: 450px;
  max-width: 90%;
  font-size: 19px;
  display: block;
  text-decoration: none;
  padding: 12px 20px;
  text-align: center;
  color: #ffffff;
  background-color: #ff5c26;
  font-weight: 100;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin: 50px auto 30px auto;

}

._upgradePremiumModal .goto-upgrade-btn:hover,
._upgradePremiumModal .goto-upgrade-btn:active,
._upgradePremiumModal .goto-upgrade-btn:focus{
  background-color: #ff4b37;
}


/*********  media queries  -- upgrade modal ********/
@media all and (max-width: 600px){
  ._upgradePremiumModal h1{
    font-size: 21px;
    max-width: 95%;
    margin: 35px auto 0px auto;
  }

  ._upgradePremiumModal h2 {
      font-size: 16px;
      max-width: 88%;
      margin: 15px auto 0px auto;
  }

  ._upgradePremiumModal .premiumModal .premiumModalImage {
    margin-left: 32%;
  }

  ._upgradePremiumModal .premiumModal .guaranteedImage {
    width: 80px;
    position: relative;
  }

  ._upgradePremiumModal .goto-upgrade-btn{
    font-size: 17px;
  }
}

