@keyframes fadeIn {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

@keyframes fadeInLeft {
    from {
        opacity:0;
        -webkit-transform: translatex(-100px);
        -moz-transform: translatex(-100px);
        -o-transform: translatex(-100px);
        transform: translatex(-100px);
    }

    to {
        opacity:1;
        -webkit-transform: translatex(0);
        -moz-transform: translatex(0);
        -o-transform: translatex(0);
        transform: translatex(0);
    }
}


.selected-majors-view {

}

.top-logo-bar {
    background-color: #fff;
    width: 100%;
    height: 3.5em;
    margin-bottom: 3em;
    display: flex;
    align-items: center;
    padding-left: 1em;
}

.unqualified_container {
    margin-top: 2em;
    animation: fadeIn 1s;
}

.unqualified_message {
    color: #e4e4e4;
    text-align: center;

}

.plexuss-application-next-button {
    display: inline-block;
    background-color: #27b77c;
    padding: 0.5em 3em;
    font-size: 16pt;
    border-radius: 5px;
    color: #fff;

    transition: opacity 0.2s ease-in;
}

.plexuss-application-next-button:hover {
    opacity: 0.85;
}

.offering-option {
    display: flex;
    align-items: center;
    width: 67%;
    background-color: #fff;
    margin: 1em auto;
    padding: 1.25em;
    border-radius: 4px;
    color: #4c4c4c;
    font-size: 13pt;
    cursor: pointer;

    transition: opacity 0.3s ease-in;
    animation: fadeInLeft 0.5s;
}

.offering-option:hover {
    opacity: 0.85;
}

.unqualified-but-go-anyways-link {
    color: #fff !important;
    text-decoration: underline !important;
    cursor: pointer;
    transition: opacity 0.3s ease-in;
}

.unqualified-but-go-anyways-link:hover {
    opacity: 0.85;
}

.offering-option > img {
    width: 3em;
    margin-right: 1em;
}

.offering-option.scholarships-offering-option {
    padding-left: 5em;
}

.secondary_unqualified_message {
    width: 73%;
    margin: 1em auto;
    margin-bottom: 3em;
}

.financials_unqualified_message {
    width: 80%;
    margin: 1em auto;
    margin-bottom: 2em;
    font-size: 14pt;
}

.financials_unqualified_message > span {
    color: #fff;
    font-weight: bold;
}

.verify-header {
    font-weight: bold;
    text-align: center;
    margin: 2em 0;
}

.manage-students-ajax-loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    background-color: rgba(0,0,0,0.4);
    z-index: 101;
}

.manage-students-ajax-loader svg {
    position: absolute;
    top: 50%;
}

.small-label {
    font-size: 12px;
}

.underline {
    text-decoration: underline;
}

.no-gpa-converter-message {
    color: red;
}

.gpa-converter {
    margin-bottom: 0.5em;
}

.toggle-test-scores-container {
    margin: 0.5em 0;
    border: 1px solid #ced4da;
    border-radius: 3px;
    padding: 0.5em;
}

.act-fields-container, .sat-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.25em;
}

.sat-fields-container.hidden {
    display: none;
}

.gre-fields-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 0.25em;
}

.act-fields-container > div {
    /*width: 30%;*/
}

.single-major, .single-country {
    display: flex;
    width: fit-content;
    background-color: #797979;
    color: #fff;
    margin-top: 0.25em;
    margin-bottom: 0.25em;
    padding: 0.3em 0.5em;
    align-items: center;
}

.single-major-remove-button, .single-country-remove-button {
    display: flex;
    margin-right: 0.5em;
    width: 20px;
    height: 20px;
    background-color: #fff;
    color: #797979;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.form-group.no-converter {
    margin-top: 1em;
}

.actual-gpa-converter {
    margin-top: 0.5em;
}

.actual-gpa-converter.hidden {
    display: none;
}

.form-group.no-converter.hidden {
    display: none;
}

.form-group.grading-scales-container {
    margin-top: 0.5em;
}

.form-group.grading-scales-container.hidden {
    display: none;
}

.gpa-conversion-inputs { 
    display: flex;
    justify-content: space-between;
}

.gpa-conversion-inputs > .conversion-input-container {
    position: relative;
    width: 50%;
}

.conversion-input-container input[name=converted_gpa].loading {
    background-color: lightgray;
    color: lightgray;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.conversion-loader {
    display: none;
    position: absolute;
    margin: auto;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #26b24b;
    border-bottom: 3px solid #26b24b;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
    top: 22%;
    right: 61%;
}

.gpa-conversion-inputs input {
    margin-left: 0.5em;
    padding: 0.25em;
    border-radius: 3px;
    border: 1px solid #ced4da;
    width: 70%;
}

.gpa-conversion-inputs select {
    margin-left: 0.5em;
    padding: 0.25em;
    border-radius: 3px;
    border: 1px solid #ced4da;
    width: 50%;
}

.padding-1 {
    padding-top: 100px;
}
.logo-content {
    color: #dddddd;
    padding-top: 8px;
    font-size: 22px;
}
.logo-img {
    padding-left: 41px;
    width: 70%;
}
.form-back {
    background: #fff;
    padding: 2.5em 4em;
    border-radius: 6px;
    animation: fadeIn 1s;
}
.btn.btn-primary.btn-next {
    margin-top: 1em;
    width: 39%;
    font-size: 20px;
    background: #367fa9;
    transition: opacity 0.3s ease-in;
}

.btn.btn-primary.btn-next:hover {
    opacity: 0.85;
}
.skip {
    color: #000;
    text-decoration: underline;
    font-size: 17px;
}
.skip-para {
    color: #000;
    font-size: 17px;
}
.para.text-center {
    color: black;
    font-size: 18px;
    font-weight: bold;
}
.plexuss-link {
    color: #dddddd;
    font-size: 19px;
    text-decoration: underline;
}
.padding-2 {
    padding-top: 24px;
}
.error{color:red;}

.error.hidden{
    display: none;
}
.company-background {
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 800px;
    background-color: black;
}
.checkbox-field{
    margin-bottom: 1em;
}

.has-tooltip {
    position: relative;
    display: inline-block;
}

.intl-tel-input {
    display: block !important;
}

.has-tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 1em;
    border-radius: 6px;
    top: 100%;
    left: 50%; 

    width: 400px;
    margin-left: -200px;
 
    position: absolute;
    z-index: 1;
    pointer-events: none;

    transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.has-tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.birthday-inputs {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ced4da;
    padding: 0.25em;
    border-radius: 3px;
}

.birthday-inputs input {
    width: 25%;
    text-indent: 2em;
    border: 0;
}

.top_message {
    margin-bottom: 2em;
    text-align: left !important;
}

.top_message p {
    margin: 0;
    padding: 0;
}

/* Media Queries */
@media all and (max-width: 767px){
    .form-back {
        padding: 1em;
    }

    .padding-1 {
        padding-top: 2em;
    }

    .btn.btn-primary.btn-next {
        width: 80%;
    }

    .para.text-center {
        font-size: 17px !important;
        padding-top: 35px !important;
    }

    .logo-content {
        padding-top: 8px !important;
        font-size: 22px !important;
        padding-left: 33px !important;
    }
    .logo {
        text-align: center;
        margin-bottom: 1em;
    }
    .logo-img {
        padding-left:0 !important;
        width: 34% !important;
    }

    .offering-option {
        width: 100%;
    }

    .secondary_unqualified_message {
        width: 100%;
    }

}

/* Country flags */
.flag{display:inline-block;width:27px;height:14px;background-repeat:no-repeat;background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAOCAYAAADez2d9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAABZ0lEQVQ4jbWTrU4lQRCFv9mUKHFFC8QIxAgE2WxWIXgEQhA8AgK5D7BixYoVPMI+AxqxD4BAoNCIEYSMuKIF4ohOBtE9P1zYZG6AMuek0qlTdaq6sq8/+v2mRklgQAI3RwgSYOBAfILf3wJHuwGRc3NkAbdMVIo6MiGUecEcEa8DvleXAo6PzTE1VnDKC8zxBCZm0ySNU408CXdHCbp/N3TXU8fbhsGG0FyQzIcum7NTmoP9sdvlsvntZGPBQeiFIA7utBd/aQ3iUMJAaTmakkAUq4SsCA8TSrACdaL585PmsCkbE7Jpo8Ox/JcnYWEn4DuBuI6EVSlOFo9RhDoQu0i9V9P+uqBNGifbNqqHx3W/9HGAF98hO7BhF/kiZa+xuv1+slhsszi83stbuQGrp7v7fnR2fmWJj+VJVLfH572ncsTDyJ/BDar15VWf55o+wWdxU9tlr2f+xvkOPjBfXX1ZbXUg74lnBn0K7vtjOwgAAAAASUVORK5CYII=)}
.flag{width:16px;height:11px;background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat}
.flag.flag-ad{background-position:-16px 0}
.flag.flag-ae{background-position:-32px 0}
.flag.flag-af{background-position:-48px 0}
.flag.flag-ag{background-position:-64px 0}
.flag.flag-ai{background-position:-80px 0}
.flag.flag-al{background-position:-96px 0}
.flag.flag-am{background-position:-112px 0}
.flag.flag-an{background-position:-128px 0}
.flag.flag-ao{background-position:-144px 0}
.flag.flag-aq{background-position:-208px -165px}
.flag.flag-ar{background-position:-160px 0}
.flag.flag-as{background-position:-176px 0}
.flag.flag-at{background-position:-192px 0}
.flag.flag-au{background-position:-208px 0}
.flag.flag-aw{background-position:-224px 0}
.flag.flag-az{background-position:-240px 0}
.flag.flag-ba{background-position:0 -11px}
.flag.flag-bb{background-position:-16px -11px}
.flag.flag-bd{background-position:-32px -11px}
.flag.flag-be{background-position:-48px -11px}
.flag.flag-bf{background-position:-64px -11px}
.flag.flag-bg{background-position:-80px -11px}
.flag.flag-bh{background-position:-96px -11px}
.flag.flag-bi{background-position:-112px -11px}
.flag.flag-bj{background-position:-128px -11px}
.flag.flag-bm{background-position:-144px -11px}
.flag.flag-bn{background-position:-160px -11px}
.flag.flag-bo{background-position:-176px -11px}
.flag.flag-br{background-position:-192px -11px}
.flag.flag-bs{background-position:-208px -11px}
.flag.flag-bt{background-position:-224px -11px}
.flag.flag-bv{background-position:-240px -11px}
.flag.flag-bw{background-position:0 -22px}
.flag.flag-by{background-position:-16px -22px}
.flag.flag-bz{background-position:-32px -22px}
.flag.flag-ca{background-position:-48px -22px}
.flag.flag-catalonia{background-position:-64px -22px}
.flag.flag-cd{background-position:-80px -22px}
.flag.flag-cf{background-position:-96px -22px}
.flag.flag-cg{background-position:-112px -22px}
.flag.flag-ch{background-position:-128px -22px}
.flag.flag-ci{background-position:-144px -22px}
.flag.flag-ck{background-position:-160px -22px}
.flag.flag-cl{background-position:-176px -22px}
.flag.flag-cm{background-position:-192px -22px}
.flag.flag-cn{background-position:-208px -22px}
.flag.flag-co{background-position:-224px -22px}
.flag.flag-cr{background-position:-240px -22px}
.flag.flag-cu{background-position:0 -33px}
.flag.flag-cv{background-position:-16px -33px}
.flag.flag-cw{background-position:-32px -33px}
.flag.flag-cx{background-position:-240px -165px}
.flag.flag-cy{background-position:-48px -33px}
.flag.flag-cz{background-position:-64px -33px}
.flag.flag-de{background-position:-80px -33px}
.flag.flag-dj{background-position:-96px -33px}
.flag.flag-dk{background-position:-112px -33px}
.flag.flag-dm{background-position:-128px -33px}
.flag.flag-do{background-position:-144px -33px}
.flag.flag-ds{background-position:-224px -165px}
.flag.flag-dz{background-position:-160px -33px}
.flag.flag-ec{background-position:-176px -33px}
.flag.flag-ee{background-position:-192px -33px}
.flag.flag-eg{background-position:-208px -33px}
.flag.flag-eh{background-position:-224px -33px}
.flag.flag-england{background-position:-240px -33px}
.flag.flag-er{background-position:0 -44px}
.flag.flag-es{background-position:-16px -44px}
.flag.flag-et{background-position:-32px -44px}
.flag.flag-eu{background-position:-48px -44px}
.flag.flag-fi{background-position:-64px -44px}
.flag.flag-fj{background-position:-80px -44px}
.flag.flag-fk{background-position:-96px -44px}
.flag.flag-fm{background-position:-112px -44px}
.flag.flag-fo{background-position:-128px -44px}
.flag.flag-fr{background-position:-144px -44px}
.flag.flag-fx{background-position:-144px -44px}
.flag.flag-ga{background-position:-160px -44px}
.flag.flag-gb{background-position:-176px -44px}
.flag.flag-gd{background-position:-192px -44px}
.flag.flag-ge{background-position:-208px -44px}
.flag.flag-gf{background-position:-224px -44px}
.flag.flag-gg{background-position:-240px -44px}
.flag.flag-gh{background-position:0 -55px}
.flag.flag-gi{background-position:-16px -55px}
.flag.flag-gl{background-position:-32px -55px}
.flag.flag-gm{background-position:-48px -55px}
.flag.flag-gn{background-position:-64px -55px}
.flag.flag-gp{background-position:-80px -55px}
.flag.flag-gq{background-position:-96px -55px}
.flag.flag-gr{background-position:-112px -55px}
.flag.flag-gs{background-position:-128px -55px}
.flag.flag-gt{background-position:-144px -55px}
.flag.flag-gu{background-position:-160px -55px}
.flag.flag-gw{background-position:-176px -55px}
.flag.flag-gy{background-position:-192px -55px}
.flag.flag-hk{background-position:-208px -55px}
.flag.flag-hm{background-position:-224px -55px}
.flag.flag-hn{background-position:-240px -55px}
.flag.flag-hr{background-position:0 -66px}
.flag.flag-ht{background-position:-16px -66px}
.flag.flag-hu{background-position:-32px -66px}
.flag.flag-ic{background-position:-48px -66px}
.flag.flag-id{background-position:-64px -66px}
.flag.flag-ie{background-position:-80px -66px}
.flag.flag-il{background-position:-96px -66px}
.flag.flag-im{background-position:-112px -66px}
.flag.flag-in{background-position:-128px -66px}
.flag.flag-io{background-position:-144px -66px}
.flag.flag-iq{background-position:-160px -66px}
.flag.flag-ir{background-position:-176px -66px}
.flag.flag-is{background-position:-192px -66px}
.flag.flag-it{background-position:-208px -66px}
.flag.flag-je{background-position:-224px -66px}
.flag.flag-jm{background-position:-240px -66px}
.flag.flag-jo{background-position:0 -77px}
.flag.flag-jp{background-position:-16px -77px}
.flag.flag-ke{background-position:-32px -77px}
.flag.flag-kg{background-position:-48px -77px}
.flag.flag-kh{background-position:-64px -77px}
.flag.flag-ki{background-position:-80px -77px}
.flag.flag-km{background-position:-96px -77px}
.flag.flag-kn{background-position:-112px -77px}
.flag.flag-kp{background-position:-128px -77px}
.flag.flag-kr{background-position:-144px -77px}
.flag.flag-kurdistan{background-position:-160px -77px}
.flag.flag-kw{background-position:-176px -77px}
.flag.flag-ky{background-position:-192px -77px}
.flag.flag-kz{background-position:-208px -77px}
.flag.flag-la{background-position:-224px -77px}
.flag.flag-lb{background-position:-240px -77px}
.flag.flag-lc{background-position:0 -88px}
.flag.flag-li{background-position:-16px -88px}
.flag.flag-lk{background-position:-32px -88px}
.flag.flag-lr{background-position:-48px -88px}
.flag.flag-ls{background-position:-64px -88px}
.flag.flag-lt{background-position:-80px -88px}
.flag.flag-lu{background-position:-96px -88px}
.flag.flag-lv{background-position:-112px -88px}
.flag.flag-ly{background-position:-128px -88px}
.flag.flag-ma{background-position:-144px -88px}
.flag.flag-mc{background-position:-160px -88px}
.flag.flag-md{background-position:-176px -88px}
.flag.flag-me{background-position:-192px -88px}
.flag.flag-mg{background-position:-208px -88px}
.flag.flag-mh{background-position:-224px -88px}
.flag.flag-mk{background-position:-240px -88px}
.flag.flag-ml{background-position:0 -99px}
.flag.flag-mm{background-position:-16px -99px}
.flag.flag-mn{background-position:-32px -99px}
.flag.flag-mo{background-position:-48px -99px}
.flag.flag-mp{background-position:-64px -99px}
.flag.flag-mq{background-position:-80px -99px}
.flag.flag-mr{background-position:-96px -99px}
.flag.flag-ms{background-position:-112px -99px}
.flag.flag-mt{background-position:-128px -99px}
.flag.flag-mu{background-position:-144px -99px}
.flag.flag-mv{background-position:-160px -99px}
.flag.flag-mw{background-position:-176px -99px}
.flag.flag-mx{background-position:-192px -99px}
.flag.flag-my{background-position:-208px -99px}
.flag.flag-mz{background-position:-224px -99px}
.flag.flag-na{background-position:-240px -99px}
.flag.flag-nc{background-position:0 -110px}
.flag.flag-ne{background-position:-16px -110px}
.flag.flag-nf{background-position:-32px -110px}
.flag.flag-ng{background-position:-48px -110px}
.flag.flag-ni{background-position:-64px -110px}
.flag.flag-nl{background-position:-80px -110px}
.flag.flag-no{background-position:-96px -110px}
.flag.flag-np{background-position:-112px -110px}
.flag.flag-nr{background-position:-128px -110px}
.flag.flag-nu{background-position:-144px -110px}
.flag.flag-nz{background-position:-160px -110px}
.flag.flag-om{background-position:-176px -110px}
.flag.flag-pa{background-position:-192px -110px}
.flag.flag-pe{background-position:-208px -110px}
.flag.flag-pf{background-position:-224px -110px}
.flag.flag-pg{background-position:-240px -110px}
.flag.flag-ph{background-position:0 -121px}
.flag.flag-pk{background-position:-16px -121px}
.flag.flag-pl{background-position:-32px -121px}
.flag.flag-pm{background-position:-48px -121px}
.flag.flag-pn{background-position:-64px -121px}
.flag.flag-pr{background-position:-80px -121px}
.flag.flag-ps{background-position:-96px -121px}
.flag.flag-pt{background-position:-112px -121px}
.flag.flag-pw{background-position:-128px -121px}
.flag.flag-py{background-position:-144px -121px}
.flag.flag-qa{background-position:-160px -121px}
.flag.flag-re{background-position:-176px -121px}
.flag.flag-ro{background-position:-192px -121px}
.flag.flag-rs{background-position:-208px -121px}
.flag.flag-ru{background-position:-224px -121px}
.flag.flag-rw{background-position:-240px -121px}
.flag.flag-sa{background-position:0 -132px}
.flag.flag-sb{background-position:-16px -132px}
.flag.flag-sc{background-position:-32px -132px}
.flag.flag-scotland{background-position:-48px -132px}
.flag.flag-sd{background-position:-64px -132px}
.flag.flag-se{background-position:-80px -132px}
.flag.flag-sg{background-position:-96px -132px}
.flag.flag-sh{background-position:-112px -132px}
.flag.flag-si{background-position:-128px -132px}
.flag.flag-sk{background-position:-144px -132px}
.flag.flag-sl{background-position:-160px -132px}
.flag.flag-sm{background-position:-176px -132px}
.flag.flag-sn{background-position:-192px -132px}
.flag.flag-so{background-position:-208px -132px}
.flag.flag-somaliland{background-position:-224px -132px}
.flag.flag-sr{background-position:-240px -132px}
.flag.flag-ss{background-position:0 -143px}
.flag.flag-st{background-position:-16px -143px}
.flag.flag-sv{background-position:-32px -143px}
.flag.flag-sx{background-position:-48px -143px}
.flag.flag-sy{background-position:-64px -143px}
.flag.flag-sz{background-position:-80px -143px}
.flag.flag-tc{background-position:-96px -143px}
.flag.flag-td{background-position:-112px -143px}
.flag.flag-tf{background-position:-128px -143px}
.flag.flag-tg{background-position:-144px -143px}
.flag.flag-th{background-position:-160px -143px}
.flag.flag-tj{background-position:-176px -143px}
.flag.flag-tk{background-position:-192px -143px}
.flag.flag-tl{background-position:-208px -143px}
.flag.flag-tm{background-position:-224px -143px}
.flag.flag-tn{background-position:-240px -143px}
.flag.flag-to{background-position:0 -154px}
.flag.flag-tp{background-position:0 -176px}
.flag.flag-tr{background-position:-16px -154px}
.flag.flag-tt{background-position:-32px -154px}
.flag.flag-tv{background-position:-48px -154px}
.flag.flag-tw{background-position:-64px -154px}
.flag.flag-ty{background-position:-32px -176px}
.flag.flag-tz{background-position:-80px -154px}
.flag.flag-ua{background-position:-96px -154px}
.flag.flag-ug{background-position:-112px -154px}
.flag.flag-um{background-position:-128px -154px}
.flag.flag-us{background-position:-144px -154px}
.flag.flag-uy{background-position:-160px -154px}
.flag.flag-uz{background-position:-176px -154px}
.flag.flag-va{background-position:-192px -154px}
.flag.flag-vc{background-position:-208px -154px}
.flag.flag-ve{background-position:-224px -154px}
.flag.flag-vg{background-position:-240px -154px}
.flag.flag-vi{background-position:0 -165px}
.flag.flag-vn{background-position:-16px -165px}
.flag.flag-vu{background-position:-32px -165px}
.flag.flag-wales{background-position:-48px -165px}
.flag.flag-wf{background-position:-64px -165px}
.flag.flag-ws{background-position:-80px -165px}
.flag.flag-xk{background-position:-192px -165px}
.flag.flag-ye{background-position:-96px -165px}
.flag.flag-yt{background-position:-112px -165px}
.flag.flag-yu{background-position:-64px -176px}
.flag.flag-za{background-position:-128px -165px}
.flag.flag-zanzibar{background-position:-144px -165px}
.flag.flag-zm{background-position:-160px -165px}
.flag.flag-zw{background-position:-176px -165px}
.flag.flag-zr{background-position:-48px -176px}
/* End Country flags */

@media (max-width: 320px) {
    .logo-content {
        padding-left: 18px !important;
        font-size: 18px !important;
    }
}
@media (max-width: 900px) {
    .logo-img {
        padding-left: 30px;
        width: 70%;
    }
    .logo-content {
        padding-top: 8px;
        font-size: 14px;
    }
    .para.text-center {
        font-size: 15px;
    }
}
@media (max-width: 1200px) {
    .logo-content {
        font-size: 20px;
    }
}

    