.stylish-scrollbar::-webkit-scrollbar {
  width: 8px; }

.stylish-scrollbar::-webkit-scrollbar::-webkit-scrollbar-button {
  background-color: #eee;
  height: 0; }

.stylish-scrollbar::-webkit-scrollbar-track {
  background-color: #eee; }

.stylish-scrollbar::-webkit-scrollbar-thumb {
  background-color: #bebebe; }

.stylish-scrollbar-mini::-webkit-scrollbar {
  width: 5px; }

.stylish-scrollbar-mini::-webkit-scrollbar::-webkit-scrollbar-button {
  background-color: #eee;
  height: 0; }

.stylish-scrollbar-mini::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.2); }

.stylish-scrollbar-mini::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6); }

#portal-nav-window {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 3; }
  #portal-nav-window .nav-container {
    height: 100%; }
    #portal-nav-window .nav-container.open {
      background-color: rgba(37, 44, 51, 0.9); }
    #portal-nav-window .nav-container.closed {
      background-color: #252c33; }
  #portal-nav-window .item {
    width: 100%;
    color: #fff;
    cursor: pointer;
    position: relative; }
    #portal-nav-window .item.active {
      background-color: #38A74B; }
    #portal-nav-window .item:hover:not(.active) {
      background-color: #404d59; }
    #portal-nav-window .item > div {
      display: inline-block;
      vertical-align: middle; }
    #portal-nav-window .item .icon {
      margin: 0 10px 0;
      width: 40px;
      height: 50px;
      background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/portal/portal_icons.png);
      background-repeat: no-repeat;
      position: relative; }
      #portal-nav-window .item .icon.navtoggle {
        background-position: 10px 10px; }
      #portal-nav-window .item .icon.portal {
        background-position: -65px 10px; }
      #portal-nav-window .item .icon.messages {
        background-position: -27px 10px; }
      #portal-nav-window .item .icon.recommendationlist {
        background-position: -101px 10px; }
      #portal-nav-window .item .icon.collegesrecruityou {
        background-position: -137px 10px; }
      #portal-nav-window .item .icon.collegesviewedprofile {
        background-position: -174px 10px; }
      #portal-nav-window .item .icon.getTrashSchoolList {
        background-position: -208px 10px; }
      #portal-nav-window .item .icon.applications {
        background-position: -456px 10px; }
      #portal-nav-window .item .icon.scholarships {
        background-position: -492px 10px; }
      #portal-nav-window .item .icon .count {
        position: absolute;
        top: 5px;
        right: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        border-radius: 3px;
        background-color: #FF5C26;
        font-size: 11px;
        min-width: 15px;
        height: 15px;
        line-height: 15px;
        -webkit-user-select: none;
        /* Chrome all / Safari all */
        -moz-user-select: none;
        /* Firefox all */
        -ms-user-select: none;
        /* IE 10+ */
        user-select: none;
        /* Likely future */ }
    #portal-nav-window .item .name {
      font-size: 14px;
      max-width: 170px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */ }
    #portal-nav-window .item .tip {
      font-size: 12px;
      position: absolute;
      top: 50%;
      left: 120px;
      transform: translate(-50%, -50%);
      background-color: #252c33;
      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      -ms-border-radius: 1px;
      border-radius: 1px;
      -webkit-user-select: none;
      /* Chrome all / Safari all */
      -moz-user-select: none;
      /* Firefox all */
      -ms-user-select: none;
      /* IE 10+ */
      user-select: none;
      /* Likely future */
      padding: 2px 5px 2px;
      width: 95px;
      box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.6); }
      #portal-nav-window .item .tip .pointer {
        width: 0;
        height: 0;
        border-top: 7px solid transparent;
        border-bottom: 7px solid transparent;
        border-right: 7px solid #252c33;
        position: absolute;
        top: 50%;
        left: -3px;
        transform: translate(-50%, -50%); }

.rep-youre-messaging {
  color: #252c33; }
  .rep-youre-messaging .bk-logo {
    background-color: #fff;
    width: 75px;
    height: 75px;
    margin: 10px auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .rep-youre-messaging .name-rank {
    padding: 0 5px;
    max-width: 100%;
    text-align: center; }
    .rep-youre-messaging .name-rank > div {
      display: inline-block;
      vertical-align: top; }
      .rep-youre-messaging .name-rank > div:first-child {
        max-width: 20%; }
      .rep-youre-messaging .name-rank > div:last-child {
        max-width: 80%; }
  .rep-youre-messaging .rank {
    color: #fff;
    font-size: 12px;
    font-weight: 600;
    padding: 3px;
    margin: 0 5px 0 0;
    background-color: #38A74B;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    display: inline-block; }
  .rep-youre-messaging .school-name {
    font-size: 18px; }
  .rep-youre-messaging .detailed-info {
    padding: 0 5px;
    font-size: 12px;
    margin: 10px auto;
    max-width: 300px; }
  .rep-youre-messaging .rep-dets {
    background-color: #252c33;
    color: #fff;
    font-size: 14px;
    padding: 20px 5px; }
    .rep-youre-messaging .rep-dets .name, .rep-youre-messaging .rep-dets .college {
      font-size: 15px;
      font-weight: 600; }
    .rep-youre-messaging .rep-dets .pic {
      width: 90px;
      height: 90px;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      border-radius: 100%;
      background-color: #eee;
      margin: 10px auto;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center; }
  .rep-youre-messaging .go-to-col-btn {
    margin: 10px 0 0; }
    .rep-youre-messaging .go-to-col-btn > a {
      color: #252c33;
      text-decoration: underline;
      font-size: 14px; }
      .rep-youre-messaging .go-to-col-btn > a:hover {
        text-decoration: none; }
