/* css for Webinar */


.webinar-subtxt1{
	margin: 25px 0;
	color: #797979;
}

/* divider */
#bottomLeftOfBanner{
	border-right-width: thin;
    border-right-style: dotted;
    border-right-color: gray;
}

.presentersLogo{
	margin-top: 2em;
	margin-bottom: 2em;
}

#bannerHead{
	padding-top: 1.3em;
	padding-left: 1.8em;
}

#notRegistered, #registered{
	display: none;
}

#registered{
 	margin-top: 25px;
	color: #4bc16b;
}

#rightForm .active{
	display: block;
}

ul.webinar-listitem{
	list-style: inside;
}

.webinar-listitem li{
	list-style: inside;
	font-size: 14px;
	margin-top: 6px;
}
#rightForm{
	padding-top: 10px;
}
.timeTitle{
	font-size: 22px;
}

#bottomLeftOfBanner{
	padding-top: 10px;
}


.webinar-uni-logo{
	width: 90px;
	height: auto;
}

/* custom styles for mobile view*/
@media (max-width: 640px){

  	#bottomLeftOfBanner{
		border-right: none;
	}

	#bottomLeftOfBanner{
		border-bottom: thin dotted gray;
	}

	#bottomLeftOfBanner{
		border-top: thin dotted gray;
	}
	
	#snapfishCard{
		margin-top: 20px;

	}

	#calendarImage{
		margin-bottom: 12px;
	}

	#bannerHead{
		text-align: center;
		padding-top: 1.3em;
	}
}