.payment-background {
  background: #f0f0f0;
  float: left;
  width: 100%;
  padding: 120px 0 50px;
}
.payment-method-block {
   width: 70%;
   margin: 0 auto;
}
.payment-method-block  h2 {
  color: #13203c;
  font-size: 24px;
  line-height: 27px;
  font-weight: 300;
  margin: 0 0 8px;
}
.product-price {
  border-bottom: 1px solid #e8e7e6;
  color: #918e8c;
  padding: 1rem 0;
  font-size: 14px;
  margin-bottom: 20px;
}
.product-price span {
  float: right;
}
.product-price strong {
  font-weight: normal;
}
.plexuspremium-imageara {
  float: left;
  width: 100%;
  min-height: 223px;
  color: #13203c;
  font-size: 16px;
}
.plexuspremium-imageara span {
  display: block;
  margin-bottom: 20px;
}
.plexuspremium-imageara img {
  width: 194px;
  display: block;
}
.total-area {
  padding: 1rem 0;
  border-top: 1px solid #e8e7e6;
  border-bottom: 1px solid #e8e7e6;
  color: #13203c;
  font-size: 16px;
  font-weight: normal;
}
.confirm-plan-box {
   padding-bottom: 1rem;
}
.custom-btn {
  background-color: #ff5c27 !important;
}
.total-area strong {
  float: left;
  font-weight: normal;
}
.total-area span {
  float: right;
}
.payment-box {
  background: #fff;
  float: left;
  width: 100%;
  margin: 20px auto 50px;
  border: 1px solid #ccc;
}
.payment-creditcard-form {
   padding: 0 4rem;
   padding-top: 40px;
}
.payment-creditcard-form label{
  text-transform: uppercase;
  color: #13203d;
  margin: 0 0 7px;
  font-weight: bold;
}

.payment-creditcard-form input[type="text"],
.payment-creditcard-form input[type="email"],
.payment-creditcard-form input[type="number"],
.payment-creditcard-form input[type="tel"],
.payment-creditcard-form input[type="time"]  {
  border: 1px solid #e8e7e6;
  border-radius: 6px;
  color: #666766;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
  height: 45px;
}
.accordion-radio.creditCard-radio {
  padding: 2rem 4rem 0 4rem;
}

.accordion-radio {
  padding: 2em 4rem 0;
  display: table;
  width: 100%;
  color: #abaaa7;
}
.accordion-radio  p {
  color: #abaaa7 !important;
  font-size: 14px !important;
}
.payment-textbox{
  display: inline-block;
  vertical-align: middle;
  width: 70%;
}
.payment-textarea {
  padding-left: 29px;
}
.payment-textarea p {
  text-align: left !important;
  margin: 0 !important;
}
.payment-image-icon {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  width: 30%;
}
.payment-image-icon img{
  text-align: right;
  float: right !important;
  height: 24px !important;
}
.payment-image-icon .western-union {
   width: 52px;
}
.in-active {
  background: #f4f4f4;
}

.accordion-radio.in-active .in-active-image {
  display: block;
}

.accordion-radio.in-active .active-image,
.accordion-radio .in-active-image {
  display: none;
}

.payment-boader-bottom {
  border-bottom: 1px solid #edeaeb;
  padding: 0 0 2rem;
  display: table;
  width: 100%;
}

.radio-box [type="radio"]:checked,
.radio-box [type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.radio-box [type="radio"]:checked + label,
.radio-box [type="radio"]:not(:checked) + label
{
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #13203c;
  font-weight: bold;
  margin: 0 0 11px;
  font-size: 18px;
}
.radio-box [type="radio"]:checked + label:before,
.radio-box [type="radio"]:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
.radio-box [type="radio"]:checked + label:after,
.radio-box [type="radio"]:not(:checked) + label:after {
  content: '';
  width: 7px;
  height: 7px;
  background: #13203c;
  position: absolute;
  top: 5.4px;
  left: 5.4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.radio-box [type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
.radio-box [type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.checkout-btnarea {
  padding: 1.6rem 0 0;
}
.checkout-btn {
  display: block;
  margin: 0 auto 25px;
  width: 100%;
  font-size: 18px;
  margin-top: 40px;
  line-height: 19px;
  margin-top: 0;
  border-radius: 6px;
}
.stripe-img {
  display: block;
  width: 80px;
  margin-bottom: 2rem;
}
.refund-block {
  display: table;
  width: 100%;
  text-align: center;
  padding: 1rem 0 0;
}
.refund-block img {
  display: inline-block;
  vertical-align: middle;
  width: 34px;
  margin: 0 7px 0 0;
}
.refund-block span {
  display: inline-block;
  vertical-align: middle;
  color: #797a7a;
  font-size: 14px;
}
.card-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.card-list li {
  display: inline-block;
  vertical-align: middle;
  margin: 0 5px;
}
.card-list li img {
  width:  38px;
}

.checkout.stripe-wrapper {
  background-color: #fff;
}

.checkout.stripe-wrapper .row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
}
.checkout.stripe-wrapper .custom-row {
  display: -ms-flexbox;
  display: flex;
  margin: 0 5px 10px;
  width: 100%;
  max-width: 62.5em;
}
.checkout.stripe-wrapper .field {
  position: relative;
  width: 100%;
  min-height: 81px;
  margin: 0 10px;
}

.checkout.stripe-wrapper label {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  color: #13203d;
  margin: 0 0 7px;
  font-weight: bold;
}

.checkout.stripe-wrapper .input,
.checkout.stripe-wrapper .custom-combobox-input {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding-bottom: 7px;
  padding-left: 15px;
  background: #fff;
  border: 1px solid #B9BABB;
  border-radius: 6px;
  color: #666766;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 7px;
  height: 45px;
}

.checkout.stripe-wrapper .input::-webkit-input-placeholder {
  color: #CFD7DF;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkout.stripe-wrapper .input::-moz-placeholder {
  color: #CFD7DF;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkout.stripe-wrapper .input:-ms-input-placeholder {
  color: #CFD7DF;
  transition: color 0.3s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.checkout.stripe-wrapper .input.StripeElement {
  padding: 15px;
}

.checkout.stripe-wrapper .input.focused,
.checkout.stripe-wrapper .input:not(.empty) {
  opacity: 1;
}

.checkout.stripe-wrapper .input.invalid {
  border: 1px solid red !important;
  background-color: #ffdddd !important;
}
#stripe-wrapper-name.invalid-input{
  border: 1px solid red !important;
  background-color: #ffdddd !important;
}
.checkout.stripe-wrapper .input.focused::-webkit-input-placeholder,
.checkout.stripe-wrapper .input:not(.empty)::-webkit-input-placeholder {
  color: #cfd7df;
}

.checkout.stripe-wrapper .input.focused::-moz-placeholder,
.checkout.stripe-wrapper .input:not(.empty)::-moz-placeholder {
  color: #cfd7df;
}

.checkout.stripe-wrapper .input.focused:-ms-input-placeholder,
.checkout.stripe-wrapper .input:not(.empty):-ms-input-placeholder {
  color: #cfd7df;
}

.checkout.stripe-wrapper .input.focused + label, {
  font-weight: bold;
}

.checkout.stripe-wrapper input, .checkout.stripe-wrapper button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border-style: none;
}

.checkout.stripe-wrapper input:-webkit-autofill {
  
  transition: background-color 100000000s;
  -webkit-animation: 1ms void-animation-out;
}

.checkout.stripe-wrapper .StripeElement--webkit-autofill {
  background: transparent !important;
}

.checkout.stripe-wrapper input, .checkout.stripe-wrapper button {
  -webkit-animation: 1ms void-animation-out;
}

.checkout.stripe-wrapper button {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 40px 15px 0;
  background-color: #24b47e;
  border-radius: 4px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
}

.checkout.stripe-wrapper .error svg {
  margin-top: 0 !important;
}
.checkout.stripe-wrapper .error {
  background: #EA5959;
  width: 100%;
  padding: 2rem 3rem 2rem;
}

.checkout.stripe-wrapper .error svg .base {
  fill: #e25950;
}

.checkout.stripe-wrapper .error svg .glyph {
  fill: #fff;
}

.checkout.stripe-wrapper .error .message {
  color: #fff;
}

.checkout.stripe-wrapper .success .icon .border {
  stroke: #abe9d2;
}

.checkout.stripe-wrapper .success .icon .checkmark {
  stroke: #24b47e;
}

.checkout.stripe-wrapper .success .title {
  color: #32325d;
  font-size: 16px !important;
}

.checkout.stripe-wrapper .success .message {
  color: #8898aa;
  font-size: 13px !important;
}

.error-header {
  color: white;
  font-weight: bold;
  text-align: left;
}

.ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
  border: 1px solid #B9BABB !important;
}

.dot {
  height: 8px;
  width: 8px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px
}
.exclamation-mark{
  height: 80px;
  width: 80px;
  float: right;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.input-disable {
  background: #eeeeee !important;
}
.img-opacity{
  opacity: 0.7;
}
@media screen and (max-width: 767px) {
  .payment-background {
    padding: 20px 0 0;
  }
  .payment-method-block {
    width: 100%;
  }
  .payment-method-block h1 {
    /*text-align: center;*/
    margin: 0;
  }
  .payment-creditcard-form {
    padding: 0 3rem;
  }
  .refund-block span {
    display: inline-block;
    vertical-align: middle;
    color: #797a7a;
    font-size: 10px;
    font-weight: bold;
  }
  .plexuspremium-imageara img {
    margin: auto;
  }
  .plexuspremium-imageara {
    text-align: center;
  }
  .product-price {
    text-align: center;
  }
  .product-price span {
    display:  none;
  }
  .mob-none {
    display:  none;
  }
  .total-area {
    display: table;
    width: 100%;
    text-align: center;
  }
  .total-area strong {
      float: none;
    display: inline-block;
    margin-right: 38px;
  }
  .total-area span {
      float: none;
    display: inline-block;
    vertical-align: middle;
  }
  .product-price {
    margin: 0 3rem 20px;
    width: 74%;
  }
  .payment-box {
    margin: 20px auto 20px;
  }
  .accordion-radio.creditCard-radio {
    padding: 2rem 2rem 2rem 2rem;
  }
  .payment-creditcard-form {
    padding: 0 0;
  }
  .accordion-radio {
    padding: 2em 2rem 0;
  }
  .payment-textarea {
    padding-left: 25px;
  }
  .radio-box [type="radio"]:checked + label, .radio-box [type="radio"]:not(:checked) + label {
    margin: 0 0 2px;
    padding-left: 23px;
  }
  .card-list li {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0px;
  }
  .card-list li img {
    width: 26px;
  }

  .exclamation-mark {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }
  .checkout.stripe-wrapper .custom-row {
    display: block;
  }
  .checkout.stripe-wrapper .custom-row .custom-col {
    width: 94% !important;
  }
  .ui-autocomplete.ui-front.ui-menu.ui-widget.ui-widget-content {
    width: 77% !important;
  }
  .payment-method-block h2 {
    text-align: center;
    font-weight: 500 !important;
  }
  .checkout.stripe-wrapper .error {
    padding: 2rem 2rem 2rem;
  }
  ..error-header {
    font-size: 20px !important;
  }
}
