.flex-container {
   display: flex;
   align-items: center;
   justify-content: center;
}
.premium-method-block {
 width: 50%;
 margin: 160px auto 0;
 display: flex;
 align-items: center;
 justify-content: center;
}
.premium-method-block p {
 color: #13203c;
 font-size: 16px;
 font-weight: 300;
 line-height: 28px;
 text-align: center;
 width: 88%;
 text-align: center;
 margin: 0 auto;
 margin-top: 60px !important;
}
.hollow-button-confirm {
 background: white;
 text-align: center;
 padding-bottom: 90px;
 border-radius: 7px;
}
.confirmation-btn {
   width: 264px !important;
}
.btn-right {
 background-color: white;
 color: #FE680D;
 border: 1px solid;
 border-radius: 10px;
 font-family: Open Sans !important;
}
.btn-right:hover, .btn-right:focus {
 background-color:  #ef430a;
 outline: none;
}
.btn-left {
 background-color: #FF5C26;
 color: white;
 border: 1px solid;
 border-radius: 10px;
 margin-right: 42px;
 font-family: Open Sans !important;
}
.btn-left:hover, .btn-left:focus {
 background-color: #ef430a;
 outline: none;
}
.header {
   float: left;
   width: 100%;
   background-color: white;
   position: relative;
   z-index: 10000;
   padding: 0px;
   margin-bottom: 100px;
}
.header img {
 width: 16%;
}
.gold-image {
 width: 205px;
 height: 205px;
 background: #fff;
 border-radius: 100%;
 position: absolute;
 top: -110px;
}
.gold-image img {
 width: 100%;
 border-radius: 50%;
}
.premium-box {
 background: #fff;
 float: left;
 width: 100%;
 position: relative;
 padding-top: 90px;
 border-radius: 7px;
}
.confirm-head {
   margin-top: 30px;
   text-align: center;
   padding: 0 20px;
}
.confirm-head h1{
 margin: 0 0 10px;
 font-weight: bold;
}
.confirm-head h4 {
   font-size: 18px !important;
   font-weight: bold;
   font-family: Open Sans !important;
   font-weight: 800 !important;
}
.confirm-msg {
 margin: -20px auto 0;
 width: 61%;
 padding-bottom: 60px;
}

@media all and (max-width: 1300px){
   .premium-method-block {
      width: 72%;
   }
   .btn-left {
      margin-right: 2px;
   }
}
@media all and (max-width: 767px) {
   .gold-image {
      width: 170px;
      height: 170px;
      top: -89px;
   }
   .confirm-head h4 {
      font-size: 16px !important;
   }
 .premium-method-block {
   margin-top: 120px;
   width: 100%;
 }
 .premium-method-block h1 {
   text-align: center;
   margin: 0;
 }
 .premium-method-block p {
   font-size: 14px;
 }
 .premium-box {
   margin: 0 auto 0;
   position: relative;
 }
 .header {
   text-align: center;
   margin-bottom: 34px;
 }
 .header img {
   width: 50%;
 }
 .confirm-msg {
   width: 77%;
   padding-bottom: 36px;
 }
 .btn-left {
   margin-right: 0px;
 }
}

