.congrats-method-block {
 width: 50%;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: center;
}
.congrats-method-block  h1 {
 color: #13203c;
 font-size: 24px;
 line-height: 27px;
 font-weight: 300;
 margin: 0 0 8px;
 text-align: center;
 padding-top: 70px;
}
.congrats-method-block  p {
 color: #13203c;
 font-size: 14px;
 font-weight: 300;
 text-align: center;
 line-height: 25px;
}
.hollow-button {
 background: white;
 text-align: center;
 border-radius: 7px;
 padding-bottom: 50px;
}
.btn {
  font-family: Open Sans !important;
  font-size: 14px;
 background-color: white;
 color: #FE680D;
 border: 1px solid;
 border-radius: 7px;
 margin-top: 32px;
 margin-bottom: 83px;
 width: 240px;
}
.btn:hover, .btn:focus {
 background-color: #ef430a !important;
 outline: none;
}
.header {
   float: left;
   width: 100%;
   background-color: white;
   position: relative;
   padding: 0px;
   margin-bottom: 100px;
}
.header img {
 width: 16%;
}
.gold-images {
 width: 205px;
 height: 205px;
 background: #fff;
 border-radius: 100%;
 position: absolute;
 top: -120px;
 text-align: center;
}
.gold-images img {
  width: 65%;
  border-radius: 30%;
  margin-top: 34px;
}
.congrats-box {
 background: #fff;
 float: left;
 width: 100%;
 margin: 180px auto 60px;
 position: relative;
 border-radius: 7px;
 z-index: 1;
}
:root {
 --border-color: #D7DBE3;
 font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Open Sans', 'Helvetica Neue', sans-serif;
 --green: #0CD977;
 --red: #FF1C1C;
 --pink: #FF93DE;
 --purple: #5767ED;
 --yellow: #FFC61C;
 --rotation: 0deg;
 }
.ribbens {
 background: #f0f0f0;
 width: 100%;
 height: 100%;
}
.congrats-head {
 float: left;
 width: 100%;
 margin: 50px 0 5px;
}
.congrats-head h1{
 margin: 0 0 5px;
 font-weight: bold;
 font-family: Open Sans !important;
 font-size: 32px !important;
 font-weight: 800 !important;
}
.congrats-head p {
 font-weight: bold !important;
 text-align: center !important;
  font-size: 16px;
  font-family: Open Sans !important;
  font-weight: bold !important;
}
.congrats-msg {
 margin: 0 auto;
 width: 61%;
}

@keyframes confettiRain {
 0% {
   opacity: 1;
   margin-top: -50vh;
   margin-left: -300px;
 }

 100% {
   opacity: 1;
   margin-top: 100vh;
   margin-left: 800px;
 }
}

.confetti {
 opacity: 0;
 position: absolute;
 width: 1rem;
 height: 1.5rem;
 animation: confettiRain 3s infinite;
}
@media all and (max-width: 1300px){
 .congrats-method-block {
   width: 72%;
 }
 .congrats-msg {
  width: 70%;
 }
}

@media screen and (max-width: 767px) {
  .hollow-button {
   padding-bottom: 15px;
  }
  .gold-images img {
    margin-top: 27px;
  }
  .gold-images{
    width: 170px;
    height: 170px;
    top: -90px;
  }
 .congrats-method-block {
   background: #f0f0f0;
   width: 100%;
   padding-bottom: 50px;
 }
 .congrats-method-block h1 {
   text-align: center;
   margin: 0;
 }
 .congrats-box {
   margin: 120px auto 0;
   position: relative;
 }
 .btn {
   margin-top: 16px;
   margin-bottom: 23px;
 }
 .header {
   text-align: center;
   margin-bottom: 34px;
 }
 .header img {
   width: 50%;
 }
 .congrats-msg {
   width: 77%;
 }
 @keyframes confettiRain {
   0% {
     opacity: 1;
     margin-top: -50vh;
     margin-left: -100px;
   }

   100% {
     opacity: 1;
     margin-top: 100vh;
     margin-left: 300px;
   }
 }
}
