body {
  position: relative;
  background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/get_started_signup_bg.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-attachment: fixed;
  background-color: #38a74b;
  transition: background .5s linear
}
.plex-top {
    background-color: #fff;
    padding: 5px 10px;
}
.next, .next-btn {
  border-top: unset;
  border-left: unset;
  border-bottom: unset;
}
.tel-template{
    text-align: center;
}
.tel-template .header{
  background-color: #252525;
  height: 80px;
  margin: 0 !important;
  padding: 0;
}
.tel-template .header img{
  height: 60px;
  margin: 10px;
}
.tel-template .main-body{
  margin-top: 50px;
  width: 620px;
  height: 335px;
  background-color: #fff;
  display: inline-block;
  padding: 30px 80px;
}
.tel-template .main-body .heading{
    color: #9a989a;
    font-weight: 600;
    margin-bottom: 50px;
    text-align: left;
}
.intl-tel-input{
    display: block;
    width: 300px;
    margin: auto;
    margin-bottom: 15px
}
#error-msg {
  color: red;
  font-size: 12px;
}
.input:not([type=checkbox]){
  border-radius: 0 !important;
}
.tel-template .main-body .checkmark-form .checkmark-container{
  display: inline;
}
.tel-template .main-body .checkmark-form .checkmark-container img{
  width: 30px;
  float: right;
}
.tel-template .main-body .checkmark-form .checkmark-container .img-container{
  width: 30%;
}
.tel-template .main-body .checkmark-form .checkmark-container .container{
  width: 37%;
  margin-left: 10px;
  margin-top: 6px;
  color: #9a989a;
}
[class*="column"]+[class*="column"]:last-child{
  float: left;
}

.next-btn{
    background-color: #2cc56e;
    width: 200px;
    padding: 10px 70px;
    margin: 20px;
    color: #fff;
    font-weight: 600;
}
.next-btn-container{
  margin-top: 25px;
}
.next-btn:hover, .next-btn:active, .next-btn:focus{
  background-color: #2cc56e !important;
  color: #fff;
}
/* for checkmark */
.container {
    display: block;
    position: relative;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    color: #00b650;
    border: 1px solid #ccc;
  }

  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }

  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }

  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 4px;
    top: 0px;
    width: 9px;
    height: 16px;
    border: solid #00b650;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
@media all and (max-width: 676px){
  .tel-template .main-body{
    width: 84%;
    padding: 20px;
    border-radius: 7px;
  }
  .tel-template .main-body .heading{
    text-align: center;
  }
  .tel-template .main-body .checkmark-form .checkmark-container .container{
    width: 65%;
  }
  .intl-tel-input{
    width: auto;
  }
}
