/*happyBirthday.css*/

#specialevent-happyBirdthdayToYou > #topAlertContainer{
	margin-bottom: 0;
}

#specialevent-happyBirdthdayToYou .happyBirthday-main-container{
	max-width: 100%;
	width: 100%;
	padding: 40px 0 0;
}

.happyBirthday-main-container iframe{
	box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.5);
	border-radius: 2px;
}
