

.content-wrapper{
	position: relative;
}




/******** styles for college engage buttons *****/
.hideBtn{
	display: none;
}




/************** banner ad (signup ad date- 10/19/2017) ***********************/
#_banner_ad{
    cursor: pointer;
    position: relative;
    width: 95%;
    margin: 15px auto;
    height: 838px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
    border-radius: 2px;
    background-repeat: no-repeat;
    background-size: 100%;
}

.college-online-school-label {
    text-align: right;
    color: #00a1fe;
    font-size: 19px;
    margin-top: -0.5em;
    margin-bottom: 0.5em;
}

#major_degree_offered_cont .revenue_programs {
    display: flex;
    justify-content: space-between;
    width: 75%;
    padding: 1em;
}

#revenue_programs_details .revenue_programs_select_container {
    width: 50%;
    margin: 1em auto;
}

#revenue_programs_details .revenue_programs_details_container {
    padding: 2.5em;
    padding-top: 0.5em;
    color: #8c8c8c;
}

#revenue_programs_details .revenue_programs_details_container p {
    font-size: 14px;
    text-align: left;
    padding-left: 1em;
}

#revenue_programs_details .revenue_program_name_toggle {
    border: 0;
    color: #646464;
    font-weight: bold;
    font-size: 16px;
    border-radius: 6px;
    text-indent: 1.5em;
}

#revenue_programs_details .bg-pure-white {
    min-height: 250px;
    border-radius: 10px;
}

#major_degree_offered_cont .revenue_programs .degree_program_type {
    color: #1db54a;
    font-weight: bold;
    margin-bottom: 1.25em;
}

#major_degree_offered_cont .revenue_programs .major_names_container {
    font-size: 13px;
    font-weight: bold;
    color: #565656;
}

/* toggle icon and text -- used to toggle between international and US */
.toggle-international{
	cursor: pointer;
	color: #009ac3;
	position: absolute;
	height: 20px;
	right: 70px;
	top: 10px;
	padding: 0;
	font-weight: 600;
	font-size: 13px;
	text-decoration: underline;
}

.toggle-international:hover{
	color: #034793;
}

.toggle-international .flag{
	margin-right: 10px;
}


.blue-globe-icon{
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url('/images/globe-blue.png');
	background-size: cover;
	margin-right: 10px;
}

.toggle-int-text{
	height: 100%;
}
/*****/

.score-cont{
	text-align: right;
}




#int_topNav_container{
	background-color: #000000;
    min-height: 40px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.int-topnav{
	display: inline-block;
	padding: 1px 2px;
}


.undergradGradepp-tab{

	width: 368px;
}
.overview-tab{

	width: 192px;
}
.ranking-tab{

	width: 183px;
}
.news-tab{

	width: 160px;
}



#newschlorshippage-middle-menu .int-topnav li{
	position: relative;
	display: inline-block;
	min-height: 40px;
	margin: 0;
	padding: 10px 35px;
	/*margin-top: 10px;*/
	/*width: auto;*/
}

#newschlorshippage-middle-menu .int-topnav li a{
	position: relative;
	display: inline;
	margin: 0 auto;
	/*padding: 10px 30px;*/
	/*width: auto;*/
}


#int_topNav_container{
		display: block;
}
.medium-small-topnav{
		display: none;
}




/************/

/*
 .tab-undergrad-menu:hover .arrow{
		border-top: 7px solid #FF5C26;
 }
*/
.topnav-li-container{
	width: 100%;
	height: 100%;
}

#agencyRepAd{
	background-color: rgba(0, 0, 0, 0.5);
	margin-bottom: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    border-radius: 3px;
    color: #E6E8EA;
}

#agencyRepAd h5{
	color: #fff;
	margin-bottom: 1em;
}

#agencyRepAd .view-profile-btn{
	text-decoration: underline;
	cursor: pointer;
	font-size: 16px;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

#agencyRepAd .view-profile-btn:hover{
	opacity: 0.6;
}

#agencyRepAd .agent-message-btn{
	margin-bottom: 0.75em;
	margin-top: 0.75em;
	border-radius: 3px;
	padding: 0.25em;
	cursor: pointer;
	background-color: #2BC56D;
	color: #fff;
    transition: opacity 0.25s ease-in-out;
    -moz-transition: opacity 0.25s ease-in-out;
    -webkit-transition: opacity 0.25s ease-in-out;
    -o-transition: opacity 0.25s ease-in-out;
}

#agencyRepAd .agent-message-btn:hover{
	opacity: 0.8;
}

#agencyRepAd .rep-info{
	display: flex;
	justify-content: center;
}

#agencyRepAd .agency_logo{
	margin-top: -1em;
}

#agencyRepAd .agency_logo > img{
	border-radius: 50%;
	transform: scale(0.7);
    width: 125px;
    height: 125px;
}

#agencyRepAd .star-rating{
	display: flex;
	margin-left: -0.8em;
}

#agencyRepAd .star-rating .star-icon{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -135px 0;
	height: 45px;
	width: 45px;
    margin-right: -1.5em;
    transform: scale(0.8);
}

#agencyRepAd .star-rating .star-icon.active{
	background: url(/images/agency/agency-dashboard-icons-45x45.png) -90px 0;
}

#newschlorshippage-middle-menu li:hover .topnav-li-container a{
	color: #FF5C26;
}



#newschlorshippage-middle-menu #underGrad-dropdown{
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;
	padding: 0px;
	margin-left: -4px;
	width: 372px;
	background-color: #202020;
	border: none;
}

#newschlorshippage-middle-menu  #underGrad-dropdown li{
	display: block;
	position: relative;
	text-align: center;
	padding: 12px 12px 12px 38px;
	color: #ffffff;
	background-color: #202020;
	border: none;
}

#newschlorshippage-middle-menu  #underGrad-dropdown li:hover a{
	color: #ff5c26;
}


.inner-cont{
	min-height: 420px; /*507px;  height of admissions*/
	padding: 20px 5px;
	overflow: hidden;
	word-wrap: break-word;
}


.row.mt15 > .inner-cont:nth-child(2){
	box-sizing: border-box;
	width: 100%;
	margin: 0 2px;
}

/* apply padding to contents */
.additionalNotes-cont{
	padding: 10px 20px;
}

.additionalNotes-cont p,
.additionalNotes-cont a{
	font-size: 13px;
	font-weight: 600;
	color: #565656;
}

.additionalNotes-cont span{
	font-size: 10px;
    font-weight: 500;
    color: #565656;
}

#newschlorshippage .downloads-link-orange{
	color: #FF5C26;
	text-decoration: underline;
}

.column.detail-university-grey.left-col-addmissions{
	padding-top: 12px;
}
.column.detail-university-green-content.right-col-addmissions{
	text-align: right;
	padding-right: 25px;
}

.gpa-convert{
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: 200;
	text-decoration: underline;
}

#grades_exams_requirement_title{
	background: url('/images/colleges/international/international-sprites.jpg') 0 0;
	background-size: 1000px auto;/*925px auto;*/
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    text-align: left;
}

#grades_exams_table_body{
	color: #ffffff;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	overflow: hidden;
}


#grades_exams_table_body > .grades-exams-row{
	padding: 10px 0px 10px 10px;
}
#grades_exams_table_body > .grades-exams-row.sle{
	padding: 30px 16px;
}

#grades_exams_table_body > .grades-exams-row > .row{
	padding: 2px 0px;
}

#grades_exams_table_body > .grades-exams-row:nth-child(odd){
	background-color: #00A6B0;
}
#grades_exams_table_body > .grades-exams-row:nth-child(even){
	background-color: #004359;
}
#grades_exams_table_body > .grades-exams-row.els{
	color: #797979;
	background-color: #fff;
	padding: 30px 24px 0 24px;
}
#grades_exams_table_body > .row:last-child{
	padding-bottom: 20px;
}

#grades_exams_table_body > .row:nth-child(1){
	padding-top: 15px;
}


.ger-min-col,
.ger-avg-col{
	font-size: 14px;
	font-weight: 600;
}

.sub-title-col{
	font-size: 19px;
	font-weight: 600;
}
.title-3{
	font-size: 14px;
	font-weight: 600;
}


.column.small-3.large-3{
	text-align: center;
}


/****** requirements : visa, financial, academic ******/


.requirements-title{
	background-color: #000000;
	color: #ffffff;
	font-weight: 600;
	padding: 15px;
	height: 60px;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#visa_fin_acad_sec{
	position: relative;
	overflow: hidden;
}
#visa_fin_acad_sec.els{
	overflow: visible;
}

.v-f-a-content{
	font-weight: 600;
	font-size: 13px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	/*padding: 35px 0px;*/
	min-height: 90px;
}

.v-f-a-content > .row{
	border-bottom: 1px solid #eeeeee;
	padding-left: 10px;
	padding-right: 15px;
}

.v-f-a-content > .row .column:last-child{
	padding: 10px 20px 10px 10px;
	text-align: right;
}
.v-f-a-content > .row .column:first-child{
	padding: 10px 0px 10px 20px;
}

#academic-col{
	border-bottom-left-radius: 5px;
}

.v-f-a-content > .row > .column:nth-child(2){
	border-bottom-right-radius: 5px;
}
.academic-cont{
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

.download-desc{
	font-size: 12px;
	font-weight: 400;
	padding-top: 6px;
}


/****** majors and degree offered ****/
#major_degree_offered{
	margin-top: 15px;
}

#major_degree_offered_title{
	background: url('/images/colleges/international/international-sprites.jpg') 0 -78px;
	background-size: 1000px auto;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}


#major_degree_offered_cont{
	padding: 10px 10px 45px 10px;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#major_degree_offered_cont .detail-university-green-content{
	padding-top: 30px;
	padding-bottom: 10px;
}
#major_degree_offered_cont ul{
	padding-left: 18px;
}

#major_degree_offered_cont li{
	list-style: none;
	font-weight: 600;
	font-size: 14px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #565656;
}

/**** international alumni *****/

#int_alumni_title{
	background: url('/images/colleges/international/international-sprites.jpg') 0 -138px;
	background-size: 1000px auto;
	border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.owl-int-alumni-carousel{
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.int-alumni-pic{
	width: 110px;
	height: 110px;
	border-radius: 100%;
	margin: 15px auto;
	background-color: #eee;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.int-alumni-lgreen{
	color: #28C56C;
	font-size: 18px;
}
.int-alumni-cont{
	padding: 40px 15px 30px 15px;
	text-align: center;
	font-size: 13px;
	color: #565656;
	font-weight: 600;
}

.intl-linkedin{
	width: 20px;
	height: 20px;
	background-color: #0077B5;
	color: #fff;
	margin: 5px auto 0;
	border-radius: 3px;
	font-weight: 600;
	line-height: 20px;
}
.intl-linkedin > a{
	color: #fff;
	display: block;
	font-size: 16px;
}
.intl-linkedin > a:hover{
	color: #fff
}

/***** titles images  *****/
.int-alumni-title-img{
	height: 56px;
}



/* international alumni carousel **/
.owl-int-alumni-carousel{
	margin: 3px;
}

.owl-int-alumni-carousel .owl-next,
.owl-int-alumni-carousel .owl-prev{
	position: absolute;
	top: 15%;
	transform: translate(-50%, 0);

}

.owl-int-alumni-carousel .owl-theme .owl-controls .owl-buttons .owl-next,
.owl-int-alumni-carousel .owl-theme .owl-controls .owl-buttons .owl-prev{
	color: #202020;
	background: transparent;
	background-color: transparent;
	font-size: 55px;

}

.owl-int-alumni-carousel .owl-next{
	right: 8px;
}
.owl-int-alumni-carousel .owl-prev{
	left: 30px;
}


.video_owl_carousel .owl-buttons .owl-prev{
	background: url('/images/colleges/overview-image-arrows.png') 0 0 !important;
}
.video_owl_carousel .owl-buttons .owl-next{
	background: url('/images/colleges/overview-image-arrows.png') -45px 0 !important;
}
.video_owl_carousel .owl-buttons .owl-next,
.video_owl_carousel .owl-buttons .owl-prev{
	border-bottom-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	border-bottom-right-radius: 0px !important;
	border-top-left-radius: 0px !important;
	background-size: 95%;
	/*height: 24.667px;
	width: 30px;*/
	width: 45px;
	height: 37px;
	opacity: 1;
	position: absolute;
	z-index: 100;
	top: 45%;
	transform: translate(0, -50%);
	cursor: pointer;
}



.vid-caption{
	width: 100%;
	text-align: center;
	color: #ffffff;

}
.video_owl_carousel .owl-prev{
	left: 0px;
}
.video_owl_carousel .owl-next{
	right: 0px;
}


/****************** MEDIA QUERIES INTERNATIONAL PAGES *************/



@media all and (max-width: 338px){
	#major_degree_offered_title{
		background: #000000;
		background: url('/images/colleges/international/international-sprites.jpg') 0 -105px;
		background-size: 1500px auto;
	height: 100px;
	}

}

@media all and (max-width: 363px){
	#grades_exams_requirement_title{
		font-size: 20px;
		height: 100px;
		border-left: 1px solid #cccccc;
		border-right: 1px solid #cccccc;
		border-top: 1px solid #cccccc;
		background: #ffffff;
	}
}



@media all and (max-width: 640px){
	#additoinal_notes_box{
		border: 1px solid #cccccc;
	}
}


@media all and (max-width: 1231px){

	#int_topNav_container .int-topnav li{
		display: block;
		width: 100%;
		text-align: center;
		margin: 0px;
		border-bottom: 1px solid #000;
		background-color: #939393;
		border-right: none;
	}

	#int_topNav_container .int-topnav ul{
		position: relative;
		display: block;
		width: 100%;
		text-align: center;
		margin: 0px;
		z-index: 1000;
	}

	#int_topNav_container{
		display: none;
	}

	.medium-small-topnav{
		display: block;
	}



	#newschlorshippage-middle-menu #underGrad-dropdown{
		width: 100%;
		margin-left: 0px;
	}
}

/**********************************************************/
















.adv-search-form{
	margin: 10px 0 5px;
	font-size:12px;
	font-weight: 700;
	color:#fff
}

.side-bar-news select,.side-bar-news input[type="text"]
{

}

.styled-select
{
	overflow:hidden;
	border-radius:2px;
	background-color:#fff;
	margin-bottom: 15px;
}

.styled-select select
{
	-webkit-appearance:none!important;
	padding:.25rem;
	font-size:.8rem;
	color:#797979;
	text-indent:.01px;
	text-overflow:;
	appearance:none;
	background:transparent url(/images/colleges/arrow.png) no-repeat scroll 97% 8px
}

.btn-clear
{
	background:none repeat scroll 0 0 #797979;
	border:none
}

.btn-search
{
	background:none repeat scroll 0 0 #FF5C26
}

.btn-clear,.btn-search
{
	border-radius:5px;
	color:#FFF;
	font-family:century gothic;
	font-size:14px;
	padding:7px 17px;
	margin-top:5px
}

.bg-white
{
	-webkit-border-radius:13px;
	-moz-border-radius:13px;
	border-radius:5px;
	background-color:#fff;
	margin-bottom: 15px;
}

.search_txt
{
	max-height:32px;
	-webkit-border-radius:1px/2px;
	-moz-border-radius:1px/2px;
	border-radius:1px/2px;
	background-color:#fff;
	-webkit-box-shadow:inset 2px 3px 3px rgba(0,0,0,.1);
	-moz-box-shadow:inset 2px 3px 3px rgba(0,0,0,.1);
	box-shadow:inset 2px 3px 3px rgba(0,0,0,.1)
}
.box-top-content-image{
	margin-bottom: 10px;
}
.search-btn
{
	background:url(/images/colleges/search-icon.png) no-repeat;
	height:32px;
	width:32px;
	cursor:pointer
}

.bg-blue
{
	height:auto;
	-webkit-border-radius:7px 8px 8px 7px/7px 7px 8px 8px;
	-moz-border-radius:7px 8px 8px 7px/7px 7px 8px 8px;
	border-radius:7px 8px 8px 7px/7px 7px 8px 8px;
	background-color:#0085b2
}

.use-college-page-title .college-page-descrip
{
	font-size:12px;
	margin: 0;
	padding: 0 0 10px;
	line-height:1.7;
}

.use-college-page-title .whyCollegePages{
	font-size: 25px;
	line-height: 1.2;
	margin: 10px 0 20px;
}

.the-search-bar
{
	box-sizing:border-box;
	padding-left:0
}

.box-div
{
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:10px;
	margin-bottom: 25px;
}

.box-div.itembig
{
	width:50% !important;
}

.box-div .header-banner
{
	min-height:62px;
	font-size:26px;
	color:#fff;
	text-align:center;
	padding-top:10px;
}

.box-div .banner-content-div
{
	background-color:#03747a;
	vertical-align:top
}

.box-div .footer-banner
{
	/*min-height:65px;*/
	text-align:center;
	/*padding-top:10px;*/
	vertical-align:middle;
}

/* not Used*/
.battlefont
{
	font-size:24px;
	font-weight:700;
	color:#fff
}

.search-btn
{
	background:url(/images/colleges/search-icon.png) no-repeat;
	height:32px;
	width:32px
}

.compareschool .search-text-box
{
	background:url(/images/colleges/search-txt.png) no-repeat;
	min-height:39px;
	font-family:century gothic;
	font-size:14px;
	padding:11px;
	border:none;
	box-shadow:none;
	background-size:100% 100%;
	margin-left:-7px;
	margin-top:-3px
}

.compareschool .search-text-box:focus
{
	background:url(/images/colleges/search-txt.png) no-repeat scroll 0 0 / 100% 100% rgba(0,0,0,0);
	box-shadow:none
}

.owl-pagination
{
	margin:5px
}

/*input[type="text"]:focus*/
.olsearch
{
	margin-left:20px;
	padding:0;
	padding-left:8px;
	margin-bottom:0
}

.olsearch li
{
	padding-bottom:3px;
	margin-right:5px;
	list-style:decimal;
	color:#fff;
	vertical-align:middle
}

/*.nav-arrow
{
	background:url(/images/colleges/navigation_arrow.png) no-repeat;
	width:35px;
	height:22px;
	display:inline-block;
	vertical-align:middle;
	margin:0
}*/

.nav-arrow {
	/*background:url(/images/colleges/navigation_arrow.png) no-repeat;*/
    display: inline-block;
    height: 22px;
    margin: 0;
    position: relative;
    right: 10px;
    top: -8px;
    vertical-align: middle;
    width: 35px;
}

.navleft-arrow,.navleft-arrow1
{
	background-position:15px 3px!important
}

.navright-arrow,.navright-arrow1
{
	background-position:-12px 3px!important
}

.silder_ul li
{
	display:inline-block;
	color:#fff;
	text-align:center;
	vertical-align:text-top;
	padding-left:5px;
	position:relative;
	margin-left:12px
}

#silder_ul_li_mid
{
	width:200px
}

.arrowup-down
{
	position:absolute;
	margin-top:5px;
	margin-left:-15px
}

.rank-div
{
	background:#08240f;
	min-height:39px
}

.box_image-no
{
 color:#fff;
 font-size:13px;
 padding: 6px;
 height: 26px;
 width:36px;

 /* Firefox v3.6+ */
 background-image:-moz-linear-gradient(50% 0% -90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* safari v4.0+ and by Chrome v3.0+ */
 background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(38,178,75)),color-stop(1, rgb(26,121,52)));
 /* Chrome v10.0+ and by safari nightly build*/
 background-image:-webkit-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* Opera v11.10+ */
 background-image:-o-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* IE v10+ */
 background-image:-ms-linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 background-image:linear-gradient(-90deg,rgb(38,178,75) 0%,rgb(26,121,52) 100%);
 /* Firefox v1.0+ */
 -moz-border-radius:3px ;
 /* Safari v3.0+ and by Chrome v0.2+ */
 -webkit-border-radius:3px ;
 /* Firefox v4.0+ , Safari v5.0+ , Chrome v4.0+ , Opera v10.5+  and by IE v9.0+ */
 border-radius:3px ;
 -ms-filter:"progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=0)";
 filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff26b24b,endColorstr=#ff1a7934,GradientType=0);

 text-align:center;
}




.ul-d-inline li
{
	display:inline-block;
	vertical-align:text-top
}

.directory
{
	background:#1f1f1f;
	overflow:auto;
	height:230px
}

.directory a
{
	font-size:13px;
	font-weight:700;
	line-height:157%;
	color:#fff;
	text-align:left;
	margin-left:15px
}

.directory a:hover
{
	background:#FF5C26;
	cursor:pointer
}

.directory .notFound{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 700;
    line-height: 157%;
    margin-left: 15px;
    text-align: left;
}


/*.the-search-bar > input {
    margin-bottom: 0;
    max-height: 32px;
}*/
.arrow-up
{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:5px solid #FF5C26;
	margin-bottom:2px
}

.navigation-arrow-down
{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #FF5C26
}

.arrow-right
{
	width:0;
	height:0;
	border-top:60px solid transparent;
	border-bottom:60px solid transparent;
	border-left:60px solid green
}

.arrow-left
{
	width:0;
	height:0;
	border-top:10px solid transparent;
	border-bottom:10px solid transparent;
	border-right:10px solid blue
}

/*
 * scrollbar css
 */
.scrollbar::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3);
	background-color:#F5F5F5
}

.scrollbar::-webkit-scrollbar
{
	width:15px;
	background-color:#F5F5F5
}

.scrollbar::-webkit-scrollbar-thumb
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,.3);
	background-color:#555
}

.ui-widget-content
{
	font-size:12px;
	color:#828282;
	font-weight:700
}
.ui-slider-horizontal .ui-slider-handle{ top:-0.5rem}

.ui-menu-item:hover
{
	font-size:12px;
	color:#828282;
	font-weight:700;
	cursor:pointer
}

.ui-autocomplete.ui-menu-item:hover{
	color: inherit;
}

/********************************* New **************************************/
#owl-demo .owl-carousel .owl-wrapper-outer
{
	width:82%!important;
	margin-left:25px!important
}
#directory-box-div .owl-buttons .owl-prev
{
    background: url("/images/colleges/navigation_arrow.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #000000;
    height: 22px;
    left: -20px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 2px;
    width: 12px;
}

#conference-div .owl-buttons .owl-next,#intersting-div1 .owl-buttons .owl-next
{
   background: url("/images/colleges/navigation_arrow.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    color: #000000;
    height: 22px;
    margin: 0;
    padding: 0;
    position: absolute;
    right:5px;
    top: 5px;
    width: 12px;
}

#conference-div .owl-buttons .owl-prev,#intersting-div1 .owl-buttons .owl-prev
{
    background: url("/images/colleges/navigation_arrow.png") no-repeat scroll 0 center rgba(0, 0, 0, 0);
    color: #000000;
    height: 22px;
    left: 5px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 5px;
    width: 12px;
}

#directory-box-div .owl-buttons .owl-next
{
   background: url("/images/colleges/navigation_arrow.png") no-repeat scroll right 0 rgba(0, 0, 0, 0);
    color: #000000;
    height: 22px;
    margin: 0;
    padding: 0;
    position: absolute;
    right: -20px;
    top: 2px;
    width: 12px;
}

#owl-demo .item
{
	width:20px;
	margin:5px;
	color:#FFF;
	text-align:center
}

#owl-demo .item:hover
{
	background:#FF5C26;
	cursor:pointer
}

/* not Used*/
#owl-compare .item
{
	width:auto;
	height:auto;
	text-align:center;
	margin-left:10px
}

/* not Used*/
#owl-compare .owl-buttons .owl-prev
{
	position:absolute;
	background:url(/images/colleges/compare/slide_nav.png) no-repeat;
	width:32px;
	height:30px;
	top:50px;
	left:-20px;
	background-position:0 0!important
}

/* not Used*/
#owl-compare .owl-buttons .owl-next
{
	position:absolute;
	background:url(/images/colleges/compare/slide_nav.png) no-repeat;
	width:32px;
	height:30px;
	top:50px;
	right:-19px;
	background-position:-40px 0!important
}








/********************************* New **************************************/
/********************************* Compare POP UP BOX ***********************/
.compare-popup
{
	background:#E0E0E0
}

.compare-left-div
{
	background:#fff;
	position:relative
}

.odd-div
{
	background:#F5F5F5;
	margin-left:3px;
	height:51px;
	padding:10px
}

.even-div
{
	background:#fffff;
	margin-left:3px;
	height:51px;
	padding:10px
}

.title-text
{
	word-break:break-all;
	font-weight:700;
	line-height:120%;
	color:#0085b2!important;
	text-align:left
/*text-transform:uppercase*/
}

.raking-div-number
{
	background-color:#26b24b;
	padding:5px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	font-size:20px;
	font-weight:700;
	line-height:120%;
	color:#fff;
	text-align:center;
	width:60px;
}

.last-div-width
{
	width:23.8%
}

.blue_up_arrow
{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:6px solid #0085b2;
	display:inline-block
}

.org-btn
{
	background-color:#FF5C26;
	padding:6px;
	font-size:12px;
	font-weight:700;
	line-height:120%;
	color:#fff;
	text-align:center;
	margin:5px
}

.social-media-div
{
	background-color:#fff;
	padding:1px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	margin-top:20px
}

.social-media-div ul li
{
	padding-left:8px;
	padding-top:2px
}

.school-txt
{
	border:none!important;
	height:28px!important;
	margin-top:20px!important;
	position:relative;
	padding:.3rem!important
}

.school-logo-ul
{
	min-height:216px;
	margin:0;
	padding:0;
	overflow:auto
}

.school-logo-ul li
{
	display:inline-block;
	padding:15px;
	margin-top:10px
}

.school-logo-ul li img
{
	width:40px;
	height:40px
}

.school-li-bdr
{
	border:#797979 solid 2px
}

.expand-toggle-span
{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-bottom:6px solid #0085b2;
	display:inline-block;
	margin-top:5px;
	margin-left:5px
}

.expand-toggle-span.run
{
	width:0;
	height:0;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	border-top:5px solid #0085b2;
	display:inline-block;
	margin-top:5px;
	margin-left:5px;
	border-bottom:0
}

#expand-toggle-div
{
	display:none;
	overflow:hidden;
	width:100%
}

.school-compare-dragdrop
{
	background:url(/images/colleges/compare/drag_drop_logo.jpg) no-repeat;
	height:174px;
	position:relative
}

.school-compare-icon
{
	background:url(/images/colleges/compare/compare.png) no-repeat;
	position:absolute;
	z-index:1000;
	left:-46px;
	top:60px;
	height:65px;
	width:80px
}

.compare-school-logo
{
	height:70px;
	width:65px;
	padding-top:10px
}

.school-compare-close-btn
{
	background-color:#e0e0e0;
	/*
	width:30px;
	height:20px;
	*/
	color:#FFF;
	position:absolute;
	right: 5px;
	/*
	left:150px;
	*/
	top:0px;
	font-weight:700;
	/*
	padding-top:2px
	*/
}

.black-div
{
	background:#000;
	height:90px!important
}

.black-div-ul
{
	margin-left:5px
}

.black-div-ul li
{
	width:100px!important;
	padding-left:15px;
	display:inline-block;
	vertical-align:top
}

.blue-radius-box
{
	background-color:#0085b2;
	width:61px;
	height:33px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	font-size:20px;
	font-weight:700;
	line-height:120%;
	color:#fff;
	text-align:center;
	padding:5px
}
.mobile-compare-icon{position:absolute; top:335px; left:125px; z-index:1000; width:60px }
.m-school-not-blank img{ width:60px; height:60px;}
#endowment-div
{
	display:none;
}

.school-mobile-compare-close-btn
{
	background-color:#e0e0e0;
	width:30px;
	height:20px;
	color:#000;
	position:absolute;
	font-weight:700;
	text-align:center;
	font-size:14px;
	margin-top:-10px;
	margin-left:15px
}

.mobile-battle-search-txt
{
	background-color:#fff;
	width:190px!important;
	height:39px;
	border-color:#b9babb;
	border-width:1px;
	border-style:solid
}

.mobile-battle-search-button
{
	background:url(/images/colleges/compare/black-lance.jpg);
	width:41px;
	height:38px;
	border:none;
	position:absolute;
	margin-top:-53px;
	margin-left:190px
}

.selected-college-div
{
	min-height:209px;
	background:#FFF;
	word-break:break-all;
	margin-top:10px
}

/*.selected-college-div ul li{ width:50px; padding-left:5px; display:inline-block; text-align:left}*/
.selected-college-div .school-logo-ul li
{
	padding-left:15px;
	margin-left:8px
}

.area_for_fix
{
	position:absolute;
	background-color:transparent;
	width:750px;
}

#floating-header-owl-battle
{
	position:fixed;
	width:inherit;
	padding:0px;
	height:55px;
	z-index:2000;
	display:none;
	top:0;
	background-color:#98d0ef;
	margin-right:50px;
}

/*#floating-header-owl-battle
{
	background:none repeat scroll 0 0 #98d0ef;
	position:fixed;
	top:0;
	width:inherit;
	left:175px;
	width:55.6%;
	width:100%;
	height:55px;
	z-index:2000;
	display:none;
	right:0
}*/

#floating-header-owl-battle .school-compare-close-btn
{
	background-color:inherit;
	color:#FFF;
	position:absolute;
	font-weight:700;
	/*
	padding-top:2px;
	*/
	z-index:1000
}

#owl-compare-div
{
	padding-top:10px
}

#floating-header-owl-battle .owl-compare .owl-buttons .owl-prev
{
	position:absolute;
	background:url(/images/colleges/compare/slide_nav.png) no-repeat;
	width:28px;
	height:28px;
	top:13px;
	left:-20px;
	background-position:0 0!important
}

#floating-header-owl-battle .owl-buttons .owl-next
{
	position:absolute;
	background:url(/images/colleges/compare/slide_nav.png) no-repeat;
	width:28px;
	height:28px;
	top:13px;
	right:-15px;
	background-position:-40px 0!important
}

#floating-header-mobile-battle
{
	background:none repeat scroll 0 0 #0085b2;
	position:fixed;
	top:0;
	left:10px;
	right:5px;
	width:94%;
	height:44px;
	z-index:2000;
	display:none
}

.list_item_container
{
	width:250px;
	height:60px;
	padding:5px 0
}

.image
{
	width:60px;
	height:60px;
	margin-right:10px;
	float:left;
	margin-top:-5px
}

.description
{
	font-style:normal;
	font-size:.8em;
	color:gray
}

.list_item_container .title
{
	font-weight:700;
	line-height:135%;
	color:#797979;
	font-size:1.2em;
	font-size:14px
}

.add-btn
{
	background:none;
	font-size:30px;
	font-weight:700;
	line-height:120%;
	color:#ff7f00;
	text-align:center;
	position:absolute;
	margin-top:-62px;
	margin-left:165px
}

button.add-btn:hover,button.add-btn:focus
{
	background:none;
	font-size:30px;
	font-weight:700;
	line-height:120%;
	color:#ff7f00;
	text-align:center;
	position:absolute;
	margin-top:-62px;
	margin-left:174px;
	cursor:pointer;
}
/*
button:hover,button:focus
{
	background:url(/images/colleges/search-icon.png) no-repeat;
	height:32px;
	width:32px
}
*/
.stick-header-title
{
	font-size:16px;
	font-weight:700;
	color:#fff;
	padding-top:5px;
	display:block;
	margin-left:20px
}

.loading-div
{
	width:100%;
	height:100%;
	top:0;
	left:0;
	position:fixed;
	display:block;
	opacity:.7;
	background-color:#FFF;
	z-index:99;
	text-align:center
}

.loading-div img
{
	margin-top:350px;
	z-index:1000;
	height:80px;
	width:100px
}

#floating-header-mobile-battle ul li
{
	display:inline-block;
	font-size:14px;
	font-weight:700;
	color:#fff;
	width:150px;
	text-align:center;
	padding-top:15px
}

/* average doughnut box college stats page*/
.pos-arc-values
{
	color:#f8f8f8;
	font-size:22px;
	font-weight:700;
	left:-1%;
	position:absolute;
	top:75%
}

/*=========Mobile View for the Colleges page==============*/
/* Stats page */
.mob-recruit-btn, .mob-recruit-btn-pending {
    background: none repeat scroll 0 0 #FF5C26;
    border-radius: 8px;
    color: #fff;
    font-weight: bold;
    margin: 5px 0;
    padding: 10px;
    cursor: pointer;
}

.mob-recruit-btn{
    background: none repeat scroll 0 0 #FF5C26;
}

.mob-recruit-btn-pending{
    background: none repeat scroll 0 0 #000;
    cursor: inherit;
}

.mob-recruit-btn img {
	margin-top: -5px;
    padding-right: 10px;
}

.mob-already-added-icon{
	width: 20px;
	height: 20px;
}

.mob-cal-btn
{
	background:none repeat scroll 0 0 #26B24B;
	border-radius:8px;
	margin:5px 0 5px 5px;
	padding:10px
}

.mob-vs-btn
{
	background:none repeat scroll 0 0 #797979;
	border-radius:8px;
	margin: 5px 0;
	padding:10px;
	color: #fff;
	font-weight: bold;
}
.mob-vs-btn img{
	margin-top: -5px;
	padding-right: 10px;
}

.mob-apply-btn
{
	background:none repeat scroll 0 0 #00A3D9;
	border-radius:8px;
	margin: 5px 0;
	padding:10px;
	color: #fff;
	font-weight: bold;
}
.mob-apply-btn img{
	margin-top: 1px;
    margin-bottom: -4px;
    padding-right: 10px;
    height: auto;
    width: 52px;
}

.mob-expand-btn
{
	background:none repeat scroll 0 0 #fff;
	border-radius:8px;
	margin:4px 0 5px 8px;
	padding:10px 0 10px 14px
}

.mob-dis-inblock
{
	display:inline-block
}

.mob-college-logo
{
 font-size:16px;
 margin-top:35px;
 margin-bottom:6px;
 padding:0
}

.mobile-college-rank
{
	background-image:linear-gradient(-90deg,#26b24b 0%,#1a7934 100%);
	border-radius:3px;
	display:inline-block;
	margin-left:19px;
	padding:0 22px;
	width:20px
}

.mobile-college-rank > span
{
	color:#fff;
	font-size:16px;
	font-weight:700;
	left:-8px;
	line-height:26px;
	position:relative;
	text-align:center
}

.mob-schoolHeaderLogo
{
	height:50px;
	margin-bottom:5px;
	margin-top:20px
}

.mob-address-icons
{
	margin-bottom:5px
}

.mob-menu
{
	display:inline-block;
	padding:10px 0;
	width:100%
}

.mob-address-icons > a
{
	margin:0 6px
}

.student-ratio-box-head
{
	font-size:24px
}

.owl-theme .owl-controls {
margin-top: 0px;
}



.graph-per-fs{font-size:48px;}
.sub-per-fs{font-size:26px;}
.min-h-300{min-height:300px}

@media (min-width:767px) and (max-width: 1025px){
	.area_for_fix{  width:100%;}
}

@media (min-width:320px) and (max-width: 480px) {
	.box-div
	{
	}

	#directory-box-div.owl-item
	{
		width:40px!important
	}

	#silder_ul_li_mid
	{
		width:150px
	}

	.search-text-box
	{
		background-size:100% 100%;
		width:auto
	}

	.mobile-padding
	{
		padding:10px
	}

	.search_txt
	{
		max-width:210px
	}

	.search-btn
	{
		margin-right:5px
	}

	#comparebox_content_div
	{

	}

	.no-padding-small
	{
		padding:0
	}
}

@media (max-width:640px) {

	/* Stats page */
	/*.row2-bg-box-3
	{
		width:49%
	}

	.student-ratio-box-head
	{
		font-size:14px
	}

	.student-ratio-div
	{
		margin-left:5px
	}

	.student-ratio-div > img
	{
		margin:8px 0 0 1px;
		width:14px
	}

	.faculty-highlight
	{
		padding-left:7px;
		text-align:left
	}

	.faculty-highlight > img
	{
		width:18px
	}

	.green-ratio-title
	{
		font-size:28px
	}
	*/

	.scores-box
	{
		width:49%
	}

	.vertical-graph-cover {
		background: none repeat scroll 0 0 #000;
		height: 125px;
		margin: 0 15px;
		width: 30px;
	}

	.graph-per-fs{font-size:16px;}
	.sub-per-fs{font-size:16px;}
	.min-h-300{min-height:200px}

	.rotc-content-title {
		color: #fff;
		font-size: 14px;
		font-weight: 700;
		padding: 5px 12px;
	}
}


.pin-stats-aveGPA {
	border-radius: 5px 5px 0 0;
}

.pin-stats-aveGPA-header {
	background-color: black;
	color:white;
}
.pin-stats-aveGPA-body-text {
	color:white;
	font-size:48px;
	background-color: #05Ced3;
}








/* Small screens */
@media only screen {

	#newschlorshippage-home-content .box-div{
		margin-bottom: 15px;
	}

	#newschlorshippage-home-content .bg-white{
		margin-bottom: 15px;
		padding: 0 10px;
	}


}

/* Define mobile styles */
/* USE THIS TO OVERRIDE FOUNDATION CSS CALLS*/
@media only screen and (max-width: 40em) {
	#newschlorshippage-home-content{

	}


	#newschlorshippage-home-content .mobilecollegeheader{
		color: #0085b2;
	}

	#newschlorshippage-home-content .bg-blue{
		height: inherit;
		margin-bottom: 15px;
	}

	#newschlorshippage-home-content .search_txt{
		max-width: inherit;
		/*max-height: inherit;*/
		margin: 0;
	}
	#newschlorshippage-home-content .search-btn{
		margin-bottom: 0;
	}

	.small-search-icon-blue{
		padding-left: 0 !important;
	}

	.the-search-bar{
		padding-top: 7px;
		padding-left: 5px;
	}

}

/*  Medium screens */



/* Large screens */
@media only screen and (min-width: 64.063em) {
	.flex-video{
		margin-bottom: 0;
	}

	.video-panel-outer{
		margin-bottom: 0;
	}

	.bg-blue{
		margin-bottom: 0;
	}
}

/*// Medium screens*/
@media only screen and (min-width: 40.063em) { } /* min-width 641px, medium screens */

@media only screen and (min-width: 40.063em) and (max-width: 64em) { } /* min-width 641px and max-width 1024px, use when QAing tablet-only issues */


/* min-width 1025px, large screens */
@media only screen and (min-width: 64.063em) and (max-width: 90em) {

}

/* XLarge screens */
@media only screen and (min-width: 90.063em) {

}

/* min-width 1441px, xlarge screens */
@media only screen and (min-width: 90.063em) and (max-width: 120em) {

}

/* XXLarge screens */
@media only screen and (min-width: 120.063em) {

}
.college-compare-outer
{
border: solid 0px #ff0000;
padding-left:26px;
padding-right:26px;
}
.college-compare-head1
{
font-size:30px;color:#EBEBEB;line-height:120%;padding-top:15px;
}
.college-compare-head2
{
color:#EBEBEB;line-height:120%;font-size:14px;font-weight:bold;padding-top:5px;
}

.college-compare-div-first
{
padding-top:20px;position:relative;
}
.college-compare-right-first
{
position:absolute;font-size:20px;color:#797979;font-weight:bold;top:27px;right:15px;
}

.college-compare-div-other
{
padding-top:12px;position:relative;
}
.college-compare-right-other
{
position:absolute;font-size:20px;color:#797979;font-weight:bold;top:15px;right:15px;
}

.college-compare-comparebox
{
background-color:#FF5C26; cursor:pointer;-moz-border-radius:9px;-webkit-border-radius:9px;border-radius:9px;
}
.college-stats-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-stats.png);
background-repeat:no-repeat;
}



.college-stats-icon:hover
{
color:#FF5C26;
background-image:url(/images/colleges/icon-stats-hover.png);
background-repeat:no-repeat;
}
.college-stats-icon-active
{
color:#FF5C26;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-stats-hover.png);
background-repeat:no-repeat;
}

.college-ranking-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-ranking.png);
background-repeat:no-repeat;
}
.college-ranking-icon:hover
{
color:#FF5C26;
background-image:url(/images/colleges/icon-ranking-hover.png);
background-repeat:no-repeat;
}
.college-ranking-icon-active
{
color:#FF5C26;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-ranking-hover.png);
background-repeat:no-repeat;
}
.college-financial-aid-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-finance.png);
background-repeat:no-repeat;
}
.college-financial-aid-icon:hover
{
color:#FF5C26;
background-image:url(/images/colleges/icon-finance-hover.png);
background-repeat:no-repeat;
}
.college-financial-aid-icon-active
{
color:#FF5C26;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-finance-hover.png);
background-repeat:no-repeat;
}
.college-admissions-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-admission.png);
background-repeat:no-repeat;
}
.college-admissions-icon:hover
{
color:#FF5C26;
background-image:url(/images/colleges/icon-admission-hover.png);
background-repeat:no-repeat;
}
.college-admissions-icon-active
{
color:#FF5C26;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-admission-hover.png);
background-repeat:no-repeat;
}
.college-tuition-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-tution.png);
background-repeat:no-repeat;
}
.college-tuition-icon:hover
{
color:#FF5C26;
background-image:url(/images/colleges/icon-tution-hover.png);
background-repeat:no-repeat;
}
.college-tuition-icon-active
{
color:#FF5C26;
font-size:15px;
font-weight:bold;
display:inline-block !important;
border-right: dotted 1px #fff;
padding-left: 26px;
padding-right: 7px;
cursor:pointer;
background-image:url(/images/colleges/icon-tution-hover.png);
background-repeat:no-repeat;
}
.college-more-icon
{
color:#ffffff;
font-size:15px;
font-weight:bold;
border-right: dotted 1px #fff;
padding-left: 7px;
padding-right: 7px;
cursor:pointer;
}
/*.college-stats-icon:last-of-type
{
border-right: dotted 0px #fff;
}*/
.college-stats-more
{
color:#ffffff;font-weight:bold;
}
.college-stats-more:hover
{
color:#FF5C26;
}
.college-stats-more-active
{
color:#FF5C26;font-size:15px;font-weight:bold;
}
.expand-toggle-list:before{
content:"Expand"; background:none;cursor:pointer;
}
.expand-toggle-list.run:before{
content:"Collapse"; background:none;cursor:pointer;
}

#newschlorshippage-middle-menu {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    z-index: 5;
    position: relative;
    margin-bottom: 10px;
}

.university-attached-menu{
	border-radius: 0 0 5px 5px;
    overflow: hidden;
}

#newschlorshippage-middle-menu a{
    color: #fff;
    width: 100%;
}
#newschlorshippage-middle-menu a:hover{
    color: #FF5C26;
}

#newschlorshippage-middle-menu a .active-tab{
	color: #FF5C26;
}

#newschlorshippage-middle-menu li {
    cursor: pointer;
    border-right: dotted #fff 1px;
    font-size: 12px;
    /*background-color: #939393;*/
}
#newschlorshippage-middle-menu li a{
    display: inline-block;
    padding: 8px 0;

}

/*center news link content */
.news-tab.column{
	position: relative;
	width: 150px;
	margin: 0 auto;
}


#newschlorshippage-middle-menu li:last-child {
    border-right: none;
}

.college-dropdown{
    background-color: #000;

    cursor: pointer;
}

.college-more-icon{
    display: none;
}


.dropDownCollegeMenu{
    display: none;
}

.menuitem{
    padding-top: 10px;
    padding-bottom: 10px;
}

.arrow{
    width: 0;
    height: 0;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 7px solid #fff;
    margin-left: 7px;
    margin-right: 7px;
    position: relative;
    top: 14px;
}

.university-attached-menu{
    /*border-top:dotted 3px #fff; */
}

.dropDownCollegeMenu .largeMoreDropDown,
.dropDownCollegeMenu .largeStatsDropDown,
.dropDownCollegeMenu .largeTuitionDropDown,
.dropDownCollegeMenu .largeCurrentStudentDropDown
{
    position: absolute;
    background-color: #000;
    width: 100px;
    right: 0;
}
#newschlorshippage-middle-menu .largeMoreDropDown {
	display: none;
	position: absolute;
	right: -30px;
	width: 173px;
}
#newschlorshippage-middle-menu .largeCurrentStudentDropDown {
	display: none;
	position: absolute;
	right: 76px;
	width: 200px;
}
#newschlorshippage-middle-menu .largeMoreDropDown li,
#newschlorshippage-middle-menu .largeStatsDropDown li,
#newschlorshippage-middle-menu .largeTuitionDropDown li,
#newschlorshippage-middle-menu .largeCurrentStudentDropDown li
{
    border: none;
    background-color: #202020;
    padding: 1px 15px;
}
#newschlorshippage-middle-menu .largeStatsDropDown {
	display: none;
	position: absolute;
	left: 138px;
	width: 200px;
}
#newschlorshippage-middle-menu .largeTuitionDropDown {
	display: none;
	position: absolute;
	width: 200px;
	right: 352px;
}
#newschlorshippage-middle-menu .sprite {
    position: relative;
    top: 3px;
    left: -3px;
    display: inline-block;
    width:17px;
    height: 15px;
    background-size: 100% 100%;
}

.international-sprite {
	 margin-right: 5px;
}


#newschlorshippage-middle-menu .icon-overview{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/overview.png');
}
#newschlorshippage-middle-menu li:hover .icon-overview{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/overview_hover.png');
}

#newschlorshippage-middle-menu .icon-stats{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/stats.png');
}

#newschlorshippage-middle-menu li:hover .icon-stats{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/stats_hover.png');
}

#newschlorshippage-middle-menu .icon-chat{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/chat.png');
}

#newschlorshippage-middle-menu li:hover .icon-chat{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/chat_hover.png');
}


#newschlorshippage-middle-menu .icon-ranking{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/ranking.png');
}


#newschlorshippage-middle-menu li:hover .icon-ranking{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/ranking_hover.png');
}

#newschlorshippage-middle-menu .icon-admissions{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission.png');
}

#newschlorshippage-middle-menu li:hover .icon-admissions{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png');
}


#underGrad-dropdown .icon-engP{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission.png');
}

#underGrad-dropdown li:hover .icon-engP{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png');
}
#underGrad-dropdown .icon-undergrad{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission.png');
}

#underGrad-dropdown li:hover .icon-undergrad{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png');
}

#newschlorshippage-middle-menu .icon-undergrad-m{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission.png');
}

#newschlorshippage-middle-menu  li:hover .icon-undergrad-m,
.topnav-li-container:hover .icon-undergrad-m{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png');
}

#underGrad-dropdown .icon-grad{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission.png');
}

#underGrad-dropdown li:hover .icon-grad{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png');
}




#newschlorshippage-middle-menu .icon-news{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/college-news-icon-white.png');
}


#newschlorshippage-middle-menu li:hover .icon-news{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/college-news-icon-orange.png');
}

#newschlorshippage-middle-menu .icon-financial-aid{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/financial-aid.png');
}

#newschlorshippage-middle-menu li:hover .icon-financial-aid{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/financial-aid_hover.png');
}


#newschlorshippage-middle-menu .icon-enrollment{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/enrollment.png');
}

#newschlorshippage-middle-menu li:hover .icon-enrollment{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/enrollment_hover.png');
}

#newschlorshippage-middle-menu .icon-tuition{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/tuition.png');
}
#newschlorshippage-middle-menu li:hover .icon-tuition{
    background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/tuition_hover.png');
}


@media only screen and (min-width: 64.063em) {
	/* making current college tab highlighted */
	.active-college-tab, .tab-more-active{
		color: #FF5C26 !important;
	}

	.tab-overview-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/overview_hover.png') !important;
	}

	.tab-stats-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/stats_hover.png') !important;
	}
	.tab-ranking-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/ranking_hover.png') !important;
	}
	.tab-admissions-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png') !important;
	}
	.tab-undergrad-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png') !important;
	}
	.tab-engP-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/admission_hover.png') !important;
	}
	.tab-chat-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/chat_hover.png') !important;
	}
	.tab-financial-aid-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/financial-aid_hover.png') !important;
	}
	.tab-enrollment-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/enrollment_hover.png') !important;
	}
	.tab-tuition-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/tuition_hover.png') !important;
	}
	.tab-news-icon{
		background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/college/icons/college-news-icon-orange.png') !important;
	}
	.more-arrow-active{
		border-top: 7px solid #FF5C26;
	}
}


.paddingtb-university-name-panel{
	border-radius: 5px 5px 0 0;
	position: relative;
}

#newschlorshippage-carousel, #youtube-vid-carousel{
	position: relative;
	margin-bottom: 10px;
}

#owl-example .owl-item{
	overflow: hidden;
	border-radius: 5px;
}

#newschlorshippage-carousel .arrow, #youtube-vid-carousel .arrow{
	background-image: url('/images/colleges/overview-image-arrows.png');
	height: 37px;
	width: 45px;
	position: absolute;
	z-index: 5;
	border: none;
	top: 45%;
	cursor: pointer;
}

@media only screen and (max-width: 40em) {
#newschlorshippage-carousel .leftArrow, #youtube-vid-carousel .leftArrow{
	left: 4px;
	top: 45%;
}

#newschlorshippage-carousel .rightArrow, #youtube-vid-carousel .rightArrow{
	right: 4px;
	background-position: right;
	top: 45%;
}

}

/* Medium screens*/
@media only screen and (min-width: 40.063em) {
	#newschlorshippage-carousel .leftArrow, #youtube-vid-carousel .leftArrow{
		left: 30px;
		top: 45%;
	}

	#newschlorshippage-carousel .rightArrow, #youtube-vid-carousel .rightArrow{
		right: 30px;
		top: 45%;
		background-position: right;
	}

}


.overview-text-area{
	background:#fff;
	border-radius: 5px;
}

.general-info-box, .general-links-box, .find-out-more {
	margin-bottom: 20px;
}

.col-overview-link-hover:hover{
	text-decoration: underline;
}

#overview-bottom-3-boxes .box-3-top-header{
	background-color: #000;
	color: #fff;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 18px;
	font-weight: bold;
	border-radius: 5px 5px 0 0;
}
#overview-bottom-3-boxes .box-3-infobox{
	background-color: #004358;
	color: #fff;
	font-weight: bold;
	font-size: 14px;
	padding-top: 20px;
	border-radius: 0 0 5px 5px;
}
#overview-bottom-3-boxes .general-info-box .box-3-infobox .value{
	font-size: 20px;
	padding-bottom: 20px;
}

#overview-bottom-3-boxes .general-links-box .box-3-infobox a{
	font-size: 16px;
	padding-bottom: 20px;
	color: #fff;
	display: inline-block;
}

#overview-bottom-3-boxes .find-out-more .box-3-infobox a{
	font-size: 16px;
	padding-bottom: 8px;
	color: #fff;
	display: inline-block;
}
#overview-bottom-3-boxes .find-out-more .box-3-infobox{
	padding-bottom: 20px;
}
/* college overview description css */
.row.overview-text-area .toc {
	display: none;
}
.row.overview-text-area .error {
	display: none;
}
.row.overview-text-area #coordinates{
	display: none;
}
.row.overview-text-area .metadata {
	display: none;
}
.row.overview-text-area .infobox {
	display: none;
}

dl {
	display: none;
}

.noviewer {
	display: none;
}



.plainlinks {
	display: none;
}

.news-container {
	width: 98.8% !important;
	margin: 5px !important;
}

.overview-news-area {
	background-color: #fff;
	padding-top: 12px;
}

.overview-news-area .news-item-container {
	padding: 10px 0px;
	color: #1f1f1f;
}
.overview-news-area .news-item-container:last-child {
	margin-bottom: 20px;
}
.overview-news-area .news-item-container.no-news {
    padding: 34px;
    font-size: 14px;
    color: #797979;
}
.overview-news-area .news-item-container div.row {
    margin-top: 4px;
    margin-right: 26px;
}

.overview-news-area a{
	color: #2196F3;
}
.overview-news-area .news-desc {
	font-size: 13px;
	text-align: justify;
}

.overview-news-area .news-date {
	font-size: 12px;
	color: #06A93A;
}

/*large up */
@media only screen and (min-width: 64.063em) {

    #newschlorshippage-middle-menu li {
        background-color: #000;
    }
    .dropDownCollegeMenu{
        display: block;
    }

    .college-more-icon{
        display: block;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .college-more-icon .arrow{
		left: 2px;
		margin-left: 0;


    }

    .college-more-icon:hover{
        color: #FF5C26;

    }

    .college-more-icon:hover .arrow, .tuition-arrow:hover, .stats-arrow:hover{
		border-top: 7px solid #FF5C26;
    }

    .university-name{
    	padding-top: 30px;
		font-size: 30px;
    }

}

/* College overview */
.overview-text-area{
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: -3;
}
.overview-text-area h2{
	color: #0085B2;
	font-size: 42px;
	font-weight: bold;
	padding-left: 20px;

}
.overview-text-area h3{
	color: #0085B2;
	font-size: 26px;
	font-weight: normal;
	padding-left: 20px;

}

.overview-text-area h4{
	color: #0085B2;
	font-size: 21px;
	font-weight: normal;
	padding-left: 20px;

}

.overview-text-area p{
	font-size: 14px;
	color: #000;
	font-weight: normal;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
    text-align: left;
}

.overview-text-area .hatnote{
	display: none;
}

.overview-text-area b{
	color: #0085B2;

}

.overview-text-area ul {
    list-style-image: none;
    list-style-position: initial;
    list-style-type: disc;
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 30px;
}

.overview-text-area li {
    font-size: 12px;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: disc;
    padding-bottom: 3px;
    padding-top: 3px;
}
.overview-text-area .thumb{
	display: inline-block;
    float: right;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    clear:both;
}
.overview-text-area li.gallerybox{
	display:inline-block;
	vertical-align: top;
	text-align: center;
}
.overview-text-area li.gallerybox .thumb {
	margin: 15px auto;
	border: 1px solid #ccc;
}
.overview-text-area .thumbcaption{
	font-size: 11px;
	text-align: center;
}
.overview-text-area .overviewSource{
	color: #0085B2;
    margin-top: 20px;
    padding-left: 20px;
}



.overview-text-area .mw-gallery-traditional{
display: block;
clear: both;
padding-top: 1px;
padding-bottom: 1px;
}


.overview-text-area .mw-gallery-traditional li{
	list-style: none;
}

.overview-text-area .mw-gallery-traditional .gallerytext p{
   font-size: 11px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    text-align: center;
}

.overview-text-area .mw-gallery-traditional .thumb{
	padding: 1px;
	margin: 0;
}

.overview-text-area .mw-gallery-traditional .thumb div {
	margin-bottom: 1px;
}

@media only screen and (min-width: 64.063em) {

	.overview-text-area .mw-gallery-traditional{
		display: inline-block;
		float: right;
		padding-top: 1px;
		padding-bottom: 1px;
	}

}

/* youtube api styles */
.img-vid-college-container{
	position: relative;
}

.pic-video-container{
	width: auto;
	padding: 0 6px;
	right: 30px;
	top: 20px;
	position: absolute;
	z-index: 1;
	border-radius: 1px;
	color: white;
	background: none repeat scroll 0 0 rgba(0, 0, 0, 0.6);
}

.college-ytvid-btn:hover{
	cursor: pointer;
}
.college-pic-btn:hover{
	cursor: pointer;
}

.active-tab{
	color: #FF5C26;
}

#youtube-vid-carousel .flex-video{
	padding-top: 0;
	margin-bottom: 0;
	padding-bottom: 46%;
}

.yt-vid-stats{
	padding-top: 25px !important;
}
.yt-vid-ranking{
	padding-top: 10px !important;
}
.yt-vid-admissions, .yt-vid-financial{
	padding-top: 37px !important;
}
.yt-vid-enrollment{
	padding-top: 10px !important;
}
.yt-vid-tuition{
	padding-top: 33px !important;
}


/* styles for college home expand/collapse on banner-footer */
.expand-collapse-img-toggle{
	-webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

/* styles for video on college home - mobile only */
.collegeHome-mobileOnly-vid{
	padding-bottom: 40px;
}
/* styles for virtual tour */
.virtualTour_loader{
	width: 30px;
	height: 30px;
}

@media only screen and (min-width: 40.063em){
	.media_images_resize, #newschlorshippage-carousel img{
		width: 100%;
	}
}

#newschlorshippageAutoComplete1, #newschlorshippageAutoComplete2, #newschlorshippageAutoComplete3{
	padding-right: 2.5em;
}

#newschlorshippage .paddingtb-university-name-panel > div:last-child{
	padding-right: 20px;
}

#newschlorshippage .signedout-getrecruited{
	padding-top: 2px;
}

#newschlorshippage .signout-recruited-tooltip{
	margin-top: 6px;
}

/***** disqus on college pages - start *****/
#newschlorshippage #newschlorshippageInfoArea .college_overview_disqus{
	background-color: #fff;
	border-radius: 5px;
	margin: 12px 0;
	padding: 10px;
}

#newschlorshippage a[href='#disqus_comment_section_college_overview']{
	color: #000;
	font-weight: 600;
}

#newschlorshippage a[href='#disqus_comment_section_college_overview'] > span{
	padding-right: 15px;
}

/***** disqus on college pages - end *****/

/*widening college pages for large and up only*/
@media only screen and (min-width: 64.063em){
	#newschlorshippage > .row.college-page-toplevel-container{
		max-width: 80em;
	}
}


/***** styling for admin generated ranking pins - start *****/
#newschlorshippage .generated-ranking-pins-container{
	margin-bottom: 70px;
}

#newschlorshippage .generated-ranking-pins-container .pin-inner-container{
	margin-top: 20px;
}

#newschlorshippage .generated-ranking-pins-container .pin-inner-container{
	background-color: #000;
	border-radius: 1px;
}

#newschlorshippage .pin-inner-container .pin-title > .column{
	color: #fff;
	background-color: #04a6ae;
	font-weight: 600;
	padding: 10px;
	word-break: break-word;
}

#newschlorshippage .pin-inner-container .pin-content{
	padding: 20px;
	color: #fff;
}

#newschlorshippage .pin-inner-container .pin-content > .column.see-full-rank-article{
	padding-top: 10px;
}

#newschlorshippage .pin-inner-container .pin-content > .column.see-full-rank-article > a{
	color: #FF5C26;
	padding-left: 7px;
}
#newschlorshippage .pin-inner-container .pin-content > .column.see-full-rank-article > a:hover{
	text-decoration: underline;
}

#newschlorshippage .pin-inner-container .pin-content > .column.pin-rank > div:last-child{
	font-size: 35px;
	padding-left: 5px;
	font-weight: 600;
}

#newschlorshippage .pin-inner-container .pin-content > .column.pin-descript > div:first-child{
	padding: 10px 7px;
	word-break: break-word;
	height: 80px;
	overflow: hidden;
	margin-bottom: 7px;
}

#newschlorshippage .pin-inner-container .pin-content > .column.pin-descript > div.expanded:first-child{
	height: auto;
	overflow: none;
	margin-bottom: 0;
}

#newschlorshippage .pin-inner-container .pin-content > .column.pin-img > img{
	height: 100px;
}

#newschlorshippage .pin-inner-container .pin-content a.see-more-pin-descript-btn{
	font-size: 12px;
	color: #04a6ae;
	cursor: pointer;
}
#newschlorshippage .pin-inner-container .pin-content a.see-more-pin-descript-btn:hover{
	text-decoration: underline;
}
/***** styling for admin generated ranking pins - end *****/
.item.is-youniversity{
	position: relative;
}

.is-youniversity .loader, .is-youniversity .loader img{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: -1;
}

.is-youniversity .loader img{
	margin: auto;
}

.els-checklist{
    padding: 0 20px 20px;
    color: #ddd;
}

.els-checklist a{
    color: #26b24b;
}

.els-checklist .els-apply{
    background: #26b24b;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    padding: 5px 20px;
    margin: 50px 0 0;
    cursor: pointer;
}

.els-checklist > div:not(.text-center){
    margin: 0 0 20px;
}

.els-entry > .small-12{
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    color: #797979;
}

.els-entry .entry-h{
    font-size: 17px;
    font-weight: 600;
    padding: 0 0 10px;
}

.els-entry .entry-see{
    display: inline-block;
    padding: 10px 40px;
    border-radius: 5px;
    background: #797979;
    color: #fff;
    cursor: pointer;
    margin: 20px 0 0;
}

.els-dates{
    color: #ddd;
    padding: 0 30px 0 0 !important;
}

.programs-links{ padding: 0 20px 20px; }
.programs-links > div{ margin: 0 0 15px; }
.programs-links > div > a{ color: #26b24b; }

.els-exam{
    color: #FF5C26;
    padding: 0 0 20px;
}

.els-view{
    display: inline-block;
    padding: 7px 30px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0 20px;
    background: #797979;
    color: #fff;
}
.els-view:hover{ color: #fff; }

.els-session-c{
	padding: 0 20px;
}

.els-session{
	color: #ddd;
	margin: 5px 0 10px;
}

.els-tip{
    display: inline-block;
    position: relative;
    background: #fff;
    color: #000;
    border-radius: 100%;
    font-size: 12px;
    font-weight: 400;
    width: 17px;
    height: 17px;
    text-align: center;
    cursor: help;
    line-height: 18px;
}

.els-tip-container{
    border-radius: 5px;
    color: #797979;
    text-align: left;
    font-size: 14px;
}
.els-tip-container.mod{
	position: absolute;
    top: 140%; left: -235px;
    width: 550px;
    margin: auto;
    box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.3);
    background: #fff;
    z-index: 1;
    padding: 20px 40px;
    display: none;
}

.els-tip-container ul{
    padding: 0 0 0 60px;
}

.els-tip-container ul > li{
    font-size: 14px;
    list-style-type: disc;
}

.els-learn{
	font-weight: 100;
	font-size: 14px;
	display: block;
	color: #26b24b;
	text-decoration: underline;
}

.tip-h{
    font-size: 16px;
    font-weight: 600;
}

.t-arrow{
    display: none;
    width: 0;
    height: 0;
    border-top: 7px solid transparent;
    border-bottom: 7px solid transparent;
    border-left: 7px solid #fff;
    transform: rotate(270deg);
    position: absolute;
    top: 87%; left: 28%;
}

.els-tip:hover .els-tip-container,
.els-tip:hover .t-arrow{
    display: block;
}

.university-address.els-accepts{
	color: #FF5C26;
	padding: 10px 0;
}

@media only screen and (max-width: 40em){
	.item iframe, .item.is-youniversity{
		height: 230px;
	}
}
.flag{
	display: inline-block;
	width: 27px;
	height: 14px;
	background-repeat: no-repeat;
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAOCAYAAADez2d9AAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAALEgAACxIB0t1+/AAAABx0RVh0U29mdHdhcmUAQWRvYmUgRmlyZXdvcmtzIENTNui8sowAAAAWdEVYdENyZWF0aW9uIFRpbWUAMDEvMjYvMTWOcCWmAAABZ0lEQVQ4jbWTrU4lQRCFv9mUKHFFC8QIxAgE2WxWIXgEQhA8AgK5D7BixYoVPMI+AxqxD4BAoNCIEYSMuKIF4ohOBtE9P1zYZG6AMuek0qlTdaq6sq8/+v2mRklgQAI3RwgSYOBAfILf3wJHuwGRc3NkAbdMVIo6MiGUecEcEa8DvleXAo6PzTE1VnDKC8zxBCZm0ySNU408CXdHCbp/N3TXU8fbhsGG0FyQzIcum7NTmoP9sdvlsvntZGPBQeiFIA7utBd/aQ3iUMJAaTmakkAUq4SsCA8TSrACdaL585PmsCkbE7Jpo8Ox/JcnYWEn4DuBuI6EVSlOFo9RhDoQu0i9V9P+uqBNGifbNqqHx3W/9HGAF98hO7BhF/kiZa+xuv1+slhsszi83stbuQGrp7v7fnR2fmWJj+VJVLfH572ncsTDyJ/BDar15VWf55o+wWdxU9tlr2f+xvkOPjBfXX1ZbXUg74lnBn0K7vtjOwgAAAAASUVORK5CYII=)
}

.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat
}


.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
.flag.flag-zr {background-position: -48px -176px}


/****************************************** majors *********************************************************/
/************************************************************************************************************/
.majors-white-box{
	margin: 5px 5px 20px 5px;
	background-color: #ffffff;
	padding: 20px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
}

.majors-white-box .header{
	font-size: 28px;
	color: #303030;
    margin: 25px auto 30px auto;
	position: relative;
	text-align: center;
}


.dept-container{
	width: 990px;
	max-width: 100%;
	position: relative;
	margin: 0px auto 50px auto;
}

.dept-box{
	width: 190px;
	margin: 3px;
	height: 170px;
	background-color: #252a2d;
	color: #eeeeee;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	border-radius: 7px;
	float: left;
	color: #ffffff;
	text-align: center;
	padding: 20px;
	word-wrap: break-word;
}

.dept-box a,
.dept-box a:hover,
.dept-box a:active,
.dept-box a:focus{
	color: #ffffff;
}


.dept-box:hover,
.dept-box:active,
.dept-box:focus{
	background-color: #26B24B;
	transition: .3s ease-in-out;
}

.dept-box.active{
	background-color: #26B24B;
	transition: .3s ease-in-out;

}

.dept-name{
	font-size: 12px;
	font-weight: 600;
}

.majors-toggle-btn{
	display: none;
	position: relative;
	left: 39%;
	font-size: 13px;
	font-weight: 600;
	margin: 20px auto;
	color: #635d56;
	cursor: pointer;
}

.majors-toggle-btn:hover,
.majors-toggle-btn:active,
.majors-toggle-btn:focus{
	color: #303030;
}



/********** majors icons *****/

.dept-img{
	background-image: url('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/majors-sprite-r1.png');
	background-repeat: no-repeat;
	background-size: 1700%;
	width: 60px;
	height: 60px;
	margin: 10px auto;
	position: relative;
}

.dept-img.agriculture_related_sciences, .dept-img.study-agriculture{
    background-position: 8px -2px;
}

.dept-img.arts_design_architecture, .dept-img.study-arts{
    background-position: -119px -8px;
}

.dept-img.biology_medicine_health_professions, .dept-img.study-biology{
    background-position: -828px -7px;
}

.dept-img.business_management_marketin, .dept-img.study-business {
    background-position: -190px -18px;
}

.dept-img.communication_journalism_related_programs, .dept-img.study-communications {
    background-position: -699px -13px;
}

.dept-img.computer_science_information_technology, .dept-img.study-computer-science-it {
    background-position: -261px -16px;
}

.dept-img.education, .dept-img.study-education {
    background-position: -334px -2px;
}

.dept-img.engineering, .dept-img.study-engineering {
    background-position: -407px 6px;
}

.dept-img.environmental_studies_natural_resources, .dept-img.study-environmental-studies {
    background-position: -488px -14px;
}

.dept-img.legal_professions_studies, .dept-img.study-legal-studies {
    background-position: -764px -10px;
}

.dept-img.liberal_arts_humanities, .dept-img.study-humanities {
    background-position: -633px -5px;
}

.dept-img.natural_sciences_mathematics, .dept-img.study-mathematics {
    background-position: -898px 0px;
}

.dept-img.parks_recreation_leisure_fitness_studies, .dept-img.study-health-professions {
    background-position: -564px -10px;
}

.dept-img.social_sciences, .dept-img.study-natural-sciences {
    background-position: -968px 5px;
}

.dept-img.trades_applied_sciences, .dept-img.study-trades {
    background-position: -53px -2px;
}




/******************************************************************************/
/******************************************************************************/


@media all and (max-width: 1403px){

	.dept-container{
		width: 800px;
	}
}

@media all and (max-width: 1141px){
	.dept-container{
		width: 600px;
	}
}

@media all and (max-width: 986px){
	.dept-box{
		width: 160px;
		height: 150px;
	}

	.dept-container{
		width: 500px;
		margin-bottom: 0px;
	}


	.dept-img.agriculture_related_sciences{
    background-position: 8px -2px;
    height: 60px;
}

.dept-img.arts_design_architecture{
    background-position: -119px -8px;
    height: 56px;
}

.dept-img.biology_medicine_health_professions{
    background-position: -828px -7px;
    height: 55px;
}

.dept-img.business_management_marketing {
    background-position: -190px -18px;
    height: 43px;
}

.dept-img.communication_journalism_related_programs {
    height: 45px;
    background-position: -699px -13px;
}

.dept-img.computer_science_information_technology {
    height: 46px;
    background-position: -261px -16px;
}

.dept-img.education {
    background-position: -334px -2px;
}

.dept-img.engineering {
    background-position: -407px 6px;
}

.dept-img.environmental_studies_natural_resources {
    background-position: -488px -14px;
    height: 46px;
}

.dept-img.legal_professions_studies {
    background-position: -764px -10px;
    height: 52px;
}

.dept-img.liberal_arts_humanities {
    background-position: -633px -5px;
    height: 58px;
}

.dept-img.natural_sciences_mathematics {
    background-position: -898px 0px;
    height: 63px;
}

.dept-img.parks_recreation_leisure_fitness_studies {
    background-position: -564px -10px;
    height: 48px;
}

.dept-img.social_sciences {
    background-position: -968px 5px;
    height: 68px;
}

.dept-img.trades_applied_sciences {
    background-position: -53px -2px;
    height: 63px;
}

}


@media all and (max-width: 851px){

	.majors-white-box .header{
		font-size: 20px;
		margin: 25px auto 15px auto;
	}

	.dept-box{
		width: 99%;
		height: auto;
		padding: 15px 20px;
	}

	.dept-img{
		display: none;
	}
	.majors-toggle-mobile{
		display: none;
		overflow: hidden;
	}
	.majors-toggle-btn{
		display: inline-block;
	}
}
@media only screen and (max-width: 768px){
    .mobile-hide{display:none;}
}
.survival-guide-img {
	padding-top: 45px;
	padding-left: 15px;
	padding-bottom: 34px;
}
.quad {
	padding-top: 19px;
	padding-bottom: 11px;
	color: #fff;
	font-size: 12px;
}
.suvival-guide-title {
	color: #fff;
	padding-bottom: 17px;
}
.survival-guide-desc {
	color: #fff;
	font-size: 13px;
}
.slug-article {
	color: #FF5C26;
	text-decoration: underline;
	font-size: 12px;
}
.see-full-article {
	padding-top: 14px;
}
.clearfix-padding {
    display: block;
    padding-top: 10px;
}
.small-12.columns.quad.news {
	text-align: center;
	font-size: 16px;
}
.suvival-guide-title.news {
	padding-top: 37px;
	color: #0085b2;
	font-weight: 600;
}
.news-article-img {
	width: 79%;
	height: 110px;
}
.bg-ext-white {
	background: #fff !important;
	border-radius: 3px;
}
.black-heading {
	background-color: #333333;
	border-radius: 2px;
}
.black-heading h4{
	color: #fff;
}
.student-img {
	border-radius: 45px;
	height: 90px;
	width: 100%;
}
.student-img-box {
	width: 30%;
	margin-left: 7em;
}
.large-4.columns.padding-student-1 {
    padding-top: 60px;
    padding-bottom: 37px;
}
.student-name {
	color: #2BC66D;
	font-weight: 700;
	font-size: 16px;
	padding-top: 8px;
	padding-left: 25px;
	margin-bottom: 0 !important;
}
.student-college-name, .student-branch, .college-address {
	color: #000;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 0 !important;
}
.pagination {
	float: right;
	padding-bottom: 25px;
}
.more-loader {
	display: block;
	text-align: center;
	padding-bottom: 20px;
}
.row.bg-ext-black.university-attached-menu {
	display: flex;
	margin-left: 6px !important;
	margin-right: 5px !important;
}
.inner-list-menu {
	width: 16%;
	text-align: center;
}
#newschlorshippage-middle-menu .largeCurrentStudentDropDown.active {
	display: block;
}
.main-contnet-major p {
		font-size: 18px;
		line-height: 34px;
}
.majors-container-div .dept-box {
    width: 170px;
}
.department-content-div strong {
		color: #333;
}
.department-content-div .quelist li {
		color: #79796A;
		list-style-type: disc;
		margin-left: 10px;
		padding-left: 40px;
}
.mySlides {display:none}
.pdept-badge {cursor:pointer}
.pdept-badge {height:20px;width:20px;padding:0;}
.pdept-content{max-width:980px;margin:auto}
.pdept-display-container:hover{display:block}.pdept-display-container:hover span.w3-display-hover{display:inline-block}
.pdept-badge{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.pdept-badge{border-radius:50%}
.pdept-border-0{border:0!important}.pdept-border{border:2px solid #ccc!important}
.pdept-border-top{border-top:1px solid #ccc!important}.pdept-border-bottom{border-bottom:1px solid #ccc!important}
.pdept-border-left{border-left:1px solid #ccc!important}.pdept-border-right{border-right:1px solid #ccc!important}
.pdept-transparent{background-color:transparent!important}
.pdept-hover-white:hover{color:#000!important;background-color:#fff!important}
.pdept-center{text-align:center!important}
.pdept-center .w3-bar{display:inline-block;width:auto}
.pdept-center{text-align:center}
.pdept-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.pdept-text-white{color:#fff!important}
.pdept-large{font-size:18px!important}
.pdept-section{margin-top:16px!important;margin-bottom:16px!important}
.pdept-white,.pdept-hover-white:hover{color:#000!important;background-color:#fff!important}
.world-map-back{
cursor: pointer;
}
#vmap{
width:90%;
}
@media only screen and (max-width:40em){
	#vmap{
		height: 250px;
	}
	#newschlorshippage-home-content .bg-white {
    margin-bottom: 0;
	}
	.majors-white-box {
		padding: 0 0px 20px;
	}
}
/* Medium screens*/
@media screen and (max-width: 991px) and (min-width: 768px){
	#vmap{
		height: 400px;
	}
}
@media screen and (max-width: 1045px) and (min-width: 992px){
	#vmap{
		height: 450px;
	}
}
@media screen and  (min-width: 1200px) {
	#vmap{
		height: 550px;
	}
}

/**************     modal popup on collage page    *******************/


.mob-vs-btn.edx_img {
    color: #000;
}
.row.trigger-apply-btn.orange-btn.white_back {
    background: #fff !important;
}
.college-engage-box .trigger-apply-btn div.column {
    
    color: #000;
    
}
.column.small-3.text-center.edx_img_sec img {
    max-width: 40px;
}
.college-engage-box .college-engage-box-row .column.small-9 {
    padding-top: 4px;
    text-align: left !important;
}
.collage-logo h2 {
    display: inline-block;
}
.collage-logo img {
    width: 100%;
    max-width: 114px;
}
.collage-logo h2 {
    display: inline-block;
    font-size: 20px;
}
.collage-logo {
    text-align: center;
}

.collage-apply p {
    font-size: 15px;
}
.learn_btn a {
    background: #41a2f8;
    color: #fff;
    border-radius: 2px inherit;
    font-size: 17px;
    text-align: center;
    padding: 13px 50px;
}
.learn_btn {
    text-align: center;
}
.plx_link {
    text-align: center;
    margin-top: 31px;
    font-size: 20px;
}

.plx_link a {
    color: #919191;
    text-decoration: underline;
    font-size: 16px !important;
}

.edxcourse{
	color:#000 !important;
}

.close_btn a.closer_sec {
    position: absolute;
    right: 8px;
}






@media only screen and (max-width: 767px) {

    .mob-vs-btn.edx_img img {
    width: 100%;
    max-width: 47px;
}
.mob-vs-btn.edx_img {
    color: #fff;
    background: #3B3634;
}
.fixed .mob-vs-btn.edx_img {
    background: #fff;
    color: #000;
}
.fixed .onscrollvisible {
    display: block;
    height: auto !important;
}

.fixed .mob-vs-btn.edx_img {
    background: #fff;
    color: #000;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: 36px;
}

.getrecurit .mob-recruit-btn.text-left.orange-btn {
    font-size: 12px;
    padding: 0px 10px !important;
   
}
.mob-apply-btn {
   
    padding: 5px;
    
}
.mob-recruit-btn, .mob-recruit-btn-pending {
    
    padding: 10px 5px;
   
}
.collage-logo h2 {
    
    font-size: 15px;
}
.collage-apply p {
    font-size: 14px;
}
}