.about-container {
  width: 100%;
}

.about-container .bg-img {
  width: 100%;
  height: 100%;
  position: fixed;
  -webkit-filter: brightness(90%);
          filter: brightness(90%);
}

.about-container .row .about-inner-container {
  padding: 100px 120px 0;
  color: #fff;
  text-align: center;
  position: relative;
}

.about-container .row .about-inner-container .about-logo {
  margin-top: 20px;
}

.about-container .row .about-inner-container .about-logo img {
  width: 180px;
}

.about-container .row .about-inner-container .about-heading {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 40px;
  word-spacing: 3px;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.about-container .row .about-inner-container .about-blocks {
  background: #fff;
  padding: 35px 60px 25px;
  border-radius: 14px;
  -webkit-box-shadow: 0px 0px 5px 0px #efefef;
          box-shadow: 0px 0px 5px 0px #efefef;
  margin-bottom: 65px;
}

.about-container .row .about-inner-container .about-blocks p {
  color: #202020;
  font-size: 15px;
  line-height: 30px;
}

.about-container .row .about-inner-container .about-blocks .large-text {
  font-size: 17px;
  font-weight: 500;
}

.about-container .row .about-inner-container .about-blocks .plexuss-plus-success {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.about-container .row .about-inner-container .about-blocks .block-2-left-text {
  font-size: 20px;
  padding-left: 32px;
}

.about-container .row .about-inner-container .about-blocks .block-2-left-text p {
  font-family: 'Courier New' !important;
}

.about-container .row .about-inner-container .about-blocks .block-2-left-text p:nth-child(2) {
  margin-bottom: 0;
}

.about-container .row .about-inner-container .about-blocks .block-2-left-text p .bullet-one {
  margin-right: 16px;
}

.about-container .row .about-inner-container .about-blocks .block-2-left-text p .bullet-two {
  margin-right: 7px;
}

.about-container .row .about-inner-container .about-block-4 {
  padding-left: 80px;
}

.about-container .row .about-inner-container .about-block-4 p {
  font-family: 'Courier New' !important;
}

.about-container .row .about-inner-container .about-block-4 p:first-child {
  margin-bottom: 5px;
  font-weight: bold;
}

.about-container .row .about-inner-container .about-block-4 p:nth-child(2) {
  margin-bottom: 0;
}

.about-container .row .about-inner-container .about-block-4 p .bullet-one {
  margin-right: 16px;
}

.about-container .row .about-inner-container .about-block-4 p .bullet-two {
  margin-right: 7px;
}

.about-container .row .about-inner-container .about-blocks .green-small-text {
  color: #2AC56C;
  font-size: 16px;
  font-weight: 500;
}

.tos-block h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin-bottom: 20px;
}

.tos-block h3 {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  text-align: left;
  margin: 0 0 20px 27px;
  line-height: 30px;
}

.tos-block .left-text {
  margin-left: 27px;
}

.tos-block .left-text h3 {
  margin-left: 0;
}

.tos-block p .support-email {
  cursor: pointer;
  color: #2ba6cb;
}

.tos-block ul {
  color: #000;
  margin-left: 4%;
  margin-bottom: 20px;
}

.tos-block ul li {
  display: list-item;
  list-style-type: disc;
}

.tos-block ul li p {
  margin: 0;
}

.tos-block .address p {
  margin: 0;
}

@media only screen and (max-width: 1024px) {
  .about-container .row .about-inner-container .about-blocks {
    margin-bottom: 50px;
  }
}

@media only screen and (max-width: 767px) {
  .about-container .row .about-inner-container .about-logo {
    margin-bottom: 20px;
  }
  .about-container .row .about-inner-container {
    padding: 100px 8px 0;
  }
  .about-container .row .about-inner-container .about-blocks {
    padding: 35px 30px 25px;
  }
}
