#contact-us-wrapper {
  background: url("../../../images/b2b/bg-contactus.png") no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#contact-us-wrapper .sub-page-header {
  padding: 157px 0 20px;
}

#contact-us-wrapper .sub-page-header h1 {
  font-size: 37px;
  font-weight: 600;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.row .contact-form {
  margin: 23px 65px 60px;
  padding: 30px 30px 50px;
  background-color: #fff;
  border-radius: 18px 18px 18px 18px;
  -webkit-box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
}

.contact-form .header {
  padding: 5px 41px 0;
}

.contact-form .header .head-text {
  font-size: 23px;
  text-align: center;
  color: #000;
  font-weight: 500;
  margin-bottom: 27px;
}

.contact-form .header .content-text {
  font-size: 16px;
  color: #707070;
  text-align: center;
  margin-bottom: 20px;
}

.contact-form .content-text .solution-page-link {
  color: #2AC56C;
  display: inline-block;
  text-decoration: underline;
}

.contact-form .form {
  padding: 0 111px 25px;
}

.contact-form .form .row {
  margin-bottom: 20px;
}

.submit-btn {
  font-size: 22px;
  font-weight: 600;
  color: #fff;
  background: #2AC56C !important;
  border-radius: 7px;
  width: 100%;
}

.submit-btn:hover {
  background: #2AC56C !important;
}

.error {
  font-size: 13px;
}

.selectize-dropdown-content {
  cursor: pointer;
}

.check-field {
  position: relative;
}

.check-field i.fa {
  position: absolute;
  color: #2AC56C;
  top: 7px;
  right: 15px;
  display: none;
}

@media (max-width: 1022px) {
  .contact-form .form .row {
    margin-bottom: unset;
  }

  .contact-form .form .row:nth-child(4) {
    margin-bottom: 20px;
  }
}

@media all and (max-width: 767px){
  .row .contact-form{
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
  }
  .contact-form .header{
    padding: 10px 11px 0;
  }
  .contact-form .form{
    padding: 0 0 25px;
  }
}
