#footer-container {
  background: #fff;
  font-family: 'Open Sans', sans-serif;
  position: relative;
}

#footer-container .main-footer {
  width: 100%;
  border-bottom: 0.3px solid #e9e9e9;
  padding: 45px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#footer-container .main-footer .footer-slot {
  display: inline-block;
  float: right;
}

#footer-container .main-footer .footer-slot .slot-heading {
  font-size: 15px;
  margin-bottom: 20px;
  font-weight: bold;
}

#footer-container .main-footer .footer-logo-slot .footer-logo {
  margin-top: 3px;
  margin-bottom: 20px;
}

#footer-container .main-footer .footer-logo-slot .footer-logo img {
  width: 90%;
}

#footer-container .main-footer .footer-logo-slot .slot-text {
  font-size: 12px;
}

#footer-container .main-footer .footer-slot .slot-list .slot-list-item {
  font-size: 12px;
  margin-bottom: 4px;
  cursor: pointer;
}

#footer-container .main-footer .footer-slot .slot-list .slot-list-item a {
  color: #000;
}

#footer-container .main-footer .footer-slot .social-icon-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

#footer-container .main-footer .footer-slot .social-icon {
  background: #fff;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  padding: 7px;
}

#footer-container .main-footer .footer-slot .social-icon:hover {
  -webkit-transition: ease-in-out 0.3s;
  -o-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-box-shadow: 0 4px 2px 0px #efe7e7;
          box-shadow: 0 4px 2px 0px #efe7e7;
}

#footer-container .main-footer .footer-slot .social-icon:nth-child(2) {
  padding: 11px;
}

#footer-container .footer-bottom {
  padding: 20px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

#footer-container .footer-bottom .bottom-slot {
  width: 33%;
  font-weight: 200;
  font-size: 14px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer-container .footer-bottom .bottom-slot .mobile-app-img {
  display: inline-block;
  margin-right: 4%;
}

#footer-container .footer-bottom .bottom-slot .terms-and-policy {
  color: #000;
  text-transform: uppercase;
  display: inline-block;
}

#footer-container .footer-bottom .bottom-slot .terms-and-policy-pipe {
  display: inline;
  margin: 0 2px;
}

.align-center {
  width: 100%;
  text-align: center;
}

.align-right {
  width: 100%;
  text-align: right;
}

@media only screen and (min-width: 768px) and (max-width: 1280px) {
  #footer-container {
    padding: 0;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  #footer-container .main-footer {
    padding: 45px 0;
  }
  #footer-container .footer-bottom{
    padding: 20px 0;
  }
}

@media (max-width: 839px) {
  #footer-container .footer-bottom .bottom-slot .terms-and-policy-pipe {
    display: block;
    margin: 0 45px 0 0;
    text-align: right;
  }
}

@media only screen and (max-width: 767px) {
  #footer-container {
    display: none;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1300px) {
  #footer-container .main-footer {
    padding: 45px 50px;
  }

  #footer-container .footer-bottom{
    padding: 20px 50px;
  }
}
