._b2b-content-wrapper .home_container {
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.3))), url(../../images/b2b/51044212_6119460840519_1604496934498729984_n.png);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/b2b/51044212_6119460840519_1604496934498729984_n.png);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/b2b/51044212_6119460840519_1604496934498729984_n.png);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.3)), url(../../images/b2b/51044212_6119460840519_1604496934498729984_n.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: scroll;
  padding: 160px 80px;
  font-family: 'Open Sans';
  color: #fff;
}

._b2b-content-wrapper .home_container .first_heading {
  font-size: 54px;
  line-height: 65px;
  font-weight: bold;
}

._b2b-content-wrapper .home_container .second_heading {
  font-size: 28px;
  font-weight: 300;
  width: 50%;
  margin-top: 30px;
  margin-bottom: 73px;
}
._b2b-content-wrapper .home_container .engage_more {
  background: #2AC56C;
  border-radius: 4px;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: 600;
}

@media only screen and (max-width: 1203px) {
  ._b2b-content-wrapper .home_container {
    padding: 140px 50px ;
  }
}
@media only screen and (max-width: 1100px) {
  ._b2b-content-wrapper .home_container {
    padding: 140px 0 200px;
    height: 68%;
  }
}
@media only screen and (max-width: 1100px) {
  ._b2b-content-wrapper .home_container {
    height: 75%;
  }
}

@media only screen and (max-width: 767px) {
  ._b2b-content-wrapper .home_container {
    padding: 76px 30px;
    text-align: center;
    height: 100%;
    background-position: left;
  }

  ._b2b-content-wrapper .home_container .second_heading {
    width: 100%;
    font-size: 20px;
  }

  ._b2b-content-wrapper .home_container .first_heading {
    margin-top: 40px;
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 75px;
  }

  ._b2b-content-wrapper .home_container .first_heading .total_students {
    display: block;
    margin-bottom: 25px;
  }

  .home_container .btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .home_container .btn-container .engage_more {
    position: absolute;
    bottom: 4%;
    margin: 0;
  }
}

@media only screen and (max-width: 375px) {
  ._b2b-content-wrapper .home_container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media only screen and (max-width: 320px) {
  ._b2b-content-wrapper .home_container .first_heading {
    font-size: 22px;
    line-height: 30px;
  }

  ._b2b-content-wrapper .home_container .first_heading .total_students {
    margin-bottom: 15px;
  }
}
