.news-container {
  background: url("../../../images/b2b/banner-img.png") no-repeat 0 85%;
  background-size: cover;
  width: 100%;
  background-attachment: fixed;
  text-align: center;
  padding: 70px 0 245px;
}

.slick-dots {
  bottom: 15px !important;
}
.slick-dotted.slick-slider {
  width: 100%;
  margin: 0 auto 40px !important;
  position: relative;
  overflow: hidden;
}


.news-container .slick-initialized .slick-slide {
  position: relative !important;
  border-radius: 10px;
  overflow: hidden;
}
.slick-slide {
  margin: 0px 5px;
}
.slick-slide img {
  width: 100%;
}
.slick-prev:before,
.slick-next:before {
  color: black;
}
.slick-slide {
  -webkit-transition: all ease-in-out .3s;
  -o-transition: all ease-in-out .3s;
  transition: all ease-in-out .3s;
  opacity: .2;
}
.slick-active {
  opacity: .5;
}
.slick-current {
  opacity: 1;
}
.slick-dots li {
  height: 14px !important;
  width: 14px !important;
  margin: 0 2px !important;
}
.slick-dots li.slick-active {
  opacity: 1;
}
.slick-dots li.slick-active button{
  opacity: 1 !important;
  background: #fff !important;
}
.slick-dots li button {
  background: #afafaf !important;
  opacity: 0.2;
  height: 15px !important;
  width: 15px !important;
  border-radius: 100%;
}
.slick-dots li.slick-active button:before {
  color: #fff !important;
}
.slick-arrow {
  display: none !important;
}

.share-article-left-container {
  position: fixed;
  top: 20%;
  left: 18%;
  display: none;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.share-article-left-container .share-text {
  display: block;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #FFFFFF;
}

.share-article-left-container .share-social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin: 3px auto;
  margin-bottom: 5px;
  cursor: pointer;
}

.news-container-inner {
  padding: 85px 50px 0;
}

.news-container h1 {
  color: #fff;
  font-size: 37px;
  line-height: 42px;
  margin: 0 auto 50px;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: bold;
}

.news-carousel {
  margin-bottom: 30px;
  position: relative;
}

.news-carousel .headline-img {
  max-height: 532px;
  -webkit-filter: brightness(50%);
          filter: brightness(50%);
}

.news-container .caption {
  width: 100%;
  position: absolute;
  left: 0;
  top: 5%;
  padding: 0 60px;
  text-align: left;
  color: #fff;
}

.slider-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fa {
  font-family: "Font Awesome 5 Free" !important;
}

.title-caption {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}


.title-caption .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin: 2px 20px 0 0;
}

.title-caption span {
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.news-container .caption-inner {
  width: 67%;
  margin-top: 13%;
}

.news-container .caption-inner  h2{
  font-size: 43px;
  line-height: 49px;
  margin: 10px 0 16px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.news-container .caption-inner p {
  font-size: 16px;
  line-height: 21px;
  color: #fff;
}

.news-post {
  background-color: #fff;
  border-radius: 10px;
}

.news-post .news-post-img {
  max-height: 532px;
  width: 100%;
  display: block;
  border-radius: 10px 10px 0 0;
}

.news-post .news-post-content {
  padding: 20px 75px;
  border-top: 1px solid #ccc;
}

.news-post-content h2 {
  font-size: 40px;
  line-height: 43px;
  margin: 0 0 35px;
  font-weight: bold;
  color: #000;
  text-align: left;
}

.news-post-content p {
  font-size: 15px;
  line-height: 27px;
}

.news-post-content p:first-of-type {
  margin-top: 45px;
}

.news-post-content p:last-of-type {
  margin-bottom: 20px
}

.news-post-content .row {
  padding-left: 5px;
}

.wrapper {
  padding: 0
}

.wrapper .avatar {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  float: left;
  margin: 2px 20px 0 0;
}

.wrapper .source-name {
  color: #4D4D4D;
  font-size: 15px;
  font-weight: bold;
  float: left;
}

.wrapper .publish-date {
  color: #4D4D4D;
  font-size: 12px;
  font-weight: bold;
  float: left;
}

.share-article-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.share-article-container .share-text {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
  color: #4D4D4D;
}

.share-article-container .share-social {
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 5px;
  padding: 7px;
  -webkit-box-shadow: 0 3px 1px 1px #efe7e7;
          box-shadow: 0 3px 1px 1px #efe7e7;
}

.related-articles h3 {
  color: #FFFFFF;
  font-size: 18px;
  margin: 15px 0;
  font-weight: bold;
  text-transform: uppercase;
}

.news-block {
  width: 100%;
  margin: 12px 0 0;
}
.news-box {
  border-radius: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.40);
  box-shadow: 0px 3px 6px -3px rgba(0,0,0,0.40);
  margin-bottom: 16px;
  cursor: pointer;
}

.news-box .news-post-img {
  height: 199px;
  width: 100%;
}

.news-image {
  height: 200px;
  background: #ddd;
  width: 100%;
}
.news-content {
  background: #fff;
  padding: 30px 24px 30px;
  float: left;
  width: 100%;
  height: 226px;
}
.news-content h2 {
  font-size: 21px;
  font-weight: bold;
  line-height: 25px;
  margin: 0 0  7px;
  color: #000;
  text-align: left;
  max-height: 50px;
  overflow: hidden;
}
.news-content strong {
  font-size: 10px;
  line-height: 12px;
  display: block;
  margin: 0 0 10px;
  letter-spacing: 1px;
  text-align: left;
}
.news-content p {
  font-size: 14px;
  line-height: 20px;
  color: #7B8591;
  margin: 0 0 5px;
  word-break: break-word;
}


@media(max-width:767px ){
  .news-container {
    background-size: unset;
    padding: 70px 0 250px;
    background-position: -162px -437px;
  }
  .slick-dotted.slick-slider {
    width: 100%;
    height: auto;
  }
  .news-container .caption {
    width: 100%;
    padding: 0 30px;
  }
  .news-container .caption h2 {
    font-size: 30px;
    line-height: 40px;
  }
  .news-post-content h2{
    font-size: 24px;
    line-height: unset;
  }
  .news-container .caption-inner {
    width: 90%;
  }
}

@media all and (max-width: 1300px){
  .share-article-left-container{
    left: 2%;
  }
  .news-container{
    padding-bottom: 50px;
  }
}

@media (max-width: 804px) {
  .news-container .caption-inner {
    width: 100%;
  }
  .news-container .caption-inner h2 {
    font-size: 37px;
    line-height: 40px;
  }
}

@media all and (max-width: 767px){
  .news-container-inner{
    padding: 0;
  }
  .news-container-inner .row{
    padding: 0;
  }
  .news-post .news-post-content{
    padding: 20px;
  }
  .wrapper .avatar{
    margin-left: 10px;
  }
  .share-article-container{
    padding: 0;
  }
  .share-article-left-container{
    z-index: 1;
    display: none;
  }
  .news-container{
    padding-bottom: 50px;
  }
  .news-container h1{
    letter-spacing: unset;
  }
  .news-container h1 {
    font-size: 33px;
  }
  .caption-inner p {
    display: none;
  }
}
@media only screen and (min-width: 1300px) and (max-width: 1400px) {
  .share-article-left-container{
    left: 8%;
  }
}
@media only screen and (min-width: 1400px) and (max-width: 1700px) {
  .share-article-left-container{
    left: 10%;
  }
}
@media (max-width: 640px) {
  .news-box .news-post-img {
    height: unset;
  }
}
@media (max-width: 415px) {
  .news-container h1 {
    font-size: 30px;
  }
  .title-caption span {
    font-size: 13px;
  }
  .heart-icon {
    font-size: 25px;
  }
  .news-container .caption-inner {
    margin-top: 12%;
  }
  .news-container .caption-inner h2 {
    font-size: 27px;
    line-height: 30px;
  }
  .news-container .caption-inner p {
    font-size: 12px;
    line-height: 20px;
  }
  .news-container .caption-inner {
    margin-bottom: 10%;
  }
  .slick-dots {
    bottom: 8px !important;
  }
}
@media (max-width: 375px) {
  .news-container .caption {
    padding: 0 20px;
  }
  .title-caption .avatar {
    margin: 2px 12px 0 0;
  }
  .news-container .caption-inner {
    margin-top: 5%;
    margin-bottom: 13%;
  }
  .slick-dots {
    bottom: 4px !important;
  }
}
@media (max-width: 350px) {
  .news-container .caption-inner {
    margin-top: 0;
  }
  .news-container .caption-inner h2 {
    font-size: 20px;
  }
  .news-container .caption-inner p {
    line-height: 15px;
  }
}

@media all and (max-width: 320px){
  .wrapper .avatar{
    margin-left: 0;
    margin-right: 10px;
  }
  .share-article-container .share-text{
    display: none;
  }
}

@media (min-width: 500px) and (max-width: 1000px) {
  .news-post .news-post-img {
    height: 226px;
  }
}
