#our-solutions-wrapper {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url("../../images/b2b/roman-bozhko-251398-unsplash.png");
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/b2b/roman-bozhko-251398-unsplash.jpg");
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/b2b/roman-bozhko-251398-unsplash.jpg");
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url("../../images/b2b/roman-bozhko-251398-unsplash.jpg");
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 100%;
}

#our-solutions-wrapper .sub-page-head {
  padding: 50px 0;
}

#our-solutions-wrapper .sub-page-head h1 {
  color: #fff;
  font-size: 3vw;
  line-height: 50px;
  margin: 70px 0 0;
  text-align: center;
  font-weight: 600;
}

.row .imgs-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.row .imgs-container .img-parent {
  position: relative;
  cursor: pointer;
}

.row .imgs-container .img-parent .text-box {
  position: absolute;
  height: 100%;
  text-align: center;
  width: 100%;
}

.row .imgs-container .img-parent .text-box:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.row .imgs-container .img-parent .text-box h3 {
  display: inline-block;
  font-size: 2vw;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

@media (max-width: 767px) {
  #our-solutions-wrapper .sub-page-head h1 {
    font-size: 6vw;
    margin: 35px 0 0;
  }

  .row .imgs-container .img-parent .text-box h3 {
    font-size: 5vw;
  }

  .row .imgs-container .img-parent {
    margin: 15px;
    width: 260px;
  }

  .row .imgs-container {
    flex-direction: column;
  }

}

  @media (max-width: 450px) {
    #our-solutions-wrapper .sub-page-head h1 {
    font-size: 7vw;
    }
    .row .imgs-container .img-parent {
      margin: 15px;
      width: 180px;
    }

    .row .imgs-container .img-parent .text-box h3 {
    font-size: 6vw;
    }
}

  @media (max-width: 320px) {

    #our-solutions-wrapper .sub-page-head h1 {
      font-size: 7vw;
    }

    #our-solutions-wrapper .sub-page-head h1 {
      margin: 24px 0 0 ;
    }


    .row .imgs-container {
      top: 58%;
    }

}
