#recruit-wrapper {
  display: none;
  background-color: #f2f2f2;
}
#recruit-wrapper .header {
  position: relative;
}
#recruit-wrapper .header .bg-img {
  position: fixed;
  width: 100%;
  z-index: 0;
}
#recruit-wrapper .header .fg-img {
  width: 100%;
  position: relative;
}
#recruit-wrapper .header h1 {
  position: absolute;
  width: 100%;
  top: 60%;
  color: #fff;
  font-size: 37px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}
.our-box-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.our-solutions-block {
  padding: 0 50px;
  margin: -80px auto 0;
}
.our-solution-box {
  border-radius: 18px 18px 18px 18px;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  margin-bottom: 30px;
}
.recruit-box-icon-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.recruit-box-icon {
  background: #fff;
  width: 120px;
  height: 120px;
  border-radius: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: 0 4px 2px 0px #efe7e7;
  box-shadow: 0 4px 2px 0px #efe7e7;
  margin-top: 15px;
  padding: 23px;
}
.our-solution-text {
  padding: 0 39px 0 16px;
}
.our-solution-text h2{
  color: #202020;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 10px;
}

.our-solution-textarea p,
.our-solution-text p {
  font-size: 14px;
  line-height: 30px;
  color: #202020;
  margin: 0 0 0;
}
.our-solutions-block {
  padding: 0 34px;
  position: relative;
  z-index: 3;
}
.our-solution-textarea {
  padding: 0 140px;
}

@media (max-width: 1024px) {
  #recruit-wrapper .header h1 {
    font-size: 32px;
    letter-spacing: 0;
    top: 54%;
  }
  #recruit-wrapper .our-solutions-block {
    margin: -60px auto 0;
  }
}

@media (max-width: 912px) {
  .our-solution-textarea {
    padding: 0 65px;
  }
}

@media (max-width: 767px) {
  #recruit-wrapper .header {
    margin-top: 15px;
  }
  #recruit-wrapper .header .bg-img {
    position: fixed;
    width: 100%;
    z-index: 0;
  }
  #recruit-wrapper .header .fg-img {
    position: absolute;
  }
  #recruit-wrapper .header h1 {
    font-size: 26px;
    letter-spacing: 0;
    top: 135px;
  }
  #recruit-wrapper .our-solutions-block {
    margin: 210px auto 0 !important;
    padding: 0 15px;
  }
  #recruit-wrapper .our-solution-box {
    padding: 20px 40px;
    width: 100%;
  }
  #recruit-wrapper .our-solution-textarea {
    padding: 0;
  }
  #recruit-wrapper .recruit-box-icon {
    margin-bottom: 20px;
  }
}

@media (max-width: 678px) {
  #recruit-wrapper .our-solutions-block {
    margin: 184px auto 0 !important;
    padding: 0 15px;
  }
  #recruit-wrapper .header h1 {
    top: 118px;
  }
}

@media (max-width: 640px) {
  #recruit-wrapper .our-solution-text {
    padding: 0 !important;
  }
  .our-solution-text h2 {
    text-align: center;
  }
}

@media (max-width: 560px) {
  #recruit-wrapper .our-solutions-block {
    margin: 146px auto 0 !important;
    padding: 0 15px;
  }
  #recruit-wrapper .header h1 {
    top: 92px;
    font-size: 24px;
  }
}
@media (max-width: 450px) {
  #recruit-wrapper .header {
    margin-top: 32px !important;
  }
  #recruit-wrapper .header h1 {
    top: 65px;
    font-size: 23px;
  }
  #recruit-wrapper .our-solutions-block {
    margin: 114px auto 0 !important;
  }
}

@media (max-width: 415px) {
  #recruit-wrapper .header .bg-img {
    height: 173px;
  }
  #recruit-wrapper .header .fg-img {
    height: 173px;
  }
  #recruit-wrapper .header h1 {
    top: 85px;
  }
  #recruit-wrapper .our-solutions-block {
    margin: 132px auto 0 !important;
  }
  #recruit-wrapper .recruit-box-icon {
    height: 100px;
    width: 100px;
  }
}

@media (max-width: 320px) {
  #recruit-box .our-solution-box {
    padding: 20px 25px;
  }

  .our-solution-textarea p,
  .our-solution-text p {
    font-size: 12px !important;
  }

  .our-solution-text h2 {
    font-size: 15px !important;
  }
}
