#retain-wrapper {
  display: none;
  background-color: #f2f2f2;
}
#retain-wrapper .header {
  position: relative;
}
#retain-wrapper .header .bg-img {
  position: fixed;
  width: 100%;
  z-index: 0;
}
#retain-wrapper .header .fg-img {
  width: 100%;
  position: relative;
}
#retain-wrapper .header h1 {
  position: absolute;
  width: 100%;
  top: 60%;
  color: #fff;
  font-size: 37px;
  line-height: 50px;
  text-align: center;
  letter-spacing: 2px;
  font-weight: 600;
}
.retain-content-container {
  margin: -57px auto 0;
  padding: 0 34px;
}
.retain-box {
  border-radius: 18px 18px 18px 18px;
  width: 100%;
  padding: 30px 0;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.retain-box-icon-holder {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.retain-box-icon-holder img {
  width: 100px;
}

.retain-box-text {
  padding: 0 39px 0 16px;
}
.retain-box-text h2{
  color: #202020;
  font-size: 20px;
  line-height: 23px;
  margin: 0 0 10px;
  font-weight: 500;
}
.retain-textarea p,
.retain-box-text p {
  font-size: 14px;
  line-height: 30px;
  color: #202020;
  margin: 0 0 0;
}
.retain-block {
  padding: 0 !important;
  position: relative;
  z-index: 3;
}
.retain-textarea {
  padding: 0 140px;
  line-height: 30px;
  font-size: 14px;
}

.retain-feature {
  padding: 0 !important;
}

.retain-feature-block {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 0px #efefef;
          box-shadow: 0px 0px 5px 0px #efefef;
  border-radius: 15px;
  padding: 30px;
  margin-bottom: 30px;
  height: 300px;
}

.retain-box-head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.retain-box-head img {
  width: 60px;
}

.retain-box-content h3,
.retain-box-content p {
  color: #202020;
  text-align: center;
}

.retain-box-content h3 {
  font-size: 20px;
  font-weight: 500;
  margin: 16px 0 20px;
}

.retain-box-content p {
  font-size: 14px;
  line-height: 30px;
}

.retain-box:last-child {
  padding: 36px;
}

.retain-feature-top-img {
  display: none;
}

@media (max-width: 1024px) {
  #retain-wrapper .header {
    padding-top: 45px;
  }
  .retain-textarea {
    padding: 0 60px;
  }
  .retain-feature-block {
    height: 350px;
  }
}

@media (max-width: 848px) {
  .retain-feature-block {
    height: 400px;
  }
}

@media (max-width: 848px) {
  .retain-feature-block {
    height: 400px;
  }
}

@media (max-width: 768px) and (max-height: 1024px) {
  .retain-textarea {
    padding: 0 45px;
  }
  .retain-feature-block {
    padding: 35px 22px;
    height: 35%;
  }
}

@media(max-width:767px){
  .retain-block {
    padding: 0 15px;
  }
  .retain-textarea {
    padding:20px;
  }
  .sub-page-head {
    padding-top: 155px;
    padding-bottom: 153px;
  }
  .retain-box {
    padding: 20px;
    width: 100%;
  }
  .retain-box-icon {
    margin-bottom: 20px;
  }
  .retain-box-icon-holder {
    margin-bottom: 20px;
  }
  .retain-textarea {
    padding: 0;
  }
}

@media (max-width: 640px) {
  #retain-wrapper .header h1 {
    line-height: 0;
    font-size: 32px;
  }
  .retain-content-container {
    margin: -48px auto 0;
  }
  .retain-box {
    display: block;
  }
  .retain-box-text {
    text-align: center;
  }
  .retain-box-icon-holder img {
    height: 70px;
  }
  .retain-feature-top-img {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .retain-feature-right-img {
    display: none;
  }
  .retain-feature-block {
    height: auto;
  }
  .retain-box:first-child {
    padding: 15px 30px;
  }
}

@media (max-width: 450px) {
  #retain-wrapper .header h1 {
    top: 65%;
  }
  .retain-content-container {
    margin: -38px auto 0;
  }
}

@media (max-width: 415px) {
  #retain-wrapper .header .bg-img {
    height: 173px;
  }
  #retain-wrapper .header .fg-img {
    height: 173px;
  }
  .retain-content-container {
    padding: 0 10px;
  }
  .retain-box:first-child {
    padding: 15px 30px !important;
  }
  .retain-box:nth-child(2) {
    padding: 20px 5px;
  }
  .retain-box:last-child {
    padding: 20px 5px;
  }
}

@media (max-width: 320px) {
  .retain-textarea {
    font-size: 12px;
    line-height: 25px;
  }
  .retain-box-content h3 {
    font-size: 15px;
  }
  .retain-box-content h3 {
    font-size: 15px;
  }
  .retain-box-content p {
    font-size: 12px;
    line-height: 25px;
  }
  .retain-box-text {
    padding: 0;
  }
  .retain-box-text h2 {
    font-size: 15px;
  }
  .retain-box-text p {
    font-size: 12px;
    line-height: 25px;
  }
  .retain-box:last-child {
    padding: 20px;
  }
}
