.testimonials-container {
  width: 100%;
  text-align: center;
  padding: 0;
}

.testimonials-container .row .caption {
  font-family: 600;
  width: 100%;
  padding: 0 79px;
  color: #fff;
  margin-top: 100px;
  min-height: 100vh;
  text-align: center;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.slick-slide {
  margin: 0% !important;
}

.testimonials-container .row .caption .header{
  font-size: 37px;
  color: #fff;
  font-weight: 600;
}

.owl-carousel .owl-stage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.owl-carousel .owl-item img {
    width: auto;
    height: 100%;
}

.testimonials-container .row .caption .img-parent{
  width: 134px;
  height: 134px;
  border-radius: 50%;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
}

.testimonials-container .row .caption .img-parent .img1{
  width: 81px;
  height: 92px;
}

.testimonials-container .row .caption .img-parent .img2{
  width: 81px;
  height: 63px;
}

.testimonials-container .row .caption .img-parent .img3{
  width: 77px;
  height: 78px;
}

.testimonials-container .row .caption .img-parent .img4{
  width: 103px;
  height: 32px;
}

.testimonials-container .row .caption .img-parent .img5{
  width: 97px;
  height: 59px;
}

.testimonials-container .row .caption .img-parent .img6{
  width: 134px;
  height: 134px;
}

.testimonials-container .row .caption .img-parent .img7{
  width: 126px;
  height: 126px;
}

.testimonials-container .row .caption .sub-header{
  font-size: 25px;
  margin-top: 7px;
  font-weight: bold;
}

.testimonials-container .row .caption .text {
  font-style: italic;
  padding: 36px 79px;
  background: #fff;
  color: #202020;
  border-radius: 18px;
  margin-top: 31px;
  text-align: left;
  position: relative;
}

.testimonials-container .row .caption .text p {
  font-style: italic;
  line-height: 30px;
}

.testimonials-container .row .caption .text p:last-child {
  margin-bottom: 0;
}

.testimonials-container .row .caption .text .read-more {
  position: absolute;
  bottom: 7;
  left: 50;
  color: #000;
  font-weight: 600;
  display: none;
  cursor: pointer;
}

.testimonials-container .row .caption .footer{
  margin: 20px auto;
}

.testimonials-container .row .caption .footer .author-name {
  font-weight: 600;
}

.testimonials-container .row .caption .footer .author-from {
  font-style: italic;
}

.slick-dots {
  display: none;
}

.slick-initialized .slick-slide {
  position: relative !important;
  border-radius: 0;
  overflow: hidden;
  height: auto;
}

.slick-slide {
  margin: 0;
}

.testimonial-carousel  .fixed-img {
  position: fixed;
  width: 15% !important;
  -webkit-filter: brightness(75%);
          filter: brightness(75%);
}

.bg-img {
  background-size: cover;
  background-repeat: no-repeat;
}

.bg-img1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/joey-kyber-132520-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joey-kyber-132520-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joey-kyber-132520-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joey-kyber-132520-unsplash.jpg);
}

.bg-img2 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/stephen-oliver-475983-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/stephen-oliver-475983-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/stephen-oliver-475983-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/stephen-oliver-475983-unsplash.jpg);
}

.bg-img3 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/kait-herzog-8242-unsplash.png);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/kait-herzog-8242-unsplash.png);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/kait-herzog-8242-unsplash.png);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/kait-herzog-8242-unsplash.png);
}

.bg-img4 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/ruben-gutierrez-448653-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/ruben-gutierrez-448653-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/ruben-gutierrez-448653-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/ruben-gutierrez-448653-unsplash.jpg);
}

.bg-img5 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/joshua-ness-109309-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joshua-ness-109309-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joshua-ness-109309-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/joshua-ness-109309-unsplash.jpg);
}

.bg-img6 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/dayne-topkin-349389-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/dayne-topkin-349389-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/dayne-topkin-349389-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/dayne-topkin-349389-unsplash.jpg);
}

.bg-img7 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.3)), to(rgba(0, 0, 0, 0.5))), url(../../images/b2b/richard-price-595624-unsplash.jpg);
  background-image: -webkit-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/richard-price-595624-unsplash.jpg);
  background-image: -o-linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/richard-price-595624-unsplash.jpg);
  background-image: linear-gradient(rgba(93, 90, 90, 0.3), rgba(0, 0, 0, 0.5)), url(../../images/b2b/richard-price-595624-unsplash.jpg);
}

.slick-arrow {
  display: none !important;
}

.arrow {
  top: 45%;
  position: absolute;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  z-index: 10;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          -webkit-align-items: center;
          align-items: center;
  cursor: pointer;
}

.prev-arrow {
  left: 16%;
}

.next-arrow {
  right: 16%;
}

.prev-arrow img,
.next-arrow img {
  height: 15px !important;
}


.prev-arrow img, .next-arrow img {
  width: 10px;
}

.owl-pagination {
  z-index: 999;
}

@media (max-width: 1630px) {
  .prev-arrow {
    left: 10%;
  }

  .next-arrow {
    right: 10%;
  }
}

@media (max-width: 1385px) {
  .prev-arrow {
    left: 5%;
  }

  .next-arrow {
    right: 5%;
  }
}

@media (max-width: 1249px) {
  .prev-arrow {
    left: 2%;
  }

  .next-arrow {
    right: 2%;
  }
}

@media (max-width: 1024px) {
  .testimonials-container .row .caption {
    padding: 0 150px;
    height: auto;
  }

  .testimonials-container .row .caption .text {
    padding: 25px 55px;
  }

  .arrow {
    top: 33%;
  }

  .prev-arrow {
    left: 7%;
  }

  .next-arrow {
    right: 7%;
  }
}

@media (max-width: 768px) {
  .testimonials-container .row .caption {
    padding: 0 65px;
  }

  .testimonials-container .row .caption .text {
    padding: 25px 40px;
  }

  .arrow {
    top: 38%;
    height: 50px;
    width: 50px;
  }

  .prev-arrow {
    left: 1%;
  }

  .next-arrow {
    right: 1%;
  }
}

@media (max-width: 767px) {
  .testimonial-carousel .fixed-img {
    width: 100% !important;
  }
  .testimonials-container .row .caption {
    margin-top: 65px;
  }
  .testimonials-container .row .caption .header{
    font-size: 32px;
    margin-bottom: 12px;
  }
  .testimonials-container .row .caption .sub-header {
    font-size: 21px;
  }
  .testimonials-container .row .caption .footer .author-from {
    margin-bottom: 12px;
  }
  .testimonials-container .row .caption .img-parent {
    width: 100px;
    height: 100px;
  }
  .testimonials-container .row .caption .img-parent .img1 {
    width: 65px;
    height: 76px;
  }
  .testimonials-container .row .caption .img-parent .img2 {
    width: 72px;
    height: 55px;
  }
  .testimonials-container .row .caption .img-parent .img3 {
    width: 70px;
    height: 63px;
  }
  .testimonials-container .row .caption .img-parent .img4 {
    width: 81px;
    height: 30px;
  }
  .testimonials-container .row .caption .img-parent .img5 {
    width: 79px;
    height: 55px;
  }
  .testimonials-container .row .caption .img-parent .img6 {
    width: 100px;
    height: 100px;
  }
  .testimonials-container .row .caption .img-parent .img7 {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 415px) {
  .testimonials-container .row .caption {
    padding: 0 40px;
  }
  .arrow {
    top: 47%;
    height: 40px;
    width: 40px;
  }
  .prev-arrow {
    left: 1%;
  }
  .next-arrow {
    right: 1%;
  }
  .testimonials-container .row .caption .header {
    font-size: 27px;
  }
  .testimonials-container .row .caption .sub-header {
    font-size: 18px;
  }
  .testimonials-container .row .caption .text {
    padding: 24px 28px;
  }
  .testimonials-container .row .caption .text p {
    font-size: 14px;
    line-height: 25px;
  }
  .author-name {
    font-size: 15px;
  }
  .testimonials-container .row .caption .footer .author-from {
    font-size: 14px;
  }
}

@media (max-width: 375px) {
  .arrow {
    top: 45%;
  }
}

@media (max-width: 320px) {
  .testimonials-container .row .caption .header {
    font-size: 25px;
  }
  .testimonials-container .row .caption .sub-header {
    font-size: 16px;
  }
  .testimonials-container .row .caption .text {
    padding: 17px 25px;
  }
  .testimonials-container .row .caption .text p {
    font-size: 12px;
  }
  .author-name {
    font-size: 14px;
  }
  .testimonials-container .row .caption .footer .author-from {
    font-size: 12px;
  }
  .arrow {
    top: 57%;
  }
}
