#why-plexuss-wrapper {
  background-color: #f2f2f2;
  position: relative;
}

#why-plexuss-wrapper .bg-img {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(93, 90, 90, 0.5)), to(rgba(0, 0, 0, 0.5))), url(../../../images/b2b/rawpixel-653764-unsplash.png) no-repeat;
  background: -webkit-linear-gradient(rgba(93, 90, 90, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/b2b/rawpixel-653764-unsplash.png) no-repeat;
  background: -o-linear-gradient(rgba(93, 90, 90, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/b2b/rawpixel-653764-unsplash.png) no-repeat;
  background: linear-gradient(rgba(93, 90, 90, 0.5), rgba(0, 0, 0, 0.5)), url(../../../images/b2b/rawpixel-653764-unsplash.png) no-repeat;
  background-size: 100% 400px;
  top: 66px;
  position: fixed;
  height: 400px;
  width: 100%;
}

#why-plexuss-wrapper .sub-page-head {
  background: none;
  padding-top: 176px;
  padding-bottom: 103px;
  position: relative;
}

.sub-page-head h1 {
  color: #fff;
  font-size: 37px;
  line-height: 50px;
  margin: 70px 0 0;
  text-align: center;
  font-weight: 600;
}

.why-plexuss-page {
  padding: 0 0;
  margin: 0 65px 0;
  position: relative;
}

.why-plexuss-box-list {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: table;
  position: relative;
}

.why-plexuss-box-list:after {
  content: '';
  position: absolute;
  top: 40%;
  left: 44.5%;
  width: 105px;
  height: 105px;
  background: url("../../../images/b2b/noun_Question_309272_000000.svg") no-repeat center;
}
.why-plexuss-box-list li {
  display: inline-block;
  vertical-align: top;
  width: 46%;
  margin-right: 73px;
    margin-bottom: 73px;
}
.why-plexuss-box-list li:nth-child(2n+2){
  margin-right: 0;
}

.why-box {
  border-radius: 18px 18px 18px 18px;
  width: 100%;
  padding: 30px 25px;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  box-shadow: 0px 7px 71px -20px rgba(102,102,102,1);
  min-height: 360px;
}

.why-plexuss-page .head {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  margin: 0 0 30px;
}

.why-textarea {
  padding: 0;
  float: left;
  width: 100%;
}

.why-plexuss-page  .titlearea {
  font-size: 19px;
  line-height: 25px;
  color: #2AC56C;
}

.why-plexuss-page .icon-block {
  margin-right: 20px;
}

.why-plexuss-page .why-plexuss-text {
  padding: 0;
}

.why-textarea  p {
  font-size: 14px;
  line-height: 30px;
  color: #202020;
  margin: 0 0 0;
}

.why-textarea a{
  color: #202020;
  font-family: 'open_sansbold';
}

@media (max-width: 1024px) {
  .sub-page-head {
    padding-top: 149px;
    padding-bottom: 141px;
  }

  .sub-page-head h1 {
    margin: 120px 0 0;
  }

  .why-plexuss-page {
    margin: -40px auto 0;
  }
}

@media (max-width: 768px) {
  .sub-page-head {
    padding-bottom: 60px;
  }

  .sub-page-head h1 {
    margin: 50px 0 0;
  }

  .why-plexuss-page {
    margin: 15px auto 0;
  }

  .why-plexuss-box-list li {
    margin-right: 59px;
  }

  .why-plexuss-box-list:after {
    top: 44.5%;
  }
}

@media (max-width: 767px) {
  #why-plexuss-wrapper .sub-page-head {
    padding-top: 133px;
    padding-bottom: 103px;
  }

  .sub-page-head h1 {
    font-size: 33px;
    font-weight: 600;
    margin: 0;
  }

  #why-plexuss-wrapper .bg-img {
    top: 44px;
    height: 280px;
    background-size: cover;
    background-position: 48% 0;
    height: 222px;
    background-size: 136% 222px;
    background-position: 61% 0;
  }

  .why-plexuss-page {
    margin: -40px auto 0;
  }

  .why-plexuss-box-list:after {
    display: none;
  }

  .why-plexuss-box-list li {
    margin-right: 0;
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 550px) {
  .why-box {
    padding: 20px 25px;
  }

  .why-box .head {
    margin: 0 0 20px;
  }

  .why-plexuss-page .titlearea {
    font-size: 17px;
    line-height: 23px;
  }
}

@media (max-width: 320px) {
  .why-plexuss-page .titlearea {
    font-size: 15px;
  }
}
