body#sales-email-reporting{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding-top: 2.5em;
    background-color: #434343;
    height: auto;
}

/* navbar style */

nav {
    background-color: #000000;
    overflow: hidden;
    padding: 8px;
    width:100%;
    z-index:5;
    position:fixed;
    top:0;
}
nav a {
    color: #ffffff;
}
.publisher-logo{
float:right;
}
nav a:visited, nav a:hover {
    color: #ffffff;
}
.navWide {
    display: block;
    margin: 0 auto;
}
.wideDiv {
}
.navWide a {
    text-decoration: none;
    display: inline-block;
}

.hamburger-img{

width:24px;
heigth: auto;
cursor: pointer;

}
.menu-expand{
position: fixed;
background: #424242;
width: 20%;
top: 0;
left: 0;
height: 100%;
z-index: 8;
color: #fff;
padding:10px;
min-width:200px
}
.menu-expand-ul{
padding: 10px 0 0 30px;
color: white;
}
.menu-expand-ul li{
padding: 8px 0px;
cursor: pointer;
color:#1fc754;
}
.menu-overlay{
background: rgba(0,0,0,0.30);
height: 100%;
width: 100%;
position: fixed;
}
.menu-heading{
font-size: 22px;
padding-left: 10px;
}
.close-menu{
width:20px;
margin:6px 12px 12px 12px;
cursor:pointer;
}
.page-title{
color: #fff;
font-size: 18px;
padding-left: 10px;
}

.plex_logo_resize {
    width: 125px !important;
    height: 20px !important;
}

.row{
  max-width: 100% !important;
}

.top-bar .top-bar-section ul li > a {
    font-family: 'Open Sans', 'Century Gothic';
    font-weight: 600;
    font-size: 14px !important;
    /* letter-spacing: 0.3px; */
    padding: 0 5px !important;
}

#sales-top-bar .top-bar-section.sales-topbar-section > ul li a{
  padding: 0 5px;
}

.invisibile-div{
    visibility: hidden;
    height: 50px;
    width: 10em;
}

/* Topnav bar */
.top-bar{
    background-color: #484848 !important;
}

.loading-spinner{
    margin: auto;
}

#topnavsearch .top_search_txt{
    background-color: #F2F2F2;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#topnavsearch .go-btn{
    background-color: black;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

/* Header */
.admin-reporting-header{
    display: flex;
    justify-content: space-between;
    background-color: #333333;
    /*margin-top: -1em;*/
    color: #fff;
    color: #CECECE;
    padding: 2.5em;
}

.admin-reporting-header .containerHeader{
    display: inline-grid;
    align-items: center;
}

.admin-reporting-header .containerHeader h3{
    color: #CECECE;
    margin-right: 1em;
}

.admin-reporting-header .containerHeader .auto-reporting-button{
    text-decoration: underline;
    color: #CECECE;
    cursor: pointer;
    font-size: 14pt;
    transition: opacity 0.5s ease-out;
    -moz-transition: opacity 0.5s ease-out;
    -webkit-transition: opacity 0.5s ease-out;
    -o-transition: opacity 0.5s ease-out;

    &:hover{
        opacity: 0.8;
    }
}

.export-report-btn{
    opacity: 0.5;

    &.active{
        opacity: 1;
        transition: opacity 0.5s ease-out;
        -moz-transition: opacity 0.5s ease-out;
        -webkit-transition: opacity 0.5s ease-out;
        -o-transition: opacity 0.5s ease-out;

        &:hover{
            cursor: pointer;
            opacity: 0.7;
        }
    }
}

.admin-reporting-header .right-side-container{
    display: block;
}

/***/

.reporting-wrapper .sort-icon {
    background: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/sort-icon-white.png);
    width: 8px;
    height: 11px;
    display: inline-block;
    margin-right: 0.2em;
    cursor: pointer;
}

.reporting-wrapper table{
    border: 0;
    width: 100%;
}

.reporting-wrapper table .green{
    color: #65D193;
    font-weight: bold;
    text-decoration: underline;
}

.reporting-wrapper table .red{
    color: #C9462E;
    font-weight: bold;
    text-decoration: underline;
}

.reporting-wrapper table tr:nth-child(odd){
}

.reporting-wrapper table tr:nth-child(even){
    background-color: #F0F0F0;
}

.reporting-wrapper table tr:not(:first-child){
    height: 3em;
    border-bottom: 2px solid #E8E8E8;
}

.reporting-wrapper table th{
    background-color: #000;
    color: #CECECE;
}

.reporting-wrapper table th,
.reporting-wrapper table td{
    text-align: left;
}

.reporting-wrapper table .export-report-btn{
    display: flex;
    color: gray;
}

.reporting-wrapper table .export-report-btn.active{
    cursor: pointer;
    color: #fff;
}

.export-report-btn{
    margin-left: 0.5em;
    margin-top: 0.25em;
    display: flex;
}

.export-report-btn .export-text{
    font-size: 16px;
    margin-left: 5px;
}

.export-icon{
    background: url(/images/agency/dash-icons.png) -533px -17px;
    width: 20px;
    height: 23px;
    transform: scale(0.8);
}

.reporting-wrapper table .export-report-btn .export-text{
    margin-top: 2px;
    margin-left: 5px;
}

.upperDiv {
  text-align: center;
}

.upperDiv ul li {
    margin-left: 5px;
    margin-bottom: -5px;
}

.upperDiv a {
    float: right;
    width: 97px;
    padding: 5px;
    background: #fff;
    color: #31302ede;
    font-size: 13px;
    font-weight: 500;
    border: 2px solid white;
    cursor: pointer;
    border-radius: 3px;
    margin-left: 5px;
}

.upperDiv a:hover {
    background: #43c56b;
    border: 2px solid #43c56b;
    color: white;
}

.upperDiv a:focus {
    background: #43c56b;
    border: 2px solid #43c56b;
    color: white;
}

#date-range-picker-container{
  height: 120px;
  width: 567px;
}

form ul{
 display: inline-flex;
}

button#email_template_fetch{
    padding-top:10px; 
    padding-bottom:10px; 
    background-color: #00C273; 
    color: #fff; 
    top: 10px;
    height: 37px;
    border-radius: 3px;  
}
button#email_template_fetch:hover{
    background-color: #00C273;
}

#start_date, #end_date{
    border: 0px;
    text-transform: uppercase;
    padding: 0px;
    border-radius: 3px;
    margin-top: 10px !important;
    text-align: -webkit-right;
}

input[type="date"]::-webkit-inner-spin-button, 
input[type="date"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#searchTemplate{
  margin: 0px;
  border-radius: 3px; 
}

li.select2-results__option {
    font-size: 80%;
    font-weight: 600;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 99999;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 75%; /* Could be more or less, depending on screen size */
    text-align: center;
}
/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#send_test{
    border: 1px solid green;
    padding: 8px 12px;
    font-weight: 600;
    color: white;
    border-radius: 4px;
    background: #309750;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B4" 
}
/*\25BE*/
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }

thead#myHeader {
    z-index: 999;
}

.select2-container {  
    width: 100% !important;
}

#tableDiv{
    overflow-x: auto;
}

select#category_filter {
    margin: 0px;
    border-radius: 3px;
}

/*.select2-container--default .select2-selection--single {
    background-color: transparent !important;
    border: none !important;
}*/

@media only screen and (max-width:768px){
    
    #sales-email-reporting .publisher-menu-btn.expanded {
        height: auto;
        padding: 15px 7px 7px;
        border: none;
        box-shadow: 2px 2px 10px 1px rgba(0,0,0,0.6);
        bottom: 40% !important;
        left: 10% !important;
        width: 283px !important;
        border-radius: 3px !important;
    }
}
@media only screen and (max-width:768px){
    #sales-email-reporting .publisher-menu-btn.expanded {
        width: 256px !important;
    }
}
@media only screen and (max-width: 667px){
    .admin-reporting-header {
        display: flow-root;
        padding: 1.5em;
        text-align: -webkit-center;
    }
    div#exportDiv {
        display: inline-block;
    }
}
@media only screen and (max-width: 600px){
    .upperDiv a{
        width: 94px;
    }
    #searchTemplate {
        font-size: 11px;
    }
}
@media only screen and (max-width: 450px){
    .admin-reporting-header .right-side-container {
        display: inline-block;
    }
    .admin-reporting-header{
        display: block;
    }
    .upperDiv a {
        width: 70px;
        font-size: 10px;
        font-weight: 700;
    }
    #start_date, #end_date {
        font-size: 10px;
    }
    button#email_template_fetch {
        font-size: 13px;
    }
}
@media only screen and (max-width: 375px){
    .admin-reporting-header .right-side-container {
        display: inline-flex;
    }
    form ul {
        display: inline-grid;
    }
    div#exportDiv {
        margin-top: 10px;
        display: inline-grid;
        width: 100%;
    }
}