body {
     color: #797979;
     font-size: 18px;
     line-height: 21px;
     margin: 0 auto;
     font-family: "Open Sans" !important;
}
.carousel-wrap {
    width: 1000px;
    margin: auto;
    position: relative;
  }
  .owl-carousel .owl-nav{
    overflow: hidden;
    height: 0px;
  }
 
  .owl-theme .owl-dots .owl-dot.active span, 
  .owl-theme .owl-dots .owl-dot:hover span {
      background: #2caae1;
  }
 
 
  .owl-carousel .item {
      text-align: center;
  }
  .owl-carousel .nav-btn{
      height: 47px;
      position: absolute;
      width: 26px;
      cursor: pointer;
      top: 185px !important;
  }
 
  .owl-carousel .owl-prev.disabled,
  .owl-carousel .owl-next.disabled{
    pointer-events: none;
    opacity: 0.2;
  }
 
  .owl-carousel .prev-slide{
      left: -22px;
  }
  .owl-carousel .next-slide{
      right: -24px;
  }
  .owl-carousel .prev-slide:hover{
     background-position: 0px -53px;
  }
  .owl-carousel .next-slide:hover{
    background-position: -24px -53px;
  }
  .nav-btn.prev-slide, .nav-btn.next-slide{
    margin: 0 !important;
    padding: 0 !important;
    padding-top: 3px !important;
    width: 80px !important;
    height: 80px !important;
    border-radius: 100% !important;
    background: white !important;
    border: 1px gray solid !important;
    color: gray !important;
    font-size: 70px !important;
    opacity: 1 !important;
  }
@media only screen and (min-width: 41em){
    div.owl-controls{
        display: block !important;
    }
}
div.owl-controls{
    display: block !important;
}
.owl-pagination{
    display: none !important;
}
.comments-block{
    background-color: #eaeaea;
}
.button{
    font-family: "Open Sans" !important;
}
.checkmark-bottom-text{
    text-align: center;
    font-size: 12px;
    letter-spacing: 0px;
    padding: 20px 10px;
    color: #797979;
    font-family: "Open Sans";
}
.green-color{
    color: #2ac56c !important;
}
 .banner {
     background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url('images/Header.png')center no-repeat;
     width: 100%;
     background-size: cover;
     padding-top: 70px;
     padding-bottom: 70px;
     text-align: center;
     position: relative;
}
 .banner-caption {
     position: absolute;
     width: 50%;
     text-align: left;
}
 .banner h1{
    padding-bottom: 5px;
     color: #ffffff;
     font-size: 40px;
     line-height: 45px;
     letter-spacing: 2px;
     text-align: left;
      font-family: "Open Sans" !important;
    font-weight: bold;
     font-weight: 800;
}
 .banner h3{
     color: #ffffff;
     font-size: 30px;
     margin: 0;
    font-family: "Open Sans" !important;
    font-weight: bold;
}
 .one-on-one-btn {
     border-radius: 10px;
     background-color: #FF5C26 !important;
     font-size: 24px;
     margin-top: 40px;
}
.button:hover{
    background-color: #ef430a !important;
}
.question-btn:hover{
    color: #fff !important;
    border: 3px solid #ef430a;
}
.promise-btn:hover{
    border: 3px solid #ef430a;
}
.premium-btn {
    border-radius: 10px;
    background-color: #FF5C26 !important;
    font-size: 24px;
    margin-top: 40px;
}
 .custom-btn {
     border-radius: 5px;
     background-color: #FF5C26 !important;
     font-size: 20px;
     margin-top: 40px;
     line-height: 27px;
     margin: 0
}
.visa-custom-btn {
    width: 95%;
}
 .one-on-one-block {
     background: #fff;
     float: left;
     width: 100%;
     padding: 58px 0 44px;
}
.one-on-one-block .ono-on-one-header{
    font-weight: 700;
    font-size: 36px;
    font-family: Open Sans;
    color: #4e4e4e;
}
 p {
     color: #797979 !important;
     font-size: 18px !important;
     line-height: 31px !important;
     margin: 0 0 12px !important;
     text-align: left !important;
}
.post {
     padding: 66px 68px 44px;
     background: #fff;
     margin: 0 auto 46px;
     overflow: hidden;
     border-radius: 7px;
}
 .post-textarea {
     padding-right: 78px;
}
 .post-textarea.post-left-text {
     padding-left: 78px;
     padding-right: 0;
}
 .post h3 {
     color: #4e4e4e !important;
     margin: 0 0 44px !important;
     font-size: 30px !important;
     line-height: 30px !important;
     font-weight: 700;
     text-align: center;
}
 .post p {
     margin: 0 0 15px !important;
}
 .study-abroad-block {
     background: url('images/Background_for_checklist.jpg')center no-repeat;
     width: 100%;
     background-size: cover;
     padding: 54px 101px;
}
 .study-abroad-block h1 {
     font-size: 43px;
     line-height: 47px;
     margin: 0;
     color: #fff;
     text-align: center;
     font-family: "Open Sans";
     font-weight: 700;
}
 .study-abroad-block h3 {
     color: #fff ;
     margin: 0 0 24px;
     font-size: 24px;
     line-height: 41px;
     text-align: center;
     font-family: "Open Sans";
}
.image-holder.visa-image{
    position: relative;
}
.image-holder .guarantee-image{
    position: absolute;
    top: 27%;
    left: 35%;
}
.image-holder .guarantee-image img{
    width: 150px;
}
 .premium-promise-list {
     margin: 0;
     list-style: none;
     padding: 40px 0 0 46px;
     overflow: hidden;
}
 .premium-promise-list li{
     float: left;
     width: 100%;
}
 .post-area {
     background: #ebebeb;
     padding-top: 58px;
     float: left;
     width: 100%;
}
 .promise-tick {
    float: left;
    margin-top: 22px;
    width: 3.5%;  
}
 .promise-text{
     color: white !important;
     display: inline-block !important;
     font-size: 23px !important;
     padding-left: 15px !important;
     margin-top: 22px !important;
     vertical-align: middle !important;
     margin-bottom: 0 !important;
     font-family: "Open Sans" !important;
     width: 96%;
     font-style: italic;
}
 .students-head {
     padding: 58px;
}
 .students-head h1 {
     color: #797979;
     font-size: 40px;
     line-height: 45px;
}
 .students-head h3 {
     color: #797979 ;
     font-size: 30px;
     line-height: 35px;
     margin: 0 0 39px;
}
 .card-style{
     width: 100%;
     float: left;
     margin-bottom: 30px;
     text-align: center;
}
 .card-style p {
     font-size: 24px !important;
     line-height: 35px !important;
     color: #797979 !important;
     font-family: Garamond, Baskerville, "Baskerville Old Face";
}
 .card-text-section {
     float: left;
     width: 100%;
     padding: 55px 55px 55px;
}
.card-text-section p{
    font-family: "Open Sans" !important;
}
 .user-block {
     display: table;
     width: 100%;
     padding: 0 17px 12px 48px;
     font-family: "Open Sans" !important;
}
 .user-block .image-frame {
     position: relative;
     text-align: right;
     margin-top: -55px;
     overflow: hidden;
}
 .user-block .user-image {
     width: 117px;
     height: 117px;
     border-radius: 100%;
     position: relative;
     float: right;
}
 .user-block .user-image img {
     display: block;
     margin: 0 auto;
     max-width: 100%;
     width: 117px;
     height: 117px;
     border-radius: 100%;
     overflow: hidden;
}
 .user-block .flag-image {
     width: 46px;
     height: 46px;
     position: absolute;
     bottom: 17px;
     border-radius: 100%;
     left: -17px;
}
 .user-block .flag-image img {
     width: 46px;
     height: 46px;
     overflow: hidden;
     border-radius: 100%;
}
 .info-block {
     text-align: center !important;
     font-weight: 400;
}
 .info-head {
     float: left;
     width: 100%;
 }
 .info-block .title{
     color: #2ac56c;
     font-size: 18px;
     line-height: 21px;
     font-weight: bold;
     display: inline-block;
     margin: 0 0 4px;
     text-transform: capitalize;
}
 .info-block .country-name {
     display: block;
     margin: 0 0 0;
     font-size: 14px;
     color: #797979;
     line-height: 17px;
}
 .info-block p {
     font-size: 14px !important;
     color: #797979 !important;
     line-height: 17px !important;
     font-family: open sans;
}
 .views-address-text{
     color: rgb(97, 97, 97);
     font-size: 18px;
     font-family: Georgia, serif;
     text-align: left !important;
}
 .footer-area {
     float: left;
     width: 100%;
     padding: 100px 0;
     background-color: #eaeaea;
}
 .footer-area h1 {
     color: #797979;
     font-size: 40px;
     line-height: 47px;
     margin: 0 0 56px;
}
 .btn-area {
     display: table;
     width: 100%;
     margin: 0 0 20px;
}
 .promise-btn{
     background-color: #FF5C26;
     margin-right: 15px;
     border: 3px solid  #FF5C26;
}
 .upgrade-btn{
     border: 3px solid  #FF5C26;
}
 .question-btn{
     color: #ff6e3a !important;
     background-color: white !important;
     border: 3px solid #ff6e3a;
}
 .support-btn {
    padding: 1rem .4rem;
}
 .image-holder.mobile-image {
     display: none;
}
.card-dimensions-holder {
    background-color: #fff;
    display: table;
    width: 100%;
}
.card-dimensions-holder .card-dimensions {
    position: relative;
    padding-left: 0.4em;
    padding-right: 0.4em;
    width: 100%;
    float: none;
    display: inline-block;
    vertical-align: top;
}
.card-dimensions-holder .card-dimensions:nth-child(2n+2) {
    margin-right: 0;
}
.card-dimensions-holder .card-dimensions:nth-child(2n+2) .card-style{
    float: right;
}

#footer {
    background: #000;
    min-height: 74px;
    float: left;
    width: 100%;
}

.copyright {
    font-size: 10px;
    color: white;
}

#footer img {
    width: 33px;
    height: 46px;
    margin-top: 16px;
    display: inline-block;
    vertical-align: bottom;
}

#footer span {
    display: inline-block;
}
#footer span a {
    font-size: 10px;
}

.backToTop{
    text-align: center;
    background-color: transparent;
    position: fixed;
    width: 100%;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    left: 91%;
    width: 150px;
    display: none;
    bottom: 78px;
    z-index: 10;
    cursor: pointer;
}

.backToTop a{
    text-decoration: none;
    color: #fff;
}

.backToTop span{
    padding: 0.35em 1em;
}
.profile-image2{
    width: 30px;
    height: 21px;
}
.user-block1{
    padding-top: 40px;
}
.image-frame1{
    text-align: right;
}
.user-info1{
    text-align: left;
    margin-top: 17px;
    line-height: 30px;
}

.fulfill-block {
    padding: 0 105px;
}

.premium-general-promise {
    font-style: italic;
    border-radius: 7px;
}

.students-head-premium-general h1 {
    color: #4a4949 !important;
    font-size: 40px;
    line-height: 45px;
    font-weight: 700 !important;
    font-family: "Open Sans" !important;
}

.premium-general-card p{
    padding: 0px 60px 0px 60px;
    font-size: 18px !important;
    font-style: italic;
} 
.owl-theme .owl-controls .owl-buttons div{
    opacity: .8;
}
.card-dimensions-holder{
    border-radius: 7px;
}
@media (max-width: 40em){
    .backToTop{
        width: 20%;
        left: 85%;
        margin: auto;
        background-color: transparent;
        color: #797979;
        text-align: left;
        border-radius: 0;
        position: fixed;
        padding: 0.5em 0;
    }
}

@media (min-width: 41em){
    .backToTop{
        width: 20%;
        left: 92%;
        margin: auto;
        background-color: transparent;
        color: #797979;
        text-align: left;
        border-radius: 0;
        position: fixed;
        padding: 0.5em 0;
    }
}
.profile-image1{
    width: 15%;
}
.international-logo{
    text-align: center;
    margin-top: 50px;
}
.international-logo img{
    width: 115px;
}
 @media (max-width: 1025px){
     .image-holder {
         margin: 20px auto;
    }
     .image-holder img {
         display: block;
         margin: 0 auto;
         width: 100%;
         height: 100%;
    }
     .card-style{
         margin-bottom: 20px;
    }
}

@media all and (max-width: 1300px){
    .promise-tick {
        float: left;
        margin-top: 20px;
        width: 4%;  
    }
    .one-on-one-block {
         padding: 40px 30px;
    }
     .banner-caption {
        width: 58%;
        padding-left: 2%;
    }
     .banner h1{
        padding-bottom: 0px;
        line-height: 40px;
        font-size: 28px;
    }
     .banner h3{
        font-size: 24px;
    }
    .premium-btn {
        margin-right: 2%;
    }
    .post-textarea {
        padding-right: 0;
    }
    .card-dimensions-holder {
        width: auto;
        margin: 0 auto 0;
    }
    .card-dimensions-holder .card-dimensions {
        width: auto;
        display: block;
    }
}
 @media all and (max-width: 768px){
    .fulfill-block {
        padding: 0;
    }
    .visa-custom-btn{
        width: 100%;
    }
    .image-holder .guarantee-image{
        top: 21%;
        left: 31%;
    }
    .premium-general-card p{
        padding:0;
    } 

    .owl-carousel .next-slide{
        right: -11px;
    }
    .owl-carousel .prev-slide{
        left: -13px;
    }
     .nav-btn.prev-slide, .nav-btn.next-slide{
        width: 50px !important;
        height: 50px !important;
        font-size: 40px !important;
      }
    .one-on-one-block .ono-on-one-header{
        font-size: 21px;
    }
    .checkmark-bottom-text{
        padding: 10px 10px;
    }
    .profile-image1{
        width: 70%;
    }
    .user-info1{
        margin-top: 0;
    }
    .small-12 {
        width: 100%;
    }
    .info-block{
        margin-top: 0;
    }
    .card-dimensions-holder .card-dimensions {
        float: left;
        display: block;
        margin-right: 0;
        width: 100%;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .card-dimensions-holder .card-dimensions:nth-child(2n+2) {
        margin-right: 0;
    }
    .card-dimensions-holder .card-dimensions:nth-child(2n+2) .card-style{
        float: right;
    }
     .banner {
         height: auto;
         padding-top: 0;
         text-align: center;
         display: flex;
         align-items: center;
         justify-content: center;
         min-height: 40vh;
    }
     .banner-caption {
         position: inherit;
         bottom: 0;
         left: 0;
         width: 100%;
         margin: 0 auto;
         padding: 0 10px;
         display: inline-block;
         text-align: center;
         margin-top: 80px;
    }
     .banner h1 {
         font-size: 20px;
         line-height: 27px;
         text-align: center;
    }
     .banner h3 {
         color: #ffffff;
         font-size: 18px;
         margin: 0;
         line-height: 21px;
    }
     .one-on-one-block {
         padding: 20px 30px;
         overflow: hidden;
    }
     p {
         font-size: 16px !important;
         line-height: 24px !important;
         margin: 0 0 9px !important;
    }
     .mob-bg {
         background: #eeeeee;
         margin: 0 -999px 7px!important;
         padding: 20px 999px;
    }
     .one-on-one-btn {
         font-size: 16px;
         line-height: 21px;
         margin-top: 20px;
         display: block;
    }
    .premium-btn {
         font-size: 16px;
         line-height: 21px;
         margin: 20px 37px 0;
         display: block;
    }
     .post-area {
         padding-top: 20px;
         background: #fff;
    }
     .post {
         padding: 30px 0 20px;
         background: #ebebeb;
         margin: 0 0 20px;
    }
     .post h3 {
         margin: 0 0 15px;
         font-size: 18px;
         line-height: 21px;
    }
     .custom-btn {
         font-size: 16px;
         line-height: 21px;
         display: block;
         margin: 20px 0;
         padding-right: 1rem;
         padding-left: 1rem;
    }
     .post-textarea {
         padding: 0 0;
    }
     .study-abroad-block {
         padding: 58px 30px 20px;
    }
     .mobile-text-p {
         padding: 0 30px;
    }
     .post h3 {
         text-align: center;
    }
     .study-abroad-block h1{
         font-size: 24px;
         line-height: 27px;
         margin: 0 0 20px;
    }
     .study-abroad-block h3 {
         font-size: 20px;
         line-height: 24px;
         margin: 0 0 20px;
    }
     .premium-promise-list {
         padding: 20px 0;
    }
     .premium-promise-list li {
         float: none;
         display: flex;
         margin-bottom: 20px;
    }
     .promise-tick {
         margin-top: 0;
         width: 7% !important;
    }
     .promise-text {
         margin-top: 0 !important;
         font-size: 18px !important;
         line-height: 21px !important;
    }
     .students-head {
         padding: 30px;
    }
     .students-head h1 {
         font-size: 24px;
         line-height: 27px;
         margin: 0 0 20px;
    }
     .students-head h3 {
         font-size: 20px;
         line-height: 24px;
         margin: 0 0 20px;
    }
     .card-dimensions {
         padding: 0;
         margin-bottom: 20px;
    }
     .card-style {
         width: 100%;
         height: 515px
    }
     .card-style p {
         font-size: 18px !important;
         line-height: 25px !important;
    }
     .user-block {
         padding: 0 17px 12px 30px;
    }
     .card-text-section {
         padding: 30px;
         min-height: 320px;
    }
     .footer-area {
         padding: 50px 30px;
    }
     .footer-area h1 {
         font-size: 24px;
         line-height: 27px;
         margin: 0 0 30px;
    }
     .comments-inner {
         padding: 0 25px;
    }
     .image-holder {
         display: none;
    }
     .image-holder.mobile-image {
         display: block;
         margin: 20px auto;
    }
     .post-textarea.post-left-text {
         padding-left: 0;
    }
     #footer img {
        margin-left: 26px;
    }
    .info-block {
         margin-top: -25px;
    }
    .info-block p {
        font-size: 14px !important;
        color: #797979 !important;
        line-height: 17px !important;
    }
    .user-block .user-image {
         width: 100px;
         height: 100px;
    }
     .user-block .user-image img {
        width: 100px;
        height: 100px;
    }
    .user-block .flag-image {
         height: 43px;
         width: 43px;
         bottom: 2px;
         left: -14px;
    }
     .user-block .flag-image img {
         width: 43px;
         height: 43px;
    }
    .info-block .title {
        width: 57%;
    }
}
@media (max-width: 360px) {
    .banner h1{
        font-size: 17px;
    }
    .info-block .title {
        width: 47%;
    }
    .card-text-section {
        min-height: 400px;
    }
    .card-style {
        height: 570px;
    }
    .premium-btn, .one-on-one-btn {
        margin-bottom: 15px;
        padding: 1rem .5rem;
    }
    .custom-btn {
        font-size: 14px;
        padding: 1rem .5rem;
    }
}
