  /* The Modal (background) */
  .modal {
      display: none; /* Hidden by default */
      position: fixed; /* Stay in place */
      z-index: 1; /* Sit on top */
      left: 0;
      top: 0;
      width: 100%; /* Full width */
      height: 100%; /* Full height */
      overflow: auto; /* Enable scroll if needed */
      background-color: rgb(0,0,0); /* Fallback color */
      background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
      z-index: 99999;
      /*animation: fadeIn 1s cubic-bezier(0.17, 0.84, 0.44, 1.02) forwards;*/
  }
  /* Modal Content/Box */
  .modal-content {
      background-color: #fefefe;
      margin: 10% auto; /* 15% from the top and centered */
      padding: 35px;
      border: 1px solid #888;
      border-radius: 15px;
      color: #3c3232;
  }
  /* The Close Button */
  .close {
      color: #aaa;
      float: right;
      font-size: 28px;
      font-weight: bold;
  }
  .close:hover,
  .close:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
  }
  .got-it{
    margin: 30px auto;
    font-family: inherit;
    display: block;
    padding: 15px 0;
    background-color: #26b24b;
    color: #fff;
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    border-radius: 8px;
    user-select: none;
  }
  .got-it:hover{
    background-color: #086934;
  }
  .got-it:focus{
    background-color: #086934;
  }
  .dont-show{
      color: #555555;
      text-decoration: underline;
      display: block;
      text-align: center;
  }
  div#myModal h5.modal-title {
    margin-bottom: 25px;
    font-family: sans-serif;
    color: #747678;
    font-weight: 600;
  }
  .description {
      font-family: sans-serif;
      color: #6c6d6e;
      margin-bottom: 25px;
  }
  