// global.scss
$test: thin solid red;
$bgColor: #202020;
$flatBlack: #333;
$txtColor: #fff;
$plexGreen: #38A74B;
$newGreen: #24b26b;
$plexDarkGreen: #329643;
$plexOrange: #FF5C26;
$plexGray: #797979;
$plexBlueGray: #252c33;
$grayedOut: #8f8f8f;
$err: #FF5C26;
$insetShadow: inset 1px 1px 1px 1px rgba(0,0,0,0.5);

$gray: #797979;
$darkgray: #444;
$lightgray: #f3f3f3;
$green: #26b24b;
$orange: #FF5C26;
$darkorange: #ab4324;

//mixins
@mixin noUserSelect(){
	-webkit-user-select: none;  /* Chrome all / Safari all */
	-moz-user-select: none;     /* Firefox all */
	-ms-user-select: none;      /* IE 10+ */
	user-select: none;          /* Likely future */
}

@mixin bRadius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin absolutely(){
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
}

@mixin test($color){
	border: thin solid $color;
}

@mixin b_img($link){
	background-image: url($link);
	background-repeat: no-repeat;
	background-size: cover;
}

@mixin ellipse(){
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.stylish-scrollbar{
	&::-webkit-scrollbar{
		width: 8px;
	}
	&::-webkit-scrollbar::-webkit-scrollbar-button{
		background-color: #eee;
		height: 0;
	}
	&::-webkit-scrollbar-track{
		background-color: #eee;
	}
	&::-webkit-scrollbar-thumb{
		background-color: #bebebe;
	}
}

.stylish-scrollbar-mini{
	&::-webkit-scrollbar{
		width: 5px;
	}
	&::-webkit-scrollbar::-webkit-scrollbar-button{
		background-color: #eee;
		height: 0;
	}
	&::-webkit-scrollbar-track{
		background-color: rgba(0,0,0,0.2);
	}
	&::-webkit-scrollbar-thumb{
		background-color: rgba(0,0,0,0.6);
	}
}

