// getStarted_breadcrumb.scss

.breadcrumb-container{
	background-color: $bgColor;
	color: $txtColor;
	position: relative;

	.breadcrumb-bar{
		max-width: 605px;
		margin: auto;
		background-color: $bgColor;

		.step{
			position: relative;
			padding: 10px;
			.icon{
				// background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/get_started_step_icon_sheet_2.png);
                background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/get_started_sprite_update-11-28.png);
				margin: auto;
				width: 35px;
				height: 35px;
				&.icon-1{
					background-position: -4px -36px;
				}
				&.icon-2{
					background-position: -29px -24px;
				}
				&.icon-3{
					background-position: -68px -24px;
				}
				&.icon-4{
					background-position: -104px -23px;
				}
				&.icon-5{
					background-position: -139px -23px;
				}	
				&.icon-6{
					background-position: -177px -25px;
				}	
				
			}	
			.step-num{
				color: $grayedOut;
			}
		}

		.step.active{
			.icon{
				&.icon-1{
					background-position: 6px 7px;
					background-repeat: no-repeat;
				}
				&.icon-2{
					background-position: -30px 9px;
					background-repeat: no-repeat;
				}
				&.icon-3{
					background-position: -68px 9px;
					background-repeat: no-repeat;
				}
				&.icon-4{
					background-position: -104px 9px;
					background-repeat: no-repeat;
				}
				&.icon-5{
					background-position: -139px 9px;
					background-repeat: no-repeat;
				}
				&.icon-6{
					background-position: -177px 9px;
					background-repeat: no-repeat;
				}
			}
			.step-num{
				color: $txtColor;
			}
		}

		.step.done{
			.icon{
				width: 35px;
				height: 35px;
				&.icon-1{
					background-position: -1px 36px;
					background-repeat: initial;
				}
				&.icon-2{
					background-position: -34px 36px;
					background-repeat: initial;
				}
				&.icon-3{
					background-position: -71px 36px;
					background-repeat: initial;
				}
				&.icon-4{
					background-position: -106px 36px;
					background-repeat: initial;
				}
				&.icon-5{
					background-position: -144px 36px;
					background-repeat: initial;
				}
				&.icon-6{
					background-position: -180px -59px;
					background-repeat: initial;
				}
			}
			.step-num{
				color: $txtColor;
			}
		}

	}
}

.meter-container{
	position: absolute;
	top: 0; right: 0; bottom: 0;

	.inner-container{
	    margin: auto 10px auto auto;
	    @include absolutely();
	    width: 52px;
	    height: 47px;
		& > div{
			display: inline-block;
			vertical-align: middle;
		}
		.meter{
			width: 50px;
			height: 50px;
			@include bRadius(100%);
			border: 4px solid #fff;
			@include absolutely();
			margin: auto;
		}
		.percentage{
			@include absolutely();
			margin: auto;
			font-size: 12px;
			height: 17px;
			text-align: center;
		}
	}
}

.congrats{
	padding: 28px 0 27px 10px;
}

.bimg{
	@include b_img('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/badges_sm.png');
	@include bRadius(100%);
}

.profile-badges{
	position: absolute;
	top: 0; right: 79px; bottom: 0;
	width: 65px;	

	.badge{
		width: 30px;
		height: 30px;
		@include absolutely();
		&.basic{
			margin: auto auto auto 0;
			background-position: -31px 0px;
		}
		&.premium{
			margin: auto 0 auto auto;
			background-position: -1px 0px;
		}

		.locked{
			@include absolutely();
			background-color: rgba(0,0,0,0.7);
			margin: auto;
			background-position: -57px 0px;
		}
	}


}

//small only
@media only screen and (max-width: 40em){
	.breadcrumb-container{
		width: 100%;
		display: flex;
		align-items: center;

		.step{
			// padding: 7px 0;
			padding-top: 20px;
			padding-left: 20px;
			div{
				display: inline-block;
				vertical-align: middle;
			}
			.step-num{
				padding: 0 0 0 10px;
			}
			&:not(.active), .icon-6{
				display: none;
			}
		}
	}

	.congrats{
		padding: 16px 0 15px 10px;
	}
}

// medium only

@media only screen and (min-width: 40.063em) and (max-width: 64em){
	.breadcrumb-bar{
		margin: auto auto auto 0;
		.step{
			width: 90px;
		}
	}

	.meter-container{
		.inner-container{
			margin: auto 5px auto auto;
		}
	}
}

// medium up
@media only screen and (min-width: 40.063em){
	.breadcrumb-bar{
		.step{
			float: left;
			&:last-child{
				display: none;
			}
		}
	}
}

@media only screen and (min-width: 64.063em){
	.breadcrumb-bar{
		.step{
			width: 100px;
		}
	}
}