// _portalSideNav.scss

#portal-nav-window{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 3;

	.nav-container{
		height: 100%;
		&.open{
			background-color: rgba(37, 44, 51, 0.9);
		}
		&.closed{
			background-color: $plexBlueGray;
		}
	}

	.item{
		width: 100%;
		color: $txtColor;
		cursor: pointer;
		position: relative;
		&.active{
			background-color: $plexGreen;
		}
		&:hover:not(.active){
			background-color: #404d59;
		}

		> div{
			display: inline-block;
			vertical-align: middle;
		}

		.icon{
			margin: 0 10px 0;
			width: 40px;
			height: 50px;
			background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/portal/portal_icons.png);
			background-repeat: no-repeat;
			position: relative;
			&.navtoggle{
				background-position: 10px 10px;	
			}
			&.portal{
				background-position: -65px 10px;	
			}
			&.messages{
				background-position: -27px 10px;	
			}
			&.recommendationlist{
				background-position: -101px 10px;	
			}
			&.collegesrecruityou{
				background-position: -137px 10px;	
			}
			&.collegesviewedprofile{
				background-position: -174px 10px;	
			}
			&.getTrashSchoolList{
				background-position: -208px 10px;	
			}
			&.applications{
				background-position: -456px 10px;	
			}
			&.scholarships{
				background-position: -492px 10px;
			}

			.count{
				position: absolute;
				top: 5px; right: 0;
				@include bRadius(3px);
				background-color: $plexOrange;
				font-size: 11px;
				min-width: 15px;
				height: 15px;
				line-height: 15px;
				@include noUserSelect();
			}
		}

		.name{
			font-size: 14px;
			max-width: 170px;
			@include noUserSelect();
		}

		.tip{
			font-size: 12px;
			position: absolute;
			top: 50%; left: 120px;
			transform: translate(-50%, -50%);
			background-color: $plexBlueGray;
			@include bRadius(1px);
			@include noUserSelect();
			padding: 2px 5px 2px;
			width: 95px;
			box-shadow: 2px 2px 1px 0px rgba(0,0,0,0.6);

			.pointer{
				width: 0; 
				height: 0; 
				border-top: 7px solid transparent;
				border-bottom: 7px solid transparent; 
				border-right: 7px solid $plexBlueGray;
				position: absolute;
				top: 50%; left: -3px;
				transform: translate(-50%, -50%);
			}
		}
	}
}