// _profilePercentage.scss
#svg{
    transform: rotate(180deg);

    circle{
        stroke-dashoffset: 0;
        stroke-dasharray: 495.743px;
        transition: stroke-dashoffset 1s linear;
        stroke: #fff;
        stroke-width: 5px;
    }

    #bar {
      stroke: $plexOrange;
      stroke-width: 5.85px;
    }
}

#cont {
	display: block;
    height: 60px;
    width: 60px;
    margin: auto;
    border-radius: 100%;
    position: absolute;
    top: 0;
    right: 15px;
    bottom: 0;

    &:after {
        position: absolute;
        display: block;
        height: 50px;
        width: 50px;
        right: 5px;
        top: 5px;
        content: attr(data-pct) "%";
        border-radius: 100%;
        line-height: 50px;
        font-size: 12px;
        text-align: center;
    }
}
