// _repPanel.scss

.rep-youre-messaging{
	color: $plexBlueGray;

	.bk-logo{
		background-color: #fff;
		width: 75px;
		height: 75px;
		margin: 10px auto;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.name-rank{
		padding: 0 5px;
		max-width: 100%;
		text-align: center;
		> div{
			display: inline-block;
			vertical-align: top;
			&:first-child{
				max-width: 20%;
			}
			&:last-child{
				max-width: 80%;
			}
		}
	}

	.rank{
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		padding: 3px;
		margin: 0 5px 0 0;
		background-color: $plexGreen;
		@include bRadius(3px);
		display: inline-block;
	}

	.school-name{
		font-size: 18px;	
	}

	.detailed-info{
		padding: 0 5px;
		font-size: 12px;
		margin: 10px auto;
		max-width: 300px;
	}

	.rep-dets{
		background-color: $plexBlueGray;
		color: #fff;
		font-size: 14px;
		padding: 20px 5px;
		.name, .college{
			font-size: 15px;
			font-weight: 600;
		}
		.pic{
			width: 90px;
			height: 90px;
			@include bRadius(100%);
			background-color: #eee;
			margin: 10px auto;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center center;
		}
	}

	.go-to-col-btn{
		margin: 10px 0 0;
		> a{
			color: $plexBlueGray;
			text-decoration: underline;
			font-size: 14px;
			&:hover{
				text-decoration: none;
			}
		}
		
	}
}