// _step1.scss
$maxwidth: 350px;
$txtColor: #7e7c7e;

$inviteModalSpriteSheet: 'https://s3-us-west-2.amazonaws.com/asset.plexuss.com/one_app/email-invite-sprite-r1.png';

@mixin fadeIn($time){
    animation: fadeIn $time;

    @keyframes fadeIn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }
}

@mixin fadeInUp($time){
    animation: _fadeInUp $time;

    @keyframes _fadeInUp {
        0% {
            opacity: 0;
            transform: translate3d(0, 100%, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }
}

@mixin fadeInDown($time){
    animation: _fadeInDown $time;

    @keyframes _fadeInDown {
        0% {
            opacity: 0;
            transform: translate3d(0, -100%, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }
}

@mixin fadeInLeft($time){
    animation: _fadeInRight $time;

    @keyframes _fadeInRight {
        0% {
            opacity: 0;
            transform: translate3d(100%, 0, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }   
}

@mixin fadeInRight($time){
    animation: _fadeInLeft $time;

    @keyframes _fadeInLeft {
        0% {
            opacity: 0;
            transform: translate3d(-100%, 0, 0);
        }

        100% {
            opacity: 1;
            transform: none;
        }
    }   
}

.birthday-step-container {
    .birthday-input-container {
        display: flex;
        align-items: center;
        border-radius: 5px;
        border: 1px solid #ccc;
        width: 70%;
        margin: 0 auto;
        margin-top: 3em;
        margin-bottom: 1em;

        input {
            width: 30%;
            text-align: center;
            border: 0;
            box-shadow: none;
            margin: 0;
        }

        input[name="birth_year"] {
            width: 40%;
        }
    }

    .birthday-error-message {
        @include fadeInDown(0.3s) ;
        
        text-align: center;
        margin-top: 2rem;
        display: block;
        color: red;
        font-size: 70%;
    }
}

.what-to-do-next-container{
    padding: 5rem;
    padding-top: 0;
    margin: 2.2rem auto;
    text-align: center;
    background-color: rgba(0,0,0,.4);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;

    @media only screen and (max-width: 40em) {
        padding: 0;
    }

    .do-next-header{
        @include fadeInUp(0.3s);
        color: #fff;
        font-size: 24pt;
        margin: 4rem;


        @media only screen and (max-width: 40em) {
            font-size: 16pt;
            width: 100%;
            margin: 4rem auto;
        }
    }

    .do-next-options-container{
        @include fadeInUp(0.3s);
        display: flex;
        flex-wrap: wrap;
        width: 75%;
        margin: 0 auto;

        @media only screen and (max-width: 40em){
            display: inline-block;
        }

        .do-next-option{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #fff;
            padding: 3rem;
            width: 30%;
            font-size: 12pt;
            border-radius: .5rem;
            margin: 0.5rem;
            cursor: pointer;
            font-weight: 700;
            color: #646464;
            -webkit-transition: background-color 0.3s ease-in;
            -moz-transition: background-color 0.3s ease-in;
            -o-transition: background-color 0.3s ease-in;
            -ms-transition: background-color 0.3s ease-in;
            transition: background-color 0.3s ease-in;

            &:hover{
                background-color: #2bc56d;
                color: #fff;
            }

            &.premium-option {
                color: #fff;
                background-color: #ff5c27;

                &:hover {
                    background-color: #ff794d;
                }
            }

            @media only screen and (max-width: 40em){
                width: initial;
                margin: 1em;
            }
        }        
    }

    .what-to-do-done-button {
        background-color: #2bc56d;
        color: #fff;
        padding: 1rem .5rem;
        width: 40%;
        margin: 0 auto;
        margin-top: 6rem;
        border-radius: 3px;
        font-size: 16pt;
        -webkit-transition: opacity 0.3s ease-in;
        -moz-transition: opacity 0.3s ease-in;
        -o-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
        transition: opacity 0.3s ease-in;

        cursor: pointer;

        &:hover {
            opacity: 0.9;
        }
    }
}

.full-screen-advertisement-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 10%;
    width: 80%;
    color: #d4d4d4;
    font-weight: 400;

    @media only screen and (max-width: 40em){
        display: block;
        width: 90%;
    }

    .edx-ad-container{
        .edx-logo{
            margin-bottom: 2rem;
            cursor: pointer;
        }

        .edx-description{
            width: 70%;
        }

        .learn-more-button{
            width: 8rem;
            text-align: center;
            padding: 0.5rem;
            background-color: #126f9a;
            border-radius: 5px;
            margin-top: 2rem;
            -webkit-transition: opacity 0.3s ease-in;
            -moz-transition: opacity 0.3s ease-in;
            -o-transition: opacity 0.3s ease-in;
            -ms-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;

            cursor: pointer;

            &:hover {
                opacity: 0.9;
            }

            @media only screen and (max-width: 40em){
                margin-bottom: 2.5rem;
            }
        }
    }
    .college-options{
        width: 70%;

        .college-options-header{
            margin-bottom: 1em;
            font-size: 16pt;
            font-weight: 500;
            color: #fff;
        }

        .more-button-option{
            -webkit-transition: opacity 0.3s ease-in;
            -moz-transition: opacity 0.3s ease-in;
            -o-transition: opacity 0.3s ease-in;
            -ms-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;

            cursor: pointer;
            margin-left: 4rem;
            font-size: 16pt;
            color: #fff;

            &:hover {
                opacity: 0.8;
            }
        }

        .college-option{
            margin-bottom: 1rem;
            display: flex;
            align-items: center;

            .college-option-logo{
                padding: 0.5rem;
                background-color: #fff;
                margin-right: 1rem;
                border-radius: 50%;
                -webkit-transition: opacity 0.3s ease-in;
                -moz-transition: opacity 0.3s ease-in;
                -o-transition: opacity 0.3s ease-in;
                -ms-transition: opacity 0.3s ease-in;
                transition: opacity 0.3s ease-in;

                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }

                .college-option-logo-image{
                    width: 2rem;
                    height: 2rem;
                }
            }

            .college-option-label{
                cursor: pointer;
                -webkit-transition: opacity 0.3s ease-in;
                -moz-transition: opacity 0.3s ease-in;
                -o-transition: opacity 0.3s ease-in;
                -ms-transition: opacity 0.3s ease-in;
                transition: opacity 0.3s ease-in;

                cursor: pointer;

                &:hover {
                    opacity: 0.8;
                }
            }
        }
    }

    .plexuss-loader-container {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0,0,0,.4);
        z-index: 100;

        .plexuss-logo-image {
            position: relative; 
            top: 7rem; 
            right: -3rem; 
            z-index: 1;

            @media only screen and (max-width: 40em){
                top: 5.5rem;
                right: -1.4rem;
                transform: scale(0.7);
            }
        }

        .absolute-container {
            position: absolute;
            top: 30%;
            left: 45%;
        }    
    }

    .CircularProgressbar {
        width: 50%;
        fill: #fff;
        background-color: #fff;
        border-radius: 50%;
    }

    .CircularProgressbar .CircularProgressbar-path {
        stroke: #35d8a3;
        stroke-linecap: round;
        transition: stroke-dashoffset 0.5s ease 0s;
    }

    .CircularProgressbar .CircularProgressbar-trail {
         stroke: #d6d6d6;
    }

    .CircularProgressbar .CircularProgressbar-text {
        fill: transparent;
        // font-size: 20px;
        dominant-baseline: middle;
        text-anchor: middle;
    }

    .CircularProgressbar .CircularProgressbar-background {
        fill: #d6d6d6;
    }
}

.premium-upgrade-info-container{
    width: 50%;
    margin: 2% auto;
    background-color: #333333;
    color: #fff;
    padding: 2rem;
    border-radius: 5px;
    @include fadeInUp(0.3s);

    @media only screen and (max-width: 40em){
        width: 98%;
    }

    .header-text {
        text-align: center;
        font-size: 16pt;
        font-weight: 600;
    }

    .premium-details-container {
        background-color: #222222;
        width: 60%;
        margin: 0 auto;
        padding: 1rem;
        border-radius: 5px;

        @media only screen and (max-width: 40em){
            width: auto;
        }

        .upgrade-description {
            display: flex;
            align-items: center;

            .upgrade-text {
                font-size: 11pt;
            }

            .unlock-icon {
                width: 30px;
                height: 30px;
                margin-right: 1em;
            }
        }

        .sample-colleges-container {
            margin-top: 1rem;
            
            .sample-college {
                display: flex;
                align-items: center;
                margin-left: 10%;

                .college-logo {
                    padding: .3rem;
                    background-color: #fff;
                    border-radius: 50%;
                    border: 1px solid #b2b2bc;
                    transform: scale(0.6);

                    img {
                        width: 2rem;
                        height: 2rem;
                    }
                }

                .college-label {
                    font-size: 10pt;
                }
            }
        }
        
    }

    .smaller-header-text {
        text-align: center;
        margin: 1rem;
        font-weight: 400;
        color: #f0f0f0;
    }

    .top-container {
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 1rem;

        .plexuss-logo-orange {
            background-color: #f39714;
            background: -webkit-linear-gradient(#f39714, #f5811e);
            background: -o-linear-gradient(#f39714, #f5811e);
            background: -moz-linear-gradient(#f39714, #f5811e);
            background: linear-gradient(#f39714, #f5811e);
            padding: 1rem 1.4rem;
            border-radius: 50%;

            @media only screen and (max-width: 40em){
                padding: 1.5rem 1.8rem;
            }
        }

        .back-button-chevron {
            position: absolute;
            left: 1rem;
            top: -1rem;
            font-size: 3rem;
            cursor: pointer;
            -webkit-transition: opacity 0.3s ease-in;
            -moz-transition: opacity 0.3s ease-in;
            -o-transition: opacity 0.3s ease-in;
            -ms-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;

            &:hover{
                opacity: 0.8;
            }

        }
    }

    .inquire-upgrade-button{
        background-color: #ff5c27;
        border-radius: 3px;
        color: #fff;
        padding: 1rem;
        width: 50%;
        margin: 0 auto;
        margin-top: 2rem;
        cursor: pointer;
        text-align: center;
        -webkit-transition: opacity 0.3s ease-in;
        -moz-transition: opacity 0.3s ease-in;
        -o-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
        transition: opacity 0.3s ease-in;

        @media only screen and (max-width: 40em){
            width: auto;
        }


        &:hover{
            opacity: 0.8;
        }
    }

    .back-button{
        text-align: center;
        margin: 1rem;
        cursor: pointer;

        -webkit-transition: opacity 0.3s ease-in;
        -moz-transition: opacity 0.3s ease-in;
        -o-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
        transition: opacity 0.3s ease-in;

        &:hover{
            opacity: 0.8;
        }
    }
}

.step-container{
    #_CustomModal{
        position: fixed;
        top: 0; right: 0; left: 0; bottom: 0;
        background-color: rgba(0,0,0,0.8);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;

        .closeMe{
            cursor: pointer;
            font-size: 42px;
            font-weight: 600;
            color: #797979;
            position: absolute;
            top: 10px; right: 15px;
            line-height: 30px;
        }

        .modal{
            background-color: #fff;
            max-width: 700px;
            border-radius: 3px;
            position: relative;
            @include fadeInDown(0.5s);

            .modal-head{
                font-size: 24px;
            }

            .modal-sub{
                font-size: 18px;
            }
        }

    }

    @media only screen and (max-width: 40em){
        #_CustomModal{ padding: 0; }
    }

    .get-started-redirect-modal{
        padding: 2.5rem;

        .get-started-redirect-button{
            background-color: $plexGreen;
            border-radius: 3px;
            color: #fff;
            padding: 1rem;
            width: 50%;
            margin: 0 auto;
            margin-top: 2rem;
            cursor: pointer;
            text-align: center;
            -webkit-transition: opacity 0.3s ease-in;
            -moz-transition: opacity 0.3s ease-in;
            -o-transition: opacity 0.3s ease-in;
            -ms-transition: opacity 0.3s ease-in;
            transition: opacity 0.3s ease-in;

            @media only screen and (max-width: 40em){
                width: auto;
            }


            &:hover{
                opacity: 0.8;
            }
        }
    }
}

.step_container{
	padding: 30px;
	color: $txtColor;

	.column:first-child{
        background-color: #fff;
        color: #7e7c7e;
		@include bRadius(5px);
	}

	.column{
		padding: 20px 80px 40px;
		&.g-con{
			padding: 0 0 80px 40px;
		}
	}

	.intro{
		font-size: 20px;
		font-weight: 600;
		> span{
			text-transform: capitalize;
		}
	}

	.intl-std-msg{
		padding: 30px 6px 0;
	}

	.promo-msg{	
        color: #fff;
        
		&.old-msg{
			padding: 70px 0;
			margin: auto;
			max-width: 300px;
			font-family: Architects Daughter,cursive;
			font-size: 20px;
			font-weight: 500;
		}

		&.intl-msg{
			background-color: #fff;
			padding: 20px;
			color: #202020;
			font-size: 14px;
			@include bRadius(5px);
		}

		> div:first-child{
			font-weight: 600;
			font-size: 17px;
			color: $plexOrange;
			margin: 0 0 10px;
		}
	}

	.btn{
		padding: 10px 0;
		margin: 40px 0 0;
		@include bRadius(2px);
		color: #fff;
		cursor: pointer;
		width: 50%;
		@include noUserSelect();

		.submit-form-btn{
			background-color: #2cc56e;
            padding: 20px 3rem;
		}
		&.submit-btn{
			background-color: #2cc56e;
			position: relative;
			max-width: 230px;
			&:active{
				box-shadow: $insetShadow;
			}
			&.disable{
				opacity: 0.6;
				cursor: not-allowed;
			}
			.disabled-layer{
				@include absolutely();
			}
		}
        &.orange-button{
            background-color: #ff5c28;
        }
		&.back-btn{
			text-decoration: underline;
			a{
				// color: $txtColor;
                color: #91e0b3;
			}
			&:hover{
				text-decoration: none;
			}
		}
	}

	.err{
		color: #202020;
		font-weight: 600;
		div{
			line-height: 14px;
		}
	}	

	label.no-exams{
		// color: #fff;
        color: #7e7c7e;
	}

	input[type="checkbox"]+label, input[type="radio"]+label{
		vertical-align: text-bottom;
		// color: #fff;
        color: #7e7c7e;
		font-size: 12px;
	}	

	input[type="radio"]+label[htmlFor="idk_gpa"]{
		font-size: 14px;
	}

    #_CustomModal{
        position: fixed;
        top: 0; right: 0; left: 0; bottom: 0;
        background-color: rgba(0,0,0,0.8);
        padding: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 1000;

        .closeMe{
            cursor: pointer;
            font-size: 42px;
            font-weight: 600;
            color: #797979;
            position: absolute;
            top: 10px; right: 15px;
            line-height: 30px;
        }

        .modal{
            background-color: #fff;
            max-width: 700px;
            border-radius: 3px;
            position: relative;
            @include fadeInDown(0.5s);

            .modal-head{
                font-size: 24px;
            }

            .modal-sub{
                font-size: 18px;
            }
        }

    }

    @media only screen and (max-width: 40em){
        #_CustomModal{ padding: 0; }
    }

    .initial-invite-modal{
        display: flex;
        flex-direction: column;
        background-color: #fff;
        align-items: center;
        align-self: center;
        color: #919191;
        padding: 2.5em 5em;
        max-width: 1000px !important;
        max-height: 768px;
        overflow: auto;

        @media only screen and (max-width: 40em){
            transform: scale(0.7);
        }


        .header-text{
            color: #797979;
            font-weight: 600;
            font-size: 20pt;
            text-align: left;
        }

        .closeMe{
            position: absolute;
            left: 0.5em;
            color: #FBF9FB;
        }

        .email-provider-container{
            .header-text{
                text-align: center;
                width: 80%;
                margin: 0 auto;

                @media only screen and (max-width: 40em){
                    font-size: 14pt;
                    margin-bottom: 2em;
                }
            }

            .secondary-header-text{
                margin-top: 1em;
                font-size: 16pt;
                font-weight: 600;
            }

            .smaller-header-text{
                margin-top: 1em;
            }

            .email-provider-selection-container{
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 1em;
                margin-left: -3em;

                @media only screen and (max-width: 40em){
                    transform: scale(0.7);
                }

                .email-provider-selection{
                    font-size: 16pt;
                    padding-top: 0.5em;
                    padding-left: 0.6em;
                    padding-right: 0.2em;
                    border-radius: 5px;
                    margin-left: 2em;
                    cursor: pointer;

                    &:hover:not(.active){
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }

                    &.Yahoo{ // a bit smaller than other provider images.
                        padding-left: 0.2em;
                    }

                    &.active{
                        background-color: #eee;
                    }

                    .provider-image{
                        width: 120px;
                        height: 100px;

                        &.Google{
                            background: url($inviteModalSpriteSheet) 0 99px;

                            &.active{
                                background: url($inviteModalSpriteSheet) 0 -5px;
                            }
                        }

                        &.Microsoft{
                            background: url($inviteModalSpriteSheet) -140px 99px;

                            &.active{
                                background: url($inviteModalSpriteSheet) -140px -5px;
                            }
                        }

                        &.Yahoo{
                            background: url($inviteModalSpriteSheet) -275px 99px;

                            &.active{
                                background: url($inviteModalSpriteSheet) -275px -5px;
                            }
                        }
                    }
                }
                
            }
            .action-buttons-container{
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 2em;
                width: 80%;
                margin: 0 auto;
                margin-top: 2em;
                align-items: center;

                .email-selection-next-button{
                    background-color: #2bc56d;
                    cursor: pointer;
                    width: 8em;
                    text-align: center;
                    border-radius: 3px;
                    font-size: 14pt;
                    color: #fff;
                    padding: 0.5em 1em;
                    
                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }

                .email-selection-skip-button{
                    cursor: pointer;
                    font-size: 12pt;
                    color: #cccccc;

                    &:hover{
                        opacity: 0.8;
                        cursor: pointer;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }
            }
        }

        .email-list-container{
            margin-top: 2em;
            max-height: 26em;
            overflow: auto;

            .email-entry{
                display: flex;
                width: 97%; // Give some room for the scrollbar
                align-items: center;
                justify-content: space-between;
                border-bottom: 1px solid #e6e6e6;

                .name-text{
                    padding-top: 1em;
                    font-weight: bold;
                    color: #333333;
                    font-size: 14pt;
                }

                .email-text{
                    color: #b1b1b1;
                    font-size: 13pt;
                    padding-bottom: 1em;

                }

                .active-email-entry{
                    position: relative;
                    cursor: pointer;
                    align-items: center;
                    background-color: #00cd82;
                    border-radius: 50%;
                    height: 4em;
                    width: 4em;
                    text-align: center;
                    line-height: 4em;
                    color: #fff;

                    .select-email-entry-icon{
                        font-size: 18pt;

                        &.checkmark{
                            position: absolute;
                            width: 35px;
                            height: 35px;
                            background: url($inviteModalSpriteSheet) -415px -39px;
                            margin: auto;
                            top: 0;
                            left: 0;
                            bottom: 0;
                            right: 0;
                        }
                    }
                }

                .inactive-email-entry{
                    cursor: pointer;
                    align-items: center;
                    background-color: #f8f8f8;
                    border-radius: 50%;
                    height: 4em;
                    width: 4em;
                    text-align: center;
                    line-height: 4em;
                    color: #000;

                    .select-email-entry-icon{
                        font-weight: bold;
                        font-size: 24pt;
                    }
                }
            }
        }

        .invitation-select-container{
            .header-container{
                display: flex;
                align-items: center;

                .back-button{
                    position: absolute;
                    left: 1em;
                    text-decoration: underline;
                    cursor: pointer;
                    color: #8c8c8c;
                    font-size: 12pt;

                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }
            }

            .contact-search-filter {
                display: flex;
                justify-content: space-between;
                width: 95%;
                padding: 0.5rem;
                margin-top: 1rem;
                border-bottom: 1px solid #e6e6e6;

                input {
                    width: 100%;
                    border: 0;
                    font-size: 14pt;
                }

                img {
                    width: 35px;
                    height: 35px;
                    opacity: 0.3;
                }
            }

            .back-to-select-button{
                cursor: pointer;
                text-decoration: underline;
                
                &:hover{
                    opacity: 0.8;
                    transition: opacity 0.5s ease-out;
                    -moz-transition: opacity 0.5s ease-out;
                    -webkit-transition: opacity 0.5s ease-out;
                    -o-transition: opacity 0.5s ease-out;
                }
            }

            .buttons-container{
                display: flex;
                flex-direction: row;
                width: 100%;
                margin-top: 2em;
                justify-content: space-between;

                .unselect-all-button{
                    cursor: pointer;
                    background-color: #9f9f9f;
                    border-radius: 3px;
                    font-size: 14pt;
                    color: #fff;
                    padding: 0.5em 1em;

                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }

                .select-all-button{
                    cursor: pointer;
                    background-color: #2bc56d;
                    border-radius: 3px;
                    font-size: 14pt;
                    color: #fff;
                    padding: 0.5em 1em;

                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }
                .right-side-buttons{
                    display: flex;
                    flex-direction: row;
                    width: 18em;
                    justify-content: space-between;
                    align-items: center;

                    .skip-button{
                        cursor: pointer;
                        font-size: 12pt;
                        color: #cccccc;

                        &:hover{
                            opacity: 0.8;
                            transition: opacity 0.5s ease-out;
                            -moz-transition: opacity 0.5s ease-out;
                            -webkit-transition: opacity 0.5s ease-out;
                            -o-transition: opacity 0.5s ease-out;
                        }
                    }

                    .submit-contacts-button{
                        cursor: pointer;
                        background-color: #2bc56d;
                        border-radius: 3px;
                        font-size: 14pt;
                        color: #fff;
                        padding: 0.5em 1em;

                        &:hover{
                            opacity: 0.8;
                            transition: opacity 0.5s ease-out;
                            -moz-transition: opacity 0.5s ease-out;
                            -webkit-transition: opacity 0.5s ease-out;
                            -o-transition: opacity 0.5s ease-out;
                        }
                    }    
                }
                
            }
        }

        .emails-sent-container{
            .plexuss-logo-icon{
                display: block;
                margin: 0 auto;
            }

            .first-header-text{
                margin-top: 0.5em;
                text-align: center;
                font-size: 22pt;
                font-weight: 300;
            }

            .second-header-text{
                text-align: center;
                font-size: 16pt;
                font-weight: 300;
                margin: 0 auto;
                margin-top: 0.5em;
                width: 80%;
            }

            .action-buttons-container{
                display: flex;
                justify-content: space-around;
                margin: 0 auto;
                width: 70%;
                margin-top: 2em;

                .try-another-email-button{
                    cursor: pointer;
                    background-color: #9f9f9f;
                    border-radius: 3px;
                    font-size: 14pt;
                    color: #fff;
                    padding: 0.5em 1em;

                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }

                .done-for-now-button{
                    cursor: pointer;
                    background-color: #2bc56d;
                    border-radius: 3px;
                    font-size: 14pt;
                    color: #fff;
                    padding: 0.5em 1em;

                    &:hover{
                        opacity: 0.8;
                        transition: opacity 0.5s ease-out;
                        -moz-transition: opacity 0.5s ease-out;
                        -webkit-transition: opacity 0.5s ease-out;
                        -o-transition: opacity 0.5s ease-out;
                    }
                }
            }
            
        }
    }
}

.row.gpa_page{
	max-width: 80em;
}

.gpa-conv-btn{
	position: relative;
	top: 0; right: 0;
	font-size: 12px;
	padding: 5px 0 5px 45px;

	> div:last-child{ cursor: pointer; }

	.closex{
		padding: 9px 10px;
	}

	.calc{
		position: absolute;
		top: 0; left: 0;
	}
}

.form-container{
	.f-label, .f-input{
		display: inline-block;
		vertical-align: middle;
	}

	.f-label{
		width: 155px;
		&.smllr{
			width: 65px;
		}
		&.capitalize{
			text-transform: capitalize;
		}
		label{
			color: $txtColor;
		}
	}

	&.gpa{

		.f-label:first-child{
			width: 112px;
		}
		.f-label:last-child{
			width: 10px;
		}
		.f-input{
			width: 197px;
		}
		input[type="number"]{
			width: 100px;
			margin: 0 0 0 95px;
			&.invalid{
				outline: 2px solid $err;
			}
		}
	}

	&.gpa-inner-wrap{
		max-width: 400px;
	}

	select:not([name="financial_contribution"]), input:not([type="checkbox"]){
		width: 190px;
		margin: 0 0 0 40px;
		font-size: 12px;
		color: $plexGray;
	}
	select{
		color: $plexGray;
	}
	select[name="financial_contribution"]{
		max-width: 250px;
	}

	.exam{
		input[type="number"], input[type="text"]{
			margin: 0;
		}
	}

	&.ckbx{
		padding: 12px 0;
		
		.f-input{
			width: 100%;
		}
		label, input[type="checkbox"]{
            color: #7e7c7e;
			display: inline-block;
			vertical-align: middle;
		}

		input[type="checkbox"]{
			margin: 0 0 0 194px;
		}
	}

	label.has-ttip > div{
		display: inline-block;
		vertical-align: middle;
		&.term_tip{
			border: 1px solid #fff;
			width: 12px;
			height: 12px;
			font-size: 8px;
			text-align: center;
			line-height: 9px;
			margin: 0 0 0 2px;
			@include bRadius(100px);
			cursor: pointer;
			position: relative;

			.term-tip-container{
				position: absolute;
				top: -100px; left: 20px;
				width: 475px;
				background-color: $flatBlack;
                color: #fff;
				z-index: 1;
				text-align: left;
				padding: 15px;
				@include bRadius(2px);

				div{
					font-size: 12px;
				}
				ul{
					li{
						font-size: 12px;
					}
				}

				.arrow{
					width: 0; 
					height: 0; 
					border-top: 10px solid transparent;
					border-bottom: 10px solid transparent;
					border-left: 10px solid $flatBlack;
					transform: rotate(180deg);
					position: absolute;
					left: -9px; top: 46%;
					z-index: 2;
				}
			}
		}
	}

	.idk-gpa{
		color: $txtColor;

		input{ margin: 0 10px 20px 0; }
	}
}

.gs-loader{
	@include absolutely();
	position: fixed;
	background-color: rgba(0,0,0,0.8);
	z-index: 5;
	svg{
		@include absolutely();
		margin: auto;
	}

	&.sm{
		position: absolute !important;
		background-color: transparent;
	}
}

.small-loader{
	position: relative;
	height: 206px;
}

.pick-loader{
	z-index: 10;
	background-color: rgba(0,0,0,0.8);
	@include absolutely();
	@include bRadius(4px);
}

.field{
	display: inline-block;
	margin: 0 5px 0 0;
	input[type="text"]{
		width: 230px;
		font-size: 12px;
		border: none;
	}
	input[name="major"]{
		padding-right: 30px;
		width: 240px;
	}
	select{
		width: 150px;
		font-size: 12px;
		border: none;
		option{
			color: $bgColor;
		}
		option:first-child{
			color: $plexGray;
		}
	}
}

.study-label{
    color: #9a989a;
    font-weight: 600;

}

.study-rightCol{
	padding: 0 0 0 20px;
}

.study-err{
	color: firebrick;
	font-size: 11px;
	margin: -17px 0 10px;
	padding: 5px;
	border: 1px solid #d90000;
	background-color: #fff;
}

.study-warning{
	color: #d90000;
	font-weight: 600;
	font-size: 11px;
	padding: 5px;
	border: 1px solid #d90000;
	background-color: #fff;
}

.country-name, .country-remove{
	display: inline-block;
	vertical-align: middle;
}

.country-remove{
	font-size: 12px;
}

.row-3{
	.field:nth-child(2){
		display: inline-block;
		border: thin solid #fff;
	    width: 15px;
	    text-align: center;
	    border-radius: 100%;
	    font-size: 9px;
	    vertical-align: middle;
	    line-height: 12px;
	    position: relative;
	    span{
		    color: #fff;
		    border: none;
		    cursor: pointer;
	    }
	}

	.tip-container{
		position: absolute;
		top: 23px; left: -30px;
		width: 200px;
		background-color: $flatBlack;
		color: #fff;
		z-index: 1;
		text-align: left;
		padding: 15px;
		font-size: 12px;
		@include bRadius(2px);
		
		> div:first-child{
			font-size: 14px;
			margin: 0 0 10px 0;
		}

		> div:nth-child(2){
			font-size: 11px;
		}

		.arrow{
			width: 0; 
			height: 0; 
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-left: 10px solid $flatBlack;
			transform: rotate(270deg);
			position: absolute;
			left: 31px; top: -14px;
			z-index: 2;
		}
	}

	.school-tip{
		position: relative;
	    border: 1px solid #fff;
	    display: inline-block;
	    color: #fff;
	    width: 13px;
	    height: 13px;
	    border-radius: 100%;
	    vertical-align: middle;
	    text-align: center;
	    line-height: 11px;
	    font-size: 10px;
	}
}

.has-results{
	position: relative;
	.results-container{
		position: absolute;
		top: 37px; right: 0; left: 0;
		max-height: 200px;
		background-color: #fff;
		z-index: 1;
		overflow-y: auto;
		box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.5);
		width: 100%;

		.popular, .all{
			font-size: 12px;
			padding: 5px 5px 0 0;
			color: $plexGreen;
		}

		.all{
			color: $plexGray;
			padding: 5px 5px 10px;
			.line{
				border-top: 1px dotted $plexGray;
				margin: -10px 20px 0 26px;
			}
		}

		.result{
			color: $plexGray;
			font-size: 12px;
			font-weight: 600;
			padding: 3px 7px;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			cursor: pointer;
			&:hover{
				background-color: #eee;
			}	
			&:active{
				background-color: #ddd;
			}
			&.highlighted{
				background-color: #eee;
				border-left: 4px solid $plexGray;
			}

			.majorName{
				display: inline-block;
				vertical-align: middle;
			}

			.add{
				display: inline-block;
				vertical-align: middle;
				width: 18px;
				height: 18px;
				@include bRadius(100%);
				background-color: $plexGreen;
				font-size: 19px;
				font-weight: 600;
				text-align: center;
				color: #fff;
				line-height: 18px;
				margin: 0 5px 0 0;
				padding: 0 0 0 1px;
			}		
		}	

		.no-results{
			color: $plexGray;
			text-align: center;
			font-size: 12px;
		}
	}
}

.clear-input{
	position: absolute;
	top: 0; right: 0;
	width: 30px;
	height: 38px;
	padding: 5px 0;
	color: $plexGray;
	font-weight: 600;
	cursor: pointer;
}

.tags{
	.tag{
		background-color: $plexGray;
		margin: 0 5px 5px 0;
		@include bRadius(1px);
		font-size: 14px;
		font-weight: 600;
		padding: 0 25px 2px 5px;
		box-shadow: 1px 1px 1px 0px rgb/a(0,0,0,0.3);
		position: relative;
        color: #fff;

		.remove{
			position: absolute;
			top: 0; right: 0; bottom: 0;
			width: 25px;
			cursor: pointer;
			text-align: center;
			div{
				@include absolutely();
				margin: auto;
				width: 16px;
				height: 16px;
				font-size: 13px;
				text-align: center;
				line-height: 15px;
				div{
					color: $plexGray;
					background-color: #fff;
					@include bRadius(100%);
					&:hover{
						color: $txtColor;
						background-color: transparent;
					}
				}
			}
		}
		
	}
}

.has-chkbx{
	div, label.needFunding{
		display: inline-block;
		vertical-align: middle;
	}

	div{
		width: 6%;
		input[type="checkbox"]{
			margin: 0;
		}
	}
	label.needFunding{
		width: 94%;
		color: $txtColor;
	}
}

.exam-options{
	margin: 0 0 20px 0;
	.exam-btn{
		background-color: $txtColor;
		color: $plexGreen;
		font-size: 11px;
		font-weight: 600;
		@include bRadius(5px);
		margin: 0 5px 5px 0;
		padding: 4px 10px;
		border: 1px solid $plexGreen;
		cursor: pointer;
		@include noUserSelect();
		&.active{
			background-color: $plexDarkGreen;
			color: $txtColor;
		}
		span{
			margin: 0 0 0 5px;
		}
		&.invalid{
			outline: 2px solid $err;
		}
	}
}

.exam{
	input[type="checkbox"]{
		&.invalid{
			outline: 2px solid $err;
		}
	}
	.exam-field{
		margin: 0 10px 5px 0;
		label{
			color: $txtColor;
		}
		input{
			width: 85px;
			&[type="text"]{
				width: 75px * 2;
			}
			&.invalid{
				outline: 2px solid $err;
			}
		}
		&.hide{
			display: none;
		}

	}
}

.membership-title{
	padding: 20px;
	h4{
		color: $txtColor;
	}
}

.membership-option{
	margin-bottom: 50px;
	color: $txtColor;

	.medium-8{
		border: 3px solid $txtColor;
		@include bRadius(5px);
		padding: 20px;
	}

	.membership-icon{
		height: 180px;
		width: 180px;
		margin: 10px auto;
		&.bBadge{
			@include b_img('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/badges.png');
		}
		&.basic{
			background-position: -188px 0px;
		}
		&.premium{
			background-position: -1px 0px;
		}
	}

	.watch-link a{
		color: $txtColor;
		text-decoration: underline;
	}

	.upgrade-btn{
		display: inline-block;
		margin: 20px 0 0;
		width: 200px;
		padding: 10px 0;
	    font-size: 20px;
	    font-weight: 100;
	    color: $txtColor;
	    background-color: $plexOrange;
	    cursor: pointer;
	    @include bRadius(2px);
	    &:active{
			box-shadow: $insetShadow;
		}
	}

	.details{
		color: $txtColor;
		span{
			margin: 0 5px 0 0;
		}

		> div{
			display: inline-block;
			&:nth-child(2){
				margin: 0 3px 0 0;
			}
		}

		.check{
			color: $plexOrange;
			margin: 0 5px 0 0;
		}

		.has-ttip{
			> div{
				display: inline-block;
				vertical-align: middle;	
			}

			.tip{
				border: 1px solid #fff;
				width: 12px;
				height: 12px;
				font-size: 8px;
				text-align: center;
				line-height: 10px;
				margin: 0;
				@include bRadius(100px);
				cursor: pointer;
				position: relative;

				.tip-container{
					position: absolute;
					top: -235px; left: -370px;
					width: 695px;
					background-color: $flatBlack;
					color: #fff;
					z-index: 1;
					text-align: left;
					padding: 15px;
					font-size: 12px;
					@include bRadius(2px);

					.arrow{
						width: 0; 
						height: 0; 
						border-top: 10px solid transparent;
						border-bottom: 10px solid transparent;
						border-left: 10px solid $flatBlack;
						transform: rotate(90deg);
						position: absolute;
						left: 369px; bottom: -12px;
						z-index: 2;
					}

					.tip-img{
						height: 180px;
						margin: 5px 0 0;
						@include b_img('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/badge_tooltip_img.png');
						background-size: contain;
					}
				}
			}
		}
	}

	&.premium {
		.details span{
			color: $plexOrange;
		}
	}
}

.page-nav{
	margin: 90px 0;
	> div{
		display: inline-block;
		vertical-align: middle;
		width: 33.33333%;
		color: $txtColor;
		@include noUserSelect();
		a{
			color: $flatBlack;
		}
		&:first-child, &:last-child{
			a{
				text-decoration: underline;
				&:hover{
					text-decoration: none;
				}
			}
		}
		&:nth-child(2){
			color: $txtColor;
			margin: auto;
			max-width: 200px;
			font-size: 20px;
			background-color: $plexOrange;
			cursor: pointer;
			@include bRadius(5px);
			padding: 10px 0;
			&:active{
				box-shadow: $insetShadow;
			}
		}
	}
}

.carousel-container{
	color: $txtColor;
}

.step6-head > .row:first-child{
	.column:first-child{
		padding: 20px;
		h3{
			color: $txtColor;
		}
	}
	.column:last-child{
		color: $txtColor;
	}
}

.step6-head > .row:nth-child(2){
	> .column.small-12:last-child{
		height: 272px;
	}
}
	
.gs-carousel{
	padding: 0 40px;
	margin: 0;
	position: relative;
	.item{
		padding: 20px 0 10px;
		background-color: $txtColor;
		@include bRadius(1px);
		box-shadow: 2px 3px 3px 0px rgba(0,0,0,0.3);
		margin: 5px 0;
		&:active{
			box-shadow: none;
		}
		.plus{
			width: 24px;
			height: 24px;
			font-weight: 600;
			font-size: 27px;
			line-height: 24px;
			margin: 6px auto;
			@include bRadius(100%);
			color: $txtColor;
			background-color: $plexGreen;
			cursor: pointer;
		}
		.check{
			color: $plexGreen;
			font-weight: 600;
			font-size: 24px;
		}
	}

	.logo{
		width: 75px;
		height: 75px;
		margin: 0 auto;
		background-position: center center;
		background-size: 90% 90%;
		background-repeat: no-repeat;
	}
	.name{
		color: $plexGray;
		font-weight: 600;
		font-size: 14px;
		padding: 10px 12px;
		height: 55px;
	}
	.arrow-container{
		position: absolute;
		top: 0; bottom:0;
		width: 33px;
		&:first-child{
			left: 0;
		}
		&:last-child{
			right: 0;
		}

		.arrow{
			width: 0; 
			height: 0; 
			border-top: 30px solid transparent;
			border-bottom: 30px solid transparent;
			border-left: 30px solid $txtColor;
			@include absolutely();
			margin: auto;
			cursor: pointer;
			&.shadow{
				border-top: 27px solid transparent;
				border-bottom: 27px solid transparent;
				border-left: 27px solid rgba(0,0,0,0.3);
				z-index: -1;
				top: 14px;
				left: 6px;
			}
		}
		&:active{
				.shadow{
					visibility: hidden;
				}
			}
		&.a-left{
			transform: rotate(180deg);
		}
	}
}

.carousel-name{
	padding: 20px 40px;
	&.w-options {
		> div{
			display: inline-block;
			vertical-align: middle;
			&:first-child{
				width: 30%;
			}
			&:last-child{
				width: 70%;
			}	
		}
	}

	.o-btn{
		width: 115px;
		background-color: $txtColor;
		color: $plexGreen;
		font-size: 12px;
		@include bRadius(5px);
		margin: 0 0 0 10px;
		text-align: center;
		cursor: pointer;
		font-weight: 500;
		padding: 4px 0;
		@include noUserSelect();
		&:active{
			box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.6);
		}
		&.active{
			background-color: #2d863c;
			color: $txtColor;
		}
	}
}

.grade-conversion{
	label{
		color: $txtColor;
	}

	select{
		max-width: 250px;
		margin: 0 0 10px;
	}

	.country{
		font-weight: 600;
		font-size: 20px;
		margin: 0 0 10px 0;
	}

	.conversions-container{
		max-height: 290px;
		overflow-x: auto;
	}
	
	.conversions{
		> div{
			display: inline-block;
			vertical-align: top;
			&:nth-child(2){
				width: 50%;
			}
			&:not(:nth-child(2)){
				width: 25%
			}
			&:last-child{
				text-align: center;
			}
		}
	}

	> div:first-child{
		font-size: 22px;
		margin: 0 0 5px 0;
	}
}

.err-msg{
	color: $err;
	font-weight: bold;
}

.plan-selection-title{
	font-size: 28px;
	padding: 30px 0;
	color: $txtColor;
}

#_getstarted_premium_plans{
	text-align: center;

	> div{ display: inline-block; }

	.plan{
		background-color: #fff;
		display: inline-block;
		vertical-align: bottom;
		max-width: $maxwidth;
		color: $plexGray;
		box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.4);

		b{ color: #000; }

		&:not(:last-child){ 
			margin: 0 20px 0 0; }

		.name{
			background-color: $darkgray;
			color: #fff;
			font-size: 22px;
			padding: 5px 0;
			font-weight: 200;
		}

		.price{
			text-align: center;
			margin: 10px 0;

			.amt{
				font-size: 47px;
				font-weight: 600;
				color: #000;
				position: relative;
				display: inline-block;
			}
			
			.dollar, .wp{
				position: absolute;
				color: $gray;
			}

			.dollar{
				top: 12px; right: 100%;
				width: 15px;
				font-size: 18px;
			}

			.wp{
				bottom: 12px; left: 100%;
				width: 70px;
				font-size: 11px;
			}
		}

		.feature{ 
			padding: 0 30px;
			text-align: left;
			font-size: 14px;
			margin: 0 0 25px; }

		.savings{ 
			text-align: right;
			color: $green; 
			font-size: 12px;

			&.total{ 
				font-size: 14px;
				margin: 15px 0;
				text-align: center; }
		}

		a.choose{
			display: inline-block;
			color: #fff;
			background-color: $orange;
			@include bRadius(10px);
			padding: 10px 40px;
			font-size: 24px;
			font-weight: 100;
			transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);				

			&:active{ box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4); }
			&:hover{ background-color: $darkorange; }
		}

		&.Basic{
			.name{ margin: 0 0 40px; }
			a.choose{ margin: 30px 0 52px; }
			.feature{
				margin: 0 0 10px;
			}
		}

		&.Premium.Plus{
			max-width: 370px;
			.feature{ margin: 0 0 45px; }
		}
	}
}

//step 6? styling
.phone-container{
	max-width: 800px;
	label{
        color: #9a989a;
	}

	.phone-title{
        color: #9a989a;
		padding: 0 6px 20px;
	}

	.phone-back{
        margin-top: 1rem;
		padding: 12px 6px 0;
		> a{
			// color: #fff;
            color: #91e0b3;
			text-decoration: underline;
		}
	}

	.phone-submit{
        margin-top: 1rem;
		background-color: #2cc56e;
	    font-size: 20px;
	    padding: 15px 60px;
	    &.text-submit{
	    	margin: 40px 0 10px;
	    	width: 100%;
	    }
	    &:hover{
	    	// background-color: $plexOrange;
	    }
	}

	.text-container{
		margin: 0 0 15px;	
	}

	.cursor{
		cursor: pointer;
	}

	.text-check{
	    display: inline-block;
	    vertical-align: middle;
	    width: 5%;
	}

	.text-title{
		font-size: 30px;
	}

	.text-phone{
		font-size: 24px;
		margin: 10px 0;
	}

	.text-consent{
		vertical-align: middle !important;
	    display: inline-block;
	    width: 95%;
	    margin: 0;
	    padding: 0;
	    a {
	    	color: #fff;
	    	padding: 0 0 0 10px;
	    	text-decoration: underline;
	    }
	}

	.text-changenum{
		display: inline-block;
		font-size: 12px;
		&.change{
			margin: 0 0 10px;
		}
	}

	.text-options{
		max-width: 255px;
		margin: auto;
		input[type="text"]{
			width: 50%;
		    margin: 10px auto;
		    border-radius: 3px;
		    text-align: center;
		}
	}

	.dialing-codes-btn{
		position: absolute;
		top: 0; left: 6px;
		color: $plexGray;
		width: 55px;
		height: 37px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		font-size: 14px;

		&.editing{
			left: 0;
		}
	}

	.dialing-codes-container{
		position: absolute;
		top: 36px; left: 6px; right: 6px;
		max-height: 200px;
		overflow-y: auto;
		color: $plexGray;
		background-color: #fff;
		z-index: 1;
		border: 1px solid $plexGray;

		.codes{
			cursor: pointer;
			padding: 0 0 3px 15px;

			&:hover{
				background-color: #eee;
			}

			.country-name{
				display: inline-block;
				font-size: 14px;
				margin: 0 0 0 5px;
			}
		}

		&.editing{
			left: 1px; right: 1px;
			text-align: left;
		}
	}

	.arrow{
		width: 0; 
		height: 0; 
		border-top: 5px solid transparent;
		border-bottom: 5px solid transparent;
		border-left: 5px solid $plexGray;
		transform: rotate(90deg);
		margin: 0 0 0 4px;
	}

	.phone-num{
		padding: 8px 8px 8px 60px;
	}

	.phone-editor-container{
		max-width: 300px;
		margin: auto;
		position: relative;
		padding: 0 6px;
	}

	.err{
		text-transform: capitalize;		
	}

	.new-phone-success{
		color: $flatBlack;
	}

	.save-edited-phone{
		background-color: $plexOrange;
		padding: 9px 14px 10px;
	}
}

.suggested-countries-container {
    padding-left: 4rem;
}

.suggested{
	> div{
		display: inline-block;
		vertical-align: middle;
		cursor: pointer;
	}

	.add{
		width: 20px;
		height: 20px;
		@include bRadius(100%);
		background-color: #fff;
		color: #24b26b;
		font-weight: 600;
		font-size: 20px;
		line-height: 20px;
		margin: 0 5px 0 0;
		text-align: center;
		padding: 0 0 0 1px;
	}

	.name{
        color: #828082;
        font-weight: 600;
	}
}

.skip-modal{
	position: fixed;
	top: 0; right: 0; bottom: 0; left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;

	.skip-container{
		max-width: 400px;
		background-color: #fff;
		@include bRadius(5px);
		padding: 20px;
	}

	.close{
		color: $plexGray;
		font-weight: 600;
		font-size: 16px;
		cursor: pointer;
	}

	.title{
		color: $plexGray;
		font-size: 14px;
		margin: 5px 0 20px;
	}

	.skip-btn{
		padding: 10px 60px;
		background-color: $plexOrange;
		font-size: 20px;
	}
}

.reco-container{
	margin-top: 50px;
	color: #fff;
	max-width: 65em;

	h3{
		color: #fff;
		font-family: 'Open Sans', sans-serif;
	}

	.add-dir{
		border-top: 2px solid #fff;
		margin: 10px 0 30px;
		padding: 15px 0 0;
		font-size: 18px;
		font-weight: 400;
		font-family: 'Open Sans', sans-serif;
	}

	.skip-dir{
		font-size: 14px;
		font-weight: 100;
		font-family: 'Open Sans', sans-serif;
	}
}

.no-more-schools{
	background-color: #fff;
	color: $plexGray;
	@include bRadius(5px);
	max-width: 245px;
	margin: auto;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	position: relative;
	padding: 30px 0 60px;
	font-family: 'Open Sans', sans-serif;
	height: 318px;

	> div.no-msg{
		position: absolute;
	    top: 40%;
	    right: 0;
	    left: 0;
	    margin: auto;
	    background: #eee;
	    padding: 10px;
	}
}

.sponsored-notice-text{
    font-size: 9pt;
    margin-top: 0.5rem;
}

.reco-card{
	background-color: #fff;
	color: $plexGray;
	@include bRadius(5px);
	max-width: 245px;
	margin: auto;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);
	position: relative;

	.bgimg{
		// width: 90px;
		height: 90px;
		margin: 0 auto 10px;
	    background-position: center center;
	    background-size: contain;
	    background-repeat: no-repeat;
	}

	.data-container{
		padding: 30px 0 60px;
		@include bRadius(5px 5px 0 0);
		position: relative;


        &.ad-redirect{
            padding: 0 0 60px;
            padding-top: 30px;
            padding-bottom: 40px;
        }

        .online-notice-text{
            font-size: 14px;
            font-weight: 400;
            color: #63c6ff;
        }
	}

	.stats-container{
		@include absolutely();
		font-family: 'Open Sans', sans-serif;

		.title{
			color: #fff;
			font-weight: 100;
			padding: 10px 0;
		}

		.layer{
			@include absolutely();
			@include bRadius(5px 5px 0 0);
			z-index: 2;
		}

		.info{
			@include absolutely();
			@include bRadius(4px 4px 0 0);
			z-index: 1;
			background-color: rgba(0,0,0,0.85);
		}

		.bg{
			@include absolutely();
			@include bRadius(5px 5px 0 0);
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: 0;
		}

		.labl, .stat{
			padding: 4px 5px 4px 15px;
		}

		.labl{
			background-color: #000;
			color: #fff;
			font-weight: 600;
			font-size: 13px;
		}

		.stat{
			font-weight: 600;
			color: $newGreen;
			font-size: 15px;
			@include ellipse();
		}
	}

	.name{
		font-size: 16px;
		font-weight: 600;
		height: 53px;
		padding: 0 5px;
	}

	.location{
		font-size: 14px;
		font-weight: 400;
	}

	.category{
		font-size: 13px;
		font-weight: 100;
	}

	.action-btns > div{
		width: 50%;
		color: #fff;
		padding: 15px 0;
		cursor: pointer;	
		font-family: 'Open Sans', sans-serif;
		@include noUserSelect();
	}

	.action-btns > .add{
		background-color: $newGreen;
		@include bRadius(0 0 0 5px);

		&:active{
			box-shadow: inset -1px 1px 1px 1px rgba(0, 0, 0, 0.4);
		}
	}

	.action-btns > .skip{
		background-color: #ddd;
		@include bRadius(0 0 5px 0);

		&:active{
			box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
		}
	}

    .action-btns > .learn-more-button{
        background-color: #00a2ff;
        width: 50%;
        @include bRadius(0 0 0px 5px);

        &:active{
            box-shadow: inset 1px 1px 1px 1px rgba(0, 0, 0, 0.4);
        }  
    }
}

.list-container{
	margin: 50px auto 20px;
	max-width: 65em;

	> div.medium-3{
		padding: 35px 10px 0 0;
		font-size: 20px;
		font-family: 'Open Sans', sans-serif;
		color: #fff;
	}
}

.save-container{
	margin: 0 auto 50px;
	max-width: 65em;

	.save{
		background-color: $newGreen;
		outline-color: transparent;
		padding: 10px 50px;
		font-size: 22px;
		font-family: 'Open Sans', sans-serif;

		&:active{
			background-color: $newGreen;
			box-shadow: inset 1px 1px 1px 1px rgba(0,0,0,0.4);
		}

		&:hover, &:focus{
			background-color: $newGreen;
		}
	}
}

.pick-container{
	color: $plexGray;
	display: inline-block;
	vertical-align: middle;
	width: 100px;
	height: 90px;
	background: #fff;
	@include bRadius(5px);
	position: relative;
	// background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/getstarted_step_bg.jpg);
	// background-size: contain;
	// background-repeat: no-repeat;
	// background-position: center;
	margin: 0 10px 10px 0;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.5);

	div.bg-img{
		width: 50px;
		height: 50px;
		margin: auto;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
	}

	.modal{
		position: fixed;
		top: 0; right: 0; bottom: 0; left: 0;
		background-color: rgba(0,0,0,0.8);

		.wrapper{
			@include bRadius(5px);
			color: $plexGray;
			background-color: #fff;
			padding: 30px 0 0;
			max-width: 365px;
			height: 150px;
			@include absolutely();
			margin: auto;

			> div:first-child{
				font-weight: 600;
				font-size: 18px;
				margin: 0 0 20px;
			}

			> div:last-child > div{
				display: inline-block;
				vertical-align: middle;
				cursor: pointer;
			}

			.remove-confirm{
				@include bRadius(3px);
				background-color: $plexGray;
				color: #fff;
				padding: 5px 30px;
				margin: 0 20px 0 0;
			}

			.cancel-confirm{
				color: $plexGray;
				text-decoration: underline;
			}
		}
	}

	.img-container{
		position: relative;
		text-align: center;

		.tip{
			position: absolute;
			top: 100%; right: -20px; left: -20px;
			color: #fff;
			font-size: 12px;
			background-color: $flatBlack;
			@include bRadius(3px);
			padding: 5px;
			z-index: 2;

			.arrow{
				width: 0; 
				height: 0; 
				border-top: 5px solid transparent;
				border-bottom: 5px solid transparent;
				border-left: 5px solid $flatBlack;
				transform: rotate(270deg);
				position: absolute;
				left: 0; right: 0; bottom: 93%;
				z-index: 2;
				margin: auto;
			}
		}
	}

	.remove{
		font-size: 20px;
		line-height: 20px;
		font-weight: 600;
		padding: 0 5px 0 0;
		cursor: pointer;
	}

	.logo{
		@include b_img('https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/badges.png');
		@include absolutely();
		margin: auto;
	}
}

#coveted_schedular{
	display: none; 
	max-height: 700px; 
	overflow-y: auto;
}

.coveted-header{
	padding: 40px 0;
	color: #fff;

	h3{ color: #fff; }
}

.actionBtns-row{
	padding: 40px 0;
	color: #fff;
	font-family: 'Open Sans', sans-serif;
	font-weight: 100;

	.column:first-child, .column:nth-child(2){
		div{ 
			padding: 13px 0 0; 

			u{
				cursor: pointer;
			}
		}
	}

	.next-action{
		background-color: $plexOrange;
		width: 100%;
		max-width: 250px;
		font-size: 22px;
		color: #fff;
		font-weight: 100;
		font-family: 'Open Sans', sans-serif;
		padding: 10px 0;
	}
}

.advertisement{
	@include absolutely();
	@include bRadius(3px);
	z-index: 1;
	background-color: #fff;
	overflow: auto;
}

// invalid input animations
input[type="text"], input[type="number"]{
	
	@-webkit-keyframes shakeAnimation {
		0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
		10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
		20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
		30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
		40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
		50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
		60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
		70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
		80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
		90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
		100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
	}
	&.invalid {
		-webkit-animation-name: shakeAnimation;
		-webkit-animation-duration: 0.25s;
		-webkit-transform-origin:50% 50%;
		-webkit-animation-timing-function: linear;
	}
}

select:not([name="financial_contribution"]), input:not([type="checkbox"]){
	border-radius: 5px;
}

//small only
@media only screen and (max-width: 40em){
	.step_container{
		.column{
			padding: 20px 20px 40px;
			&.g-con{
				padding: 0;
			}
		}

		.btn{
			&.submit-btn{
				margin: 30px 0 0;
				width: 100%;
				max-width: 100%;
			}

			&.back-btn{
				margin: 10px 0 0;
				width: 100%;
			}
		}
	}

	.form-container{
		.f-label, .f-input{
			display: block;
			width: 100%;
		}	

		select:not([name="financial_contribution"]), input:not([type="checkbox"]){
			margin: 0;
			width: 100%;
		}
		select[name="financial_contribution"]{
			max-width: 100%;
		}

		&.gpa{
			.f-label, .f-input{
				float: left;
				input[type="number"]{
					margin: 0;
					width: 100%;
				}
			}
			.f-label:first-child{
				width: 100%;
			}
			.f-input, .f-label:last-child{
				// width: auto;
			}
			.f-label:last-child{
				padding: 7px 5px;
			}
		}

		&.ckbx{
			input[type="checkbox"]{
				margin: 0;
			}
		}
		&.hide{
			display: none;
		}
		label.has-ttip > div{
			&.term_tip{
				.term-tip-container{
					position: absolute;
					top: 23px; left: -34px;
					width: 300px;

					.arrow{
						transform: rotate(270deg);
						position: absolute;
						left: 34px; top: -14px;
					}
				}
			}
		}
	}	

	.exam{
		.exam-field{
			input{
				width: 75px;
				&.invalid{
					outline: 2px solid $err;
				}
			}
		}
	}

	.membership-option{
		.medium-8{
			border: none;
		}

		a{
			color: $txtColor;
		}

		.details .has-ttip .tip{
			display: none;				
		}
	}

	.carousel-name{
		&.w-options {
			> div{
				&:first-child{
					width: 100%;
				}
				&:last-child{
					width: 100%;
				}	
			}
		}

		.o-btn{
			float: left !important;
			width: 100px;
			font-size: 10px;
			margin: 5px 10px 0 0;	
		}
	}		

	.reco-container{
		margin-top: 20px;

		.skip-dir{
			margin: 0 0 50px;
		}
	}

	.reco-card, .no-more-schools{
		margin: 0 auto 20px;
	}
}

//small and medium only
@media only screen and (max-width: 64em){
	.field{
		display: block;
		input[type="text"]{
			width: 100%;
		}
		select{
			width: 100%;
		}
	}

	.row-3{
		.field:first-child{
			display: inline-block;
		}
		.field:nth-child(2){
			display: inline-block;
			border: thin solid #fff;
		    width: 15px;
		    text-align: center;
		    border-radius: 100%;
		    font-size: 9px;
		    vertical-align: middle;
		    span{
			    color: #fff;
			    text-decoration: none;
		    }
		}
		.field:last-child{
			display: none;
		}
	}

	.lg-only{
		display: none;
	}	
}

//medium only
@media only screen and (min-width: 40.063em) and (max-width: 64em){

	.step_container{
		.column{
			padding: 20px 20px 40px;	
		}
	}

	.form-container{
		.f-label, .f-input{
			width: 65px;
		}

		select:not([name="financial_contribution"]), input:not([type="checkbox"]){
			margin: 0 0 0 20px;
		}

		&.gpa{
			.f-input{
				width: 122px;
				input[type="number"]{
					width: 100px;
					margin: 0 0 0 20px;
					&.invalid{
						outline: 2px solid $err;
					}
				}
			}
		}

		&.ckbx{
			input[type="checkbox"]{
				margin: 0 0 0 84px;
			}
		}
	}
}

// real medium up
@media only screen and (min-width: 40.063em){
	.majors-side-view{
        position: absolute;
        top: -5rem;
        right: -3rem;
	}
}

// medium and up only <- not medium up
@media only screen and (min-width: 64.063em){
	.not-lg{
		display: none;
	}

	.phone-container{
		label{
			padding: 6px 0 0;
		}
	}	
}

//large and up
@media only screen and (min-width: 64.063em){
	.phone-container{
		.dialing-codes-container{
			&.editing{
				width: 400px;
			}
		}
	}
}

.flag {
	width: 16px;
	height: 11px;
	background:url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/icons/countryflags.png) no-repeat;
	display: inline-block;
	vertical-align: middle;
}


.flag.flag-ad {background-position: -16px 0}
.flag.flag-ae {background-position: -32px 0}
.flag.flag-af {background-position: -48px 0}
.flag.flag-ag {background-position: -64px 0}
.flag.flag-ai {background-position: -80px 0}
.flag.flag-al {background-position: -96px 0}
.flag.flag-am {background-position: -112px 0}
.flag.flag-an {background-position: -128px 0}
.flag.flag-ao {background-position: -144px 0}
.flag.flag-aq {background-position: -208px -165px}
.flag.flag-ar {background-position: -160px 0}
.flag.flag-as {background-position: -176px 0}
.flag.flag-at {background-position: -192px 0}
.flag.flag-au {background-position: -208px 0}
.flag.flag-aw {background-position: -224px 0}
.flag.flag-az {background-position: -240px 0}
.flag.flag-ba {background-position: 0 -11px}
.flag.flag-bb {background-position: -16px -11px}
.flag.flag-bd {background-position: -32px -11px}
.flag.flag-be {background-position: -48px -11px}
.flag.flag-bf {background-position: -64px -11px}
.flag.flag-bg {background-position: -80px -11px}
.flag.flag-bh {background-position: -96px -11px}
.flag.flag-bi {background-position: -112px -11px}
.flag.flag-bj {background-position: -128px -11px}
.flag.flag-bm {background-position: -144px -11px}
.flag.flag-bn {background-position: -160px -11px}
.flag.flag-bo {background-position: -176px -11px}
.flag.flag-br {background-position: -192px -11px}
.flag.flag-bs {background-position: -208px -11px}
.flag.flag-bt {background-position: -224px -11px}
.flag.flag-bv {background-position: -240px -11px}
.flag.flag-bw {background-position: 0 -22px}
.flag.flag-by {background-position: -16px -22px}
.flag.flag-bz {background-position: -32px -22px}
.flag.flag-ca {background-position: -48px -22px}
.flag.flag-catalonia {background-position: -64px -22px}
.flag.flag-cd {background-position: -80px -22px}
.flag.flag-cf {background-position: -96px -22px}
.flag.flag-cg {background-position: -112px -22px}
.flag.flag-ch {background-position: -128px -22px}
.flag.flag-ci {background-position: -144px -22px}
.flag.flag-ck {background-position: -160px -22px}
.flag.flag-cl {background-position: -176px -22px}
.flag.flag-cm {background-position: -192px -22px}
.flag.flag-cn {background-position: -208px -22px}
.flag.flag-co {background-position: -224px -22px}
.flag.flag-cr {background-position: -240px -22px}
.flag.flag-cu {background-position: 0 -33px}
.flag.flag-cv {background-position: -16px -33px}
.flag.flag-cw {background-position: -32px -33px}
.flag.flag-cx {background-position: -240px -165px}
.flag.flag-cy {background-position: -48px -33px}
.flag.flag-cz {background-position: -64px -33px}
.flag.flag-de {background-position: -80px -33px}
.flag.flag-dj {background-position: -96px -33px}
.flag.flag-dk {background-position: -112px -33px}
.flag.flag-dm {background-position: -128px -33px}
.flag.flag-do {background-position: -144px -33px}
.flag.flag-ds {background-position: -224px -165px}
.flag.flag-dz {background-position: -160px -33px}
.flag.flag-ec {background-position: -176px -33px}
.flag.flag-ee {background-position: -192px -33px}
.flag.flag-eg {background-position: -208px -33px}
.flag.flag-eh {background-position: -224px -33px}
.flag.flag-england {background-position: -240px -33px}
.flag.flag-er {background-position: 0 -44px}
.flag.flag-es {background-position: -16px -44px}
.flag.flag-et {background-position: -32px -44px}
.flag.flag-eu {background-position: -48px -44px}
.flag.flag-fi {background-position: -64px -44px}
.flag.flag-fj {background-position: -80px -44px}
.flag.flag-fk {background-position: -96px -44px}
.flag.flag-fm {background-position: -112px -44px}
.flag.flag-fo {background-position: -128px -44px}
.flag.flag-fr {background-position: -144px -44px}
.flag.flag-fx {background-position: -144px -44px}
.flag.flag-ga {background-position: -160px -44px}
.flag.flag-gb {background-position: -176px -44px}
.flag.flag-gd {background-position: -192px -44px}
.flag.flag-ge {background-position: -208px -44px}
.flag.flag-gf {background-position: -224px -44px}
.flag.flag-gg {background-position: -240px -44px}
.flag.flag-gh {background-position: 0 -55px}
.flag.flag-gi {background-position: -16px -55px}
.flag.flag-gl {background-position: -32px -55px}
.flag.flag-gm {background-position: -48px -55px}
.flag.flag-gn {background-position: -64px -55px}
.flag.flag-gp {background-position: -80px -55px}
.flag.flag-gq {background-position: -96px -55px}
.flag.flag-gr {background-position: -112px -55px}
.flag.flag-gs {background-position: -128px -55px}
.flag.flag-gt {background-position: -144px -55px}
.flag.flag-gu {background-position: -160px -55px}
.flag.flag-gw {background-position: -176px -55px}
.flag.flag-gy {background-position: -192px -55px}
.flag.flag-hk {background-position: -208px -55px}
.flag.flag-hm {background-position: -224px -55px}
.flag.flag-hn {background-position: -240px -55px}
.flag.flag-hr {background-position: 0 -66px}
.flag.flag-ht {background-position: -16px -66px}
.flag.flag-hu {background-position: -32px -66px}
.flag.flag-ic {background-position: -48px -66px}
.flag.flag-id {background-position: -64px -66px}
.flag.flag-ie {background-position: -80px -66px}
.flag.flag-il {background-position: -96px -66px}
.flag.flag-im {background-position: -112px -66px}
.flag.flag-in {background-position: -128px -66px}
.flag.flag-io {background-position: -144px -66px}
.flag.flag-iq {background-position: -160px -66px}
.flag.flag-ir {background-position: -176px -66px}
.flag.flag-is {background-position: -192px -66px}
.flag.flag-it {background-position: -208px -66px}
.flag.flag-je {background-position: -224px -66px}
.flag.flag-jm {background-position: -240px -66px}
.flag.flag-jo {background-position: 0 -77px}
.flag.flag-jp {background-position: -16px -77px}
.flag.flag-ke {background-position: -32px -77px}
.flag.flag-kg {background-position: -48px -77px}
.flag.flag-kh {background-position: -64px -77px}
.flag.flag-ki {background-position: -80px -77px}
.flag.flag-km {background-position: -96px -77px}
.flag.flag-kn {background-position: -112px -77px}
.flag.flag-kp {background-position: -128px -77px}
.flag.flag-kr {background-position: -144px -77px}
.flag.flag-kurdistan {background-position: -160px -77px}
.flag.flag-kw {background-position: -176px -77px}
.flag.flag-ky {background-position: -192px -77px}
.flag.flag-kz {background-position: -208px -77px}
.flag.flag-la {background-position: -224px -77px}
.flag.flag-lb {background-position: -240px -77px}
.flag.flag-lc {background-position: 0 -88px}
.flag.flag-li {background-position: -16px -88px}
.flag.flag-lk {background-position: -32px -88px}
.flag.flag-lr {background-position: -48px -88px}
.flag.flag-ls {background-position: -64px -88px}
.flag.flag-lt {background-position: -80px -88px}
.flag.flag-lu {background-position: -96px -88px}
.flag.flag-lv {background-position: -112px -88px}
.flag.flag-ly {background-position: -128px -88px}
.flag.flag-ma {background-position: -144px -88px}
.flag.flag-mc {background-position: -160px -88px}
.flag.flag-md {background-position: -176px -88px}
.flag.flag-me {background-position: -192px -88px}
.flag.flag-mg {background-position: -208px -88px}
.flag.flag-mh {background-position: -224px -88px}
.flag.flag-mk {background-position: -240px -88px}
.flag.flag-ml {background-position: 0 -99px}
.flag.flag-mm {background-position: -16px -99px}
.flag.flag-mn {background-position: -32px -99px}
.flag.flag-mo {background-position: -48px -99px}
.flag.flag-mp {background-position: -64px -99px}
.flag.flag-mq {background-position: -80px -99px}
.flag.flag-mr {background-position: -96px -99px}
.flag.flag-ms {background-position: -112px -99px}
.flag.flag-mt {background-position: -128px -99px}
.flag.flag-mu {background-position: -144px -99px}
.flag.flag-mv {background-position: -160px -99px}
.flag.flag-mw {background-position: -176px -99px}
.flag.flag-mx {background-position: -192px -99px}
.flag.flag-my {background-position: -208px -99px}
.flag.flag-mz {background-position: -224px -99px}
.flag.flag-na {background-position: -240px -99px}
.flag.flag-nc {background-position: 0 -110px}
.flag.flag-ne {background-position: -16px -110px}
.flag.flag-nf {background-position: -32px -110px}
.flag.flag-ng {background-position: -48px -110px}
.flag.flag-ni {background-position: -64px -110px}
.flag.flag-nl {background-position: -80px -110px}
.flag.flag-no {background-position: -96px -110px}
.flag.flag-np {background-position: -112px -110px}
.flag.flag-nr {background-position: -128px -110px}
.flag.flag-nu {background-position: -144px -110px}
.flag.flag-nz {background-position: -160px -110px}
.flag.flag-om {background-position: -176px -110px}
.flag.flag-pa {background-position: -192px -110px}
.flag.flag-pe {background-position: -208px -110px}
.flag.flag-pf {background-position: -224px -110px}
.flag.flag-pg {background-position: -240px -110px}
.flag.flag-ph {background-position: 0 -121px}
.flag.flag-pk {background-position: -16px -121px}
.flag.flag-pl {background-position: -32px -121px}
.flag.flag-pm {background-position: -48px -121px}
.flag.flag-pn {background-position: -64px -121px}
.flag.flag-pr {background-position: -80px -121px}
.flag.flag-ps {background-position: -96px -121px}
.flag.flag-pt {background-position: -112px -121px}
.flag.flag-pw {background-position: -128px -121px}
.flag.flag-py {background-position: -144px -121px}
.flag.flag-qa {background-position: -160px -121px}
.flag.flag-re {background-position: -176px -121px}
.flag.flag-ro {background-position: -192px -121px}
.flag.flag-rs {background-position: -208px -121px}
.flag.flag-ru {background-position: -224px -121px}
.flag.flag-rw {background-position: -240px -121px}
.flag.flag-sa {background-position: 0 -132px}
.flag.flag-sb {background-position: -16px -132px}
.flag.flag-sc {background-position: -32px -132px}
.flag.flag-scotland {background-position: -48px -132px}
.flag.flag-sd {background-position: -64px -132px}
.flag.flag-se {background-position: -80px -132px}
.flag.flag-sg {background-position: -96px -132px}
.flag.flag-sh {background-position: -112px -132px}
.flag.flag-si {background-position: -128px -132px}
.flag.flag-sk {background-position: -144px -132px}
.flag.flag-sl {background-position: -160px -132px}
.flag.flag-sm {background-position: -176px -132px}
.flag.flag-sn {background-position: -192px -132px}
.flag.flag-so {background-position: -208px -132px}
.flag.flag-somaliland {background-position: -224px -132px}
.flag.flag-sr {background-position: -240px -132px}
.flag.flag-ss {background-position: 0 -143px}
.flag.flag-st {background-position: -16px -143px}
.flag.flag-sv {background-position: -32px -143px}
.flag.flag-sx {background-position: -48px -143px}
.flag.flag-sy {background-position: -64px -143px}
.flag.flag-sz {background-position: -80px -143px}
.flag.flag-tc {background-position: -96px -143px}
.flag.flag-td {background-position: -112px -143px}
.flag.flag-tf {background-position: -128px -143px}
.flag.flag-tg {background-position: -144px -143px}
.flag.flag-th {background-position: -160px -143px}
.flag.flag-tj {background-position: -176px -143px}
.flag.flag-tk {background-position: -192px -143px}
.flag.flag-tl {background-position: -208px -143px}
.flag.flag-tm {background-position: -224px -143px}
.flag.flag-tn {background-position: -240px -143px}
.flag.flag-to {background-position: 0 -154px}
.flag.flag-tp {background-position: 0 -176px}
.flag.flag-tr {background-position: -16px -154px}
.flag.flag-tt {background-position: -32px -154px}
.flag.flag-tv {background-position: -48px -154px}
.flag.flag-tw {background-position: -64px -154px}
.flag.flag-ty {background-position: -32px -176px}
.flag.flag-tz {background-position: -80px -154px}
.flag.flag-ua {background-position: -96px -154px}
.flag.flag-ug {background-position: -112px -154px}
.flag.flag-um {background-position: -128px -154px}
.flag.flag-us {background-position: -144px -154px}
.flag.flag-uy {background-position: -160px -154px}
.flag.flag-uz {background-position: -176px -154px}
.flag.flag-va {background-position: -192px -154px}
.flag.flag-vc {background-position: -208px -154px}
.flag.flag-ve {background-position: -224px -154px}
.flag.flag-vg {background-position: -240px -154px}
.flag.flag-vi {background-position: 0 -165px}
.flag.flag-vn {background-position: -16px -165px}
.flag.flag-vu {background-position: -32px -165px}
.flag.flag-wales {background-position: -48px -165px}
.flag.flag-wf {background-position: -64px -165px}
.flag.flag-ws {background-position: -80px -165px}
.flag.flag-xk {background-position: -192px -165px}
.flag.flag-ye {background-position: -96px -165px}
.flag.flag-yt {background-position: -112px -165px}
.flag.flag-yu {background-position: -64px -176px}
.flag.flag-za {background-position: -128px -165px}
.flag.flag-zanzibar {background-position: -144px -165px}
.flag.flag-zm {background-position: -160px -165px}
.flag.flag-zw {background-position: -176px -165px}
.flag.flag-zr {background-position: -48px -176px}