// _studentPanel.scss

.student-youre-messaging{
	padding: 10px 0 0 20px;

	.pic{
		background-color: #fff;
		width: 125px;
		height: 125px;
		margin: 0 0 20px 0;
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center center;
	}

	.name-country{
		max-width: 100%;
		padding: 5px 0;
		> div{
			display: inline-block;
			vertical-align: middle;
			&:first-child{
				max-width: 20%;
			}
			&:last-child{
				max-width: 80%;
			}
		}
	}	

	.name{
		font-size: 20px;	
		@include ellipse();
	}

	.grade, .level{
		font-size: 18px;
		@include ellipse();
	}

	.school{
		font-size: 13px;
		padding: 5px 0 0;
		@include ellipse();
	}

	.country{
		color: #fff;
		font-size: 12px;
		font-weight: 600;
		padding: 3px;
		margin: 0 5px 0 0;
		background-color: $plexGreen;
		@include bRadius(3px);
		display: inline-block;
	}

	.grad{
		color: $plexGreen;
		font-size: 15px;
		padding: 5px 0 0;
		@include ellipse();
	}	

	.degree, .major{
		font-size: 13px;
		@include ellipse();
		padding: 5px 0 0;
	}
}