._Tooltip{
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	

	.tooltip{
		width: 13px;
	    height: 13px;
	    line-height: 10px;
	    padding: 0;
	    display: inline-block;
	    margin: 4px 1px;
	    vertical-align: middle;
	    text-align: center;
	    background: #fff;
	    font-size: 8px;
	    color: #000000;
	    font-weight: 700;
	    border: 1px solid #5c5959;
		-moz-border-radius: 100%;
		-webkit-border-radius: 100%;
		border-radius: 100%;
		z-index: 50;
	}

	.tip{
		position: absolute;
	    left: -5px;
	    top: 23px;
	    background-color: #fdfbf7;
	    -moz-border-radius: 3px;
	    -webkit-border-radius: 3px;
	    border-radius: 3px;
	    padding: 10px;
	    color: #969393;
	    box-shadow: 1px 1px 3px 0px rgba(0,0,0,.5);
	    font-size: 12px;
		min-width: 300px;
		z-index: 50;

	}

	.tiptitle{
		font-weight: 700;
		color: #797979;
		margin: 5px 0px;
	}
}