/*_breadcrumb.scss*/
@import 'global';

body{
    position: relative;
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/get_started_signup_bg.jpg);
	background-repeat: no-repeat;
    background-position: bottom center;
    background-attachment: fixed;
    background-color: $plexGreen;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    transition: background 0.5s linear;
}

body.step-7{
	background-image: url(https://s3-us-west-2.amazonaws.com/asset.plexuss.com/profile/step7_bg.jpg);
	background-size: cover;
	background-position: top;
	font-family: 'Open Sans', sans-serif;
}

.plex-top{
	background-color: $txtColor;
	padding: 5px 10px;
	img{
		width: 145px;
	}
}


.what-to-do-next-container.step_container{
    overflow: auto;
}

.configuring-account-top {
    position: relative;
    display: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #606060;
    background-color: #fff;
    padding: 1rem;

    .configuring-account-continue-button {
        display: none;
        position: absolute;
        right: 2rem;
        padding: .5rem 1rem;
        background-color: #2bc56d;
        border-radius: 3px;
        color: #fff;
        z-index: 101;
        cursor: pointer;
        
        -webkit-transition: opacity 0.3s ease-in;
        -moz-transition: opacity 0.3s ease-in;
        -o-transition: opacity 0.3s ease-in;
        -ms-transition: opacity 0.3s ease-in;
        transition: opacity 0.3s ease-in;

        &:hover {
            opacity: 0.8;
        }
    }
}


.spinLoader{
    width: 35px;
    height: 35px;
    border:  3px solid rgba(225,225,225,.1);
    border-top: 3px solid rgba(225,225,225, .8);
    animation: spin 1s infinite;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%; 
    border-radius: 100%;
    position: relative;
    margin: 100px auto;
}


@keyframes spin{
    0%{ transform: rotateZ(0deg); }
    100%{ transform: rotateZ(360deg); } 
}

@import 'gsBreadcrumb';
@import 'step';
@import 'getRecruitedModal';
@import 'profilePercentage';
@import 'tooltip';